In [3]:
import PyPDF2
a=PyPDF2.PdfFileReader(r'C:/Users/User/OneDrive/Desktop/Data_acq/PDF/BDF-Mitglvz-2022.pdf')

In [7]:
st=""
for i in range(2,39):
    st+=a.getPage(i).extract_text()

In [8]:
print(st)

 3 Firma  Anschrift  Art der Bauweise  Bauprogramm  Lieferradius
Danwood S.A.  ul. Branska 132
17-100 Bielsk Podlaski
Polen
 +48 (85) 73 000 15

Niederlassung Deutschland:
Justus -von-Liebig -Str. 7
12489 Berlin
 0 30/ 67 82 39 80
 0 30/67 82 39 89
www.danwood.de
info@danwood.de

ELK Fertighaus GmbH  Karl-Farkas -Gasse 22/Top61
A – 1030 Wien
 00 43/2853 -705
 0043/2853 -768550
www.elk -fertighaus.de
office@elk.at
Fertighaus WEISS GmbH
 Sturzbergstr. 40 -42
74420 Oberrot -Scheuerhalden
 0 79 77 / 97 77 -0
 0 79 77 / 97 77 -25
www.fertighaus -weiss.de
info@fertighaus -weiss.de   Großtafelbauweise in
Holzverbundkonstruktion
Fassade in Putz oder
Holzverschalung;
individuelle Planung  Ein- und Zweifamilienhäuser,
Doppel - und Reihenhäuser, Son-
derbauten, Aufstockungen und
Ausbauten in ein - und zweige-
schossiger Bauweise inkl. Keller-
bau, An- und Umbau, Dachauf-
stockung  Baden -Württem-
berg, Bayern,
Hessen, Rhein-
land-Pfalz, Nord-
rhein -Westfalen,
Saarland ,
Schweiz
Finger Haus GmbH  Auestr. 45
35066 Frankenberg
 0 64 51 / 50 4 -0
 0 64 51 / 50 4 -100
www.fingerhaus.de
info@fingerhaus.de   Großtafelbauweise
in Holzverbundkonstruk-
tion

 Ein- und Mehrfamilienhäuser,
Doppel - und Reihenhäuser,
Wohnanlagen, Geschäftshäuser
wie Arztpraxen, Kindergärten
etc., Gewerbe - und Objektbau,
An- und Umbau, Dachaufsto-
ckung  Bundesgebiet
ohne Inseln
Luxemburg , Ös-
terreich, Schweiz
FINGERHUT HAUS
GmbH & Co. KG  Hauptstraße 46
57520 Neunkhausen
 0 26 61 / 95 64 -0
 0 26 61 / 95 64 -64
www.fingerhuthaus.de
info@fingerhuthaus.de  Holztafelbauweise, freie
Grundrissgestaltung, mit
Schiefer - und Putzfas-
sade, auf Wunsch Ver-
klinkerung, einschl. Kel-
lergeschoss in Leichtbe-
tonfertigteilen  Ein- und Zweifamilienhäuser,
ein-, eineinhalb - und zweige-
schossig, Reihenhäuser, Son-
derbauten, Büro -, Objekt - und
Gewerbebau  Bundesgebiet
Belgien, Nieder-
lande, Luxem-
burg, Öster reich
FischerHaus
GmbH & Co. KG  Rathausplatz 4 -6
92439 Bodenwöhr
 0 94 34 / 9 50 -0
 0 94 34 / 95 0 -101
www.fischerhaus.de
info@fischerhaus.de   Holztafelbauweise mit
Putzfassade oder Holz-
verschalung, individuelle
Hausplanung, Effizienz-
haus 40 standardmäßig  Ein- und Zweifamilienhäuser,
Doppelhäuser, Mehrfamilien-
häuser, Bürogebäude, Kinder-
gärten, Hotelbau, An - und Auf-
stockungen  Bayern, Baden -
Württemberg,
Hessen, Tsche-
chien
Griffnerhaus  GmbH
 Gewerbestraße 3
A - 9112 Griffen
 0043 4233 / 2237 -0
 0043 4233 / 2237 -5
www.griffner.com
info@griffner.com
 Holzriegelbauweise  Individuell geplante Einfamilien-
häuser, Doppelhäuser sowie
Reihenhäuser  Österreich, Süd-
deutschland,
Schweiz, Nordita-
lien
Gruber Holz haus  GmbH  Sanddickicht 12
93426 Roding -Altenkreith
 0 94 61 / 40 29 -0
 0 94 61 / 40 29 -29
www. gruber -holzhaus. de
bauen@gruber -holzhaus.de  Holzrahmenbauweise,
komplette Tragstruktur
aus hochwertigem Brett-
schichtholz, Putzfassa-
den, Holzfassaden
 Ein- und Zweifamilien -, Doppel -
und Reihenhäuser, Anbauten
und Umbauten, Passivhäuser,
Plusenergiehäuser.  Bundesgebiet,
Österreich,
Schweiz, England
  4 Firma  Anschrift  Art der Bauweise  Bauprogramm  Lieferradius
GUSSEK -HAUS
Franz Gussek GmbH & Co.
KG Euregiostraße 7
48527 Nordhorn
 0 59 21 / 174 -0
 0 59 21 / 174 -104
www.gussek.de
hausinfo@gussek.de  Großtafelbauweise mit
Putz-, Klinker - und Vor-
hangfassade  Ein- und Zweifamilienhäuser,
Reihenhäuser, Büro - und Ver-
waltungsgebäude, Schulen, Fe-
rienhäuser, Arztpraxen, An - und
Umbau, Dachaufstockung  Bundesgebiet
Belgien, Däne-
mark, Großbritan-
nien, Frankreich,
Irland, Luxem-
burg, Nieder-
lande, Schweiz,
Spanien
HAAS FERTIGBAU GmbH  Industriestr, 8
84326 Falkenberg
 0 87 27 / 18 -0
 0 87 27 / 18 -593
www.haas -fertigbau.de
info@haas -fertigbau.de  Großtafelbauweise mit
Putz-, Holz - und Klinker-
fassade  Ein- und Zweifamilienhäuser,
Doppelhäuser, Büro - und Ob-
jektbau, Industrie - und Gewer-
bebau,
landwirtschaftliches Bauen, An -
und Umbau, Dachaufstockung  Bundesgebiet,
Österreich, Tsche-
chien, Slowakei,
Italien, Luxem-
burg, Schweiz,
Großbritannien,
Polen, Rumänien,
Ungarn

Hanse Haus GmbH  Ludwig -Weber -Str. 18
97789 Oberleichtersbach
 0 97 41 / 808 -0
 0 97 41 / 808 -479
www.hanse -haus.de
info@hanse -hause.de  Tafelbauart,
Leimverbundbauweise  Ein- und Mehrfamilienhäuser,
Doppel - und Reihenhäuser so-
wie Büro - und Verwaltungsge-
bäude  nach vorgedachten Ent-
würfen oder individueller Pla-
nung, An - und Umbauten  Bundesgebiet,
Österreich, Groß-
britannien, Italien,
Luxemburg ,
Schweiz
HARTL HAUS Holzindust-
riegesellschaft m.b.H.






 Haimschlag 30
A-3903 Echsenbach
 +43 (0) 28 49 / 83 32 -0
 +43 (0) 28 49 / 83 32 -600
www.hartlhaus.at
info@hartlhaus.at

Vertriebsgesellschaft
Deutschland:
HARTL HAUS Holzindustrie Ver-
triebsgesellschaft für Fertighäuser
m.b.H.
Prälat Roderer Straße 1
84095 Furth/Landshut

Hennig Haus GmbH & Co.
KG Röllbacher Str. 72
63920 Großheubach
 0 93 71 / 97 42 -0
 0 93 71 / 97 42 -29
www.hennig -haus.de
info@hennig -haus.de
  Ein- und Zweifamilienhäuser,
Doppel - und Reihenhäuser,
Sonderbauten, Aufstockungen
und Aus bauten in ein - und zwei-
geschossiger Bauweise inkl.
Kellerbau, An - und Umbau,
Dachaufstockung
 Bayern, Baden -
Württemberg und
Hessen

holz & raum GmbH & Co.
KG Therecker Weg 18
57413 Finnentrop
 0 23 95 / 91 82 - 0
 0 23 95 / 91 82 - 60
www.holzundraum.de
info@holzundraum.de
HUF HAUS
GmbH u. Co. KG  Franz -Huf-Straße
56244 Hartenfels
 0 26 26 / 761 -0
 0 26 26 / 761 -103
www.huf -haus.com
info@huf -haus.com  Holzverbundkonstruk-
tion, Fachwerkkonstruk-
tion Schlüsselfertige Häuser, Büro-
bauten, Schwimmhallen, Objekt-
bauten, An - und Umbau, Dach-
aufstockung  Bundesgebiet,
Schweiz, Frank -
reich, Großbritan-
nien, Luxemburg,
Österreich, Däne-
mark, Irland, Ita-
lien, Niederlande,
Russland, Spa-
nien
  5 Firma  Anschrift  Art der Bauweise  Bauprogramm  Lieferradius
KAMPA GmbH  KAMPA -Platz 1
73432 Aalen -Waldhausen
Tel. 073 67 -920 92 -0
Fax:
www.kampa.de
info@kampa.de  Großtafelbauweise in
Holzverbundkonstruk-
tion, Fassade in Putz o-
der Holzverschalung; Ef-
fizienzhaus 40 Standard
serienmäßig; individuelle
Planung  Ein- und Zweifamilienhäuser,
Doppel - sowie Reihenhäuser,
Bungalows und Doppelhäuser
bis zur schlüsselfertigen Über-
gabe , Mehrgeschossbauweise  Bundesgebiet
ohne Inseln, Ös-
terreich, Schweiz,
Polen, Belgien
Keitel -Haus GmbH  Reubacher Str. 23
74585 Rot am See -Brettheim
 0 79 58 / 98 05 -0
 0 79 58 / 98 05 -25
www.fertighaus -keitel.de
info@fertighaus -keitel.de
 Großtafelbauweise in
Holzverbundkonstruk-
tion, Fassade in Putz,
Klinker oder Holzver-
schalung, freie Grund-
rissp lanung  individuell geplante Ein - und
Mehrfamilienhäuser, Doppel-
häuser, Reihenhäuser, inkl. Kel-
ler möglich, Sonderbauten, Auf-
stockungen und Ausbauten  Baden -Württem-
berg, Bayern,
Hessen, Rhein-
land-Pfalz, Saar-
land, Nordrhein -
Westfalen
Österreich,
Schweiz
LEHNER HAUS GmbH
 Aufhausener Str. 29
89520 Heidenheim
 0 73 21 / 96 70 - 0
 0 73 21 / 96 70 - 11
www.lehner -haus.de
info@lehner -haus.de
LUX Projektmanagement
GmbH & Co. KG  Pleinfelder Straße 64
91166 Georgensgmünd
 0 91 72 / 692 -0
 0 91 72 / 692 -103
www.luxhaus.de
info@luxhaus.de  heißverleimte Großtafel-
bauweise in Holzver-
bundkonstruktion mit
Putz- oder Klinkerfas-
sade, individuelle Grund-
rissplanung  individuelle Ein - und Mehrfamili-
enhäuser in ein - und zweiein-
halbgeschossiger Bauweise,
schlüsselfertig bzw. nach dem
LUX-Baukonzept für Selbst-
bauer mit individueller Ausbau-
stufe, verdichtete Bauweise
 Baden -Württem-
berg, Bayern,
Hessen, Nord-
rhein -Westfalen,
Rheinland -Pfalz,
Saarland, Sach-
sen, Sachsen -An-
halt, Schleswig -
Holstein, Thürin-
gen
Luxemburg, Mal-
lorca
massa haus GmbH  Argenthaler Str. 7
55469 Simmern
 0 67 61 / 903 03 -0
 0 67 61 / 903 03 -100
www.massa -haus.de
info@massa -haus.de
 Holztafelbauweise, Fas-
saden in Putz, Klinker -
oder Holzverschalung,
individuelle Grundriss-
planung  individuell geplante Einfamilien-
häuser, Häuser mit Einlieger-
wohnungen, Doppel - und Rei-
henhäuser, Bungalows.
Schwerpunkt: Ausbauhäuser mit
Ausbaupaketen  Bundesgebiet
Meisterstück -HAUS
Otto Baukmeier Holzbau,
Fertigbau GmbH + Co. KG  Otto-Körting -Str. 3
31789 Hameln
 0 51 51 / 95 38 -0
 0 51 51 / 39 51
www.meisterstueck.de
info@meisterstueck.de  Großtafelbauweise, Klin-
ker- und fugenlose Putz-
fassade, Holzsonderkon-
struktion, Raumele-
mente  Wohnhäuser, Büros, Zweckbau-
ten aller Art Hallenbau, Indust-
riebau, An - und Umbau, Dach-
aufstockung  Bundesgebiet
Großbritannien,
Schweiz
NORDHAUS
Fertigbau GmbH  Broch 2
51515 Kürten
 0 22 68 / 91 44 -0
 0 22 68 / 91 44 -19
www.nordhaus de
info@nordhaus.de  Großtafelbauweise in
Holzverbund -Konstruk-
tion, mit fugenloser Putz-
fassade, Klinker -Fas-
sade möglich.  individuelle Ein - und Zweifamili-
enhäuser sowie Doppel - und
Reihenhäuser in ein - und zwei-
geschossiger Bauweise, Aufsto-
ckungen, Sonder - und Gewer-
bebauten  Nordrhein -Westfa-
len, Hessen ,
Rheinland -Pfalz ,
Niedersachsen

OKAL  Haus GmbH  Argenthaler Str. 7
55469 Simmern
 0 67 61 / 903 04 -0
 0 67 61 / 903 04 -100
www.okal.de
info@okal.de  Holztafelbauweise, Fas-
saden in Putz, Klinker -
oder Holzverschalung,
individuelle Grundriss-
planung  individuell geplante Einfamilien-
häuser, Häuser mit Einlieger-
wohnungen, Doppel - und Rei-
henhäuser, Bungalows.
Schwerpunkt: individuelle und
hochwertige Hauskonzepte  Bundesgebiet   6 Firma  Anschrift  Art der Bauweise  Bauprogramm  Lieferradius
Partner Haus
Fertigbau GmbH + Co.KG  Kolpingstr.  3
59964 Medebach
 0 29 82 / 82 75
 0 29 82 / 31 22
www.partner -haus.de
info@partner -haus.de
petershaus GmbH & Co. KG  Gewerbering 13
47623 Kevelaer
 0 28 32 / 92  41-0
 0 28 32 / 92 41 -41
www.petershaus.de

Regnauer Hausbau
GmbH & Co. KG  Pullacher Str. 11
83358 Seebruck/Chiemsee
 0 86 67/ 72 -222
 0 86 67/ 72 -290
www.regnauer.de
mail@regnauer.de
 Holzrahmenbauweise
mit Großelementen, indi-
viduelle Planungen  Ein- und Zweifamilienhäuser so-
wie Reihenhäuser in ein - und
zweigeschossiger Bauweise,
Sonderbauten und Aufstockun-
gen, Zweckbauten und Gewer-
bebau, An - und Umbau, Dach-
aufstockung  Deutschland, Ös-
terreich, Schweiz,
Italien, Frankreich
RENSCH -HAUS GmbH  Mottener Straße 13
36148 Kalbach/Rhön
 0 97 42 / 91 -0
 0 97 42 / 91 -174
www.rensch -haus.com
info@rensch -haus.com  Großtafelbauweise in
Holzverbundkonstruk-
tion,
individuelle Ausführung
nach Architektenentwurf  Ein- und Zweifamilienhäuser so-
wie Reihenhäuser, in ein - und
zweigeschossiger Bauweise,
Sonderbaute n und Aufstockun-
gen, Zweckbauten und Gewer-
bebau, An - und Umbau, Dach-
aufstockung
 Bundesgebiet,
Belgien, Italien,
Luxemburg, Ös-
terreich, Schweiz
Rubner Haus GmbH  Handwerkerzone 4
I – 39030 Kiens (BZ)
 0039 / 0474 563 333
0039 / 0474 563 300
www.haus.rubner.com
haus@rubner.com
Sägewerk -
Holzbau Braun GmbH  Schwenninger Str. 48
72510 Stetten am kalten Markt
 0 75 73 / 95 44 -0
 0 75 73 / 95 44 -22
www.holzbau -braun.de
info@holzba u.braun.de
Sander Haus
Holzbau GmbH  Rudolf -Diesel -Str. 1
34369 Hofgeismar
 0 56 71 / 99 39 -0
 0 56 71/ 99 39 -39
www.sanderhaus.de
info@sanderhaus.de
 Holzrahmenbauweise
Putz, Holz oder Klinker-
fassade , Individuelle
Ausführung  Ein- und Mehrfamilienhäuser,
Reihenhäuser, Gewerbebauten,
KfW-60 und KfW -40, Aufsto-
ckungen, An- und Umbau,
Dachaufstockung , vom Ausbau-
bau bis zur schlüsselfertigen
Übergabe  Bundesgebiet
SCHWABENHAUS
GmbH & Co. KG  Industriestraße 2
36266 Heringen
 0 66 24 / 930 -0
 0 66 24 / 930 -125
www.schwabenhaus.de
info@schwabenhaus.de  Großtafelbauweise in
Holzverbundkonstruktion
mit Putz - oder Klinker-
verblenderfassade, Be-
tonfertigteile für Keller,
Leimbinder, Stahlkon-
struktionen für beson-
dere Bauteile und
Zweck - und Gewerbe-
bau Individuelle Ein - und Zweifamili-
enhäuser ein - u. zweigeschossig,
Doppel - u. Reihenhäuser, inkl.
Keller, schlüsselfertig u. mit Ei-
genleistung. Häus er, Berufs-
räume und Zweckbauten für In-
dustrie, Handel und Kommunen;
Büros, Verwaltungsgebäude,
Fertigungsstätten, Märkte, Pavil-
lons und Hallen, Kindergärten u.
Schulen, Wohnungsunterkünfte
u. Sportheime, An- und Umbau,
Dachaufstockung
 Bundesgebiet,
Luxem burg, Po-
len, Schweiz   7 Firma  Anschrift  Art der Bauweise  Bauprogramm  Lieferradius
SchwörerHaus KG
 Hans -Schwörer -Str. 8
72531 Hohenstein
 0 73 87 / 16 -0
 0 73 87 / 16 -500 100
www.schwoerer.de
info@schwoerer.de
 Großtafelbauweise in
Holzverbundkonstruktion
mit Putz - oder Klinker-
verblenderfassade, Be-
tonfertigteile  Ein- und Zweifamilienhäuser,
Doppel - sowie Reihenhäuser in
ein- und zweigeschossiger Bau-
weise, Mehrfamilienhäuser,
Zweck - / Objektbauten und Fer-
tigkeller , Mehrgeschossbau-
weise  Bundesgebiet, au-
ßer Inseln, Groß-
britannien, Frank-
reich, Irland, Ita-
lien, Niederlande,
Österreich,
Schweiz, Spanien
Sonnleitner
Holzbauwerke
GmbH & Co. KG  Afham 5
94496 Ortenburg
 0 85 42 / 96 11 -0
 0 85 42 / 96 11 -50
www.sonnleitner.de
info@sonnleitner.de  Holzrahmenbauweise
mit Großelementen,
Fassade in Putz oder
Holzbohlen,
individuelle Ausführung  Ein- und Zweifamilienhäuser,
Doppel - sowie Reihenhäuser,
Büro- und Verwaltungsg ebäude,
An- und Umbau, Dachaufsto-
ckung  Bundesgebiet
Österreich,
Schweiz, Italien
Stommel Haus GmbH  Sternstraße 28
53819 Neunkirchen -Seelscheid
 0 22 47 / 91 72 - 0
 0 22 47 / 91 72 - 60
www.stommel -haus.de
info@stommel -haus.de
 Großtafelbauweise mit
Massivholzbeplankung,
freie Grundrissgestal-
tung möglich.  Wohngesunde Ein - und Zweifa-
milienhäuser, Ausbauhäuser  Bundesgebiet
STREIF Haus GmbH  Josef -Streif -Str. 1
54595 Weinsheim / Eifel
 0 65 51 / 12 -00
 0 65 51 / 12 -220
www.streif.de
info@streif.de  Elementbau, Großtafel-
bau, Holzverbundkon-
struktion  Ein- und Zweifamilienhäuser,
ein- und zweigeschossig, Rei-
henhäuser, Mehrfamilienhäuser,
Zweck - und Objektbauten (Schu-
len, Kindergärten, Sozialge-
bäude, Verwaltungsgebäude,
Wohnunterkünfte u. ä.).
 Bundesgebiet, Bel-
gien, Luxemburg.
Großbritannien  nur
Objektbauten (z.
B. Schulen, Kin-
dergärten etc.)
TALBAU -Haus  GmbH  In der Zangershalde 6
71554 Weissach / Tal
 0 71 91/ 3 61 -0
 0 71 91/ 3 61 -100

info@talbau.de  Holztafelbauweise, Fas-
sade in Putz - oder Holz-
verschalung, individuelle
Planung und Architek-
tenentwurf  Einfamilien -, Doppel - und Rei-
henhäuser  Süddeutschland
WeberHaus
GmbH & Co. KG  Am Erlenpark 1
77866 Rheinau -Linx
 0 78 53 / 83 -0
 0 78 53 / 83 -7837
www.weberhaus.de
info@weberhaus.de  Großtafelbauweise in
Holzverbundkonstruktion  Ein- und Zweifamilienhäuser so-
wie Reihenhäuser in ein - und
zweigeschossiger Bauweise,
Sonderbauten, und Aufstockun-
gen, Objekt - und Gewerbebau,
An- und Umbau, Dachaufsto-
ckung , Weberit h-Keller -System ,
Mehrgeschossbauweise
 Bundesgebiet,
Frankreich,
Schweiz, Luxem-
burg, Österreich
WeberHaus
GmbH & Co. KG  Werk Wenden
Rheinauer Straße 12
57482 Wenden / Hünsborn
 0 27 62 / 613 -0
 0 27 62 / 613 -271 Großtafelbauweise in
Holzverbundkonstruktion  Ein- und Zweifamilienhäuser so-
wie Reihenhäuser in ein - und
zweigeschossiger Bauweise,
Sonderbauten, und Aufstockun-
gen, Objekt - und Gewerbebau,
Weberith -Keller -System , Mehr-
geschossbauweise  Bundesgebiet,
Frankreich, Groß-
britannien, Ir land,
Luxemburg, Nie-
derlande, Öster-
reich, Schweiz,
Russland,
Weiss GmbH
Holzhausbau und
Haustechnik  Sturzbergstr. 40 -42
74420 Oberrot
 0 79 77 / 97 77 -0
 0 79 77 / 97 77 -25
www.holzhausbau -weiss.de
info@holzhausbau -weiss.de  Großtafelbauweise in
Holzverbundkonstruk-
tion,
Fassade in Putz - oder
Holzverschalung, indivi-
duelle Planung  Holzhäuser, Rohbauhäuser
 Baden -Württem -
berg, Bayern,
Hessen, Rhein -
land-Pfalz, Nord -
rhein -Westfalen,
Saar land,
Schweiz und Ös-
terreich   8 Firma  Anschrift  Art der Bauweise  Bauprogramm  Lieferradius
Wolf System GmbH  Am Stadtwald 20
94486 Osterhofen
 0 99 32 / 37 -0
 0 99 32 / 37 -2893
www.wolfhaus.de
haus@wolfsystem.de  Großtafelbauweise in
Holzverbundkonstruktion  Ein- und Mehrfamilienhäuser,
Doppel - und Reihenhäuser,
Wohnanlagen, Geschäftshäu -
ser, Kindergärten,
Gewerbe - und Objektbau,
Zweck - und Industriebauten,
landwirtschaftliche Bauten  Bundesgebiet,
Österreich,
Schweiz, Polen,
Ungarn, Italien,
Frankreich, Groß-
britannien, Russ-
land, Irland, Kroa-
tien, Lettland, Slo-
wake i, Slowenien,
Spanien, Tsche-
chien
Wolf -Haus GmbH  Koppenmühle
97705 Burkardroth -Gefäll
 0 97 01/91 11 -0
 0 97 01/91 11 -20
www.wolf -haus de
info@wolf -haus.de  Holzrahmenbauweise
mit Großelementen,
Fassade in Putz, Klinker,
Holzbohlen und Holzver-
schalung, indivi duelle
Ausführung  Ein- und Zweifamilienhäuser,
Doppel - und Reihenhäuser in
ein- und zweigeschossiger Bau-
weise, Mehrfamilien häuser,
Zweck -/Objektbauten, Keller,
Umbau -Anbau, Aufsto ckungen,
Sanierungen  Bundesgebiet,
Österreich,
Schweiz, Italien,
Spanien

   9 Fördernde BDF-Mitglieder

 S
Firma  Anschrift  Lieferprogramm  Lieferradius
Adolf Würth
GmbH & Co. KG  Reinhold -Würth -Str. 12 -17
74653 Künzelsau
 0 79 40 / 15 -0
 0 70 49 / 15 -1000
www.wuerth.de
info@wuerth.com



 Führender Hersteller von Befestigungstechnik, über
125.000 Produkte unterliegen dem hohen Qualitäts-
anspruch  wie Schrauben, Schraubenzubehör, Dü-
bel, chemisch -technische Produkte, Möbel - und
Baubeschläge, Werkzeuge, Bevorratungs - und Ent-
nahmesysteme sowie Arbeitsschutz. Die Adolf
Würth GmbH& Co. KG ist marktführend in Deutsch-
land und beschäftigt über 7.500 Mitarbeiterinnen
und Mitarbeiter. Sie ist das g rößte Einzelunterneh-
men der weltweit tätigen Würth -Gruppe.
AGEPAN SYSTEM
Sonae Arauco Deutsch-
land
GmbH
 Grecostr. 1
49716 Meppen
 0 59 31 / 40 50
 0 59 31 / 40 51 11
www.agepan.de
info@agepan.de
 AGEPAN® OSB/3 PUR: von 6 -25mm, nach EN
13986 / EN300, AGEPAN® OSB/4 PUR: von 10 -
32mm, nach EN 13986 / EN 300, AGEPAN® THD:
von 40 - 80mm,  entspricht EN 13171 und allgemei-
ner bauaufsichtlicher Zulassung       Z-23.15 -1508
AGEPAN® DWD: von 12 - 25mm,  entspricht DIN
EN 14964 und allgemeiner bauaufsichtlicher Zulas-
sung  Z-9.1-382
AGEPAN® UDP: bis 25 mm, nach EN 13171,
alle formaldehydfrei verleimt
 Bundesgebiet und
Ausland
ait-deutschland GmbH  Industriestr.  3
95359 Kasendorf
 0 92 28 / 99 06 -0
 0 92 28 / 99 06 -149
www.ait -deutschland.eu
info@ait -deutschland.eu

 Seit Gründung des Unternehmens im Jahr 1998
entwickelt ait -deutschland seine Produkte konse-
quent weiter und richtet sie immer neu an den
Marktbedürfnissen aus. Mit Erfolg: Heute gehört
das Unternehm en mit rund 500 Mitarbeitern und
Niederlassungen in der Sc hweiz und Schweden
europaweit zu den Marktführern für Wärmepum-
pen. Das Unternehmen vertreibt seine Produkte,
insbesondere Wärmepumpen und Kühlsysteme,
unter den Marken alpha innotec, NOVELAN und
KKT chillers.  Wärmepumpen in
mehr als 20 europ.
Länder,
Kältetechnik weltweit
Akzo Nobel Hilden GmbH
Wood Coatings  Düsseldorfer Str. 96 - 100
40721 Hilden
 0 21 03 / 77 800
 0 21 03 / 77 242
www.akzonobel.com
sikkens -holzbau -info@akzonobel.com  Beschichtungssysteme für den Holzbau (maßhal-
tige und nicht maßhaltige Bauteile), Bautenlacke,
Lasuren und Bautenfarben sowie Betonschutzsys-
teme, Wärmedämmverbundsysteme unter den
Marken „Sikkens“, „Glasurit“ und „Herbol“  Bundesgebiet und
europäisches Aus-
land
Albrecht Jung
GmbH & Co. KG  Volmestr. 1
58579 Schalksmühle
 0 23 55 / 8 06 -0
 0 23 55/ 8 06 -18 9
www.jung.de
kundencenter@jung.de   Als Albrecht Jung 1912 seine Firma gründete, wa-
ren ihm drei Dinge wichtig: Fortschritt, Qualität und
Design. Diese Grundlagen prägen JUNG bis
heute.
JUNG ist Premiumanbieter von fortschrittlichen Lö-
sungen. Das Portfolio reicht von der klassischen
Elektroi nstallation über die Nachrüstung per Funk
bis zur vernetzten High -End-Technologie im Smart
Home. Die modernen Lösungen überzeugen durch
Komfort, Sicherheit und Energieeffizienz.
Erstklassige Produkte „Made in Germany“ – dafür
steht JUNG. Design aus Prinzip  – Qualität aus
Überzeugung sind die Bausteine der Marke. Seit
über 100 Jahren. Damit zählt JUNG zu den wich-
tigsten deutschen Marken.
 Weltweit

In [86]:
import re
import pandas as pd

In [193]:
Dic = {}
# from selenium import webdriver
gc= pd.DataFrame(data=Dic,index=[0],columns=['Column_1','Column_2','Column_3','Column_4'])

In [190]:
new_ven=re.compile(r'^\d{3} [A-Z].*')
a_new_ven=re.compile(r'^\d{2} [A-Z].*')
b_new_ven=re.compile(r'^\d{1} [A-Z].*')
c_new_ven=re.compile(r'^\d{4} [A-Z].*')
d_new_ven=re.compile(r'^\d{5} [A-Z].*')
f_new_ven=re.compile(r'^\d{6} [A-Z].*')
e_new_ven=re.compile(r'^\d+ [A-Z].*')
g_new_ven=re.compile(r'[A-Z]+\d+')
h_new_ven=re.compile(r'ex')
# p=1
# for line in st.split('\n'):
#     print(p)
#     p=p+1
#     if g_new_ven.match(line):
#         print(line.split(" ")[0])

In [191]:
p=1
for line in st.split('\n'):
#     print(p)
#     p=p+1
#     print(line)
#     if e_new_ven.match(line):
#         print(line)
#     if a_new_ven.match(line):
#         print(line)
#     if b_new_ven.match(line):
#         print(line)
#     if g_new_ven.match(line):
#         print(line.split("  ")[1])
#         print(len(line.split("  ")))
    if h_new_ven.match(line):
        print(line.split("  "))

['ex 2843 90 10', 'ex 0502 10 00 A3110 ']
['ex 2853 00 90', 'B3110 ']
['ex 3825 69 00', 'GN010 ']
['ex 3825 90 90', 'ex 0502 90 00 A3110 ']
['ex 7112 91 00', 'B3110 ']
['ex 7112 92 00', 'GN010 ']
['ex 7112 99 00', 'ex 0505 10 10 GN030 ']
['ex 7802 00 00', 'ex 0505 10 90 GN030 ']
['ex 8107 30 00', 'ex 0505 90 00 GN030 ']
['ex 8110 20 00', 'ex 0506 10 00 B3060 ']
['ex 8112 13 00', 'ex 0506 90 00 B3060 ']
['ex 8112 52 00', 'ex 0511 91 10 B3060 29.7.2016 L 204/13 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2620 91 00', 'B3110 ']
['ex 2620 99 95', 'ex 0511 99 85 A3110 ']
['ex 2621 90 00', 'B3110 ']
['ex 3825 20 00', 'GN020 ']
['ex 3825 69 00', 'ex 1213 00 00 B3060 ']
['ex 3825 90 90', 'B3070 ']
['ex 7112 91 00', 'ex 1404 90 00 B3060 ']
['ex 7112 92 00', 'ex 15 B3065 ']
['ex 7112 99 00', 'ex 1515 11 00 A4040 ']
['ex 7802 00 00', 'ex 1515 19 10 A4040 ']
['ex 8107 30 00', 'ex 1518 00 A4040 ']
['ex 8110 20 00', 'ex 1522 00 10 B3060 ']
['ex 8112 13 00', 'ex 1522 00 31 B3060 ']
['ex 2621 90 00', 'ex 1522 00 91 B3060 ']
['ex 2843 90 10', 'ex 1522 00 99 B3060 ']
['ex 2853 00 90', 'ex 1802 00 00 B3060 ']
['ex 3825 20 00', 'ex 2301 10 00 B3060 ']
['ex 3825 69 00', 'ex 2301 20 00 B3060 ']
['ex 3825 90 90', 'ex 2302 B3060 ']
['ex 8112 52 00', 'ex 2303 B3060 ']
['ex 3825 50 00', 'ex 2305 00 00 B3060 ']
['ex 3825 61 00', 'ex 2306 B3060 ']
['ex 3825 69 00', 'ex 2307 00 11 B3060 ']
['ex 3825 90 90', 'ex 2307 00 19 B3060 29.7.2016 L 204/14 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2620 29 00', 'ex 2308 00 19 B3060 ']
['ex 2620 30 00', 'ex 2308 00 40 B3060 ']
['ex 2620 40 00', 'ex 2308 00 90 B3060 ']
['ex 2620 60 00', 'ex 2309 90 31 B3070 ']
['ex 2620 91 00', 'ex 2309 90 33 B3070 ']
['ex 2620 99 10', 'ex 2309 90 35 B3070 ']
['ex 2620 99 20', 'ex 2309 90 39 B3070 ']
['ex 2620 99 40', 'ex 2309 90 41 B3070 ']
['ex 2620 99 60', 'ex 2309 90 43 B3070 ']
['ex 2620 99 95', 'ex 2309 90 49 B3070 ']
['ex 3825 69 00', 'ex 2309 90 51 B3070 ']
['ex 3825 90 90', 'ex 2309 90 53 B3070 ']
['ex 2602 00 00', 'ex 2309 90 96 B3070 ']
['ex 2603 00 00', 'ex 2401 30 00 B3060 ']
['ex 2604 00 00', 'ex 2501 00 31 B2010 ']
['ex 2605 00 00', 'B2040 ']
['ex 2606 00 00', 'ex 2501 00 51 B2010 ']
['ex 2607 00 00', 'B2040 ']
['ex 2608 00 00', 'ex 2501 00 99 B2010 ']
['ex 2609 00 00', 'B2040 ']
['ex 2610 00 00', 'ex 2502 00 00 B2010 ']
['ex 2611 00 00', 'ex 2503 00 10 B2040 ']
['ex 2612', 'ex 2503 00 90 B2040 ']
['ex 2613', 'ex 2504 10 00 B2010 ']
['ex 2614 00 00', 'ex 2504 90 00 B2010 29.7.2016 L 204/15 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2615', 'ex 2505 10 00 AB070 ']
['ex 2616', 'ex 2505 90 00 AB070 ']
['ex 2617', 'ex 2506 10 00 B2010 ']
['ex 2620 19 00', 'ex 2506 20 00 B2010 ']
['ex 3825 69 00', 'ex 2507 00 20 B2010 ']
['ex 3825 90 90', 'ex 2507 00 80 B2010 ']
['ex 2602 00 00', 'ex 2508 30 00 B2010 ']
['ex 2603 00 00', 'ex 2508 40 00 B2010 ']
['ex 2604 00 00', 'ex 2508 50 00 B2010 ']
['ex 2605 00 00', 'ex 2508 60 00 B2010 ']
['ex 2606 00 00', 'ex 2508 70 00 B2010 ']
['ex 2607 00 00', 'ex 2509 00 00 B2010 ']
['ex 2608 00 00', 'ex 2510 10 00 B2010 ']
['ex 2609 00 00', 'ex 2510 20 00 B2010 ']
['ex 2610 00 00', 'ex 2511 10 00 B2010 ']
['ex 2611 00 00', 'ex 2511 20 00 B2010 ']
['ex 2612', 'ex 2512 00 00 B2010 ']
['ex 2613', 'ex 2513 10 00 B2010 ']
['ex 2614 00 00', 'ex 2513 20 00 B2010 ']
['ex 2615', 'ex 2514 00 00 B2010 ']
['ex 2616', 'ex 2515 11 00 B2010 ']
['ex 2617', 'ex 2515 12 00 B2010 ']
['ex 2620 19 00', 'ex 2515 20 00 B2010 ']
['ex 2620 29 00', 'ex 2516 11 00 B2010 ']
['ex 2620 91 00', 'ex 2516 12 00 B2010 ']
['ex 2621 10 00', 'ex 2516 20 00 B2010 ']
['ex 2621 90 00', 'ex 2516 90 00 B2010 ']
['ex 3825 69 00', 'ex 2517 10 10 AB070 ']
['ex 3825 90 90', 'B2010 29.7.2016 L 204/16 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2621 10 00', 'B2010 ']
['ex 2621 90 00', 'ex 2517 10 80 AB070 ']
['ex 3825 69 00', 'B2010 ']
['ex 3825 90 90', 'ex 2517 20 00 AB070 ']
['ex 2621 90 00', 'B2130 ']
['ex 3825 69 00', 'ex 2517 30 00 AB070 ']
['ex 3825 90 90', 'B2010 ']
['ex 3825 69 00', 'B2010 ']
['ex 3825 90 90', 'ex 2517 49 00 AB070 ']
['ex 3825 69 00', 'ex 2518 10 00 B2010 ']
['ex 3825 90 90', 'ex 2518 20 00 B2010 ']
['ex 2620 29 00', 'ex 2519 10 00 B2010 ']
['ex 2620 30 00', 'ex 2519 90 10 B2010 ']
['ex 2620 40 00', 'ex 2519 90 30 B2010 ']
['ex 2620 60 00', 'ex 2519 90 90 B2010 ']
['ex 2620 91 00', 'ex 2520 10 00 B2010 ']
['ex 2620 99 10', 'ex 2521 00 00 B2010 ']
['ex 2620 99 20', 'B2040 ']
['ex 2620 99 40', 'ex 2524 10 00 A2050 ']
['ex 2620 99 60', 'ex 2524 90 00 A2050 ']
['ex 2620 99 95', 'ex 2525 10 00 B2010 ']
['ex 3825 69 00', 'ex 2525 20 00 B2010 ']
['ex 3825 90 90', 'ex 2525 30 00 B2010 29.7.2016 L 204/17 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3825 69 00', 'ex 2526 20 00 B2010 ']
['ex 3825 90 90', 'ex 2528 10 00 B2010 ']
['ex 8548 10 21', 'ex 2529 21 00 B2010 ']
['ex 8548 10 91', 'ex 2529 22 00 B2010 ']
['ex 8548 10 21', 'ex 2530 10 00 B2010 ']
['ex 8548 10 29', 'ex 2530 20 00 B2010 ']
['ex 8548 10 91', 'ex 2530 90 00 A2050 ']
['ex 8548 10 99', 'B2010 ']
['ex 7204 21 10', 'B2040 ']
['ex 7204 21 90', 'GF010 ']
['ex 7204 29 00', 'ex 2601 A1070 ']
['ex 7204 30 00', 'A1080 ']
['ex 7204 41 91', 'ex 2602 00 00 A1070 ']
['ex 7204 41 99', 'A1080 ']
['ex 7204 49 10', 'ex 2603 00 00 A1070 ']
['ex 7204 49 30', 'A1080 ']
['ex 7204 49 90', 'ex 2604 00 00 A1070 ']
['ex 7204 50 00', 'A1080 ']
['ex 7217 90 20', 'ex 2605 00 00 A1070 ']
['ex 7217 90 50', 'A1080 ']
['ex 7217 90 90', 'ex 2606 00 00 A1070 ']
['ex 7223 00 11', 'A1080 ']
['ex 7223 00 19', 'ex 2607 00 00 A1070 ']
['ex 7223 00 91', 'A1080 29.7.2016 L 204/18 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 7223 00 99', 'ex 2608 00 00 A1070 ']
['ex 7229 20 00', 'A1080 ']
['ex 7229 90 20', 'ex 2609 00 00 A1070 ']
['ex 7229 90 50', 'A1080 ']
['ex 7229 90 90', 'ex 2610 00 00 A1070 ']
['ex 7312 10 20', 'A1080 ']
['ex 7312 10 49', 'ex 2611 00 00 A1070 ']
['ex 7312 10 69', 'A1080 ']
['ex 7312 10 98', 'ex 2612 A1070 ']
['ex 7312 90 00', 'A1080 ']
['ex 7323 91 00', 'ex 2613 A1070 ']
['ex 7323 92 00', 'A1080 ']
['ex 7323 93 00', 'ex 2614 00 00 A1070 ']
['ex 7323 94 00', 'A1080 ']
['ex 7323 99 00', 'ex 2615 A1070 ']
['ex 7404 00 10', 'A1080 ']
['ex 7404 00 91', 'ex 2616 A1070 ']
['ex 7404 00 99', 'A1080 ']
['ex 7408 11 00', 'ex 2617 A1070 ']
['ex 7408 19 10', 'A1080 ']
['ex 7408 19 90', 'ex 2618 00 00 AB070 ']
['ex 7408 21 00', 'B1200 ']
['ex 7408 22 00', 'ex 2619 00 20 AA010 ']
['ex 7408 29 00', 'B1210 ']
['ex 7413 00 20', 'B1230 ']
['ex 7413 00 80', 'ex 2619 00 90 AA010 ']
['ex 7503 00 10', 'B1210 ']
['ex 7505 21 00', 'B1230 ']
['ex 7505 22 00', 'ex 2620 A4100 29.7.2016 L 204/19 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 7508 90 00', 'ex 2620 11 00 B1100 ']
['ex 7602 00 19', 'B1220 ']
['ex 7602 00 90', 'B2010 ']
['ex 7614 10 00', 'B2100 ']
['ex 7614 90 00', 'B2110 ']
['ex 7802 00 00', 'ex 2620 19 00 A1050 ']
['ex 7806 00 30', 'A1070 ']
['ex 7806 00 90', 'A1080 ']
['ex 7902 00 00', 'ex 2620 19 00 A1130 ']
['ex 7904 00 00', 'A2020 ']
['ex 7907 00 90', 'A2030 ']
['ex 8002 00 00', 'B1080 ']
['ex 8003 00 00', 'B1100 ']
['ex 8007 00 80', 'B1120 ']
['ex 8101 96 00', 'B1220 ']
['ex 8101 97 00', 'B2010 ']
['ex 8101 99 90', 'B2100 ']
['ex 8102 96 00', 'B2110 ']
['ex 8102 97 00', 'ex 2620 21 00 A3030 ']
['ex 8102 99 00', 'B1220 ']
['ex 8103 30 00', 'B2010 ']
['ex 8103 90 10', 'B2110 ']
['ex 8103 90 90', 'ex 2620 29 00 A1020 ']
['ex 8107 30 00', 'A1050 ']
['ex 8107 90 00', 'A1080 ']
['ex 8108 30 00', 'A1130 ']
['ex 8108 90 30', 'A2020 ']
['ex 8108 90 90', 'A2030 29.7.2016 L 204/20 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2620 29 00', 'B2010 ']
['ex 2620 30 00', 'B2110 ']
['ex 2620 40 00', 'ex 2620 30 00 A1050 ']
['ex 2620 60 00', 'A1090 ']
['ex 2620 91 00', 'A1100 ']
['ex 2620 99 10', 'A1110 ']
['ex 2620 99 20', 'A1120 ']
['ex 2620 99 40', 'A1130 ']
['ex 2620 99 60', 'A1140 ']
['ex 2620 99 95', 'A2020 ']
['ex 3824 90 96', 'A2030 ']
['ex 3825 69 00', 'B1070 ']
['ex 3825 90 90', 'B1100 ']
['ex 2620 29 00', 'B1220 ']
['ex 2620 30 00', 'B1240 ']
['ex 2620 40 00', 'B2010 ']
['ex 2620 60 00', 'B2040 ']
['ex 2620 91 00', 'B2100 ']
['ex 2620 99 10', 'B2110 ']
['ex 2620 99 20', 'GB040 ']
['ex 2620 99 40', 'ex 2620 40 00 A1050 ']
['ex 2620 99 60', 'A1130 ']
['ex 2620 99 95', 'A2020 ']
['ex 3825 69 00', 'A2030 ']
['ex 3825 90 90', 'AB030 29.7.2016 L 204/21 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2524 90 00', 'B1220 ']
['ex 2530 90 00', 'B2010 ']
['ex 3825 69 00', 'B2100 ']
['ex 3825 90 90', 'B2110 ']
['ex 2713 90 90', 'A1030 ']
['ex 2710 99 00', 'A2020 ']
['ex 3825 61 00', 'A2030 ']
['ex 3825 90 90', 'AB030 ']
['ex 3820 00 00', 'B1070 ']
['ex 3825 50 00', 'B1120 ']
['ex 3825 61 00', 'B1220 ']
['ex 3825 90 90', 'B2010 ']
['ex 3902 10 00', 'B2110 ']
['ex 3902 30 00', 'ex 2620 91 00 A1020 ']
['ex 3902 90 90', 'A1050 ']
['ex 3915 90 11', 'A1080 ']
['ex 3501 10 50', 'A2020 ']
['ex 3501 10 90', 'A2030 ']
['ex 3501 90 10', 'A3090 ']
['ex 3501 90 90', 'B1030 ']
['ex 3503 00 10', 'B1031 ']
['ex 3503 00 80', 'B1070 ']
['ex 3505 10 10', 'B1120 29.7.2016 L 204/22 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3505 10 50', ' B1220 ']
['ex 3505 10 90', 'B2010 ']
['ex 3505 20 10', 'B2110 ']
['ex 3505 20 30', 'ex 2620 99 10 A1050 ']
['ex 3505 20 50', 'A1130 ']
['ex 3505 20 90', 'A2020 ']
['ex 3506 10 00', 'A2030 ']
['ex 3506 91 00', 'B1120 ']
['ex 3506 99 00', 'B1220 ']
['ex 3825 61 00', 'B2010 ']
['ex 3825 90 90', 'B2100 ']
['ex 3915 10 00', 'B2110 ']
['ex 3915 20 00', 'ex 2620 99 20 A1050 ']
['ex 3915 30 00', 'A1130 ']
['ex 3915 90 11', 'ex 2620 99 20 A2020 ']
['ex 3915 90 80', 'A2030 ']
['ex 4004 00 00', 'B1030 ']
['ex 4017 00 00', 'B1031 ']
['ex 3912 20 19', 'B1120 ']
['ex 3912 20 90', 'B1220 ']
['ex 3915 90 80', 'B2010 ']
['ex 2710 99 00', 'B2110 ']
['ex 3824 90 92', 'ex 2620 99 40 A1050 ']
['ex 3824 90 93', 'A1130 ']
['ex 3825 61 00', 'A2020 ']
['ex 3825 90 90', 'A2030 ']
['ex 3825 49 00', 'B1220 ']
['ex 3825 61 00', 'B2010 ']
['ex 3825 90 90', 'B2100 29.7.2016 L 204/23 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2620 99 95', 'ex 2620 99 60 A1050 ']
['ex 2621 90 00', 'A1130 ']
['ex 3825 20 00', 'A2020 ']
['ex 3825 30 00', 'A2030 ']
['ex 3825 69 00', 'B1030 ']
['ex 3825 90 90', 'B1031 ']
['ex 4115 20 00', 'B1120 ']
['ex 0502 90 00', 'B2100 ']
['ex 0511 99 10', 'B2110 ']
['ex 0511 99 85', 'ex 2620 99 95 A1020 ']
['ex 4302 20 00', 'A1050 ']
['ex 3825 69 00', 'A2020 ']
['ex 3825 90 90', 'A2030 ']
['ex 3915 10 00', 'A3090 ']
['ex 3915 20 00', 'AA060 ']
['ex 3915 30 00', 'B1030 ']
['ex 3915 90 11', 'B1031 ']
['ex 3915 90 80', 'B1100 ']
['ex 4004 00 00', 'B1120 ']
['ex 4017 00 00', 'B1220 ']
['ex 5202 10 00', 'B2010 ']
['ex 5202 91 00', 'B2100 ']
['ex 5202 99 00', 'B2110 ']
['ex 5505 10 10', 'ex 2621 10 00 A1080 ']
['ex 5505 10 30', 'A1090 ']
['ex 5505 10 50', 'A4100 ']
['ex 5505 10 70', 'Y47 29.7.2016 L 204/24 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 5505 10 90', 'ex 2621 90 00 A1020 ']
['ex 5505 20 00', 'A1030 ']
['ex 6310 90 00', 'A1080 ']
['ex 7001 00 10', 'A1090 ']
['ex 3808 91 40', 'A3090 ']
['ex 3808 92 90', 'A4100 ']
['ex 3808 93 27', 'B1031 ']
['ex 3808 93 30', 'B1070 ']
['ex 3808 93 90', 'B1100 ']
['ex 3808 94 90', 'B1220 ']
['ex 3808 99 10', 'B1240 ']
['ex 3808 99 90', 'B2040 ']
['ex 3824 90 92', 'B3100 ']
['ex 3824 90 93', 'GG030 ']
['ex 3825 61 00', 'GG040 ']
['ex 3825 90 90', 'ex 2706 00 00 A3190 ']
['ex 3814 00 90', 'ex 2707 91 00 A4040 ']
['ex 3824 90 92', 'ex 2707 99 80 A3070 ']
['ex 3825 49 00', 'ex 2710 19 83 AC070 ']
['ex 3814 00 90', 'ex 2710 99 00 A3010 ']
['ex 3824 90 92', 'A3020 ']
['ex 3825 41 00', 'ex 2710 99 00 A3030 ']
['ex 3824 90 93', 'A3070 ']
['ex 3825 61 00', 'A3180 ']
['ex 3825 90 90', 'A4040 29.7.2016 L 204/25 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3824 90 93', 'AC060 ']
['ex 3825 41 00', 'AC150 ']
['ex 3825 49 00', 'ex 2713 11 00 A3190 ']
['ex 3825 61 00', 'ex 2713 12 00 A3190 ']
['ex 2710 99 00', 'A3200 ']
['ex 3824 82 00', 'ex 2713 90 10 A3190 ']
['ex 3824 90 92', 'A3200 ']
['ex 3824 90 93', 'ex 2713 90 90 A3010 ']
['ex 3824 90 96', 'A3190 ']
['ex 3825 10 00', 'A3200 ']
['ex 3825 20 00', 'ex 2714 10 00 A3200 ']
['ex 3825 41 00', 'B2130 ']
['ex 3825 50 00', 'ex 2714 90 00 A3200 ']
['ex 3825 61 00', 'B2130 ']
['ex 3825 69 00', 'ex 2715 00 00 A3200 ']
['ex 3825 90 90', 'B2130 ']
['ex 2713 11 00', 'ex 2843 90 10 A1010 ']
['ex 2713 12 00', 'A1030 ']
['ex 2713 20 00', 'A4020 ']
['ex 2713 90 10', 'ex 2853 00 90 A1010 ']
['ex 2713 90 90', 'A1030 ']
['ex 3807 00 10', 'A4020 ']
['ex 3807 00 90', 'ex 29 A4140 ']
['ex 3825 61 00', 'ex 2903 71 00 AC150 ']
['ex 3825 90 90', 'ex 2903 72 00 AC150 29.7.2016 L 204/26 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2713 90 10', 'ex 2903 74 00 AC150 ']
['ex 2713 90 90', 'ex 2903 75 00 AC150 ']
['ex 2714 10 00', 'ex 2903 76 10 AC160 ']
['ex 2714 90 00', 'ex 2903 76 20 AC160 ']
['ex 2715 00 00', 'ex 2903 76 90 AC160 ']
['ex 3825 10 00', 'ex 2903 77 AC150 ']
['ex 3825 61 00', 'ex 2903 78 00 AC160 ']
['ex 3825 90 90', 'ex 2903 79 30 AC150 ']
['ex 3825 10 00', 'ex 2903 79 80 AC150 ']
['ex 3825 30 00', 'AC160 ']
['ex 3825 41 00', 'ex 3006 92 00 A4010 ']
['ex 3825 49 00', 'A4020 ']
['ex 3825 61 00', 'ex 3101 00 00 AC260 ']
['ex 3825 69 00', 'AC270 ']
['ex 3825 90 90', 'ex 3104 20 10 B2040 ']
['ex 2853 00 90', 'ex 3104 20 90 B2040 ']
['ex 3006 92 00', 'ex 3203 00 10 A4070 ']
['ex 3825 30 00', 'B3120 ']
['ex 3808 91 10', 'B3120 ']
['ex 3808 91 20', 'ex 3204 A4070 ']
['ex 3808 91 30', 'B3120 ']
['ex 3808 91 40', 'ex 3205 00 00 B3120 ']
['ex 3808 91 90', 'ex 3206 A4070 ']
['ex 3808 92 30', 'ex 3206 11 00 B3120 29.7.2016 L 204/27 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3808 92 40', 'ex 3206 19 00 B3120 ']
['ex 3808 92 50', 'ex 3206 49 10 B3120 ']
['ex 3808 92 60', 'ex 3206 49 70 B3120 ']
['ex 3808 92 90', 'ex 3207 10 00 A4070 ']
['ex 3808 93 11', 'B3120 ']
['ex 3808 93 13', 'ex 3207 20 10 A4070 ']
['ex 3808 93 15', 'ex 3207 20 90 A4070 ']
['ex 3808 93 17', 'ex 3207 30 00 A4070 ']
['ex 3808 93 21', 'ex 3207 40 40 AB030 ']
['ex 3808 93 23', 'ex 3207 40 85 AB030 ']
['ex 3808 93 27', 'ex 3208 A4070 ']
['ex 3808 93 30', 'ex 3208 10 A4040 ']
['ex 3808 93 90', 'ex 3208 20 A4040 ']
['ex 3808 99 10', 'ex 3208 90 19 A4040 ']
['ex 3808 99 90', 'ex 3208 90 91 A4040 ']
['ex 3825 61 00', 'ex 3208 90 99 A4040 ']
['ex 3825 69 00', 'ex 3209 A4070 ']
['ex 3825 90 90', 'ex 3209 10 00 B4010 ']
['ex 1515 19 10', 'ex 3210 A4070 ']
['ex 1518 00', 'ex 3210 00 10 AB030 ']
['ex 2706 00 00', 'B4010 ']
['ex 2707 91 00', 'ex 3210 00 90 AB030 ']
['ex 2710 99 00', 'B4010 ']
['ex 3208 10', 'ex 3212 10 00 A4070 ']
['ex 3208 20', 'ex 3212 90 00 A4070 ']
['ex 3208 90 19', 'AB030 ']
['ex 3208 90 91', 'ex 3213 A4070 ']
['ex 3208 90 99', 'ex 3213 10 00 B4010 ']
['ex 3808 50 00', 'ex 3213 90 00 B4010 29.7.2016 L 204/28 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3808 91 10', 'ex 3215 A4070 ']
['ex 3808 91 20', 'ex 3215 11 00 B4010 ']
['ex 3808 91 30', 'ex 3215 19 00 B4010 ']
['ex 3808 91 40', 'ex 3215 90 00 B4010 ']
['ex 3808 91 90', 'ex 3401 AC250 ']
['ex 3808 92 10', 'ex 3402 11 10 AC250 ']
['ex 3808 92 20', 'ex 3402 11 90 AC250 ']
['ex 3808 92 30', 'ex 3402 12 00 AC250 ']
['ex 3808 92 40', 'ex 3402 13 00 AC250 ']
['ex 3808 92 50', 'ex 3402 19 00 AC250 ']
['ex 3808 92 60', 'ex 3403 19 20 AC060 ']
['ex 3808 92 90', 'AC070 ']
['ex 3808 99 90', 'ex 3403 19 80 AC060 ']
['ex 3825 61 00', 'AC070 ']
['ex 3825 69 00', 'ex 3403 99 00 AC060 ']
['ex 3825 90 90', 'AC070 ']
['ex 3808 92 10', 'ex 3501 10 10 A3050 ']
['ex 3808 92 20', 'ex 3501 10 50 A3050 ']
['ex 3808 92 90', 'ex 3501 10 90 A3050 ']
['ex 3808 99 10', 'ex 3501 90 10 A3050 ']
['ex 3808 99 90', 'ex 3501 90 90 A3050 ']
['ex 3825 50 00', 'ex 3503 B4020 ']
['ex 3825 61 00', 'ex 3503 00 10 A3050 ']
['ex 3825 69 00', 'ex 3503 00 80 A3050 ']
['ex 3825 90 90', 'ex 3505 B4020 ']
['ex 3825 61 00', 'ex 3505 10 50 A3050 ']
['ex 3825 69 00', 'ex 3505 10 90 A3050 ']
['ex 3825 90 90', 'ex 3505 20 10 A3050 29.7.2016 L 204/29 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3203 00 90', 'ex 3505 20 50 A3050 ']
['ex 3204', 'ex 3505 20 90 A3050 ']
['ex 3206', 'ex 3506 B4020 ']
['ex 3207 10 00', 'ex 3506 10 00 A3050 ']
['ex 3207 20 10', 'ex 3506 91 00 A3050 ']
['ex 3207 20 90', 'ex 3506 99 00 A3050 ']
['ex 3207 30 00', 'ex 3601 A4080 ']
['ex 3208', 'ex 3602 A4080 ']
['ex 3209', 'ex 3603 A4080 ']
['ex 3210', 'ex 3604 A4080 ']
['ex 3212 10 00', 'ex 3606 A4080 ']
['ex 3212 90 00', 'ex 3802 10 00 A4160 ']
['ex 3213', 'ex 3802 90 00 A4160 ']
['ex 3215', 'B2060 ']
['ex 3825 61 00', 'ex 3807 00 10 A3190 ']
['ex 3825 69 00', 'ex 3807 00 90 A3190 ']
['ex 3825 90 90', 'ex 3808 50 00 A3130 ']
['ex 3602', 'A4040 ']
['ex 3603', 'ex 3808 91 10 A4030 ']
['ex 3604', 'A4040 ']
['ex 3606', 'ex 3808 91 20 A4030 ']
['ex 3825 61 00', 'A4040 ']
['ex 3825 69 00', 'A4110 ']
['ex 3825 90 90', 'ex 3808 91 30 A4030 ']
['ex 3825 61 00', 'ex 3808 91 40 A3130 ']
['ex 3825 69 00', 'A4030 ']
['ex 3825 90 90', 'A4040 29.7.2016 L 204/30 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2621 10 00', 'A4040 ']
['ex 2621 90 00', 'A4050 ']
['ex 3825 61 00', 'ex 3808 92 10 A4040 ']
['ex 3825 69 00', 'A4050 ']
['ex 3825 90 90', 'ex 3808 92 20 A4040 ']
['ex 6310 10 00', 'A4050 ']
['ex 6310 90 00', 'ex 3808 92 30 A4030 ']
['ex 3825 61 00', 'ex 3808 92 40 A4030 ']
['ex 3825 90 90', 'A4040 ']
['ex 3824 90 93', 'A4040 ']
['ex 3824 90 96', 'ex 3808 92 60 A4030 ']
['ex 3825 30 00', 'A4040 ']
['ex 3825 61 00', 'ex 3808 92 90 A3130 ']
['ex 3825 90 90', 'A4030 ']
['ex 3825 61 00', 'A4050 ']
['ex 3825 90 90', 'ex 3808 93 11 A4030 ']
['ex 3901', 'ex 3808 93 13 A4030 ']
['ex 3902', 'ex 3808 93 15 A4030 ']
['ex 3903', 'ex 3808 93 17 A4030 ']
['ex 3904', 'ex 3808 93 21 A4030 ']
['ex 3905', 'ex 3808 93 23 A4030 ']
['ex 3907', 'ex 3808 93 27 A3130 ']
['ex 3908', 'A4030 ']
['ex 3909', 'ex 3808 93 30 A3130 ']
['ex 3910', 'A4030 ']
['ex 3911', 'ex 3808 93 90 A3130 ']
['ex 3912', 'A4030 29.7.2016 L 204/31 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3913', 'ex 3808 94 90 A3130 ']
['ex 3915', 'ex 3808 99 10 A3130 ']
['ex 3915 10 00', 'A4030 ']
['ex 3915 20 00', 'A4050 ']
['ex 3915 30 00', 'ex 3808 99 90 A3130 ']
['ex 3915 90 11', 'A4030 ']
['ex 3915 90 80', 'A4040 ']
['ex 4401 39 80', 'A4050 ']
['ex 4707 90 10', 'ex 3813 00 00 AC160 ']
['ex 4707 90 90', 'ex 3814 00 10 A3140 ']
['ex 6310 10 00', 'A3150 ']
['ex 6310 90 00', 'ex 3814 00 90 A3140 ']
['ex 7001 00 10', 'A3150 ']
['ex 7204 21 10', 'ex 3815 11 00 GC050 ']
['ex 7204 21 90', 'ex 3815 12 00 GC050 ']
['ex 7204 29 00', 'ex 3815 19 90 GC050 ']
['ex 7204 30 00', 'ex 3815 90 90 GC050 ']
['ex 7204 49 30', 'ex 3819 00 00 AC060 ']
['ex 7204 49 90', 'AC070 ']
['ex 7602 00 11', 'ex 3820 00 00 A3040 ']
['ex 7602 00 19', 'AC080 ']
['ex 7602 00 90', 'ex 3824 A4090 ']
['ex 8002 00 00', 'ex 3824 71 00 AC160 ']
['ex 29', 'ex 3824 72 00 AC150 ']
['ex 3824 90 92', 'AC160 ']
['ex 3824 90 93', 'ex 3824 73 00 AC150 ']
['ex 3824 90 96', 'AC160 ']
['ex 3825 61 00', 'ex 3824 74 00 AC160 ']
['ex 3825 90 90', 'ex 3824 75 00 AC150 29.7.2016 L 204/32 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3824 90 93', 'ex 3824 76 00 AC150 ']
['ex 3824 90 96', 'AC160 ']
['ex 3825 61 00', 'ex 3824 77 00 AC150 ']
['ex 3825 90 90', 'AC160 ']
['ex 3802 90 00', 'AC160 ']
['ex 3825 61 00', 'ex 3824 82 00 A3180 ']
['ex 3825 90 90', 'ex 3824 90 15 AD120 ']
['ex 2619 00 90', 'A3130 ']
['ex 2620 60 00', 'A3170 ']
['ex 3207 40 40', 'A3180 ']
['ex 3207 40 85', 'A4120 ']
['ex 3210 00 10', 'A4140 ']

['ex 2501 00 99', 'ex 7115 90 00 GC050 ']
['ex 2503 00 10', 'ex 7204 10 00 A1190 ']
['ex 2503 00 90', 'B1010 ']
['ex 2521 00 00', 'B1040 29.7.2016 L 204/53 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2530 90 00', 'ex 7204 21 10 A1190 ']
['ex 2620 30 00', 'A4130 ']
['ex 2621 90 00', 'B1010 ']
['ex 3104 20 10', 'B1040 ']
['ex 3104 20 50', 'B1115 ']
['ex 3104 20 90', 'B1250 ']
['ex 3824 90 96', 'GC010 ']
['ex 3825 10 00', 'GC020 ']
['ex 3825 69 00', 'ex 7204 21 90 A1190 ']
['ex 3825 90 90', 'A4130 ']
['ex 6809 11 00', 'B1010 ']
['ex 6809 19 00', 'B1040 ']
['ex 7001 00 10', 'B1115 ']
['ex 3825 69 00', 'GC010 ']
['ex 3825 90 90', 'GC020 ']
['ex 3825 90 90', 'A4130 ']
['ex 2620 19 00', 'B1250 ']
['ex 2620 30 00', 'GC010 ']
['ex 2620 40 00', 'GC020 ']
['ex 2620 99 10', 'ex 7204 30 00 A1190 ']
['ex 2620 99 20', 'A4130 ']
['ex 2620 99 40', 'B1010 ']
['ex 2620 99 60', 'B1250 ']
['ex 2620 99 95', 'GC010 ']
['ex 3825 69 00', 'GC020 29.7.2016 L 204/54 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2620 19 00', 'ex 7204 41 91 A1190 ']
['ex 2620 21 00', 'B1010 ']
['ex 2620 29 00', 'ex 7204 41 99 A1190 ']
['ex 2620 30 00', 'B1010 ']
['ex 2620 40 00', 'ex 7204 49 10 A1190 ']
['ex 2620 60 00', 'B1010 ']
['ex 2620 91 00', 'B1115 ']
['ex 2620 99 10', 'ex 7204 49 30 A1190 ']
['ex 2620 99 20', 'A4130 ']
['ex 2620 99 40', 'B1010 ']
['ex 2620 99 60', 'B1115 ']
['ex 2620 99 95', 'GC010 ']
['ex 3825 69 00', 'GC020 ']
['ex 3825 90 90', 'ex 7204 49 90 A1190 ']
['ex 3825 90 90', 'B1010 ']
['ex 2714 10 00', 'B1040 ']
['ex 2714 90 00', 'B1115 ']
['ex 2715 00 00', 'B1250 ']
['ex 3825 10 00', 'GC010 ']
['ex 3825 90 90', 'GC020 ']
['ex 3825 61 00', 'B1010 ']
['ex 3825 90 90', 'ex 7217 90 20 A1190 ']
['ex 3901 10 10', 'B1115 ']
['ex 3901 10 90', 'ex 7217 90 50 A1190 ']
['ex 3901 20 10', 'B1115 29.7.2016 L 204/55 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3901 20 90', 'ex 7217 90 90 A1190 ']
['ex 3901 30 00', 'B1115 ']
['ex 3901 90 30', 'ex 7223 00 11 A1190 ']
['ex 3901 90 90', 'B1115 ']
['ex 3902 10 00', 'ex 7223 00 19 A1190 ']
['ex 3902 20 00', 'B1115 ']
['ex 3902 30 00', 'ex 7223 00 91 A1190 ']
['ex 3902 90 10', 'B1115 ']
['ex 3902 90 20', 'ex 7223 00 99 A1190 ']
['ex 3902 90 90', 'B1115 ']
['ex 3903 11 00', 'ex 7229 20 00 A1190 ']
['ex 3903 19 00', 'B1115 ']
['ex 3903 20 00', 'ex 7229 90 20 A1190 ']
['ex 3903 30 00', 'B1115 ']
['ex 3903 90 10', 'ex 7229 90 50 A1190 ']
['ex 3903 90 20', 'B1115 ']
['ex 3903 90 90', 'ex 7229 90 90 A1190 ']
['ex 3904 10 00', 'B1115 ']
['ex 3904 21 00', 'ex 7312 10 20 A1190 ']
['ex 3904 22 00', 'B1115 ']
['ex 3904 30 00', 'ex 7312 10 49 A1190 ']
['ex 3904 40 00', 'B1115 ']
['ex 3904 50 10', 'ex 7312 10 69 A1190 ']
['ex 3904 50 90', 'B1115 ']
['ex 3904 61 00', 'ex 7312 10 98 A1190 ']
['ex 3904 69 10', 'B1115 ']
['ex 3904 69 20', 'ex 7312 90 00 A1190 ']
['ex 3904 69 80', 'B1115 ']
['ex 3904 90 00', 'ex 7323 91 00 A1190 29.7.2016 L 204/56 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3905 12 00', 'ex 7323 92 00 A1190 ']
['ex 3907 20 99', 'ex 7323 93 00 A1190 ']
['ex 3907 30 00', 'ex 7323 94 00 A1190 ']
['ex 3907 40 00', 'ex 7323 99 00 A1190 ']
['ex 3907 50 00', 'ex 7404 00 10 A1190 ']
['ex 3907 60 20', 'B1010 ']
['ex 3907 60 80', 'B1050 ']
['ex 3907 70 00', 'B1070 ']
['ex 3907 91 10', 'B1115 ']
['ex 3907 91 90', 'B1120 ']
['ex 3907 99 10', 'GC010 ']
['ex 3907 99 90', 'GC020 ']
['ex 3908 10 00', 'ex 7404 00 91 A1190 ']
['ex 3908 90 00', 'B1010 ']
['ex 3909 10 00', 'B1050 ']
['ex 3909 20 00', 'B1070 ']
['ex 3909 30 00', 'B1115 ']
['ex 3909 40 00', 'B1120 ']
['ex 3909 50 10', 'GC010 ']
['ex 3909 50 90', 'GC020 ']
['ex 3910 00 00', 'ex 7404 00 99 A1190 ']
['ex 3911 10 00', 'B1010 ']
['ex 3911 90 11', 'B1050 ']
['ex 3911 90 13', 'B1070 ']
['ex 3911 90 19', 'B1115 ']
['ex 3911 90 92', 'B1120 ']
['ex 3911 90 99', 'GC010 ']
['ex 3912 11 00', 'GC020 ']
['ex 3912 12 00', 'ex 7405 00 00 B1070 29.7.2016 L 204/57 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3912 20 11', 'ex 7406 10 00 B1070 ']
['ex 3912 20 19', 'ex 7406 20 00 B1070 ']
['ex 3912 20 90', 'ex 7408 11 00 A1190 ']
['ex 3912 31 00', 'B1115 ']
['ex 3912 39 20', 'ex 7408 19 10 A1190 ']
['ex 3912 39 85', 'B1115 ']
['ex 3912 90 10', 'ex 7408 19 90 A1190 ']
['ex 3912 90 90', 'B1115 ']
['ex 3913 10 00', 'ex 7408 21 00 A1190 ']
['ex 3913 90 00', 'B1115 ']
['ex 3914 00 00', 'ex 7408 22 00 A1190 ']
['ex 3915 10 00', 'B1115 ']
['ex 3915 20 00', 'ex 7408 29 00 A1190 ']
['ex 3915 30 00', 'B1115 ']
['ex 3915 90 11', 'ex 7413 00 00 B1115 ']
['ex 3915 90 80', 'ex 7413 00 20 A1190 ']
['ex 4707 20 00', 'ex 7503 00 10 A1190 ']
['ex 4707 30 10', 'B1010 ']
['ex 4707 30 90', 'B1050 ']
['ex 4707 90 10', 'B1115 ']
['ex 4707 90 90', 'B1120 ']
['ex 4823 90 85', 'GC010 ']
['ex 7112 91 00', 'GC020 ']
['ex 7112 92 00', 'ex 7503 00 90 B1010 ']
['ex 7112 99 00', 'B1050 ']
['ex 5103 10 10', 'B1120 ']
['ex 5103 10 90', 'GC010 ']
['ex 5103 20 00', 'GC020 29.7.2016 L 204/58 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 5103 30 00', 'ex 7505 21 00 A1190 ']
['ex 5202 10 00', 'B1115 ']
['ex 5202 91 00', 'ex 7505 22 00 A1190 ']
['ex 5202 99 00', 'B1115 ']
['ex 5301 30 00', 'ex 7508 90 00 A1190 ']
['ex 5302 90 00', 'B1115 ']
['ex 5303 90 00', 'ex 7602 00 11 A4130 ']
['ex 5305 00 00', 'B1010 ']
['ex 5505 10 10', 'B1050 ']
['ex 5505 10 30', 'B1120 ']
['ex 5505 10 50', 'GC010 ']
['ex 5505 10 70', 'GC020 ']
['ex 5505 10 90', 'ex 7602 00 19 A1190 ']
['ex 5505 20 00', 'A4130 ']
['ex 6309 00 00', 'B1010 ']
['ex 6310 10 00', 'B1050 ']
['ex 6310 90 00', 'B1115 ']
['ex 5701 10 90', 'B1250 ']
['ex 5701 90 10', 'GC010 ']
['ex 5701 90 90', 'GC020 ']
['ex 5904 90 00', 'ex 7602 00 90 A1190 ']
['ex 6309 00 00', 'A4130 ']
['ex 3902 30 00', 'B1050 ']
['ex 3902 90 90', 'B1115 ']
['ex 3903 30 00', 'B1120 ']
['ex 3903 90 90', 'B1250 ']
['ex 3904 69 20', 'GC010 ']
['ex 3906 90 90', 'GC020 29.7.2016 L 204/59 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3910 00 00', 'ex 7614 10 00 A1190 ']
['ex 3911 90 13', 'B1115 ']
['ex 3915 10 00', 'ex 7614 90 00 A1190 ']
['ex 3915 20 00', 'B1115 ']
['ex 3915 90 80', 'ex 78 B1020 ']
['ex 4001 10 00', 'ex 7802 00 00 B1115 ']
['ex 4001 22 00', 'ex 7802 00 00 A1010 ']
['ex 4001 29 00', 'ex 7802 00 00 A1020 ']
['ex 4001 30 00', 'B1050 ']
['ex 4002', 'B1115 ']
['ex 4003', 'GC010 ']
['ex 4004 00 00', 'GC020 ']
['ex 4005 10 00', 'A1190 ']
['ex 4005 99 00', 'ex 7806 00 30 A1190 ']
['ex 4017 00 00', 'ex 7806 00 90 A1190 ']
['ex 6309 00 00', 'ex 7902 00 00 A1190 ']
['ex 4401 21 00', 'B1050 ']
['ex 4401 22 00', 'B1080 ']
['ex 4401 31 00', 'B1115 ']
['ex 4401 39 20', 'B1120 ']
['ex 4401 39 30', 'GC010 ']
['ex 4401 39 80', 'GC020 ']
['ex 4501 90 00', 'ex 7903 10 00 B1080 ']
['ex 0506 90 00', 'ex 7904 00 00 A1190 ']
['ex 0511 91 10', 'B1115 ']
['ex 1213 00 00', 'ex 7907 00 90 A1190 29.7.2016 L 204/60 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 1404 90 00', 'ex 8002 00 00 A1190 ']
['ex 1522 00 10', 'A4130 ']
['ex 1522 00 31', 'B1010 ']
['ex 1522 00 39', 'B1050 ']
['ex 1522 00 91', 'B1115 ']
['ex 1522 00 99', 'B1120 ']
['ex 1802 00 00', 'GC010 ']
['ex 2301 10 00', 'GC020 ']
['ex 2301 20 00', 'ex 8003 00 00 A1190 ']
['ex 2302', 'B1115 ']
['ex 2303', 'ex 8007 00 80 A1190 ']
['ex 2304 00 00', 'B1115 ']
['ex 2305 00 00', 'ex 8101 10 00 B1031 ']
['ex 2306', 'ex 8101 96 00 A1190 ']
['ex 2307 00 11', 'B1115 ']
['ex 2307 00 19', 'ex 8101 97 00 A1190 ']
['ex 2308 00 11', 'B1010 ']
['ex 2308 00 19', 'ex 8101 97 00 B1030 ']
['ex 2308 00 40', 'B1031 ']
['ex 2308 00 90', 'B1050 ']
['ex 2401 30 00', 'B1115 ']
['ex 3825 61 00', 'B1120 ']
['ex 3825 90 90', 'GC010 ']
['ex 1213 00 00', 'B1031 ']
['ex 2309 90 31', 'B1115 ']
['ex 2309 90 33', 'ex 8102 10 00 B1031 ']
['ex 2309 90 35', 'ex 8102 96 00 A1190 ']
['ex 2309 90 39', 'B1115 29.7.2016 L 204/61 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 2309 90 41', 'ex 8102 97 00 A1190 ']
['ex 2309 90 43', 'B1010 ']
['ex 2309 90 49', 'ex 8102 97 00 B1030 ']
['ex 2309 90 51', 'B1031 ']
['ex 2309 90 53', 'B1050 ']
['ex 2309 90 59', 'B1115 ']
['ex 2309 90 70', 'B1120 ']
['ex 2309 90 96', 'GC010 ']
['ex 4017 00 00', 'ex 8102 99 00 A1190 ']
['ex 3825 20 00', 'ex 8103 20 00 B1031 ']
['ex 3825 30 00', 'ex 8103 30 00 A1190 ']
['ex 3825 61 00', 'B1010 ']
['ex 3825 69 00', 'B1030 ']
['ex 3825 90 90', 'B1031 ']
['ex 4115 20 00', 'B1050 ']
['ex 0502 90 00', 'GC010 ']
['ex 0511 99 10', 'GC020 ']
['ex 0511 99 85', 'ex 8103 90 10 A1190 ']
['ex 4302 20 00', 'B1115 ']
['ex 3203 00 90', 'B1031 ']
['ex 3204', 'B1115 ']
['ex 3205 00 00', 'ex 8104 20 00 AA190 ']
['ex 3206 11 00', 'B1010 ']
['ex 3206 19 00', 'B1050 ']
['ex 3206 49 10', 'B1120 29.7.2016 L 204/62 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3206 49 70', ' GC010 ']
['ex 3207 10 00', 'GC020 ']
['ex 3825 61 00', 'ex 8105 30 00 B1010 ']
['ex 3825 90 90', 'B1050 ']
['ex 3825 49 00', 'GC010 ']
['ex 3825 69 00', 'GC020 ']
['ex 3825 90 90', 'ex 8106 00 10 B1010 ']
['ex 3907 10 00', 'B1050 ']
['ex 3907 20 11', 'B1120 ']
['ex 3907 20 20', 'GC010 ']
['ex 3907 20 91', 'GC020 ']
['ex 3907 20 99', 'ex 8107 20 00 B1020 ']
['ex 3907 30 00', 'ex 8107 30 00 A1010 ']
['ex 3915 90 80', 'A1020 ']
['ex 4011', 'B1020 ']
['ex 4012 11 00', 'B1050 ']
['ex 4012 12 00', 'ex 8107 90 00 A1190 ']
['ex 4012 13 00', 'B1020 ']
['ex 4012 19 00', 'ex 8108 20 00 B1031 ']
['ex 4012 20 00', 'ex 8108 30 00 A1190 ']
['ex 4017 00 00', 'B1010 ']
['ex 3209 90 00', 'B1031 ']
['ex 3210 00 10', 'B1050 ']
['ex 3210 00 90', 'B1115 ']
['ex 3213 10 00', 'B1120 ']
['ex 3213 90 00', 'GC010 ']
['ex 3215 11 00', 'GC020 29.7.2016 L 204/63 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 3215 19 00', 'ex 8108 90 30 A1190 ']
['ex 3215 90 00', 'B1115 ']
['ex 3825 61 00', 'ex 8108 90 90 A1190 ']
['ex 3825 69 00', 'B1031 ']
['ex 3825 90 90', 'B1115 ']
['ex 3503', 'GC020 ']
['ex 3505', 'ex 8109 30 00 B1010 ']
['ex 3506', 'B1030 ']
['ex 3825 61 00', 'B1050 ']
['ex 3825 69 00', 'B1120 ']
['ex 3825 90 90', 'ex 8110 10 00 B1020 ']
['ex 3915 10 00', 'ex 8110 20 00 A1010 ']
['ex 3915 20 00', 'A1020 ']
['ex 3915 30 00', 'ex 8110 20 00 B1020 ']
['ex 3915 90 11', 'B1050 ']
['ex 3915 90 80', 'GC010 ']
['ex 4004 00 00', 'GC020 ']
['ex 4017 00 00', 'ex 8110 90 00 B1020 ']
['ex 3915 20 00', 'B1050 ']
['ex 3915 30 00', 'B1120 ']
['ex 3915 90 11', 'GC010 ']
['ex 3915 90 80', 'GC020 ']
['ex 8548 10 10', 'ex 8112 12 00 B1020 ']
['ex 8548 10 29', 'ex 8112 13 00 A1010 ']
['ex 8548 10 99', 'A1020 ']
['ex 7112 91 00', 'B1050 29.7.2016 L 204/64 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 7112 92 00', ' B1120 ']
['ex 7112 99 00', 'GC010 ']
['ex 7112 92 00', 'ex 8112 19 00 B1020 ']
['ex 7112 99 00', 'ex 8112 22 00 B1010 ']
['ex 7204 21 10', 'B1030 ']
['ex 7204 21 90', 'B1050 ']
['ex 7204 29 00', 'B1120 ']
['ex 7204 30 00', 'GC010 ']
['ex 7204 49 30', 'GC020 ']
['ex 7204 49 90', 'ex 8112 52 00 A1010 ']
['ex 7404 00 10', 'A1030 ']
['ex 7404 00 91', 'B1050 ']
['ex 7404 00 99', 'B1120 ']
['ex 7503 00 10', 'GC010 ']
['ex 7503 00 90', 'GC020 ']
['ex 7602 00 11', 'ex 8112 92 10 B1010 ']
['ex 7602 00 19', 'B1030 ']
['ex 7602 00 90', 'B1050 ']
['ex 7802 00 00', 'B1120 ']
['ex 7902 00 00', 'GC010 ']
['ex 8002 00 00', 'GC020 ']
['ex 8101 97 00', 'ex 8112 92 21 B1010 ']
['ex 8102 97 00', 'B1030 ']
['ex 8103 30 00', 'ex 8112 92 21 B1031 ']
['ex 8104 20 00', 'B1050 ']
['ex 8105 30 00', 'B1120 ']
['ex 8106 00 10', 'GC010 ']
['ex 8108 30 00', 'GC020 ']
['ex 8109 00 30', 'ex 8112 92 31 B1031 29.7.2016 L 204/65 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 8110 20 00', 'ex 8113 00 20 B2030 ']
['ex 8111 00 19', 'ex 8113 00 40 B1050 ']
['ex 8112 13 00', 'B1120 ']
['ex 8112 22 00', 'B2030 ']
['ex 8112 52 00', 'ex 8427 10 10 B1250 ']
['ex 8112 92 10', 'ex 8427 10 90 B1250 ']
['ex 8112 92 21', 'ex 8427 20 11 B1250 ']
['ex 7112 92 00', 'ex 8427 20 90 B1250 ']
['ex 7112 99 00', 'ex 8427 90 00 B1250 ']
['ex 7204 21 10', 'ex 8433 11 10 B1250 ']
['ex 7204 21 90', 'ex 8433 11 51 B1250 ']
['ex 7204 29 00', 'ex 8433 19 10 B1250 ']
['ex 7204 30 00', 'ex 8433 19 51 B1250 ']
['ex 7204 49 30', 'ex 8433 20 10 B1250 ']
['ex 7204 49 90', 'ex 8433 30 00 B1250 ']
['ex 7404 00 10', 'ex 8433 51 00 B1250 ']
['ex 7404 00 91', 'ex 8433 53 10 B1250 ']
['ex 7404 00 99', 'ex 8433 53 30 B1250 ']
['ex 7503 00 10', 'ex 8433 53 90 B1250 ']
['ex 7503 00 90', 'ex 8433 59 11 B1250 ']
['ex 7602 00 11', 'ex 8433 59 19 B1250 ']
['ex 7602 00 19', 'ex 8433 59 85 B1250 ']
['ex 7602 00 90', 'ex 8436 80 10 B1250 ']
['ex 7802 00 00', 'ex 8473 10 00 B1250 ']
['ex 7902 00 00', 'ex 8479 10 00 B1250 ']
['ex 8002 00 00', 'ex 8479 89 97 B1250 ']
['ex 8101 97 00', 'ex 8497 89 97 B1250 29.7.2016 L 204/66 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 8102 97 00', 'ex 8548 10 10 A1160 ']
['ex 8103 30 00', 'A1170 ']
['ex 8104 20 00', 'B1090 ']
['ex 8105 30 00', 'B4030 ']
['ex 8106 00 10', 'ex 8548 10 21 A1160 ']
['ex 8108 30 00', 'A1170 ']
['ex 8109 00 30', 'ex 8548 10 29 A1170 ']
['ex 8110 20 00', 'B1090 ']
['ex 8111 00 19', 'B4030 ']
['ex 8112 13 00', 'ex 8548 10 91 A1160 ']
['ex 8112 22 00', 'A1170 ']
['ex 8112 52 00', 'ex 8548 10 99 A1170 ']
['ex 8112 92 10', 'B1090 ']
['ex 8112 92 21', 'B4030 ']
['ex 8548 90 90', 'ex 8548 90 90 GC020 ']
['ex 3815 12 00', 'ex 8701 30 00 B1250 ']
['ex 3815 19 90', 'ex 8701 90 50 B1250 ']
['ex 3815 90 90', 'ex 8701 90 90 B1250 ']
['ex 3825 69 00', 'ex 8702 10 19 B1250 ']
['ex 3825 90 90', 'ex 8702 10 99 B1250 ']
['ex 7110 11 00', 'ex 8702 90 19 B1250 ']
['ex 7110 19 10', 'ex 8702 90 39 B1250 ']
['ex 7110 19 80', 'ex 8702 90 90 B1250 ']
['ex 7112 92 00', 'ex 8703 10 11 B1250 ']
['ex 7112 99 00', 'ex 8703 10 18 B1250 ']
['ex 7115 10 00', 'ex 8703 21 90 B1250 ']
['ex 7115 90 00', 'ex 8703 22 90 B1250 29.7.2016 L 204/67 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']
['ex 7019 11 00', 'ex 8703 24 90 B1250 ']
['ex 7019 19 10', 'ex 8703 31 90 B1250 ']
['ex 7019 19 90', 'ex 8703 32 90 B1250 ']
['ex 7019 90 00', 'ex 8703 33 90 B1250 ']
['ex 6804 22 30', 'ex 8703 90 90 B1250 ']
['ex 69', 'ex 8704 10 10 B1250 ']
['ex 3904 21 00', 'ex 8704 22 99 B1250 ']
['ex 3904 22 00', 'ex 8704 23 99 B1250 ']
['ex 3904 30 00', 'ex 8704 31 39 B1250 ']
['ex 3904 40 00', 'ex 8704 31 99 B1250 ']
['ex 3915 30 00', 'ex 8704 32 99 B1250 ']
['ex 0502 90 00', 'ex 8705 B1250 ']
['ex 0505 10 90', 'ex 8709 19 10 B1250 ']
['ex 0505 90 00', 'ex 8709 19 90 B1250 ']
['ex 6806 10 00', 'ex 8711 B1250 ']
['ex 6806 90 00', 'ex 8713 90 00 B1250 29.7.2016 L 204/68 Official Jour nal of the European Union EN', '', ' Table A', 'Table B ']

In [194]:
column_1=""
column_2=""
column_3=""
column_4=""
p=1
for line in st.split('\n'):
    if g_new_ven.match(line) or h_new_ven.match(line):
        if g_new_ven.match(line):
            column_1=line.split(" ")[0]
            cl=line.split("  ")[0]
            try:
                column_2=cl.split(" ")[1] +" "+cl.split(" ")[2]+" "+cl.split(" ")[3]+" "+cl.split(" ")[4]
            except:
                column_2=cl.split(" ")[1] +" "+cl.split(" ")[2]
            cl1=line.split("  ")[1]
            if len(cl1.split(" "))>3 and len(cl1.split(" "))<10:
    #             print(len(cl1.split(" ")))
                try:
                    column_3=cl1.split(" ")[0]+" "+cl1.split(" ")[1]+" "+cl1.split(" ")[2]+" "+cl1.split(" ")[3]
                    column_4=cl1.split(" ")[4]
                except:
                    column_3=cl1.split(" ")[0]+" "+cl1.split(" ")[1]
                    column_4=cl1.split(" ")[2]
            else:
                column_4=cl1
        if h_new_ven.match(line):
            column_2=line.split("  ")[0]
            cl2=line.split("  ")[1]
            if h_new_ven.match(cl2):
                cl3=cl2
    #             print(cl3)
                try:
                    column_3=cl3.split(" ")[0]+" "+cl3.split(" ")[1]+" "+cl3.split(" ")[2]+" "+cl3.split(" ")[3]
                    column_4=cl3.split(" ")[4]
                except:
                    column_3=cl3.split(" ")[0]+" "+cl3.split(" ")[1]
                    column_4=cl3.split(" ")[2]
            else:
                if len(cl2)>10:
                    column_4=cl2.split(" ")[0]
                else:
                    column_4=cl2
        print(p)
        p=p+1
        
#         print(column_1)
#         print(column_2)
#         print(column_3)
#         print(column_4)
        Dic={'Column_1':column_1,'Column_2':column_2,'Column_3':column_3,'Column_4':column_4}
        gc = gc.append(Dic, ignore_index=True)
        print(gc)
            
        
        
            
                
            
#         column_3=line.split(" ")[3]+" "+line.split(" ")[4]
#         print(cl2)
#         print(column_1)
#         print(column_4)
        
#         if a_new_ven.match(line):

1
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4    A1010  ex 3825 69 00  ex 0502 10 00   GN010
5
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4    A1010  ex 3825 69 00  ex 0502 10 00   GN010
5    A1010  ex 3825 90 90  ex 0502 90 00    A3110
6
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4    A1010  ex 3825 69 00  ex 0502 10 00   GN010
5    A1010  ex 3825 90 90  ex 0502 90 00    A3110
6    A1010  ex 7112 91 00  ex 0502 90 00   B3110
7
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4    A1010  ex 3825 69 00  ex 0502 10 00   GN010
5    A1010  ex 3825 90 90  ex 0502 90 00    A3110
6    A1010  ex 7112 91 00  ex 0502 90 00   B3110
7    A1010  ex 7112 92 00  ex 0502 90 00   GN010
8
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4    A1010  ex 3825 69 00  ex 0502 10 00   GN010
5    A1010  ex 3825 90 90  ex 0502 90 00    A3110
6    A1010  ex 7112 91 00  ex 0502 90 00   B3110
7    A1010  ex 7112 92 00  ex 0502 90 00   GN010
8    A1010  ex 7112 99 00  ex 0505 10 10    GN030
9
  Column_1       Column_2       Column_3 Column_4
0      NaN            NaN            NaN      NaN
1    A1010  ex 2620 60 00  ex 0501 00 00    B3070
2    A1010  ex 2843 90 10  ex 0502 10 00    A3110
3    A1010  ex 2853 00 90  ex 0502 10 00   B3110
4    A1010  ex 3825 69 00  ex 0502 10 00   GN010
5    A1010  ex 3825 90 90  ex 0502 90 00    A3110
6    A1010  ex 7112 91 00  ex 0502 90 00   B3110
7    A1010  ex 7112 92 00  ex 0502 90 00   GN010
8    A1010  ex 7112 99 00  ex 0505 10 10    GN030
9    A1010  ex 7802 00 00  ex 0505 10 90    GN030
10
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19    A1020  ex 3825 69 00  ex 1213 00 00    B3060
20
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19    A1020  ex 3825 69 00  ex 1213 00 00    B3060
20    A1020  ex 3825 90 90  ex 1213 00 00   B3070
21
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19    A1020  ex 3825 69 00  ex 1213 00 00    B3060
20    A1020  ex 3825 90 90  ex 1213 00 00   B3070
21    A1020  ex 7112 91 00  ex 1404 90 00    B3060
22
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19    A1020  ex 3825 69 00  ex 1213 00 00    B3060
20    A1020  ex 3825 90 90  ex 1213 00 00   B3070
21    A1020  ex 7112 91 00  ex 1404 90 00    B3060
22    A1020  ex 7112 92 00          ex 15    B3065
23
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19    A1020  ex 3825 69 00  ex 1213 00 00    B3060
20    A1020  ex 3825 90 90  ex 1213 00 00   B3070
21    A1020  ex 7112 91 00  ex 1404 90 00    B3060
22    A1020  ex 7112 92 00          ex 15    B3065
23    A1020  ex 7112 99 00  ex 1515 11 00    A4040
24
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
5     A1010  ex 3825 90 90  ex 0502 90 00    A3110
6     A1010  ex 7112 91 00  ex 0502 90 00   B3110
7     A1010  ex 7112 92 00  ex 0502 90 00   GN010
8     A1010  ex 7112 99 00  ex 0505 10 10    GN030
9     A1010  ex 7802 00 00  ex 0505 10 90    GN030
10    A1010  ex 8107 30 00  ex 0505 90 00    GN030
11    A1010  ex 8110 20 00  ex 0506 10 00    B3060
12    A1010  ex 8112 13 00  ex 0506 90 00    B3060
13    A1010  ex 8112 52 00  ex 0511 91 10    B3060
14    A1020  ex 2620 29 00  ex 0511 99 10    A3110
15    A1020  ex 2620 91 00  ex 0511 99 10   B3110
16    A1020  ex 2620 99 95  ex 0511 99 85    A3110
17    A1020  ex 2621 90 00  ex 0511 99 85   B3110
18    A1020  ex 3825 20 00  ex 0511 99 85   GN020
19    A1020  ex 3825 69 00  ex 1213 00 00    B3060
20    A1020  ex 3825 90 90  ex 1213 00 00   B3070
21    A1020  ex 7112 91 00  ex 1404 90 00    B3060
22    A1020  ex 7112 92 00          ex 15    B3065
23    A1020  ex 7112 99 00  ex 1515 11 00    A4040
24    A1020  ex 7802 00 00  ex 1515 19 10    A4040
25
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110

   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46    A1050  ex 2620 91 00     ex 2309 90 33    B3070
47
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46    A1050  ex 2620 91 00     ex 2309 90 33    B3070
47    A1050  ex 2620 99 10     ex 2309 90 35    B3070
48
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46    A1050  ex 2620 91 00     ex 2309 90 33    B3070
47    A1050  ex 2620 99 10     ex 2309 90 35    B3070
48    A1050  ex 2620 99 20     ex 2309 90 39    B3070
49
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46    A1050  ex 2620 91 00     ex 2309 90 33    B3070
47    A1050  ex 2620 99 10     ex 2309 90 35    B3070
48    A1050  ex 2620 99 20     ex 2309 90 39    B3070
49    A1050  ex 2620 99 40     ex 2309 90 41    B3070
50
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46    A1050  ex 2620 91 00     ex 2309 90 33    B3070
47    A1050  ex 2620 99 10     ex 2309 90 35    B3070
48    A1050  ex 2620 99 20     ex 2309 90 39    B3070
49    A1050  ex 2620 99 40     ex 2309 90 41    B3070
50    A1050  ex 2620 99 60     ex 2309 90 43    B3070
51
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070
21    A1020  ex 7112 91 00     ex 1404 90 00    B3060
22    A1020  ex 7112 92 00             ex 15    B3065
23    A1020  ex 7112 99 00     ex 1515 11 00    A4040
24    A1020  ex 7802 00 00     ex 1515 19 10    A4040
25    A1020  ex 8107 30 00  ex 1518 00 A4040
26    A1020  ex 8110 20 00     ex 1522 00 10    B3060
27    A1020  ex 8112 13 00     ex 1522 00 31    B3060
28    A1030  ex 2620 60 00     ex 1522 00 39    B3060
29    A1030  ex 2621 90 00     ex 1522 00 91    B3060
30    A1030  ex 2843 90 10     ex 1522 00 99    B3060
31    A1030  ex 2853 00 90     ex 1802 00 00    B3060
32    A1030  ex 3825 20 00     ex 2301 10 00    B3060
33    A1030  ex 3825 69 00     ex 2301 20 00    B3060
34    A1030  ex 3825 90 90           ex 2302    B3060
35    A1030  ex 8112 52 00           ex 2303    B3060
36    A1040  ex 3825 20 00     ex 2304 00 00    B3060
37    A1040  ex 3825 50 00     ex 2305 00 00    B3060
38    A1040  ex 3825 61 00           ex 2306    B3060
39    A1040  ex 3825 69 00     ex 2307 00 11    B3060
40    A1040  ex 3825 90 90     ex 2307 00 19    B3060
41    A1050  ex 2620 19 00     ex 2308 00 11    B3060
42    A1050  ex 2620 29 00     ex 2308 00 19    B3060
43    A1050  ex 2620 30 00     ex 2308 00 40    B3060
44    A1050  ex 2620 40 00     ex 2308 00 90    B3060
45    A1050  ex 2620 60 00     ex 2309 90 31    B3070
46    A1050  ex 2620 91 00     ex 2309 90 33    B3070
47    A1050  ex 2620 99 10     ex 2309 90 35    B3070
48    A1050  ex 2620 99 20     ex 2309 90 39    B3070
49    A1050  ex 2620 99 40     ex 2309 90 41    B3070
50    A1050  ex 2620 99 60     ex 2309 90 43    B3070
51    A1050  ex 2620 99 95     ex 2309 90 49    B3070
52
   Column_1       Column_2          Column_3 Column_4
0       NaN            NaN               NaN      NaN
1     A1010  ex 2620 60 00     ex 0501 00 00    B3070
2     A1010  ex 2843 90 10     ex 0502 10 00    A3110
3     A1010  ex 2853 00 90     ex 0502 10 00   B3110
4     A1010  ex 3825 69 00     ex 0502 10 00   GN010
5     A1010  ex 3825 90 90     ex 0502 90 00    A3110
6     A1010  ex 7112 91 00     ex 0502 90 00   B3110
7     A1010  ex 7112 92 00     ex 0502 90 00   GN010
8     A1010  ex 7112 99 00     ex 0505 10 10    GN030
9     A1010  ex 7802 00 00     ex 0505 10 90    GN030
10    A1010  ex 8107 30 00     ex 0505 90 00    GN030
11    A1010  ex 8110 20 00     ex 0506 10 00    B3060
12    A1010  ex 8112 13 00     ex 0506 90 00    B3060
13    A1010  ex 8112 52 00     ex 0511 91 10    B3060
14    A1020  ex 2620 29 00     ex 0511 99 10    A3110
15    A1020  ex 2620 91 00     ex 0511 99 10   B3110
16    A1020  ex 2620 99 95     ex 0511 99 85    A3110
17    A1020  ex 2621 90 00     ex 0511 99 85   B3110
18    A1020  ex 3825 20 00     ex 0511 99 85   GN020
19    A1020  ex 3825 69 00     ex 1213 00 00    B3060
20    A1020  ex 3825 90 90     ex 1213 00 00   B3070

   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
58    A1070  ex 2604 00 00  ex 2501 00 31    B2010
59    A1070  ex 2605 00 00  ex 2501 00 31   B2040
60    A1070  ex 2606 00 00  ex 2501 00 51    B2010
61    A1070  ex 2607 00 00  ex 2501 00 51   B2040
62    A1070  ex 2608 00 00  ex 2501 00 99    B2010

[63 rows x 4 columns]
63
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
59    A1070  ex 2605 00 00  ex 2501 00 31   B2040
60    A1070  ex 2606 00 00  ex 2501 00 51    B2010
61    A1070  ex 2607 00 00  ex 2501 00 51   B2040
62    A1070  ex 2608 00 00  ex 2501 00 99    B2010
63    A1070  ex 2609 00 00  ex 2501 00 99   B2040

[64 rows x 4 columns]
64
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
60    A1070  ex 2606 00 00  ex 2501 00 51    B2010
61    A1070  ex 2607 00 00  ex 2501 00 51   B2040
62    A1070  ex 2608 00 00  ex 2501 00 99    B2010
63    A1070  ex 2609 00 00  ex 2501 00 99   B2040
64    A1070  ex 2610 00 00  ex 2502 00 00    B2010

[65 rows x 4 columns]
65
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
61    A1070  ex 2607 00 00  ex 2501 00 51   B2040
62    A1070  ex 2608 00 00  ex 2501 00 99    B2010
63    A1070  ex 2609 00 00  ex 2501 00 99   B2040
64    A1070  ex 2610 00 00  ex 2502 00 00    B2010
65    A1070  ex 2611 00 00  ex 2503 00 10    B2040

[66 rows x 4 columns]
66
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
62    A1070  ex 2608 00 00  ex 2501 00 99    B2010
63    A1070  ex 2609 00 00  ex 2501 00 99   B2040
64    A1070  ex 2610 00 00  ex 2502 00 00    B2010
65    A1070  ex 2611 00 00  ex 2503 00 10    B2040
66    A1070        ex 2612  ex 2503 00 90    B2040

[67 rows x 4 columns]
67
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
63    A1070  ex 2609 00 00  ex 2501 00 99   B2040
64    A1070  ex 2610 00 00  ex 2502 00 00    B2010
65    A1070  ex 2611 00 00  ex 2503 00 10    B2040
66    A1070        ex 2612  ex 2503 00 90    B2040
67    A1070        ex 2613  ex 2504 10 00    B2010

[68 rows x 4 columns]
68
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
64    A1070  ex 2610 00 00  ex 2502 00 00    B2010
65    A1070  ex 2611 00 00  ex 2503 00 10    B2040
66    A1070        ex 2612  ex 2503 00 90    B2040
67    A1070        ex 2613  ex 2504 10 00    B2010
68    A1070  ex 2614 00 00  ex 2504 90 00    B2010

[69 rows x 4 columns]
69
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
65    A1070  ex 2611 00 00  ex 2503 00 10    B2040
66    A1070        ex 2612  ex 2503 00 90    B2040
67    A1070        ex 2613  ex 2504 10 00    B2010
68    A1070  ex 2614 00 00  ex 2504 90 00    B2010
69    A1070        ex 2615  ex 2505 10 00    AB070

[70 rows x 4 columns]
70
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
66    A1070        ex 2612  ex 2503 00 90    B2040
67    A1070        ex 2613  ex 2504 10 00    B2010
68    A1070  ex 2614 00 00  ex 2504 90 00    B2010
69    A1070        ex 2615  ex 2505 10 00    AB070
70    A1070        ex 2616  ex 2505 90 00    AB070

[71 rows x 4 columns]
71
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
67    A1070        ex 2613  ex 2504 10 00    B2010
68    A1070  ex 2614 00 00  ex 2504 90 00    B2010
69    A1070        ex 2615  ex 2505 10 00    AB070
70    A1070        ex 2616  ex 2505 90 00    AB070
71    A1070        ex 2617  ex 2506 10 00    B2010

[72 rows x 4 columns]
72
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
68    A1070  ex 2614 00 00  ex 2504 90 00    B2010
69    A1070        ex 2615  ex 2505 10 00    AB070
70    A1070        ex 2616  ex 2505 90 00    AB070
71    A1070        ex 2617  ex 2506 10 00    B2010
72    A1070  ex 2620 19 00  ex 2506 20 00    B2010

[73 rows x 4 columns]
73
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
69    A1070        ex 2615  ex 2505 10 00    AB070
70    A1070        ex 2616  ex 2505 90 00    AB070
71    A1070        ex 2617  ex 2506 10 00    B2010
72    A1070  ex 2620 19 00  ex 2506 20 00    B2010
73    A1070  ex 3825 69 00  ex 2507 00 20    B2010

[74 rows x 4 columns]
74
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
70    A1070        ex 2616  ex 2505 90 00    AB070
71    A1070        ex 2617  ex 2506 10 00    B2010
72    A1070  ex 2620 19 00  ex 2506 20 00    B2010
73    A1070  ex 3825 69 00  ex 2507 00 20    B2010
74    A1070  ex 3825 90 90  ex 2507 00 80    B2010

[75 rows x 4 columns]
75
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
71    A1070        ex 2617  ex 2506 10 00    B2010
72    A1070  ex 2620 19 00  ex 2506 20 00    B2010
73    A1070  ex 3825 69 00  ex 2507 00 20    B2010
74    A1070  ex 3825 90 90  ex 2507 00 80    B2010
75    A1080        ex 2601  ex 2508 10 00    B2010

[76 rows x 4 columns]
76
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
72    A1070  ex 2620 19 00  ex 2506 20 00    B2010
73    A1070  ex 3825 69 00  ex 2507 00 20    B2010
74    A1070  ex 3825 90 90  ex 2507 00 80    B2010
75    A1080        ex 2601  ex 2508 10 00    B2010
76    A1080  ex 2602 00 00  ex 2508 30 00    B2010

[77 rows x 4 columns]
77
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
73    A1070  ex 3825 69 00  ex 2507 00 20    B2010
74    A1070  ex 3825 90 90  ex 2507 00 80    B2010
75    A1080        ex 2601  ex 2508 10 00    B2010
76    A1080  ex 2602 00 00  ex 2508 30 00    B2010
77    A1080  ex 2603 00 00  ex 2508 40 00    B2010

[78 rows x 4 columns]
78
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
74    A1070  ex 3825 90 90  ex 2507 00 80    B2010
75    A1080        ex 2601  ex 2508 10 00    B2010
76    A1080  ex 2602 00 00  ex 2508 30 00    B2010
77    A1080  ex 2603 00 00  ex 2508 40 00    B2010
78    A1080  ex 2604 00 00  ex 2508 50 00    B2010

[79 rows x 4 columns]
79
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
75    A1080        ex 2601  ex 2508 10 00    B2010
76    A1080  ex 2602 00 00  ex 2508 30 00    B2010
77    A1080  ex 2603 00 00  ex 2508 40 00    B2010
78    A1080  ex 2604 00 00  ex 2508 50 00    B2010
79    A1080  ex 2605 00 00  ex 2508 60 00    B2010

[80 rows x 4 columns]
80
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
76    A1080  ex 2602 00 00  ex 2508 30 00    B2010
77    A1080  ex 2603 00 00  ex 2508 40 00    B2010
78    A1080  ex 2604 00 00  ex 2508 50 00    B2010
79    A1080  ex 2605 00 00  ex 2508 60 00    B2010
80    A1080  ex 2606 00 00  ex 2508 70 00    B2010

[81 rows x 4 columns]
81
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
77    A1080  ex 2603 00 00  ex 2508 40 00    B2010
78    A1080  ex 2604 00 00  ex 2508 50 00    B2010
79    A1080  ex 2605 00 00  ex 2508 60 00    B2010
80    A1080  ex 2606 00 00  ex 2508 70 00    B2010
81    A1080  ex 2607 00 00  ex 2509 00 00    B2010

[82 rows x 4 columns]
82
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
78    A1080  ex 2604 00 00  ex 2508 50 00    B2010
79    A1080  ex 2605 00 00  ex 2508 60 00    B2010
80    A1080  ex 2606 00 00  ex 2508 70 00    B2010
81    A1080  ex 2607 00 00  ex 2509 00 00    B2010
82    A1080  ex 2608 00 00  ex 2510 10 00    B2010

[83 rows x 4 columns]
83
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
79    A1080  ex 2605 00 00  ex 2508 60 00    B2010
80    A1080  ex 2606 00 00  ex 2508 70 00    B2010
81    A1080  ex 2607 00 00  ex 2509 00 00    B2010
82    A1080  ex 2608 00 00  ex 2510 10 00    B2010
83    A1080  ex 2609 00 00  ex 2510 20 00    B2010

[84 rows x 4 columns]
84
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
80    A1080  ex 2606 00 00  ex 2508 70 00    B2010
81    A1080  ex 2607 00 00  ex 2509 00 00    B2010
82    A1080  ex 2608 00 00  ex 2510 10 00    B2010
83    A1080  ex 2609 00 00  ex 2510 20 00    B2010
84    A1080  ex 2610 00 00  ex 2511 10 00    B2010

[85 rows x 4 columns]
85
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
81    A1080  ex 2607 00 00  ex 2509 00 00    B2010
82    A1080  ex 2608 00 00  ex 2510 10 00    B2010
83    A1080  ex 2609 00 00  ex 2510 20 00    B2010
84    A1080  ex 2610 00 00  ex 2511 10 00    B2010
85    A1080  ex 2611 00 00  ex 2511 20 00    B2010

[86 rows x 4 columns]
86
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
82    A1080  ex 2608 00 00  ex 2510 10 00    B2010
83    A1080  ex 2609 00 00  ex 2510 20 00    B2010
84    A1080  ex 2610 00 00  ex 2511 10 00    B2010
85    A1080  ex 2611 00 00  ex 2511 20 00    B2010
86    A1080        ex 2612  ex 2512 00 00    B2010

[87 rows x 4 columns]
87
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
83    A1080  ex 2609 00 00  ex 2510 20 00    B2010
84    A1080  ex 2610 00 00  ex 2511 10 00    B2010
85    A1080  ex 2611 00 00  ex 2511 20 00    B2010
86    A1080        ex 2612  ex 2512 00 00    B2010
87    A1080        ex 2613  ex 2513 10 00    B2010

[88 rows x 4 columns]
88
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
84    A1080  ex 2610 00 00  ex 2511 10 00    B2010
85    A1080  ex 2611 00 00  ex 2511 20 00    B2010
86    A1080        ex 2612  ex 2512 00 00    B2010
87    A1080        ex 2613  ex 2513 10 00    B2010
88    A1080  ex 2614 00 00  ex 2513 20 00    B2010

[89 rows x 4 columns]
89
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
85    A1080  ex 2611 00 00  ex 2511 20 00    B2010
86    A1080        ex 2612  ex 2512 00 00    B2010
87    A1080        ex 2613  ex 2513 10 00    B2010
88    A1080  ex 2614 00 00  ex 2513 20 00    B2010
89    A1080        ex 2615  ex 2514 00 00    B2010

[90 rows x 4 columns]
90
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
86    A1080        ex 2612  ex 2512 00 00    B2010
87    A1080        ex 2613  ex 2513 10 00    B2010
88    A1080  ex 2614 00 00  ex 2513 20 00    B2010
89    A1080        ex 2615  ex 2514 00 00    B2010
90    A1080        ex 2616  ex 2515 11 00    B2010

[91 rows x 4 columns]
91
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
87    A1080        ex 2613  ex 2513 10 00    B2010
88    A1080  ex 2614 00 00  ex 2513 20 00    B2010
89    A1080        ex 2615  ex 2514 00 00    B2010
90    A1080        ex 2616  ex 2515 11 00    B2010
91    A1080        ex 2617  ex 2515 12 00    B2010

[92 rows x 4 columns]
92
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
88    A1080  ex 2614 00 00  ex 2513 20 00    B2010
89    A1080        ex 2615  ex 2514 00 00    B2010
90    A1080        ex 2616  ex 2515 11 00    B2010
91    A1080        ex 2617  ex 2515 12 00    B2010
92    A1080  ex 2620 19 00  ex 2515 20 00    B2010

[93 rows x 4 columns]
93
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
89    A1080        ex 2615  ex 2514 00 00    B2010
90    A1080        ex 2616  ex 2515 11 00    B2010
91    A1080        ex 2617  ex 2515 12 00    B2010
92    A1080  ex 2620 19 00  ex 2515 20 00    B2010
93    A1080  ex 2620 29 00  ex 2516 11 00    B2010

[94 rows x 4 columns]
94
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
90    A1080        ex 2616  ex 2515 11 00    B2010
91    A1080        ex 2617  ex 2515 12 00    B2010
92    A1080  ex 2620 19 00  ex 2515 20 00    B2010
93    A1080  ex 2620 29 00  ex 2516 11 00    B2010
94    A1080  ex 2620 91 00  ex 2516 12 00    B2010

[95 rows x 4 columns]
95
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
91    A1080        ex 2617  ex 2515 12 00    B2010
92    A1080  ex 2620 19 00  ex 2515 20 00    B2010
93    A1080  ex 2620 29 00  ex 2516 11 00    B2010
94    A1080  ex 2620 91 00  ex 2516 12 00    B2010
95    A1080  ex 2621 10 00  ex 2516 20 00    B2010

[96 rows x 4 columns]
96
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
92    A1080  ex 2620 19 00  ex 2515 20 00    B2010
93    A1080  ex 2620 29 00  ex 2516 11 00    B2010
94    A1080  ex 2620 91 00  ex 2516 12 00    B2010
95    A1080  ex 2621 10 00  ex 2516 20 00    B2010
96    A1080  ex 2621 90 00  ex 2516 90 00    B2010

[97 rows x 4 columns]
97
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
93    A1080  ex 2620 29 00  ex 2516 11 00    B2010
94    A1080  ex 2620 91 00  ex 2516 12 00    B2010
95    A1080  ex 2621 10 00  ex 2516 20 00    B2010
96    A1080  ex 2621 90 00  ex 2516 90 00    B2010
97    A1080  ex 3825 69 00  ex 2517 10 10    AB070

[98 rows x 4 columns]
98
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
94    A1080  ex 2620 91 00  ex 2516 12 00    B2010
95    A1080  ex 2621 10 00  ex 2516 20 00    B2010
96    A1080  ex 2621 90 00  ex 2516 90 00    B2010
97    A1080  ex 3825 69 00  ex 2517 10 10    AB070
98    A1080  ex 3825 90 90  ex 2517 10 10    B2010

[99 rows x 4 columns]
99
   Column_1       Column_2       Column_3 Column_4
0       NaN            NaN            NaN      NaN
1     A1010  ex 2620 60 00  ex 0501 00 00    B3070
2     A1010  ex 2843 90 10  ex 0502 10 00    A3110
3     A1010  ex 2853 00 90  ex 0502 10 00   B3110
4     A1010  ex 3825 69 00  ex 0502 10 00   GN010
..      ...            ...            ...      ...
95    A1080  ex 2621 10 00  ex 2516 20 00    B2010
96    A1080  ex 2621 90 00  ex 2516 90 00    B2010
97    A1080  ex 3825 69 00  ex 2517 10 10    AB070
98    A1080  ex 3825 90 90  ex 2517 10 10    B2010
99    A1090  ex 2620 30 00  ex 2517 10 20    AB070

[100 rows x 4 columns]
100
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
96     A1080  ex 2621 90 00  ex 2516 90 00    B2010
97     A1080  ex 3825 69 00  ex 2517 10 10    AB070
98     A1080  ex 3825 90 90  ex 2517 10 10    B2010
99     A1090  ex 2620 30 00  ex 2517 10 20    AB070
100    A1090  ex 2621 10 00  ex 2517 10 20   B2010

[101 rows x 4 columns]
101
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
97     A1080  ex 3825 69 00  ex 2517 10 10    AB070
98     A1080  ex 3825 90 90  ex 2517 10 10    B2010
99     A1090  ex 2620 30 00  ex 2517 10 20    AB070
100    A1090  ex 2621 10 00  ex 2517 10 20   B2010
101    A1090  ex 2621 90 00  ex 2517 10 80    AB070

[102 rows x 4 columns]
102
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
98     A1080  ex 3825 90 90  ex 2517 10 10    B2010
99     A1090  ex 2620 30 00  ex 2517 10 20    AB070
100    A1090  ex 2621 10 00  ex 2517 10 20   B2010
101    A1090  ex 2621 90 00  ex 2517 10 80    AB070
102    A1090  ex 3825 69 00  ex 2517 10 80   B2010

[103 rows x 4 columns]
103
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
99     A1090  ex 2620 30 00  ex 2517 10 20    AB070
100    A1090  ex 2621 10 00  ex 2517 10 20   B2010
101    A1090  ex 2621 90 00  ex 2517 10 80    AB070
102    A1090  ex 3825 69 00  ex 2517 10 80   B2010
103    A1090  ex 3825 90 90  ex 2517 20 00    AB070

[104 rows x 4 columns]
104
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
100    A1090  ex 2621 10 00  ex 2517 10 20   B2010
101    A1090  ex 2621 90 00  ex 2517 10 80    AB070
102    A1090  ex 3825 69 00  ex 2517 10 80   B2010
103    A1090  ex 3825 90 90  ex 2517 20 00    AB070
104    A1100  ex 2620 30 00  ex 2517 20 00   B2010

[105 rows x 4 columns]
105
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
101    A1090  ex 2621 90 00  ex 2517 10 80    AB070
102    A1090  ex 3825 69 00  ex 2517 10 80   B2010
103    A1090  ex 3825 90 90  ex 2517 20 00    AB070
104    A1100  ex 2620 30 00  ex 2517 20 00   B2010
105    A1100  ex 2621 90 00  ex 2517 20 00   B2130

[106 rows x 4 columns]
106
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
102    A1090  ex 3825 69 00  ex 2517 10 80   B2010
103    A1090  ex 3825 90 90  ex 2517 20 00    AB070
104    A1100  ex 2620 30 00  ex 2517 20 00   B2010
105    A1100  ex 2621 90 00  ex 2517 20 00   B2130
106    A1100  ex 3825 69 00  ex 2517 30 00    AB070

[107 rows x 4 columns]
107
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
103    A1090  ex 3825 90 90  ex 2517 20 00    AB070
104    A1100  ex 2620 30 00  ex 2517 20 00   B2010
105    A1100  ex 2621 90 00  ex 2517 20 00   B2130
106    A1100  ex 3825 69 00  ex 2517 30 00    AB070
107    A1100  ex 3825 90 90  ex 2517 30 00   B2010

[108 rows x 4 columns]
108
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
104    A1100  ex 2620 30 00  ex 2517 20 00   B2010
105    A1100  ex 2621 90 00  ex 2517 20 00   B2130
106    A1100  ex 3825 69 00  ex 2517 30 00    AB070
107    A1100  ex 3825 90 90  ex 2517 30 00   B2010
108    A1110  ex 2620 30 00  ex 2517 41 00    AB070

[109 rows x 4 columns]
109
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
105    A1100  ex 2621 90 00  ex 2517 20 00   B2130
106    A1100  ex 3825 69 00  ex 2517 30 00    AB070
107    A1100  ex 3825 90 90  ex 2517 30 00   B2010
108    A1110  ex 2620 30 00  ex 2517 41 00    AB070
109    A1110  ex 3825 69 00  ex 2517 41 00   B2010

[110 rows x 4 columns]
110
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
106    A1100  ex 3825 69 00  ex 2517 30 00    AB070
107    A1100  ex 3825 90 90  ex 2517 30 00   B2010
108    A1110  ex 2620 30 00  ex 2517 41 00    AB070
109    A1110  ex 3825 69 00  ex 2517 41 00   B2010
110    A1110  ex 3825 90 90  ex 2517 49 00    AB070

[111 rows x 4 columns]
111
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
107    A1100  ex 3825 90 90  ex 2517 30 00   B2010
108    A1110  ex 2620 30 00  ex 2517 41 00    AB070
109    A1110  ex 3825 69 00  ex 2517 41 00   B2010
110    A1110  ex 3825 90 90  ex 2517 49 00    AB070
111    A1120  ex 2620 30 00  ex 2517 49 00   B2010

[112 rows x 4 columns]
112
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
108    A1110  ex 2620 30 00  ex 2517 41 00    AB070
109    A1110  ex 3825 69 00  ex 2517 41 00   B2010
110    A1110  ex 3825 90 90  ex 2517 49 00    AB070
111    A1120  ex 2620 30 00  ex 2517 49 00   B2010
112    A1120  ex 3825 69 00  ex 2518 10 00    B2010

[113 rows x 4 columns]
113
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
109    A1110  ex 3825 69 00  ex 2517 41 00   B2010
110    A1110  ex 3825 90 90  ex 2517 49 00    AB070
111    A1120  ex 2620 30 00  ex 2517 49 00   B2010
112    A1120  ex 3825 69 00  ex 2518 10 00    B2010
113    A1120  ex 3825 90 90  ex 2518 20 00    B2010

[114 rows x 4 columns]
114
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
110    A1110  ex 3825 90 90  ex 2517 49 00    AB070
111    A1120  ex 2620 30 00  ex 2517 49 00   B2010
112    A1120  ex 3825 69 00  ex 2518 10 00    B2010
113    A1120  ex 3825 90 90  ex 2518 20 00    B2010
114    A1130  ex 2620 19 00  ex 2518 30 00    B2010

[115 rows x 4 columns]
115
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
111    A1120  ex 2620 30 00  ex 2517 49 00   B2010
112    A1120  ex 3825 69 00  ex 2518 10 00    B2010
113    A1120  ex 3825 90 90  ex 2518 20 00    B2010
114    A1130  ex 2620 19 00  ex 2518 30 00    B2010
115    A1130  ex 2620 29 00  ex 2519 10 00    B2010

[116 rows x 4 columns]
116
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
112    A1120  ex 3825 69 00  ex 2518 10 00    B2010
113    A1120  ex 3825 90 90  ex 2518 20 00    B2010
114    A1130  ex 2620 19 00  ex 2518 30 00    B2010
115    A1130  ex 2620 29 00  ex 2519 10 00    B2010
116    A1130  ex 2620 30 00  ex 2519 90 10    B2010

[117 rows x 4 columns]
117
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
113    A1120  ex 3825 90 90  ex 2518 20 00    B2010
114    A1130  ex 2620 19 00  ex 2518 30 00    B2010
115    A1130  ex 2620 29 00  ex 2519 10 00    B2010
116    A1130  ex 2620 30 00  ex 2519 90 10    B2010
117    A1130  ex 2620 40 00  ex 2519 90 30    B2010

[118 rows x 4 columns]
118
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
114    A1130  ex 2620 19 00  ex 2518 30 00    B2010
115    A1130  ex 2620 29 00  ex 2519 10 00    B2010
116    A1130  ex 2620 30 00  ex 2519 90 10    B2010
117    A1130  ex 2620 40 00  ex 2519 90 30    B2010
118    A1130  ex 2620 60 00  ex 2519 90 90    B2010

[119 rows x 4 columns]
119
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
115    A1130  ex 2620 29 00  ex 2519 10 00    B2010
116    A1130  ex 2620 30 00  ex 2519 90 10    B2010
117    A1130  ex 2620 40 00  ex 2519 90 30    B2010
118    A1130  ex 2620 60 00  ex 2519 90 90    B2010
119    A1130  ex 2620 91 00  ex 2520 10 00    B2010

[120 rows x 4 columns]
120
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
116    A1130  ex 2620 30 00  ex 2519 90 10    B2010
117    A1130  ex 2620 40 00  ex 2519 90 30    B2010
118    A1130  ex 2620 60 00  ex 2519 90 90    B2010
119    A1130  ex 2620 91 00  ex 2520 10 00    B2010
120    A1130  ex 2620 99 10  ex 2521 00 00    B2010

[121 rows x 4 columns]
121
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
117    A1130  ex 2620 40 00  ex 2519 90 30    B2010
118    A1130  ex 2620 60 00  ex 2519 90 90    B2010
119    A1130  ex 2620 91 00  ex 2520 10 00    B2010
120    A1130  ex 2620 99 10  ex 2521 00 00    B2010
121    A1130  ex 2620 99 20  ex 2521 00 00   B2040

[122 rows x 4 columns]
122

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
118    A1130  ex 2620 60 00  ex 2519 90 90    B2010
119    A1130  ex 2620 91 00  ex 2520 10 00    B2010
120    A1130  ex 2620 99 10  ex 2521 00 00    B2010
121    A1130  ex 2620 99 20  ex 2521 00 00   B2040
122    A1130  ex 2620 99 40  ex 2524 10 00    A2050

[123 rows x 4 columns]
123
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
119    A1130  ex 2620 91 00  ex 2520 10 00    B2010
120    A1130  ex 2620 99 10  ex 2521 00 00    B2010
121    A1130  ex 2620 99 20  ex 2521 00 00   B2040
122    A1130  ex 2620 99 40  ex 2524 10 00    A2050
123    A1130  ex 2620 99 60  ex 2524 90 00    A2050

[124 rows x 4 columns]
124
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
120    A1130  ex 2620 99 10  ex 2521 00 00    B2010
121    A1130  ex 2620 99 20  ex 2521 00 00   B2040
122    A1130  ex 2620 99 40  ex 2524 10 00    A2050
123    A1130  ex 2620 99 60  ex 2524 90 00    A2050
124    A1130  ex 2620 99 95  ex 2525 10 00    B2010

[125 rows x 4 columns]
125
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
121    A1130  ex 2620 99 20  ex 2521 00 00   B2040
122    A1130  ex 2620 99 40  ex 2524 10 00    A2050
123    A1130  ex 2620 99 60  ex 2524 90 00    A2050
124    A1130  ex 2620 99 95  ex 2525 10 00    B2010
125    A1130  ex 3825 69 00  ex 2525 20 00    B2010

[126 rows x 4 columns]
126
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
122    A1130  ex 2620 99 40  ex 2524 10 00    A2050
123    A1130  ex 2620 99 60  ex 2524 90 00    A2050
124    A1130  ex 2620 99 95  ex 2525 10 00    B2010
125    A1130  ex 3825 69 00  ex 2525 20 00    B2010
126    A1130  ex 3825 90 90  ex 2525 30 00    B2010

[127 rows x 4 columns]
127
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
123    A1130  ex 2620 99 60  ex 2524 90 00    A2050
124    A1130  ex 2620 99 95  ex 2525 10 00    B2010
125    A1130  ex 3825 69 00  ex 2525 20 00    B2010
126    A1130  ex 3825 90 90  ex 2525 30 00    B2010
127    A1140  ex 2620 30 00  ex 2526 10 00    B2010

[128 rows x 4 columns]
128
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
124    A1130  ex 2620 99 95  ex 2525 10 00    B2010
125    A1130  ex 3825 69 00  ex 2525 20 00    B2010
126    A1130  ex 3825 90 90  ex 2525 30 00    B2010
127    A1140  ex 2620 30 00  ex 2526 10 00    B2010
128    A1140  ex 3825 69 00  ex 2526 20 00    B2010

[129 rows x 4 columns]
129
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
125    A1130  ex 3825 69 00  ex 2525 20 00    B2010
126    A1130  ex 3825 90 90  ex 2525 30 00    B2010
127    A1140  ex 2620 30 00  ex 2526 10 00    B2010
128    A1140  ex 3825 69 00  ex 2526 20 00    B2010
129    A1140  ex 3825 90 90  ex 2528 10 00    B2010

[130 rows x 4 columns]
130
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
126    A1130  ex 3825 90 90  ex 2525 30 00    B2010
127    A1140  ex 2620 30 00  ex 2526 10 00    B2010
128    A1140  ex 3825 69 00  ex 2526 20 00    B2010
129    A1140  ex 3825 90 90  ex 2528 10 00    B2010
130    A1150  ex 7112 30 00  ex 2528 90 00    B2010

[131 rows x 4 columns]
131
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
127    A1140  ex 2620 30 00  ex 2526 10 00    B2010
128    A1140  ex 3825 69 00  ex 2526 20 00    B2010
129    A1140  ex 3825 90 90  ex 2528 10 00    B2010
130    A1150  ex 7112 30 00  ex 2528 90 00    B2010
131    A1160  ex 8548 10 10  ex 2529 10 00    B2010

[132 rows x 4 columns]
132
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
128    A1140  ex 3825 69 00  ex 2526 20 00    B2010
129    A1140  ex 3825 90 90  ex 2528 10 00    B2010
130    A1150  ex 7112 30 00  ex 2528 90 00    B2010
131    A1160  ex 8548 10 10  ex 2529 10 00    B2010
132    A1160  ex 8548 10 21  ex 2529 21 00    B2010

[133 rows x 4 columns]
133
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
129    A1140  ex 3825 90 90  ex 2528 10 00    B2010
130    A1150  ex 7112 30 00  ex 2528 90 00    B2010
131    A1160  ex 8548 10 10  ex 2529 10 00    B2010
132    A1160  ex 8548 10 21  ex 2529 21 00    B2010
133    A1160  ex 8548 10 91  ex 2529 22 00    B2010

[134 rows x 4 columns]
134
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
130    A1150  ex 7112 30 00  ex 2528 90 00    B2010
131    A1160  ex 8548 10 10  ex 2529 10 00    B2010
132    A1160  ex 8548 10 21  ex 2529 21 00    B2010
133    A1160  ex 8548 10 91  ex 2529 22 00    B2010
134    A1170  ex 8548 10 10  ex 2529 30 00    B2010

[135 rows x 4 columns]
135
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
131    A1160  ex 8548 10 10  ex 2529 10 00    B2010
132    A1160  ex 8548 10 21  ex 2529 21 00    B2010
133    A1160  ex 8548 10 91  ex 2529 22 00    B2010
134    A1170  ex 8548 10 10  ex 2529 30 00    B2010
135    A1170  ex 8548 10 21  ex 2530 10 00    B2010

[136 rows x 4 columns]
136
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
132    A1160  ex 8548 10 21  ex 2529 21 00    B2010
133    A1160  ex 8548 10 91  ex 2529 22 00    B2010
134    A1170  ex 8548 10 10  ex 2529 30 00    B2010
135    A1170  ex 8548 10 21  ex 2530 10 00    B2010
136    A1170  ex 8548 10 29  ex 2530 20 00    B2010

[137 rows x 4 columns]
137
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
133    A1160  ex 8548 10 91  ex 2529 22 00    B2010
134    A1170  ex 8548 10 10  ex 2529 30 00    B2010
135    A1170  ex 8548 10 21  ex 2530 10 00    B2010
136    A1170  ex 8548 10 29  ex 2530 20 00    B2010
137    A1170  ex 8548 10 91  ex 2530 90 00    A2050

[138 rows x 4 columns]
138
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
134    A1170  ex 8548 10 10  ex 2529 30 00    B2010
135    A1170  ex 8548 10 21  ex 2530 10 00    B2010
136    A1170  ex 8548 10 29  ex 2530 20 00    B2010
137    A1170  ex 8548 10 91  ex 2530 90 00    A2050
138    A1170  ex 8548 10 99  ex 2530 90 00   B2010

[139 rows x 4 columns]
139
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
135    A1170  ex 8548 10 21  ex 2530 10 00    B2010
136    A1170  ex 8548 10 29  ex 2530 20 00    B2010
137    A1170  ex 8548 10 91  ex 2530 90 00    A2050
138    A1170  ex 8548 10 99  ex 2530 90 00   B2010
139    A1190  ex 7204 10 00  ex 2530 90 00   B2030

[140 rows x 4 columns]
140
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
136    A1170  ex 8548 10 29  ex 2530 20 00    B2010
137    A1170  ex 8548 10 91  ex 2530 90 00    A2050
138    A1170  ex 8548 10 99  ex 2530 90 00   B2010
139    A1190  ex 7204 10 00  ex 2530 90 00   B2030
140    A1190  ex 7204 21 10  ex 2530 90 00   B2040

[141 rows x 4 columns]
141
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
137    A1170  ex 8548 10 91  ex 2530 90 00    A2050
138    A1170  ex 8548 10 99  ex 2530 90 00   B2010
139    A1190  ex 7204 10 00  ex 2530 90 00   B2030
140    A1190  ex 7204 21 10  ex 2530 90 00   B2040
141    A1190  ex 7204 21 90  ex 2530 90 00   GF010

[142 rows x 4 columns]
142
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
138    A1170  ex 8548 10 99  ex 2530 90 00   B2010
139    A1190  ex 7204 10 00  ex 2530 90 00   B2030
140    A1190  ex 7204 21 10  ex 2530 90 00   B2040
141    A1190  ex 7204 21 90  ex 2530 90 00   GF010
142    A1190  ex 7204 29 00        ex 2601    A1070

[143 rows x 4 columns]
143
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
139    A1190  ex 7204 10 00  ex 2530 90 00   B2030
140    A1190  ex 7204 21 10  ex 2530 90 00   B2040
141    A1190  ex 7204 21 90  ex 2530 90 00   GF010
142    A1190  ex 7204 29 00        ex 2601    A1070
143    A1190  ex 7204 30 00        ex 2601   A1080

[144 rows x 4 columns]
144
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
140    A1190  ex 7204 21 10  ex 2530 90 00   B2040
141    A1190  ex 7204 21 90  ex 2530 90 00   GF010
142    A1190  ex 7204 29 00        ex 2601    A1070
143    A1190  ex 7204 30 00        ex 2601   A1080
144    A1190  ex 7204 41 91  ex 2602 00 00    A1070

[145 rows x 4 columns]
145
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
141    A1190  ex 7204 21 90  ex 2530 90 00   GF010
142    A1190  ex 7204 29 00        ex 2601    A1070
143    A1190  ex 7204 30 00        ex 2601   A1080
144    A1190  ex 7204 41 91  ex 2602 00 00    A1070
145    A1190  ex 7204 41 99  ex 2602 00 00   A1080

[146 rows x 4 columns]
146
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
142    A1190  ex 7204 29 00        ex 2601    A1070
143    A1190  ex 7204 30 00        ex 2601   A1080
144    A1190  ex 7204 41 91  ex 2602 00 00    A1070
145    A1190  ex 7204 41 99  ex 2602 00 00   A1080
146    A1190  ex 7204 49 10  ex 2603 00 00    A1070

[147 rows x 4 columns]
147
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
143    A1190  ex 7204 30 00        ex 2601   A1080
144    A1190  ex 7204 41 91  ex 2602 00 00    A1070
145    A1190  ex 7204 41 99  ex 2602 00 00   A1080
146    A1190  ex 7204 49 10  ex 2603 00 00    A1070
147    A1190  ex 7204 49 30  ex 2603 00 00   A1080

[148 rows x 4 columns]
148
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
144    A1190  ex 7204 41 91  ex 2602 00 00    A1070
145    A1190  ex 7204 41 99  ex 2602 00 00   A1080
146    A1190  ex 7204 49 10  ex 2603 00 00    A1070
147    A1190  ex 7204 49 30  ex 2603 00 00   A1080
148    A1190  ex 7204 49 90  ex 2604 00 00    A1070

[149 rows x 4 columns]
149
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
145    A1190  ex 7204 41 99  ex 2602 00 00   A1080
146    A1190  ex 7204 49 10  ex 2603 00 00    A1070
147    A1190  ex 7204 49 30  ex 2603 00 00   A1080
148    A1190  ex 7204 49 90  ex 2604 00 00    A1070
149    A1190  ex 7204 50 00  ex 2604 00 00   A1080

[150 rows x 4 columns]
150
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
146    A1190  ex 7204 49 10  ex 2603 00 00    A1070
147    A1190  ex 7204 49 30  ex 2603 00 00   A1080
148    A1190  ex 7204 49 90  ex 2604 00 00    A1070
149    A1190  ex 7204 50 00  ex 2604 00 00   A1080
150    A1190  ex 7217 90 20  ex 2605 00 00    A1070

[151 rows x 4 columns]
151
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
147    A1190  ex 7204 49 30  ex 2603 00 00   A1080
148    A1190  ex 7204 49 90  ex 2604 00 00    A1070
149    A1190  ex 7204 50 00  ex 2604 00 00   A1080
150    A1190  ex 7217 90 20  ex 2605 00 00    A1070
151    A1190  ex 7217 90 50  ex 2605 00 00   A1080

[152 rows x 4 columns]
152
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
148    A1190  ex 7204 49 90  ex 2604 00 00    A1070
149    A1190  ex 7204 50 00  ex 2604 00 00   A1080
150    A1190  ex 7217 90 20  ex 2605 00 00    A1070
151    A1190  ex 7217 90 50  ex 2605 00 00   A1080
152    A1190  ex 7217 90 90  ex 2606 00 00    A1070

[153 rows x 4 columns]
153
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
149    A1190  ex 7204 50 00  ex 2604 00 00   A1080
150    A1190  ex 7217 90 20  ex 2605 00 00    A1070
151    A1190  ex 7217 90 50  ex 2605 00 00   A1080
152    A1190  ex 7217 90 90  ex 2606 00 00    A1070
153    A1190  ex 7223 00 11  ex 2606 00 00   A1080

[154 rows x 4 columns]
154
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
150    A1190  ex 7217 90 20  ex 2605 00 00    A1070
151    A1190  ex 7217 90 50  ex 2605 00 00   A1080
152    A1190  ex 7217 90 90  ex 2606 00 00    A1070
153    A1190  ex 7223 00 11  ex 2606 00 00   A1080
154    A1190  ex 7223 00 19  ex 2607 00 00    A1070

[155 rows x 4 columns]
155
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
151    A1190  ex 7217 90 50  ex 2605 00 00   A1080
152    A1190  ex 7217 90 90  ex 2606 00 00    A1070
153    A1190  ex 7223 00 11  ex 2606 00 00   A1080
154    A1190  ex 7223 00 19  ex 2607 00 00    A1070
155    A1190  ex 7223 00 91  ex 2607 00 00    A1080

[156 rows x 4 columns]
156
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
152    A1190  ex 7217 90 90  ex 2606 00 00    A1070
153    A1190  ex 7223 00 11  ex 2606 00 00   A1080
154    A1190  ex 7223 00 19  ex 2607 00 00    A1070
155    A1190  ex 7223 00 91  ex 2607 00 00    A1080
156    A1190  ex 7223 00 99  ex 2608 00 00    A1070

[157 rows x 4 columns]
157
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
153    A1190  ex 7223 00 11  ex 2606 00 00   A1080
154    A1190  ex 7223 00 19  ex 2607 00 00    A1070
155    A1190  ex 7223 00 91  ex 2607 00 00    A1080
156    A1190  ex 7223 00 99  ex 2608 00 00    A1070
157    A1190  ex 7229 20 00  ex 2608 00 00   A1080

[158 rows x 4 columns]
158
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
154    A1190  ex 7223 00 19  ex 2607 00 00    A1070
155    A1190  ex 7223 00 91  ex 2607 00 00    A1080
156    A1190  ex 7223 00 99  ex 2608 00 00    A1070
157    A1190  ex 7229 20 00  ex 2608 00 00   A1080
158    A1190  ex 7229 90 20  ex 2609 00 00    A1070

[159 rows x 4 columns]
159
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
155    A1190  ex 7223 00 91  ex 2607 00 00    A1080
156    A1190  ex 7223 00 99  ex 2608 00 00    A1070
157    A1190  ex 7229 20 00  ex 2608 00 00   A1080
158    A1190  ex 7229 90 20  ex 2609 00 00    A1070
159    A1190  ex 7229 90 50  ex 2609 00 00   A1080

[160 rows x 4 columns]
160
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
156    A1190  ex 7223 00 99  ex 2608 00 00    A1070
157    A1190  ex 7229 20 00  ex 2608 00 00   A1080
158    A1190  ex 7229 90 20  ex 2609 00 00    A1070
159    A1190  ex 7229 90 50  ex 2609 00 00   A1080
160    A1190  ex 7229 90 90  ex 2610 00 00    A1070

[161 rows x 4 columns]
161
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
157    A1190  ex 7229 20 00  ex 2608 00 00   A1080
158    A1190  ex 7229 90 20  ex 2609 00 00    A1070
159    A1190  ex 7229 90 50  ex 2609 00 00   A1080
160    A1190  ex 7229 90 90  ex 2610 00 00    A1070
161    A1190  ex 7312 10 20  ex 2610 00 00   A1080

[162 rows x 4 columns]
162
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
158    A1190  ex 7229 90 20  ex 2609 00 00    A1070
159    A1190  ex 7229 90 50  ex 2609 00 00   A1080
160    A1190  ex 7229 90 90  ex 2610 00 00    A1070
161    A1190  ex 7312 10 20  ex 2610 00 00   A1080
162    A1190  ex 7312 10 49  ex 2611 00 00    A1070

[163 rows x 4 columns]
163
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
159    A1190  ex 7229 90 50  ex 2609 00 00   A1080
160    A1190  ex 7229 90 90  ex 2610 00 00    A1070
161    A1190  ex 7312 10 20  ex 2610 00 00   A1080
162    A1190  ex 7312 10 49  ex 2611 00 00    A1070
163    A1190  ex 7312 10 69  ex 2611 00 00   A1080

[164 rows x 4 columns]
164
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
160    A1190  ex 7229 90 90  ex 2610 00 00    A1070
161    A1190  ex 7312 10 20  ex 2610 00 00   A1080
162    A1190  ex 7312 10 49  ex 2611 00 00    A1070
163    A1190  ex 7312 10 69  ex 2611 00 00   A1080
164    A1190  ex 7312 10 98        ex 2612    A1070

[165 rows x 4 columns]
165
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
161    A1190  ex 7312 10 20  ex 2610 00 00   A1080
162    A1190  ex 7312 10 49  ex 2611 00 00    A1070
163    A1190  ex 7312 10 69  ex 2611 00 00   A1080
164    A1190  ex 7312 10 98        ex 2612    A1070
165    A1190  ex 7312 90 00        ex 2612   A1080

[166 rows x 4 columns]
166
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
162    A1190  ex 7312 10 49  ex 2611 00 00    A1070
163    A1190  ex 7312 10 69  ex 2611 00 00   A1080
164    A1190  ex 7312 10 98        ex 2612    A1070
165    A1190  ex 7312 90 00        ex 2612   A1080
166    A1190  ex 7323 91 00        ex 2613    A1070

[167 rows x 4 columns]
167
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
163    A1190  ex 7312 10 69  ex 2611 00 00   A1080
164    A1190  ex 7312 10 98        ex 2612    A1070
165    A1190  ex 7312 90 00        ex 2612   A1080
166    A1190  ex 7323 91 00        ex 2613    A1070
167    A1190  ex 7323 92 00        ex 2613   A1080

[168 rows x 4 columns]
168
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
164    A1190  ex 7312 10 98        ex 2612    A1070
165    A1190  ex 7312 90 00        ex 2612   A1080
166    A1190  ex 7323 91 00        ex 2613    A1070
167    A1190  ex 7323 92 00        ex 2613   A1080
168    A1190  ex 7323 93 00  ex 2614 00 00    A1070

[169 rows x 4 columns]
169
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
165    A1190  ex 7312 90 00        ex 2612   A1080
166    A1190  ex 7323 91 00        ex 2613    A1070
167    A1190  ex 7323 92 00        ex 2613   A1080
168    A1190  ex 7323 93 00  ex 2614 00 00    A1070
169    A1190  ex 7323 94 00  ex 2614 00 00   A1080

[170 rows x 4 columns]
170
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
166    A1190  ex 7323 91 00        ex 2613    A1070
167    A1190  ex 7323 92 00        ex 2613   A1080
168    A1190  ex 7323 93 00  ex 2614 00 00    A1070
169    A1190  ex 7323 94 00  ex 2614 00 00   A1080
170    A1190  ex 7323 99 00        ex 2615    A1070

[171 rows x 4 columns]
171
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
167    A1190  ex 7323 92 00        ex 2613   A1080
168    A1190  ex 7323 93 00  ex 2614 00 00    A1070
169    A1190  ex 7323 94 00  ex 2614 00 00   A1080
170    A1190  ex 7323 99 00        ex 2615    A1070
171    A1190  ex 7404 00 10        ex 2615   A1080

[172 rows x 4 columns]
172
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
168    A1190  ex 7323 93 00  ex 2614 00 00    A1070
169    A1190  ex 7323 94 00  ex 2614 00 00   A1080
170    A1190  ex 7323 99 00        ex 2615    A1070
171    A1190  ex 7404 00 10        ex 2615   A1080
172    A1190  ex 7404 00 91        ex 2616    A1070

[173 rows x 4 columns]
173
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
169    A1190  ex 7323 94 00  ex 2614 00 00   A1080
170    A1190  ex 7323 99 00        ex 2615    A1070
171    A1190  ex 7404 00 10        ex 2615   A1080
172    A1190  ex 7404 00 91        ex 2616    A1070
173    A1190  ex 7404 00 99        ex 2616   A1080

[174 rows x 4 columns]
174
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
170    A1190  ex 7323 99 00        ex 2615    A1070
171    A1190  ex 7404 00 10        ex 2615   A1080
172    A1190  ex 7404 00 91        ex 2616    A1070
173    A1190  ex 7404 00 99        ex 2616   A1080
174    A1190  ex 7408 11 00        ex 2617    A1070

[175 rows x 4 columns]
175
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
171    A1190  ex 7404 00 10        ex 2615   A1080
172    A1190  ex 7404 00 91        ex 2616    A1070
173    A1190  ex 7404 00 99        ex 2616   A1080
174    A1190  ex 7408 11 00        ex 2617    A1070
175    A1190  ex 7408 19 10        ex 2617   A1080

[176 rows x 4 columns]
176
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
172    A1190  ex 7404 00 91        ex 2616    A1070
173    A1190  ex 7404 00 99        ex 2616   A1080
174    A1190  ex 7408 11 00        ex 2617    A1070
175    A1190  ex 7408 19 10        ex 2617   A1080
176    A1190  ex 7408 19 90  ex 2618 00 00    AB070

[177 rows x 4 columns]
177
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
173    A1190  ex 7404 00 99        ex 2616   A1080
174    A1190  ex 7408 11 00        ex 2617    A1070
175    A1190  ex 7408 19 10        ex 2617   A1080
176    A1190  ex 7408 19 90  ex 2618 00 00    AB070
177    A1190  ex 7408 21 00  ex 2618 00 00   B1200

[178 rows x 4 columns]
178
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
174    A1190  ex 7408 11 00        ex 2617    A1070
175    A1190  ex 7408 19 10        ex 2617   A1080
176    A1190  ex 7408 19 90  ex 2618 00 00    AB070
177    A1190  ex 7408 21 00  ex 2618 00 00   B1200
178    A1190  ex 7408 22 00  ex 2619 00 20    AA010

[179 rows x 4 columns]
179
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
175    A1190  ex 7408 19 10        ex 2617   A1080
176    A1190  ex 7408 19 90  ex 2618 00 00    AB070
177    A1190  ex 7408 21 00  ex 2618 00 00   B1200
178    A1190  ex 7408 22 00  ex 2619 00 20    AA010
179    A1190  ex 7408 29 00  ex 2619 00 20   B1210

[180 rows x 4 columns]
180
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
176    A1190  ex 7408 19 90  ex 2618 00 00    AB070
177    A1190  ex 7408 21 00  ex 2618 00 00   B1200
178    A1190  ex 7408 22 00  ex 2619 00 20    AA010
179    A1190  ex 7408 29 00  ex 2619 00 20   B1210
180    A1190  ex 7413 00 20  ex 2619 00 20   B1230

[181 rows x 4 columns]
181
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
177    A1190  ex 7408 21 00  ex 2618 00 00   B1200
178    A1190  ex 7408 22 00  ex 2619 00 20    AA010
179    A1190  ex 7408 29 00  ex 2619 00 20   B1210
180    A1190  ex 7413 00 20  ex 2619 00 20   B1230
181    A1190  ex 7413 00 80  ex 2619 00 90    AA010

[182 rows x 4 columns]
182
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
178    A1190  ex 7408 22 00  ex 2619 00 20    AA010
179    A1190  ex 7408 29 00  ex 2619 00 20   B1210
180    A1190  ex 7413 00 20  ex 2619 00 20   B1230
181    A1190  ex 7413 00 80  ex 2619 00 90    AA010
182    A1190  ex 7503 00 10  ex 2619 00 90   B1210

[183 rows x 4 columns]
183
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
179    A1190  ex 7408 29 00  ex 2619 00 20   B1210
180    A1190  ex 7413 00 20  ex 2619 00 20   B1230
181    A1190  ex 7413 00 80  ex 2619 00 90    AA010
182    A1190  ex 7503 00 10  ex 2619 00 90   B1210
183    A1190  ex 7505 21 00  ex 2619 00 90   B1230

[184 rows x 4 columns]
184
    Column_1       Column_2                 Column_3 Column_4
0        NaN            NaN                      NaN      NaN
1      A1010  ex 2620 60 00            ex 0501 00 00    B3070
2      A1010  ex 2843 90 10            ex 0502 10 00    A3110
3      A1010  ex 2853 00 90            ex 0502 10 00   B3110
4      A1010  ex 3825 69 00            ex 0502 10 00   GN010
..       ...            ...                      ...      ...
180    A1190  ex 7413 00 20            ex 2619 00 20   B1230
181    A1190  ex 7413 00 80            ex 2619 00 90    AA010
182    A1190  ex 7503 00 10            ex 2619 00 90   B1210
183    A1190  ex 7505 21 00            ex 2619 00 90   B1230
184    A1190  ex 7505 22 00  ex 2620 A4100 29.7.2016        L

[185 rows x 4 columns]
185
    Column_1       Column_2                 Column_3 Column_4
0        NaN            NaN                      NaN      NaN
1      A1010  ex 2620 60 00            ex 0501 00 00    B3070
2      A1010  ex 2843 90 10            ex 0502 10 00    A3110
3      A1010  ex 2853 00 90            ex 0502 10 00   B3110
4      A1010  ex 3825 69 00            ex 0502 10 00   GN010
..       ...            ...                      ...      ...
181    A1190  ex 7413 00 80            ex 2619 00 90    AA010
182    A1190  ex 7503 00 10            ex 2619 00 90   B1210
183    A1190  ex 7505 21 00            ex 2619 00 90   B1230
184    A1190  ex 7505 22 00  ex 2620 A4100 29.7.2016        L
185    A1190  ex 7508 90 00            ex 2620 11 00    B1100

[186 rows x 4 columns]
186
    Column_1       Column_2                 Column_3 Column_4
0        NaN            NaN                      NaN      NaN
1      A1010  ex 2620 60 00            ex 0501 00 00    B3070
2      A1010  ex 2843 90 10            ex 0502 10 00    A3110
3      A1010  ex 2853 00 90            ex 0502 10 00   B3110
4      A1010  ex 3825 69 00            ex 0502 10 00   GN010
..       ...            ...                      ...      ...
182    A1190  ex 7503 00 10            ex 2619 00 90   B1210
183    A1190  ex 7505 21 00            ex 2619 00 90   B1230
184    A1190  ex 7505 22 00  ex 2620 A4100 29.7.2016        L
185    A1190  ex 7508 90 00            ex 2620 11 00    B1100
186    A1190  ex 7602 00 19            ex 2620 11 00   B1220

[187 rows x 4 columns]
187
    Column_1       Column_2                 Column_3 Column_4
0        NaN            NaN                      NaN      NaN
1      A1010  ex 2620 60 00            ex 0501 00 00    B3070
2      A1010  ex 2843 90 10            ex 0502 10 00    A3110
3      A1010  ex 2853 00 90            ex 0502 10 00   B3110
4      A1010  ex 3825 69 00            ex 0502 10 00   GN010
..       ...            ...                      ...      ...
183    A1190  ex 7505 21 00            ex 2619 00 90   B1230
184    A1190  ex 7505 22 00  ex 2620 A4100 29.7.2016        L
185    A1190  ex 7508 90 00            ex 2620 11 00    B1100
186    A1190  ex 7602 00 19            ex 2620 11 00   B1220
187    A1190  ex 7602 00 90            ex 2620 11 00   B2010

[188 rows x 4 columns]
188
    Column_1       Column_2                 Column_3 Column_4
0        NaN            NaN                      NaN      NaN
1      A1010  ex 2620 60 00            ex 0501 00 00    B3070
2      A1010  ex 2843 90 10            ex 0502 10 00    A3110
3      A1010  ex 2853 00 90            ex 0502 10 00   B3110
4      A1010  ex 3825 69 00            ex 0502 10 00   GN010
..       ...            ...                      ...      ...
184    A1190  ex 7505 22 00  ex 2620 A4100 29.7.2016        L
185    A1190  ex 7508 90 00            ex 2620 11 00    B1100
186    A1190  ex 7602 00 19            ex 2620 11 00   B1220
187    A1190  ex 7602 00 90            ex 2620 11 00   B2010
188    A1190  ex 7614 10 00            ex 2620 11 00   B2100

[189 rows x 4 columns]
189
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
185    A1190  ex 7508 90 00  ex 2620 11 00    B1100
186    A1190  ex 7602 00 19  ex 2620 11 00   B1220
187    A1190  ex 7602 00 90  ex 2620 11 00   B2010
188    A1190  ex 7614 10 00  ex 2620 11 00   B2100
189    A1190  ex 7614 90 00  ex 2620 11 00   B2110

[190 rows x 4 columns]
190
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
186    A1190  ex 7602 00 19  ex 2620 11 00   B1220
187    A1190  ex 7602 00 90  ex 2620 11 00   B2010
188    A1190  ex 7614 10 00  ex 2620 11 00   B2100
189    A1190  ex 7614 90 00  ex 2620 11 00   B2110
190    A1190  ex 7802 00 00  ex 2620 19 00    A1050

[191 rows x 4 columns]
191
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
187    A1190  ex 7602 00 90  ex 2620 11 00   B2010
188    A1190  ex 7614 10 00  ex 2620 11 00   B2100
189    A1190  ex 7614 90 00  ex 2620 11 00   B2110
190    A1190  ex 7802 00 00  ex 2620 19 00    A1050
191    A1190  ex 7806 00 30  ex 2620 19 00   A1070

[192 rows x 4 columns]
192
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
188    A1190  ex 7614 10 00  ex 2620 11 00   B2100
189    A1190  ex 7614 90 00  ex 2620 11 00   B2110
190    A1190  ex 7802 00 00  ex 2620 19 00    A1050
191    A1190  ex 7806 00 30  ex 2620 19 00   A1070
192    A1190  ex 7806 00 90  ex 2620 19 00   A1080

[193 rows x 4 columns]
193
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
189    A1190  ex 7614 90 00  ex 2620 11 00   B2110
190    A1190  ex 7802 00 00  ex 2620 19 00    A1050
191    A1190  ex 7806 00 30  ex 2620 19 00   A1070
192    A1190  ex 7806 00 90  ex 2620 19 00   A1080
193    A1190  ex 7902 00 00  ex 2620 19 00    A1130

[194 rows x 4 columns]
194
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
190    A1190  ex 7802 00 00  ex 2620 19 00    A1050
191    A1190  ex 7806 00 30  ex 2620 19 00   A1070
192    A1190  ex 7806 00 90  ex 2620 19 00   A1080
193    A1190  ex 7902 00 00  ex 2620 19 00    A1130
194    A1190  ex 7904 00 00  ex 2620 19 00   A2020

[195 rows x 4 columns]
195
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
191    A1190  ex 7806 00 30  ex 2620 19 00   A1070
192    A1190  ex 7806 00 90  ex 2620 19 00   A1080
193    A1190  ex 7902 00 00  ex 2620 19 00    A1130
194    A1190  ex 7904 00 00  ex 2620 19 00   A2020
195    A1190  ex 7907 00 90  ex 2620 19 00   A2030

[196 rows x 4 columns]
196
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
192    A1190  ex 7806 00 90  ex 2620 19 00   A1080
193    A1190  ex 7902 00 00  ex 2620 19 00    A1130
194    A1190  ex 7904 00 00  ex 2620 19 00   A2020
195    A1190  ex 7907 00 90  ex 2620 19 00   A2030
196    A1190  ex 8002 00 00  ex 2620 19 00   B1080

[197 rows x 4 columns]
197
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
193    A1190  ex 7902 00 00  ex 2620 19 00    A1130
194    A1190  ex 7904 00 00  ex 2620 19 00   A2020
195    A1190  ex 7907 00 90  ex 2620 19 00   A2030
196    A1190  ex 8002 00 00  ex 2620 19 00   B1080
197    A1190  ex 8003 00 00  ex 2620 19 00   B1100

[198 rows x 4 columns]
198
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
194    A1190  ex 7904 00 00  ex 2620 19 00   A2020
195    A1190  ex 7907 00 90  ex 2620 19 00   A2030
196    A1190  ex 8002 00 00  ex 2620 19 00   B1080
197    A1190  ex 8003 00 00  ex 2620 19 00   B1100
198    A1190  ex 8007 00 80  ex 2620 19 00   B1120

[199 rows x 4 columns]
199
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
195    A1190  ex 7907 00 90  ex 2620 19 00   A2030
196    A1190  ex 8002 00 00  ex 2620 19 00   B1080
197    A1190  ex 8003 00 00  ex 2620 19 00   B1100
198    A1190  ex 8007 00 80  ex 2620 19 00   B1120
199    A1190  ex 8101 96 00  ex 2620 19 00   B1220

[200 rows x 4 columns]
200
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
196    A1190  ex 8002 00 00  ex 2620 19 00   B1080
197    A1190  ex 8003 00 00  ex 2620 19 00   B1100
198    A1190  ex 8007 00 80  ex 2620 19 00   B1120
199    A1190  ex 8101 96 00  ex 2620 19 00   B1220
200    A1190  ex 8101 97 00  ex 2620 19 00   B2010

[201 rows x 4 columns]
201
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
197    A1190  ex 8003 00 00  ex 2620 19 00   B1100
198    A1190  ex 8007 00 80  ex 2620 19 00   B1120
199    A1190  ex 8101 96 00  ex 2620 19 00   B1220
200    A1190  ex 8101 97 00  ex 2620 19 00   B2010
201    A1190  ex 8101 99 90  ex 2620 19 00   B2100

[202 rows x 4 columns]
202
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
198    A1190  ex 8007 00 80  ex 2620 19 00   B1120
199    A1190  ex 8101 96 00  ex 2620 19 00   B1220
200    A1190  ex 8101 97 00  ex 2620 19 00   B2010
201    A1190  ex 8101 99 90  ex 2620 19 00   B2100
202    A1190  ex 8102 96 00  ex 2620 19 00   B2110

[203 rows x 4 columns]
203
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
199    A1190  ex 8101 96 00  ex 2620 19 00   B1220
200    A1190  ex 8101 97 00  ex 2620 19 00   B2010
201    A1190  ex 8101 99 90  ex 2620 19 00   B2100
202    A1190  ex 8102 96 00  ex 2620 19 00   B2110
203    A1190  ex 8102 97 00  ex 2620 21 00    A3030

[204 rows x 4 columns]
204
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
200    A1190  ex 8101 97 00  ex 2620 19 00   B2010
201    A1190  ex 8101 99 90  ex 2620 19 00   B2100
202    A1190  ex 8102 96 00  ex 2620 19 00   B2110
203    A1190  ex 8102 97 00  ex 2620 21 00    A3030
204    A1190  ex 8102 99 00  ex 2620 21 00   B1220

[205 rows x 4 columns]
205
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
201    A1190  ex 8101 99 90  ex 2620 19 00   B2100
202    A1190  ex 8102 96 00  ex 2620 19 00   B2110
203    A1190  ex 8102 97 00  ex 2620 21 00    A3030
204    A1190  ex 8102 99 00  ex 2620 21 00   B1220
205    A1190  ex 8103 30 00  ex 2620 21 00   B2010

[206 rows x 4 columns]
206
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
202    A1190  ex 8102 96 00  ex 2620 19 00   B2110
203    A1190  ex 8102 97 00  ex 2620 21 00    A3030
204    A1190  ex 8102 99 00  ex 2620 21 00   B1220
205    A1190  ex 8103 30 00  ex 2620 21 00   B2010
206    A1190  ex 8103 90 10  ex 2620 21 00   B2110

[207 rows x 4 columns]
207

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
203    A1190  ex 8102 97 00  ex 2620 21 00    A3030
204    A1190  ex 8102 99 00  ex 2620 21 00   B1220
205    A1190  ex 8103 30 00  ex 2620 21 00   B2010
206    A1190  ex 8103 90 10  ex 2620 21 00   B2110
207    A1190  ex 8103 90 90  ex 2620 29 00    A1020

[208 rows x 4 columns]
208
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
204    A1190  ex 8102 99 00  ex 2620 21 00   B1220
205    A1190  ex 8103 30 00  ex 2620 21 00   B2010
206    A1190  ex 8103 90 10  ex 2620 21 00   B2110
207    A1190  ex 8103 90 90  ex 2620 29 00    A1020
208    A1190  ex 8107 30 00  ex 2620 29 00   A1050

[209 rows x 4 columns]
209
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
205    A1190  ex 8103 30 00  ex 2620 21 00   B2010
206    A1190  ex 8103 90 10  ex 2620 21 00   B2110
207    A1190  ex 8103 90 90  ex 2620 29 00    A1020
208    A1190  ex 8107 30 00  ex 2620 29 00   A1050
209    A1190  ex 8107 90 00  ex 2620 29 00   A1080

[210 rows x 4 columns]
210
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
206    A1190  ex 8103 90 10  ex 2620 21 00   B2110
207    A1190  ex 8103 90 90  ex 2620 29 00    A1020
208    A1190  ex 8107 30 00  ex 2620 29 00   A1050
209    A1190  ex 8107 90 00  ex 2620 29 00   A1080
210    A1190  ex 8108 30 00  ex 2620 29 00   A1130

[211 rows x 4 columns]
211
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
207    A1190  ex 8103 90 90  ex 2620 29 00    A1020
208    A1190  ex 8107 30 00  ex 2620 29 00   A1050
209    A1190  ex 8107 90 00  ex 2620 29 00   A1080
210    A1190  ex 8108 30 00  ex 2620 29 00   A1130
211    A1190  ex 8108 90 30  ex 2620 29 00   A2020

[212 rows x 4 columns]
212
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
208    A1190  ex 8107 30 00  ex 2620 29 00   A1050
209    A1190  ex 8107 90 00  ex 2620 29 00   A1080
210    A1190  ex 8108 30 00  ex 2620 29 00   A1130
211    A1190  ex 8108 90 30  ex 2620 29 00   A2020
212    A1190  ex 8108 90 90  ex 2620 29 00    A2030

[213 rows x 4 columns]
213
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
209    A1190  ex 8107 90 00  ex 2620 29 00   A1080
210    A1190  ex 8108 30 00  ex 2620 29 00   A1130
211    A1190  ex 8108 90 30  ex 2620 29 00   A2020
212    A1190  ex 8108 90 90  ex 2620 29 00    A2030
213    A2010  ex 7001 00 10  ex 2620 29 00   B1120

[214 rows x 4 columns]
214
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
210    A1190  ex 8108 30 00  ex 2620 29 00   A1130
211    A1190  ex 8108 90 30  ex 2620 29 00   A2020
212    A1190  ex 8108 90 90  ex 2620 29 00    A2030
213    A2010  ex 7001 00 10  ex 2620 29 00   B1120
214    A2020  ex 2620 19 00  ex 2620 29 00   B1220

[215 rows x 4 columns]
215
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
211    A1190  ex 8108 90 30  ex 2620 29 00   A2020
212    A1190  ex 8108 90 90  ex 2620 29 00    A2030
213    A2010  ex 7001 00 10  ex 2620 29 00   B1120
214    A2020  ex 2620 19 00  ex 2620 29 00   B1220
215    A2020  ex 2620 29 00  ex 2620 29 00   B2010

[216 rows x 4 columns]
216
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
212    A1190  ex 8108 90 90  ex 2620 29 00    A2030
213    A2010  ex 7001 00 10  ex 2620 29 00   B1120
214    A2020  ex 2620 19 00  ex 2620 29 00   B1220
215    A2020  ex 2620 29 00  ex 2620 29 00   B2010
216    A2020  ex 2620 30 00  ex 2620 29 00   B2110

[217 rows x 4 columns]
217
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
213    A2010  ex 7001 00 10  ex 2620 29 00   B1120
214    A2020  ex 2620 19 00  ex 2620 29 00   B1220
215    A2020  ex 2620 29 00  ex 2620 29 00   B2010
216    A2020  ex 2620 30 00  ex 2620 29 00   B2110
217    A2020  ex 2620 40 00  ex 2620 30 00    A1050

[218 rows x 4 columns]
218
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
214    A2020  ex 2620 19 00  ex 2620 29 00   B1220
215    A2020  ex 2620 29 00  ex 2620 29 00   B2010
216    A2020  ex 2620 30 00  ex 2620 29 00   B2110
217    A2020  ex 2620 40 00  ex 2620 30 00    A1050
218    A2020  ex 2620 60 00  ex 2620 30 00   A1090

[219 rows x 4 columns]
219
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
215    A2020  ex 2620 29 00  ex 2620 29 00   B2010
216    A2020  ex 2620 30 00  ex 2620 29 00   B2110
217    A2020  ex 2620 40 00  ex 2620 30 00    A1050
218    A2020  ex 2620 60 00  ex 2620 30 00   A1090
219    A2020  ex 2620 91 00  ex 2620 30 00   A1100

[220 rows x 4 columns]
220
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
216    A2020  ex 2620 30 00  ex 2620 29 00   B2110
217    A2020  ex 2620 40 00  ex 2620 30 00    A1050
218    A2020  ex 2620 60 00  ex 2620 30 00   A1090
219    A2020  ex 2620 91 00  ex 2620 30 00   A1100
220    A2020  ex 2620 99 10  ex 2620 30 00   A1110

[221 rows x 4 columns]
221
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
217    A2020  ex 2620 40 00  ex 2620 30 00    A1050
218    A2020  ex 2620 60 00  ex 2620 30 00   A1090
219    A2020  ex 2620 91 00  ex 2620 30 00   A1100
220    A2020  ex 2620 99 10  ex 2620 30 00   A1110
221    A2020  ex 2620 99 20  ex 2620 30 00   A1120

[222 rows x 4 columns]
222
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
218    A2020  ex 2620 60 00  ex 2620 30 00   A1090
219    A2020  ex 2620 91 00  ex 2620 30 00   A1100
220    A2020  ex 2620 99 10  ex 2620 30 00   A1110
221    A2020  ex 2620 99 20  ex 2620 30 00   A1120
222    A2020  ex 2620 99 40  ex 2620 30 00   A1130

[223 rows x 4 columns]
223
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
219    A2020  ex 2620 91 00  ex 2620 30 00   A1100
220    A2020  ex 2620 99 10  ex 2620 30 00   A1110
221    A2020  ex 2620 99 20  ex 2620 30 00   A1120
222    A2020  ex 2620 99 40  ex 2620 30 00   A1130
223    A2020  ex 2620 99 60  ex 2620 30 00   A1140

[224 rows x 4 columns]
224
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
220    A2020  ex 2620 99 10  ex 2620 30 00   A1110
221    A2020  ex 2620 99 20  ex 2620 30 00   A1120
222    A2020  ex 2620 99 40  ex 2620 30 00   A1130
223    A2020  ex 2620 99 60  ex 2620 30 00   A1140
224    A2020  ex 2620 99 95  ex 2620 30 00   A2020

[225 rows x 4 columns]
225
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
221    A2020  ex 2620 99 20  ex 2620 30 00   A1120
222    A2020  ex 2620 99 40  ex 2620 30 00   A1130
223    A2020  ex 2620 99 60  ex 2620 30 00   A1140
224    A2020  ex 2620 99 95  ex 2620 30 00   A2020
225    A2020  ex 3824 90 96  ex 2620 30 00   A2030

[226 rows x 4 columns]
226
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
222    A2020  ex 2620 99 40  ex 2620 30 00   A1130
223    A2020  ex 2620 99 60  ex 2620 30 00   A1140
224    A2020  ex 2620 99 95  ex 2620 30 00   A2020
225    A2020  ex 3824 90 96  ex 2620 30 00   A2030
226    A2020  ex 3825 69 00  ex 2620 30 00   B1070

[227 rows x 4 columns]
227
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
223    A2020  ex 2620 99 60  ex 2620 30 00   A1140
224    A2020  ex 2620 99 95  ex 2620 30 00   A2020
225    A2020  ex 3824 90 96  ex 2620 30 00   A2030
226    A2020  ex 3825 69 00  ex 2620 30 00   B1070
227    A2020  ex 3825 90 90  ex 2620 30 00   B1100

[228 rows x 4 columns]
228
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
224    A2020  ex 2620 99 95  ex 2620 30 00   A2020
225    A2020  ex 3824 90 96  ex 2620 30 00   A2030
226    A2020  ex 3825 69 00  ex 2620 30 00   B1070
227    A2020  ex 3825 90 90  ex 2620 30 00   B1100
228    A2030  ex 2620 19 00  ex 2620 30 00   B1120

[229 rows x 4 columns]
229
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
225    A2020  ex 3824 90 96  ex 2620 30 00   A2030
226    A2020  ex 3825 69 00  ex 2620 30 00   B1070
227    A2020  ex 3825 90 90  ex 2620 30 00   B1100
228    A2030  ex 2620 19 00  ex 2620 30 00   B1120
229    A2030  ex 2620 29 00  ex 2620 30 00   B1220

[230 rows x 4 columns]
230
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
226    A2020  ex 3825 69 00  ex 2620 30 00   B1070
227    A2020  ex 3825 90 90  ex 2620 30 00   B1100
228    A2030  ex 2620 19 00  ex 2620 30 00   B1120
229    A2030  ex 2620 29 00  ex 2620 30 00   B1220
230    A2030  ex 2620 30 00  ex 2620 30 00   B1240

[231 rows x 4 columns]
231
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
227    A2020  ex 3825 90 90  ex 2620 30 00   B1100
228    A2030  ex 2620 19 00  ex 2620 30 00   B1120
229    A2030  ex 2620 29 00  ex 2620 30 00   B1220
230    A2030  ex 2620 30 00  ex 2620 30 00   B1240
231    A2030  ex 2620 40 00  ex 2620 30 00   B2010

[232 rows x 4 columns]
232
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
228    A2030  ex 2620 19 00  ex 2620 30 00   B1120
229    A2030  ex 2620 29 00  ex 2620 30 00   B1220
230    A2030  ex 2620 30 00  ex 2620 30 00   B1240
231    A2030  ex 2620 40 00  ex 2620 30 00   B2010
232    A2030  ex 2620 60 00  ex 2620 30 00   B2040

[233 rows x 4 columns]
233
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
229    A2030  ex 2620 29 00  ex 2620 30 00   B1220
230    A2030  ex 2620 30 00  ex 2620 30 00   B1240
231    A2030  ex 2620 40 00  ex 2620 30 00   B2010
232    A2030  ex 2620 60 00  ex 2620 30 00   B2040
233    A2030  ex 2620 91 00  ex 2620 30 00   B2100

[234 rows x 4 columns]
234
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
230    A2030  ex 2620 30 00  ex 2620 30 00   B1240
231    A2030  ex 2620 40 00  ex 2620 30 00   B2010
232    A2030  ex 2620 60 00  ex 2620 30 00   B2040
233    A2030  ex 2620 91 00  ex 2620 30 00   B2100
234    A2030  ex 2620 99 10  ex 2620 30 00   B2110

[235 rows x 4 columns]
235
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
231    A2030  ex 2620 40 00  ex 2620 30 00   B2010
232    A2030  ex 2620 60 00  ex 2620 30 00   B2040
233    A2030  ex 2620 91 00  ex 2620 30 00   B2100
234    A2030  ex 2620 99 10  ex 2620 30 00   B2110
235    A2030  ex 2620 99 20  ex 2620 30 00   GB040

[236 rows x 4 columns]
236
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
232    A2030  ex 2620 60 00  ex 2620 30 00   B2040
233    A2030  ex 2620 91 00  ex 2620 30 00   B2100
234    A2030  ex 2620 99 10  ex 2620 30 00   B2110
235    A2030  ex 2620 99 20  ex 2620 30 00   GB040
236    A2030  ex 2620 99 40  ex 2620 40 00    A1050

[237 rows x 4 columns]
237
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
233    A2030  ex 2620 91 00  ex 2620 30 00   B2100
234    A2030  ex 2620 99 10  ex 2620 30 00   B2110
235    A2030  ex 2620 99 20  ex 2620 30 00   GB040
236    A2030  ex 2620 99 40  ex 2620 40 00    A1050
237    A2030  ex 2620 99 60  ex 2620 40 00   A1130

[238 rows x 4 columns]
238
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
234    A2030  ex 2620 99 10  ex 2620 30 00   B2110
235    A2030  ex 2620 99 20  ex 2620 30 00   GB040
236    A2030  ex 2620 99 40  ex 2620 40 00    A1050
237    A2030  ex 2620 99 60  ex 2620 40 00   A1130
238    A2030  ex 2620 99 95  ex 2620 40 00   A2020

[239 rows x 4 columns]
239
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
235    A2030  ex 2620 99 20  ex 2620 30 00   GB040
236    A2030  ex 2620 99 40  ex 2620 40 00    A1050
237    A2030  ex 2620 99 60  ex 2620 40 00   A1130
238    A2030  ex 2620 99 95  ex 2620 40 00   A2020
239    A2030  ex 3825 69 00  ex 2620 40 00   A2030

[240 rows x 4 columns]
240
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
236    A2030  ex 2620 99 40  ex 2620 40 00    A1050
237    A2030  ex 2620 99 60  ex 2620 40 00   A1130
238    A2030  ex 2620 99 95  ex 2620 40 00   A2020
239    A2030  ex 3825 69 00  ex 2620 40 00   A2030
240    A2030  ex 3825 90 90  ex 2620 40 00    AB030

[241 rows x 4 columns]
241
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
237    A2030  ex 2620 99 60  ex 2620 40 00   A1130
238    A2030  ex 2620 99 95  ex 2620 40 00   A2020
239    A2030  ex 3825 69 00  ex 2620 40 00   A2030
240    A2030  ex 3825 90 90  ex 2620 40 00    AB030
241    A2040  ex 3825 69 00  ex 2620 40 00   B1100

[242 rows x 4 columns]
242
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
238    A2030  ex 2620 99 95  ex 2620 40 00   A2020
239    A2030  ex 3825 69 00  ex 2620 40 00   A2030
240    A2030  ex 3825 90 90  ex 2620 40 00    AB030
241    A2040  ex 3825 69 00  ex 2620 40 00   B1100
242    A2050  ex 2524 10 00  ex 2620 40 00   B1120

[243 rows x 4 columns]
243
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
239    A2030  ex 3825 69 00  ex 2620 40 00   A2030
240    A2030  ex 3825 90 90  ex 2620 40 00    AB030
241    A2040  ex 3825 69 00  ex 2620 40 00   B1100
242    A2050  ex 2524 10 00  ex 2620 40 00   B1120
243    A2050  ex 2524 90 00  ex 2620 40 00   B1220

[244 rows x 4 columns]
244
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
240    A2030  ex 3825 90 90  ex 2620 40 00    AB030
241    A2040  ex 3825 69 00  ex 2620 40 00   B1100
242    A2050  ex 2524 10 00  ex 2620 40 00   B1120
243    A2050  ex 2524 90 00  ex 2620 40 00   B1220
244    A2050  ex 2530 90 00  ex 2620 40 00   B2010

[245 rows x 4 columns]
245
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
241    A2040  ex 3825 69 00  ex 2620 40 00   B1100
242    A2050  ex 2524 10 00  ex 2620 40 00   B1120
243    A2050  ex 2524 90 00  ex 2620 40 00   B1220
244    A2050  ex 2530 90 00  ex 2620 40 00   B2010
245    A2050  ex 3825 69 00  ex 2620 40 00   B2100

[246 rows x 4 columns]
246
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
242    A2050  ex 2524 10 00  ex 2620 40 00   B1120
243    A2050  ex 2524 90 00  ex 2620 40 00   B1220
244    A2050  ex 2530 90 00  ex 2620 40 00   B2010
245    A2050  ex 3825 69 00  ex 2620 40 00   B2100
246    A2050  ex 3825 90 90  ex 2620 40 00   B2110

[247 rows x 4 columns]
247
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
243    A2050  ex 2524 90 00  ex 2620 40 00   B1220
244    A2050  ex 2530 90 00  ex 2620 40 00   B2010
245    A2050  ex 3825 69 00  ex 2620 40 00   B2100
246    A2050  ex 3825 90 90  ex 2620 40 00   B2110
247    A3010  ex 2710 99 00  ex 2620 60 00    A1010

[248 rows x 4 columns]
248
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
244    A2050  ex 2530 90 00  ex 2620 40 00   B2010
245    A2050  ex 3825 69 00  ex 2620 40 00   B2100
246    A2050  ex 3825 90 90  ex 2620 40 00   B2110
247    A3010  ex 2710 99 00  ex 2620 60 00    A1010
248    A3010  ex 2713 90 90  ex 2620 60 00   A1030

[249 rows x 4 columns]
249
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
245    A2050  ex 3825 69 00  ex 2620 40 00   B2100
246    A2050  ex 3825 90 90  ex 2620 40 00   B2110
247    A3010  ex 2710 99 00  ex 2620 60 00    A1010
248    A3010  ex 2713 90 90  ex 2620 60 00   A1030
249    A3020  ex 2710 99 00  ex 2620 60 00   A1050

[250 rows x 4 columns]
250
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
246    A2050  ex 3825 90 90  ex 2620 40 00   B2110
247    A3010  ex 2710 99 00  ex 2620 60 00    A1010
248    A3010  ex 2713 90 90  ex 2620 60 00   A1030
249    A3020  ex 2710 99 00  ex 2620 60 00   A1050
250    A3030  ex 2620 21 00  ex 2620 60 00   A1130

[251 rows x 4 columns]
251
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
247    A3010  ex 2710 99 00  ex 2620 60 00    A1010
248    A3010  ex 2713 90 90  ex 2620 60 00   A1030
249    A3020  ex 2710 99 00  ex 2620 60 00   A1050
250    A3030  ex 2620 21 00  ex 2620 60 00   A1130
251    A3030  ex 2710 99 00  ex 2620 60 00   A2020

[252 rows x 4 columns]
252
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
248    A3010  ex 2713 90 90  ex 2620 60 00   A1030
249    A3020  ex 2710 99 00  ex 2620 60 00   A1050
250    A3030  ex 2620 21 00  ex 2620 60 00   A1130
251    A3030  ex 2710 99 00  ex 2620 60 00   A2020
252    A3030  ex 3825 61 00  ex 2620 60 00   A2030

[253 rows x 4 columns]
253
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
249    A3020  ex 2710 99 00  ex 2620 60 00   A1050
250    A3030  ex 2620 21 00  ex 2620 60 00   A1130
251    A3030  ex 2710 99 00  ex 2620 60 00   A2020
252    A3030  ex 3825 61 00  ex 2620 60 00   A2030
253    A3030  ex 3825 90 90  ex 2620 60 00   AB030

[254 rows x 4 columns]
254
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
250    A3030  ex 2620 21 00  ex 2620 60 00   A1130
251    A3030  ex 2710 99 00  ex 2620 60 00   A2020
252    A3030  ex 3825 61 00  ex 2620 60 00   A2030
253    A3030  ex 3825 90 90  ex 2620 60 00   AB030
254    A3040  ex 2710 99 00  ex 2620 60 00   B1031

[255 rows x 4 columns]
255
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
251    A3030  ex 2710 99 00  ex 2620 60 00   A2020
252    A3030  ex 3825 61 00  ex 2620 60 00   A2030
253    A3030  ex 3825 90 90  ex 2620 60 00   AB030
254    A3040  ex 2710 99 00  ex 2620 60 00   B1031
255    A3040  ex 3820 00 00  ex 2620 60 00   B1070

[256 rows x 4 columns]
256
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
252    A3030  ex 3825 61 00  ex 2620 60 00   A2030
253    A3030  ex 3825 90 90  ex 2620 60 00   AB030
254    A3040  ex 2710 99 00  ex 2620 60 00   B1031
255    A3040  ex 3820 00 00  ex 2620 60 00   B1070
256    A3040  ex 3825 50 00  ex 2620 60 00   B1120

[257 rows x 4 columns]
257
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
253    A3030  ex 3825 90 90  ex 2620 60 00   AB030
254    A3040  ex 2710 99 00  ex 2620 60 00   B1031
255    A3040  ex 3820 00 00  ex 2620 60 00   B1070
256    A3040  ex 3825 50 00  ex 2620 60 00   B1120
257    A3040  ex 3825 61 00  ex 2620 60 00   B1220

[258 rows x 4 columns]
258
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
254    A3040  ex 2710 99 00  ex 2620 60 00   B1031
255    A3040  ex 3820 00 00  ex 2620 60 00   B1070
256    A3040  ex 3825 50 00  ex 2620 60 00   B1120
257    A3040  ex 3825 61 00  ex 2620 60 00   B1220
258    A3040  ex 3825 90 90  ex 2620 60 00   B2010

[259 rows x 4 columns]
259
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
255    A3040  ex 3820 00 00  ex 2620 60 00   B1070
256    A3040  ex 3825 50 00  ex 2620 60 00   B1120
257    A3040  ex 3825 61 00  ex 2620 60 00   B1220
258    A3040  ex 3825 90 90  ex 2620 60 00   B2010
259    A3040  ex 3902 10 00  ex 2620 60 00   B2110

[260 rows x 4 columns]
260
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
256    A3040  ex 3825 50 00  ex 2620 60 00   B1120
257    A3040  ex 3825 61 00  ex 2620 60 00   B1220
258    A3040  ex 3825 90 90  ex 2620 60 00   B2010
259    A3040  ex 3902 10 00  ex 2620 60 00   B2110
260    A3040  ex 3902 30 00  ex 2620 91 00    A1020

[261 rows x 4 columns]
261
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
257    A3040  ex 3825 61 00  ex 2620 60 00   B1220
258    A3040  ex 3825 90 90  ex 2620 60 00   B2010
259    A3040  ex 3902 10 00  ex 2620 60 00   B2110
260    A3040  ex 3902 30 00  ex 2620 91 00    A1020
261    A3040  ex 3902 90 90  ex 2620 91 00   A1050

[262 rows x 4 columns]
262
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
258    A3040  ex 3825 90 90  ex 2620 60 00   B2010
259    A3040  ex 3902 10 00  ex 2620 60 00   B2110
260    A3040  ex 3902 30 00  ex 2620 91 00    A1020
261    A3040  ex 3902 90 90  ex 2620 91 00   A1050
262    A3040  ex 3915 90 11  ex 2620 91 00   A1080

[263 rows x 4 columns]
263
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
259    A3040  ex 3902 10 00  ex 2620 60 00   B2110
260    A3040  ex 3902 30 00  ex 2620 91 00    A1020
261    A3040  ex 3902 90 90  ex 2620 91 00   A1050
262    A3040  ex 3915 90 11  ex 2620 91 00   A1080
263    A3050  ex 3501 10 10  ex 2620 91 00   A1130

[264 rows x 4 columns]
264
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
260    A3040  ex 3902 30 00  ex 2620 91 00    A1020
261    A3040  ex 3902 90 90  ex 2620 91 00   A1050
262    A3040  ex 3915 90 11  ex 2620 91 00   A1080
263    A3050  ex 3501 10 10  ex 2620 91 00   A1130
264    A3050  ex 3501 10 50  ex 2620 91 00   A2020

[265 rows x 4 columns]
265
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
261    A3040  ex 3902 90 90  ex 2620 91 00   A1050
262    A3040  ex 3915 90 11  ex 2620 91 00   A1080
263    A3050  ex 3501 10 10  ex 2620 91 00   A1130
264    A3050  ex 3501 10 50  ex 2620 91 00   A2020
265    A3050  ex 3501 10 90  ex 2620 91 00   A2030

[266 rows x 4 columns]
266
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
262    A3040  ex 3915 90 11  ex 2620 91 00   A1080
263    A3050  ex 3501 10 10  ex 2620 91 00   A1130
264    A3050  ex 3501 10 50  ex 2620 91 00   A2020
265    A3050  ex 3501 10 90  ex 2620 91 00   A2030
266    A3050  ex 3501 90 10  ex 2620 91 00   A3090

[267 rows x 4 columns]
267
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
263    A3050  ex 3501 10 10  ex 2620 91 00   A1130
264    A3050  ex 3501 10 50  ex 2620 91 00   A2020
265    A3050  ex 3501 10 90  ex 2620 91 00   A2030
266    A3050  ex 3501 90 10  ex 2620 91 00   A3090
267    A3050  ex 3501 90 90  ex 2620 91 00   B1030

[268 rows x 4 columns]
268
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
264    A3050  ex 3501 10 50  ex 2620 91 00   A2020
265    A3050  ex 3501 10 90  ex 2620 91 00   A2030
266    A3050  ex 3501 90 10  ex 2620 91 00   A3090
267    A3050  ex 3501 90 90  ex 2620 91 00   B1030
268    A3050  ex 3503 00 10  ex 2620 91 00   B1031

[269 rows x 4 columns]
269
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
265    A3050  ex 3501 10 90  ex 2620 91 00   A2030
266    A3050  ex 3501 90 10  ex 2620 91 00   A3090
267    A3050  ex 3501 90 90  ex 2620 91 00   B1030
268    A3050  ex 3503 00 10  ex 2620 91 00   B1031
269    A3050  ex 3503 00 80  ex 2620 91 00   B1070

[270 rows x 4 columns]
270
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
266    A3050  ex 3501 90 10  ex 2620 91 00   A3090
267    A3050  ex 3501 90 90  ex 2620 91 00   B1030
268    A3050  ex 3503 00 10  ex 2620 91 00   B1031
269    A3050  ex 3503 00 80  ex 2620 91 00   B1070
270    A3050  ex 3505 10 10  ex 2620 91 00    B1120

[271 rows x 4 columns]
271
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
267    A3050  ex 3501 90 90  ex 2620 91 00   B1030
268    A3050  ex 3503 00 10  ex 2620 91 00   B1031
269    A3050  ex 3503 00 80  ex 2620 91 00   B1070
270    A3050  ex 3505 10 10  ex 2620 91 00    B1120
271    A3050  ex 3505 10 50  ex 2620 91 00   B1220

[272 rows x 4 columns]
272
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
268    A3050  ex 3503 00 10  ex 2620 91 00   B1031
269    A3050  ex 3503 00 80  ex 2620 91 00   B1070
270    A3050  ex 3505 10 10  ex 2620 91 00    B1120
271    A3050  ex 3505 10 50  ex 2620 91 00   B1220
272    A3050  ex 3505 10 90  ex 2620 91 00   B2010

[273 rows x 4 columns]
273
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
269    A3050  ex 3503 00 80  ex 2620 91 00   B1070
270    A3050  ex 3505 10 10  ex 2620 91 00    B1120
271    A3050  ex 3505 10 50  ex 2620 91 00   B1220
272    A3050  ex 3505 10 90  ex 2620 91 00   B2010
273    A3050  ex 3505 20 10  ex 2620 91 00   B2110

[274 rows x 4 columns]
274
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
270    A3050  ex 3505 10 10  ex 2620 91 00    B1120
271    A3050  ex 3505 10 50  ex 2620 91 00   B1220
272    A3050  ex 3505 10 90  ex 2620 91 00   B2010
273    A3050  ex 3505 20 10  ex 2620 91 00   B2110
274    A3050  ex 3505 20 30  ex 2620 99 10    A1050

[275 rows x 4 columns]
275
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
271    A3050  ex 3505 10 50  ex 2620 91 00   B1220
272    A3050  ex 3505 10 90  ex 2620 91 00   B2010
273    A3050  ex 3505 20 10  ex 2620 91 00   B2110
274    A3050  ex 3505 20 30  ex 2620 99 10    A1050
275    A3050  ex 3505 20 50  ex 2620 99 10   A1130

[276 rows x 4 columns]
276
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
272    A3050  ex 3505 10 90  ex 2620 91 00   B2010
273    A3050  ex 3505 20 10  ex 2620 91 00   B2110
274    A3050  ex 3505 20 30  ex 2620 99 10    A1050
275    A3050  ex 3505 20 50  ex 2620 99 10   A1130
276    A3050  ex 3505 20 90  ex 2620 99 10   A2020

[277 rows x 4 columns]
277
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
273    A3050  ex 3505 20 10  ex 2620 91 00   B2110
274    A3050  ex 3505 20 30  ex 2620 99 10    A1050
275    A3050  ex 3505 20 50  ex 2620 99 10   A1130
276    A3050  ex 3505 20 90  ex 2620 99 10   A2020
277    A3050  ex 3506 10 00  ex 2620 99 10   A2030

[278 rows x 4 columns]
278
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
274    A3050  ex 3505 20 30  ex 2620 99 10    A1050
275    A3050  ex 3505 20 50  ex 2620 99 10   A1130
276    A3050  ex 3505 20 90  ex 2620 99 10   A2020
277    A3050  ex 3506 10 00  ex 2620 99 10   A2030
278    A3050  ex 3506 91 00  ex 2620 99 10   B1120

[279 rows x 4 columns]
279
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
275    A3050  ex 3505 20 50  ex 2620 99 10   A1130
276    A3050  ex 3505 20 90  ex 2620 99 10   A2020
277    A3050  ex 3506 10 00  ex 2620 99 10   A2030
278    A3050  ex 3506 91 00  ex 2620 99 10   B1120
279    A3050  ex 3506 99 00  ex 2620 99 10   B1220

[280 rows x 4 columns]
280
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
276    A3050  ex 3505 20 90  ex 2620 99 10   A2020
277    A3050  ex 3506 10 00  ex 2620 99 10   A2030
278    A3050  ex 3506 91 00  ex 2620 99 10   B1120
279    A3050  ex 3506 99 00  ex 2620 99 10   B1220
280    A3050  ex 3825 61 00  ex 2620 99 10   B2010

[281 rows x 4 columns]
281
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
277    A3050  ex 3506 10 00  ex 2620 99 10   A2030
278    A3050  ex 3506 91 00  ex 2620 99 10   B1120
279    A3050  ex 3506 99 00  ex 2620 99 10   B1220
280    A3050  ex 3825 61 00  ex 2620 99 10   B2010
281    A3050  ex 3825 90 90  ex 2620 99 10   B2100

[282 rows x 4 columns]
282
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
278    A3050  ex 3506 91 00  ex 2620 99 10   B1120
279    A3050  ex 3506 99 00  ex 2620 99 10   B1220
280    A3050  ex 3825 61 00  ex 2620 99 10   B2010
281    A3050  ex 3825 90 90  ex 2620 99 10   B2100
282    A3050  ex 3915 10 00  ex 2620 99 10   B2110

[283 rows x 4 columns]
283
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
279    A3050  ex 3506 99 00  ex 2620 99 10   B1220
280    A3050  ex 3825 61 00  ex 2620 99 10   B2010
281    A3050  ex 3825 90 90  ex 2620 99 10   B2100
282    A3050  ex 3915 10 00  ex 2620 99 10   B2110
283    A3050  ex 3915 20 00  ex 2620 99 20    A1050

[284 rows x 4 columns]
284
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
280    A3050  ex 3825 61 00  ex 2620 99 10   B2010
281    A3050  ex 3825 90 90  ex 2620 99 10   B2100
282    A3050  ex 3915 10 00  ex 2620 99 10   B2110
283    A3050  ex 3915 20 00  ex 2620 99 20    A1050
284    A3050  ex 3915 30 00  ex 2620 99 20   A1130

[285 rows x 4 columns]
285
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
281    A3050  ex 3825 90 90  ex 2620 99 10   B2100
282    A3050  ex 3915 10 00  ex 2620 99 10   B2110
283    A3050  ex 3915 20 00  ex 2620 99 20    A1050
284    A3050  ex 3915 30 00  ex 2620 99 20   A1130
285    A3050  ex 3915 90 11  ex 2620 99 20    A2020

[286 rows x 4 columns]
286
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
282    A3050  ex 3915 10 00  ex 2620 99 10   B2110
283    A3050  ex 3915 20 00  ex 2620 99 20    A1050
284    A3050  ex 3915 30 00  ex 2620 99 20   A1130
285    A3050  ex 3915 90 11  ex 2620 99 20    A2020
286    A3050  ex 3915 90 80  ex 2620 99 20   A2030

[287 rows x 4 columns]
287
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
283    A3050  ex 3915 20 00  ex 2620 99 20    A1050
284    A3050  ex 3915 30 00  ex 2620 99 20   A1130
285    A3050  ex 3915 90 11  ex 2620 99 20    A2020
286    A3050  ex 3915 90 80  ex 2620 99 20   A2030
287    A3050  ex 4004 00 00  ex 2620 99 20   B1030

[288 rows x 4 columns]
288
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
284    A3050  ex 3915 30 00  ex 2620 99 20   A1130
285    A3050  ex 3915 90 11  ex 2620 99 20    A2020
286    A3050  ex 3915 90 80  ex 2620 99 20   A2030
287    A3050  ex 4004 00 00  ex 2620 99 20   B1030
288    A3050  ex 4017 00 00  ex 2620 99 20   B1031

[289 rows x 4 columns]
289
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
285    A3050  ex 3915 90 11  ex 2620 99 20    A2020
286    A3050  ex 3915 90 80  ex 2620 99 20   A2030
287    A3050  ex 4004 00 00  ex 2620 99 20   B1030
288    A3050  ex 4017 00 00  ex 2620 99 20   B1031
289    A3060  ex 3912 20 11  ex 2620 99 20   B1100

[290 rows x 4 columns]
290
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
286    A3050  ex 3915 90 80  ex 2620 99 20   A2030
287    A3050  ex 4004 00 00  ex 2620 99 20   B1030
288    A3050  ex 4017 00 00  ex 2620 99 20   B1031
289    A3060  ex 3912 20 11  ex 2620 99 20   B1100
290    A3060  ex 3912 20 19  ex 2620 99 20   B1120

[291 rows x 4 columns]
291
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
287    A3050  ex 4004 00 00  ex 2620 99 20   B1030
288    A3050  ex 4017 00 00  ex 2620 99 20   B1031
289    A3060  ex 3912 20 11  ex 2620 99 20   B1100
290    A3060  ex 3912 20 19  ex 2620 99 20   B1120
291    A3060  ex 3912 20 90  ex 2620 99 20   B1220

[292 rows x 4 columns]
292
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
288    A3050  ex 4017 00 00  ex 2620 99 20   B1031
289    A3060  ex 3912 20 11  ex 2620 99 20   B1100
290    A3060  ex 3912 20 19  ex 2620 99 20   B1120
291    A3060  ex 3912 20 90  ex 2620 99 20   B1220
292    A3060  ex 3915 90 80  ex 2620 99 20   B2010

[293 rows x 4 columns]
293
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
289    A3060  ex 3912 20 11  ex 2620 99 20   B1100
290    A3060  ex 3912 20 19  ex 2620 99 20   B1120
291    A3060  ex 3912 20 90  ex 2620 99 20   B1220
292    A3060  ex 3915 90 80  ex 2620 99 20   B2010
293    A3070  ex 2707 99 80  ex 2620 99 20   B2100

[294 rows x 4 columns]
294
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
290    A3060  ex 3912 20 19  ex 2620 99 20   B1120
291    A3060  ex 3912 20 90  ex 2620 99 20   B1220
292    A3060  ex 3915 90 80  ex 2620 99 20   B2010
293    A3070  ex 2707 99 80  ex 2620 99 20   B2100
294    A3070  ex 2710 99 00  ex 2620 99 20   B2110

[295 rows x 4 columns]
295
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
291    A3060  ex 3912 20 90  ex 2620 99 20   B1220
292    A3060  ex 3915 90 80  ex 2620 99 20   B2010
293    A3070  ex 2707 99 80  ex 2620 99 20   B2100
294    A3070  ex 2710 99 00  ex 2620 99 20   B2110
295    A3070  ex 3824 90 92  ex 2620 99 40    A1050

[296 rows x 4 columns]
296
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
292    A3060  ex 3915 90 80  ex 2620 99 20   B2010
293    A3070  ex 2707 99 80  ex 2620 99 20   B2100
294    A3070  ex 2710 99 00  ex 2620 99 20   B2110
295    A3070  ex 3824 90 92  ex 2620 99 40    A1050
296    A3070  ex 3824 90 93  ex 2620 99 40   A1130

[297 rows x 4 columns]
297
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
293    A3070  ex 2707 99 80  ex 2620 99 20   B2100
294    A3070  ex 2710 99 00  ex 2620 99 20   B2110
295    A3070  ex 3824 90 92  ex 2620 99 40    A1050
296    A3070  ex 3824 90 93  ex 2620 99 40   A1130
297    A3070  ex 3825 61 00  ex 2620 99 40   A2020

[298 rows x 4 columns]
298
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
294    A3070  ex 2710 99 00  ex 2620 99 20   B2110
295    A3070  ex 3824 90 92  ex 2620 99 40    A1050
296    A3070  ex 3824 90 93  ex 2620 99 40   A1130
297    A3070  ex 3825 61 00  ex 2620 99 40   A2020
298    A3070  ex 3825 90 90  ex 2620 99 40   A2030

[299 rows x 4 columns]
299
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
295    A3070  ex 3824 90 92  ex 2620 99 40    A1050
296    A3070  ex 3824 90 93  ex 2620 99 40   A1130
297    A3070  ex 3825 61 00  ex 2620 99 40   A2020
298    A3070  ex 3825 90 90  ex 2620 99 40   A2030
299    A3080  ex 3825 41 00  ex 2620 99 40   B1120

[300 rows x 4 columns]
300
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
296    A3070  ex 3824 90 93  ex 2620 99 40   A1130
297    A3070  ex 3825 61 00  ex 2620 99 40   A2020
298    A3070  ex 3825 90 90  ex 2620 99 40   A2030
299    A3080  ex 3825 41 00  ex 2620 99 40   B1120
300    A3080  ex 3825 49 00  ex 2620 99 40   B1220

[301 rows x 4 columns]
301
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
297    A3070  ex 3825 61 00  ex 2620 99 40   A2020
298    A3070  ex 3825 90 90  ex 2620 99 40   A2030
299    A3080  ex 3825 41 00  ex 2620 99 40   B1120
300    A3080  ex 3825 49 00  ex 2620 99 40   B1220
301    A3080  ex 3825 61 00  ex 2620 99 40   B2010

[302 rows x 4 columns]
302
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
298    A3070  ex 3825 90 90  ex 2620 99 40   A2030
299    A3080  ex 3825 41 00  ex 2620 99 40   B1120
300    A3080  ex 3825 49 00  ex 2620 99 40   B1220
301    A3080  ex 3825 61 00  ex 2620 99 40   B2010
302    A3080  ex 3825 90 90  ex 2620 99 40    B2100

[303 rows x 4 columns]
303
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
299    A3080  ex 3825 41 00  ex 2620 99 40   B1120
300    A3080  ex 3825 49 00  ex 2620 99 40   B1220
301    A3080  ex 3825 61 00  ex 2620 99 40   B2010
302    A3080  ex 3825 90 90  ex 2620 99 40    B2100
303    A3090  ex 2620 91 00  ex 2620 99 40   B2110

[304 rows x 4 columns]
304
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
300    A3080  ex 3825 49 00  ex 2620 99 40   B1220
301    A3080  ex 3825 61 00  ex 2620 99 40   B2010
302    A3080  ex 3825 90 90  ex 2620 99 40    B2100
303    A3090  ex 2620 91 00  ex 2620 99 40   B2110
304    A3090  ex 2620 99 95  ex 2620 99 60    A1050

[305 rows x 4 columns]
305
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
301    A3080  ex 3825 61 00  ex 2620 99 40   B2010
302    A3080  ex 3825 90 90  ex 2620 99 40    B2100
303    A3090  ex 2620 91 00  ex 2620 99 40   B2110
304    A3090  ex 2620 99 95  ex 2620 99 60    A1050
305    A3090  ex 2621 90 00  ex 2620 99 60   A1130

[306 rows x 4 columns]
306
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
302    A3080  ex 3825 90 90  ex 2620 99 40    B2100
303    A3090  ex 2620 91 00  ex 2620 99 40   B2110
304    A3090  ex 2620 99 95  ex 2620 99 60    A1050
305    A3090  ex 2621 90 00  ex 2620 99 60   A1130
306    A3090  ex 3825 20 00  ex 2620 99 60   A2020

[307 rows x 4 columns]
307
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
303    A3090  ex 2620 91 00  ex 2620 99 40   B2110
304    A3090  ex 2620 99 95  ex 2620 99 60    A1050
305    A3090  ex 2621 90 00  ex 2620 99 60   A1130
306    A3090  ex 3825 20 00  ex 2620 99 60   A2020
307    A3090  ex 3825 30 00  ex 2620 99 60   A2030

[308 rows x 4 columns]
308
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
304    A3090  ex 2620 99 95  ex 2620 99 60    A1050
305    A3090  ex 2621 90 00  ex 2620 99 60   A1130
306    A3090  ex 3825 20 00  ex 2620 99 60   A2020
307    A3090  ex 3825 30 00  ex 2620 99 60   A2030
308    A3090  ex 3825 69 00  ex 2620 99 60   B1030

[309 rows x 4 columns]
309
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
305    A3090  ex 2621 90 00  ex 2620 99 60   A1130
306    A3090  ex 3825 20 00  ex 2620 99 60   A2020
307    A3090  ex 3825 30 00  ex 2620 99 60   A2030
308    A3090  ex 3825 69 00  ex 2620 99 60   B1030
309    A3090  ex 3825 90 90  ex 2620 99 60   B1031

[310 rows x 4 columns]
310
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
306    A3090  ex 3825 20 00  ex 2620 99 60   A2020
307    A3090  ex 3825 30 00  ex 2620 99 60   A2030
308    A3090  ex 3825 69 00  ex 2620 99 60   B1030
309    A3090  ex 3825 90 90  ex 2620 99 60   B1031
310    A3090  ex 4115 20 00  ex 2620 99 60   B1120

[311 rows x 4 columns]
311
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
307    A3090  ex 3825 30 00  ex 2620 99 60   A2030
308    A3090  ex 3825 69 00  ex 2620 99 60   B1030
309    A3090  ex 3825 90 90  ex 2620 99 60   B1031
310    A3090  ex 4115 20 00  ex 2620 99 60   B1120
311    A3100  ex 4115 20 00  ex 2620 99 60   B1220

[312 rows x 4 columns]
312
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
308    A3090  ex 3825 69 00  ex 2620 99 60   B1030
309    A3090  ex 3825 90 90  ex 2620 99 60   B1031
310    A3090  ex 4115 20 00  ex 2620 99 60   B1120
311    A3100  ex 4115 20 00  ex 2620 99 60   B1220
312    A3110  ex 0502 10 00  ex 2620 99 60   B2010

[313 rows x 4 columns]
313
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
309    A3090  ex 3825 90 90  ex 2620 99 60   B1031
310    A3090  ex 4115 20 00  ex 2620 99 60   B1120
311    A3100  ex 4115 20 00  ex 2620 99 60   B1220
312    A3110  ex 0502 10 00  ex 2620 99 60   B2010
313    A3110  ex 0502 90 00  ex 2620 99 60   B2100

[314 rows x 4 columns]
314
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
310    A3090  ex 4115 20 00  ex 2620 99 60   B1120
311    A3100  ex 4115 20 00  ex 2620 99 60   B1220
312    A3110  ex 0502 10 00  ex 2620 99 60   B2010
313    A3110  ex 0502 90 00  ex 2620 99 60   B2100
314    A3110  ex 0511 99 10  ex 2620 99 60   B2110

[315 rows x 4 columns]
315
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
311    A3100  ex 4115 20 00  ex 2620 99 60   B1220
312    A3110  ex 0502 10 00  ex 2620 99 60   B2010
313    A3110  ex 0502 90 00  ex 2620 99 60   B2100
314    A3110  ex 0511 99 10  ex 2620 99 60   B2110
315    A3110  ex 0511 99 85  ex 2620 99 95    A1020

[316 rows x 4 columns]
316
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
312    A3110  ex 0502 10 00  ex 2620 99 60   B2010
313    A3110  ex 0502 90 00  ex 2620 99 60   B2100
314    A3110  ex 0511 99 10  ex 2620 99 60   B2110
315    A3110  ex 0511 99 85  ex 2620 99 95    A1020
316    A3110  ex 4302 20 00  ex 2620 99 95   A1050

[317 rows x 4 columns]
317
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
313    A3110  ex 0502 90 00  ex 2620 99 60   B2100
314    A3110  ex 0511 99 10  ex 2620 99 60   B2110
315    A3110  ex 0511 99 85  ex 2620 99 95    A1020
316    A3110  ex 4302 20 00  ex 2620 99 95   A1050
317    A3120  ex 3825 61 00  ex 2620 99 95   A1130

[318 rows x 4 columns]
318
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
314    A3110  ex 0511 99 10  ex 2620 99 60   B2110
315    A3110  ex 0511 99 85  ex 2620 99 95    A1020
316    A3110  ex 4302 20 00  ex 2620 99 95   A1050
317    A3120  ex 3825 61 00  ex 2620 99 95   A1130
318    A3120  ex 3825 69 00  ex 2620 99 95   A2020

[319 rows x 4 columns]
319
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
315    A3110  ex 0511 99 85  ex 2620 99 95    A1020
316    A3110  ex 4302 20 00  ex 2620 99 95   A1050
317    A3120  ex 3825 61 00  ex 2620 99 95   A1130
318    A3120  ex 3825 69 00  ex 2620 99 95   A2020
319    A3120  ex 3825 90 90  ex 2620 99 95   A2030

[320 rows x 4 columns]
320
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
316    A3110  ex 4302 20 00  ex 2620 99 95   A1050
317    A3120  ex 3825 61 00  ex 2620 99 95   A1130
318    A3120  ex 3825 69 00  ex 2620 99 95   A2020
319    A3120  ex 3825 90 90  ex 2620 99 95   A2030
320    A3120  ex 3915 10 00  ex 2620 99 95   A3090

[321 rows x 4 columns]
321
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
317    A3120  ex 3825 61 00  ex 2620 99 95   A1130
318    A3120  ex 3825 69 00  ex 2620 99 95   A2020
319    A3120  ex 3825 90 90  ex 2620 99 95   A2030
320    A3120  ex 3915 10 00  ex 2620 99 95   A3090
321    A3120  ex 3915 20 00  ex 2620 99 95   AA060

[322 rows x 4 columns]
322
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
318    A3120  ex 3825 69 00  ex 2620 99 95   A2020
319    A3120  ex 3825 90 90  ex 2620 99 95   A2030
320    A3120  ex 3915 10 00  ex 2620 99 95   A3090
321    A3120  ex 3915 20 00  ex 2620 99 95   AA060
322    A3120  ex 3915 30 00  ex 2620 99 95   B1030

[323 rows x 4 columns]
323
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
319    A3120  ex 3825 90 90  ex 2620 99 95   A2030
320    A3120  ex 3915 10 00  ex 2620 99 95   A3090
321    A3120  ex 3915 20 00  ex 2620 99 95   AA060
322    A3120  ex 3915 30 00  ex 2620 99 95   B1030
323    A3120  ex 3915 90 11  ex 2620 99 95   B1031

[324 rows x 4 columns]
324
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
320    A3120  ex 3915 10 00  ex 2620 99 95   A3090
321    A3120  ex 3915 20 00  ex 2620 99 95   AA060
322    A3120  ex 3915 30 00  ex 2620 99 95   B1030
323    A3120  ex 3915 90 11  ex 2620 99 95   B1031
324    A3120  ex 3915 90 80  ex 2620 99 95   B1100

[325 rows x 4 columns]
325
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
321    A3120  ex 3915 20 00  ex 2620 99 95   AA060
322    A3120  ex 3915 30 00  ex 2620 99 95   B1030
323    A3120  ex 3915 90 11  ex 2620 99 95   B1031
324    A3120  ex 3915 90 80  ex 2620 99 95   B1100
325    A3120  ex 4004 00 00  ex 2620 99 95   B1120

[326 rows x 4 columns]
326
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
322    A3120  ex 3915 30 00  ex 2620 99 95   B1030
323    A3120  ex 3915 90 11  ex 2620 99 95   B1031
324    A3120  ex 3915 90 80  ex 2620 99 95   B1100
325    A3120  ex 4004 00 00  ex 2620 99 95   B1120
326    A3120  ex 4017 00 00  ex 2620 99 95   B1220

[327 rows x 4 columns]
327
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
323    A3120  ex 3915 90 11  ex 2620 99 95   B1031
324    A3120  ex 3915 90 80  ex 2620 99 95   B1100
325    A3120  ex 4004 00 00  ex 2620 99 95   B1120
326    A3120  ex 4017 00 00  ex 2620 99 95   B1220
327    A3120  ex 5202 10 00  ex 2620 99 95   B2010

[328 rows x 4 columns]
328
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
324    A3120  ex 3915 90 80  ex 2620 99 95   B1100
325    A3120  ex 4004 00 00  ex 2620 99 95   B1120
326    A3120  ex 4017 00 00  ex 2620 99 95   B1220
327    A3120  ex 5202 10 00  ex 2620 99 95   B2010
328    A3120  ex 5202 91 00  ex 2620 99 95   B2100

[329 rows x 4 columns]
329
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
325    A3120  ex 4004 00 00  ex 2620 99 95   B1120
326    A3120  ex 4017 00 00  ex 2620 99 95   B1220
327    A3120  ex 5202 10 00  ex 2620 99 95   B2010
328    A3120  ex 5202 91 00  ex 2620 99 95   B2100
329    A3120  ex 5202 99 00  ex 2620 99 95   B2110

[330 rows x 4 columns]
330
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
326    A3120  ex 4017 00 00  ex 2620 99 95   B1220
327    A3120  ex 5202 10 00  ex 2620 99 95   B2010
328    A3120  ex 5202 91 00  ex 2620 99 95   B2100
329    A3120  ex 5202 99 00  ex 2620 99 95   B2110
330    A3120  ex 5505 10 10  ex 2621 10 00    A1080

[331 rows x 4 columns]
331
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
327    A3120  ex 5202 10 00  ex 2620 99 95   B2010
328    A3120  ex 5202 91 00  ex 2620 99 95   B2100
329    A3120  ex 5202 99 00  ex 2620 99 95   B2110
330    A3120  ex 5505 10 10  ex 2621 10 00    A1080
331    A3120  ex 5505 10 30  ex 2621 10 00   A1090

[332 rows x 4 columns]
332
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
328    A3120  ex 5202 91 00  ex 2620 99 95   B2100
329    A3120  ex 5202 99 00  ex 2620 99 95   B2110
330    A3120  ex 5505 10 10  ex 2621 10 00    A1080
331    A3120  ex 5505 10 30  ex 2621 10 00   A1090
332    A3120  ex 5505 10 50  ex 2621 10 00   A4100

[333 rows x 4 columns]
333
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
329    A3120  ex 5202 99 00  ex 2620 99 95   B2110
330    A3120  ex 5505 10 10  ex 2621 10 00    A1080
331    A3120  ex 5505 10 30  ex 2621 10 00   A1090
332    A3120  ex 5505 10 50  ex 2621 10 00   A4100
333    A3120  ex 5505 10 70  ex 2621 10 00      Y47

[334 rows x 4 columns]
334
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
330    A3120  ex 5505 10 10  ex 2621 10 00    A1080
331    A3120  ex 5505 10 30  ex 2621 10 00   A1090
332    A3120  ex 5505 10 50  ex 2621 10 00   A4100
333    A3120  ex 5505 10 70  ex 2621 10 00      Y47
334    A3120  ex 5505 10 90  ex 2621 90 00    A1020

[335 rows x 4 columns]
335
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
331    A3120  ex 5505 10 30  ex 2621 10 00   A1090
332    A3120  ex 5505 10 50  ex 2621 10 00   A4100
333    A3120  ex 5505 10 70  ex 2621 10 00      Y47
334    A3120  ex 5505 10 90  ex 2621 90 00    A1020
335    A3120  ex 5505 20 00  ex 2621 90 00   A1030

[336 rows x 4 columns]
336
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
332    A3120  ex 5505 10 50  ex 2621 10 00   A4100
333    A3120  ex 5505 10 70  ex 2621 10 00      Y47
334    A3120  ex 5505 10 90  ex 2621 90 00    A1020
335    A3120  ex 5505 20 00  ex 2621 90 00   A1030
336    A3120  ex 6310 90 00  ex 2621 90 00   A1080

[337 rows x 4 columns]
337
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
333    A3120  ex 5505 10 70  ex 2621 10 00      Y47
334    A3120  ex 5505 10 90  ex 2621 90 00    A1020
335    A3120  ex 5505 20 00  ex 2621 90 00   A1030
336    A3120  ex 6310 90 00  ex 2621 90 00   A1080
337    A3120  ex 7001 00 10  ex 2621 90 00   A1090

[338 rows x 4 columns]
338
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
334    A3120  ex 5505 10 90  ex 2621 90 00    A1020
335    A3120  ex 5505 20 00  ex 2621 90 00   A1030
336    A3120  ex 6310 90 00  ex 2621 90 00   A1080
337    A3120  ex 7001 00 10  ex 2621 90 00   A1090
338    A3130  ex 3808 50 00  ex 2621 90 00   A1100

[339 rows x 4 columns]
339
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
335    A3120  ex 5505 20 00  ex 2621 90 00   A1030
336    A3120  ex 6310 90 00  ex 2621 90 00   A1080
337    A3120  ex 7001 00 10  ex 2621 90 00   A1090
338    A3130  ex 3808 50 00  ex 2621 90 00   A1100
339    A3130  ex 3808 91 40  ex 2621 90 00   A3090

[340 rows x 4 columns]
340
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
336    A3120  ex 6310 90 00  ex 2621 90 00   A1080
337    A3120  ex 7001 00 10  ex 2621 90 00   A1090
338    A3130  ex 3808 50 00  ex 2621 90 00   A1100
339    A3130  ex 3808 91 40  ex 2621 90 00   A3090
340    A3130  ex 3808 92 90  ex 2621 90 00   A4100

[341 rows x 4 columns]
341
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
337    A3120  ex 7001 00 10  ex 2621 90 00   A1090
338    A3130  ex 3808 50 00  ex 2621 90 00   A1100
339    A3130  ex 3808 91 40  ex 2621 90 00   A3090
340    A3130  ex 3808 92 90  ex 2621 90 00   A4100
341    A3130  ex 3808 93 27  ex 2621 90 00   B1031

[342 rows x 4 columns]
342
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
338    A3130  ex 3808 50 00  ex 2621 90 00   A1100
339    A3130  ex 3808 91 40  ex 2621 90 00   A3090
340    A3130  ex 3808 92 90  ex 2621 90 00   A4100
341    A3130  ex 3808 93 27  ex 2621 90 00   B1031
342    A3130  ex 3808 93 30  ex 2621 90 00   B1070

[343 rows x 4 columns]
343
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
339    A3130  ex 3808 91 40  ex 2621 90 00   A3090
340    A3130  ex 3808 92 90  ex 2621 90 00   A4100
341    A3130  ex 3808 93 27  ex 2621 90 00   B1031
342    A3130  ex 3808 93 30  ex 2621 90 00   B1070
343    A3130  ex 3808 93 90  ex 2621 90 00   B1100

[344 rows x 4 columns]
344
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
340    A3130  ex 3808 92 90  ex 2621 90 00   A4100
341    A3130  ex 3808 93 27  ex 2621 90 00   B1031
342    A3130  ex 3808 93 30  ex 2621 90 00   B1070
343    A3130  ex 3808 93 90  ex 2621 90 00   B1100
344    A3130  ex 3808 94 90  ex 2621 90 00   B1220

[345 rows x 4 columns]
345
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
341    A3130  ex 3808 93 27  ex 2621 90 00   B1031
342    A3130  ex 3808 93 30  ex 2621 90 00   B1070
343    A3130  ex 3808 93 90  ex 2621 90 00   B1100
344    A3130  ex 3808 94 90  ex 2621 90 00   B1220
345    A3130  ex 3808 99 10  ex 2621 90 00   B1240

[346 rows x 4 columns]
346
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
342    A3130  ex 3808 93 30  ex 2621 90 00   B1070
343    A3130  ex 3808 93 90  ex 2621 90 00   B1100
344    A3130  ex 3808 94 90  ex 2621 90 00   B1220
345    A3130  ex 3808 99 10  ex 2621 90 00   B1240
346    A3130  ex 3808 99 90  ex 2621 90 00   B2040

[347 rows x 4 columns]
347
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
343    A3130  ex 3808 93 90  ex 2621 90 00   B1100
344    A3130  ex 3808 94 90  ex 2621 90 00   B1220
345    A3130  ex 3808 99 10  ex 2621 90 00   B1240
346    A3130  ex 3808 99 90  ex 2621 90 00   B2040
347    A3130  ex 3824 90 92  ex 2621 90 00   B3100

[348 rows x 4 columns]
348
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
344    A3130  ex 3808 94 90  ex 2621 90 00   B1220
345    A3130  ex 3808 99 10  ex 2621 90 00   B1240
346    A3130  ex 3808 99 90  ex 2621 90 00   B2040
347    A3130  ex 3824 90 92  ex 2621 90 00   B3100
348    A3130  ex 3824 90 93  ex 2621 90 00   GG030

[349 rows x 4 columns]
349
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
345    A3130  ex 3808 99 10  ex 2621 90 00   B1240
346    A3130  ex 3808 99 90  ex 2621 90 00   B2040
347    A3130  ex 3824 90 92  ex 2621 90 00   B3100
348    A3130  ex 3824 90 93  ex 2621 90 00   GG030
349    A3130  ex 3825 61 00  ex 2621 90 00   GG040

[350 rows x 4 columns]
350
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
346    A3130  ex 3808 99 90  ex 2621 90 00   B2040
347    A3130  ex 3824 90 92  ex 2621 90 00   B3100
348    A3130  ex 3824 90 93  ex 2621 90 00   GG030
349    A3130  ex 3825 61 00  ex 2621 90 00   GG040
350    A3130  ex 3825 90 90  ex 2706 00 00    A3190

[351 rows x 4 columns]
351
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
347    A3130  ex 3824 90 92  ex 2621 90 00   B3100
348    A3130  ex 3824 90 93  ex 2621 90 00   GG030
349    A3130  ex 3825 61 00  ex 2621 90 00   GG040
350    A3130  ex 3825 90 90  ex 2706 00 00    A3190
351    A3140  ex 3814 00 10  ex 2706 00 00   A4040

[352 rows x 4 columns]
352
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
348    A3130  ex 3824 90 93  ex 2621 90 00   GG030
349    A3130  ex 3825 61 00  ex 2621 90 00   GG040
350    A3130  ex 3825 90 90  ex 2706 00 00    A3190
351    A3140  ex 3814 00 10  ex 2706 00 00   A4040
352    A3140  ex 3814 00 90  ex 2707 91 00    A4040

[353 rows x 4 columns]
353
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
349    A3130  ex 3825 61 00  ex 2621 90 00   GG040
350    A3130  ex 3825 90 90  ex 2706 00 00    A3190
351    A3140  ex 3814 00 10  ex 2706 00 00   A4040
352    A3140  ex 3814 00 90  ex 2707 91 00    A4040
353    A3140  ex 3824 90 92  ex 2707 99 80    A3070

[354 rows x 4 columns]
354
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
350    A3130  ex 3825 90 90  ex 2706 00 00    A3190
351    A3140  ex 3814 00 10  ex 2706 00 00   A4040
352    A3140  ex 3814 00 90  ex 2707 91 00    A4040
353    A3140  ex 3824 90 92  ex 2707 99 80    A3070
354    A3140  ex 3825 49 00  ex 2710 19 83    AC070

[355 rows x 4 columns]
355
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
351    A3140  ex 3814 00 10  ex 2706 00 00   A4040
352    A3140  ex 3814 00 90  ex 2707 91 00    A4040
353    A3140  ex 3824 90 92  ex 2707 99 80    A3070
354    A3140  ex 3825 49 00  ex 2710 19 83    AC070
355    A3150  ex 3814 00 10  ex 2710 91 00    A3180

[356 rows x 4 columns]
356
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
352    A3140  ex 3814 00 90  ex 2707 91 00    A4040
353    A3140  ex 3824 90 92  ex 2707 99 80    A3070
354    A3140  ex 3825 49 00  ex 2710 19 83    AC070
355    A3150  ex 3814 00 10  ex 2710 91 00    A3180
356    A3150  ex 3814 00 90  ex 2710 99 00    A3010

[357 rows x 4 columns]
357
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
353    A3140  ex 3824 90 92  ex 2707 99 80    A3070
354    A3140  ex 3825 49 00  ex 2710 19 83    AC070
355    A3150  ex 3814 00 10  ex 2710 91 00    A3180
356    A3150  ex 3814 00 90  ex 2710 99 00    A3010
357    A3150  ex 3824 90 92  ex 2710 99 00   A3020

[358 rows x 4 columns]
358
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
354    A3140  ex 3825 49 00  ex 2710 19 83    AC070
355    A3150  ex 3814 00 10  ex 2710 91 00    A3180
356    A3150  ex 3814 00 90  ex 2710 99 00    A3010
357    A3150  ex 3824 90 92  ex 2710 99 00   A3020
358    A3150  ex 3825 41 00  ex 2710 99 00    A3030

[359 rows x 4 columns]
359
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
355    A3150  ex 3814 00 10  ex 2710 91 00    A3180
356    A3150  ex 3814 00 90  ex 2710 99 00    A3010
357    A3150  ex 3824 90 92  ex 2710 99 00   A3020
358    A3150  ex 3825 41 00  ex 2710 99 00    A3030
359    A3160  ex 3824 90 92  ex 2710 99 00   A3040

[360 rows x 4 columns]
360
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
356    A3150  ex 3814 00 90  ex 2710 99 00    A3010
357    A3150  ex 3824 90 92  ex 2710 99 00   A3020
358    A3150  ex 3825 41 00  ex 2710 99 00    A3030
359    A3160  ex 3824 90 92  ex 2710 99 00   A3040
360    A3160  ex 3824 90 93  ex 2710 99 00   A3070

[361 rows x 4 columns]
361
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
357    A3150  ex 3824 90 92  ex 2710 99 00   A3020
358    A3150  ex 3825 41 00  ex 2710 99 00    A3030
359    A3160  ex 3824 90 92  ex 2710 99 00   A3040
360    A3160  ex 3824 90 93  ex 2710 99 00   A3070
361    A3160  ex 3825 61 00  ex 2710 99 00   A3180

[362 rows x 4 columns]
362
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
358    A3150  ex 3825 41 00  ex 2710 99 00    A3030
359    A3160  ex 3824 90 92  ex 2710 99 00   A3040
360    A3160  ex 3824 90 93  ex 2710 99 00   A3070
361    A3160  ex 3825 61 00  ex 2710 99 00   A3180
362    A3160  ex 3825 90 90  ex 2710 99 00    A4040

[363 rows x 4 columns]
363
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
359    A3160  ex 3824 90 92  ex 2710 99 00   A3040
360    A3160  ex 3824 90 93  ex 2710 99 00   A3070
361    A3160  ex 3825 61 00  ex 2710 99 00   A3180
362    A3160  ex 3825 90 90  ex 2710 99 00    A4040
363    A3170  ex 3824 90 92  ex 2710 99 00   A4060

[364 rows x 4 columns]
364
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
360    A3160  ex 3824 90 93  ex 2710 99 00   A3070
361    A3160  ex 3825 61 00  ex 2710 99 00   A3180
362    A3160  ex 3825 90 90  ex 2710 99 00    A4040
363    A3170  ex 3824 90 92  ex 2710 99 00   A4060
364    A3170  ex 3824 90 93  ex 2710 99 00   AC060

[365 rows x 4 columns]
365
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
361    A3160  ex 3825 61 00  ex 2710 99 00   A3180
362    A3160  ex 3825 90 90  ex 2710 99 00    A4040
363    A3170  ex 3824 90 92  ex 2710 99 00   A4060
364    A3170  ex 3824 90 93  ex 2710 99 00   AC060
365    A3170  ex 3825 41 00  ex 2710 99 00   AC150

[366 rows x 4 columns]
366
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
362    A3160  ex 3825 90 90  ex 2710 99 00    A4040
363    A3170  ex 3824 90 92  ex 2710 99 00   A4060
364    A3170  ex 3824 90 93  ex 2710 99 00   AC060
365    A3170  ex 3825 41 00  ex 2710 99 00   AC150
366    A3170  ex 3825 49 00  ex 2713 11 00    A3190

[367 rows x 4 columns]
367
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
363    A3170  ex 3824 90 92  ex 2710 99 00   A4060
364    A3170  ex 3824 90 93  ex 2710 99 00   AC060
365    A3170  ex 3825 41 00  ex 2710 99 00   AC150
366    A3170  ex 3825 49 00  ex 2713 11 00    A3190
367    A3170  ex 3825 61 00  ex 2713 12 00    A3190

[368 rows x 4 columns]
368
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
364    A3170  ex 3824 90 93  ex 2710 99 00   AC060
365    A3170  ex 3825 41 00  ex 2710 99 00   AC150
366    A3170  ex 3825 49 00  ex 2713 11 00    A3190
367    A3170  ex 3825 61 00  ex 2713 12 00    A3190
368    A3180  ex 2710 91 00  ex 2713 20 00    A3190

[369 rows x 4 columns]
369
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
365    A3170  ex 3825 41 00  ex 2710 99 00   AC150
366    A3170  ex 3825 49 00  ex 2713 11 00    A3190
367    A3170  ex 3825 61 00  ex 2713 12 00    A3190
368    A3180  ex 2710 91 00  ex 2713 20 00    A3190
369    A3180  ex 2710 99 00  ex 2713 20 00   A3200

[370 rows x 4 columns]
370
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
366    A3170  ex 3825 49 00  ex 2713 11 00    A3190
367    A3170  ex 3825 61 00  ex 2713 12 00    A3190
368    A3180  ex 2710 91 00  ex 2713 20 00    A3190
369    A3180  ex 2710 99 00  ex 2713 20 00   A3200
370    A3180  ex 3824 82 00  ex 2713 90 10    A3190

[371 rows x 4 columns]
371
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
367    A3170  ex 3825 61 00  ex 2713 12 00    A3190
368    A3180  ex 2710 91 00  ex 2713 20 00    A3190
369    A3180  ex 2710 99 00  ex 2713 20 00   A3200
370    A3180  ex 3824 82 00  ex 2713 90 10    A3190
371    A3180  ex 3824 90 92  ex 2713 90 10   A3200

[372 rows x 4 columns]
372
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
368    A3180  ex 2710 91 00  ex 2713 20 00    A3190
369    A3180  ex 2710 99 00  ex 2713 20 00   A3200
370    A3180  ex 3824 82 00  ex 2713 90 10    A3190
371    A3180  ex 3824 90 92  ex 2713 90 10   A3200
372    A3180  ex 3824 90 93  ex 2713 90 90    A3010

[373 rows x 4 columns]
373
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
369    A3180  ex 2710 99 00  ex 2713 20 00   A3200
370    A3180  ex 3824 82 00  ex 2713 90 10    A3190
371    A3180  ex 3824 90 92  ex 2713 90 10   A3200
372    A3180  ex 3824 90 93  ex 2713 90 90    A3010
373    A3180  ex 3824 90 96  ex 2713 90 90   A3190

[374 rows x 4 columns]
374
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
370    A3180  ex 3824 82 00  ex 2713 90 10    A3190
371    A3180  ex 3824 90 92  ex 2713 90 10   A3200
372    A3180  ex 3824 90 93  ex 2713 90 90    A3010
373    A3180  ex 3824 90 96  ex 2713 90 90   A3190
374    A3180  ex 3825 10 00  ex 2713 90 90   A3200

[375 rows x 4 columns]
375
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
371    A3180  ex 3824 90 92  ex 2713 90 10   A3200
372    A3180  ex 3824 90 93  ex 2713 90 90    A3010
373    A3180  ex 3824 90 96  ex 2713 90 90   A3190
374    A3180  ex 3825 10 00  ex 2713 90 90   A3200
375    A3180  ex 3825 20 00  ex 2714 10 00    A3200

[376 rows x 4 columns]
376
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
372    A3180  ex 3824 90 93  ex 2713 90 90    A3010
373    A3180  ex 3824 90 96  ex 2713 90 90   A3190
374    A3180  ex 3825 10 00  ex 2713 90 90   A3200
375    A3180  ex 3825 20 00  ex 2714 10 00    A3200
376    A3180  ex 3825 41 00  ex 2714 10 00   B2130

[377 rows x 4 columns]
377
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
373    A3180  ex 3824 90 96  ex 2713 90 90   A3190
374    A3180  ex 3825 10 00  ex 2713 90 90   A3200
375    A3180  ex 3825 20 00  ex 2714 10 00    A3200
376    A3180  ex 3825 41 00  ex 2714 10 00   B2130
377    A3180  ex 3825 50 00  ex 2714 90 00    A3200

[378 rows x 4 columns]
378
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
374    A3180  ex 3825 10 00  ex 2713 90 90   A3200
375    A3180  ex 3825 20 00  ex 2714 10 00    A3200
376    A3180  ex 3825 41 00  ex 2714 10 00   B2130
377    A3180  ex 3825 50 00  ex 2714 90 00    A3200
378    A3180  ex 3825 61 00  ex 2714 90 00   B2130

[379 rows x 4 columns]
379
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
375    A3180  ex 3825 20 00  ex 2714 10 00    A3200
376    A3180  ex 3825 41 00  ex 2714 10 00   B2130
377    A3180  ex 3825 50 00  ex 2714 90 00    A3200
378    A3180  ex 3825 61 00  ex 2714 90 00   B2130
379    A3180  ex 3825 69 00  ex 2715 00 00    A3200

[380 rows x 4 columns]
380
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
376    A3180  ex 3825 41 00  ex 2714 10 00   B2130
377    A3180  ex 3825 50 00  ex 2714 90 00    A3200
378    A3180  ex 3825 61 00  ex 2714 90 00   B2130
379    A3180  ex 3825 69 00  ex 2715 00 00    A3200
380    A3180  ex 3825 90 90  ex 2715 00 00   B2130

[381 rows x 4 columns]
381
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
377    A3180  ex 3825 50 00  ex 2714 90 00    A3200
378    A3180  ex 3825 61 00  ex 2714 90 00   B2130
379    A3180  ex 3825 69 00  ex 2715 00 00    A3200
380    A3180  ex 3825 90 90  ex 2715 00 00   B2130
381    A3190  ex 2706 00 00          ex 28    A4140

[382 rows x 4 columns]
382
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
378    A3180  ex 3825 61 00  ex 2714 90 00   B2130
379    A3180  ex 3825 69 00  ex 2715 00 00    A3200
380    A3180  ex 3825 90 90  ex 2715 00 00   B2130
381    A3190  ex 2706 00 00          ex 28    A4140
382    A3190  ex 2713 11 00  ex 2843 90 10    A1010

[383 rows x 4 columns]
383
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
379    A3180  ex 3825 69 00  ex 2715 00 00    A3200
380    A3180  ex 3825 90 90  ex 2715 00 00   B2130
381    A3190  ex 2706 00 00          ex 28    A4140
382    A3190  ex 2713 11 00  ex 2843 90 10    A1010
383    A3190  ex 2713 12 00  ex 2843 90 10   A1030

[384 rows x 4 columns]
384
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
380    A3180  ex 3825 90 90  ex 2715 00 00   B2130
381    A3190  ex 2706 00 00          ex 28    A4140
382    A3190  ex 2713 11 00  ex 2843 90 10    A1010
383    A3190  ex 2713 12 00  ex 2843 90 10   A1030
384    A3190  ex 2713 20 00  ex 2843 90 10   A4020

[385 rows x 4 columns]
385
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
381    A3190  ex 2706 00 00          ex 28    A4140
382    A3190  ex 2713 11 00  ex 2843 90 10    A1010
383    A3190  ex 2713 12 00  ex 2843 90 10   A1030
384    A3190  ex 2713 20 00  ex 2843 90 10   A4020
385    A3190  ex 2713 90 10  ex 2853 00 90    A1010

[386 rows x 4 columns]
386
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
382    A3190  ex 2713 11 00  ex 2843 90 10    A1010
383    A3190  ex 2713 12 00  ex 2843 90 10   A1030
384    A3190  ex 2713 20 00  ex 2843 90 10   A4020
385    A3190  ex 2713 90 10  ex 2853 00 90    A1010
386    A3190  ex 2713 90 90  ex 2853 00 90   A1030

[387 rows x 4 columns]
387
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
383    A3190  ex 2713 12 00  ex 2843 90 10   A1030
384    A3190  ex 2713 20 00  ex 2843 90 10   A4020
385    A3190  ex 2713 90 10  ex 2853 00 90    A1010
386    A3190  ex 2713 90 90  ex 2853 00 90   A1030
387    A3190  ex 3807 00 10  ex 2853 00 90   A4020

[388 rows x 4 columns]
388
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
384    A3190  ex 2713 20 00  ex 2843 90 10   A4020
385    A3190  ex 2713 90 10  ex 2853 00 90    A1010
386    A3190  ex 2713 90 90  ex 2853 00 90   A1030
387    A3190  ex 3807 00 10  ex 2853 00 90   A4020
388    A3190  ex 3807 00 90          ex 29    A4140

[389 rows x 4 columns]
389
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
385    A3190  ex 2713 90 10  ex 2853 00 90    A1010
386    A3190  ex 2713 90 90  ex 2853 00 90   A1030
387    A3190  ex 3807 00 10  ex 2853 00 90   A4020
388    A3190  ex 3807 00 90          ex 29    A4140
389    A3190  ex 3825 61 00  ex 2903 71 00    AC150

[390 rows x 4 columns]
390
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
386    A3190  ex 2713 90 90  ex 2853 00 90   A1030
387    A3190  ex 3807 00 10  ex 2853 00 90   A4020
388    A3190  ex 3807 00 90          ex 29    A4140
389    A3190  ex 3825 61 00  ex 2903 71 00    AC150
390    A3190  ex 3825 90 90  ex 2903 72 00    AC150

[391 rows x 4 columns]
391
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
387    A3190  ex 3807 00 10  ex 2853 00 90   A4020
388    A3190  ex 3807 00 90          ex 29    A4140
389    A3190  ex 3825 61 00  ex 2903 71 00    AC150
390    A3190  ex 3825 90 90  ex 2903 72 00    AC150
391    A3200  ex 2713 20 00  ex 2903 73 00    AC150

[392 rows x 4 columns]
392
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
388    A3190  ex 3807 00 90          ex 29    A4140
389    A3190  ex 3825 61 00  ex 2903 71 00    AC150
390    A3190  ex 3825 90 90  ex 2903 72 00    AC150
391    A3200  ex 2713 20 00  ex 2903 73 00    AC150
392    A3200  ex 2713 90 10  ex 2903 74 00    AC150

[393 rows x 4 columns]
393
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
389    A3190  ex 3825 61 00  ex 2903 71 00    AC150
390    A3190  ex 3825 90 90  ex 2903 72 00    AC150
391    A3200  ex 2713 20 00  ex 2903 73 00    AC150
392    A3200  ex 2713 90 10  ex 2903 74 00    AC150
393    A3200  ex 2713 90 90  ex 2903 75 00    AC150

[394 rows x 4 columns]
394
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
390    A3190  ex 3825 90 90  ex 2903 72 00    AC150
391    A3200  ex 2713 20 00  ex 2903 73 00    AC150
392    A3200  ex 2713 90 10  ex 2903 74 00    AC150
393    A3200  ex 2713 90 90  ex 2903 75 00    AC150
394    A3200  ex 2714 10 00  ex 2903 76 10    AC160

[395 rows x 4 columns]
395
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
391    A3200  ex 2713 20 00  ex 2903 73 00    AC150
392    A3200  ex 2713 90 10  ex 2903 74 00    AC150
393    A3200  ex 2713 90 90  ex 2903 75 00    AC150
394    A3200  ex 2714 10 00  ex 2903 76 10    AC160
395    A3200  ex 2714 90 00  ex 2903 76 20    AC160

[396 rows x 4 columns]
396
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
392    A3200  ex 2713 90 10  ex 2903 74 00    AC150
393    A3200  ex 2713 90 90  ex 2903 75 00    AC150
394    A3200  ex 2714 10 00  ex 2903 76 10    AC160
395    A3200  ex 2714 90 00  ex 2903 76 20    AC160
396    A3200  ex 2715 00 00  ex 2903 76 90    AC160

[397 rows x 4 columns]
397

    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
393    A3200  ex 2713 90 90     ex 2903 75 00    AC150
394    A3200  ex 2714 10 00     ex 2903 76 10    AC160
395    A3200  ex 2714 90 00     ex 2903 76 20    AC160
396    A3200  ex 2715 00 00     ex 2903 76 90    AC160
397    A3200  ex 3825 10 00  ex 2903 77 AC150

[398 rows x 4 columns]
398
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
394    A3200  ex 2714 10 00     ex 2903 76 10    AC160
395    A3200  ex 2714 90 00     ex 2903 76 20    AC160
396    A3200  ex 2715 00 00     ex 2903 76 90    AC160
397    A3200  ex 3825 10 00  ex 2903 77 AC150
398    A3200  ex 3825 61 00     ex 2903 78 00    AC160

[399 rows x 4 columns]
399
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
395    A3200  ex 2714 90 00     ex 2903 76 20    AC160
396    A3200  ex 2715 00 00     ex 2903 76 90    AC160
397    A3200  ex 3825 10 00  ex 2903 77 AC150
398    A3200  ex 3825 61 00     ex 2903 78 00    AC160
399    A3200  ex 3825 90 90     ex 2903 79 30    AC150

[400 rows x 4 columns]
400
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
396    A3200  ex 2715 00 00     ex 2903 76 90    AC160
397    A3200  ex 3825 10 00  ex 2903 77 AC150
398    A3200  ex 3825 61 00     ex 2903 78 00    AC160
399    A3200  ex 3825 90 90     ex 2903 79 30    AC150
400    A4010  ex 3006 92 00     ex 2903 79 30   AC160

[401 rows x 4 columns]
401
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
397    A3200  ex 3825 10 00  ex 2903 77 AC150
398    A3200  ex 3825 61 00     ex 2903 78 00    AC160
399    A3200  ex 3825 90 90     ex 2903 79 30    AC150
400    A4010  ex 3006 92 00     ex 2903 79 30   AC160
401    A4010  ex 3825 10 00     ex 2903 79 80    AC150

[402 rows x 4 columns]
402
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
398    A3200  ex 3825 61 00  ex 2903 78 00    AC160
399    A3200  ex 3825 90 90  ex 2903 79 30    AC150
400    A4010  ex 3006 92 00  ex 2903 79 30   AC160
401    A4010  ex 3825 10 00  ex 2903 79 80    AC150
402    A4010  ex 3825 30 00  ex 2903 79 80   AC160

[403 rows x 4 columns]
403
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
399    A3200  ex 3825 90 90  ex 2903 79 30    AC150
400    A4010  ex 3006 92 00  ex 2903 79 30   AC160
401    A4010  ex 3825 10 00  ex 2903 79 80    AC150
402    A4010  ex 3825 30 00  ex 2903 79 80   AC160
403    A4010  ex 3825 41 00  ex 3006 92 00    A4010

[404 rows x 4 columns]
404
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
400    A4010  ex 3006 92 00  ex 2903 79 30   AC160
401    A4010  ex 3825 10 00  ex 2903 79 80    AC150
402    A4010  ex 3825 30 00  ex 2903 79 80   AC160
403    A4010  ex 3825 41 00  ex 3006 92 00    A4010
404    A4010  ex 3825 49 00  ex 3006 92 00   A4020

[405 rows x 4 columns]
405
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
401    A4010  ex 3825 10 00  ex 2903 79 80    AC150
402    A4010  ex 3825 30 00  ex 2903 79 80   AC160
403    A4010  ex 3825 41 00  ex 3006 92 00    A4010
404    A4010  ex 3825 49 00  ex 3006 92 00   A4020
405    A4010  ex 3825 61 00  ex 3101 00 00    AC260

[406 rows x 4 columns]
406
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
402    A4010  ex 3825 30 00  ex 2903 79 80   AC160
403    A4010  ex 3825 41 00  ex 3006 92 00    A4010
404    A4010  ex 3825 49 00  ex 3006 92 00   A4020
405    A4010  ex 3825 61 00  ex 3101 00 00    AC260
406    A4010  ex 3825 69 00  ex 3101 00 00   AC270

[407 rows x 4 columns]
407
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
403    A4010  ex 3825 41 00  ex 3006 92 00    A4010
404    A4010  ex 3825 49 00  ex 3006 92 00   A4020
405    A4010  ex 3825 61 00  ex 3101 00 00    AC260
406    A4010  ex 3825 69 00  ex 3101 00 00   AC270
407    A4010  ex 3825 90 90  ex 3104 20 10    B2040

[408 rows x 4 columns]
408
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
404    A4010  ex 3825 49 00  ex 3006 92 00   A4020
405    A4010  ex 3825 61 00  ex 3101 00 00    AC260
406    A4010  ex 3825 69 00  ex 3101 00 00   AC270
407    A4010  ex 3825 90 90  ex 3104 20 10    B2040
408    A4020  ex 2843 90 10  ex 3104 20 50    B2040

[409 rows x 4 columns]
409
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
405    A4010  ex 3825 61 00  ex 3101 00 00    AC260
406    A4010  ex 3825 69 00  ex 3101 00 00   AC270
407    A4010  ex 3825 90 90  ex 3104 20 10    B2040
408    A4020  ex 2843 90 10  ex 3104 20 50    B2040
409    A4020  ex 2853 00 90  ex 3104 20 90    B2040

[410 rows x 4 columns]
410
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
406    A4010  ex 3825 69 00  ex 3101 00 00   AC270
407    A4010  ex 3825 90 90  ex 3104 20 10    B2040
408    A4020  ex 2843 90 10  ex 3104 20 50    B2040
409    A4020  ex 2853 00 90  ex 3104 20 90    B2040
410    A4020  ex 3006 92 00  ex 3203 00 10    A4070

[411 rows x 4 columns]
411
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
407    A4010  ex 3825 90 90  ex 3104 20 10    B2040
408    A4020  ex 2843 90 10  ex 3104 20 50    B2040
409    A4020  ex 2853 00 90  ex 3104 20 90    B2040
410    A4020  ex 3006 92 00  ex 3203 00 10    A4070
411    A4020  ex 3825 30 00  ex 3203 00 10   B3120

[412 rows x 4 columns]
412
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
408    A4020  ex 2843 90 10  ex 3104 20 50    B2040
409    A4020  ex 2853 00 90  ex 3104 20 90    B2040
410    A4020  ex 3006 92 00  ex 3203 00 10    A4070
411    A4020  ex 3825 30 00  ex 3203 00 10   B3120
412    A4030  ex 3808 50 00  ex 3203 00 90    A4070

[413 rows x 4 columns]
413
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
409    A4020  ex 2853 00 90  ex 3104 20 90    B2040
410    A4020  ex 3006 92 00  ex 3203 00 10    A4070
411    A4020  ex 3825 30 00  ex 3203 00 10   B3120
412    A4030  ex 3808 50 00  ex 3203 00 90    A4070
413    A4030  ex 3808 91 10  ex 3203 00 90   B3120

[414 rows x 4 columns]
414
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
410    A4020  ex 3006 92 00  ex 3203 00 10    A4070
411    A4020  ex 3825 30 00  ex 3203 00 10   B3120
412    A4030  ex 3808 50 00  ex 3203 00 90    A4070
413    A4030  ex 3808 91 10  ex 3203 00 90   B3120
414    A4030  ex 3808 91 20        ex 3204    A4070

[415 rows x 4 columns]
415
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
411    A4020  ex 3825 30 00  ex 3203 00 10   B3120
412    A4030  ex 3808 50 00  ex 3203 00 90    A4070
413    A4030  ex 3808 91 10  ex 3203 00 90   B3120
414    A4030  ex 3808 91 20        ex 3204    A4070
415    A4030  ex 3808 91 30        ex 3204   B3120

[416 rows x 4 columns]
416
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
412    A4030  ex 3808 50 00  ex 3203 00 90    A4070
413    A4030  ex 3808 91 10  ex 3203 00 90   B3120
414    A4030  ex 3808 91 20        ex 3204    A4070
415    A4030  ex 3808 91 30        ex 3204   B3120
416    A4030  ex 3808 91 40  ex 3205 00 00    B3120

[417 rows x 4 columns]
417
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
413    A4030  ex 3808 91 10  ex 3203 00 90   B3120
414    A4030  ex 3808 91 20        ex 3204    A4070
415    A4030  ex 3808 91 30        ex 3204   B3120
416    A4030  ex 3808 91 40  ex 3205 00 00    B3120
417    A4030  ex 3808 91 90        ex 3206    A4070

[418 rows x 4 columns]
418
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
414    A4030  ex 3808 91 20        ex 3204    A4070
415    A4030  ex 3808 91 30        ex 3204   B3120
416    A4030  ex 3808 91 40  ex 3205 00 00    B3120
417    A4030  ex 3808 91 90        ex 3206    A4070
418    A4030  ex 3808 92 30  ex 3206 11 00    B3120

[419 rows x 4 columns]
419
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
415    A4030  ex 3808 91 30        ex 3204   B3120
416    A4030  ex 3808 91 40  ex 3205 00 00    B3120
417    A4030  ex 3808 91 90        ex 3206    A4070
418    A4030  ex 3808 92 30  ex 3206 11 00    B3120
419    A4030  ex 3808 92 40  ex 3206 19 00    B3120

[420 rows x 4 columns]
420
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
416    A4030  ex 3808 91 40  ex 3205 00 00    B3120
417    A4030  ex 3808 91 90        ex 3206    A4070
418    A4030  ex 3808 92 30  ex 3206 11 00    B3120
419    A4030  ex 3808 92 40  ex 3206 19 00    B3120
420    A4030  ex 3808 92 50  ex 3206 49 10    B3120

[421 rows x 4 columns]
421
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
417    A4030  ex 3808 91 90        ex 3206    A4070
418    A4030  ex 3808 92 30  ex 3206 11 00    B3120
419    A4030  ex 3808 92 40  ex 3206 19 00    B3120
420    A4030  ex 3808 92 50  ex 3206 49 10    B3120
421    A4030  ex 3808 92 60  ex 3206 49 70    B3120

[422 rows x 4 columns]
422
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
418    A4030  ex 3808 92 30  ex 3206 11 00    B3120
419    A4030  ex 3808 92 40  ex 3206 19 00    B3120
420    A4030  ex 3808 92 50  ex 3206 49 10    B3120
421    A4030  ex 3808 92 60  ex 3206 49 70    B3120
422    A4030  ex 3808 92 90  ex 3207 10 00    A4070

[423 rows x 4 columns]
423
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
419    A4030  ex 3808 92 40  ex 3206 19 00    B3120
420    A4030  ex 3808 92 50  ex 3206 49 10    B3120
421    A4030  ex 3808 92 60  ex 3206 49 70    B3120
422    A4030  ex 3808 92 90  ex 3207 10 00    A4070
423    A4030  ex 3808 93 11  ex 3207 10 00   B3120

[424 rows x 4 columns]
424
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
420    A4030  ex 3808 92 50  ex 3206 49 10    B3120
421    A4030  ex 3808 92 60  ex 3206 49 70    B3120
422    A4030  ex 3808 92 90  ex 3207 10 00    A4070
423    A4030  ex 3808 93 11  ex 3207 10 00   B3120
424    A4030  ex 3808 93 13  ex 3207 20 10    A4070

[425 rows x 4 columns]
425
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
421    A4030  ex 3808 92 60  ex 3206 49 70    B3120
422    A4030  ex 3808 92 90  ex 3207 10 00    A4070
423    A4030  ex 3808 93 11  ex 3207 10 00   B3120
424    A4030  ex 3808 93 13  ex 3207 20 10    A4070
425    A4030  ex 3808 93 15  ex 3207 20 90    A4070

[426 rows x 4 columns]
426
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
422    A4030  ex 3808 92 90  ex 3207 10 00    A4070
423    A4030  ex 3808 93 11  ex 3207 10 00   B3120
424    A4030  ex 3808 93 13  ex 3207 20 10    A4070
425    A4030  ex 3808 93 15  ex 3207 20 90    A4070
426    A4030  ex 3808 93 17  ex 3207 30 00    A4070

[427 rows x 4 columns]
427
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
423    A4030  ex 3808 93 11  ex 3207 10 00   B3120
424    A4030  ex 3808 93 13  ex 3207 20 10    A4070
425    A4030  ex 3808 93 15  ex 3207 20 90    A4070
426    A4030  ex 3808 93 17  ex 3207 30 00    A4070
427    A4030  ex 3808 93 21  ex 3207 40 40    AB030

[428 rows x 4 columns]
428
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
424    A4030  ex 3808 93 13  ex 3207 20 10    A4070
425    A4030  ex 3808 93 15  ex 3207 20 90    A4070
426    A4030  ex 3808 93 17  ex 3207 30 00    A4070
427    A4030  ex 3808 93 21  ex 3207 40 40    AB030
428    A4030  ex 3808 93 23  ex 3207 40 85    AB030

[429 rows x 4 columns]
429
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
425    A4030  ex 3808 93 15  ex 3207 20 90    A4070
426    A4030  ex 3808 93 17  ex 3207 30 00    A4070
427    A4030  ex 3808 93 21  ex 3207 40 40    AB030
428    A4030  ex 3808 93 23  ex 3207 40 85    AB030
429    A4030  ex 3808 93 27        ex 3208    A4070

[430 rows x 4 columns]
430
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
426    A4030  ex 3808 93 17     ex 3207 30 00    A4070
427    A4030  ex 3808 93 21     ex 3207 40 40    AB030
428    A4030  ex 3808 93 23     ex 3207 40 85    AB030
429    A4030  ex 3808 93 27           ex 3208    A4070
430    A4030  ex 3808 93 30  ex 3208 10 A4040

[431 rows x 4 columns]
431
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
427    A4030  ex 3808 93 21     ex 3207 40 40    AB030
428    A4030  ex 3808 93 23     ex 3207 40 85    AB030
429    A4030  ex 3808 93 27           ex 3208    A4070
430    A4030  ex 3808 93 30  ex 3208 10 A4040
431    A4030  ex 3808 93 90  ex 3208 20 A4040

[432 rows x 4 columns]
432
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
428    A4030  ex 3808 93 23     ex 3207 40 85    AB030
429    A4030  ex 3808 93 27           ex 3208    A4070
430    A4030  ex 3808 93 30  ex 3208 10 A4040
431    A4030  ex 3808 93 90  ex 3208 20 A4040
432    A4030  ex 3808 99 10     ex 3208 90 19    A4040

[433 rows x 4 columns]
433
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
429    A4030  ex 3808 93 27           ex 3208    A4070
430    A4030  ex 3808 93 30  ex 3208 10 A4040
431    A4030  ex 3808 93 90  ex 3208 20 A4040
432    A4030  ex 3808 99 10     ex 3208 90 19    A4040
433    A4030  ex 3808 99 90     ex 3208 90 91    A4040

[434 rows x 4 columns]
434
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
430    A4030  ex 3808 93 30  ex 3208 10 A4040
431    A4030  ex 3808 93 90  ex 3208 20 A4040
432    A4030  ex 3808 99 10     ex 3208 90 19    A4040
433    A4030  ex 3808 99 90     ex 3208 90 91    A4040
434    A4030  ex 3825 61 00     ex 3208 90 99    A4040

[435 rows x 4 columns]
435
    Column_1       Column_2          Column_3 Column_4
0        NaN            NaN               NaN      NaN
1      A1010  ex 2620 60 00     ex 0501 00 00    B3070
2      A1010  ex 2843 90 10     ex 0502 10 00    A3110
3      A1010  ex 2853 00 90     ex 0502 10 00   B3110
4      A1010  ex 3825 69 00     ex 0502 10 00   GN010
..       ...            ...               ...      ...
431    A4030  ex 3808 93 90  ex 3208 20 A4040
432    A4030  ex 3808 99 10     ex 3208 90 19    A4040
433    A4030  ex 3808 99 90     ex 3208 90 91    A4040
434    A4030  ex 3825 61 00     ex 3208 90 99    A4040
435    A4030  ex 3825 69 00           ex 3209    A4070

[436 rows x 4 columns]
436
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
432    A4030  ex 3808 99 10  ex 3208 90 19    A4040
433    A4030  ex 3808 99 90  ex 3208 90 91    A4040
434    A4030  ex 3825 61 00  ex 3208 90 99    A4040
435    A4030  ex 3825 69 00        ex 3209    A4070
436    A4030  ex 3825 90 90  ex 3209 10 00    B4010

[437 rows x 4 columns]
437
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
433    A4030  ex 3808 99 90  ex 3208 90 91    A4040
434    A4030  ex 3825 61 00  ex 3208 90 99    A4040
435    A4030  ex 3825 69 00        ex 3209    A4070
436    A4030  ex 3825 90 90  ex 3209 10 00    B4010
437    A4040  ex 1515 11 00  ex 3209 90 00    B4010

[438 rows x 4 columns]
438
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
434    A4030  ex 3825 61 00  ex 3208 90 99    A4040
435    A4030  ex 3825 69 00        ex 3209    A4070
436    A4030  ex 3825 90 90  ex 3209 10 00    B4010
437    A4040  ex 1515 11 00  ex 3209 90 00    B4010
438    A4040  ex 1515 19 10        ex 3210    A4070

[439 rows x 4 columns]
439
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
435    A4030  ex 3825 69 00        ex 3209    A4070
436    A4030  ex 3825 90 90  ex 3209 10 00    B4010
437    A4040  ex 1515 11 00  ex 3209 90 00    B4010
438    A4040  ex 1515 19 10        ex 3210    A4070
439    A4040     ex 1518 00  ex 3210 00 10    AB030

[440 rows x 4 columns]
440
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
436    A4030  ex 3825 90 90  ex 3209 10 00    B4010
437    A4040  ex 1515 11 00  ex 3209 90 00    B4010
438    A4040  ex 1515 19 10        ex 3210    A4070
439    A4040     ex 1518 00  ex 3210 00 10    AB030
440    A4040  ex 2706 00 00  ex 3210 00 10   B4010

[441 rows x 4 columns]
441
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
437    A4040  ex 1515 11 00  ex 3209 90 00    B4010
438    A4040  ex 1515 19 10        ex 3210    A4070
439    A4040     ex 1518 00  ex 3210 00 10    AB030
440    A4040  ex 2706 00 00  ex 3210 00 10   B4010
441    A4040  ex 2707 91 00  ex 3210 00 90    AB030

[442 rows x 4 columns]
442
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
438    A4040  ex 1515 19 10        ex 3210    A4070
439    A4040     ex 1518 00  ex 3210 00 10    AB030
440    A4040  ex 2706 00 00  ex 3210 00 10   B4010
441    A4040  ex 2707 91 00  ex 3210 00 90    AB030
442    A4040  ex 2710 99 00  ex 3210 00 90   B4010

[443 rows x 4 columns]
443
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
439    A4040     ex 1518 00  ex 3210 00 10    AB030
440    A4040  ex 2706 00 00  ex 3210 00 10   B4010
441    A4040  ex 2707 91 00  ex 3210 00 90    AB030
442    A4040  ex 2710 99 00  ex 3210 00 90   B4010
443    A4040     ex 3208 10  ex 3212 10 00    A4070

[444 rows x 4 columns]
444
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
440    A4040  ex 2706 00 00  ex 3210 00 10   B4010
441    A4040  ex 2707 91 00  ex 3210 00 90    AB030
442    A4040  ex 2710 99 00  ex 3210 00 90   B4010
443    A4040     ex 3208 10  ex 3212 10 00    A4070
444    A4040     ex 3208 20  ex 3212 90 00    A4070

[445 rows x 4 columns]
445
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
441    A4040  ex 2707 91 00  ex 3210 00 90    AB030
442    A4040  ex 2710 99 00  ex 3210 00 90   B4010
443    A4040     ex 3208 10  ex 3212 10 00    A4070
444    A4040     ex 3208 20  ex 3212 90 00    A4070
445    A4040  ex 3208 90 19  ex 3212 90 00   AB030

[446 rows x 4 columns]
446
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
442    A4040  ex 2710 99 00  ex 3210 00 90   B4010
443    A4040     ex 3208 10  ex 3212 10 00    A4070
444    A4040     ex 3208 20  ex 3212 90 00    A4070
445    A4040  ex 3208 90 19  ex 3212 90 00   AB030
446    A4040  ex 3208 90 91        ex 3213    A4070

[447 rows x 4 columns]
447
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
443    A4040     ex 3208 10  ex 3212 10 00    A4070
444    A4040     ex 3208 20  ex 3212 90 00    A4070
445    A4040  ex 3208 90 19  ex 3212 90 00   AB030
446    A4040  ex 3208 90 91        ex 3213    A4070
447    A4040  ex 3208 90 99  ex 3213 10 00    B4010

[448 rows x 4 columns]
448
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
444    A4040     ex 3208 20  ex 3212 90 00    A4070
445    A4040  ex 3208 90 19  ex 3212 90 00   AB030
446    A4040  ex 3208 90 91        ex 3213    A4070
447    A4040  ex 3208 90 99  ex 3213 10 00    B4010
448    A4040  ex 3808 50 00  ex 3213 90 00    B4010

[449 rows x 4 columns]
449
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
445    A4040  ex 3208 90 19  ex 3212 90 00   AB030
446    A4040  ex 3208 90 91        ex 3213    A4070
447    A4040  ex 3208 90 99  ex 3213 10 00    B4010
448    A4040  ex 3808 50 00  ex 3213 90 00    B4010
449    A4040  ex 3808 91 10        ex 3215    A4070

[450 rows x 4 columns]
450
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
446    A4040  ex 3208 90 91        ex 3213    A4070
447    A4040  ex 3208 90 99  ex 3213 10 00    B4010
448    A4040  ex 3808 50 00  ex 3213 90 00    B4010
449    A4040  ex 3808 91 10        ex 3215    A4070
450    A4040  ex 3808 91 20  ex 3215 11 00    B4010

[451 rows x 4 columns]
451
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
447    A4040  ex 3208 90 99  ex 3213 10 00    B4010
448    A4040  ex 3808 50 00  ex 3213 90 00    B4010
449    A4040  ex 3808 91 10        ex 3215    A4070
450    A4040  ex 3808 91 20  ex 3215 11 00    B4010
451    A4040  ex 3808 91 30  ex 3215 19 00    B4010

[452 rows x 4 columns]
452
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
448    A4040  ex 3808 50 00  ex 3213 90 00    B4010
449    A4040  ex 3808 91 10        ex 3215    A4070
450    A4040  ex 3808 91 20  ex 3215 11 00    B4010
451    A4040  ex 3808 91 30  ex 3215 19 00    B4010
452    A4040  ex 3808 91 40  ex 3215 90 00    B4010

[453 rows x 4 columns]
453
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
449    A4040  ex 3808 91 10        ex 3215    A4070
450    A4040  ex 3808 91 20  ex 3215 11 00    B4010
451    A4040  ex 3808 91 30  ex 3215 19 00    B4010
452    A4040  ex 3808 91 40  ex 3215 90 00    B4010
453    A4040  ex 3808 91 90        ex 3401    AC250

[454 rows x 4 columns]
454
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
450    A4040  ex 3808 91 20  ex 3215 11 00    B4010
451    A4040  ex 3808 91 30  ex 3215 19 00    B4010
452    A4040  ex 3808 91 40  ex 3215 90 00    B4010
453    A4040  ex 3808 91 90        ex 3401    AC250
454    A4040  ex 3808 92 10  ex 3402 11 10    AC250

[455 rows x 4 columns]
455
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
451    A4040  ex 3808 91 30  ex 3215 19 00    B4010
452    A4040  ex 3808 91 40  ex 3215 90 00    B4010
453    A4040  ex 3808 91 90        ex 3401    AC250
454    A4040  ex 3808 92 10  ex 3402 11 10    AC250
455    A4040  ex 3808 92 20  ex 3402 11 90    AC250

[456 rows x 4 columns]
456
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
452    A4040  ex 3808 91 40  ex 3215 90 00    B4010
453    A4040  ex 3808 91 90        ex 3401    AC250
454    A4040  ex 3808 92 10  ex 3402 11 10    AC250
455    A4040  ex 3808 92 20  ex 3402 11 90    AC250
456    A4040  ex 3808 92 30  ex 3402 12 00    AC250

[457 rows x 4 columns]
457
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
453    A4040  ex 3808 91 90        ex 3401    AC250
454    A4040  ex 3808 92 10  ex 3402 11 10    AC250
455    A4040  ex 3808 92 20  ex 3402 11 90    AC250
456    A4040  ex 3808 92 30  ex 3402 12 00    AC250
457    A4040  ex 3808 92 40  ex 3402 13 00    AC250

[458 rows x 4 columns]
458
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
454    A4040  ex 3808 92 10  ex 3402 11 10    AC250
455    A4040  ex 3808 92 20  ex 3402 11 90    AC250
456    A4040  ex 3808 92 30  ex 3402 12 00    AC250
457    A4040  ex 3808 92 40  ex 3402 13 00    AC250
458    A4040  ex 3808 92 50  ex 3402 19 00    AC250

[459 rows x 4 columns]
459
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
455    A4040  ex 3808 92 20  ex 3402 11 90    AC250
456    A4040  ex 3808 92 30  ex 3402 12 00    AC250
457    A4040  ex 3808 92 40  ex 3402 13 00    AC250
458    A4040  ex 3808 92 50  ex 3402 19 00    AC250
459    A4040  ex 3808 92 60  ex 3403 19 20    AC060

[460 rows x 4 columns]
460
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
456    A4040  ex 3808 92 30  ex 3402 12 00    AC250
457    A4040  ex 3808 92 40  ex 3402 13 00    AC250
458    A4040  ex 3808 92 50  ex 3402 19 00    AC250
459    A4040  ex 3808 92 60  ex 3403 19 20    AC060
460    A4040  ex 3808 92 90  ex 3403 19 20   AC070

[461 rows x 4 columns]
461
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
457    A4040  ex 3808 92 40  ex 3402 13 00    AC250
458    A4040  ex 3808 92 50  ex 3402 19 00    AC250
459    A4040  ex 3808 92 60  ex 3403 19 20    AC060
460    A4040  ex 3808 92 90  ex 3403 19 20   AC070
461    A4040  ex 3808 99 90  ex 3403 19 80    AC060

[462 rows x 4 columns]
462
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
458    A4040  ex 3808 92 50  ex 3402 19 00    AC250
459    A4040  ex 3808 92 60  ex 3403 19 20    AC060
460    A4040  ex 3808 92 90  ex 3403 19 20   AC070
461    A4040  ex 3808 99 90  ex 3403 19 80    AC060
462    A4040  ex 3825 61 00  ex 3403 19 80   AC070

[463 rows x 4 columns]
463
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
459    A4040  ex 3808 92 60  ex 3403 19 20    AC060
460    A4040  ex 3808 92 90  ex 3403 19 20   AC070
461    A4040  ex 3808 99 90  ex 3403 19 80    AC060
462    A4040  ex 3825 61 00  ex 3403 19 80   AC070
463    A4040  ex 3825 69 00  ex 3403 99 00    AC060

[464 rows x 4 columns]
464
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
460    A4040  ex 3808 92 90  ex 3403 19 20   AC070
461    A4040  ex 3808 99 90  ex 3403 19 80    AC060
462    A4040  ex 3825 61 00  ex 3403 19 80   AC070
463    A4040  ex 3825 69 00  ex 3403 99 00    AC060
464    A4040  ex 3825 90 90  ex 3403 99 00   AC070

[465 rows x 4 columns]
465
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
461    A4040  ex 3808 99 90  ex 3403 19 80    AC060
462    A4040  ex 3825 61 00  ex 3403 19 80   AC070
463    A4040  ex 3825 69 00  ex 3403 99 00    AC060
464    A4040  ex 3825 90 90  ex 3403 99 00   AC070
465    A4050  ex 3808 91 90        ex 3501    B4020

[466 rows x 4 columns]
466
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
462    A4040  ex 3825 61 00  ex 3403 19 80   AC070
463    A4040  ex 3825 69 00  ex 3403 99 00    AC060
464    A4040  ex 3825 90 90  ex 3403 99 00   AC070
465    A4050  ex 3808 91 90        ex 3501    B4020
466    A4050  ex 3808 92 10  ex 3501 10 10    A3050

[467 rows x 4 columns]
467
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
463    A4040  ex 3825 69 00  ex 3403 99 00    AC060
464    A4040  ex 3825 90 90  ex 3403 99 00   AC070
465    A4050  ex 3808 91 90        ex 3501    B4020
466    A4050  ex 3808 92 10  ex 3501 10 10    A3050
467    A4050  ex 3808 92 20  ex 3501 10 50    A3050

[468 rows x 4 columns]
468
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
464    A4040  ex 3825 90 90  ex 3403 99 00   AC070
465    A4050  ex 3808 91 90        ex 3501    B4020
466    A4050  ex 3808 92 10  ex 3501 10 10    A3050
467    A4050  ex 3808 92 20  ex 3501 10 50    A3050
468    A4050  ex 3808 92 90  ex 3501 10 90    A3050

[469 rows x 4 columns]
469
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
465    A4050  ex 3808 91 90        ex 3501    B4020
466    A4050  ex 3808 92 10  ex 3501 10 10    A3050
467    A4050  ex 3808 92 20  ex 3501 10 50    A3050
468    A4050  ex 3808 92 90  ex 3501 10 90    A3050
469    A4050  ex 3808 99 10  ex 3501 90 10    A3050

[470 rows x 4 columns]
470
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
466    A4050  ex 3808 92 10  ex 3501 10 10    A3050
467    A4050  ex 3808 92 20  ex 3501 10 50    A3050
468    A4050  ex 3808 92 90  ex 3501 10 90    A3050
469    A4050  ex 3808 99 10  ex 3501 90 10    A3050
470    A4050  ex 3808 99 90  ex 3501 90 90    A3050

[471 rows x 4 columns]
471
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
467    A4050  ex 3808 92 20  ex 3501 10 50    A3050
468    A4050  ex 3808 92 90  ex 3501 10 90    A3050
469    A4050  ex 3808 99 10  ex 3501 90 10    A3050
470    A4050  ex 3808 99 90  ex 3501 90 90    A3050
471    A4050  ex 3825 50 00        ex 3503    B4020

[472 rows x 4 columns]
472
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
468    A4050  ex 3808 92 90  ex 3501 10 90    A3050
469    A4050  ex 3808 99 10  ex 3501 90 10    A3050
470    A4050  ex 3808 99 90  ex 3501 90 90    A3050
471    A4050  ex 3825 50 00        ex 3503    B4020
472    A4050  ex 3825 61 00  ex 3503 00 10    A3050

[473 rows x 4 columns]
473
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
469    A4050  ex 3808 99 10  ex 3501 90 10    A3050
470    A4050  ex 3808 99 90  ex 3501 90 90    A3050
471    A4050  ex 3825 50 00        ex 3503    B4020
472    A4050  ex 3825 61 00  ex 3503 00 10    A3050
473    A4050  ex 3825 69 00  ex 3503 00 80    A3050

[474 rows x 4 columns]
474
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
470    A4050  ex 3808 99 90  ex 3501 90 90    A3050
471    A4050  ex 3825 50 00        ex 3503    B4020
472    A4050  ex 3825 61 00  ex 3503 00 10    A3050
473    A4050  ex 3825 69 00  ex 3503 00 80    A3050
474    A4050  ex 3825 90 90        ex 3505    B4020

[475 rows x 4 columns]
475
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
471    A4050  ex 3825 50 00        ex 3503    B4020
472    A4050  ex 3825 61 00  ex 3503 00 10    A3050
473    A4050  ex 3825 69 00  ex 3503 00 80    A3050
474    A4050  ex 3825 90 90        ex 3505    B4020
475    A4060  ex 2710 99 00  ex 3505 10 10    A3050

[476 rows x 4 columns]
476
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
472    A4050  ex 3825 61 00  ex 3503 00 10    A3050
473    A4050  ex 3825 69 00  ex 3503 00 80    A3050
474    A4050  ex 3825 90 90        ex 3505    B4020
475    A4060  ex 2710 99 00  ex 3505 10 10    A3050
476    A4060  ex 3825 61 00  ex 3505 10 50    A3050

[477 rows x 4 columns]
477
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
473    A4050  ex 3825 69 00  ex 3503 00 80    A3050
474    A4050  ex 3825 90 90        ex 3505    B4020
475    A4060  ex 2710 99 00  ex 3505 10 10    A3050
476    A4060  ex 3825 61 00  ex 3505 10 50    A3050
477    A4060  ex 3825 69 00  ex 3505 10 90    A3050

[478 rows x 4 columns]
478
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
474    A4050  ex 3825 90 90        ex 3505    B4020
475    A4060  ex 2710 99 00  ex 3505 10 10    A3050
476    A4060  ex 3825 61 00  ex 3505 10 50    A3050
477    A4060  ex 3825 69 00  ex 3505 10 90    A3050
478    A4060  ex 3825 90 90  ex 3505 20 10    A3050

[479 rows x 4 columns]
479
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
475    A4060  ex 2710 99 00  ex 3505 10 10    A3050
476    A4060  ex 3825 61 00  ex 3505 10 50    A3050
477    A4060  ex 3825 69 00  ex 3505 10 90    A3050
478    A4060  ex 3825 90 90  ex 3505 20 10    A3050
479    A4070  ex 3203 00 10  ex 3505 20 30    A3050

[480 rows x 4 columns]
480
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
476    A4060  ex 3825 61 00  ex 3505 10 50    A3050
477    A4060  ex 3825 69 00  ex 3505 10 90    A3050
478    A4060  ex 3825 90 90  ex 3505 20 10    A3050
479    A4070  ex 3203 00 10  ex 3505 20 30    A3050
480    A4070  ex 3203 00 90  ex 3505 20 50    A3050

[481 rows x 4 columns]
481
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
477    A4060  ex 3825 69 00  ex 3505 10 90    A3050
478    A4060  ex 3825 90 90  ex 3505 20 10    A3050
479    A4070  ex 3203 00 10  ex 3505 20 30    A3050
480    A4070  ex 3203 00 90  ex 3505 20 50    A3050
481    A4070        ex 3204  ex 3505 20 90    A3050

[482 rows x 4 columns]
482
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
478    A4060  ex 3825 90 90  ex 3505 20 10    A3050
479    A4070  ex 3203 00 10  ex 3505 20 30    A3050
480    A4070  ex 3203 00 90  ex 3505 20 50    A3050
481    A4070        ex 3204  ex 3505 20 90    A3050
482    A4070        ex 3206        ex 3506    B4020

[483 rows x 4 columns]
483
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
479    A4070  ex 3203 00 10  ex 3505 20 30    A3050
480    A4070  ex 3203 00 90  ex 3505 20 50    A3050
481    A4070        ex 3204  ex 3505 20 90    A3050
482    A4070        ex 3206        ex 3506    B4020
483    A4070  ex 3207 10 00  ex 3506 10 00    A3050

[484 rows x 4 columns]
484
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
480    A4070  ex 3203 00 90  ex 3505 20 50    A3050
481    A4070        ex 3204  ex 3505 20 90    A3050
482    A4070        ex 3206        ex 3506    B4020
483    A4070  ex 3207 10 00  ex 3506 10 00    A3050
484    A4070  ex 3207 20 10  ex 3506 91 00    A3050

[485 rows x 4 columns]
485
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
481    A4070        ex 3204  ex 3505 20 90    A3050
482    A4070        ex 3206        ex 3506    B4020
483    A4070  ex 3207 10 00  ex 3506 10 00    A3050
484    A4070  ex 3207 20 10  ex 3506 91 00    A3050
485    A4070  ex 3207 20 90  ex 3506 99 00    A3050

[486 rows x 4 columns]
486
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
482    A4070        ex 3206        ex 3506    B4020
483    A4070  ex 3207 10 00  ex 3506 10 00    A3050
484    A4070  ex 3207 20 10  ex 3506 91 00    A3050
485    A4070  ex 3207 20 90  ex 3506 99 00    A3050
486    A4070  ex 3207 30 00        ex 3601    A4080

[487 rows x 4 columns]
487
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
483    A4070  ex 3207 10 00  ex 3506 10 00    A3050
484    A4070  ex 3207 20 10  ex 3506 91 00    A3050
485    A4070  ex 3207 20 90  ex 3506 99 00    A3050
486    A4070  ex 3207 30 00        ex 3601    A4080
487    A4070        ex 3208        ex 3602    A4080

[488 rows x 4 columns]
488
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
484    A4070  ex 3207 20 10  ex 3506 91 00    A3050
485    A4070  ex 3207 20 90  ex 3506 99 00    A3050
486    A4070  ex 3207 30 00        ex 3601    A4080
487    A4070        ex 3208        ex 3602    A4080
488    A4070        ex 3209        ex 3603    A4080

[489 rows x 4 columns]
489
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
485    A4070  ex 3207 20 90  ex 3506 99 00    A3050
486    A4070  ex 3207 30 00        ex 3601    A4080
487    A4070        ex 3208        ex 3602    A4080
488    A4070        ex 3209        ex 3603    A4080
489    A4070        ex 3210        ex 3604    A4080

[490 rows x 4 columns]
490
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
486    A4070  ex 3207 30 00        ex 3601    A4080
487    A4070        ex 3208        ex 3602    A4080
488    A4070        ex 3209        ex 3603    A4080
489    A4070        ex 3210        ex 3604    A4080
490    A4070  ex 3212 10 00        ex 3606    A4080

[491 rows x 4 columns]
491
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
487    A4070        ex 3208        ex 3602    A4080
488    A4070        ex 3209        ex 3603    A4080
489    A4070        ex 3210        ex 3604    A4080
490    A4070  ex 3212 10 00        ex 3606    A4080
491    A4070  ex 3212 90 00  ex 3802 10 00    A4160

[492 rows x 4 columns]
492
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
488    A4070        ex 3209        ex 3603    A4080
489    A4070        ex 3210        ex 3604    A4080
490    A4070  ex 3212 10 00        ex 3606    A4080
491    A4070  ex 3212 90 00  ex 3802 10 00    A4160
492    A4070        ex 3213  ex 3802 90 00    A4160

[493 rows x 4 columns]
493
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
489    A4070        ex 3210        ex 3604    A4080
490    A4070  ex 3212 10 00        ex 3606    A4080
491    A4070  ex 3212 90 00  ex 3802 10 00    A4160
492    A4070        ex 3213  ex 3802 90 00    A4160
493    A4070        ex 3215  ex 3802 90 00   B2060

[494 rows x 4 columns]
494
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
490    A4070  ex 3212 10 00        ex 3606    A4080
491    A4070  ex 3212 90 00  ex 3802 10 00    A4160
492    A4070        ex 3213  ex 3802 90 00    A4160
493    A4070        ex 3215  ex 3802 90 00   B2060
494    A4070  ex 3825 61 00  ex 3807 00 10    A3190

[495 rows x 4 columns]
495
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
491    A4070  ex 3212 90 00  ex 3802 10 00    A4160
492    A4070        ex 3213  ex 3802 90 00    A4160
493    A4070        ex 3215  ex 3802 90 00   B2060
494    A4070  ex 3825 61 00  ex 3807 00 10    A3190
495    A4070  ex 3825 69 00  ex 3807 00 90    A3190

[496 rows x 4 columns]
496
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
492    A4070        ex 3213  ex 3802 90 00    A4160
493    A4070        ex 3215  ex 3802 90 00   B2060
494    A4070  ex 3825 61 00  ex 3807 00 10    A3190
495    A4070  ex 3825 69 00  ex 3807 00 90    A3190
496    A4070  ex 3825 90 90  ex 3808 50 00    A3130

[497 rows x 4 columns]
497
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
493    A4070        ex 3215  ex 3802 90 00   B2060
494    A4070  ex 3825 61 00  ex 3807 00 10    A3190
495    A4070  ex 3825 69 00  ex 3807 00 90    A3190
496    A4070  ex 3825 90 90  ex 3808 50 00    A3130
497    A4080        ex 3601  ex 3808 50 00   A4030

[498 rows x 4 columns]
498
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
494    A4070  ex 3825 61 00  ex 3807 00 10    A3190
495    A4070  ex 3825 69 00  ex 3807 00 90    A3190
496    A4070  ex 3825 90 90  ex 3808 50 00    A3130
497    A4080        ex 3601  ex 3808 50 00   A4030
498    A4080        ex 3602  ex 3808 50 00   A4040

[499 rows x 4 columns]
499
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
495    A4070  ex 3825 69 00  ex 3807 00 90    A3190
496    A4070  ex 3825 90 90  ex 3808 50 00    A3130
497    A4080        ex 3601  ex 3808 50 00   A4030
498    A4080        ex 3602  ex 3808 50 00   A4040
499    A4080        ex 3603  ex 3808 91 10    A4030

[500 rows x 4 columns]
500
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
496    A4070  ex 3825 90 90  ex 3808 50 00    A3130
497    A4080        ex 3601  ex 3808 50 00   A4030
498    A4080        ex 3602  ex 3808 50 00   A4040
499    A4080        ex 3603  ex 3808 91 10    A4030
500    A4080        ex 3604  ex 3808 91 10   A4040

[501 rows x 4 columns]
501
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
497    A4080        ex 3601  ex 3808 50 00   A4030
498    A4080        ex 3602  ex 3808 50 00   A4040
499    A4080        ex 3603  ex 3808 91 10    A4030
500    A4080        ex 3604  ex 3808 91 10   A4040
501    A4080        ex 3606  ex 3808 91 20    A4030

[502 rows x 4 columns]
502
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
498    A4080        ex 3602  ex 3808 50 00   A4040
499    A4080        ex 3603  ex 3808 91 10    A4030
500    A4080        ex 3604  ex 3808 91 10   A4040
501    A4080        ex 3606  ex 3808 91 20    A4030
502    A4080  ex 3825 61 00  ex 3808 91 20   A4040

[503 rows x 4 columns]
503
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
499    A4080        ex 3603  ex 3808 91 10    A4030
500    A4080        ex 3604  ex 3808 91 10   A4040
501    A4080        ex 3606  ex 3808 91 20    A4030
502    A4080  ex 3825 61 00  ex 3808 91 20   A4040
503    A4080  ex 3825 69 00  ex 3808 91 20   A4110

[504 rows x 4 columns]
504

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
500    A4080        ex 3604  ex 3808 91 10   A4040
501    A4080        ex 3606  ex 3808 91 20    A4030
502    A4080  ex 3825 61 00  ex 3808 91 20   A4040
503    A4080  ex 3825 69 00  ex 3808 91 20   A4110
504    A4080  ex 3825 90 90  ex 3808 91 30    A4030

[505 rows x 4 columns]
505
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
501    A4080        ex 3606  ex 3808 91 20    A4030
502    A4080  ex 3825 61 00  ex 3808 91 20   A4040
503    A4080  ex 3825 69 00  ex 3808 91 20   A4110
504    A4080  ex 3825 90 90  ex 3808 91 30    A4030
505    A4090        ex 3824  ex 3808 91 30   A4040

[506 rows x 4 columns]
506
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
502    A4080  ex 3825 61 00  ex 3808 91 20   A4040
503    A4080  ex 3825 69 00  ex 3808 91 20   A4110
504    A4080  ex 3825 90 90  ex 3808 91 30    A4030
505    A4090        ex 3824  ex 3808 91 30   A4040
506    A4090  ex 3825 61 00  ex 3808 91 40    A3130

[507 rows x 4 columns]
507
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
503    A4080  ex 3825 69 00  ex 3808 91 20   A4110
504    A4080  ex 3825 90 90  ex 3808 91 30    A4030
505    A4090        ex 3824  ex 3808 91 30   A4040
506    A4090  ex 3825 61 00  ex 3808 91 40    A3130
507    A4090  ex 3825 69 00  ex 3808 91 40   A4030

[508 rows x 4 columns]
508
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
504    A4080  ex 3825 90 90  ex 3808 91 30    A4030
505    A4090        ex 3824  ex 3808 91 30   A4040
506    A4090  ex 3825 61 00  ex 3808 91 40    A3130
507    A4090  ex 3825 69 00  ex 3808 91 40   A4030
508    A4090  ex 3825 90 90  ex 3808 91 40    A4040

[509 rows x 4 columns]
509
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
505    A4090        ex 3824  ex 3808 91 30   A4040
506    A4090  ex 3825 61 00  ex 3808 91 40    A3130
507    A4090  ex 3825 69 00  ex 3808 91 40   A4030
508    A4090  ex 3825 90 90  ex 3808 91 40    A4040
509    A4100        ex 2620  ex 3808 91 90    A4030

[510 rows x 4 columns]
510
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
506    A4090  ex 3825 61 00  ex 3808 91 40    A3130
507    A4090  ex 3825 69 00  ex 3808 91 40   A4030
508    A4090  ex 3825 90 90  ex 3808 91 40    A4040
509    A4100        ex 2620  ex 3808 91 90    A4030
510    A4100  ex 2621 10 00  ex 3808 91 90   A4040

[511 rows x 4 columns]
511
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
507    A4090  ex 3825 69 00  ex 3808 91 40   A4030
508    A4090  ex 3825 90 90  ex 3808 91 40    A4040
509    A4100        ex 2620  ex 3808 91 90    A4030
510    A4100  ex 2621 10 00  ex 3808 91 90   A4040
511    A4100  ex 2621 90 00  ex 3808 91 90   A4050

[512 rows x 4 columns]
512
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
508    A4090  ex 3825 90 90  ex 3808 91 40    A4040
509    A4100        ex 2620  ex 3808 91 90    A4030
510    A4100  ex 2621 10 00  ex 3808 91 90   A4040
511    A4100  ex 2621 90 00  ex 3808 91 90   A4050
512    A4100  ex 3825 61 00  ex 3808 92 10    A4040

[513 rows x 4 columns]
513
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
509    A4100        ex 2620  ex 3808 91 90    A4030
510    A4100  ex 2621 10 00  ex 3808 91 90   A4040
511    A4100  ex 2621 90 00  ex 3808 91 90   A4050
512    A4100  ex 3825 61 00  ex 3808 92 10    A4040
513    A4100  ex 3825 69 00  ex 3808 92 10   A4050

[514 rows x 4 columns]
514
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
510    A4100  ex 2621 10 00  ex 3808 91 90   A4040
511    A4100  ex 2621 90 00  ex 3808 91 90   A4050
512    A4100  ex 3825 61 00  ex 3808 92 10    A4040
513    A4100  ex 3825 69 00  ex 3808 92 10   A4050
514    A4100  ex 3825 90 90  ex 3808 92 20    A4040

[515 rows x 4 columns]
515
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
511    A4100  ex 2621 90 00  ex 3808 91 90   A4050
512    A4100  ex 3825 61 00  ex 3808 92 10    A4040
513    A4100  ex 3825 69 00  ex 3808 92 10   A4050
514    A4100  ex 3825 90 90  ex 3808 92 20    A4040
515    A4100  ex 6310 10 00  ex 3808 92 20   A4050

[516 rows x 4 columns]
516
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
512    A4100  ex 3825 61 00  ex 3808 92 10    A4040
513    A4100  ex 3825 69 00  ex 3808 92 10   A4050
514    A4100  ex 3825 90 90  ex 3808 92 20    A4040
515    A4100  ex 6310 10 00  ex 3808 92 20   A4050
516    A4100  ex 6310 90 00  ex 3808 92 30    A4030

[517 rows x 4 columns]
517
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
513    A4100  ex 3825 69 00  ex 3808 92 10   A4050
514    A4100  ex 3825 90 90  ex 3808 92 20    A4040
515    A4100  ex 6310 10 00  ex 3808 92 20   A4050
516    A4100  ex 6310 90 00  ex 3808 92 30    A4030
517    A4110  ex 3808 91 20  ex 3808 92 30   A4040

[518 rows x 4 columns]
518
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
514    A4100  ex 3825 90 90  ex 3808 92 20    A4040
515    A4100  ex 6310 10 00  ex 3808 92 20   A4050
516    A4100  ex 6310 90 00  ex 3808 92 30    A4030
517    A4110  ex 3808 91 20  ex 3808 92 30   A4040
518    A4110  ex 3825 61 00  ex 3808 92 40    A4030

[519 rows x 4 columns]
519
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
515    A4100  ex 6310 10 00  ex 3808 92 20   A4050
516    A4100  ex 6310 90 00  ex 3808 92 30    A4030
517    A4110  ex 3808 91 20  ex 3808 92 30   A4040
518    A4110  ex 3825 61 00  ex 3808 92 40    A4030
519    A4110  ex 3825 90 90  ex 3808 92 40   A4040

[520 rows x 4 columns]
520
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
516    A4100  ex 6310 90 00  ex 3808 92 30    A4030
517    A4110  ex 3808 91 20  ex 3808 92 30   A4040
518    A4110  ex 3825 61 00  ex 3808 92 40    A4030
519    A4110  ex 3825 90 90  ex 3808 92 40   A4040
520    A4120  ex 3824 90 92  ex 3808 92 50    A4030

[521 rows x 4 columns]
521
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
517    A4110  ex 3808 91 20  ex 3808 92 30   A4040
518    A4110  ex 3825 61 00  ex 3808 92 40    A4030
519    A4110  ex 3825 90 90  ex 3808 92 40   A4040
520    A4120  ex 3824 90 92  ex 3808 92 50    A4030
521    A4120  ex 3824 90 93  ex 3808 92 50   A4040

[522 rows x 4 columns]
522
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
518    A4110  ex 3825 61 00  ex 3808 92 40    A4030
519    A4110  ex 3825 90 90  ex 3808 92 40   A4040
520    A4120  ex 3824 90 92  ex 3808 92 50    A4030
521    A4120  ex 3824 90 93  ex 3808 92 50   A4040
522    A4120  ex 3824 90 96  ex 3808 92 60    A4030

[523 rows x 4 columns]
523
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
519    A4110  ex 3825 90 90  ex 3808 92 40   A4040
520    A4120  ex 3824 90 92  ex 3808 92 50    A4030
521    A4120  ex 3824 90 93  ex 3808 92 50   A4040
522    A4120  ex 3824 90 96  ex 3808 92 60    A4030
523    A4120  ex 3825 30 00  ex 3808 92 60   A4040

[524 rows x 4 columns]
524
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
520    A4120  ex 3824 90 92  ex 3808 92 50    A4030
521    A4120  ex 3824 90 93  ex 3808 92 50   A4040
522    A4120  ex 3824 90 96  ex 3808 92 60    A4030
523    A4120  ex 3825 30 00  ex 3808 92 60   A4040
524    A4120  ex 3825 61 00  ex 3808 92 90    A3130

[525 rows x 4 columns]
525
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
521    A4120  ex 3824 90 93  ex 3808 92 50   A4040
522    A4120  ex 3824 90 96  ex 3808 92 60    A4030
523    A4120  ex 3825 30 00  ex 3808 92 60   A4040
524    A4120  ex 3825 61 00  ex 3808 92 90    A3130
525    A4120  ex 3825 90 90  ex 3808 92 90   A4030

[526 rows x 4 columns]
526
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
522    A4120  ex 3824 90 96  ex 3808 92 60    A4030
523    A4120  ex 3825 30 00  ex 3808 92 60   A4040
524    A4120  ex 3825 61 00  ex 3808 92 90    A3130
525    A4120  ex 3825 90 90  ex 3808 92 90   A4030
526    A4130  ex 3825 10 00  ex 3808 92 90   A4040

[527 rows x 4 columns]
527
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
523    A4120  ex 3825 30 00  ex 3808 92 60   A4040
524    A4120  ex 3825 61 00  ex 3808 92 90    A3130
525    A4120  ex 3825 90 90  ex 3808 92 90   A4030
526    A4130  ex 3825 10 00  ex 3808 92 90   A4040
527    A4130  ex 3825 61 00  ex 3808 92 90   A4050

[528 rows x 4 columns]
528
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
524    A4120  ex 3825 61 00  ex 3808 92 90    A3130
525    A4120  ex 3825 90 90  ex 3808 92 90   A4030
526    A4130  ex 3825 10 00  ex 3808 92 90   A4040
527    A4130  ex 3825 61 00  ex 3808 92 90   A4050
528    A4130  ex 3825 90 90  ex 3808 93 11    A4030

[529 rows x 4 columns]
529

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
525    A4120  ex 3825 90 90  ex 3808 92 90   A4030
526    A4130  ex 3825 10 00  ex 3808 92 90   A4040
527    A4130  ex 3825 61 00  ex 3808 92 90   A4050
528    A4130  ex 3825 90 90  ex 3808 93 11    A4030
529    A4130        ex 3901  ex 3808 93 13    A4030

[530 rows x 4 columns]
530
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
526    A4130  ex 3825 10 00  ex 3808 92 90   A4040
527    A4130  ex 3825 61 00  ex 3808 92 90   A4050
528    A4130  ex 3825 90 90  ex 3808 93 11    A4030
529    A4130        ex 3901  ex 3808 93 13    A4030
530    A4130        ex 3902  ex 3808 93 15    A4030

[531 rows x 4 columns]
531
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
527    A4130  ex 3825 61 00  ex 3808 92 90   A4050
528    A4130  ex 3825 90 90  ex 3808 93 11    A4030
529    A4130        ex 3901  ex 3808 93 13    A4030
530    A4130        ex 3902  ex 3808 93 15    A4030
531    A4130        ex 3903  ex 3808 93 17    A4030

[532 rows x 4 columns]
532
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
528    A4130  ex 3825 90 90  ex 3808 93 11    A4030
529    A4130        ex 3901  ex 3808 93 13    A4030
530    A4130        ex 3902  ex 3808 93 15    A4030
531    A4130        ex 3903  ex 3808 93 17    A4030
532    A4130        ex 3904  ex 3808 93 21    A4030

[533 rows x 4 columns]
533
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
529    A4130        ex 3901  ex 3808 93 13    A4030
530    A4130        ex 3902  ex 3808 93 15    A4030
531    A4130        ex 3903  ex 3808 93 17    A4030
532    A4130        ex 3904  ex 3808 93 21    A4030
533    A4130        ex 3905  ex 3808 93 23    A4030

[534 rows x 4 columns]
534
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
530    A4130        ex 3902  ex 3808 93 15    A4030
531    A4130        ex 3903  ex 3808 93 17    A4030
532    A4130        ex 3904  ex 3808 93 21    A4030
533    A4130        ex 3905  ex 3808 93 23    A4030
534    A4130        ex 3907  ex 3808 93 27    A3130

[535 rows x 4 columns]
535
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
531    A4130        ex 3903  ex 3808 93 17    A4030
532    A4130        ex 3904  ex 3808 93 21    A4030
533    A4130        ex 3905  ex 3808 93 23    A4030
534    A4130        ex 3907  ex 3808 93 27    A3130
535    A4130        ex 3908  ex 3808 93 27   A4030

[536 rows x 4 columns]
536
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
532    A4130        ex 3904  ex 3808 93 21    A4030
533    A4130        ex 3905  ex 3808 93 23    A4030
534    A4130        ex 3907  ex 3808 93 27    A3130
535    A4130        ex 3908  ex 3808 93 27   A4030
536    A4130        ex 3909  ex 3808 93 30    A3130

[537 rows x 4 columns]
537
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
533    A4130        ex 3905  ex 3808 93 23    A4030
534    A4130        ex 3907  ex 3808 93 27    A3130
535    A4130        ex 3908  ex 3808 93 27   A4030
536    A4130        ex 3909  ex 3808 93 30    A3130
537    A4130        ex 3910  ex 3808 93 30   A4030

[538 rows x 4 columns]
538
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
534    A4130        ex 3907  ex 3808 93 27    A3130
535    A4130        ex 3908  ex 3808 93 27   A4030
536    A4130        ex 3909  ex 3808 93 30    A3130
537    A4130        ex 3910  ex 3808 93 30   A4030
538    A4130        ex 3911  ex 3808 93 90    A3130

[539 rows x 4 columns]
539
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
535    A4130        ex 3908  ex 3808 93 27   A4030
536    A4130        ex 3909  ex 3808 93 30    A3130
537    A4130        ex 3910  ex 3808 93 30   A4030
538    A4130        ex 3911  ex 3808 93 90    A3130
539    A4130        ex 3912  ex 3808 93 90    A4030

[540 rows x 4 columns]
540
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
536    A4130        ex 3909  ex 3808 93 30    A3130
537    A4130        ex 3910  ex 3808 93 30   A4030
538    A4130        ex 3911  ex 3808 93 90    A3130
539    A4130        ex 3912  ex 3808 93 90    A4030
540    A4130        ex 3913  ex 3808 94 90    A3130

[541 rows x 4 columns]
541
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
537    A4130        ex 3910  ex 3808 93 30   A4030
538    A4130        ex 3911  ex 3808 93 90    A3130
539    A4130        ex 3912  ex 3808 93 90    A4030
540    A4130        ex 3913  ex 3808 94 90    A3130
541    A4130        ex 3915  ex 3808 99 10    A3130

[542 rows x 4 columns]
542
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
538    A4130        ex 3911  ex 3808 93 90    A3130
539    A4130        ex 3912  ex 3808 93 90    A4030
540    A4130        ex 3913  ex 3808 94 90    A3130
541    A4130        ex 3915  ex 3808 99 10    A3130
542    A4130  ex 3915 10 00  ex 3808 99 10   A4030

[543 rows x 4 columns]
543
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
539    A4130        ex 3912  ex 3808 93 90    A4030
540    A4130        ex 3913  ex 3808 94 90    A3130
541    A4130        ex 3915  ex 3808 99 10    A3130
542    A4130  ex 3915 10 00  ex 3808 99 10   A4030
543    A4130  ex 3915 20 00  ex 3808 99 10   A4050

[544 rows x 4 columns]
544
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
540    A4130        ex 3913  ex 3808 94 90    A3130
541    A4130        ex 3915  ex 3808 99 10    A3130
542    A4130  ex 3915 10 00  ex 3808 99 10   A4030
543    A4130  ex 3915 20 00  ex 3808 99 10   A4050
544    A4130  ex 3915 30 00  ex 3808 99 90    A3130

[545 rows x 4 columns]
545
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
541    A4130        ex 3915  ex 3808 99 10    A3130
542    A4130  ex 3915 10 00  ex 3808 99 10   A4030
543    A4130  ex 3915 20 00  ex 3808 99 10   A4050
544    A4130  ex 3915 30 00  ex 3808 99 90    A3130
545    A4130  ex 3915 90 11  ex 3808 99 90   A4030

[546 rows x 4 columns]
546
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
542    A4130  ex 3915 10 00  ex 3808 99 10   A4030
543    A4130  ex 3915 20 00  ex 3808 99 10   A4050
544    A4130  ex 3915 30 00  ex 3808 99 90    A3130
545    A4130  ex 3915 90 11  ex 3808 99 90   A4030
546    A4130  ex 3915 90 80  ex 3808 99 90   A4040

[547 rows x 4 columns]
547
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
543    A4130  ex 3915 20 00  ex 3808 99 10   A4050
544    A4130  ex 3915 30 00  ex 3808 99 90    A3130
545    A4130  ex 3915 90 11  ex 3808 99 90   A4030
546    A4130  ex 3915 90 80  ex 3808 99 90   A4040
547    A4130  ex 4401 39 80  ex 3808 99 90   A4050

[548 rows x 4 columns]
548
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
544    A4130  ex 3915 30 00  ex 3808 99 90    A3130
545    A4130  ex 3915 90 11  ex 3808 99 90   A4030
546    A4130  ex 3915 90 80  ex 3808 99 90   A4040
547    A4130  ex 4401 39 80  ex 3808 99 90   A4050
548    A4130  ex 4707 90 10  ex 3813 00 00    AC160

[549 rows x 4 columns]
549
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
545    A4130  ex 3915 90 11  ex 3808 99 90   A4030
546    A4130  ex 3915 90 80  ex 3808 99 90   A4040
547    A4130  ex 4401 39 80  ex 3808 99 90   A4050
548    A4130  ex 4707 90 10  ex 3813 00 00    AC160
549    A4130  ex 4707 90 90  ex 3814 00 10    A3140

[550 rows x 4 columns]
550
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
546    A4130  ex 3915 90 80  ex 3808 99 90   A4040
547    A4130  ex 4401 39 80  ex 3808 99 90   A4050
548    A4130  ex 4707 90 10  ex 3813 00 00    AC160
549    A4130  ex 4707 90 90  ex 3814 00 10    A3140
550    A4130  ex 6310 10 00  ex 3814 00 10   A3150

[551 rows x 4 columns]
551
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
547    A4130  ex 4401 39 80  ex 3808 99 90   A4050
548    A4130  ex 4707 90 10  ex 3813 00 00    AC160
549    A4130  ex 4707 90 90  ex 3814 00 10    A3140
550    A4130  ex 6310 10 00  ex 3814 00 10   A3150
551    A4130  ex 6310 90 00  ex 3814 00 90    A3140

[552 rows x 4 columns]
552
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
548    A4130  ex 4707 90 10  ex 3813 00 00    AC160
549    A4130  ex 4707 90 90  ex 3814 00 10    A3140
550    A4130  ex 6310 10 00  ex 3814 00 10   A3150
551    A4130  ex 6310 90 00  ex 3814 00 90    A3140
552    A4130  ex 7001 00 10  ex 3814 00 90   A3150

[553 rows x 4 columns]
553

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
549    A4130  ex 4707 90 90  ex 3814 00 10    A3140
550    A4130  ex 6310 10 00  ex 3814 00 10   A3150
551    A4130  ex 6310 90 00  ex 3814 00 90    A3140
552    A4130  ex 7001 00 10  ex 3814 00 90   A3150
553    A4130  ex 7204 21 10  ex 3815 11 00    GC050

[554 rows x 4 columns]
554
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
550    A4130  ex 6310 10 00  ex 3814 00 10   A3150
551    A4130  ex 6310 90 00  ex 3814 00 90    A3140
552    A4130  ex 7001 00 10  ex 3814 00 90   A3150
553    A4130  ex 7204 21 10  ex 3815 11 00    GC050
554    A4130  ex 7204 21 90  ex 3815 12 00    GC050

[555 rows x 4 columns]
555
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
551    A4130  ex 6310 90 00  ex 3814 00 90    A3140
552    A4130  ex 7001 00 10  ex 3814 00 90   A3150
553    A4130  ex 7204 21 10  ex 3815 11 00    GC050
554    A4130  ex 7204 21 90  ex 3815 12 00    GC050
555    A4130  ex 7204 29 00  ex 3815 19 90    GC050

[556 rows x 4 columns]
556
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
552    A4130  ex 7001 00 10  ex 3814 00 90   A3150
553    A4130  ex 7204 21 10  ex 3815 11 00    GC050
554    A4130  ex 7204 21 90  ex 3815 12 00    GC050
555    A4130  ex 7204 29 00  ex 3815 19 90    GC050
556    A4130  ex 7204 30 00  ex 3815 90 90    GC050

[557 rows x 4 columns]
557
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
553    A4130  ex 7204 21 10  ex 3815 11 00    GC050
554    A4130  ex 7204 21 90  ex 3815 12 00    GC050
555    A4130  ex 7204 29 00  ex 3815 19 90    GC050
556    A4130  ex 7204 30 00  ex 3815 90 90    GC050
557    A4130  ex 7204 49 30  ex 3819 00 00    AC060

[558 rows x 4 columns]
558
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
554    A4130  ex 7204 21 90  ex 3815 12 00    GC050
555    A4130  ex 7204 29 00  ex 3815 19 90    GC050
556    A4130  ex 7204 30 00  ex 3815 90 90    GC050
557    A4130  ex 7204 49 30  ex 3819 00 00    AC060
558    A4130  ex 7204 49 90  ex 3819 00 00   AC070

[559 rows x 4 columns]
559
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
555    A4130  ex 7204 29 00  ex 3815 19 90    GC050
556    A4130  ex 7204 30 00  ex 3815 90 90    GC050
557    A4130  ex 7204 49 30  ex 3819 00 00    AC060
558    A4130  ex 7204 49 90  ex 3819 00 00   AC070
559    A4130  ex 7602 00 11  ex 3820 00 00    A3040

[560 rows x 4 columns]
560
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
556    A4130  ex 7204 30 00  ex 3815 90 90    GC050
557    A4130  ex 7204 49 30  ex 3819 00 00    AC060
558    A4130  ex 7204 49 90  ex 3819 00 00   AC070
559    A4130  ex 7602 00 11  ex 3820 00 00    A3040
560    A4130  ex 7602 00 19  ex 3820 00 00   AC080

[561 rows x 4 columns]
561
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
557    A4130  ex 7204 49 30  ex 3819 00 00    AC060
558    A4130  ex 7204 49 90  ex 3819 00 00   AC070
559    A4130  ex 7602 00 11  ex 3820 00 00    A3040
560    A4130  ex 7602 00 19  ex 3820 00 00   AC080
561    A4130  ex 7602 00 90        ex 3824    A4090

[562 rows x 4 columns]
562
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
558    A4130  ex 7204 49 90  ex 3819 00 00   AC070
559    A4130  ex 7602 00 11  ex 3820 00 00    A3040
560    A4130  ex 7602 00 19  ex 3820 00 00   AC080
561    A4130  ex 7602 00 90        ex 3824    A4090
562    A4130  ex 8002 00 00  ex 3824 71 00    AC160

[563 rows x 4 columns]
563
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
559    A4130  ex 7602 00 11  ex 3820 00 00    A3040
560    A4130  ex 7602 00 19  ex 3820 00 00   AC080
561    A4130  ex 7602 00 90        ex 3824    A4090
562    A4130  ex 8002 00 00  ex 3824 71 00    AC160
563    A4140          ex 28  ex 3824 71 00    AC150

[564 rows x 4 columns]
564
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
560    A4130  ex 7602 00 19  ex 3820 00 00   AC080
561    A4130  ex 7602 00 90        ex 3824    A4090
562    A4130  ex 8002 00 00  ex 3824 71 00    AC160
563    A4140          ex 28  ex 3824 71 00    AC150
564    A4140          ex 29  ex 3824 72 00    AC150

[565 rows x 4 columns]
565
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
561    A4130  ex 7602 00 90        ex 3824    A4090
562    A4130  ex 8002 00 00  ex 3824 71 00    AC160
563    A4140          ex 28  ex 3824 71 00    AC150
564    A4140          ex 29  ex 3824 72 00    AC150
565    A4140  ex 3824 90 92  ex 3824 72 00   AC160

[566 rows x 4 columns]
566
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
562    A4130  ex 8002 00 00  ex 3824 71 00    AC160
563    A4140          ex 28  ex 3824 71 00    AC150
564    A4140          ex 29  ex 3824 72 00    AC150
565    A4140  ex 3824 90 92  ex 3824 72 00   AC160
566    A4140  ex 3824 90 93  ex 3824 73 00    AC150

[567 rows x 4 columns]
567
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
563    A4140          ex 28  ex 3824 71 00    AC150
564    A4140          ex 29  ex 3824 72 00    AC150
565    A4140  ex 3824 90 92  ex 3824 72 00   AC160
566    A4140  ex 3824 90 93  ex 3824 73 00    AC150
567    A4140  ex 3824 90 96  ex 3824 73 00   AC160

[568 rows x 4 columns]
568
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
564    A4140          ex 29  ex 3824 72 00    AC150
565    A4140  ex 3824 90 92  ex 3824 72 00   AC160
566    A4140  ex 3824 90 93  ex 3824 73 00    AC150
567    A4140  ex 3824 90 96  ex 3824 73 00   AC160
568    A4140  ex 3825 61 00  ex 3824 74 00    AC160

[569 rows x 4 columns]
569
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
565    A4140  ex 3824 90 92  ex 3824 72 00   AC160
566    A4140  ex 3824 90 93  ex 3824 73 00    AC150
567    A4140  ex 3824 90 96  ex 3824 73 00   AC160
568    A4140  ex 3825 61 00  ex 3824 74 00    AC160
569    A4140  ex 3825 90 90  ex 3824 75 00    AC150

[570 rows x 4 columns]
570
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
566    A4140  ex 3824 90 93  ex 3824 73 00    AC150
567    A4140  ex 3824 90 96  ex 3824 73 00   AC160
568    A4140  ex 3825 61 00  ex 3824 74 00    AC160
569    A4140  ex 3825 90 90  ex 3824 75 00    AC150
570    A4150  ex 3824 90 92  ex 3824 75 00   AC160

[571 rows x 4 columns]
571
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
567    A4140  ex 3824 90 96  ex 3824 73 00   AC160
568    A4140  ex 3825 61 00  ex 3824 74 00    AC160
569    A4140  ex 3825 90 90  ex 3824 75 00    AC150
570    A4150  ex 3824 90 92  ex 3824 75 00   AC160
571    A4150  ex 3824 90 93  ex 3824 76 00    AC150

[572 rows x 4 columns]
572
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
568    A4140  ex 3825 61 00  ex 3824 74 00    AC160
569    A4140  ex 3825 90 90  ex 3824 75 00    AC150
570    A4150  ex 3824 90 92  ex 3824 75 00   AC160
571    A4150  ex 3824 90 93  ex 3824 76 00    AC150
572    A4150  ex 3824 90 96  ex 3824 76 00   AC160

[573 rows x 4 columns]
573
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
569    A4140  ex 3825 90 90  ex 3824 75 00    AC150
570    A4150  ex 3824 90 92  ex 3824 75 00   AC160
571    A4150  ex 3824 90 93  ex 3824 76 00    AC150
572    A4150  ex 3824 90 96  ex 3824 76 00   AC160
573    A4150  ex 3825 61 00  ex 3824 77 00    AC150

[574 rows x 4 columns]
574
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
570    A4150  ex 3824 90 92  ex 3824 75 00   AC160
571    A4150  ex 3824 90 93  ex 3824 76 00    AC150
572    A4150  ex 3824 90 96  ex 3824 76 00   AC160
573    A4150  ex 3825 61 00  ex 3824 77 00    AC150
574    A4150  ex 3825 90 90  ex 3824 77 00   AC160

[575 rows x 4 columns]
575
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
571    A4150  ex 3824 90 93  ex 3824 76 00    AC150
572    A4150  ex 3824 90 96  ex 3824 76 00   AC160
573    A4150  ex 3825 61 00  ex 3824 77 00    AC150
574    A4150  ex 3825 90 90  ex 3824 77 00   AC160
575    A4160  ex 3802 10 00  ex 3824 79 00    AC150

[576 rows x 4 columns]
576

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
572    A4150  ex 3824 90 96  ex 3824 76 00   AC160
573    A4150  ex 3825 61 00  ex 3824 77 00    AC150
574    A4150  ex 3825 90 90  ex 3824 77 00   AC160
575    A4160  ex 3802 10 00  ex 3824 79 00    AC150
576    A4160  ex 3802 90 00  ex 3824 79 00   AC160

[577 rows x 4 columns]
577
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
573    A4150  ex 3825 61 00  ex 3824 77 00    AC150
574    A4150  ex 3825 90 90  ex 3824 77 00   AC160
575    A4160  ex 3802 10 00  ex 3824 79 00    AC150
576    A4160  ex 3802 90 00  ex 3824 79 00   AC160
577    A4160  ex 3825 61 00  ex 3824 82 00    A3180

[578 rows x 4 columns]
578
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
574    A4150  ex 3825 90 90  ex 3824 77 00   AC160
575    A4160  ex 3802 10 00  ex 3824 79 00    AC150
576    A4160  ex 3802 90 00  ex 3824 79 00   AC160
577    A4160  ex 3825 61 00  ex 3824 82 00    A3180
578    A4160  ex 3825 90 90  ex 3824 90 15    AD120

[579 rows x 4 columns]
579
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
575    A4160  ex 3802 10 00  ex 3824 79 00    AC150
576    A4160  ex 3802 90 00  ex 3824 79 00   AC160
577    A4160  ex 3825 61 00  ex 3824 82 00    A3180
578    A4160  ex 3825 90 90  ex 3824 90 15    AD120
579    AA010  ex 2619 00 20  ex 3824 90 92    A3070

[580 rows x 4 columns]
580
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
576    A4160  ex 3802 90 00  ex 3824 79 00   AC160
577    A4160  ex 3825 61 00  ex 3824 82 00    A3180
578    A4160  ex 3825 90 90  ex 3824 90 15    AD120
579    AA010  ex 2619 00 20  ex 3824 90 92    A3070
580    AA010  ex 2619 00 90  ex 3824 90 92   A3130

[581 rows x 4 columns]
581
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
577    A4160  ex 3825 61 00  ex 3824 82 00    A3180
578    A4160  ex 3825 90 90  ex 3824 90 15    AD120
579    AA010  ex 2619 00 20  ex 3824 90 92    A3070
580    AA010  ex 2619 00 90  ex 3824 90 92   A3130
581    AA060  ex 2620 99 95  ex 3824 90 92   A3140

[582 rows x 4 columns]
582
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
578    A4160  ex 3825 90 90  ex 3824 90 15    AD120
579    AA010  ex 2619 00 20  ex 3824 90 92    A3070
580    AA010  ex 2619 00 90  ex 3824 90 92   A3130
581    AA060  ex 2620 99 95  ex 3824 90 92   A3140
582    AA190  ex 8104 20 00  ex 3824 90 92   A3150

[583 rows x 4 columns]
583
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
579    AA010  ex 2619 00 20  ex 3824 90 92    A3070
580    AA010  ex 2619 00 90  ex 3824 90 92   A3130
581    AA060  ex 2620 99 95  ex 3824 90 92   A3140
582    AA190  ex 8104 20 00  ex 3824 90 92   A3150
583    AB030  ex 2620 40 00  ex 3824 90 92   A3160

[584 rows x 4 columns]
584
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
580    AA010  ex 2619 00 90  ex 3824 90 92   A3130
581    AA060  ex 2620 99 95  ex 3824 90 92   A3140
582    AA190  ex 8104 20 00  ex 3824 90 92   A3150
583    AB030  ex 2620 40 00  ex 3824 90 92   A3160
584    AB030  ex 2620 60 00  ex 3824 90 92   A3170

[585 rows x 4 columns]
585
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
581    AA060  ex 2620 99 95  ex 3824 90 92   A3140
582    AA190  ex 8104 20 00  ex 3824 90 92   A3150
583    AB030  ex 2620 40 00  ex 3824 90 92   A3160
584    AB030  ex 2620 60 00  ex 3824 90 92   A3170
585    AB030  ex 3207 40 40  ex 3824 90 92   A3180

[586 rows x 4 columns]
586
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
582    AA190  ex 8104 20 00  ex 3824 90 92   A3150
583    AB030  ex 2620 40 00  ex 3824 90 92   A3160
584    AB030  ex 2620 60 00  ex 3824 90 92   A3170
585    AB030  ex 3207 40 40  ex 3824 90 92   A3180
586    AB030  ex 3207 40 85  ex 3824 90 92   A4120

[587 rows x 4 columns]
587
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
583    AB030  ex 2620 40 00  ex 3824 90 92   A3160
584    AB030  ex 2620 60 00  ex 3824 90 92   A3170
585    AB030  ex 3207 40 40  ex 3824 90 92   A3180
586    AB030  ex 3207 40 85  ex 3824 90 92   A4120
587    AB030  ex 3210 00 10  ex 3824 90 92   A4140

[588 rows x 4 columns]
588
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
584    AB030  ex 2620 60 00  ex 3824 90 92   A3170
585    AB030  ex 3207 40 40  ex 3824 90 92   A3180
586    AB030  ex 3207 40 85  ex 3824 90 92   A4120
587    AB030  ex 3210 00 10  ex 3824 90 92   A4140
588    AB030  ex 3210 00 90  ex 3824 90 92   A4150

[589 rows x 4 columns]
589
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
585    AB030  ex 3207 40 40  ex 3824 90 92   A3180
586    AB030  ex 3207 40 85  ex 3824 90 92   A4120
587    AB030  ex 3210 00 10  ex 3824 90 92   A4140
588    AB030  ex 3210 00 90  ex 3824 90 92   A4150
589    AB030  ex 3212 90 00  ex 3824 90 92   AC060

[590 rows x 4 columns]
590
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
586    AB030  ex 3207 40 85  ex 3824 90 92   A4120
587    AB030  ex 3210 00 10  ex 3824 90 92   A4140
588    AB030  ex 3210 00 90  ex 3824 90 92   A4150
589    AB030  ex 3212 90 00  ex 3824 90 92   AC060
590    AB030  ex 3824 90 93  ex 3824 90 92   AC070

[591 rows x 4 columns]
591
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
587    AB030  ex 3210 00 10  ex 3824 90 92   A4140
588    AB030  ex 3210 00 90  ex 3824 90 92   A4150
589    AB030  ex 3212 90 00  ex 3824 90 92   AC060
590    AB030  ex 3824 90 93  ex 3824 90 92   AC070
591    AB030  ex 3824 90 96  ex 3824 90 92   AC080

[592 rows x 4 columns]
592
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
588    AB030  ex 3210 00 90  ex 3824 90 92   A4150
589    AB030  ex 3212 90 00  ex 3824 90 92   AC060
590    AB030  ex 3824 90 93  ex 3824 90 92   AC070
591    AB030  ex 3824 90 96  ex 3824 90 92   AC080
592    AB030  ex 3825 50 00  ex 3824 90 92   AC150

[593 rows x 4 columns]
593
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
589    AB030  ex 3212 90 00  ex 3824 90 92   AC060
590    AB030  ex 3824 90 93  ex 3824 90 92   AC070
591    AB030  ex 3824 90 96  ex 3824 90 92   AC080
592    AB030  ex 3825 50 00  ex 3824 90 92   AC150
593    AB030  ex 3825 69 00  ex 3824 90 92   AC160

[594 rows x 4 columns]
594
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
590    AB030  ex 3824 90 93  ex 3824 90 92   AC070
591    AB030  ex 3824 90 96  ex 3824 90 92   AC080
592    AB030  ex 3825 50 00  ex 3824 90 92   AC150
593    AB030  ex 3825 69 00  ex 3824 90 92   AC160
594    AB030  ex 3825 90 90  ex 3824 90 93    A3070

[595 rows x 4 columns]
595
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
591    AB030  ex 3824 90 96  ex 3824 90 92   AC080
592    AB030  ex 3825 50 00  ex 3824 90 92   AC150
593    AB030  ex 3825 69 00  ex 3824 90 92   AC160
594    AB030  ex 3825 90 90  ex 3824 90 93    A3070
595    AB030  ex 6804 10 00  ex 3824 90 93   A3130

[596 rows x 4 columns]
596
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
592    AB030  ex 3825 50 00  ex 3824 90 92   AC150
593    AB030  ex 3825 69 00  ex 3824 90 92   AC160
594    AB030  ex 3825 90 90  ex 3824 90 93    A3070
595    AB030  ex 6804 10 00  ex 3824 90 93   A3130
596    AB030  ex 6804 21 00  ex 3824 90 93   A3160

[597 rows x 4 columns]
597
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
593    AB030  ex 3825 69 00  ex 3824 90 92   AC160
594    AB030  ex 3825 90 90  ex 3824 90 93    A3070
595    AB030  ex 6804 10 00  ex 3824 90 93   A3130
596    AB030  ex 6804 21 00  ex 3824 90 93   A3160
597    AB030  ex 6804 22 12  ex 3824 90 93   A3170

[598 rows x 4 columns]
598
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
594    AB030  ex 3825 90 90  ex 3824 90 93    A3070
595    AB030  ex 6804 10 00  ex 3824 90 93   A3130
596    AB030  ex 6804 21 00  ex 3824 90 93   A3160
597    AB030  ex 6804 22 12  ex 3824 90 93   A3170
598    AB030  ex 6804 22 18  ex 3824 90 93    A3180

[599 rows x 4 columns]
599
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
595    AB030  ex 6804 10 00  ex 3824 90 93   A3130
596    AB030  ex 6804 21 00  ex 3824 90 93   A3160
597    AB030  ex 6804 22 12  ex 3824 90 93   A3170
598    AB030  ex 6804 22 18  ex 3824 90 93    A3180
599    AB030  ex 6804 22 30  ex 3824 90 93   A4120

[600 rows x 4 columns]
600
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
596    AB030  ex 6804 21 00  ex 3824 90 93   A3160
597    AB030  ex 6804 22 12  ex 3824 90 93   A3170
598    AB030  ex 6804 22 18  ex 3824 90 93    A3180
599    AB030  ex 6804 22 30  ex 3824 90 93   A4120
600    AB030  ex 6804 22 50  ex 3824 90 93   A4140

[601 rows x 4 columns]
601
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
597    AB030  ex 6804 22 12  ex 3824 90 93   A3170
598    AB030  ex 6804 22 18  ex 3824 90 93    A3180
599    AB030  ex 6804 22 30  ex 3824 90 93   A4120
600    AB030  ex 6804 22 50  ex 3824 90 93   A4140
601    AB030  ex 6804 22 90  ex 3824 90 93   A4150

[602 rows x 4 columns]
602
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
598    AB030  ex 6804 22 18  ex 3824 90 93    A3180
599    AB030  ex 6804 22 30  ex 3824 90 93   A4120
600    AB030  ex 6804 22 50  ex 3824 90 93   A4140
601    AB030  ex 6804 22 90  ex 3824 90 93   A4150
602    AB030  ex 6804 23 00  ex 3824 90 93   AB030

[603 rows x 4 columns]
603
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
599    AB030  ex 6804 22 30  ex 3824 90 93   A4120
600    AB030  ex 6804 22 50  ex 3824 90 93   A4140
601    AB030  ex 6804 22 90  ex 3824 90 93   A4150
602    AB030  ex 6804 23 00  ex 3824 90 93   AB030
603    AB030  ex 6804 30 00  ex 3824 90 93   AC150

[604 rows x 4 columns]
604
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
600    AB030  ex 6804 22 50  ex 3824 90 93   A4140
601    AB030  ex 6804 22 90  ex 3824 90 93   A4150
602    AB030  ex 6804 23 00  ex 3824 90 93   AB030
603    AB030  ex 6804 30 00  ex 3824 90 93   AC150
604    AB030  ex 6805 10 00  ex 3824 90 93   AC160

[605 rows x 4 columns]
605
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
601    AB030  ex 6804 22 90  ex 3824 90 93   A4150
602    AB030  ex 6804 23 00  ex 3824 90 93   AB030
603    AB030  ex 6804 30 00  ex 3824 90 93   AC150
604    AB030  ex 6805 10 00  ex 3824 90 93   AC160
605    AB030  ex 6805 20 00  ex 3824 90 96    A2020

[606 rows x 4 columns]
606
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
602    AB030  ex 6804 23 00  ex 3824 90 93   AB030
603    AB030  ex 6804 30 00  ex 3824 90 93   AC150
604    AB030  ex 6805 10 00  ex 3824 90 93   AC160
605    AB030  ex 6805 20 00  ex 3824 90 96    A2020
606    AB030  ex 6805 30 00  ex 3824 90 96   A3180

[607 rows x 4 columns]
607
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
603    AB030  ex 6804 30 00  ex 3824 90 93   AC150
604    AB030  ex 6805 10 00  ex 3824 90 93   AC160
605    AB030  ex 6805 20 00  ex 3824 90 96    A2020
606    AB030  ex 6805 30 00  ex 3824 90 96   A3180
607    AB070  ex 2505 10 00  ex 3824 90 96   A4120

[608 rows x 4 columns]
608
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
604    AB030  ex 6805 10 00  ex 3824 90 93   AC160
605    AB030  ex 6805 20 00  ex 3824 90 96    A2020
606    AB030  ex 6805 30 00  ex 3824 90 96   A3180
607    AB070  ex 2505 10 00  ex 3824 90 96   A4120
608    AB070  ex 2505 90 00  ex 3824 90 96   A4140

[609 rows x 4 columns]
609
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
605    AB030  ex 6805 20 00  ex 3824 90 96    A2020
606    AB030  ex 6805 30 00  ex 3824 90 96   A3180
607    AB070  ex 2505 10 00  ex 3824 90 96   A4120
608    AB070  ex 2505 90 00  ex 3824 90 96   A4140
609    AB070  ex 2517 10 10  ex 3824 90 96   A4150

[610 rows x 4 columns]
610
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
606    AB030  ex 6805 30 00  ex 3824 90 96   A3180
607    AB070  ex 2505 10 00  ex 3824 90 96   A4120
608    AB070  ex 2505 90 00  ex 3824 90 96   A4140
609    AB070  ex 2517 10 10  ex 3824 90 96   A4150
610    AB070  ex 2517 10 20  ex 3824 90 96   AB030

[611 rows x 4 columns]
611
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
607    AB070  ex 2505 10 00  ex 3824 90 96   A4120
608    AB070  ex 2505 90 00  ex 3824 90 96   A4140
609    AB070  ex 2517 10 10  ex 3824 90 96   A4150
610    AB070  ex 2517 10 20  ex 3824 90 96   AB030
611    AB070  ex 2517 10 80  ex 3824 90 96   AB070

[612 rows x 4 columns]
612
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
608    AB070  ex 2505 90 00  ex 3824 90 96   A4140
609    AB070  ex 2517 10 10  ex 3824 90 96   A4150
610    AB070  ex 2517 10 20  ex 3824 90 96   AB030
611    AB070  ex 2517 10 80  ex 3824 90 96   AB070
612    AB070  ex 2517 20 00  ex 3824 90 96   AB150

[613 rows x 4 columns]
613
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
609    AB070  ex 2517 10 10  ex 3824 90 96   A4150
610    AB070  ex 2517 10 20  ex 3824 90 96   AB030
611    AB070  ex 2517 10 80  ex 3824 90 96   AB070
612    AB070  ex 2517 20 00  ex 3824 90 96   AB150
613    AB070  ex 2517 30 00  ex 3824 90 96   B2040

[614 rows x 4 columns]
614
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
610    AB070  ex 2517 10 20  ex 3824 90 96   AB030
611    AB070  ex 2517 10 80  ex 3824 90 96   AB070
612    AB070  ex 2517 20 00  ex 3824 90 96   AB150
613    AB070  ex 2517 30 00  ex 3824 90 96   B2040
614    AB070  ex 2517 41 00  ex 3825 10 00    A3180

[615 rows x 4 columns]
615
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
611    AB070  ex 2517 10 80  ex 3824 90 96   AB070
612    AB070  ex 2517 20 00  ex 3824 90 96   AB150
613    AB070  ex 2517 30 00  ex 3824 90 96   B2040
614    AB070  ex 2517 41 00  ex 3825 10 00    A3180
615    AB070  ex 2517 49 00  ex 3825 10 00   A3200

[616 rows x 4 columns]
616
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
612    AB070  ex 2517 20 00  ex 3824 90 96   AB150
613    AB070  ex 2517 30 00  ex 3824 90 96   B2040
614    AB070  ex 2517 41 00  ex 3825 10 00    A3180
615    AB070  ex 2517 49 00  ex 3825 10 00   A3200
616    AB070  ex 2618 00 00  ex 3825 10 00    A4010

[617 rows x 4 columns]
617
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
613    AB070  ex 2517 30 00  ex 3824 90 96   B2040
614    AB070  ex 2517 41 00  ex 3825 10 00    A3180
615    AB070  ex 2517 49 00  ex 3825 10 00   A3200
616    AB070  ex 2618 00 00  ex 3825 10 00    A4010
617    AB070  ex 3824 90 96  ex 3825 10 00   A4130

[618 rows x 4 columns]
618
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
614    AB070  ex 2517 41 00  ex 3825 10 00    A3180
615    AB070  ex 2517 49 00  ex 3825 10 00   A3200
616    AB070  ex 2618 00 00  ex 3825 10 00    A4010
617    AB070  ex 3824 90 96  ex 3825 10 00   A4130
618    AB070  ex 3825 69 00  ex 3825 10 00   B2040

[619 rows x 4 columns]
619
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
615    AB070  ex 2517 49 00  ex 3825 10 00   A3200
616    AB070  ex 2618 00 00  ex 3825 10 00    A4010
617    AB070  ex 3824 90 96  ex 3825 10 00   A4130
618    AB070  ex 3825 69 00  ex 3825 10 00   B2040
619    AB070  ex 3825 90 90  ex 3825 10 00   B2130

[620 rows x 4 columns]
620
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
616    AB070  ex 2618 00 00  ex 3825 10 00    A4010
617    AB070  ex 3824 90 96  ex 3825 10 00   A4130
618    AB070  ex 3825 69 00  ex 3825 10 00   B2040
619    AB070  ex 3825 90 90  ex 3825 10 00   B2130
620    AB120  ex 3825 69 00  ex 3825 10 00   B3010

[621 rows x 4 columns]
621
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
617    AB070  ex 3824 90 96  ex 3825 10 00   A4130
618    AB070  ex 3825 69 00  ex 3825 10 00   B2040
619    AB070  ex 3825 90 90  ex 3825 10 00   B2130
620    AB120  ex 3825 69 00  ex 3825 10 00   B3010
621    AB120  ex 3825 90 90  ex 3825 10 00     Y46

[622 rows x 4 columns]
622
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
618    AB070  ex 3825 69 00  ex 3825 10 00   B2040
619    AB070  ex 3825 90 90  ex 3825 10 00   B2130
620    AB120  ex 3825 69 00  ex 3825 10 00   B3010
621    AB120  ex 3825 90 90  ex 3825 10 00     Y46
622    AB130  ex 3825 69 00  ex 3825 20 00    A1020

[623 rows x 4 columns]
623
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
619    AB070  ex 3825 90 90  ex 3825 10 00   B2130
620    AB120  ex 3825 69 00  ex 3825 10 00   B3010
621    AB120  ex 3825 90 90  ex 3825 10 00     Y46
622    AB130  ex 3825 69 00  ex 3825 20 00    A1020
623    AB130  ex 3825 90 90  ex 3825 20 00   A1030

[624 rows x 4 columns]
624

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
620    AB120  ex 3825 69 00  ex 3825 10 00   B3010
621    AB120  ex 3825 90 90  ex 3825 10 00     Y46
622    AB130  ex 3825 69 00  ex 3825 20 00    A1020
623    AB130  ex 3825 90 90  ex 3825 20 00   A1030
624    AB150  ex 3824 90 96  ex 3825 20 00    A1040

[625 rows x 4 columns]
625
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
621    AB120  ex 3825 90 90  ex 3825 10 00     Y46
622    AB130  ex 3825 69 00  ex 3825 20 00    A1020
623    AB130  ex 3825 90 90  ex 3825 20 00   A1030
624    AB150  ex 3824 90 96  ex 3825 20 00    A1040
625    AB150  ex 3825 69 00  ex 3825 20 00   A3090

[626 rows x 4 columns]
626
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
622    AB130  ex 3825 69 00  ex 3825 20 00    A1020
623    AB130  ex 3825 90 90  ex 3825 20 00   A1030
624    AB150  ex 3824 90 96  ex 3825 20 00    A1040
625    AB150  ex 3825 69 00  ex 3825 20 00   A3090
626    AB150  ex 3825 90 90  ex 3825 20 00   A3180

[627 rows x 4 columns]
627
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
623    AB130  ex 3825 90 90  ex 3825 20 00   A1030
624    AB150  ex 3824 90 96  ex 3825 20 00    A1040
625    AB150  ex 3825 69 00  ex 3825 20 00   A3090
626    AB150  ex 3825 90 90  ex 3825 20 00   A3180
627    AC060  ex 2710 99 00  ex 3825 20 00   AC270

[628 rows x 4 columns]
628
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
624    AB150  ex 3824 90 96  ex 3825 20 00    A1040
625    AB150  ex 3825 69 00  ex 3825 20 00   A3090
626    AB150  ex 3825 90 90  ex 3825 20 00   A3180
627    AC060  ex 2710 99 00  ex 3825 20 00   AC270
628    AC060  ex 3403 19 20  ex 3825 20 00    B3100

[629 rows x 4 columns]
629
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
625    AB150  ex 3825 69 00  ex 3825 20 00   A3090
626    AB150  ex 3825 90 90  ex 3825 20 00   A3180
627    AC060  ex 2710 99 00  ex 3825 20 00   AC270
628    AC060  ex 3403 19 20  ex 3825 20 00    B3100
629    AC060  ex 3403 19 80  ex 3825 30 00    A3090

[630 rows x 4 columns]
630
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
626    AB150  ex 3825 90 90  ex 3825 20 00   A3180
627    AC060  ex 2710 99 00  ex 3825 20 00   AC270
628    AC060  ex 3403 19 20  ex 3825 20 00    B3100
629    AC060  ex 3403 19 80  ex 3825 30 00    A3090
630    AC060  ex 3403 99 00  ex 3825 30 00   A4010

[631 rows x 4 columns]
631
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
627    AC060  ex 2710 99 00  ex 3825 20 00   AC270
628    AC060  ex 3403 19 20  ex 3825 20 00    B3100
629    AC060  ex 3403 19 80  ex 3825 30 00    A3090
630    AC060  ex 3403 99 00  ex 3825 30 00   A4010
631    AC060  ex 3819 00 00  ex 3825 30 00   A4020

[632 rows x 4 columns]
632
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
628    AC060  ex 3403 19 20  ex 3825 20 00    B3100
629    AC060  ex 3403 19 80  ex 3825 30 00    A3090
630    AC060  ex 3403 99 00  ex 3825 30 00   A4010
631    AC060  ex 3819 00 00  ex 3825 30 00   A4020
632    AC060  ex 3824 90 92  ex 3825 30 00   A4120

[633 rows x 4 columns]
633
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
629    AC060  ex 3403 19 80  ex 3825 30 00    A3090
630    AC060  ex 3403 99 00  ex 3825 30 00   A4010
631    AC060  ex 3819 00 00  ex 3825 30 00   A4020
632    AC060  ex 3824 90 92  ex 3825 30 00   A4120
633    AC060  ex 3825 50 00  ex 3825 30 00   B3100

[634 rows x 4 columns]
634
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
630    AC060  ex 3403 99 00  ex 3825 30 00   A4010
631    AC060  ex 3819 00 00  ex 3825 30 00   A4020
632    AC060  ex 3824 90 92  ex 3825 30 00   A4120
633    AC060  ex 3825 50 00  ex 3825 30 00   B3100
634    AC070  ex 2710 19 83  ex 3825 41 00    A3080

[635 rows x 4 columns]
635
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
631    AC060  ex 3819 00 00  ex 3825 30 00   A4020
632    AC060  ex 3824 90 92  ex 3825 30 00   A4120
633    AC060  ex 3825 50 00  ex 3825 30 00   B3100
634    AC070  ex 2710 19 83  ex 3825 41 00    A3080
635    AC070  ex 3403 19 20  ex 3825 41 00   A3150

[636 rows x 4 columns]
636
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
632    AC060  ex 3824 90 92  ex 3825 30 00   A4120
633    AC060  ex 3825 50 00  ex 3825 30 00   B3100
634    AC070  ex 2710 19 83  ex 3825 41 00    A3080
635    AC070  ex 3403 19 20  ex 3825 41 00   A3150
636    AC070  ex 3403 19 80  ex 3825 41 00   A3170

[637 rows x 4 columns]
637
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
633    AC060  ex 3825 50 00  ex 3825 30 00   B3100
634    AC070  ex 2710 19 83  ex 3825 41 00    A3080
635    AC070  ex 3403 19 20  ex 3825 41 00   A3150
636    AC070  ex 3403 19 80  ex 3825 41 00   A3170
637    AC070  ex 3403 99 00  ex 3825 41 00   A3180

[638 rows x 4 columns]
638
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
634    AC070  ex 2710 19 83  ex 3825 41 00    A3080
635    AC070  ex 3403 19 20  ex 3825 41 00   A3150
636    AC070  ex 3403 19 80  ex 3825 41 00   A3170
637    AC070  ex 3403 99 00  ex 3825 41 00   A3180
638    AC070  ex 3819 00 00  ex 3825 41 00   A4010

[639 rows x 4 columns]
639
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
635    AC070  ex 3403 19 20  ex 3825 41 00   A3150
636    AC070  ex 3403 19 80  ex 3825 41 00   A3170
637    AC070  ex 3403 99 00  ex 3825 41 00   A3180
638    AC070  ex 3819 00 00  ex 3825 41 00   A4010
639    AC070  ex 3824 90 92  ex 3825 41 00   AC150

[640 rows x 4 columns]
640
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
636    AC070  ex 3403 19 80  ex 3825 41 00   A3170
637    AC070  ex 3403 99 00  ex 3825 41 00   A3180
638    AC070  ex 3819 00 00  ex 3825 41 00   A4010
639    AC070  ex 3824 90 92  ex 3825 41 00   AC150
640    AC070  ex 3825 50 00  ex 3825 41 00   B3130

[641 rows x 4 columns]
641
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
637    AC070  ex 3403 99 00  ex 3825 41 00   A3180
638    AC070  ex 3819 00 00  ex 3825 41 00   A4010
639    AC070  ex 3824 90 92  ex 3825 41 00   AC150
640    AC070  ex 3825 50 00  ex 3825 41 00   B3130
641    AC080  ex 3820 00 00  ex 3825 49 00    A3080

[642 rows x 4 columns]
642
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
638    AC070  ex 3819 00 00  ex 3825 41 00   A4010
639    AC070  ex 3824 90 92  ex 3825 41 00   AC150
640    AC070  ex 3825 50 00  ex 3825 41 00   B3130
641    AC080  ex 3820 00 00  ex 3825 49 00    A3080
642    AC080  ex 3824 90 92  ex 3825 49 00   A3140

[643 rows x 4 columns]
643
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
639    AC070  ex 3824 90 92  ex 3825 41 00   AC150
640    AC070  ex 3825 50 00  ex 3825 41 00   B3130
641    AC080  ex 3820 00 00  ex 3825 49 00    A3080
642    AC080  ex 3824 90 92  ex 3825 49 00   A3140
643    AC080  ex 3825 50 00  ex 3825 49 00   A3170

[644 rows x 4 columns]
644

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
640    AC070  ex 3825 50 00  ex 3825 41 00   B3130
641    AC080  ex 3820 00 00  ex 3825 49 00    A3080
642    AC080  ex 3824 90 92  ex 3825 49 00   A3140
643    AC080  ex 3825 50 00  ex 3825 49 00   A3170
644    AC150  ex 2710 99 00  ex 3825 49 00   A4010

[645 rows x 4 columns]
645
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
641    AC080  ex 3820 00 00  ex 3825 49 00    A3080
642    AC080  ex 3824 90 92  ex 3825 49 00   A3140
643    AC080  ex 3825 50 00  ex 3825 49 00   A3170
644    AC150  ex 2710 99 00  ex 3825 49 00   A4010
645    AC150  ex 2903 71 00  ex 3825 49 00   B3130

[646 rows x 4 columns]
646
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
642    AC080  ex 3824 90 92  ex 3825 49 00   A3140
643    AC080  ex 3825 50 00  ex 3825 49 00   A3170
644    AC150  ex 2710 99 00  ex 3825 49 00   A4010
645    AC150  ex 2903 71 00  ex 3825 49 00   B3130
646    AC150  ex 2903 72 00  ex 3825 50 00    A1040

[647 rows x 4 columns]
647
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
643    AC080  ex 3825 50 00  ex 3825 49 00   A3170
644    AC150  ex 2710 99 00  ex 3825 49 00   A4010
645    AC150  ex 2903 71 00  ex 3825 49 00   B3130
646    AC150  ex 2903 72 00  ex 3825 50 00    A1040
647    AC150  ex 2903 73 00  ex 3825 50 00   A1060

[648 rows x 4 columns]
648
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
644    AC150  ex 2710 99 00  ex 3825 49 00   A4010
645    AC150  ex 2903 71 00  ex 3825 49 00   B3130
646    AC150  ex 2903 72 00  ex 3825 50 00    A1040
647    AC150  ex 2903 73 00  ex 3825 50 00   A1060
648    AC150  ex 2903 74 00  ex 3825 50 00   A3040

[649 rows x 4 columns]
649
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
645    AC150  ex 2903 71 00  ex 3825 49 00   B3130
646    AC150  ex 2903 72 00  ex 3825 50 00    A1040
647    AC150  ex 2903 73 00  ex 3825 50 00   A1060
648    AC150  ex 2903 74 00  ex 3825 50 00   A3040
649    AC150  ex 2903 75 00  ex 3825 50 00   A3180

[650 rows x 4 columns]
650
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
646    AC150  ex 2903 72 00  ex 3825 50 00    A1040
647    AC150  ex 2903 73 00  ex 3825 50 00   A1060
648    AC150  ex 2903 74 00  ex 3825 50 00   A3040
649    AC150  ex 2903 75 00  ex 3825 50 00   A3180
650    AC150     ex 2903 77  ex 3825 50 00   A4050

[651 rows x 4 columns]
651
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
647    AC150  ex 2903 73 00  ex 3825 50 00   A1060
648    AC150  ex 2903 74 00  ex 3825 50 00   A3040
649    AC150  ex 2903 75 00  ex 3825 50 00   A3180
650    AC150     ex 2903 77  ex 3825 50 00   A4050
651    AC150  ex 2903 79 30  ex 3825 50 00   AB030

[652 rows x 4 columns]
652
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
648    AC150  ex 2903 74 00  ex 3825 50 00   A3040
649    AC150  ex 2903 75 00  ex 3825 50 00   A3180
650    AC150     ex 2903 77  ex 3825 50 00   A4050
651    AC150  ex 2903 79 30  ex 3825 50 00   AB030
652    AC150  ex 2903 79 80  ex 3825 50 00   AC060

[653 rows x 4 columns]
653
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
649    AC150  ex 2903 75 00  ex 3825 50 00   A3180
650    AC150     ex 2903 77  ex 3825 50 00   A4050
651    AC150  ex 2903 79 30  ex 3825 50 00   AB030
652    AC150  ex 2903 79 80  ex 3825 50 00   AC060
653    AC150  ex 3824 71 00  ex 3825 50 00   AC070

[654 rows x 4 columns]
654
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
650    AC150     ex 2903 77  ex 3825 50 00   A4050
651    AC150  ex 2903 79 30  ex 3825 50 00   AB030
652    AC150  ex 2903 79 80  ex 3825 50 00   AC060
653    AC150  ex 3824 71 00  ex 3825 50 00   AC070
654    AC150  ex 3824 72 00  ex 3825 50 00   AC080

[655 rows x 4 columns]
655
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
651    AC150  ex 2903 79 30  ex 3825 50 00   AB030
652    AC150  ex 2903 79 80  ex 3825 50 00   AC060
653    AC150  ex 3824 71 00  ex 3825 50 00   AC070
654    AC150  ex 3824 72 00  ex 3825 50 00   AC080
655    AC150  ex 3824 73 00  ex 3825 50 00   AD100

[656 rows x 4 columns]
656
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
652    AC150  ex 2903 79 80  ex 3825 50 00   AC060
653    AC150  ex 3824 71 00  ex 3825 50 00   AC070
654    AC150  ex 3824 72 00  ex 3825 50 00   AC080
655    AC150  ex 3824 73 00  ex 3825 50 00   AD100
656    AC150  ex 3824 75 00  ex 3825 61 00    A1040

[657 rows x 4 columns]
657
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
653    AC150  ex 3824 71 00  ex 3825 50 00   AC070
654    AC150  ex 3824 72 00  ex 3825 50 00   AC080
655    AC150  ex 3824 73 00  ex 3825 50 00   AD100
656    AC150  ex 3824 75 00  ex 3825 61 00    A1040
657    AC150  ex 3824 76 00  ex 3825 61 00   A3030

[658 rows x 4 columns]
658
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
654    AC150  ex 3824 72 00  ex 3825 50 00   AC080
655    AC150  ex 3824 73 00  ex 3825 50 00   AD100
656    AC150  ex 3824 75 00  ex 3825 61 00    A1040
657    AC150  ex 3824 76 00  ex 3825 61 00   A3030
658    AC150  ex 3824 77 00  ex 3825 61 00   A3040

[659 rows x 4 columns]
659
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
655    AC150  ex 3824 73 00  ex 3825 50 00   AD100
656    AC150  ex 3824 75 00  ex 3825 61 00    A1040
657    AC150  ex 3824 76 00  ex 3825 61 00   A3030
658    AC150  ex 3824 77 00  ex 3825 61 00   A3040
659    AC150  ex 3824 79 00  ex 3825 61 00   A3050

[660 rows x 4 columns]
660
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
656    AC150  ex 3824 75 00  ex 3825 61 00    A1040
657    AC150  ex 3824 76 00  ex 3825 61 00   A3030
658    AC150  ex 3824 77 00  ex 3825 61 00   A3040
659    AC150  ex 3824 79 00  ex 3825 61 00   A3050
660    AC150  ex 3824 90 92  ex 3825 61 00    A3070

[661 rows x 4 columns]
661
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
657    AC150  ex 3824 76 00  ex 3825 61 00   A3030
658    AC150  ex 3824 77 00  ex 3825 61 00   A3040
659    AC150  ex 3824 79 00  ex 3825 61 00   A3050
660    AC150  ex 3824 90 92  ex 3825 61 00    A3070
661    AC150  ex 3824 90 93  ex 3825 61 00   A3080

[662 rows x 4 columns]
662
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
658    AC150  ex 3824 77 00  ex 3825 61 00   A3040
659    AC150  ex 3824 79 00  ex 3825 61 00   A3050
660    AC150  ex 3824 90 92  ex 3825 61 00    A3070
661    AC150  ex 3824 90 93  ex 3825 61 00   A3080
662    AC150  ex 3825 41 00  ex 3825 61 00   A3120

[663 rows x 4 columns]
663
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
659    AC150  ex 3824 79 00  ex 3825 61 00   A3050
660    AC150  ex 3824 90 92  ex 3825 61 00    A3070
661    AC150  ex 3824 90 93  ex 3825 61 00   A3080
662    AC150  ex 3825 41 00  ex 3825 61 00   A3120
663    AC150  ex 3825 61 00  ex 3825 61 00   A3130

[664 rows x 4 columns]
664
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
660    AC150  ex 3824 90 92  ex 3825 61 00    A3070
661    AC150  ex 3824 90 93  ex 3825 61 00   A3080
662    AC150  ex 3825 41 00  ex 3825 61 00   A3120
663    AC150  ex 3825 61 00  ex 3825 61 00   A3130
664    AC150  ex 3825 90 90  ex 3825 61 00   A3160

[665 rows x 4 columns]
665

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
661    AC150  ex 3824 90 93  ex 3825 61 00   A3080
662    AC150  ex 3825 41 00  ex 3825 61 00   A3120
663    AC150  ex 3825 61 00  ex 3825 61 00   A3130
664    AC150  ex 3825 90 90  ex 3825 61 00   A3160
665    AC160  ex 2903 76 10  ex 3825 61 00   A3170

[666 rows x 4 columns]
666
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
662    AC150  ex 3825 41 00  ex 3825 61 00   A3120
663    AC150  ex 3825 61 00  ex 3825 61 00   A3130
664    AC150  ex 3825 90 90  ex 3825 61 00   A3160
665    AC160  ex 2903 76 10  ex 3825 61 00   A3170
666    AC160  ex 2903 76 20  ex 3825 61 00   A3180

[667 rows x 4 columns]
667
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
663    AC150  ex 3825 61 00  ex 3825 61 00   A3130
664    AC150  ex 3825 90 90  ex 3825 61 00   A3160
665    AC160  ex 2903 76 10  ex 3825 61 00   A3170
666    AC160  ex 2903 76 20  ex 3825 61 00   A3180
667    AC160  ex 2903 76 90  ex 3825 61 00   A3190

[668 rows x 4 columns]
668
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
664    AC150  ex 3825 90 90  ex 3825 61 00   A3160
665    AC160  ex 2903 76 10  ex 3825 61 00   A3170
666    AC160  ex 2903 76 20  ex 3825 61 00   A3180
667    AC160  ex 2903 76 90  ex 3825 61 00   A3190
668    AC160  ex 2903 78 00  ex 3825 61 00   A3200

[669 rows x 4 columns]
669
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
665    AC160  ex 2903 76 10  ex 3825 61 00   A3170
666    AC160  ex 2903 76 20  ex 3825 61 00   A3180
667    AC160  ex 2903 76 90  ex 3825 61 00   A3190
668    AC160  ex 2903 78 00  ex 3825 61 00   A3200
669    AC160  ex 2903 79 30  ex 3825 61 00   A4010

[670 rows x 4 columns]
670
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
666    AC160  ex 2903 76 20  ex 3825 61 00   A3180
667    AC160  ex 2903 76 90  ex 3825 61 00   A3190
668    AC160  ex 2903 78 00  ex 3825 61 00   A3200
669    AC160  ex 2903 79 30  ex 3825 61 00   A4010
670    AC160  ex 2903 79 80  ex 3825 61 00   A4030

[671 rows x 4 columns]
671
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
667    AC160  ex 2903 76 90  ex 3825 61 00   A3190
668    AC160  ex 2903 78 00  ex 3825 61 00   A3200
669    AC160  ex 2903 79 30  ex 3825 61 00   A4010
670    AC160  ex 2903 79 80  ex 3825 61 00   A4030
671    AC160  ex 3813 00 00  ex 3825 61 00   A4040

[672 rows x 4 columns]
672
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
668    AC160  ex 2903 78 00  ex 3825 61 00   A3200
669    AC160  ex 2903 79 30  ex 3825 61 00   A4010
670    AC160  ex 2903 79 80  ex 3825 61 00   A4030
671    AC160  ex 3813 00 00  ex 3825 61 00   A4040
672    AC160  ex 3824 71 00  ex 3825 61 00   A4050

[673 rows x 4 columns]
673
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
669    AC160  ex 2903 79 30  ex 3825 61 00   A4010
670    AC160  ex 2903 79 80  ex 3825 61 00   A4030
671    AC160  ex 3813 00 00  ex 3825 61 00   A4040
672    AC160  ex 3824 71 00  ex 3825 61 00   A4050
673    AC160  ex 3824 72 00  ex 3825 61 00   A4060

[674 rows x 4 columns]
674
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
670    AC160  ex 2903 79 80  ex 3825 61 00   A4030
671    AC160  ex 3813 00 00  ex 3825 61 00   A4040
672    AC160  ex 3824 71 00  ex 3825 61 00   A4050
673    AC160  ex 3824 72 00  ex 3825 61 00   A4060
674    AC160  ex 3824 73 00  ex 3825 61 00   A4070

[675 rows x 4 columns]
675
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
671    AC160  ex 3813 00 00  ex 3825 61 00   A4040
672    AC160  ex 3824 71 00  ex 3825 61 00   A4050
673    AC160  ex 3824 72 00  ex 3825 61 00   A4060
674    AC160  ex 3824 73 00  ex 3825 61 00   A4070
675    AC160  ex 3824 74 00  ex 3825 61 00   A4080

[676 rows x 4 columns]
676
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
672    AC160  ex 3824 71 00  ex 3825 61 00   A4050
673    AC160  ex 3824 72 00  ex 3825 61 00   A4060
674    AC160  ex 3824 73 00  ex 3825 61 00   A4070
675    AC160  ex 3824 74 00  ex 3825 61 00   A4080
676    AC160  ex 3824 75 00  ex 3825 61 00   A4090

[677 rows x 4 columns]
677
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
673    AC160  ex 3824 72 00  ex 3825 61 00   A4060
674    AC160  ex 3824 73 00  ex 3825 61 00   A4070
675    AC160  ex 3824 74 00  ex 3825 61 00   A4080
676    AC160  ex 3824 75 00  ex 3825 61 00   A4090
677    AC160  ex 3824 76 00  ex 3825 61 00   A4100

[678 rows x 4 columns]
678
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
674    AC160  ex 3824 73 00  ex 3825 61 00   A4070
675    AC160  ex 3824 74 00  ex 3825 61 00   A4080
676    AC160  ex 3824 75 00  ex 3825 61 00   A4090
677    AC160  ex 3824 76 00  ex 3825 61 00   A4100
678    AC160  ex 3824 77 00  ex 3825 61 00   A4110

[679 rows x 4 columns]
679
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
675    AC160  ex 3824 74 00  ex 3825 61 00   A4080
676    AC160  ex 3824 75 00  ex 3825 61 00   A4090
677    AC160  ex 3824 76 00  ex 3825 61 00   A4100
678    AC160  ex 3824 77 00  ex 3825 61 00   A4110
679    AC160  ex 3824 79 00  ex 3825 61 00   A4120

[680 rows x 4 columns]
680
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
676    AC160  ex 3824 75 00  ex 3825 61 00   A4090
677    AC160  ex 3824 76 00  ex 3825 61 00   A4100
678    AC160  ex 3824 77 00  ex 3825 61 00   A4110
679    AC160  ex 3824 79 00  ex 3825 61 00   A4120
680    AC160  ex 3824 90 92  ex 3825 61 00   A4130

[681 rows x 4 columns]
681
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
677    AC160  ex 3824 76 00  ex 3825 61 00   A4100
678    AC160  ex 3824 77 00  ex 3825 61 00   A4110
679    AC160  ex 3824 79 00  ex 3825 61 00   A4120
680    AC160  ex 3824 90 92  ex 3825 61 00   A4130
681    AC160  ex 3824 90 93  ex 3825 61 00   A4140

[682 rows x 4 columns]
682
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
678    AC160  ex 3824 77 00  ex 3825 61 00   A4110
679    AC160  ex 3824 79 00  ex 3825 61 00   A4120
680    AC160  ex 3824 90 92  ex 3825 61 00   A4130
681    AC160  ex 3824 90 93  ex 3825 61 00   A4140
682    AC160  ex 3825 61 00  ex 3825 61 00   A4150

[683 rows x 4 columns]
683
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
679    AC160  ex 3824 79 00  ex 3825 61 00   A4120
680    AC160  ex 3824 90 92  ex 3825 61 00   A4130
681    AC160  ex 3824 90 93  ex 3825 61 00   A4140
682    AC160  ex 3825 61 00  ex 3825 61 00   A4150
683    AC160  ex 3825 90 90  ex 3825 61 00   A4160

[684 rows x 4 columns]
684
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
680    AC160  ex 3824 90 92  ex 3825 61 00   A4130
681    AC160  ex 3824 90 93  ex 3825 61 00   A4140
682    AC160  ex 3825 61 00  ex 3825 61 00   A4150
683    AC160  ex 3825 90 90  ex 3825 61 00   A4160
684    AC170  ex 3825 61 00  ex 3825 61 00   AC150

[685 rows x 4 columns]
685
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
681    AC160  ex 3824 90 93  ex 3825 61 00   A4140
682    AC160  ex 3825 61 00  ex 3825 61 00   A4150
683    AC160  ex 3825 90 90  ex 3825 61 00   A4160
684    AC170  ex 3825 61 00  ex 3825 61 00   AC150
685    AC170  ex 3825 90 90  ex 3825 61 00   AC160

[686 rows x 4 columns]
686
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
682    AC160  ex 3825 61 00  ex 3825 61 00   A4150
683    AC160  ex 3825 90 90  ex 3825 61 00   A4160
684    AC170  ex 3825 61 00  ex 3825 61 00   AC150
685    AC170  ex 3825 90 90  ex 3825 61 00   AC160
686    AC170  ex 4401 21 00  ex 3825 61 00   AC170

[687 rows x 4 columns]
687
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
683    AC160  ex 3825 90 90  ex 3825 61 00   A4160
684    AC170  ex 3825 61 00  ex 3825 61 00   AC150
685    AC170  ex 3825 90 90  ex 3825 61 00   AC160
686    AC170  ex 4401 21 00  ex 3825 61 00   AC170
687    AC170  ex 4401 22 00  ex 3825 61 00   AC250

[688 rows x 4 columns]
688
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
684    AC170  ex 3825 61 00  ex 3825 61 00   AC150
685    AC170  ex 3825 90 90  ex 3825 61 00   AC160
686    AC170  ex 4401 21 00  ex 3825 61 00   AC170
687    AC170  ex 4401 22 00  ex 3825 61 00   AC250
688    AC170  ex 4401 39 20  ex 3825 61 00   AD090

[689 rows x 4 columns]
689
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
685    AC170  ex 3825 90 90  ex 3825 61 00   AC160
686    AC170  ex 4401 21 00  ex 3825 61 00   AC170
687    AC170  ex 4401 22 00  ex 3825 61 00   AC250
688    AC170  ex 4401 39 20  ex 3825 61 00   AD090
689    AC170  ex 4401 39 30  ex 3825 61 00   AD100

[690 rows x 4 columns]
690
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
686    AC170  ex 4401 21 00  ex 3825 61 00   AC170
687    AC170  ex 4401 22 00  ex 3825 61 00   AC250
688    AC170  ex 4401 39 20  ex 3825 61 00   AD090
689    AC170  ex 4401 39 30  ex 3825 61 00   AD100
690    AC170  ex 4401 39 80  ex 3825 61 00   AD150

[691 rows x 4 columns]
691
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
687    AC170  ex 4401 22 00  ex 3825 61 00   AC250
688    AC170  ex 4401 39 20  ex 3825 61 00   AD090
689    AC170  ex 4401 39 30  ex 3825 61 00   AD100
690    AC170  ex 4401 39 80  ex 3825 61 00   AD150
691    AC170  ex 4501 90 00  ex 3825 61 00    B3010

[692 rows x 4 columns]
692
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
688    AC170  ex 4401 39 20  ex 3825 61 00   AD090
689    AC170  ex 4401 39 30  ex 3825 61 00   AD100
690    AC170  ex 4401 39 80  ex 3825 61 00   AD150
691    AC170  ex 4501 90 00  ex 3825 61 00    B3010
692    AC250        ex 3401  ex 3825 61 00   B3060

[693 rows x 4 columns]
693
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
689    AC170  ex 4401 39 30  ex 3825 61 00   AD100
690    AC170  ex 4401 39 80  ex 3825 61 00   AD150
691    AC170  ex 4501 90 00  ex 3825 61 00    B3010
692    AC250        ex 3401  ex 3825 61 00   B3060
693    AC250  ex 3402 11 10  ex 3825 61 00   B3100

[694 rows x 4 columns]
694
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
690    AC170  ex 4401 39 80  ex 3825 61 00   AD150
691    AC170  ex 4501 90 00  ex 3825 61 00    B3010
692    AC250        ex 3401  ex 3825 61 00   B3060
693    AC250  ex 3402 11 10  ex 3825 61 00   B3100
694    AC250  ex 3402 11 90  ex 3825 61 00   B3120

[695 rows x 4 columns]
695
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
691    AC170  ex 4501 90 00  ex 3825 61 00    B3010
692    AC250        ex 3401  ex 3825 61 00   B3060
693    AC250  ex 3402 11 10  ex 3825 61 00   B3100
694    AC250  ex 3402 11 90  ex 3825 61 00   B3120
695    AC250  ex 3402 12 00  ex 3825 61 00   B4010

[696 rows x 4 columns]
696
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
692    AC250        ex 3401  ex 3825 61 00   B3060
693    AC250  ex 3402 11 10  ex 3825 61 00   B3100
694    AC250  ex 3402 11 90  ex 3825 61 00   B3120
695    AC250  ex 3402 12 00  ex 3825 61 00   B4010
696    AC250  ex 3402 13 00  ex 3825 61 00   B4020

[697 rows x 4 columns]
697
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
693    AC250  ex 3402 11 10  ex 3825 61 00   B3100
694    AC250  ex 3402 11 90  ex 3825 61 00   B3120
695    AC250  ex 3402 12 00  ex 3825 61 00   B4010
696    AC250  ex 3402 13 00  ex 3825 61 00   B4020
697    AC250  ex 3402 19 00  ex 3825 69 00    A1010

[698 rows x 4 columns]
698
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
694    AC250  ex 3402 11 90  ex 3825 61 00   B3120
695    AC250  ex 3402 12 00  ex 3825 61 00   B4010
696    AC250  ex 3402 13 00  ex 3825 61 00   B4020
697    AC250  ex 3402 19 00  ex 3825 69 00    A1010
698    AC250  ex 3825 61 00  ex 3825 69 00   A1020

[699 rows x 4 columns]
699
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
695    AC250  ex 3402 12 00  ex 3825 61 00   B4010
696    AC250  ex 3402 13 00  ex 3825 61 00   B4020
697    AC250  ex 3402 19 00  ex 3825 69 00    A1010
698    AC250  ex 3825 61 00  ex 3825 69 00   A1020
699    AC250  ex 3825 90 90  ex 3825 69 00   A1030

[700 rows x 4 columns]
700
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
696    AC250  ex 3402 13 00  ex 3825 61 00   B4020
697    AC250  ex 3402 19 00  ex 3825 69 00    A1010
698    AC250  ex 3825 61 00  ex 3825 69 00   A1020
699    AC250  ex 3825 90 90  ex 3825 69 00   A1030
700    AC260  ex 3101 00 00  ex 3825 69 00   A1040

[701 rows x 4 columns]
701
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
697    AC250  ex 3402 19 00  ex 3825 69 00    A1010
698    AC250  ex 3825 61 00  ex 3825 69 00   A1020
699    AC250  ex 3825 90 90  ex 3825 69 00   A1030
700    AC260  ex 3101 00 00  ex 3825 69 00   A1040
701    AC270  ex 3101 00 00  ex 3825 69 00   A1050

[702 rows x 4 columns]
702
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
698    AC250  ex 3825 61 00  ex 3825 69 00   A1020
699    AC250  ex 3825 90 90  ex 3825 69 00   A1030
700    AC260  ex 3101 00 00  ex 3825 69 00   A1040
701    AC270  ex 3101 00 00  ex 3825 69 00   A1050
702    AC270  ex 3825 20 00  ex 3825 69 00   A1070

[703 rows x 4 columns]
703
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
699    AC250  ex 3825 90 90  ex 3825 69 00   A1030
700    AC260  ex 3101 00 00  ex 3825 69 00   A1040
701    AC270  ex 3101 00 00  ex 3825 69 00   A1050
702    AC270  ex 3825 20 00  ex 3825 69 00   A1070
703    AD090  ex 3825 61 00  ex 3825 69 00   A1080

[704 rows x 4 columns]
704
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
700    AC260  ex 3101 00 00  ex 3825 69 00   A1040
701    AC270  ex 3101 00 00  ex 3825 69 00   A1050
702    AC270  ex 3825 20 00  ex 3825 69 00   A1070
703    AD090  ex 3825 61 00  ex 3825 69 00   A1080
704    AD090  ex 3825 69 00  ex 3825 69 00   A1090

[705 rows x 4 columns]
705
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
701    AC270  ex 3101 00 00  ex 3825 69 00   A1050
702    AC270  ex 3825 20 00  ex 3825 69 00   A1070
703    AD090  ex 3825 61 00  ex 3825 69 00   A1080
704    AD090  ex 3825 69 00  ex 3825 69 00   A1090
705    AD090  ex 3825 90 90  ex 3825 69 00   A1100

[706 rows x 4 columns]
706
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
702    AC270  ex 3825 20 00  ex 3825 69 00   A1070
703    AD090  ex 3825 61 00  ex 3825 69 00   A1080
704    AD090  ex 3825 69 00  ex 3825 69 00   A1090
705    AD090  ex 3825 90 90  ex 3825 69 00   A1100
706    AD090  ex 3915 90 80  ex 3825 69 00   A1110

[707 rows x 4 columns]
707
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
703    AD090  ex 3825 61 00  ex 3825 69 00   A1080
704    AD090  ex 3825 69 00  ex 3825 69 00   A1090
705    AD090  ex 3825 90 90  ex 3825 69 00   A1100
706    AD090  ex 3915 90 80  ex 3825 69 00   A1110
707    AD090  ex 3920 73 10  ex 3825 69 00   A1120

[708 rows x 4 columns]
708
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
704    AD090  ex 3825 69 00  ex 3825 69 00   A1090
705    AD090  ex 3825 90 90  ex 3825 69 00   A1100
706    AD090  ex 3915 90 80  ex 3825 69 00   A1110
707    AD090  ex 3920 73 10  ex 3825 69 00   A1120
708    AD090  ex 3920 73 80  ex 3825 69 00   A1130

[709 rows x 4 columns]
709
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
705    AD090  ex 3825 90 90  ex 3825 69 00   A1100
706    AD090  ex 3915 90 80  ex 3825 69 00   A1110
707    AD090  ex 3920 73 10  ex 3825 69 00   A1120
708    AD090  ex 3920 73 80  ex 3825 69 00   A1130
709    AD090  ex 3923 40 10  ex 3825 69 00   A1140

[710 rows x 4 columns]
710
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
706    AD090  ex 3915 90 80  ex 3825 69 00   A1110
707    AD090  ex 3920 73 10  ex 3825 69 00   A1120
708    AD090  ex 3920 73 80  ex 3825 69 00   A1130
709    AD090  ex 3923 40 10  ex 3825 69 00   A1140
710    AD100  ex 3825 50 00  ex 3825 69 00   A2020

[711 rows x 4 columns]
711
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
707    AD090  ex 3920 73 10  ex 3825 69 00   A1120
708    AD090  ex 3920 73 80  ex 3825 69 00   A1130
709    AD090  ex 3923 40 10  ex 3825 69 00   A1140
710    AD100  ex 3825 50 00  ex 3825 69 00   A2020
711    AD100  ex 3825 61 00  ex 3825 69 00   A2030

[712 rows x 4 columns]
712
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
708    AD090  ex 3920 73 80  ex 3825 69 00   A1130
709    AD090  ex 3923 40 10  ex 3825 69 00   A1140
710    AD100  ex 3825 50 00  ex 3825 69 00   A2020
711    AD100  ex 3825 61 00  ex 3825 69 00   A2030
712    AD100  ex 3825 69 00  ex 3825 69 00   A2040

[713 rows x 4 columns]
713
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
709    AD090  ex 3923 40 10  ex 3825 69 00   A1140
710    AD100  ex 3825 50 00  ex 3825 69 00   A2020
711    AD100  ex 3825 61 00  ex 3825 69 00   A2030
712    AD100  ex 3825 69 00  ex 3825 69 00   A2040
713    AD100  ex 3825 90 90  ex 3825 69 00   A2050

[714 rows x 4 columns]
714
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
710    AD100  ex 3825 50 00  ex 3825 69 00   A2020
711    AD100  ex 3825 61 00  ex 3825 69 00   A2030
712    AD100  ex 3825 69 00  ex 3825 69 00   A2040
713    AD100  ex 3825 90 90  ex 3825 69 00   A2050
714    AD120  ex 3824 90 15  ex 3825 69 00   A3090

[715 rows x 4 columns]
715
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
711    AD100  ex 3825 61 00  ex 3825 69 00   A2030
712    AD100  ex 3825 69 00  ex 3825 69 00   A2040
713    AD100  ex 3825 90 90  ex 3825 69 00   A2050
714    AD120  ex 3824 90 15  ex 3825 69 00   A3090
715    AD120  ex 3914 00 00  ex 3825 69 00   A3120

[716 rows x 4 columns]
716
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
712    AD100  ex 3825 69 00  ex 3825 69 00   A2040
713    AD100  ex 3825 90 90  ex 3825 69 00   A2050
714    AD120  ex 3824 90 15  ex 3825 69 00   A3090
715    AD120  ex 3914 00 00  ex 3825 69 00   A3120
716    AD120  ex 3915 10 00  ex 3825 69 00   A3180

[717 rows x 4 columns]
717
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
713    AD100  ex 3825 90 90  ex 3825 69 00   A2050
714    AD120  ex 3824 90 15  ex 3825 69 00   A3090
715    AD120  ex 3914 00 00  ex 3825 69 00   A3120
716    AD120  ex 3915 10 00  ex 3825 69 00   A3180
717    AD120  ex 3915 20 00  ex 3825 69 00   A4010

[718 rows x 4 columns]
718
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
714    AD120  ex 3824 90 15  ex 3825 69 00   A3090
715    AD120  ex 3914 00 00  ex 3825 69 00   A3120
716    AD120  ex 3915 10 00  ex 3825 69 00   A3180
717    AD120  ex 3915 20 00  ex 3825 69 00   A4010
718    AD120  ex 3915 30 00  ex 3825 69 00   A4030

[719 rows x 4 columns]
719
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
715    AD120  ex 3914 00 00  ex 3825 69 00   A3120
716    AD120  ex 3915 10 00  ex 3825 69 00   A3180
717    AD120  ex 3915 20 00  ex 3825 69 00   A4010
718    AD120  ex 3915 30 00  ex 3825 69 00   A4030
719    AD120  ex 3915 90 11  ex 3825 69 00   A4040

[720 rows x 4 columns]
720
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
716    AD120  ex 3915 10 00  ex 3825 69 00   A3180
717    AD120  ex 3915 20 00  ex 3825 69 00   A4010
718    AD120  ex 3915 30 00  ex 3825 69 00   A4030
719    AD120  ex 3915 90 11  ex 3825 69 00   A4040
720    AD120  ex 3915 90 80  ex 3825 69 00    A4050

[721 rows x 4 columns]
721
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
717    AD120  ex 3915 20 00  ex 3825 69 00   A4010
718    AD120  ex 3915 30 00  ex 3825 69 00   A4030
719    AD120  ex 3915 90 11  ex 3825 69 00   A4040
720    AD120  ex 3915 90 80  ex 3825 69 00    A4050
721    AD150  ex 3825 61 00  ex 3825 69 00   A4060

[722 rows x 4 columns]
722
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
718    AD120  ex 3915 30 00  ex 3825 69 00   A4030
719    AD120  ex 3915 90 11  ex 3825 69 00   A4040
720    AD120  ex 3915 90 80  ex 3825 69 00    A4050
721    AD150  ex 3825 61 00  ex 3825 69 00   A4060
722    AD150  ex 3825 90 90  ex 3825 69 00   A4070

[723 rows x 4 columns]
723
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
719    AD120  ex 3915 90 11  ex 3825 69 00   A4040
720    AD120  ex 3915 90 80  ex 3825 69 00    A4050
721    AD150  ex 3825 61 00  ex 3825 69 00   A4060
722    AD150  ex 3825 90 90  ex 3825 69 00   A4070
723    B1010  ex 3825 69 00  ex 3825 69 00   A4080

[724 rows x 4 columns]
724
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
720    AD120  ex 3915 90 80  ex 3825 69 00    A4050
721    AD150  ex 3825 61 00  ex 3825 69 00   A4060
722    AD150  ex 3825 90 90  ex 3825 69 00   A4070
723    B1010  ex 3825 69 00  ex 3825 69 00   A4080
724    B1010  ex 3825 90 90  ex 3825 69 00   A4090

[725 rows x 4 columns]
725
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
721    AD150  ex 3825 61 00  ex 3825 69 00   A4060
722    AD150  ex 3825 90 90  ex 3825 69 00   A4070
723    B1010  ex 3825 69 00  ex 3825 69 00   A4080
724    B1010  ex 3825 90 90  ex 3825 69 00   A4090
725    B1010  ex 7112 91 00  ex 3825 69 00   A4100

[726 rows x 4 columns]
726
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
722    AD150  ex 3825 90 90  ex 3825 69 00   A4070
723    B1010  ex 3825 69 00  ex 3825 69 00   A4080
724    B1010  ex 3825 90 90  ex 3825 69 00   A4090
725    B1010  ex 7112 91 00  ex 3825 69 00   A4100
726    B1010  ex 7112 92 00  ex 3825 69 00   AB030

[727 rows x 4 columns]
727
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
723    B1010  ex 3825 69 00  ex 3825 69 00   A4080
724    B1010  ex 3825 90 90  ex 3825 69 00   A4090
725    B1010  ex 7112 91 00  ex 3825 69 00   A4100
726    B1010  ex 7112 92 00  ex 3825 69 00   AB030
727    B1010  ex 7112 99 00  ex 3825 69 00   AB070

[728 rows x 4 columns]
728
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
724    B1010  ex 3825 90 90  ex 3825 69 00   A4090
725    B1010  ex 7112 91 00  ex 3825 69 00   A4100
726    B1010  ex 7112 92 00  ex 3825 69 00   AB030
727    B1010  ex 7112 99 00  ex 3825 69 00   AB070
728    B1010  ex 7204 10 00  ex 3825 69 00   AB120

[729 rows x 4 columns]
729
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
725    B1010  ex 7112 91 00  ex 3825 69 00   A4100
726    B1010  ex 7112 92 00  ex 3825 69 00   AB030
727    B1010  ex 7112 99 00  ex 3825 69 00   AB070
728    B1010  ex 7204 10 00  ex 3825 69 00   AB120
729    B1010  ex 7204 21 10  ex 3825 69 00   AB130

[730 rows x 4 columns]
730
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
726    B1010  ex 7112 92 00  ex 3825 69 00   AB030
727    B1010  ex 7112 99 00  ex 3825 69 00   AB070
728    B1010  ex 7204 10 00  ex 3825 69 00   AB120
729    B1010  ex 7204 21 10  ex 3825 69 00   AB130
730    B1010  ex 7204 21 90  ex 3825 69 00   AB150

[731 rows x 4 columns]
731
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
727    B1010  ex 7112 99 00  ex 3825 69 00   AB070
728    B1010  ex 7204 10 00  ex 3825 69 00   AB120
729    B1010  ex 7204 21 10  ex 3825 69 00   AB130
730    B1010  ex 7204 21 90  ex 3825 69 00   AB150
731    B1010  ex 7204 29 00  ex 3825 69 00   AD090

[732 rows x 4 columns]
732
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
728    B1010  ex 7204 10 00  ex 3825 69 00   AB120
729    B1010  ex 7204 21 10  ex 3825 69 00   AB130
730    B1010  ex 7204 21 90  ex 3825 69 00   AB150
731    B1010  ex 7204 29 00  ex 3825 69 00   AD090
732    B1010  ex 7204 30 00  ex 3825 69 00   AD100

[733 rows x 4 columns]
733
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
729    B1010  ex 7204 21 10  ex 3825 69 00   AB130
730    B1010  ex 7204 21 90  ex 3825 69 00   AB150
731    B1010  ex 7204 29 00  ex 3825 69 00   AD090
732    B1010  ex 7204 30 00  ex 3825 69 00   AD100
733    B1010  ex 7204 41 10  ex 3825 69 00   B1010

[734 rows x 4 columns]
734
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
730    B1010  ex 7204 21 90  ex 3825 69 00   AB150
731    B1010  ex 7204 29 00  ex 3825 69 00   AD090
732    B1010  ex 7204 30 00  ex 3825 69 00   AD100
733    B1010  ex 7204 41 10  ex 3825 69 00   B1010
734    B1010  ex 7204 41 91  ex 3825 69 00   B1020

[735 rows x 4 columns]
735
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
731    B1010  ex 7204 29 00  ex 3825 69 00   AD090
732    B1010  ex 7204 30 00  ex 3825 69 00   AD100
733    B1010  ex 7204 41 10  ex 3825 69 00   B1010
734    B1010  ex 7204 41 91  ex 3825 69 00   B1020
735    B1010  ex 7204 41 99  ex 3825 69 00   B1050

[736 rows x 4 columns]
736
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
732    B1010  ex 7204 30 00  ex 3825 69 00   AD100
733    B1010  ex 7204 41 10  ex 3825 69 00   B1010
734    B1010  ex 7204 41 91  ex 3825 69 00   B1020
735    B1010  ex 7204 41 99  ex 3825 69 00   B1050
736    B1010  ex 7204 49 10  ex 3825 69 00   B1060

[737 rows x 4 columns]
737
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
733    B1010  ex 7204 41 10  ex 3825 69 00   B1010
734    B1010  ex 7204 41 91  ex 3825 69 00   B1020
735    B1010  ex 7204 41 99  ex 3825 69 00   B1050
736    B1010  ex 7204 49 10  ex 3825 69 00   B1060
737    B1010  ex 7204 49 30  ex 3825 69 00   B1070

[738 rows x 4 columns]
738
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
734    B1010  ex 7204 41 91  ex 3825 69 00   B1020
735    B1010  ex 7204 41 99  ex 3825 69 00   B1050
736    B1010  ex 7204 49 10  ex 3825 69 00   B1060
737    B1010  ex 7204 49 30  ex 3825 69 00   B1070
738    B1010  ex 7204 49 90  ex 3825 69 00   B1100

[739 rows x 4 columns]
739
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
735    B1010  ex 7204 41 99  ex 3825 69 00   B1050
736    B1010  ex 7204 49 10  ex 3825 69 00   B1060
737    B1010  ex 7204 49 30  ex 3825 69 00   B1070
738    B1010  ex 7204 49 90  ex 3825 69 00   B1100
739    B1010  ex 7204 50 00  ex 3825 69 00   B1120

[740 rows x 4 columns]
740
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
736    B1010  ex 7204 49 10  ex 3825 69 00   B1060
737    B1010  ex 7204 49 30  ex 3825 69 00   B1070
738    B1010  ex 7204 49 90  ex 3825 69 00   B1100
739    B1010  ex 7204 50 00  ex 3825 69 00   B1120
740    B1010  ex 7404 00 10  ex 3825 69 00   B1130

[741 rows x 4 columns]
741
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
737    B1010  ex 7204 49 30  ex 3825 69 00   B1070
738    B1010  ex 7204 49 90  ex 3825 69 00   B1100
739    B1010  ex 7204 50 00  ex 3825 69 00   B1120
740    B1010  ex 7404 00 10  ex 3825 69 00   B1130
741    B1010  ex 7404 00 91  ex 3825 69 00   B2010

[742 rows x 4 columns]
742
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
738    B1010  ex 7204 49 90  ex 3825 69 00   B1100
739    B1010  ex 7204 50 00  ex 3825 69 00   B1120
740    B1010  ex 7404 00 10  ex 3825 69 00   B1130
741    B1010  ex 7404 00 91  ex 3825 69 00   B2010
742    B1010  ex 7404 00 99  ex 3825 69 00   B2040

[743 rows x 4 columns]
743
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
739    B1010  ex 7204 50 00  ex 3825 69 00   B1120
740    B1010  ex 7404 00 10  ex 3825 69 00   B1130
741    B1010  ex 7404 00 91  ex 3825 69 00   B2010
742    B1010  ex 7404 00 99  ex 3825 69 00   B2040
743    B1010  ex 7503 00 10  ex 3825 69 00   B2060

[744 rows x 4 columns]
744
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
740    B1010  ex 7404 00 10  ex 3825 69 00   B1130
741    B1010  ex 7404 00 91  ex 3825 69 00   B2010
742    B1010  ex 7404 00 99  ex 3825 69 00   B2040
743    B1010  ex 7503 00 10  ex 3825 69 00   B2060
744    B1010  ex 7503 00 90  ex 3825 69 00   B2070

[745 rows x 4 columns]
745
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
741    B1010  ex 7404 00 91  ex 3825 69 00   B2010
742    B1010  ex 7404 00 99  ex 3825 69 00   B2040
743    B1010  ex 7503 00 10  ex 3825 69 00   B2060
744    B1010  ex 7503 00 90  ex 3825 69 00   B2070
745    B1010  ex 7602 00 11  ex 3825 69 00   B2080

[746 rows x 4 columns]
746
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
742    B1010  ex 7404 00 99  ex 3825 69 00   B2040
743    B1010  ex 7503 00 10  ex 3825 69 00   B2060
744    B1010  ex 7503 00 90  ex 3825 69 00   B2070
745    B1010  ex 7602 00 11  ex 3825 69 00   B2080
746    B1010  ex 7602 00 19  ex 3825 69 00   B2090

[747 rows x 4 columns]
747
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
743    B1010  ex 7503 00 10  ex 3825 69 00   B2060
744    B1010  ex 7503 00 90  ex 3825 69 00   B2070
745    B1010  ex 7602 00 11  ex 3825 69 00   B2080
746    B1010  ex 7602 00 19  ex 3825 69 00   B2090
747    B1010  ex 7602 00 90  ex 3825 69 00   B2100

[748 rows x 4 columns]
748
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
744    B1010  ex 7503 00 90  ex 3825 69 00   B2070
745    B1010  ex 7602 00 11  ex 3825 69 00   B2080
746    B1010  ex 7602 00 19  ex 3825 69 00   B2090
747    B1010  ex 7602 00 90  ex 3825 69 00   B2100
748    B1010  ex 7902 00 00  ex 3825 69 00   B2110

[749 rows x 4 columns]
749
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
745    B1010  ex 7602 00 11  ex 3825 69 00   B2080
746    B1010  ex 7602 00 19  ex 3825 69 00   B2090
747    B1010  ex 7602 00 90  ex 3825 69 00   B2100
748    B1010  ex 7902 00 00  ex 3825 69 00   B2110
749    B1010  ex 8002 00 00  ex 3825 69 00   B2120

[750 rows x 4 columns]
750
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
746    B1010  ex 7602 00 19  ex 3825 69 00   B2090
747    B1010  ex 7602 00 90  ex 3825 69 00   B2100
748    B1010  ex 7902 00 00  ex 3825 69 00   B2110
749    B1010  ex 8002 00 00  ex 3825 69 00   B2120
750    B1010  ex 8101 97 00  ex 3825 69 00    B3100

[751 rows x 4 columns]
751
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
747    B1010  ex 7602 00 90  ex 3825 69 00   B2100
748    B1010  ex 7902 00 00  ex 3825 69 00   B2110
749    B1010  ex 8002 00 00  ex 3825 69 00   B2120
750    B1010  ex 8101 97 00  ex 3825 69 00    B3100
751    B1010  ex 8102 97 00  ex 3825 69 00   B3130

[752 rows x 4 columns]
752
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
748    B1010  ex 7902 00 00  ex 3825 69 00   B2110
749    B1010  ex 8002 00 00  ex 3825 69 00   B2120
750    B1010  ex 8101 97 00  ex 3825 69 00    B3100
751    B1010  ex 8102 97 00  ex 3825 69 00   B3130
752    B1010  ex 8103 30 00  ex 3825 69 00   B4010

[753 rows x 4 columns]
753
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
749    B1010  ex 8002 00 00  ex 3825 69 00   B2120
750    B1010  ex 8101 97 00  ex 3825 69 00    B3100
751    B1010  ex 8102 97 00  ex 3825 69 00   B3130
752    B1010  ex 8103 30 00  ex 3825 69 00   B4010
753    B1010  ex 8104 20 00  ex 3825 69 00   B4020

[754 rows x 4 columns]
754
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
750    B1010  ex 8101 97 00  ex 3825 69 00    B3100
751    B1010  ex 8102 97 00  ex 3825 69 00   B3130
752    B1010  ex 8103 30 00  ex 3825 69 00   B4010
753    B1010  ex 8104 20 00  ex 3825 69 00   B4020
754    B1010  ex 8105 30 00  ex 3825 69 00   GC050

[755 rows x 4 columns]
755
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
751    B1010  ex 8102 97 00  ex 3825 69 00   B3130
752    B1010  ex 8103 30 00  ex 3825 69 00   B4010
753    B1010  ex 8104 20 00  ex 3825 69 00   B4020
754    B1010  ex 8105 30 00  ex 3825 69 00   GC050
755    B1010  ex 8106 00 10  ex 3825 90 90    A1010

[756 rows x 4 columns]
756
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
752    B1010  ex 8103 30 00  ex 3825 69 00   B4010
753    B1010  ex 8104 20 00  ex 3825 69 00   B4020
754    B1010  ex 8105 30 00  ex 3825 69 00   GC050
755    B1010  ex 8106 00 10  ex 3825 90 90    A1010
756    B1010  ex 8108 30 00  ex 3825 90 90   A1020

[757 rows x 4 columns]
757
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
753    B1010  ex 8104 20 00  ex 3825 69 00   B4020
754    B1010  ex 8105 30 00  ex 3825 69 00   GC050
755    B1010  ex 8106 00 10  ex 3825 90 90    A1010
756    B1010  ex 8108 30 00  ex 3825 90 90   A1020
757    B1010  ex 8109 30 00  ex 3825 90 90   A1030

[758 rows x 4 columns]
758
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
754    B1010  ex 8105 30 00  ex 3825 69 00   GC050
755    B1010  ex 8106 00 10  ex 3825 90 90    A1010
756    B1010  ex 8108 30 00  ex 3825 90 90   A1020
757    B1010  ex 8109 30 00  ex 3825 90 90   A1030
758    B1010  ex 8111 00 19  ex 3825 90 90   A1040

[759 rows x 4 columns]
759
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
755    B1010  ex 8106 00 10  ex 3825 90 90    A1010
756    B1010  ex 8108 30 00  ex 3825 90 90   A1020
757    B1010  ex 8109 30 00  ex 3825 90 90   A1030
758    B1010  ex 8111 00 19  ex 3825 90 90   A1040
759    B1010  ex 8112 22 00  ex 3825 90 90   A1050

[760 rows x 4 columns]
760
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
756    B1010  ex 8108 30 00  ex 3825 90 90   A1020
757    B1010  ex 8109 30 00  ex 3825 90 90   A1030
758    B1010  ex 8111 00 19  ex 3825 90 90   A1040
759    B1010  ex 8112 22 00  ex 3825 90 90   A1050
760    B1010  ex 8112 92 10  ex 3825 90 90   A1070

[761 rows x 4 columns]
761
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
757    B1010  ex 8109 30 00  ex 3825 90 90   A1030
758    B1010  ex 8111 00 19  ex 3825 90 90   A1040
759    B1010  ex 8112 22 00  ex 3825 90 90   A1050
760    B1010  ex 8112 92 10  ex 3825 90 90   A1070
761    B1010  ex 8112 92 21  ex 3825 90 90   A1080

[762 rows x 4 columns]
762
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
758    B1010  ex 8111 00 19  ex 3825 90 90   A1040
759    B1010  ex 8112 22 00  ex 3825 90 90   A1050
760    B1010  ex 8112 92 10  ex 3825 90 90   A1070
761    B1010  ex 8112 92 21  ex 3825 90 90   A1080
762    B1020  ex 3825 69 00  ex 3825 90 90   A1090

[763 rows x 4 columns]
763

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
759    B1010  ex 8112 22 00  ex 3825 90 90   A1050
760    B1010  ex 8112 92 10  ex 3825 90 90   A1070
761    B1010  ex 8112 92 21  ex 3825 90 90   A1080
762    B1020  ex 3825 69 00  ex 3825 90 90   A1090
763    B1020  ex 3825 90 90  ex 3825 90 90   A1100

[764 rows x 4 columns]
764
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
760    B1010  ex 8112 92 10  ex 3825 90 90   A1070
761    B1010  ex 8112 92 21  ex 3825 90 90   A1080
762    B1020  ex 3825 69 00  ex 3825 90 90   A1090
763    B1020  ex 3825 90 90  ex 3825 90 90   A1100
764    B1020          ex 78  ex 3825 90 90   A1110

[765 rows x 4 columns]
765
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
761    B1010  ex 8112 92 21  ex 3825 90 90   A1080
762    B1020  ex 3825 69 00  ex 3825 90 90   A1090
763    B1020  ex 3825 90 90  ex 3825 90 90   A1100
764    B1020          ex 78  ex 3825 90 90   A1110
765    B1020  ex 8107 20 00  ex 3825 90 90   A1120

[766 rows x 4 columns]
766
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
762    B1020  ex 3825 69 00  ex 3825 90 90   A1090
763    B1020  ex 3825 90 90  ex 3825 90 90   A1100
764    B1020          ex 78  ex 3825 90 90   A1110
765    B1020  ex 8107 20 00  ex 3825 90 90   A1120
766    B1020  ex 8107 30 00  ex 3825 90 90   A1130

[767 rows x 4 columns]
767
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
763    B1020  ex 3825 90 90  ex 3825 90 90   A1100
764    B1020          ex 78  ex 3825 90 90   A1110
765    B1020  ex 8107 20 00  ex 3825 90 90   A1120
766    B1020  ex 8107 30 00  ex 3825 90 90   A1130
767    B1020  ex 8107 90 00  ex 3825 90 90   A1140

[768 rows x 4 columns]
768
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
764    B1020          ex 78  ex 3825 90 90   A1110
765    B1020  ex 8107 20 00  ex 3825 90 90   A1120
766    B1020  ex 8107 30 00  ex 3825 90 90   A1130
767    B1020  ex 8107 90 00  ex 3825 90 90   A1140
768    B1020  ex 8110 10 00  ex 3825 90 90   A2020

[769 rows x 4 columns]
769
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
765    B1020  ex 8107 20 00  ex 3825 90 90   A1120
766    B1020  ex 8107 30 00  ex 3825 90 90   A1130
767    B1020  ex 8107 90 00  ex 3825 90 90   A1140
768    B1020  ex 8110 10 00  ex 3825 90 90   A2020
769    B1020  ex 8110 20 00  ex 3825 90 90   A2030

[770 rows x 4 columns]
770
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
766    B1020  ex 8107 30 00  ex 3825 90 90   A1130
767    B1020  ex 8107 90 00  ex 3825 90 90   A1140
768    B1020  ex 8110 10 00  ex 3825 90 90   A2020
769    B1020  ex 8110 20 00  ex 3825 90 90   A2030
770    B1020  ex 8110 90 00  ex 3825 90 90   A2050

[771 rows x 4 columns]
771
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
767    B1020  ex 8107 90 00  ex 3825 90 90   A1140
768    B1020  ex 8110 10 00  ex 3825 90 90   A2020
769    B1020  ex 8110 20 00  ex 3825 90 90   A2030
770    B1020  ex 8110 90 00  ex 3825 90 90   A2050
771    B1020  ex 8112 12 00  ex 3825 90 90   A3030

[772 rows x 4 columns]
772
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
768    B1020  ex 8110 10 00  ex 3825 90 90   A2020
769    B1020  ex 8110 20 00  ex 3825 90 90   A2030
770    B1020  ex 8110 90 00  ex 3825 90 90   A2050
771    B1020  ex 8112 12 00  ex 3825 90 90   A3030
772    B1020  ex 8112 13 00  ex 3825 90 90   A3040

[773 rows x 4 columns]
773
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
769    B1020  ex 8110 20 00  ex 3825 90 90   A2030
770    B1020  ex 8110 90 00  ex 3825 90 90   A2050
771    B1020  ex 8112 12 00  ex 3825 90 90   A3030
772    B1020  ex 8112 13 00  ex 3825 90 90   A3040
773    B1020  ex 8112 19 00  ex 3825 90 90   A3050

[774 rows x 4 columns]
774
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
770    B1020  ex 8110 90 00  ex 3825 90 90   A2050
771    B1020  ex 8112 12 00  ex 3825 90 90   A3030
772    B1020  ex 8112 13 00  ex 3825 90 90   A3040
773    B1020  ex 8112 19 00  ex 3825 90 90   A3050
774    B1030  ex 2620 91 00  ex 3825 90 90   A3070

[775 rows x 4 columns]
775
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
771    B1020  ex 8112 12 00  ex 3825 90 90   A3030
772    B1020  ex 8112 13 00  ex 3825 90 90   A3040
773    B1020  ex 8112 19 00  ex 3825 90 90   A3050
774    B1030  ex 2620 91 00  ex 3825 90 90   A3070
775    B1030  ex 2620 99 20  ex 3825 90 90   A3080

[776 rows x 4 columns]
776
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
772    B1020  ex 8112 13 00  ex 3825 90 90   A3040
773    B1020  ex 8112 19 00  ex 3825 90 90   A3050
774    B1030  ex 2620 91 00  ex 3825 90 90   A3070
775    B1030  ex 2620 99 20  ex 3825 90 90   A3080
776    B1030  ex 2620 99 60  ex 3825 90 90   A3090

[777 rows x 4 columns]
777
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
773    B1020  ex 8112 19 00  ex 3825 90 90   A3050
774    B1030  ex 2620 91 00  ex 3825 90 90   A3070
775    B1030  ex 2620 99 20  ex 3825 90 90   A3080
776    B1030  ex 2620 99 60  ex 3825 90 90   A3090
777    B1030  ex 2620 99 95  ex 3825 90 90   A3120

[778 rows x 4 columns]
778
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
774    B1030  ex 2620 91 00  ex 3825 90 90   A3070
775    B1030  ex 2620 99 20  ex 3825 90 90   A3080
776    B1030  ex 2620 99 60  ex 3825 90 90   A3090
777    B1030  ex 2620 99 95  ex 3825 90 90   A3120
778    B1030  ex 7112 91 00  ex 3825 90 90   A3130

[779 rows x 4 columns]
779
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
775    B1030  ex 2620 99 20  ex 3825 90 90   A3080
776    B1030  ex 2620 99 60  ex 3825 90 90   A3090
777    B1030  ex 2620 99 95  ex 3825 90 90   A3120
778    B1030  ex 7112 91 00  ex 3825 90 90   A3130
779    B1030  ex 7112 92 00  ex 3825 90 90   A3160

[780 rows x 4 columns]
780
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
776    B1030  ex 2620 99 60  ex 3825 90 90   A3090
777    B1030  ex 2620 99 95  ex 3825 90 90   A3120
778    B1030  ex 7112 91 00  ex 3825 90 90   A3130
779    B1030  ex 7112 92 00  ex 3825 90 90   A3160
780    B1030  ex 7112 99 00  ex 3825 90 90    A3180

[781 rows x 4 columns]
781
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
777    B1030  ex 2620 99 95  ex 3825 90 90   A3120
778    B1030  ex 7112 91 00  ex 3825 90 90   A3130
779    B1030  ex 7112 92 00  ex 3825 90 90   A3160
780    B1030  ex 7112 99 00  ex 3825 90 90    A3180
781    B1030  ex 7204 49 90  ex 3825 90 90   A3190

[782 rows x 4 columns]
782
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
778    B1030  ex 7112 91 00  ex 3825 90 90   A3130
779    B1030  ex 7112 92 00  ex 3825 90 90   A3160
780    B1030  ex 7112 99 00  ex 3825 90 90    A3180
781    B1030  ex 7204 49 90  ex 3825 90 90   A3190
782    B1030  ex 8101 97 00  ex 3825 90 90   A3200

[783 rows x 4 columns]
783
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
779    B1030  ex 7112 92 00  ex 3825 90 90   A3160
780    B1030  ex 7112 99 00  ex 3825 90 90    A3180
781    B1030  ex 7204 49 90  ex 3825 90 90   A3190
782    B1030  ex 8101 97 00  ex 3825 90 90   A3200
783    B1030  ex 8102 97 00  ex 3825 90 90   A4010

[784 rows x 4 columns]
784
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
780    B1030  ex 7112 99 00  ex 3825 90 90    A3180
781    B1030  ex 7204 49 90  ex 3825 90 90   A3190
782    B1030  ex 8101 97 00  ex 3825 90 90   A3200
783    B1030  ex 8102 97 00  ex 3825 90 90   A4010
784    B1030  ex 8103 30 00  ex 3825 90 90   A4030

[785 rows x 4 columns]
785
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
781    B1030  ex 7204 49 90  ex 3825 90 90   A3190
782    B1030  ex 8101 97 00  ex 3825 90 90   A3200
783    B1030  ex 8102 97 00  ex 3825 90 90   A4010
784    B1030  ex 8103 30 00  ex 3825 90 90   A4030
785    B1030  ex 8108 30 00  ex 3825 90 90   A4040

[786 rows x 4 columns]
786
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
782    B1030  ex 8101 97 00  ex 3825 90 90   A3200
783    B1030  ex 8102 97 00  ex 3825 90 90   A4010
784    B1030  ex 8103 30 00  ex 3825 90 90   A4030
785    B1030  ex 8108 30 00  ex 3825 90 90   A4040
786    B1030  ex 8109 30 00  ex 3825 90 90   A4050

[787 rows x 4 columns]
787
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
783    B1030  ex 8102 97 00  ex 3825 90 90   A4010
784    B1030  ex 8103 30 00  ex 3825 90 90   A4030
785    B1030  ex 8108 30 00  ex 3825 90 90   A4040
786    B1030  ex 8109 30 00  ex 3825 90 90   A4050
787    B1030  ex 8112 22 00  ex 3825 90 90   A4060

[788 rows x 4 columns]
788
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
784    B1030  ex 8103 30 00  ex 3825 90 90   A4030
785    B1030  ex 8108 30 00  ex 3825 90 90   A4040
786    B1030  ex 8109 30 00  ex 3825 90 90   A4050
787    B1030  ex 8112 22 00  ex 3825 90 90   A4060
788    B1030  ex 8112 92 10  ex 3825 90 90   A4070

[789 rows x 4 columns]
789
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
785    B1030  ex 8108 30 00  ex 3825 90 90   A4040
786    B1030  ex 8109 30 00  ex 3825 90 90   A4050
787    B1030  ex 8112 22 00  ex 3825 90 90   A4060
788    B1030  ex 8112 92 10  ex 3825 90 90   A4070
789    B1030  ex 8112 92 21  ex 3825 90 90   A4080

[790 rows x 4 columns]
790
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
786    B1030  ex 8109 30 00  ex 3825 90 90   A4050
787    B1030  ex 8112 22 00  ex 3825 90 90   A4060
788    B1030  ex 8112 92 10  ex 3825 90 90   A4070
789    B1030  ex 8112 92 21  ex 3825 90 90   A4080
790    B1031  ex 2620 60 00  ex 3825 90 90   A4090

[791 rows x 4 columns]
791
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
787    B1030  ex 8112 22 00  ex 3825 90 90   A4060
788    B1030  ex 8112 92 10  ex 3825 90 90   A4070
789    B1030  ex 8112 92 21  ex 3825 90 90   A4080
790    B1031  ex 2620 60 00  ex 3825 90 90   A4090
791    B1031  ex 2620 91 00  ex 3825 90 90   A4100

[792 rows x 4 columns]
792
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
788    B1030  ex 8112 92 10  ex 3825 90 90   A4070
789    B1030  ex 8112 92 21  ex 3825 90 90   A4080
790    B1031  ex 2620 60 00  ex 3825 90 90   A4090
791    B1031  ex 2620 91 00  ex 3825 90 90   A4100
792    B1031  ex 2620 99 20  ex 3825 90 90   A4110

[793 rows x 4 columns]
793
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
789    B1030  ex 8112 92 21  ex 3825 90 90   A4080
790    B1031  ex 2620 60 00  ex 3825 90 90   A4090
791    B1031  ex 2620 91 00  ex 3825 90 90   A4100
792    B1031  ex 2620 99 20  ex 3825 90 90   A4110
793    B1031  ex 2620 99 60  ex 3825 90 90   A4120

[794 rows x 4 columns]
794
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
790    B1031  ex 2620 60 00  ex 3825 90 90   A4090
791    B1031  ex 2620 91 00  ex 3825 90 90   A4100
792    B1031  ex 2620 99 20  ex 3825 90 90   A4110
793    B1031  ex 2620 99 60  ex 3825 90 90   A4120
794    B1031  ex 2620 99 95  ex 3825 90 90   A4130

[795 rows x 4 columns]
795
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
791    B1031  ex 2620 91 00  ex 3825 90 90   A4100
792    B1031  ex 2620 99 20  ex 3825 90 90   A4110
793    B1031  ex 2620 99 60  ex 3825 90 90   A4120
794    B1031  ex 2620 99 95  ex 3825 90 90   A4130
795    B1031  ex 2621 90 00  ex 3825 90 90   A4140

[796 rows x 4 columns]
796
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
792    B1031  ex 2620 99 20  ex 3825 90 90   A4110
793    B1031  ex 2620 99 60  ex 3825 90 90   A4120
794    B1031  ex 2620 99 95  ex 3825 90 90   A4130
795    B1031  ex 2621 90 00  ex 3825 90 90   A4140
796    B1031  ex 7106 10 00  ex 3825 90 90   A4150

[797 rows x 4 columns]
797
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
793    B1031  ex 2620 99 60  ex 3825 90 90   A4120
794    B1031  ex 2620 99 95  ex 3825 90 90   A4130
795    B1031  ex 2621 90 00  ex 3825 90 90   A4140
796    B1031  ex 7106 10 00  ex 3825 90 90   A4150
797    B1031  ex 7107 00 00  ex 3825 90 90   A4160

[798 rows x 4 columns]
798
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
794    B1031  ex 2620 99 95  ex 3825 90 90   A4130
795    B1031  ex 2621 90 00  ex 3825 90 90   A4140
796    B1031  ex 7106 10 00  ex 3825 90 90   A4150
797    B1031  ex 7107 00 00  ex 3825 90 90   A4160
798    B1031  ex 7108 11 00  ex 3825 90 90   AB030

[799 rows x 4 columns]
799
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
795    B1031  ex 2621 90 00  ex 3825 90 90   A4140
796    B1031  ex 7106 10 00  ex 3825 90 90   A4150
797    B1031  ex 7107 00 00  ex 3825 90 90   A4160
798    B1031  ex 7108 11 00  ex 3825 90 90   AB030
799    B1031  ex 7109 00 00  ex 3825 90 90   AB070

[800 rows x 4 columns]
800
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
796    B1031  ex 7106 10 00  ex 3825 90 90   A4150
797    B1031  ex 7107 00 00  ex 3825 90 90   A4160
798    B1031  ex 7108 11 00  ex 3825 90 90   AB030
799    B1031  ex 7109 00 00  ex 3825 90 90   AB070
800    B1031  ex 7110 11 00  ex 3825 90 90   AB120

[801 rows x 4 columns]
801
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
797    B1031  ex 7107 00 00  ex 3825 90 90   A4160
798    B1031  ex 7108 11 00  ex 3825 90 90   AB030
799    B1031  ex 7109 00 00  ex 3825 90 90   AB070
800    B1031  ex 7110 11 00  ex 3825 90 90   AB120
801    B1031  ex 7110 21 00  ex 3825 90 90   AB130

[802 rows x 4 columns]
802
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
798    B1031  ex 7108 11 00  ex 3825 90 90   AB030
799    B1031  ex 7109 00 00  ex 3825 90 90   AB070
800    B1031  ex 7110 11 00  ex 3825 90 90   AB120
801    B1031  ex 7110 21 00  ex 3825 90 90   AB130
802    B1031  ex 7110 31 00  ex 3825 90 90   AB150

[803 rows x 4 columns]
803
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
799    B1031  ex 7109 00 00  ex 3825 90 90   AB070
800    B1031  ex 7110 11 00  ex 3825 90 90   AB120
801    B1031  ex 7110 21 00  ex 3825 90 90   AB130
802    B1031  ex 7110 31 00  ex 3825 90 90   AB150
803    B1031  ex 7110 41 00  ex 3825 90 90   AC150

[804 rows x 4 columns]
804
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
800    B1031  ex 7110 11 00  ex 3825 90 90   AB120
801    B1031  ex 7110 21 00  ex 3825 90 90   AB130
802    B1031  ex 7110 31 00  ex 3825 90 90   AB150
803    B1031  ex 7110 41 00  ex 3825 90 90   AC150
804    B1031  ex 7111 00 00  ex 3825 90 90   AC160

[805 rows x 4 columns]
805
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
801    B1031  ex 7110 21 00  ex 3825 90 90   AB130
802    B1031  ex 7110 31 00  ex 3825 90 90   AB150
803    B1031  ex 7110 41 00  ex 3825 90 90   AC150
804    B1031  ex 7111 00 00  ex 3825 90 90   AC160
805    B1031  ex 7112 30 00  ex 3825 90 90   AC170

[806 rows x 4 columns]
806
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
802    B1031  ex 7110 31 00  ex 3825 90 90   AB150
803    B1031  ex 7110 41 00  ex 3825 90 90   AC150
804    B1031  ex 7111 00 00  ex 3825 90 90   AC160
805    B1031  ex 7112 30 00  ex 3825 90 90   AC170
806    B1031  ex 7112 91 00  ex 3825 90 90   AC250

[807 rows x 4 columns]
807
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
803    B1031  ex 7110 41 00  ex 3825 90 90   AC150
804    B1031  ex 7111 00 00  ex 3825 90 90   AC160
805    B1031  ex 7112 30 00  ex 3825 90 90   AC170
806    B1031  ex 7112 91 00  ex 3825 90 90   AC250
807    B1031  ex 7112 92 00  ex 3825 90 90   AD090

[808 rows x 4 columns]
808
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
804    B1031  ex 7111 00 00  ex 3825 90 90   AC160
805    B1031  ex 7112 30 00  ex 3825 90 90   AC170
806    B1031  ex 7112 91 00  ex 3825 90 90   AC250
807    B1031  ex 7112 92 00  ex 3825 90 90   AD090
808    B1031  ex 7112 99 00  ex 3825 90 90   AD100

[809 rows x 4 columns]
809
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
805    B1031  ex 7112 30 00  ex 3825 90 90   AC170
806    B1031  ex 7112 91 00  ex 3825 90 90   AC250
807    B1031  ex 7112 92 00  ex 3825 90 90   AD090
808    B1031  ex 7112 99 00  ex 3825 90 90   AD100
809    B1031  ex 8101 10 00  ex 3825 90 90   AD150

[810 rows x 4 columns]
810
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
806    B1031  ex 7112 91 00  ex 3825 90 90   AC250
807    B1031  ex 7112 92 00  ex 3825 90 90   AD090
808    B1031  ex 7112 99 00  ex 3825 90 90   AD100
809    B1031  ex 8101 10 00  ex 3825 90 90   AD150
810    B1031  ex 8101 97 00  ex 3825 90 90    B1010

[811 rows x 4 columns]
811
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
807    B1031  ex 7112 92 00  ex 3825 90 90   AD090
808    B1031  ex 7112 99 00  ex 3825 90 90   AD100
809    B1031  ex 8101 10 00  ex 3825 90 90   AD150
810    B1031  ex 8101 97 00  ex 3825 90 90    B1010
811    B1031  ex 8101 99 90  ex 3825 90 90   B1020

[812 rows x 4 columns]
812
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
808    B1031  ex 7112 99 00  ex 3825 90 90   AD100
809    B1031  ex 8101 10 00  ex 3825 90 90   AD150
810    B1031  ex 8101 97 00  ex 3825 90 90    B1010
811    B1031  ex 8101 99 90  ex 3825 90 90   B1020
812    B1031  ex 8102 10 00  ex 3825 90 90   B1050

[813 rows x 4 columns]
813
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
809    B1031  ex 8101 10 00  ex 3825 90 90   AD150
810    B1031  ex 8101 97 00  ex 3825 90 90    B1010
811    B1031  ex 8101 99 90  ex 3825 90 90   B1020
812    B1031  ex 8102 10 00  ex 3825 90 90   B1050
813    B1031  ex 8102 97 00  ex 3825 90 90   B1060

[814 rows x 4 columns]
814
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
810    B1031  ex 8101 97 00  ex 3825 90 90    B1010
811    B1031  ex 8101 99 90  ex 3825 90 90   B1020
812    B1031  ex 8102 10 00  ex 3825 90 90   B1050
813    B1031  ex 8102 97 00  ex 3825 90 90   B1060
814    B1031  ex 8102 99 00  ex 3825 90 90   B1070

[815 rows x 4 columns]
815
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
811    B1031  ex 8101 99 90  ex 3825 90 90   B1020
812    B1031  ex 8102 10 00  ex 3825 90 90   B1050
813    B1031  ex 8102 97 00  ex 3825 90 90   B1060
814    B1031  ex 8102 99 00  ex 3825 90 90   B1070
815    B1031  ex 8103 20 00  ex 3825 90 90   B1100

[816 rows x 4 columns]
816

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
812    B1031  ex 8102 10 00  ex 3825 90 90   B1050
813    B1031  ex 8102 97 00  ex 3825 90 90   B1060
814    B1031  ex 8102 99 00  ex 3825 90 90   B1070
815    B1031  ex 8103 20 00  ex 3825 90 90   B1100
816    B1031  ex 8103 30 00  ex 3825 90 90   B1120

[817 rows x 4 columns]
817
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
813    B1031  ex 8102 97 00  ex 3825 90 90   B1060
814    B1031  ex 8102 99 00  ex 3825 90 90   B1070
815    B1031  ex 8103 20 00  ex 3825 90 90   B1100
816    B1031  ex 8103 30 00  ex 3825 90 90   B1120
817    B1031  ex 8103 90 90  ex 3825 90 90   B1130

[818 rows x 4 columns]
818
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
814    B1031  ex 8102 99 00  ex 3825 90 90   B1070
815    B1031  ex 8103 20 00  ex 3825 90 90   B1100
816    B1031  ex 8103 30 00  ex 3825 90 90   B1120
817    B1031  ex 8103 90 90  ex 3825 90 90   B1130
818    B1031  ex 8108 20 00  ex 3825 90 90   B2010

[819 rows x 4 columns]
819
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
815    B1031  ex 8103 20 00  ex 3825 90 90   B1100
816    B1031  ex 8103 30 00  ex 3825 90 90   B1120
817    B1031  ex 8103 90 90  ex 3825 90 90   B1130
818    B1031  ex 8108 20 00  ex 3825 90 90   B2010
819    B1031  ex 8108 30 00  ex 3825 90 90   B2040

[820 rows x 4 columns]
820
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
816    B1031  ex 8103 30 00  ex 3825 90 90   B1120
817    B1031  ex 8103 90 90  ex 3825 90 90   B1130
818    B1031  ex 8108 20 00  ex 3825 90 90   B2010
819    B1031  ex 8108 30 00  ex 3825 90 90   B2040
820    B1031  ex 8108 90 90  ex 3825 90 90   B2060

[821 rows x 4 columns]
821
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
817    B1031  ex 8103 90 90  ex 3825 90 90   B1130
818    B1031  ex 8108 20 00  ex 3825 90 90   B2010
819    B1031  ex 8108 30 00  ex 3825 90 90   B2040
820    B1031  ex 8108 90 90  ex 3825 90 90   B2060
821    B1031  ex 8112 92 21  ex 3825 90 90   B2070

[822 rows x 4 columns]
822
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
818    B1031  ex 8108 20 00  ex 3825 90 90   B2010
819    B1031  ex 8108 30 00  ex 3825 90 90   B2040
820    B1031  ex 8108 90 90  ex 3825 90 90   B2060
821    B1031  ex 8112 92 21  ex 3825 90 90   B2070
822    B1031  ex 8112 92 31  ex 3825 90 90   B2110

[823 rows x 4 columns]
823
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
819    B1031  ex 8108 30 00  ex 3825 90 90   B2040
820    B1031  ex 8108 90 90  ex 3825 90 90   B2060
821    B1031  ex 8112 92 21  ex 3825 90 90   B2070
822    B1031  ex 8112 92 31  ex 3825 90 90   B2110
823    B1040  ex 7204 10 00  ex 3825 90 90   B2120

[824 rows x 4 columns]
824
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
820    B1031  ex 8108 90 90  ex 3825 90 90   B2060
821    B1031  ex 8112 92 21  ex 3825 90 90   B2070
822    B1031  ex 8112 92 31  ex 3825 90 90   B2110
823    B1040  ex 7204 10 00  ex 3825 90 90   B2120
824    B1040  ex 7204 21 10  ex 3825 90 90   B2130

[825 rows x 4 columns]
825
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
821    B1031  ex 8112 92 21  ex 3825 90 90   B2070
822    B1031  ex 8112 92 31  ex 3825 90 90   B2110
823    B1040  ex 7204 10 00  ex 3825 90 90   B2120
824    B1040  ex 7204 21 10  ex 3825 90 90   B2130
825    B1040  ex 7204 21 90  ex 3825 90 90   B3010

[826 rows x 4 columns]
826
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
822    B1031  ex 8112 92 31  ex 3825 90 90   B2110
823    B1040  ex 7204 10 00  ex 3825 90 90   B2120
824    B1040  ex 7204 21 10  ex 3825 90 90   B2130
825    B1040  ex 7204 21 90  ex 3825 90 90   B3010
826    B1040  ex 7204 29 00  ex 3825 90 90   B3060

[827 rows x 4 columns]
827
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
823    B1040  ex 7204 10 00  ex 3825 90 90   B2120
824    B1040  ex 7204 21 10  ex 3825 90 90   B2130
825    B1040  ex 7204 21 90  ex 3825 90 90   B3010
826    B1040  ex 7204 29 00  ex 3825 90 90   B3060
827    B1040  ex 7204 49 90  ex 3825 90 90   B3100

[828 rows x 4 columns]
828
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
824    B1040  ex 7204 21 10  ex 3825 90 90   B2130
825    B1040  ex 7204 21 90  ex 3825 90 90   B3010
826    B1040  ex 7204 29 00  ex 3825 90 90   B3060
827    B1040  ex 7204 49 90  ex 3825 90 90   B3100
828    B1050  ex 3825 69 00  ex 3825 90 90   B3120

[829 rows x 4 columns]
829
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
825    B1040  ex 7204 21 90  ex 3825 90 90   B3010
826    B1040  ex 7204 29 00  ex 3825 90 90   B3060
827    B1040  ex 7204 49 90  ex 3825 90 90   B3100
828    B1050  ex 3825 69 00  ex 3825 90 90   B3120
829    B1050  ex 3825 90 90  ex 3825 90 90   B3130

[830 rows x 4 columns]
830
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
826    B1040  ex 7204 29 00  ex 3825 90 90   B3060
827    B1040  ex 7204 49 90  ex 3825 90 90   B3100
828    B1050  ex 3825 69 00  ex 3825 90 90   B3120
829    B1050  ex 3825 90 90  ex 3825 90 90   B3130
830    B1050  ex 7112 91 00  ex 3825 90 90   B4010

[831 rows x 4 columns]
831
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
827    B1040  ex 7204 49 90  ex 3825 90 90   B3100
828    B1050  ex 3825 69 00  ex 3825 90 90   B3120
829    B1050  ex 3825 90 90  ex 3825 90 90   B3130
830    B1050  ex 7112 91 00  ex 3825 90 90   B4010
831    B1050  ex 7112 92 00  ex 3825 90 90   B4020

[832 rows x 4 columns]
832
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
828    B1050  ex 3825 69 00  ex 3825 90 90   B3120
829    B1050  ex 3825 90 90  ex 3825 90 90   B3130
830    B1050  ex 7112 91 00  ex 3825 90 90   B4010
831    B1050  ex 7112 92 00  ex 3825 90 90   B4020
832    B1050  ex 7112 99 00  ex 3825 90 90   GC050

[833 rows x 4 columns]
833
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
829    B1050  ex 3825 90 90  ex 3825 90 90   B3130
830    B1050  ex 7112 91 00  ex 3825 90 90   B4010
831    B1050  ex 7112 92 00  ex 3825 90 90   B4020
832    B1050  ex 7112 99 00  ex 3825 90 90   GC050
833    B1050  ex 7404 00 10  ex 3825 90 90   RB020

[834 rows x 4 columns]
834
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
830    B1050  ex 7112 91 00  ex 3825 90 90   B4010
831    B1050  ex 7112 92 00  ex 3825 90 90   B4020
832    B1050  ex 7112 99 00  ex 3825 90 90   GC050
833    B1050  ex 7404 00 10  ex 3825 90 90   RB020
834    B1050  ex 7404 00 91        ex 3901    A4130

[835 rows x 4 columns]
835
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
831    B1050  ex 7112 92 00  ex 3825 90 90   B4020
832    B1050  ex 7112 99 00  ex 3825 90 90   GC050
833    B1050  ex 7404 00 10  ex 3825 90 90   RB020
834    B1050  ex 7404 00 91        ex 3901    A4130
835    B1050  ex 7404 00 99        ex 3901   B3040

[836 rows x 4 columns]
836
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
832    B1050  ex 7112 99 00  ex 3825 90 90   GC050
833    B1050  ex 7404 00 10  ex 3825 90 90   RB020
834    B1050  ex 7404 00 91        ex 3901    A4130
835    B1050  ex 7404 00 99        ex 3901   B3040
836    B1050  ex 7503 00 10  ex 3901 10 10    B3010

[837 rows x 4 columns]
837
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
833    B1050  ex 7404 00 10  ex 3825 90 90   RB020
834    B1050  ex 7404 00 91        ex 3901    A4130
835    B1050  ex 7404 00 99        ex 3901   B3040
836    B1050  ex 7503 00 10  ex 3901 10 10    B3010
837    B1050  ex 7503 00 90  ex 3901 10 90    B3010

[838 rows x 4 columns]
838
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
834    B1050  ex 7404 00 91        ex 3901    A4130
835    B1050  ex 7404 00 99        ex 3901   B3040
836    B1050  ex 7503 00 10  ex 3901 10 10    B3010
837    B1050  ex 7503 00 90  ex 3901 10 90    B3010
838    B1050  ex 7602 00 11  ex 3901 20 10    B3010

[839 rows x 4 columns]
839
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
835    B1050  ex 7404 00 99        ex 3901   B3040
836    B1050  ex 7503 00 10  ex 3901 10 10    B3010
837    B1050  ex 7503 00 90  ex 3901 10 90    B3010
838    B1050  ex 7602 00 11  ex 3901 20 10    B3010
839    B1050  ex 7602 00 19  ex 3901 20 90    B3010

[840 rows x 4 columns]
840
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
836    B1050  ex 7503 00 10  ex 3901 10 10    B3010
837    B1050  ex 7503 00 90  ex 3901 10 90    B3010
838    B1050  ex 7602 00 11  ex 3901 20 10    B3010
839    B1050  ex 7602 00 19  ex 3901 20 90    B3010
840    B1050  ex 7602 00 90  ex 3901 30 00    B3010

[841 rows x 4 columns]
841
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
837    B1050  ex 7503 00 90  ex 3901 10 90    B3010
838    B1050  ex 7602 00 11  ex 3901 20 10    B3010
839    B1050  ex 7602 00 19  ex 3901 20 90    B3010
840    B1050  ex 7602 00 90  ex 3901 30 00    B3010
841    B1050  ex 7802 00 00  ex 3901 90 30    B3010

[842 rows x 4 columns]
842
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
838    B1050  ex 7602 00 11  ex 3901 20 10    B3010
839    B1050  ex 7602 00 19  ex 3901 20 90    B3010
840    B1050  ex 7602 00 90  ex 3901 30 00    B3010
841    B1050  ex 7802 00 00  ex 3901 90 30    B3010
842    B1050  ex 7902 00 00  ex 3901 90 90    B3010

[843 rows x 4 columns]
843
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
839    B1050  ex 7602 00 19  ex 3901 20 90    B3010
840    B1050  ex 7602 00 90  ex 3901 30 00    B3010
841    B1050  ex 7802 00 00  ex 3901 90 30    B3010
842    B1050  ex 7902 00 00  ex 3901 90 90    B3010
843    B1050  ex 8002 00 00        ex 3902    A4130

[844 rows x 4 columns]
844
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
840    B1050  ex 7602 00 90  ex 3901 30 00    B3010
841    B1050  ex 7802 00 00  ex 3901 90 30    B3010
842    B1050  ex 7902 00 00  ex 3901 90 90    B3010
843    B1050  ex 8002 00 00        ex 3902    A4130
844    B1050  ex 8101 97 00  ex 3902 10 00    A3040

[845 rows x 4 columns]
845
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
841    B1050  ex 7802 00 00  ex 3901 90 30    B3010
842    B1050  ex 7902 00 00  ex 3901 90 90    B3010
843    B1050  ex 8002 00 00        ex 3902    A4130
844    B1050  ex 8101 97 00  ex 3902 10 00    A3040
845    B1050  ex 8102 97 00  ex 3902 10 00   B3010

[846 rows x 4 columns]
846
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
842    B1050  ex 7902 00 00  ex 3901 90 90    B3010
843    B1050  ex 8002 00 00        ex 3902    A4130
844    B1050  ex 8101 97 00  ex 3902 10 00    A3040
845    B1050  ex 8102 97 00  ex 3902 10 00   B3010
846    B1050  ex 8103 30 00  ex 3902 20 00    B3010

[847 rows x 4 columns]
847
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
843    B1050  ex 8002 00 00        ex 3902    A4130
844    B1050  ex 8101 97 00  ex 3902 10 00    A3040
845    B1050  ex 8102 97 00  ex 3902 10 00   B3010
846    B1050  ex 8103 30 00  ex 3902 20 00    B3010
847    B1050  ex 8104 20 00  ex 3902 30 00    A3040

[848 rows x 4 columns]
848
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
844    B1050  ex 8101 97 00  ex 3902 10 00    A3040
845    B1050  ex 8102 97 00  ex 3902 10 00   B3010
846    B1050  ex 8103 30 00  ex 3902 20 00    B3010
847    B1050  ex 8104 20 00  ex 3902 30 00    A3040
848    B1050  ex 8105 30 00  ex 3902 30 00   B3010

[849 rows x 4 columns]
849
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
845    B1050  ex 8102 97 00  ex 3902 10 00   B3010
846    B1050  ex 8103 30 00  ex 3902 20 00    B3010
847    B1050  ex 8104 20 00  ex 3902 30 00    A3040
848    B1050  ex 8105 30 00  ex 3902 30 00   B3010
849    B1050  ex 8106 00 10  ex 3902 30 00   B3040

[850 rows x 4 columns]
850
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
846    B1050  ex 8103 30 00  ex 3902 20 00    B3010
847    B1050  ex 8104 20 00  ex 3902 30 00    A3040
848    B1050  ex 8105 30 00  ex 3902 30 00   B3010
849    B1050  ex 8106 00 10  ex 3902 30 00   B3040
850    B1050  ex 8107 30 00  ex 3902 90 10    B3010

[851 rows x 4 columns]
851
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
847    B1050  ex 8104 20 00  ex 3902 30 00    A3040
848    B1050  ex 8105 30 00  ex 3902 30 00   B3010
849    B1050  ex 8106 00 10  ex 3902 30 00   B3040
850    B1050  ex 8107 30 00  ex 3902 90 10    B3010
851    B1050  ex 8108 30 00  ex 3902 90 20    B3010

[852 rows x 4 columns]
852
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
848    B1050  ex 8105 30 00  ex 3902 30 00   B3010
849    B1050  ex 8106 00 10  ex 3902 30 00   B3040
850    B1050  ex 8107 30 00  ex 3902 90 10    B3010
851    B1050  ex 8108 30 00  ex 3902 90 20    B3010
852    B1050  ex 8109 30 00  ex 3902 90 90    A3040

[853 rows x 4 columns]
853
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
849    B1050  ex 8106 00 10  ex 3902 30 00   B3040
850    B1050  ex 8107 30 00  ex 3902 90 10    B3010
851    B1050  ex 8108 30 00  ex 3902 90 20    B3010
852    B1050  ex 8109 30 00  ex 3902 90 90    A3040
853    B1050  ex 8110 20 00  ex 3902 90 90   B3010

[854 rows x 4 columns]
854
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
850    B1050  ex 8107 30 00  ex 3902 90 10    B3010
851    B1050  ex 8108 30 00  ex 3902 90 20    B3010
852    B1050  ex 8109 30 00  ex 3902 90 90    A3040
853    B1050  ex 8110 20 00  ex 3902 90 90   B3010
854    B1050  ex 8111 00 19  ex 3902 90 90   B3040

[855 rows x 4 columns]
855
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
851    B1050  ex 8108 30 00  ex 3902 90 20    B3010
852    B1050  ex 8109 30 00  ex 3902 90 90    A3040
853    B1050  ex 8110 20 00  ex 3902 90 90   B3010
854    B1050  ex 8111 00 19  ex 3902 90 90   B3040
855    B1050  ex 8112 13 00        ex 3903    A4130

[856 rows x 4 columns]
856
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
852    B1050  ex 8109 30 00  ex 3902 90 90    A3040
853    B1050  ex 8110 20 00  ex 3902 90 90   B3010
854    B1050  ex 8111 00 19  ex 3902 90 90   B3040
855    B1050  ex 8112 13 00        ex 3903    A4130
856    B1050  ex 8112 22 00  ex 3903 11 00    B3010

[857 rows x 4 columns]
857
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
853    B1050  ex 8110 20 00  ex 3902 90 90   B3010
854    B1050  ex 8111 00 19  ex 3902 90 90   B3040
855    B1050  ex 8112 13 00        ex 3903    A4130
856    B1050  ex 8112 22 00  ex 3903 11 00    B3010
857    B1050  ex 8112 52 00  ex 3903 19 00    B3010

[858 rows x 4 columns]
858
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
854    B1050  ex 8111 00 19  ex 3902 90 90   B3040
855    B1050  ex 8112 13 00        ex 3903    A4130
856    B1050  ex 8112 22 00  ex 3903 11 00    B3010
857    B1050  ex 8112 52 00  ex 3903 19 00    B3010
858    B1050  ex 8112 92 10  ex 3903 20 00    B3010

[859 rows x 4 columns]
859
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
855    B1050  ex 8112 13 00        ex 3903    A4130
856    B1050  ex 8112 22 00  ex 3903 11 00    B3010
857    B1050  ex 8112 52 00  ex 3903 19 00    B3010
858    B1050  ex 8112 92 10  ex 3903 20 00    B3010
859    B1050  ex 8112 92 21  ex 3903 30 00    B3010

[860 rows x 4 columns]
860
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
856    B1050  ex 8112 22 00  ex 3903 11 00    B3010
857    B1050  ex 8112 52 00  ex 3903 19 00    B3010
858    B1050  ex 8112 92 10  ex 3903 20 00    B3010
859    B1050  ex 8112 92 21  ex 3903 30 00    B3010
860    B1050  ex 8113 00 40  ex 3903 30 00   B3040

[861 rows x 4 columns]
861
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
857    B1050  ex 8112 52 00  ex 3903 19 00    B3010
858    B1050  ex 8112 92 10  ex 3903 20 00    B3010
859    B1050  ex 8112 92 21  ex 3903 30 00    B3010
860    B1050  ex 8113 00 40  ex 3903 30 00   B3040
861    B1060  ex 3825 69 00  ex 3903 90 10    B3010

[862 rows x 4 columns]
862
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
858    B1050  ex 8112 92 10  ex 3903 20 00    B3010
859    B1050  ex 8112 92 21  ex 3903 30 00    B3010
860    B1050  ex 8113 00 40  ex 3903 30 00   B3040
861    B1060  ex 3825 69 00  ex 3903 90 10    B3010
862    B1060  ex 3825 90 90  ex 3903 90 20    B3010

[863 rows x 4 columns]
863
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
859    B1050  ex 8112 92 21  ex 3903 30 00    B3010
860    B1050  ex 8113 00 40  ex 3903 30 00   B3040
861    B1060  ex 3825 69 00  ex 3903 90 10    B3010
862    B1060  ex 3825 90 90  ex 3903 90 20    B3010
863    B1070  ex 2620 30 00  ex 3903 90 90    B3010

[864 rows x 4 columns]
864
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
860    B1050  ex 8113 00 40  ex 3903 30 00   B3040
861    B1060  ex 3825 69 00  ex 3903 90 10    B3010
862    B1060  ex 3825 90 90  ex 3903 90 20    B3010
863    B1070  ex 2620 30 00  ex 3903 90 90    B3010
864    B1070  ex 2620 60 00  ex 3903 90 90   B3040

[865 rows x 4 columns]
865
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
861    B1060  ex 3825 69 00  ex 3903 90 10    B3010
862    B1060  ex 3825 90 90  ex 3903 90 20    B3010
863    B1070  ex 2620 30 00  ex 3903 90 90    B3010
864    B1070  ex 2620 60 00  ex 3903 90 90   B3040
865    B1070  ex 2620 91 00        ex 3904    A4130

[866 rows x 4 columns]
866
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
862    B1060  ex 3825 90 90  ex 3903 90 20    B3010
863    B1070  ex 2620 30 00  ex 3903 90 90    B3010
864    B1070  ex 2620 60 00  ex 3903 90 90   B3040
865    B1070  ex 2620 91 00        ex 3904    A4130
866    B1070  ex 2621 90 00  ex 3904 10 00    B3010

[867 rows x 4 columns]
867
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
863    B1070  ex 2620 30 00  ex 3903 90 90    B3010
864    B1070  ex 2620 60 00  ex 3903 90 90   B3040
865    B1070  ex 2620 91 00        ex 3904    A4130
866    B1070  ex 2621 90 00  ex 3904 10 00    B3010
867    B1070  ex 3825 69 00  ex 3904 10 00   GH013

[868 rows x 4 columns]
868
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
864    B1070  ex 2620 60 00  ex 3903 90 90   B3040
865    B1070  ex 2620 91 00        ex 3904    A4130
866    B1070  ex 2621 90 00  ex 3904 10 00    B3010
867    B1070  ex 3825 69 00  ex 3904 10 00   GH013
868    B1070  ex 3825 90 90  ex 3904 21 00    B3010

[869 rows x 4 columns]
869
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
865    B1070  ex 2620 91 00        ex 3904    A4130
866    B1070  ex 2621 90 00  ex 3904 10 00    B3010
867    B1070  ex 3825 69 00  ex 3904 10 00   GH013
868    B1070  ex 3825 90 90  ex 3904 21 00    B3010
869    B1070  ex 7112 30 00  ex 3904 21 00   GH013

[870 rows x 4 columns]
870
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
866    B1070  ex 2621 90 00  ex 3904 10 00    B3010
867    B1070  ex 3825 69 00  ex 3904 10 00   GH013
868    B1070  ex 3825 90 90  ex 3904 21 00    B3010
869    B1070  ex 7112 30 00  ex 3904 21 00   GH013
870    B1070  ex 7112 91 00  ex 3904 22 00    B3010

[871 rows x 4 columns]
871
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
867    B1070  ex 3825 69 00  ex 3904 10 00   GH013
868    B1070  ex 3825 90 90  ex 3904 21 00    B3010

[872 rows x 4 columns]
872
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
868    B1070  ex 3825 90 90  ex 3904 21 00    B3010
869    B1070  ex 7112 30 00  ex 3904 21 00   GH013
870    B1070  ex 7112 91 00  ex 3904 22 00    B3010
871    B1070  ex 7112 92 00  ex 3904 22 00   GH013
872    B1070  ex 7112 99 00  ex 3904 30 00    B3010

[873 rows x 4 columns]
873
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
869    B1070  ex 7112 30 00  ex 3904 21 00   GH013
870    B1070  ex 7112 91 00  ex 3904 22 00    B3010
871    B1070  ex 7112 92 00  ex 3904 22 00   GH013
872    B1070  ex 7112 99 00  ex 3904 30 00    B3010
873    B1070  ex 7404 00 10  ex 3904 30 00   GH013

[874 rows x 4 columns]
874
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
870    B1070  ex 7112 91 00  ex 3904 22 00    B3010
871    B1070  ex 7112 92 00  ex 3904 22 00   GH013
872    B1070  ex 7112 99 00  ex 3904 30 00    B3010
873    B1070  ex 7404 00 10  ex 3904 30 00   GH013
874    B1070  ex 7404 00 91  ex 3904 40 00    B3010

[875 rows x 4 columns]
875
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
871    B1070  ex 7112 92 00  ex 3904 22 00   GH013
872    B1070  ex 7112 99 00  ex 3904 30 00    B3010
873    B1070  ex 7404 00 10  ex 3904 30 00   GH013
874    B1070  ex 7404 00 91  ex 3904 40 00    B3010
875    B1070  ex 7404 00 99  ex 3904 40 00   GH013

[876 rows x 4 columns]
876
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
872    B1070  ex 7112 99 00  ex 3904 30 00    B3010
873    B1070  ex 7404 00 10  ex 3904 30 00   GH013
874    B1070  ex 7404 00 91  ex 3904 40 00    B3010
875    B1070  ex 7404 00 99  ex 3904 40 00   GH013
876    B1070  ex 7405 00 00  ex 3904 50 10    B3010

[877 rows x 4 columns]
877
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
873    B1070  ex 7404 00 10  ex 3904 30 00   GH013
874    B1070  ex 7404 00 91  ex 3904 40 00    B3010
875    B1070  ex 7404 00 99  ex 3904 40 00   GH013
876    B1070  ex 7405 00 00  ex 3904 50 10    B3010
877    B1070  ex 7406 10 00  ex 3904 50 90    B3010

[878 rows x 4 columns]
878
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
874    B1070  ex 7404 00 91  ex 3904 40 00    B3010
875    B1070  ex 7404 00 99  ex 3904 40 00   GH013
876    B1070  ex 7405 00 00  ex 3904 50 10    B3010
877    B1070  ex 7406 10 00  ex 3904 50 90    B3010
878    B1070  ex 7406 20 00  ex 3904 61 00    B3010

[879 rows x 4 columns]
879
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
875    B1070  ex 7404 00 99  ex 3904 40 00   GH013
876    B1070  ex 7405 00 00  ex 3904 50 10    B3010
877    B1070  ex 7406 10 00  ex 3904 50 90    B3010
878    B1070  ex 7406 20 00  ex 3904 61 00    B3010
879    B1080  ex 2620 19 00  ex 3904 69 10    B3010

[880 rows x 4 columns]
880
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
876    B1070  ex 7405 00 00  ex 3904 50 10    B3010
877    B1070  ex 7406 10 00  ex 3904 50 90    B3010
878    B1070  ex 7406 20 00  ex 3904 61 00    B3010
879    B1080  ex 2620 19 00  ex 3904 69 10    B3010
880    B1080  ex 7902 00 00  ex 3904 69 20    B3010

[881 rows x 4 columns]
881
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
877    B1070  ex 7406 10 00  ex 3904 50 90    B3010
878    B1070  ex 7406 20 00  ex 3904 61 00    B3010
879    B1080  ex 2620 19 00  ex 3904 69 10    B3010
880    B1080  ex 7902 00 00  ex 3904 69 20    B3010
881    B1080  ex 7903 10 00  ex 3904 69 20   B3040

[882 rows x 4 columns]
882
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
878    B1070  ex 7406 20 00  ex 3904 61 00    B3010
879    B1080  ex 2620 19 00  ex 3904 69 10    B3010
880    B1080  ex 7902 00 00  ex 3904 69 20    B3010
881    B1080  ex 7903 10 00  ex 3904 69 20   B3040
882    B1080  ex 7903 90 00  ex 3904 69 80    B3010

[883 rows x 4 columns]
883
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
879    B1080  ex 2620 19 00  ex 3904 69 10    B3010
880    B1080  ex 7902 00 00  ex 3904 69 20    B3010
881    B1080  ex 7903 10 00  ex 3904 69 20   B3040
882    B1080  ex 7903 90 00  ex 3904 69 80    B3010
883    B1090  ex 8548 10 10  ex 3904 90 00    B3010

[884 rows x 4 columns]
884
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
880    B1080  ex 7902 00 00  ex 3904 69 20    B3010
881    B1080  ex 7903 10 00  ex 3904 69 20   B3040
882    B1080  ex 7903 90 00  ex 3904 69 80    B3010
883    B1090  ex 8548 10 10  ex 3904 90 00    B3010
884    B1090  ex 8548 10 29        ex 3905    A4130

[885 rows x 4 columns]
885
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
881    B1080  ex 7903 10 00  ex 3904 69 20   B3040
882    B1080  ex 7903 90 00  ex 3904 69 80    B3010
883    B1090  ex 8548 10 10  ex 3904 90 00    B3010
884    B1090  ex 8548 10 29        ex 3905    A4130
885    B1090  ex 8548 10 99  ex 3905 12 00    B3010

[886 rows x 4 columns]
886
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
882    B1080  ex 7903 90 00  ex 3904 69 80    B3010
883    B1090  ex 8548 10 10  ex 3904 90 00    B3010
884    B1090  ex 8548 10 29        ex 3905    A4130
885    B1090  ex 8548 10 99  ex 3905 12 00    B3010
886    B1100  ex 2620 11 00  ex 3906 90 90    B3040

[887 rows x 4 columns]
887
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
883    B1090  ex 8548 10 10  ex 3904 90 00    B3010
884    B1090  ex 8548 10 29        ex 3905    A4130
885    B1090  ex 8548 10 99  ex 3905 12 00    B3010
886    B1100  ex 2620 11 00  ex 3906 90 90    B3040
887    B1100  ex 2620 19 00        ex 3907    A4130

[888 rows x 4 columns]
888
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
884    B1090  ex 8548 10 29        ex 3905    A4130
885    B1090  ex 8548 10 99  ex 3905 12 00    B3010
886    B1100  ex 2620 11 00  ex 3906 90 90    B3040
887    B1100  ex 2620 19 00        ex 3907    A4130
888    B1100  ex 2620 30 00  ex 3907 10 00    B3130

[889 rows x 4 columns]
889
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
885    B1090  ex 8548 10 99  ex 3905 12 00    B3010
886    B1100  ex 2620 11 00  ex 3906 90 90    B3040
887    B1100  ex 2620 19 00        ex 3907    A4130
888    B1100  ex 2620 30 00  ex 3907 10 00    B3130
889    B1100  ex 2620 40 00  ex 3907 20 11    B3130

[890 rows x 4 columns]
890
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
886    B1100  ex 2620 11 00  ex 3906 90 90    B3040
887    B1100  ex 2620 19 00        ex 3907    A4130
888    B1100  ex 2620 30 00  ex 3907 10 00    B3130
889    B1100  ex 2620 40 00  ex 3907 20 11    B3130
890    B1100  ex 2620 99 20  ex 3907 20 20    B3130

[891 rows x 4 columns]
891
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
887    B1100  ex 2620 19 00        ex 3907    A4130
888    B1100  ex 2620 30 00  ex 3907 10 00    B3130
889    B1100  ex 2620 40 00  ex 3907 20 11    B3130
890    B1100  ex 2620 99 20  ex 3907 20 20    B3130
891    B1100  ex 2620 99 95  ex 3907 20 91    B3130

[892 rows x 4 columns]
892
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
888    B1100  ex 2620 30 00  ex 3907 10 00    B3130
889    B1100  ex 2620 40 00  ex 3907 20 11    B3130
890    B1100  ex 2620 99 20  ex 3907 20 20    B3130
891    B1100  ex 2620 99 95  ex 3907 20 91    B3130
892    B1100  ex 2621 90 00  ex 3907 20 99    B3010

[893 rows x 4 columns]
893
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
889    B1100  ex 2620 40 00  ex 3907 20 11    B3130
890    B1100  ex 2620 99 20  ex 3907 20 20    B3130
891    B1100  ex 2620 99 95  ex 3907 20 91    B3130
892    B1100  ex 2621 90 00  ex 3907 20 99    B3010
893    B1100  ex 3825 69 00  ex 3907 20 99   B3130

[894 rows x 4 columns]
894
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
890    B1100  ex 2620 99 20  ex 3907 20 20    B3130
891    B1100  ex 2620 99 95  ex 3907 20 91    B3130
892    B1100  ex 2621 90 00  ex 3907 20 99    B3010
893    B1100  ex 3825 69 00  ex 3907 20 99   B3130
894    B1100  ex 3825 90 90  ex 3907 30 00    B3010

[895 rows x 4 columns]
895
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
891    B1100  ex 2620 99 95  ex 3907 20 91    B3130
892    B1100  ex 2621 90 00  ex 3907 20 99    B3010
893    B1100  ex 3825 69 00  ex 3907 20 99   B3130
894    B1100  ex 3825 90 90  ex 3907 30 00    B3010
895    B1100  ex 7112 91 00  ex 3907 30 00   B3130

[896 rows x 4 columns]
896
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
892    B1100  ex 2621 90 00  ex 3907 20 99    B3010
893    B1100  ex 3825 69 00  ex 3907 20 99   B3130
894    B1100  ex 3825 90 90  ex 3907 30 00    B3010
895    B1100  ex 7112 91 00  ex 3907 30 00   B3130
896    B1100  ex 7112 92 00  ex 3907 40 00    B3010

[897 rows x 4 columns]
897
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
893    B1100  ex 3825 69 00  ex 3907 20 99   B3130
894    B1100  ex 3825 90 90  ex 3907 30 00    B3010
895    B1100  ex 7112 91 00  ex 3907 30 00   B3130
896    B1100  ex 7112 92 00  ex 3907 40 00    B3010
897    B1100  ex 7112 99 00  ex 3907 50 00    B3010

[898 rows x 4 columns]
898
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
894    B1100  ex 3825 90 90  ex 3907 30 00    B3010
895    B1100  ex 7112 91 00  ex 3907 30 00   B3130
896    B1100  ex 7112 92 00  ex 3907 40 00    B3010
897    B1100  ex 7112 99 00  ex 3907 50 00    B3010
898    B1115  ex 7204 21 10  ex 3907 60 20    B3010

[899 rows x 4 columns]
899
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
895    B1100  ex 7112 91 00  ex 3907 30 00   B3130
896    B1100  ex 7112 92 00  ex 3907 40 00    B3010
897    B1100  ex 7112 99 00  ex 3907 50 00    B3010
898    B1115  ex 7204 21 10  ex 3907 60 20    B3010
899    B1115  ex 7204 21 90  ex 3907 60 80    B3010

[900 rows x 4 columns]
900
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
896    B1100  ex 7112 92 00  ex 3907 40 00    B3010
897    B1100  ex 7112 99 00  ex 3907 50 00    B3010
898    B1115  ex 7204 21 10  ex 3907 60 20    B3010
899    B1115  ex 7204 21 90  ex 3907 60 80    B3010
900    B1115  ex 7204 29 00  ex 3907 70 00    B3010

[901 rows x 4 columns]
901
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
897    B1100  ex 7112 99 00  ex 3907 50 00    B3010
898    B1115  ex 7204 21 10  ex 3907 60 20    B3010
899    B1115  ex 7204 21 90  ex 3907 60 80    B3010
900    B1115  ex 7204 29 00  ex 3907 70 00    B3010
901    B1115  ex 7204 49 10  ex 3907 91 10    B3010

[902 rows x 4 columns]
902
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
898    B1115  ex 7204 21 10  ex 3907 60 20    B3010
899    B1115  ex 7204 21 90  ex 3907 60 80    B3010
900    B1115  ex 7204 29 00  ex 3907 70 00    B3010
901    B1115  ex 7204 49 10  ex 3907 91 10    B3010
902    B1115  ex 7204 49 30  ex 3907 91 90    B3010

[903 rows x 4 columns]
903
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
899    B1115  ex 7204 21 90  ex 3907 60 80    B3010
900    B1115  ex 7204 29 00  ex 3907 70 00    B3010
901    B1115  ex 7204 49 10  ex 3907 91 10    B3010
902    B1115  ex 7204 49 30  ex 3907 91 90    B3010
903    B1115  ex 7204 49 90  ex 3907 99 10    B3010

[904 rows x 4 columns]
904
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
900    B1115  ex 7204 29 00  ex 3907 70 00    B3010
901    B1115  ex 7204 49 10  ex 3907 91 10    B3010
902    B1115  ex 7204 49 30  ex 3907 91 90    B3010
903    B1115  ex 7204 49 90  ex 3907 99 10    B3010
904    B1115  ex 7217 90 20  ex 3907 99 90    B3010

[905 rows x 4 columns]
905
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
901    B1115  ex 7204 49 10  ex 3907 91 10    B3010
902    B1115  ex 7204 49 30  ex 3907 91 90    B3010
903    B1115  ex 7204 49 90  ex 3907 99 10    B3010
904    B1115  ex 7217 90 20  ex 3907 99 90    B3010
905    B1115  ex 7217 90 50        ex 3908    A4130

[906 rows x 4 columns]
906
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
902    B1115  ex 7204 49 30  ex 3907 91 90    B3010
903    B1115  ex 7204 49 90  ex 3907 99 10    B3010
904    B1115  ex 7217 90 20  ex 3907 99 90    B3010
905    B1115  ex 7217 90 50        ex 3908    A4130
906    B1115  ex 7217 90 90  ex 3908 10 00    B3010

[907 rows x 4 columns]
907
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
903    B1115  ex 7204 49 90  ex 3907 99 10    B3010
904    B1115  ex 7217 90 20  ex 3907 99 90    B3010
905    B1115  ex 7217 90 50        ex 3908    A4130
906    B1115  ex 7217 90 90  ex 3908 10 00    B3010
907    B1115  ex 7223 00 11  ex 3908 90 00    B3010

[908 rows x 4 columns]
908
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
904    B1115  ex 7217 90 20  ex 3907 99 90    B3010
905    B1115  ex 7217 90 50        ex 3908    A4130
906    B1115  ex 7217 90 90  ex 3908 10 00    B3010
907    B1115  ex 7223 00 11  ex 3908 90 00    B3010
908    B1115  ex 7223 00 19        ex 3909    A4130

[909 rows x 4 columns]
909
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
905    B1115  ex 7217 90 50        ex 3908    A4130
906    B1115  ex 7217 90 90  ex 3908 10 00    B3010
907    B1115  ex 7223 00 11  ex 3908 90 00    B3010
908    B1115  ex 7223 00 19        ex 3909    A4130
909    B1115  ex 7223 00 91  ex 3909 10 00    B3010

[910 rows x 4 columns]
910
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
906    B1115  ex 7217 90 90  ex 3908 10 00    B3010
907    B1115  ex 7223 00 11  ex 3908 90 00    B3010
908    B1115  ex 7223 00 19        ex 3909    A4130
909    B1115  ex 7223 00 91  ex 3909 10 00    B3010
910    B1115  ex 7223 00 99  ex 3909 20 00    B3010

[911 rows x 4 columns]
911
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
907    B1115  ex 7223 00 11  ex 3908 90 00    B3010
908    B1115  ex 7223 00 19        ex 3909    A4130
909    B1115  ex 7223 00 91  ex 3909 10 00    B3010
910    B1115  ex 7223 00 99  ex 3909 20 00    B3010
911    B1115  ex 7229 20 00  ex 3909 30 00    B3010

[912 rows x 4 columns]
912
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
908    B1115  ex 7223 00 19        ex 3909    A4130
909    B1115  ex 7223 00 91  ex 3909 10 00    B3010
910    B1115  ex 7223 00 99  ex 3909 20 00    B3010
911    B1115  ex 7229 20 00  ex 3909 30 00    B3010
912    B1115  ex 7229 90 20  ex 3909 40 00    B3010

[913 rows x 4 columns]
913
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
909    B1115  ex 7223 00 91  ex 3909 10 00    B3010
910    B1115  ex 7223 00 99  ex 3909 20 00    B3010
911    B1115  ex 7229 20 00  ex 3909 30 00    B3010
912    B1115  ex 7229 90 20  ex 3909 40 00    B3010
913    B1115  ex 7229 90 50  ex 3909 50 10    B3010

[914 rows x 4 columns]
914
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
910    B1115  ex 7223 00 99  ex 3909 20 00    B3010
911    B1115  ex 7229 20 00  ex 3909 30 00    B3010
912    B1115  ex 7229 90 20  ex 3909 40 00    B3010
913    B1115  ex 7229 90 50  ex 3909 50 10    B3010
914    B1115  ex 7229 90 90  ex 3909 50 90    B3010

[915 rows x 4 columns]
915
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
911    B1115  ex 7229 20 00  ex 3909 30 00    B3010
912    B1115  ex 7229 90 20  ex 3909 40 00    B3010
913    B1115  ex 7229 90 50  ex 3909 50 10    B3010
914    B1115  ex 7229 90 90  ex 3909 50 90    B3010
915    B1115  ex 7312 10 20        ex 3910    A4130

[916 rows x 4 columns]
916
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
912    B1115  ex 7229 90 20  ex 3909 40 00    B3010
913    B1115  ex 7229 90 50  ex 3909 50 10    B3010
914    B1115  ex 7229 90 90  ex 3909 50 90    B3010
915    B1115  ex 7312 10 20        ex 3910    A4130
916    B1115  ex 7312 10 49  ex 3910 00 00    B3010

[917 rows x 4 columns]
917
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
913    B1115  ex 7229 90 50  ex 3909 50 10    B3010
914    B1115  ex 7229 90 90  ex 3909 50 90    B3010
915    B1115  ex 7312 10 20        ex 3910    A4130
916    B1115  ex 7312 10 49  ex 3910 00 00    B3010
917    B1115  ex 7312 10 69  ex 3910 00 00   B3040

[918 rows x 4 columns]
918
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
914    B1115  ex 7229 90 90  ex 3909 50 90    B3010
915    B1115  ex 7312 10 20        ex 3910    A4130
916    B1115  ex 7312 10 49  ex 3910 00 00    B3010
917    B1115  ex 7312 10 69  ex 3910 00 00   B3040
918    B1115  ex 7312 10 98        ex 3911    A4130

[919 rows x 4 columns]
919
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
915    B1115  ex 7312 10 20        ex 3910    A4130
916    B1115  ex 7312 10 49  ex 3910 00 00    B3010
917    B1115  ex 7312 10 69  ex 3910 00 00   B3040
918    B1115  ex 7312 10 98        ex 3911    A4130
919    B1115  ex 7312 90 00  ex 3911 10 00    B3010

[920 rows x 4 columns]
920
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
916    B1115  ex 7312 10 49  ex 3910 00 00    B3010
917    B1115  ex 7312 10 69  ex 3910 00 00   B3040
918    B1115  ex 7312 10 98        ex 3911    A4130
919    B1115  ex 7312 90 00  ex 3911 10 00    B3010
920    B1115  ex 7404 00 10  ex 3911 90 11    B3010

[921 rows x 4 columns]
921
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
917    B1115  ex 7312 10 69  ex 3910 00 00   B3040
918    B1115  ex 7312 10 98        ex 3911    A4130
919    B1115  ex 7312 90 00  ex 3911 10 00    B3010
920    B1115  ex 7404 00 10  ex 3911 90 11    B3010
921    B1115  ex 7404 00 91  ex 3911 90 13    B3010

[922 rows x 4 columns]
922
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
918    B1115  ex 7312 10 98        ex 3911    A4130
919    B1115  ex 7312 90 00  ex 3911 10 00    B3010
920    B1115  ex 7404 00 10  ex 3911 90 11    B3010
921    B1115  ex 7404 00 91  ex 3911 90 13    B3010
922    B1115  ex 7404 00 99  ex 3911 90 13   B3040

[923 rows x 4 columns]
923
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
919    B1115  ex 7312 90 00  ex 3911 10 00    B3010
920    B1115  ex 7404 00 10  ex 3911 90 11    B3010
921    B1115  ex 7404 00 91  ex 3911 90 13    B3010
922    B1115  ex 7404 00 99  ex 3911 90 13   B3040
923    B1115  ex 7408 11 00  ex 3911 90 19    B3010

[924 rows x 4 columns]
924
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
920    B1115  ex 7404 00 10  ex 3911 90 11    B3010
921    B1115  ex 7404 00 91  ex 3911 90 13    B3010
922    B1115  ex 7404 00 99  ex 3911 90 13   B3040
923    B1115  ex 7408 11 00  ex 3911 90 19    B3010
924    B1115  ex 7408 19 10  ex 3911 90 92    B3010

[925 rows x 4 columns]
925
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
921    B1115  ex 7404 00 91  ex 3911 90 13    B3010
922    B1115  ex 7404 00 99  ex 3911 90 13   B3040
923    B1115  ex 7408 11 00  ex 3911 90 19    B3010
924    B1115  ex 7408 19 10  ex 3911 90 92    B3010
925    B1115  ex 7408 19 90  ex 3911 90 99    B3010

[926 rows x 4 columns]
926
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
922    B1115  ex 7404 00 99  ex 3911 90 13   B3040
923    B1115  ex 7408 11 00  ex 3911 90 19    B3010
924    B1115  ex 7408 19 10  ex 3911 90 92    B3010
925    B1115  ex 7408 19 90  ex 3911 90 99    B3010
926    B1115  ex 7408 21 00        ex 3912    A4130

[927 rows x 4 columns]
927
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
923    B1115  ex 7408 11 00  ex 3911 90 19    B3010
924    B1115  ex 7408 19 10  ex 3911 90 92    B3010
925    B1115  ex 7408 19 90  ex 3911 90 99    B3010
926    B1115  ex 7408 21 00        ex 3912    A4130
927    B1115  ex 7408 22 00  ex 3912 11 00    B3010

[928 rows x 4 columns]
928
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
924    B1115  ex 7408 19 10  ex 3911 90 92    B3010
925    B1115  ex 7408 19 90  ex 3911 90 99    B3010
926    B1115  ex 7408 21 00        ex 3912    A4130
927    B1115  ex 7408 22 00  ex 3912 11 00    B3010
928    B1115  ex 7408 29 00  ex 3912 12 00    B3010

[929 rows x 4 columns]
929
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
925    B1115  ex 7408 19 90  ex 3911 90 99    B3010
926    B1115  ex 7408 21 00        ex 3912    A4130
927    B1115  ex 7408 22 00  ex 3912 11 00    B3010
928    B1115  ex 7408 29 00  ex 3912 12 00    B3010
929    B1115  ex 7413 00 00  ex 3912 20 11    A3060

[930 rows x 4 columns]
930
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
926    B1115  ex 7408 21 00        ex 3912    A4130
927    B1115  ex 7408 22 00  ex 3912 11 00    B3010
928    B1115  ex 7408 29 00  ex 3912 12 00    B3010
929    B1115  ex 7413 00 00  ex 3912 20 11    A3060
930    B1115  ex 7503 00 10  ex 3912 20 11    B3010

[931 rows x 4 columns]
931
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
927    B1115  ex 7408 22 00  ex 3912 11 00    B3010
928    B1115  ex 7408 29 00  ex 3912 12 00    B3010
929    B1115  ex 7413 00 00  ex 3912 20 11    A3060
930    B1115  ex 7503 00 10  ex 3912 20 11    B3010
931    B1115  ex 7503 00 90  ex 3912 20 19    A3060

[932 rows x 4 columns]
932
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
928    B1115  ex 7408 29 00  ex 3912 12 00    B3010
929    B1115  ex 7413 00 00  ex 3912 20 11    A3060
930    B1115  ex 7503 00 10  ex 3912 20 11    B3010
931    B1115  ex 7503 00 90  ex 3912 20 19    A3060
932    B1115  ex 7505 21 00  ex 3912 20 19   B3010

[933 rows x 4 columns]
933
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
929    B1115  ex 7413 00 00  ex 3912 20 11    A3060
930    B1115  ex 7503 00 10  ex 3912 20 11    B3010
931    B1115  ex 7503 00 90  ex 3912 20 19    A3060
932    B1115  ex 7505 21 00  ex 3912 20 19   B3010
933    B1115  ex 7505 22 00  ex 3912 20 90    A3060

[934 rows x 4 columns]
934

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
930    B1115  ex 7503 00 10  ex 3912 20 11    B3010
931    B1115  ex 7503 00 90  ex 3912 20 19    A3060
932    B1115  ex 7505 21 00  ex 3912 20 19   B3010
933    B1115  ex 7505 22 00  ex 3912 20 90    A3060
934    B1115  ex 7508 90 00  ex 3912 20 90   B3010

[935 rows x 4 columns]
935
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
931    B1115  ex 7503 00 90  ex 3912 20 19    A3060
932    B1115  ex 7505 21 00  ex 3912 20 19   B3010
933    B1115  ex 7505 22 00  ex 3912 20 90    A3060
934    B1115  ex 7508 90 00  ex 3912 20 90   B3010
935    B1115  ex 7602 00 19  ex 3912 31 00    B3010

[936 rows x 4 columns]
936
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
932    B1115  ex 7505 21 00  ex 3912 20 19   B3010
933    B1115  ex 7505 22 00  ex 3912 20 90    A3060
934    B1115  ex 7508 90 00  ex 3912 20 90   B3010
935    B1115  ex 7602 00 19  ex 3912 31 00    B3010
936    B1115  ex 7602 00 90  ex 3912 39 20    B3010

[937 rows x 4 columns]
937
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
933    B1115  ex 7505 22 00  ex 3912 20 90    A3060
934    B1115  ex 7508 90 00  ex 3912 20 90   B3010
935    B1115  ex 7602 00 19  ex 3912 31 00    B3010
936    B1115  ex 7602 00 90  ex 3912 39 20    B3010
937    B1115  ex 7614 10 00  ex 3912 39 85    B3010

[938 rows x 4 columns]
938
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
934    B1115  ex 7508 90 00  ex 3912 20 90   B3010
935    B1115  ex 7602 00 19  ex 3912 31 00    B3010
936    B1115  ex 7602 00 90  ex 3912 39 20    B3010
937    B1115  ex 7614 10 00  ex 3912 39 85    B3010
938    B1115  ex 7614 90 00  ex 3912 90 10    B3010

[939 rows x 4 columns]
939
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
935    B1115  ex 7602 00 19  ex 3912 31 00    B3010
936    B1115  ex 7602 00 90  ex 3912 39 20    B3010
937    B1115  ex 7614 10 00  ex 3912 39 85    B3010
938    B1115  ex 7614 90 00  ex 3912 90 10    B3010
939    B1115  ex 7802 00 00  ex 3912 90 90    B3010

[940 rows x 4 columns]
940
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
936    B1115  ex 7602 00 90  ex 3912 39 20    B3010
937    B1115  ex 7614 10 00  ex 3912 39 85    B3010
938    B1115  ex 7614 90 00  ex 3912 90 10    B3010
939    B1115  ex 7802 00 00  ex 3912 90 90    B3010
940    B1115  ex 7802 00 00        ex 3913    A4130

[941 rows x 4 columns]
941
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
937    B1115  ex 7614 10 00  ex 3912 39 85    B3010
938    B1115  ex 7614 90 00  ex 3912 90 10    B3010
939    B1115  ex 7802 00 00  ex 3912 90 90    B3010
940    B1115  ex 7802 00 00        ex 3913    A4130
941    B1115  ex 7902 00 00  ex 3913 10 00    B3010

[942 rows x 4 columns]
942
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
938    B1115  ex 7614 90 00  ex 3912 90 10    B3010
939    B1115  ex 7802 00 00  ex 3912 90 90    B3010
940    B1115  ex 7802 00 00        ex 3913    A4130
941    B1115  ex 7902 00 00  ex 3913 10 00    B3010
942    B1115  ex 7904 00 00  ex 3913 90 00    B3010

[943 rows x 4 columns]
943
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
939    B1115  ex 7802 00 00  ex 3912 90 90    B3010
940    B1115  ex 7802 00 00        ex 3913    A4130
941    B1115  ex 7902 00 00  ex 3913 10 00    B3010
942    B1115  ex 7904 00 00  ex 3913 90 00    B3010
943    B1115  ex 8002 00 00  ex 3914 00 00    AD120

[944 rows x 4 columns]
944
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
940    B1115  ex 7802 00 00        ex 3913    A4130
941    B1115  ex 7902 00 00  ex 3913 10 00    B3010
942    B1115  ex 7904 00 00  ex 3913 90 00    B3010
943    B1115  ex 8002 00 00  ex 3914 00 00    AD120
944    B1115  ex 8003 00 00  ex 3914 00 00   B3010

[945 rows x 4 columns]
945
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
941    B1115  ex 7902 00 00  ex 3913 10 00    B3010
942    B1115  ex 7904 00 00  ex 3913 90 00    B3010
943    B1115  ex 8002 00 00  ex 3914 00 00    AD120
944    B1115  ex 8003 00 00  ex 3914 00 00   B3010
945    B1115  ex 8007 00 80        ex 3915    A4130

[946 rows x 4 columns]
946
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
942    B1115  ex 7904 00 00  ex 3913 90 00    B3010
943    B1115  ex 8002 00 00  ex 3914 00 00    AD120
944    B1115  ex 8003 00 00  ex 3914 00 00   B3010
945    B1115  ex 8007 00 80        ex 3915    A4130
946    B1115  ex 8101 96 00  ex 3915 10 00    A3050

[947 rows x 4 columns]
947
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
943    B1115  ex 8002 00 00  ex 3914 00 00    AD120
944    B1115  ex 8003 00 00  ex 3914 00 00   B3010
945    B1115  ex 8007 00 80        ex 3915    A4130
946    B1115  ex 8101 96 00  ex 3915 10 00    A3050
947    B1115  ex 8101 97 00  ex 3915 10 00   A3120

[948 rows x 4 columns]
948
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
944    B1115  ex 8003 00 00  ex 3914 00 00   B3010
945    B1115  ex 8007 00 80        ex 3915    A4130
946    B1115  ex 8101 96 00  ex 3915 10 00    A3050
947    B1115  ex 8101 97 00  ex 3915 10 00   A3120
948    B1115  ex 8101 99 90  ex 3915 10 00   A4130

[949 rows x 4 columns]
949
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
945    B1115  ex 8007 00 80        ex 3915    A4130
946    B1115  ex 8101 96 00  ex 3915 10 00    A3050
947    B1115  ex 8101 97 00  ex 3915 10 00   A3120
948    B1115  ex 8101 99 90  ex 3915 10 00   A4130
949    B1115  ex 8102 96 00  ex 3915 10 00   AD120

[950 rows x 4 columns]
950
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
946    B1115  ex 8101 96 00  ex 3915 10 00    A3050
947    B1115  ex 8101 97 00  ex 3915 10 00   A3120
948    B1115  ex 8101 99 90  ex 3915 10 00   A4130
949    B1115  ex 8102 96 00  ex 3915 10 00   AD120
950    B1115  ex 8102 97 00  ex 3915 10 00   B3010

[951 rows x 4 columns]
951
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
947    B1115  ex 8101 97 00  ex 3915 10 00   A3120
948    B1115  ex 8101 99 90  ex 3915 10 00   A4130
949    B1115  ex 8102 96 00  ex 3915 10 00   AD120
950    B1115  ex 8102 97 00  ex 3915 10 00   B3010
951    B1115  ex 8102 99 00  ex 3915 10 00   B3040

[952 rows x 4 columns]
952
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
948    B1115  ex 8101 99 90  ex 3915 10 00   A4130
949    B1115  ex 8102 96 00  ex 3915 10 00   AD120
950    B1115  ex 8102 97 00  ex 3915 10 00   B3010
951    B1115  ex 8102 99 00  ex 3915 10 00   B3040
952    B1115  ex 8103 90 10  ex 3915 10 00   B4020

[953 rows x 4 columns]
953
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
949    B1115  ex 8102 96 00  ex 3915 10 00   AD120
950    B1115  ex 8102 97 00  ex 3915 10 00   B3010
951    B1115  ex 8102 99 00  ex 3915 10 00   B3040
952    B1115  ex 8103 90 10  ex 3915 10 00   B4020
953    B1115  ex 8103 90 90  ex 3915 10 00   B4030

[954 rows x 4 columns]
954
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
950    B1115  ex 8102 97 00  ex 3915 10 00   B3010
951    B1115  ex 8102 99 00  ex 3915 10 00   B3040
952    B1115  ex 8103 90 10  ex 3915 10 00   B4020
953    B1115  ex 8103 90 90  ex 3915 10 00   B4030
954    B1115  ex 8108 30 00  ex 3915 20 00    A3050

[955 rows x 4 columns]
955
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
951    B1115  ex 8102 99 00  ex 3915 10 00   B3040
952    B1115  ex 8103 90 10  ex 3915 10 00   B4020
953    B1115  ex 8103 90 90  ex 3915 10 00   B4030
954    B1115  ex 8108 30 00  ex 3915 20 00    A3050
955    B1115  ex 8108 90 30  ex 3915 20 00   A3120

[956 rows x 4 columns]
956
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
952    B1115  ex 8103 90 10  ex 3915 10 00   B4020
953    B1115  ex 8103 90 90  ex 3915 10 00   B4030
954    B1115  ex 8108 30 00  ex 3915 20 00    A3050
955    B1115  ex 8108 90 30  ex 3915 20 00   A3120
956    B1115  ex 8108 90 90  ex 3915 20 00   A4130

[957 rows x 4 columns]
957
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
953    B1115  ex 8103 90 90  ex 3915 10 00   B4030
954    B1115  ex 8108 30 00  ex 3915 20 00    A3050
955    B1115  ex 8108 90 30  ex 3915 20 00   A3120
956    B1115  ex 8108 90 90  ex 3915 20 00   A4130
957    B1120  ex 2620 19 00  ex 3915 20 00   AD120

[958 rows x 4 columns]
958
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
954    B1115  ex 8108 30 00  ex 3915 20 00    A3050
955    B1115  ex 8108 90 30  ex 3915 20 00   A3120
956    B1115  ex 8108 90 90  ex 3915 20 00   A4130
957    B1120  ex 2620 19 00  ex 3915 20 00   AD120
958    B1120  ex 2620 29 00  ex 3915 20 00   B3010

[959 rows x 4 columns]
959
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
955    B1115  ex 8108 90 30  ex 3915 20 00   A3120
956    B1115  ex 8108 90 90  ex 3915 20 00   A4130
957    B1120  ex 2620 19 00  ex 3915 20 00   AD120
958    B1120  ex 2620 29 00  ex 3915 20 00   B3010
959    B1120  ex 2620 30 00  ex 3915 20 00   B3040

[960 rows x 4 columns]
960
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
956    B1115  ex 8108 90 90  ex 3915 20 00   A4130
957    B1120  ex 2620 19 00  ex 3915 20 00   AD120
958    B1120  ex 2620 29 00  ex 3915 20 00   B3010
959    B1120  ex 2620 30 00  ex 3915 20 00   B3040
960    B1120  ex 2620 40 00  ex 3915 20 00   B4020

[961 rows x 4 columns]
961
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
957    B1120  ex 2620 19 00  ex 3915 20 00   AD120
958    B1120  ex 2620 29 00  ex 3915 20 00   B3010
959    B1120  ex 2620 30 00  ex 3915 20 00   B3040
960    B1120  ex 2620 40 00  ex 3915 20 00   B4020
961    B1120  ex 2620 60 00  ex 3915 20 00    B4030

[962 rows x 4 columns]
962
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
958    B1120  ex 2620 29 00  ex 3915 20 00   B3010
959    B1120  ex 2620 30 00  ex 3915 20 00   B3040
960    B1120  ex 2620 40 00  ex 3915 20 00   B4020
961    B1120  ex 2620 60 00  ex 3915 20 00    B4030
962    B1120  ex 2620 91 00  ex 3915 30 00    A3050

[963 rows x 4 columns]
963
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
959    B1120  ex 2620 30 00  ex 3915 20 00   B3040
960    B1120  ex 2620 40 00  ex 3915 20 00   B4020
961    B1120  ex 2620 60 00  ex 3915 20 00    B4030
962    B1120  ex 2620 91 00  ex 3915 30 00    A3050
963    B1120  ex 2620 99 10  ex 3915 30 00   A3120

[964 rows x 4 columns]
964
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
960    B1120  ex 2620 40 00  ex 3915 20 00   B4020
961    B1120  ex 2620 60 00  ex 3915 20 00    B4030
962    B1120  ex 2620 91 00  ex 3915 30 00    A3050
963    B1120  ex 2620 99 10  ex 3915 30 00   A3120
964    B1120  ex 2620 99 20  ex 3915 30 00    A4130

[965 rows x 4 columns]
965
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
961    B1120  ex 2620 60 00  ex 3915 20 00    B4030
962    B1120  ex 2620 91 00  ex 3915 30 00    A3050
963    B1120  ex 2620 99 10  ex 3915 30 00   A3120
964    B1120  ex 2620 99 20  ex 3915 30 00    A4130
965    B1120  ex 2620 99 40  ex 3915 30 00   AD120

[966 rows x 4 columns]
966
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
962    B1120  ex 2620 91 00  ex 3915 30 00    A3050
963    B1120  ex 2620 99 10  ex 3915 30 00   A3120
964    B1120  ex 2620 99 20  ex 3915 30 00    A4130
965    B1120  ex 2620 99 40  ex 3915 30 00   AD120
966    B1120  ex 2620 99 60  ex 3915 30 00   B3010

[967 rows x 4 columns]
967
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
963    B1120  ex 2620 99 10  ex 3915 30 00   A3120
964    B1120  ex 2620 99 20  ex 3915 30 00    A4130
965    B1120  ex 2620 99 40  ex 3915 30 00   AD120
966    B1120  ex 2620 99 60  ex 3915 30 00   B3010
967    B1120  ex 2620 99 95  ex 3915 30 00   B4020

[968 rows x 4 columns]
968
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
964    B1120  ex 2620 99 20  ex 3915 30 00    A4130
965    B1120  ex 2620 99 40  ex 3915 30 00   AD120
966    B1120  ex 2620 99 60  ex 3915 30 00   B3010
967    B1120  ex 2620 99 95  ex 3915 30 00   B4020
968    B1120  ex 3825 69 00  ex 3915 30 00   B4030

[969 rows x 4 columns]
969
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
965    B1120  ex 2620 99 40  ex 3915 30 00   AD120
966    B1120  ex 2620 99 60  ex 3915 30 00   B3010
967    B1120  ex 2620 99 95  ex 3915 30 00   B4020
968    B1120  ex 3825 69 00  ex 3915 30 00   B4030
969    B1120  ex 3825 90 90  ex 3915 30 00   GH013

[970 rows x 4 columns]
970
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
966    B1120  ex 2620 99 60  ex 3915 30 00   B3010
967    B1120  ex 2620 99 95  ex 3915 30 00   B4020
968    B1120  ex 3825 69 00  ex 3915 30 00   B4030
969    B1120  ex 3825 90 90  ex 3915 30 00   GH013
970    B1120  ex 7112 91 00  ex 3915 90 11    A3040

[971 rows x 4 columns]
971
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
967    B1120  ex 2620 99 95  ex 3915 30 00   B4020
968    B1120  ex 3825 69 00  ex 3915 30 00   B4030
969    B1120  ex 3825 90 90  ex 3915 30 00   GH013
970    B1120  ex 7112 91 00  ex 3915 90 11    A3040
971    B1120  ex 7112 92 00  ex 3915 90 11   A3050

[972 rows x 4 columns]
972
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
968    B1120  ex 3825 69 00  ex 3915 30 00   B4030
969    B1120  ex 3825 90 90  ex 3915 30 00   GH013
970    B1120  ex 7112 91 00  ex 3915 90 11    A3040
971    B1120  ex 7112 92 00  ex 3915 90 11   A3050
972    B1120  ex 7112 99 00  ex 3915 90 11   A3120

[973 rows x 4 columns]
973
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
969    B1120  ex 3825 90 90  ex 3915 30 00   GH013
970    B1120  ex 7112 91 00  ex 3915 90 11    A3040
971    B1120  ex 7112 92 00  ex 3915 90 11   A3050
972    B1120  ex 7112 99 00  ex 3915 90 11   A3120
973    B1120  ex 7404 00 10  ex 3915 90 11   A4130

[974 rows x 4 columns]
974
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
970    B1120  ex 7112 91 00  ex 3915 90 11    A3040
971    B1120  ex 7112 92 00  ex 3915 90 11   A3050
972    B1120  ex 7112 99 00  ex 3915 90 11   A3120
973    B1120  ex 7404 00 10  ex 3915 90 11   A4130
974    B1120  ex 7404 00 91  ex 3915 90 11   AD120

[975 rows x 4 columns]
975
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
971    B1120  ex 7112 92 00  ex 3915 90 11   A3050
972    B1120  ex 7112 99 00  ex 3915 90 11   A3120
973    B1120  ex 7404 00 10  ex 3915 90 11   A4130
974    B1120  ex 7404 00 91  ex 3915 90 11   AD120
975    B1120  ex 7404 00 99  ex 3915 90 11   B3010

[976 rows x 4 columns]
976
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
972    B1120  ex 7112 99 00  ex 3915 90 11   A3120
973    B1120  ex 7404 00 10  ex 3915 90 11   A4130
974    B1120  ex 7404 00 91  ex 3915 90 11   AD120
975    B1120  ex 7404 00 99  ex 3915 90 11   B3010
976    B1120  ex 7503 00 10  ex 3915 90 11   B4020

[977 rows x 4 columns]
977
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
973    B1120  ex 7404 00 10  ex 3915 90 11   A4130
974    B1120  ex 7404 00 91  ex 3915 90 11   AD120
975    B1120  ex 7404 00 99  ex 3915 90 11   B3010
976    B1120  ex 7503 00 10  ex 3915 90 11   B4020
977    B1120  ex 7503 00 90  ex 3915 90 11   B4030

[978 rows x 4 columns]
978
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
974    B1120  ex 7404 00 91  ex 3915 90 11   AD120
975    B1120  ex 7404 00 99  ex 3915 90 11   B3010
976    B1120  ex 7503 00 10  ex 3915 90 11   B4020
977    B1120  ex 7503 00 90  ex 3915 90 11   B4030
978    B1120  ex 7602 00 11  ex 3915 90 80    A3050

[979 rows x 4 columns]
979
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
975    B1120  ex 7404 00 99  ex 3915 90 11   B3010
976    B1120  ex 7503 00 10  ex 3915 90 11   B4020
977    B1120  ex 7503 00 90  ex 3915 90 11   B4030
978    B1120  ex 7602 00 11  ex 3915 90 80    A3050
979    B1120  ex 7602 00 19  ex 3915 90 80   A3060

[980 rows x 4 columns]
980
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
976    B1120  ex 7503 00 10  ex 3915 90 11   B4020
977    B1120  ex 7503 00 90  ex 3915 90 11   B4030
978    B1120  ex 7602 00 11  ex 3915 90 80    A3050
979    B1120  ex 7602 00 19  ex 3915 90 80   A3060
980    B1120  ex 7602 00 90  ex 3915 90 80   A3120

[981 rows x 4 columns]
981
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
977    B1120  ex 7503 00 90  ex 3915 90 11   B4030
978    B1120  ex 7602 00 11  ex 3915 90 80    A3050
979    B1120  ex 7602 00 19  ex 3915 90 80   A3060
980    B1120  ex 7602 00 90  ex 3915 90 80   A3120
981    B1120  ex 7902 00 00  ex 3915 90 80   A4130

[982 rows x 4 columns]
982
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
978    B1120  ex 7602 00 11  ex 3915 90 80    A3050
979    B1120  ex 7602 00 19  ex 3915 90 80   A3060
980    B1120  ex 7602 00 90  ex 3915 90 80   A3120
981    B1120  ex 7902 00 00  ex 3915 90 80   A4130
982    B1120  ex 8002 00 00  ex 3915 90 80   AD090

[983 rows x 4 columns]
983
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
979    B1120  ex 7602 00 19  ex 3915 90 80   A3060
980    B1120  ex 7602 00 90  ex 3915 90 80   A3120
981    B1120  ex 7902 00 00  ex 3915 90 80   A4130
982    B1120  ex 8002 00 00  ex 3915 90 80   AD090
983    B1120  ex 8101 97 00  ex 3915 90 80   AD120

[984 rows x 4 columns]
984
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
980    B1120  ex 7602 00 90  ex 3915 90 80   A3120
981    B1120  ex 7902 00 00  ex 3915 90 80   A4130
982    B1120  ex 8002 00 00  ex 3915 90 80   AD090
983    B1120  ex 8101 97 00  ex 3915 90 80   AD120
984    B1120  ex 8102 97 00  ex 3915 90 80   B3010

[985 rows x 4 columns]
985

    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
981    B1120  ex 7902 00 00  ex 3915 90 80   A4130
982    B1120  ex 8002 00 00  ex 3915 90 80   AD090
983    B1120  ex 8101 97 00  ex 3915 90 80   AD120
984    B1120  ex 8102 97 00  ex 3915 90 80   B3010
985    B1120  ex 8103 30 00  ex 3915 90 80   B3040

[986 rows x 4 columns]
986
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
982    B1120  ex 8002 00 00  ex 3915 90 80   AD090
983    B1120  ex 8101 97 00  ex 3915 90 80   AD120
984    B1120  ex 8102 97 00  ex 3915 90 80   B3010
985    B1120  ex 8103 30 00  ex 3915 90 80   B3040
986    B1120  ex 8104 20 00  ex 3915 90 80   B3130

[987 rows x 4 columns]
987
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
983    B1120  ex 8101 97 00  ex 3915 90 80   AD120
984    B1120  ex 8102 97 00  ex 3915 90 80   B3010
985    B1120  ex 8103 30 00  ex 3915 90 80   B3040
986    B1120  ex 8104 20 00  ex 3915 90 80   B3130
987    B1120  ex 8105 30 00  ex 3915 90 80   B4020

[988 rows x 4 columns]
988
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
984    B1120  ex 8102 97 00  ex 3915 90 80   B3010
985    B1120  ex 8103 30 00  ex 3915 90 80   B3040
986    B1120  ex 8104 20 00  ex 3915 90 80   B3130
987    B1120  ex 8105 30 00  ex 3915 90 80   B4020
988    B1120  ex 8106 00 10  ex 3915 90 80   B4030

[989 rows x 4 columns]
989
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
985    B1120  ex 8103 30 00  ex 3915 90 80   B3040
986    B1120  ex 8104 20 00  ex 3915 90 80   B3130
987    B1120  ex 8105 30 00  ex 3915 90 80   B4020
988    B1120  ex 8106 00 10  ex 3915 90 80   B4030
989    B1120  ex 8108 30 00  ex 3920 73 10    AD090

[990 rows x 4 columns]
990
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
986    B1120  ex 8104 20 00  ex 3915 90 80   B3130
987    B1120  ex 8105 30 00  ex 3915 90 80   B4020
988    B1120  ex 8106 00 10  ex 3915 90 80   B4030
989    B1120  ex 8108 30 00  ex 3920 73 10    AD090
990    B1120  ex 8109 30 00  ex 3920 73 80    AD090

[991 rows x 4 columns]
991
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
987    B1120  ex 8105 30 00  ex 3915 90 80   B4020
988    B1120  ex 8106 00 10  ex 3915 90 80   B4030
989    B1120  ex 8108 30 00  ex 3920 73 10    AD090
990    B1120  ex 8109 30 00  ex 3920 73 80    AD090
991    B1120  ex 8111 00 19  ex 3923 40 10    AD090

[992 rows x 4 columns]
992
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
988    B1120  ex 8106 00 10  ex 3915 90 80   B4030
989    B1120  ex 8108 30 00  ex 3920 73 10    AD090
990    B1120  ex 8109 30 00  ex 3920 73 80    AD090
991    B1120  ex 8111 00 19  ex 3923 40 10    AD090
992    B1120  ex 8112 13 00  ex 4001 10 00    B3040

[993 rows x 4 columns]
993
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
989    B1120  ex 8108 30 00  ex 3920 73 10    AD090
990    B1120  ex 8109 30 00  ex 3920 73 80    AD090
991    B1120  ex 8111 00 19  ex 3923 40 10    AD090
992    B1120  ex 8112 13 00  ex 4001 10 00    B3040
993    B1120  ex 8112 22 00  ex 4001 22 00    B3040

[994 rows x 4 columns]
994
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
990    B1120  ex 8109 30 00  ex 3920 73 80    AD090
991    B1120  ex 8111 00 19  ex 3923 40 10    AD090
992    B1120  ex 8112 13 00  ex 4001 10 00    B3040
993    B1120  ex 8112 22 00  ex 4001 22 00    B3040
994    B1120  ex 8112 52 00  ex 4001 29 00    B3040

[995 rows x 4 columns]
995
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
991    B1120  ex 8111 00 19  ex 3923 40 10    AD090
992    B1120  ex 8112 13 00  ex 4001 10 00    B3040
993    B1120  ex 8112 22 00  ex 4001 22 00    B3040
994    B1120  ex 8112 52 00  ex 4001 29 00    B3040
995    B1120  ex 8112 92 10  ex 4001 30 00    B3040

[996 rows x 4 columns]
996
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
992    B1120  ex 8112 13 00  ex 4001 10 00    B3040
993    B1120  ex 8112 22 00  ex 4001 22 00    B3040
994    B1120  ex 8112 52 00  ex 4001 29 00    B3040
995    B1120  ex 8112 92 10  ex 4001 30 00    B3040
996    B1120  ex 8112 92 21        ex 4002    B3040

[997 rows x 4 columns]
997
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
993    B1120  ex 8112 22 00  ex 4001 22 00    B3040
994    B1120  ex 8112 52 00  ex 4001 29 00    B3040
995    B1120  ex 8112 92 10  ex 4001 30 00    B3040
996    B1120  ex 8112 92 21        ex 4002    B3040
997    B1120  ex 8113 00 40        ex 4003    B3040

[998 rows x 4 columns]
998
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
994    B1120  ex 8112 52 00  ex 4001 29 00    B3040
995    B1120  ex 8112 92 10  ex 4001 30 00    B3040
996    B1120  ex 8112 92 21        ex 4002    B3040
997    B1120  ex 8113 00 40        ex 4003    B3040
998    B1130  ex 3825 69 00  ex 4004 00 00    A3050

[999 rows x 4 columns]
999
    Column_1       Column_2       Column_3 Column_4
0        NaN            NaN            NaN      NaN
1      A1010  ex 2620 60 00  ex 0501 00 00    B3070
2      A1010  ex 2843 90 10  ex 0502 10 00    A3110
3      A1010  ex 2853 00 90  ex 0502 10 00   B3110
4      A1010  ex 3825 69 00  ex 0502 10 00   GN010
..       ...            ...            ...      ...
995    B1120  ex 8112 92 10  ex 4001 30 00    B3040
996    B1120  ex 8112 92 21        ex 4002    B3040
997    B1120  ex 8113 00 40        ex 4003    B3040
998    B1130  ex 3825 69 00  ex 4004 00 00    A3050
999    B1130  ex 3825 90 90  ex 4004 00 00   A3120

[1000 rows x 4 columns]
1000
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
996     B1120  ex 8112 92 21        ex 4002    B3040
997     B1120  ex 8113 00 40        ex 4003    B3040
998     B1130  ex 3825 69 00  ex 4004 00 00    A3050
999     B1130  ex 3825 90 90  ex 4004 00 00   A3120
1000    B1130  ex 7112 91 00  ex 4004 00 00   B3040

[1001 rows x 4 columns]
1001
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
997     B1120  ex 8113 00 40        ex 4003    B3040
998     B1130  ex 3825 69 00  ex 4004 00 00    A3050
999     B1130  ex 3825 90 90  ex 4004 00 00   A3120
1000    B1130  ex 7112 91 00  ex 4004 00 00   B3040
1001    B1130  ex 7112 92 00  ex 4004 00 00   B3080

[1002 rows x 4 columns]
1002
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
998     B1130  ex 3825 69 00  ex 4004 00 00    A3050
999     B1130  ex 3825 90 90  ex 4004 00 00   A3120
1000    B1130  ex 7112 91 00  ex 4004 00 00   B3040
1001    B1130  ex 7112 92 00  ex 4004 00 00   B3080
1002    B1130  ex 7112 99 00  ex 4004 00 00   B3140

[1003 rows x 4 columns]
1003
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
999     B1130  ex 3825 90 90  ex 4004 00 00   A3120
1000    B1130  ex 7112 91 00  ex 4004 00 00   B3040
1001    B1130  ex 7112 92 00  ex 4004 00 00   B3080
1002    B1130  ex 7112 99 00  ex 4004 00 00   B3140
1003    B1140  ex 7112 91 00  ex 4004 00 00   B4020

[1004 rows x 4 columns]
1004
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1000    B1130  ex 7112 91 00  ex 4004 00 00   B3040
1001    B1130  ex 7112 92 00  ex 4004 00 00   B3080
1002    B1130  ex 7112 99 00  ex 4004 00 00   B3140
1003    B1140  ex 7112 91 00  ex 4004 00 00   B4020
1004    B1140  ex 7112 92 00  ex 4005 10 00    B3040

[1005 rows x 4 columns]
1005
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1001    B1130  ex 7112 92 00  ex 4004 00 00   B3080
1002    B1130  ex 7112 99 00  ex 4004 00 00   B3140
1003    B1140  ex 7112 91 00  ex 4004 00 00   B4020
1004    B1140  ex 7112 92 00  ex 4005 10 00    B3040
1005    B1140  ex 7112 99 00  ex 4005 99 00    B3040

[1006 rows x 4 columns]
1006
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1002    B1130  ex 7112 99 00  ex 4004 00 00   B3140
1003    B1140  ex 7112 91 00  ex 4004 00 00   B4020
1004    B1140  ex 7112 92 00  ex 4005 10 00    B3040
1005    B1140  ex 7112 99 00  ex 4005 99 00    B3040
1006    B1150  ex 7106 10 00        ex 4011    B3140

[1007 rows x 4 columns]
1007
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1003    B1140  ex 7112 91 00  ex 4004 00 00   B4020
1004    B1140  ex 7112 92 00  ex 4005 10 00    B3040
1005    B1140  ex 7112 99 00  ex 4005 99 00    B3040
1006    B1150  ex 7106 10 00        ex 4011    B3140
1007    B1150  ex 7108 11 00  ex 4012 11 00    B3140

[1008 rows x 4 columns]
1008

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1004    B1140  ex 7112 92 00  ex 4005 10 00    B3040
1005    B1140  ex 7112 99 00  ex 4005 99 00    B3040
1006    B1150  ex 7106 10 00        ex 4011    B3140
1007    B1150  ex 7108 11 00  ex 4012 11 00    B3140
1008    B1150  ex 7110 11 00  ex 4012 12 00    B3140

[1009 rows x 4 columns]
1009
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1005    B1140  ex 7112 99 00  ex 4005 99 00    B3040
1006    B1150  ex 7106 10 00        ex 4011    B3140
1007    B1150  ex 7108 11 00  ex 4012 11 00    B3140
1008    B1150  ex 7110 11 00  ex 4012 12 00    B3140
1009    B1150  ex 7110 21 00  ex 4012 13 00    B3140

[1010 rows x 4 columns]
1010
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1006    B1150  ex 7106 10 00        ex 4011    B3140
1007    B1150  ex 7108 11 00  ex 4012 11 00    B3140
1008    B1150  ex 7110 11 00  ex 4012 12 00    B3140
1009    B1150  ex 7110 21 00  ex 4012 13 00    B3140
1010    B1150  ex 7110 31 00  ex 4012 19 00    B3140

[1011 rows x 4 columns]
1011
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1007    B1150  ex 7108 11 00  ex 4012 11 00    B3140
1008    B1150  ex 7110 11 00  ex 4012 12 00    B3140
1009    B1150  ex 7110 21 00  ex 4012 13 00    B3140
1010    B1150  ex 7110 31 00  ex 4012 19 00    B3140
1011    B1150  ex 7110 41 00  ex 4012 20 00    B3140

[1012 rows x 4 columns]
1012
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1008    B1150  ex 7110 11 00  ex 4012 12 00    B3140
1009    B1150  ex 7110 21 00  ex 4012 13 00    B3140
1010    B1150  ex 7110 31 00  ex 4012 19 00    B3140
1011    B1150  ex 7110 41 00  ex 4012 20 00    B3140
1012    B1150  ex 7112 30 00  ex 4017 00 00    A3050

[1013 rows x 4 columns]
1013
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1009    B1150  ex 7110 21 00  ex 4012 13 00    B3140
1010    B1150  ex 7110 31 00  ex 4012 19 00    B3140
1011    B1150  ex 7110 41 00  ex 4012 20 00    B3140
1012    B1150  ex 7112 30 00  ex 4017 00 00    A3050
1013    B1150  ex 7112 91 00  ex 4017 00 00   A3120

[1014 rows x 4 columns]
1014
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1010    B1150  ex 7110 31 00  ex 4012 19 00    B3140
1011    B1150  ex 7110 41 00  ex 4012 20 00    B3140
1012    B1150  ex 7112 30 00  ex 4017 00 00    A3050
1013    B1150  ex 7112 91 00  ex 4017 00 00   A3120
1014    B1150  ex 7112 92 00  ex 4017 00 00   B3040

[1015 rows x 4 columns]
1015
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1011    B1150  ex 7110 41 00  ex 4012 20 00    B3140
1012    B1150  ex 7112 30 00  ex 4017 00 00    A3050
1013    B1150  ex 7112 91 00  ex 4017 00 00   A3120
1014    B1150  ex 7112 92 00  ex 4017 00 00   B3040
1015    B1150  ex 7112 99 00  ex 4017 00 00   B3080

[1016 rows x 4 columns]
1016
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1012    B1150  ex 7112 30 00  ex 4017 00 00    A3050
1013    B1150  ex 7112 91 00  ex 4017 00 00   A3120
1014    B1150  ex 7112 92 00  ex 4017 00 00   B3040
1015    B1150  ex 7112 99 00  ex 4017 00 00   B3080
1016    B1160  ex 7112 30 00  ex 4017 00 00   B3140

[1017 rows x 4 columns]
1017
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1013    B1150  ex 7112 91 00  ex 4017 00 00   A3120
1014    B1150  ex 7112 92 00  ex 4017 00 00   B3040
1015    B1150  ex 7112 99 00  ex 4017 00 00   B3080
1016    B1160  ex 7112 30 00  ex 4017 00 00   B3140
1017    B1170  ex 7112 30 00  ex 4017 00 00   B4020

[1018 rows x 4 columns]
1018
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1014    B1150  ex 7112 92 00  ex 4017 00 00   B3040
1015    B1150  ex 7112 99 00  ex 4017 00 00   B3080
1016    B1160  ex 7112 30 00  ex 4017 00 00   B3140
1017    B1170  ex 7112 30 00  ex 4017 00 00   B4020
1018    B1180  ex 7112 99 00  ex 4115 20 00    A3090

[1019 rows x 4 columns]
1019
     Column_1       Column_2       Column_3  \
0         NaN            NaN            NaN
1       A1010  ex 2620 60 00  ex 0501 00 00
2       A1010  ex 2843 90 10  ex 0502 10 00
3       A1010  ex 2853 00 90  ex 0502 10 00
4       A1010  ex 3825 69 00  ex 0502 10 00
...       ...            ...            ...
1015    B1150  ex 7112 99 00  ex 4017 00 00
1016    B1160  ex 7112 30 00  ex 4017 00 00
1017    B1170  ex 7112 30 00  ex 4017 00 00
1018    B1180  ex 7112 99 00  ex 4115 20 00
1019    B1190  ex 7112 99 00  ex 4115 20 00

                                               Column_4
0                                                   NaN
1                                                 B3070
2                                                 A3110
3                                                B3110
4                                                GN010
...                                                 ...
1015                                             B3080
1016                                             B3140
1017                                             B4020
1018                                              A3090
1019  A3100 29.7.2016 L 204/47 Official Jour nal of ...

[1020 rows x 4 columns]
1020
     Column_1       Column_2       Column_3  \
0         NaN            NaN            NaN
1       A1010  ex 2620 60 00  ex 0501 00 00
2       A1010  ex 2843 90 10  ex 0502 10 00
3       A1010  ex 2853 00 90  ex 0502 10 00
4       A1010  ex 3825 69 00  ex 0502 10 00
...       ...            ...            ...
1016    B1160  ex 7112 30 00  ex 4017 00 00
1017    B1170  ex 7112 30 00  ex 4017 00 00
1018    B1180  ex 7112 99 00  ex 4115 20 00
1019    B1190  ex 7112 99 00  ex 4115 20 00
1020    B1200  ex 2618 00 00  ex 4115 20 00

                                               Column_4
0                                                   NaN
1                                                 B3070
2                                                 A3110
3                                                B3110
4                                                GN010
...                                                 ...
1016                                             B3140
1017                                             B4020
1018                                              A3090
1019  A3100 29.7.2016 L 204/47 Official Jour nal of ...
1020                                              B3090

[1021 rows x 4 columns]
1021
     Column_1       Column_2       Column_3  \
0         NaN            NaN            NaN
1       A1010  ex 2620 60 00  ex 0501 00 00
2       A1010  ex 2843 90 10  ex 0502 10 00
3       A1010  ex 2853 00 90  ex 0502 10 00
4       A1010  ex 3825 69 00  ex 0502 10 00
...       ...            ...            ...
1017    B1170  ex 7112 30 00  ex 4017 00 00
1018    B1180  ex 7112 99 00  ex 4115 20 00
1019    B1190  ex 7112 99 00  ex 4115 20 00
1020    B1200  ex 2618 00 00  ex 4115 20 00
1021    B1210  ex 2619 00 20  ex 4115 20 00

                                               Column_4
0                                                   NaN
1                                                 B3070
2                                                 A3110
3                                                B3110
4                                                GN010
...                                                 ...
1017                                             B4020
1018                                              A3090
1019  A3100 29.7.2016 L 204/47 Official Jour nal of ...
1020                                              B3090
1021                                             B3100

[1022 rows x 4 columns]
1022
     Column_1       Column_2       Column_3  \
0         NaN            NaN            NaN
1       A1010  ex 2620 60 00  ex 0501 00 00
2       A1010  ex 2843 90 10  ex 0502 10 00
3       A1010  ex 2853 00 90  ex 0502 10 00
4       A1010  ex 3825 69 00  ex 0502 10 00
...       ...            ...            ...
1018    B1180  ex 7112 99 00  ex 4115 20 00
1019    B1190  ex 7112 99 00  ex 4115 20 00
1020    B1200  ex 2618 00 00  ex 4115 20 00
1021    B1210  ex 2619 00 20  ex 4115 20 00
1022    B1210  ex 2619 00 90  ex 4302 20 00

                                               Column_4
0                                                   NaN
1                                                 B3070
2                                                 A3110
3                                                B3110
4                                                GN010
...                                                 ...
1018                                              A3090
1019  A3100 29.7.2016 L 204/47 Official Jour nal of ...
1020                                              B3090
1021                                             B3100
1022                                              A3110

[1023 rows x 4 columns]
1023
     Column_1       Column_2       Column_3  \
0         NaN            NaN            NaN
1       A1010  ex 2620 60 00  ex 0501 00 00
2       A1010  ex 2843 90 10  ex 0502 10 00
3       A1010  ex 2853 00 90  ex 0502 10 00
4       A1010  ex 3825 69 00  ex 0502 10 00
...       ...            ...            ...
1019    B1190  ex 7112 99 00  ex 4115 20 00
1020    B1200  ex 2618 00 00  ex 4115 20 00
1021    B1210  ex 2619 00 20  ex 4115 20 00
1022    B1210  ex 2619 00 90  ex 4302 20 00
1023    B1220  ex 2620 11 00  ex 4302 20 00

                                               Column_4
0                                                   NaN
1                                                 B3070
2                                                 A3110
3                                                B3110
4                                                GN010
...                                                 ...
1019  A3100 29.7.2016 L 204/47 Official Jour nal of ...
1020                                              B3090
1021                                             B3100
1022                                              A3110
1023                                             B3110

[1024 rows x 4 columns]
1024
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1020    B1200  ex 2618 00 00  ex 4115 20 00    B3090
1021    B1210  ex 2619 00 20  ex 4115 20 00   B3100
1022    B1210  ex 2619 00 90  ex 4302 20 00    A3110
1023    B1220  ex 2620 11 00  ex 4302 20 00   B3110
1024    B1220  ex 2620 19 00  ex 4401 10 00    B3050

[1025 rows x 4 columns]
1025
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1021    B1210  ex 2619 00 20  ex 4115 20 00   B3100
1022    B1210  ex 2619 00 90  ex 4302 20 00    A3110
1023    B1220  ex 2620 11 00  ex 4302 20 00   B3110
1024    B1220  ex 2620 19 00  ex 4401 10 00    B3050
1025    B1220  ex 2620 21 00  ex 4401 21 00    AC170

[1026 rows x 4 columns]
1026

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1022    B1210  ex 2619 00 90  ex 4302 20 00    A3110
1023    B1220  ex 2620 11 00  ex 4302 20 00   B3110
1024    B1220  ex 2620 19 00  ex 4401 10 00    B3050
1025    B1220  ex 2620 21 00  ex 4401 21 00    AC170
1026    B1220  ex 2620 29 00  ex 4401 21 00   B3050

[1027 rows x 4 columns]
1027
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1023    B1220  ex 2620 11 00  ex 4302 20 00   B3110
1024    B1220  ex 2620 19 00  ex 4401 10 00    B3050
1025    B1220  ex 2620 21 00  ex 4401 21 00    AC170
1026    B1220  ex 2620 29 00  ex 4401 21 00   B3050
1027    B1220  ex 2620 30 00  ex 4401 22 00    AC170

[1028 rows x 4 columns]
1028
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1024    B1220  ex 2620 19 00  ex 4401 10 00    B3050
1025    B1220  ex 2620 21 00  ex 4401 21 00    AC170
1026    B1220  ex 2620 29 00  ex 4401 21 00   B3050
1027    B1220  ex 2620 30 00  ex 4401 22 00    AC170
1028    B1220  ex 2620 40 00  ex 4401 22 00   B3050

[1029 rows x 4 columns]
1029
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1025    B1220  ex 2620 21 00  ex 4401 21 00    AC170
1026    B1220  ex 2620 29 00  ex 4401 21 00   B3050
1027    B1220  ex 2620 30 00  ex 4401 22 00    AC170
1028    B1220  ex 2620 40 00  ex 4401 22 00   B3050
1029    B1220  ex 2620 60 00  ex 4401 31 00    B3050

[1030 rows x 4 columns]
1030
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1026    B1220  ex 2620 29 00  ex 4401 21 00   B3050
1027    B1220  ex 2620 30 00  ex 4401 22 00    AC170
1028    B1220  ex 2620 40 00  ex 4401 22 00   B3050
1029    B1220  ex 2620 60 00  ex 4401 31 00    B3050
1030    B1220  ex 2620 91 00  ex 4401 39 20    AC170

[1031 rows x 4 columns]
1031
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1027    B1220  ex 2620 30 00  ex 4401 22 00    AC170
1028    B1220  ex 2620 40 00  ex 4401 22 00   B3050
1029    B1220  ex 2620 60 00  ex 4401 31 00    B3050
1030    B1220  ex 2620 91 00  ex 4401 39 20    AC170
1031    B1220  ex 2620 99 10  ex 4401 39 20   B3050

[1032 rows x 4 columns]
1032
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1028    B1220  ex 2620 40 00  ex 4401 22 00   B3050
1029    B1220  ex 2620 60 00  ex 4401 31 00    B3050
1030    B1220  ex 2620 91 00  ex 4401 39 20    AC170
1031    B1220  ex 2620 99 10  ex 4401 39 20   B3050
1032    B1220  ex 2620 99 20  ex 4401 39 30    AC170

[1033 rows x 4 columns]
1033
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1029    B1220  ex 2620 60 00  ex 4401 31 00    B3050
1030    B1220  ex 2620 91 00  ex 4401 39 20    AC170
1031    B1220  ex 2620 99 10  ex 4401 39 20   B3050
1032    B1220  ex 2620 99 20  ex 4401 39 30    AC170
1033    B1220  ex 2620 99 40  ex 4401 39 30   B3050

[1034 rows x 4 columns]
1034
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1030    B1220  ex 2620 91 00  ex 4401 39 20    AC170
1031    B1220  ex 2620 99 10  ex 4401 39 20   B3050
1032    B1220  ex 2620 99 20  ex 4401 39 30    AC170
1033    B1220  ex 2620 99 40  ex 4401 39 30   B3050
1034    B1220  ex 2620 99 60  ex 4401 39 80    A4130

[1035 rows x 4 columns]
1035
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1031    B1220  ex 2620 99 10  ex 4401 39 20   B3050
1032    B1220  ex 2620 99 20  ex 4401 39 30    AC170
1033    B1220  ex 2620 99 40  ex 4401 39 30   B3050
1034    B1220  ex 2620 99 60  ex 4401 39 80    A4130
1035    B1220  ex 2620 99 95  ex 4401 39 80   AC170

[1036 rows x 4 columns]
1036
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1032    B1220  ex 2620 99 20  ex 4401 39 30    AC170
1033    B1220  ex 2620 99 40  ex 4401 39 30   B3050
1034    B1220  ex 2620 99 60  ex 4401 39 80    A4130
1035    B1220  ex 2620 99 95  ex 4401 39 80   AC170
1036    B1220  ex 2621 90 00  ex 4401 39 80   B3050

[1037 rows x 4 columns]
1037
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1033    B1220  ex 2620 99 40  ex 4401 39 30   B3050
1034    B1220  ex 2620 99 60  ex 4401 39 80    A4130
1035    B1220  ex 2620 99 95  ex 4401 39 80   AC170
1036    B1220  ex 2621 90 00  ex 4401 39 80   B3050
1037    B1230  ex 2619 00 20  ex 4501 90 00    AC170

[1038 rows x 4 columns]
1038
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1034    B1220  ex 2620 99 60  ex 4401 39 80    A4130
1035    B1220  ex 2620 99 95  ex 4401 39 80   AC170
1036    B1220  ex 2621 90 00  ex 4401 39 80   B3050
1037    B1230  ex 2619 00 20  ex 4501 90 00    AC170
1038    B1230  ex 2619 00 90  ex 4501 90 00   B3050

[1039 rows x 4 columns]
1039
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1035    B1220  ex 2620 99 95  ex 4401 39 80   AC170
1036    B1220  ex 2621 90 00  ex 4401 39 80   B3050
1037    B1230  ex 2619 00 20  ex 4501 90 00    AC170
1038    B1230  ex 2619 00 90  ex 4501 90 00   B3050
1039    B1240  ex 2620 30 00  ex 4707 10 00    B3020

[1040 rows x 4 columns]
1040
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1036    B1220  ex 2621 90 00  ex 4401 39 80   B3050
1037    B1230  ex 2619 00 20  ex 4501 90 00    AC170
1038    B1230  ex 2619 00 90  ex 4501 90 00   B3050
1039    B1240  ex 2620 30 00  ex 4707 10 00    B3020
1040    B1240  ex 2621 90 00  ex 4707 20 00    B3020

[1041 rows x 4 columns]
1041
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1037    B1230  ex 2619 00 20  ex 4501 90 00    AC170
1038    B1230  ex 2619 00 90  ex 4501 90 00   B3050
1039    B1240  ex 2620 30 00  ex 4707 10 00    B3020
1040    B1240  ex 2621 90 00  ex 4707 20 00    B3020
1041    B1250  ex 7204 21 10  ex 4707 30 10    B3020

[1042 rows x 4 columns]
1042
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1038    B1230  ex 2619 00 90  ex 4501 90 00   B3050
1039    B1240  ex 2620 30 00  ex 4707 10 00    B3020
1040    B1240  ex 2621 90 00  ex 4707 20 00    B3020
1041    B1250  ex 7204 21 10  ex 4707 30 10    B3020
1042    B1250  ex 7204 21 90  ex 4707 30 90    B3020

[1043 rows x 4 columns]
1043
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1039    B1240  ex 2620 30 00  ex 4707 10 00    B3020
1040    B1240  ex 2621 90 00  ex 4707 20 00    B3020
1041    B1250  ex 7204 21 10  ex 4707 30 10    B3020
1042    B1250  ex 7204 21 90  ex 4707 30 90    B3020
1043    B1250  ex 7204 29 00  ex 4707 90 10    A4130

[1044 rows x 4 columns]
1044
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1040    B1240  ex 2621 90 00  ex 4707 20 00    B3020
1041    B1250  ex 7204 21 10  ex 4707 30 10    B3020
1042    B1250  ex 7204 21 90  ex 4707 30 90    B3020
1043    B1250  ex 7204 29 00  ex 4707 90 10    A4130
1044    B1250  ex 7204 30 00  ex 4707 90 10   B3020

[1045 rows x 4 columns]
1045
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1041    B1250  ex 7204 21 10  ex 4707 30 10    B3020
1042    B1250  ex 7204 21 90  ex 4707 30 90    B3020
1043    B1250  ex 7204 29 00  ex 4707 90 10    A4130
1044    B1250  ex 7204 30 00  ex 4707 90 10   B3020
1045    B1250  ex 7204 49 90  ex 4707 90 90    A4130

[1046 rows x 4 columns]
1046
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1042    B1250  ex 7204 21 90  ex 4707 30 90    B3020
1043    B1250  ex 7204 29 00  ex 4707 90 10    A4130
1044    B1250  ex 7204 30 00  ex 4707 90 10   B3020
1045    B1250  ex 7204 49 90  ex 4707 90 90    A4130
1046    B1250  ex 7602 00 19  ex 4707 90 90   B3020

[1047 rows x 4 columns]
1047
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1043    B1250  ex 7204 29 00  ex 4707 90 10    A4130
1044    B1250  ex 7204 30 00  ex 4707 90 10   B3020
1045    B1250  ex 7204 49 90  ex 4707 90 90    A4130
1046    B1250  ex 7602 00 19  ex 4707 90 90   B3020
1047    B1250  ex 7602 00 90  ex 4823 90 85    B3020

[1048 rows x 4 columns]
1048
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1044    B1250  ex 7204 30 00  ex 4707 90 10   B3020
1045    B1250  ex 7204 49 90  ex 4707 90 90    A4130
1046    B1250  ex 7602 00 19  ex 4707 90 90   B3020
1047    B1250  ex 7602 00 90  ex 4823 90 85    B3020
1048    B1250  ex 8427 10 10  ex 5003 00 00    B3030

[1049 rows x 4 columns]
1049
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1045    B1250  ex 7204 49 90  ex 4707 90 90    A4130
1046    B1250  ex 7602 00 19  ex 4707 90 90   B3020
1047    B1250  ex 7602 00 90  ex 4823 90 85    B3020
1048    B1250  ex 8427 10 10  ex 5003 00 00    B3030
1049    B1250  ex 8427 10 90  ex 5103 10 10    B3030

[1050 rows x 4 columns]
1050
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1046    B1250  ex 7602 00 19  ex 4707 90 90   B3020
1047    B1250  ex 7602 00 90  ex 4823 90 85    B3020
1048    B1250  ex 8427 10 10  ex 5003 00 00    B3030
1049    B1250  ex 8427 10 90  ex 5103 10 10    B3030
1050    B1250  ex 8427 20 11  ex 5103 10 90    B3030

[1051 rows x 4 columns]
1051
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1047    B1250  ex 7602 00 90  ex 4823 90 85    B3020
1048    B1250  ex 8427 10 10  ex 5003 00 00    B3030
1049    B1250  ex 8427 10 90  ex 5103 10 10    B3030
1050    B1250  ex 8427 20 11  ex 5103 10 90    B3030
1051    B1250  ex 8427 20 19  ex 5103 20 00    B3030

[1052 rows x 4 columns]
1052
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1048    B1250  ex 8427 10 10  ex 5003 00 00    B3030
1049    B1250  ex 8427 10 90  ex 5103 10 10    B3030
1050    B1250  ex 8427 20 11  ex 5103 10 90    B3030
1051    B1250  ex 8427 20 19  ex 5103 20 00    B3030
1052    B1250  ex 8427 20 90  ex 5103 30 00    B3030

[1053 rows x 4 columns]
1053
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1049    B1250  ex 8427 10 90  ex 5103 10 10    B3030
1050    B1250  ex 8427 20 11  ex 5103 10 90    B3030
1051    B1250  ex 8427 20 19  ex 5103 20 00    B3030
1052    B1250  ex 8427 20 90  ex 5103 30 00    B3030
1053    B1250  ex 8427 90 00  ex 5202 10 00    A3120

[1054 rows x 4 columns]
1054
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1050    B1250  ex 8427 20 11  ex 5103 10 90    B3030
1051    B1250  ex 8427 20 19  ex 5103 20 00    B3030
1052    B1250  ex 8427 20 90  ex 5103 30 00    B3030
1053    B1250  ex 8427 90 00  ex 5202 10 00    A3120
1054    B1250  ex 8433 11 10  ex 5202 10 00   B3030

[1055 rows x 4 columns]
1055
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1051    B1250  ex 8427 20 19  ex 5103 20 00    B3030
1052    B1250  ex 8427 20 90  ex 5103 30 00    B3030
1053    B1250  ex 8427 90 00  ex 5202 10 00    A3120
1054    B1250  ex 8433 11 10  ex 5202 10 00   B3030
1055    B1250  ex 8433 11 51  ex 5202 91 00    A3120

[1056 rows x 4 columns]
1056
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1052    B1250  ex 8427 20 90  ex 5103 30 00    B3030
1053    B1250  ex 8427 90 00  ex 5202 10 00    A3120
1054    B1250  ex 8433 11 10  ex 5202 10 00   B3030
1055    B1250  ex 8433 11 51  ex 5202 91 00    A3120
1056    B1250  ex 8433 19 10  ex 5202 91 00   B3030

[1057 rows x 4 columns]
1057
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1053    B1250  ex 8427 90 00  ex 5202 10 00    A3120
1054    B1250  ex 8433 11 10  ex 5202 10 00   B3030
1055    B1250  ex 8433 11 51  ex 5202 91 00    A3120
1056    B1250  ex 8433 19 10  ex 5202 91 00   B3030
1057    B1250  ex 8433 19 51  ex 5202 99 00    A3120

[1058 rows x 4 columns]
1058
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1054    B1250  ex 8433 11 10  ex 5202 10 00   B3030
1055    B1250  ex 8433 11 51  ex 5202 91 00    A3120
1056    B1250  ex 8433 19 10  ex 5202 91 00   B3030
1057    B1250  ex 8433 19 51  ex 5202 99 00    A3120
1058    B1250  ex 8433 20 10  ex 5202 99 00   B3030

[1059 rows x 4 columns]
1059
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1055    B1250  ex 8433 11 51  ex 5202 91 00    A3120
1056    B1250  ex 8433 19 10  ex 5202 91 00   B3030
1057    B1250  ex 8433 19 51  ex 5202 99 00    A3120
1058    B1250  ex 8433 20 10  ex 5202 99 00   B3030
1059    B1250  ex 8433 30 00  ex 5301 30 00    B3030

[1060 rows x 4 columns]
1060
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1056    B1250  ex 8433 19 10  ex 5202 91 00   B3030
1057    B1250  ex 8433 19 51  ex 5202 99 00    A3120
1058    B1250  ex 8433 20 10  ex 5202 99 00   B3030
1059    B1250  ex 8433 30 00  ex 5301 30 00    B3030
1060    B1250  ex 8433 51 00  ex 5302 90 00    B3030

[1061 rows x 4 columns]
1061
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1057    B1250  ex 8433 19 51  ex 5202 99 00    A3120
1058    B1250  ex 8433 20 10  ex 5202 99 00   B3030
1059    B1250  ex 8433 30 00  ex 5301 30 00    B3030
1060    B1250  ex 8433 51 00  ex 5302 90 00    B3030
1061    B1250  ex 8433 53 10  ex 5303 90 00    B3030

[1062 rows x 4 columns]
1062
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1058    B1250  ex 8433 20 10  ex 5202 99 00   B3030
1059    B1250  ex 8433 30 00  ex 5301 30 00    B3030
1060    B1250  ex 8433 51 00  ex 5302 90 00    B3030
1061    B1250  ex 8433 53 10  ex 5303 90 00    B3030
1062    B1250  ex 8433 53 30  ex 5305 00 00    B3030

[1063 rows x 4 columns]
1063
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1059    B1250  ex 8433 30 00  ex 5301 30 00    B3030
1060    B1250  ex 8433 51 00  ex 5302 90 00    B3030
1061    B1250  ex 8433 53 10  ex 5303 90 00    B3030
1062    B1250  ex 8433 53 30  ex 5305 00 00    B3030
1063    B1250  ex 8433 53 90  ex 5505 10 10    A3120

[1064 rows x 4 columns]
1064
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1060    B1250  ex 8433 51 00  ex 5302 90 00    B3030
1061    B1250  ex 8433 53 10  ex 5303 90 00    B3030
1062    B1250  ex 8433 53 30  ex 5305 00 00    B3030
1063    B1250  ex 8433 53 90  ex 5505 10 10    A3120
1064    B1250  ex 8433 59 11  ex 5505 10 10   B3030

[1065 rows x 4 columns]
1065
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1061    B1250  ex 8433 53 10  ex 5303 90 00    B3030
1062    B1250  ex 8433 53 30  ex 5305 00 00    B3030
1063    B1250  ex 8433 53 90  ex 5505 10 10    A3120
1064    B1250  ex 8433 59 11  ex 5505 10 10   B3030
1065    B1250  ex 8433 59 19  ex 5505 10 30    A3120

[1066 rows x 4 columns]
1066
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1062    B1250  ex 8433 53 30  ex 5305 00 00    B3030
1063    B1250  ex 8433 53 90  ex 5505 10 10    A3120
1064    B1250  ex 8433 59 11  ex 5505 10 10   B3030
1065    B1250  ex 8433 59 19  ex 5505 10 30    A3120
1066    B1250  ex 8433 59 85  ex 5505 10 30   B3030

[1067 rows x 4 columns]
1067
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1063    B1250  ex 8433 53 90  ex 5505 10 10    A3120
1064    B1250  ex 8433 59 11  ex 5505 10 10   B3030
1065    B1250  ex 8433 59 19  ex 5505 10 30    A3120
1066    B1250  ex 8433 59 85  ex 5505 10 30   B3030
1067    B1250  ex 8436 80 10  ex 5505 10 50    A3120

[1068 rows x 4 columns]
1068
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1064    B1250  ex 8433 59 11  ex 5505 10 10   B3030
1065    B1250  ex 8433 59 19  ex 5505 10 30    A3120
1066    B1250  ex 8433 59 85  ex 5505 10 30   B3030
1067    B1250  ex 8436 80 10  ex 5505 10 50    A3120
1068    B1250  ex 8473 10 00  ex 5505 10 50   B3030

[1069 rows x 4 columns]
1069
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1065    B1250  ex 8433 59 19  ex 5505 10 30    A3120
1066    B1250  ex 8433 59 85  ex 5505 10 30   B3030
1067    B1250  ex 8436 80 10  ex 5505 10 50    A3120
1068    B1250  ex 8473 10 00  ex 5505 10 50   B3030
1069    B1250  ex 8479 10 00  ex 5505 10 70    A3120

[1070 rows x 4 columns]
1070
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1066    B1250  ex 8433 59 85  ex 5505 10 30   B3030
1067    B1250  ex 8436 80 10  ex 5505 10 50    A3120
1068    B1250  ex 8473 10 00  ex 5505 10 50   B3030
1069    B1250  ex 8479 10 00  ex 5505 10 70    A3120
1070    B1250  ex 8479 89 97  ex 5505 10 70   B3030

[1071 rows x 4 columns]
1071

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1067    B1250  ex 8436 80 10  ex 5505 10 50    A3120
1068    B1250  ex 8473 10 00  ex 5505 10 50   B3030
1069    B1250  ex 8479 10 00  ex 5505 10 70    A3120
1070    B1250  ex 8479 89 97  ex 5505 10 70   B3030
1071    B1250  ex 8497 89 97  ex 5505 10 90    A3120

[1072 rows x 4 columns]
1072
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1068    B1250  ex 8473 10 00  ex 5505 10 50   B3030
1069    B1250  ex 8479 10 00  ex 5505 10 70    A3120
1070    B1250  ex 8479 89 97  ex 5505 10 70   B3030
1071    B1250  ex 8497 89 97  ex 5505 10 90    A3120
1072    B1250  ex 8701 10 00  ex 5505 10 90   B3030

[1073 rows x 4 columns]
1073
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1069    B1250  ex 8479 10 00  ex 5505 10 70    A3120
1070    B1250  ex 8479 89 97  ex 5505 10 70   B3030
1071    B1250  ex 8497 89 97  ex 5505 10 90    A3120
1072    B1250  ex 8701 10 00  ex 5505 10 90   B3030
1073    B1250  ex 8701 20 90  ex 5505 20 00    A3120

[1074 rows x 4 columns]
1074
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1070    B1250  ex 8479 89 97  ex 5505 10 70   B3030
1071    B1250  ex 8497 89 97  ex 5505 10 90    A3120
1072    B1250  ex 8701 10 00  ex 5505 10 90   B3030
1073    B1250  ex 8701 20 90  ex 5505 20 00    A3120
1074    B1250  ex 8701 30 00  ex 5505 20 00   B3030

[1075 rows x 4 columns]
1075
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1071    B1250  ex 8497 89 97  ex 5505 10 90    A3120
1072    B1250  ex 8701 10 00  ex 5505 10 90   B3030
1073    B1250  ex 8701 20 90  ex 5505 20 00    A3120
1074    B1250  ex 8701 30 00  ex 5505 20 00   B3030
1075    B1250  ex 8701 90 50  ex 5701 10 10    B3035

[1076 rows x 4 columns]
1076
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1072    B1250  ex 8701 10 00  ex 5505 10 90   B3030
1073    B1250  ex 8701 20 90  ex 5505 20 00    A3120
1074    B1250  ex 8701 30 00  ex 5505 20 00   B3030
1075    B1250  ex 8701 90 50  ex 5701 10 10    B3035
1076    B1250  ex 8701 90 90  ex 5701 10 90    B3035

[1077 rows x 4 columns]
1077
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1073    B1250  ex 8701 20 90  ex 5505 20 00    A3120
1074    B1250  ex 8701 30 00  ex 5505 20 00   B3030
1075    B1250  ex 8701 90 50  ex 5701 10 10    B3035
1076    B1250  ex 8701 90 90  ex 5701 10 90    B3035
1077    B1250  ex 8702 10 19  ex 5701 90 10    B3035

[1078 rows x 4 columns]
1078
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1074    B1250  ex 8701 30 00  ex 5505 20 00   B3030
1075    B1250  ex 8701 90 50  ex 5701 10 10    B3035
1076    B1250  ex 8701 90 90  ex 5701 10 90    B3035
1077    B1250  ex 8702 10 19  ex 5701 90 10    B3035
1078    B1250  ex 8702 10 99  ex 5701 90 90    B3035

[1079 rows x 4 columns]
1079
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1075    B1250  ex 8701 90 50  ex 5701 10 10    B3035
1076    B1250  ex 8701 90 90  ex 5701 10 90    B3035
1077    B1250  ex 8702 10 19  ex 5701 90 10    B3035
1078    B1250  ex 8702 10 99  ex 5701 90 90    B3035
1079    B1250  ex 8702 90 19  ex 5904 90 00    B3035

[1080 rows x 4 columns]
1080
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1076    B1250  ex 8701 90 90  ex 5701 10 90    B3035
1077    B1250  ex 8702 10 19  ex 5701 90 10    B3035
1078    B1250  ex 8702 10 99  ex 5701 90 90    B3035
1079    B1250  ex 8702 90 19  ex 5904 90 00    B3035
1080    B1250  ex 8702 90 39  ex 6309 00 00    B3030

[1081 rows x 4 columns]
1081
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1077    B1250  ex 8702 10 19  ex 5701 90 10    B3035
1078    B1250  ex 8702 10 99  ex 5701 90 90    B3035
1079    B1250  ex 8702 90 19  ex 5904 90 00    B3035
1080    B1250  ex 8702 90 39  ex 6309 00 00    B3030
1081    B1250  ex 8702 90 90  ex 6309 00 00   B3035

[1082 rows x 4 columns]
1082
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1078    B1250  ex 8702 10 99  ex 5701 90 90    B3035
1079    B1250  ex 8702 90 19  ex 5904 90 00    B3035
1080    B1250  ex 8702 90 39  ex 6309 00 00    B3030
1081    B1250  ex 8702 90 90  ex 6309 00 00   B3035
1082    B1250  ex 8703 10 11  ex 6309 00 00   B3040

[1083 rows x 4 columns]
1083
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1079    B1250  ex 8702 90 19  ex 5904 90 00    B3035
1080    B1250  ex 8702 90 39  ex 6309 00 00    B3030
1081    B1250  ex 8702 90 90  ex 6309 00 00   B3035
1082    B1250  ex 8703 10 11  ex 6309 00 00   B3040
1083    B1250  ex 8703 10 18  ex 6310 10 00    A4100

[1084 rows x 4 columns]
1084
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1080    B1250  ex 8702 90 39  ex 6309 00 00    B3030
1081    B1250  ex 8702 90 90  ex 6309 00 00   B3035
1082    B1250  ex 8703 10 11  ex 6309 00 00   B3040
1083    B1250  ex 8703 10 18  ex 6310 10 00    A4100
1084    B1250  ex 8703 21 90  ex 6310 10 00   A4130

[1085 rows x 4 columns]
1085
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1081    B1250  ex 8702 90 90  ex 6309 00 00   B3035
1082    B1250  ex 8703 10 11  ex 6309 00 00   B3040
1083    B1250  ex 8703 10 18  ex 6310 10 00    A4100
1084    B1250  ex 8703 21 90  ex 6310 10 00   A4130
1085    B1250  ex 8703 22 90  ex 6310 10 00   B3030

[1086 rows x 4 columns]
1086
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1082    B1250  ex 8703 10 11  ex 6309 00 00   B3040
1083    B1250  ex 8703 10 18  ex 6310 10 00    A4100
1084    B1250  ex 8703 21 90  ex 6310 10 00   A4130
1085    B1250  ex 8703 22 90  ex 6310 10 00   B3030
1086    B1250  ex 8703 23 90  ex 6310 90 00    A3120

[1087 rows x 4 columns]
1087
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1083    B1250  ex 8703 10 18  ex 6310 10 00    A4100
1084    B1250  ex 8703 21 90  ex 6310 10 00   A4130
1085    B1250  ex 8703 22 90  ex 6310 10 00   B3030
1086    B1250  ex 8703 23 90  ex 6310 90 00    A3120
1087    B1250  ex 8703 24 90  ex 6310 90 00   A4100

[1088 rows x 4 columns]
1088
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1084    B1250  ex 8703 21 90  ex 6310 10 00   A4130
1085    B1250  ex 8703 22 90  ex 6310 10 00   B3030
1086    B1250  ex 8703 23 90  ex 6310 90 00    A3120
1087    B1250  ex 8703 24 90  ex 6310 90 00   A4100
1088    B1250  ex 8703 31 90  ex 6310 90 00   A4130

[1089 rows x 4 columns]
1089
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1085    B1250  ex 8703 22 90  ex 6310 10 00   B3030
1086    B1250  ex 8703 23 90  ex 6310 90 00    A3120
1087    B1250  ex 8703 24 90  ex 6310 90 00   A4100
1088    B1250  ex 8703 31 90  ex 6310 90 00   A4130
1089    B1250  ex 8703 32 90  ex 6310 90 00   B3030

[1090 rows x 4 columns]
1090
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1086    B1250  ex 8703 23 90  ex 6310 90 00    A3120
1087    B1250  ex 8703 24 90  ex 6310 90 00   A4100
1088    B1250  ex 8703 31 90  ex 6310 90 00   A4130
1089    B1250  ex 8703 32 90  ex 6310 90 00   B3030
1090    B1250  ex 8703 33 90  ex 6804 10 00    AB030

[1091 rows x 4 columns]
1091
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1087    B1250  ex 8703 24 90  ex 6310 90 00   A4100
1088    B1250  ex 8703 31 90  ex 6310 90 00   A4130
1089    B1250  ex 8703 32 90  ex 6310 90 00   B3030
1090    B1250  ex 8703 33 90  ex 6804 10 00    AB030
1091    B1250  ex 8703 90 10  ex 6804 21 00    AB030

[1092 rows x 4 columns]
1092
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1088    B1250  ex 8703 31 90  ex 6310 90 00   A4130
1089    B1250  ex 8703 32 90  ex 6310 90 00   B3030
1090    B1250  ex 8703 33 90  ex 6804 10 00    AB030
1091    B1250  ex 8703 90 10  ex 6804 21 00    AB030
1092    B1250  ex 8703 90 90  ex 6804 22 12    AB030

[1093 rows x 4 columns]
1093
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1089    B1250  ex 8703 32 90  ex 6310 90 00   B3030
1090    B1250  ex 8703 33 90  ex 6804 10 00    AB030
1091    B1250  ex 8703 90 10  ex 6804 21 00    AB030
1092    B1250  ex 8703 90 90  ex 6804 22 12    AB030
1093    B1250  ex 8704 10 10  ex 6804 22 18    AB030

[1094 rows x 4 columns]
1094
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1090    B1250  ex 8703 33 90  ex 6804 10 00    AB030
1091    B1250  ex 8703 90 10  ex 6804 21 00    AB030
1092    B1250  ex 8703 90 90  ex 6804 22 12    AB030
1093    B1250  ex 8704 10 10  ex 6804 22 18    AB030
1094    B1250  ex 8704 10 90  ex 6804 22 30    AB030

[1095 rows x 4 columns]
1095
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1091    B1250  ex 8703 90 10  ex 6804 21 00    AB030
1092    B1250  ex 8703 90 90  ex 6804 22 12    AB030
1093    B1250  ex 8704 10 10  ex 6804 22 18    AB030
1094    B1250  ex 8704 10 90  ex 6804 22 30    AB030
1095    B1250  ex 8704 21 39  ex 6804 22 30   GF010

[1096 rows x 4 columns]
1096
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1092    B1250  ex 8703 90 90  ex 6804 22 12    AB030
1093    B1250  ex 8704 10 10  ex 6804 22 18    AB030
1094    B1250  ex 8704 10 90  ex 6804 22 30    AB030
1095    B1250  ex 8704 21 39  ex 6804 22 30   GF010
1096    B1250  ex 8704 21 99  ex 6804 22 50    AB030

[1097 rows x 4 columns]
1097
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1093    B1250  ex 8704 10 10  ex 6804 22 18    AB030
1094    B1250  ex 8704 10 90  ex 6804 22 30    AB030
1095    B1250  ex 8704 21 39  ex 6804 22 30   GF010
1096    B1250  ex 8704 21 99  ex 6804 22 50    AB030
1097    B1250  ex 8704 22 99  ex 6804 22 90    AB030

[1098 rows x 4 columns]
1098
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1094    B1250  ex 8704 10 90  ex 6804 22 30    AB030
1095    B1250  ex 8704 21 39  ex 6804 22 30   GF010
1096    B1250  ex 8704 21 99  ex 6804 22 50    AB030
1097    B1250  ex 8704 22 99  ex 6804 22 90    AB030
1098    B1250  ex 8704 23 99  ex 6804 23 00    AB030

[1099 rows x 4 columns]
1099
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1095    B1250  ex 8704 21 39  ex 6804 22 30   GF010
1096    B1250  ex 8704 21 99  ex 6804 22 50    AB030
1097    B1250  ex 8704 22 99  ex 6804 22 90    AB030
1098    B1250  ex 8704 23 99  ex 6804 23 00    AB030
1099    B1250  ex 8704 31 39  ex 6804 30 00    AB030

[1100 rows x 4 columns]
1100
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1096    B1250  ex 8704 21 99  ex 6804 22 50    AB030
1097    B1250  ex 8704 22 99  ex 6804 22 90    AB030
1098    B1250  ex 8704 23 99  ex 6804 23 00    AB030
1099    B1250  ex 8704 31 39  ex 6804 30 00    AB030
1100    B1250  ex 8704 31 99  ex 6805 10 00    AB030

[1101 rows x 4 columns]
1101
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1097    B1250  ex 8704 22 99  ex 6804 22 90    AB030
1098    B1250  ex 8704 23 99  ex 6804 23 00    AB030
1099    B1250  ex 8704 31 39  ex 6804 30 00    AB030
1100    B1250  ex 8704 31 99  ex 6805 10 00    AB030
1101    B1250  ex 8704 32 99  ex 6805 20 00    AB030

[1102 rows x 4 columns]
1102
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1098    B1250  ex 8704 23 99  ex 6804 23 00    AB030
1099    B1250  ex 8704 31 39  ex 6804 30 00    AB030
1100    B1250  ex 8704 31 99  ex 6805 10 00    AB030
1101    B1250  ex 8704 32 99  ex 6805 20 00    AB030
1102    B1250  ex 8704 90 00  ex 6805 30 00    AB030

[1103 rows x 4 columns]
1103
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1099    B1250  ex 8704 31 39  ex 6804 30 00    AB030
1100    B1250  ex 8704 31 99  ex 6805 10 00    AB030
1101    B1250  ex 8704 32 99  ex 6805 20 00    AB030
1102    B1250  ex 8704 90 00  ex 6805 30 00    AB030
1103    B1250        ex 8705  ex 6806 10 00    B2030

[1104 rows x 4 columns]
1104
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1100    B1250  ex 8704 31 99  ex 6805 10 00    AB030
1101    B1250  ex 8704 32 99  ex 6805 20 00    AB030
1102    B1250  ex 8704 90 00  ex 6805 30 00    AB030
1103    B1250        ex 8705  ex 6806 10 00    B2030
1104    B1250  ex 8709 11 10  ex 6806 10 00   RB020

[1105 rows x 4 columns]
1105
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1101    B1250  ex 8704 32 99  ex 6805 20 00    AB030
1102    B1250  ex 8704 90 00  ex 6805 30 00    AB030
1103    B1250        ex 8705  ex 6806 10 00    B2030
1104    B1250  ex 8709 11 10  ex 6806 10 00   RB020
1105    B1250  ex 8709 11 90  ex 6806 90 00    B2030

[1106 rows x 4 columns]
1106
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1102    B1250  ex 8704 90 00  ex 6805 30 00    AB030
1103    B1250        ex 8705  ex 6806 10 00    B2030
1104    B1250  ex 8709 11 10  ex 6806 10 00   RB020
1105    B1250  ex 8709 11 90  ex 6806 90 00    B2030
1106    B1250  ex 8709 19 10  ex 6806 90 00   RB020

[1107 rows x 4 columns]
1107
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1103    B1250        ex 8705  ex 6806 10 00    B2030
1104    B1250  ex 8709 11 10  ex 6806 10 00   RB020
1105    B1250  ex 8709 11 90  ex 6806 90 00    B2030
1106    B1250  ex 8709 19 10  ex 6806 90 00   RB020
1107    B1250  ex 8709 19 90  ex 6809 11 00    B2040

[1108 rows x 4 columns]
1108
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1104    B1250  ex 8709 11 10  ex 6806 10 00   RB020
1105    B1250  ex 8709 11 90  ex 6806 90 00    B2030
1106    B1250  ex 8709 19 10  ex 6806 90 00   RB020
1107    B1250  ex 8709 19 90  ex 6809 11 00    B2040
1108    B1250  ex 8710 00 00  ex 6809 19 00    B2040

[1109 rows x 4 columns]
1109
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1105    B1250  ex 8709 11 90  ex 6806 90 00    B2030
1106    B1250  ex 8709 19 10  ex 6806 90 00   RB020
1107    B1250  ex 8709 19 90  ex 6809 11 00    B2040
1108    B1250  ex 8710 00 00  ex 6809 19 00    B2040
1109    B1250        ex 8711          ex 69    GF010

[1110 rows x 4 columns]
1110
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1106    B1250  ex 8709 19 10  ex 6806 90 00   RB020
1107    B1250  ex 8709 19 90  ex 6809 11 00    B2040
1108    B1250  ex 8710 00 00  ex 6809 19 00    B2040
1109    B1250        ex 8711          ex 69    GF010
1110    B1250  ex 8713 90 00  ex 7001 00 10    A2010

[1111 rows x 4 columns]
1111
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1107    B1250  ex 8709 19 90  ex 6809 11 00    B2040
1108    B1250  ex 8710 00 00  ex 6809 19 00    B2040
1109    B1250        ex 8711          ex 69    GF010
1110    B1250  ex 8713 90 00  ex 7001 00 10    A2010
1111    B1250  ex 9705 00 00  ex 7001 00 10    A3120

[1112 rows x 4 columns]
1112
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1108    B1250  ex 8710 00 00  ex 6809 19 00    B2040
1109    B1250        ex 8711          ex 69    GF010
1110    B1250  ex 8713 90 00  ex 7001 00 10    A2010
1111    B1250  ex 9705 00 00  ex 7001 00 10    A3120
1112    B2010  ex 2501 00 31  ex 7001 00 10   A4130

[1113 rows x 4 columns]
1113
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1109    B1250        ex 8711          ex 69    GF010
1110    B1250  ex 8713 90 00  ex 7001 00 10    A2010
1111    B1250  ex 9705 00 00  ex 7001 00 10    A3120
1112    B2010  ex 2501 00 31  ex 7001 00 10   A4130
1113    B2010  ex 2501 00 51  ex 7001 00 10   B2020

[1114 rows x 4 columns]
1114
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1110    B1250  ex 8713 90 00  ex 7001 00 10    A2010
1111    B1250  ex 9705 00 00  ex 7001 00 10    A3120
1112    B2010  ex 2501 00 31  ex 7001 00 10   A4130
1113    B2010  ex 2501 00 51  ex 7001 00 10   B2020
1114    B2010  ex 2501 00 99  ex 7001 00 10   B2040

[1115 rows x 4 columns]
1115
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1111    B1250  ex 9705 00 00  ex 7001 00 10    A3120
1112    B2010  ex 2501 00 31  ex 7001 00 10   A4130
1113    B2010  ex 2501 00 51  ex 7001 00 10   B2020
1114    B2010  ex 2501 00 99  ex 7001 00 10   B2040
1115    B2010  ex 2502 00 00  ex 7001 00 10   GE020

[1116 rows x 4 columns]
1116
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1112    B2010  ex 2501 00 31  ex 7001 00 10   A4130
1113    B2010  ex 2501 00 51  ex 7001 00 10   B2020
1114    B2010  ex 2501 00 99  ex 7001 00 10   B2040
1115    B2010  ex 2502 00 00  ex 7001 00 10   GE020
1116    B2010  ex 2504 10 00  ex 7019 11 00    GE020

[1117 rows x 4 columns]
1117
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1113    B2010  ex 2501 00 51  ex 7001 00 10   B2020
1114    B2010  ex 2501 00 99  ex 7001 00 10   B2040
1115    B2010  ex 2502 00 00  ex 7001 00 10   GE020
1116    B2010  ex 2504 10 00  ex 7019 11 00    GE020
1117    B2010  ex 2504 90 00  ex 7019 19 10    GE020

[1118 rows x 4 columns]
1118
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1114    B2010  ex 2501 00 99  ex 7001 00 10   B2040
1115    B2010  ex 2502 00 00  ex 7001 00 10   GE020
1116    B2010  ex 2504 10 00  ex 7019 11 00    GE020
1117    B2010  ex 2504 90 00  ex 7019 19 10    GE020
1118    B2010  ex 2506 10 00  ex 7019 19 90    GE020

[1119 rows x 4 columns]
1119
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1115    B2010  ex 2502 00 00  ex 7001 00 10   GE020
1116    B2010  ex 2504 10 00  ex 7019 11 00    GE020
1117    B2010  ex 2504 90 00  ex 7019 19 10    GE020
1118    B2010  ex 2506 10 00  ex 7019 19 90    GE020
1119    B2010  ex 2506 20 00  ex 7019 90 00    GE020

[1120 rows x 4 columns]
1120
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1116    B2010  ex 2504 10 00  ex 7019 11 00    GE020
1117    B2010  ex 2504 90 00  ex 7019 19 10    GE020
1118    B2010  ex 2506 10 00  ex 7019 19 90    GE020
1119    B2010  ex 2506 20 00  ex 7019 90 00    GE020
1120    B2010  ex 2507 00 20  ex 7106 10 00    B1031

[1121 rows x 4 columns]
1121
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1117    B2010  ex 2504 90 00  ex 7019 19 10    GE020
1118    B2010  ex 2506 10 00  ex 7019 19 90    GE020
1119    B2010  ex 2506 20 00  ex 7019 90 00    GE020
1120    B2010  ex 2507 00 20  ex 7106 10 00    B1031
1121    B2010  ex 2507 00 80  ex 7106 10 00   B1150

[1122 rows x 4 columns]
1122
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1118    B2010  ex 2506 10 00  ex 7019 19 90    GE020
1119    B2010  ex 2506 20 00  ex 7019 90 00    GE020
1120    B2010  ex 2507 00 20  ex 7106 10 00    B1031
1121    B2010  ex 2507 00 80  ex 7106 10 00   B1150
1122    B2010  ex 2508 10 00  ex 7107 00 00    B1031

[1123 rows x 4 columns]
1123
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1119    B2010  ex 2506 20 00  ex 7019 90 00    GE020
1120    B2010  ex 2507 00 20  ex 7106 10 00    B1031
1121    B2010  ex 2507 00 80  ex 7106 10 00   B1150
1122    B2010  ex 2508 10 00  ex 7107 00 00    B1031
1123    B2010  ex 2508 30 00  ex 7108 11 00    B1031

[1124 rows x 4 columns]
1124
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1120    B2010  ex 2507 00 20  ex 7106 10 00    B1031
1121    B2010  ex 2507 00 80  ex 7106 10 00   B1150
1122    B2010  ex 2508 10 00  ex 7107 00 00    B1031
1123    B2010  ex 2508 30 00  ex 7108 11 00    B1031
1124    B2010  ex 2508 40 00  ex 7108 11 00   B1150

[1125 rows x 4 columns]
1125
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1121    B2010  ex 2507 00 80  ex 7106 10 00   B1150
1122    B2010  ex 2508 10 00  ex 7107 00 00    B1031
1123    B2010  ex 2508 30 00  ex 7108 11 00    B1031
1124    B2010  ex 2508 40 00  ex 7108 11 00   B1150
1125    B2010  ex 2508 50 00  ex 7109 00 00    B1031

[1126 rows x 4 columns]
1126
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1122    B2010  ex 2508 10 00  ex 7107 00 00    B1031
1123    B2010  ex 2508 30 00  ex 7108 11 00    B1031
1124    B2010  ex 2508 40 00  ex 7108 11 00   B1150
1125    B2010  ex 2508 50 00  ex 7109 00 00    B1031
1126    B2010  ex 2508 60 00  ex 7110 11 00    B1031

[1127 rows x 4 columns]
1127
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1123    B2010  ex 2508 30 00  ex 7108 11 00    B1031
1124    B2010  ex 2508 40 00  ex 7108 11 00   B1150
1125    B2010  ex 2508 50 00  ex 7109 00 00    B1031
1126    B2010  ex 2508 60 00  ex 7110 11 00    B1031
1127    B2010  ex 2508 70 00  ex 7110 11 00   B1150

[1128 rows x 4 columns]
1128
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1124    B2010  ex 2508 40 00  ex 7108 11 00   B1150
1125    B2010  ex 2508 50 00  ex 7109 00 00    B1031
1126    B2010  ex 2508 60 00  ex 7110 11 00    B1031
1127    B2010  ex 2508 70 00  ex 7110 11 00   B1150
1128    B2010  ex 2509 00 00  ex 7110 11 00   GC050

[1129 rows x 4 columns]
1129
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1125    B2010  ex 2508 50 00  ex 7109 00 00    B1031
1126    B2010  ex 2508 60 00  ex 7110 11 00    B1031
1127    B2010  ex 2508 70 00  ex 7110 11 00   B1150
1128    B2010  ex 2509 00 00  ex 7110 11 00   GC050
1129    B2010  ex 2510 10 00  ex 7110 19 10    GC050

[1130 rows x 4 columns]
1130
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1126    B2010  ex 2508 60 00  ex 7110 11 00    B1031
1127    B2010  ex 2508 70 00  ex 7110 11 00   B1150
1128    B2010  ex 2509 00 00  ex 7110 11 00   GC050
1129    B2010  ex 2510 10 00  ex 7110 19 10    GC050
1130    B2010  ex 2510 20 00  ex 7110 19 80    GC050

[1131 rows x 4 columns]
1131
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1127    B2010  ex 2508 70 00  ex 7110 11 00   B1150
1128    B2010  ex 2509 00 00  ex 7110 11 00   GC050
1129    B2010  ex 2510 10 00  ex 7110 19 10    GC050
1130    B2010  ex 2510 20 00  ex 7110 19 80    GC050
1131    B2010  ex 2511 10 00  ex 7110 21 00    B1031

[1132 rows x 4 columns]
1132
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1128    B2010  ex 2509 00 00  ex 7110 11 00   GC050
1129    B2010  ex 2510 10 00  ex 7110 19 10    GC050
1130    B2010  ex 2510 20 00  ex 7110 19 80    GC050
1131    B2010  ex 2511 10 00  ex 7110 21 00    B1031
1132    B2010  ex 2511 20 00  ex 7110 21 00   B1150

[1133 rows x 4 columns]
1133
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1129    B2010  ex 2510 10 00  ex 7110 19 10    GC050
1130    B2010  ex 2510 20 00  ex 7110 19 80    GC050
1131    B2010  ex 2511 10 00  ex 7110 21 00    B1031
1132    B2010  ex 2511 20 00  ex 7110 21 00   B1150
1133    B2010  ex 2512 00 00  ex 7110 31 00    B1031

[1134 rows x 4 columns]
1134
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1130    B2010  ex 2510 20 00  ex 7110 19 80    GC050
1131    B2010  ex 2511 10 00  ex 7110 21 00    B1031
1132    B2010  ex 2511 20 00  ex 7110 21 00   B1150
1133    B2010  ex 2512 00 00  ex 7110 31 00    B1031
1134    B2010  ex 2513 10 00  ex 7110 31 00   B1150

[1135 rows x 4 columns]
1135
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1131    B2010  ex 2511 10 00  ex 7110 21 00    B1031
1132    B2010  ex 2511 20 00  ex 7110 21 00   B1150
1133    B2010  ex 2512 00 00  ex 7110 31 00    B1031
1134    B2010  ex 2513 10 00  ex 7110 31 00   B1150
1135    B2010  ex 2513 20 00  ex 7110 41 00    B1031

[1136 rows x 4 columns]
1136
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1132    B2010  ex 2511 20 00  ex 7110 21 00   B1150
1133    B2010  ex 2512 00 00  ex 7110 31 00    B1031
1134    B2010  ex 2513 10 00  ex 7110 31 00   B1150
1135    B2010  ex 2513 20 00  ex 7110 41 00    B1031
1136    B2010  ex 2514 00 00  ex 7110 41 00   B1150

[1137 rows x 4 columns]
1137
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1133    B2010  ex 2512 00 00  ex 7110 31 00    B1031
1134    B2010  ex 2513 10 00  ex 7110 31 00   B1150
1135    B2010  ex 2513 20 00  ex 7110 41 00    B1031
1136    B2010  ex 2514 00 00  ex 7110 41 00   B1150
1137    B2010  ex 2515 11 00  ex 7111 00 00    B1031

[1138 rows x 4 columns]
1138
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1134    B2010  ex 2513 10 00  ex 7110 31 00   B1150
1135    B2010  ex 2513 20 00  ex 7110 41 00    B1031
1136    B2010  ex 2514 00 00  ex 7110 41 00   B1150
1137    B2010  ex 2515 11 00  ex 7111 00 00    B1031
1138    B2010  ex 2515 12 00  ex 7112 30 00    A1150

[1139 rows x 4 columns]
1139
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1135    B2010  ex 2513 20 00  ex 7110 41 00    B1031
1136    B2010  ex 2514 00 00  ex 7110 41 00   B1150
1137    B2010  ex 2515 11 00  ex 7111 00 00    B1031
1138    B2010  ex 2515 12 00  ex 7112 30 00    A1150
1139    B2010  ex 2515 20 00  ex 7112 30 00   B1031

[1140 rows x 4 columns]
1140
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1136    B2010  ex 2514 00 00  ex 7110 41 00   B1150
1137    B2010  ex 2515 11 00  ex 7111 00 00    B1031
1138    B2010  ex 2515 12 00  ex 7112 30 00    A1150
1139    B2010  ex 2515 20 00  ex 7112 30 00   B1031
1140    B2010  ex 2516 11 00  ex 7112 30 00    B1070

[1141 rows x 4 columns]
1141
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1137    B2010  ex 2515 11 00  ex 7111 00 00    B1031
1138    B2010  ex 2515 12 00  ex 7112 30 00    A1150
1139    B2010  ex 2515 20 00  ex 7112 30 00   B1031
1140    B2010  ex 2516 11 00  ex 7112 30 00    B1070
1141    B2010  ex 2516 12 00  ex 7112 30 00   B1150

[1142 rows x 4 columns]
1142
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1138    B2010  ex 2515 12 00  ex 7112 30 00    A1150
1139    B2010  ex 2515 20 00  ex 7112 30 00   B1031
1140    B2010  ex 2516 11 00  ex 7112 30 00    B1070
1141    B2010  ex 2516 12 00  ex 7112 30 00   B1150
1142    B2010  ex 2516 20 00  ex 7112 30 00   B1160

[1143 rows x 4 columns]
1143
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1139    B2010  ex 2515 20 00  ex 7112 30 00   B1031
1140    B2010  ex 2516 11 00  ex 7112 30 00    B1070
1141    B2010  ex 2516 12 00  ex 7112 30 00   B1150
1142    B2010  ex 2516 20 00  ex 7112 30 00   B1160
1143    B2010  ex 2516 90 00  ex 7112 30 00   B1170

[1144 rows x 4 columns]
1144
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1140    B2010  ex 2516 11 00  ex 7112 30 00    B1070
1141    B2010  ex 2516 12 00  ex 7112 30 00   B1150
1142    B2010  ex 2516 20 00  ex 7112 30 00   B1160
1143    B2010  ex 2516 90 00  ex 7112 30 00   B1170
1144    B2010  ex 2517 10 10  ex 7112 91 00    A1010

[1145 rows x 4 columns]
1145
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1141    B2010  ex 2516 12 00  ex 7112 30 00   B1150
1142    B2010  ex 2516 20 00  ex 7112 30 00   B1160
1143    B2010  ex 2516 90 00  ex 7112 30 00   B1170
1144    B2010  ex 2517 10 10  ex 7112 91 00    A1010
1145    B2010  ex 2517 10 20  ex 7112 91 00   A1020

[1146 rows x 4 columns]
1146
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1142    B2010  ex 2516 20 00  ex 7112 30 00   B1160
1143    B2010  ex 2516 90 00  ex 7112 30 00   B1170
1144    B2010  ex 2517 10 10  ex 7112 91 00    A1010
1145    B2010  ex 2517 10 20  ex 7112 91 00   A1020
1146    B2010  ex 2517 10 80  ex 7112 91 00   B1010

[1147 rows x 4 columns]
1147
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1143    B2010  ex 2516 90 00  ex 7112 30 00   B1170
1144    B2010  ex 2517 10 10  ex 7112 91 00    A1010
1145    B2010  ex 2517 10 20  ex 7112 91 00   A1020
1146    B2010  ex 2517 10 80  ex 7112 91 00   B1010
1147    B2010  ex 2517 20 00  ex 7112 91 00   B1030

[1148 rows x 4 columns]
1148
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1144    B2010  ex 2517 10 10  ex 7112 91 00    A1010
1145    B2010  ex 2517 10 20  ex 7112 91 00   A1020
1146    B2010  ex 2517 10 80  ex 7112 91 00   B1010
1147    B2010  ex 2517 20 00  ex 7112 91 00   B1030
1148    B2010  ex 2517 30 00  ex 7112 91 00   B1031

[1149 rows x 4 columns]
1149
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1145    B2010  ex 2517 10 20  ex 7112 91 00   A1020
1146    B2010  ex 2517 10 80  ex 7112 91 00   B1010
1147    B2010  ex 2517 20 00  ex 7112 91 00   B1030
1148    B2010  ex 2517 30 00  ex 7112 91 00   B1031
1149    B2010  ex 2517 41 00  ex 7112 91 00   B1050

[1150 rows x 4 columns]
1150
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1146    B2010  ex 2517 10 80  ex 7112 91 00   B1010
1147    B2010  ex 2517 20 00  ex 7112 91 00   B1030
1148    B2010  ex 2517 30 00  ex 7112 91 00   B1031
1149    B2010  ex 2517 41 00  ex 7112 91 00   B1050
1150    B2010  ex 2517 49 00  ex 7112 91 00   B1070

[1151 rows x 4 columns]
1151
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1147    B2010  ex 2517 20 00  ex 7112 91 00   B1030
1148    B2010  ex 2517 30 00  ex 7112 91 00   B1031
1149    B2010  ex 2517 41 00  ex 7112 91 00   B1050
1150    B2010  ex 2517 49 00  ex 7112 91 00   B1070
1151    B2010  ex 2518 10 00  ex 7112 91 00   B1100

[1152 rows x 4 columns]
1152
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1148    B2010  ex 2517 30 00  ex 7112 91 00   B1031
1149    B2010  ex 2517 41 00  ex 7112 91 00   B1050
1150    B2010  ex 2517 49 00  ex 7112 91 00   B1070
1151    B2010  ex 2518 10 00  ex 7112 91 00   B1100
1152    B2010  ex 2518 20 00  ex 7112 91 00   B1120

[1153 rows x 4 columns]
1153
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1149    B2010  ex 2517 41 00  ex 7112 91 00   B1050
1150    B2010  ex 2517 49 00  ex 7112 91 00   B1070
1151    B2010  ex 2518 10 00  ex 7112 91 00   B1100
1152    B2010  ex 2518 20 00  ex 7112 91 00   B1120
1153    B2010  ex 2518 30 00  ex 7112 91 00   B1130

[1154 rows x 4 columns]
1154
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1150    B2010  ex 2517 49 00  ex 7112 91 00   B1070
1151    B2010  ex 2518 10 00  ex 7112 91 00   B1100
1152    B2010  ex 2518 20 00  ex 7112 91 00   B1120
1153    B2010  ex 2518 30 00  ex 7112 91 00   B1130
1154    B2010  ex 2519 10 00  ex 7112 91 00   B1140

[1155 rows x 4 columns]
1155
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1151    B2010  ex 2518 10 00  ex 7112 91 00   B1100
1152    B2010  ex 2518 20 00  ex 7112 91 00   B1120
1153    B2010  ex 2518 30 00  ex 7112 91 00   B1130
1154    B2010  ex 2519 10 00  ex 7112 91 00   B1140
1155    B2010  ex 2519 90 10  ex 7112 91 00   B1150

[1156 rows x 4 columns]
1156
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1152    B2010  ex 2518 20 00  ex 7112 91 00   B1120
1153    B2010  ex 2518 30 00  ex 7112 91 00   B1130
1154    B2010  ex 2519 10 00  ex 7112 91 00   B1140
1155    B2010  ex 2519 90 10  ex 7112 91 00   B1150
1156    B2010  ex 2519 90 30  ex 7112 91 00   B3020

[1157 rows x 4 columns]
1157
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1153    B2010  ex 2518 30 00  ex 7112 91 00   B1130
1154    B2010  ex 2519 10 00  ex 7112 91 00   B1140
1155    B2010  ex 2519 90 10  ex 7112 91 00   B1150
1156    B2010  ex 2519 90 30  ex 7112 91 00   B3020
1157    B2010  ex 2519 90 90  ex 7112 91 00   GB040

[1158 rows x 4 columns]
1158
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1154    B2010  ex 2519 10 00  ex 7112 91 00   B1140
1155    B2010  ex 2519 90 10  ex 7112 91 00   B1150
1156    B2010  ex 2519 90 30  ex 7112 91 00   B3020
1157    B2010  ex 2519 90 90  ex 7112 91 00   GB040
1158    B2010  ex 2520 10 00  ex 7112 91 00   GC010

[1159 rows x 4 columns]
1159
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1155    B2010  ex 2519 90 10  ex 7112 91 00   B1150
1156    B2010  ex 2519 90 30  ex 7112 91 00   B3020
1157    B2010  ex 2519 90 90  ex 7112 91 00   GB040
1158    B2010  ex 2520 10 00  ex 7112 91 00   GC010
1159    B2010  ex 2521 00 00  ex 7112 91 00   GC020

[1160 rows x 4 columns]
1160
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1156    B2010  ex 2519 90 30  ex 7112 91 00   B3020
1157    B2010  ex 2519 90 90  ex 7112 91 00   GB040
1158    B2010  ex 2520 10 00  ex 7112 91 00   GC010
1159    B2010  ex 2521 00 00  ex 7112 91 00   GC020
1160    B2010  ex 2525 10 00  ex 7112 92 00    A1010

[1161 rows x 4 columns]
1161
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1157    B2010  ex 2519 90 90  ex 7112 91 00   GB040
1158    B2010  ex 2520 10 00  ex 7112 91 00   GC010
1159    B2010  ex 2521 00 00  ex 7112 91 00   GC020
1160    B2010  ex 2525 10 00  ex 7112 92 00    A1010
1161    B2010  ex 2525 20 00  ex 7112 92 00   A1020

[1162 rows x 4 columns]
1162
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1158    B2010  ex 2520 10 00  ex 7112 91 00   GC010
1159    B2010  ex 2521 00 00  ex 7112 91 00   GC020
1160    B2010  ex 2525 10 00  ex 7112 92 00    A1010
1161    B2010  ex 2525 20 00  ex 7112 92 00   A1020
1162    B2010  ex 2525 30 00  ex 7112 92 00    B1010

[1163 rows x 4 columns]
1163
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1159    B2010  ex 2521 00 00  ex 7112 91 00   GC020
1160    B2010  ex 2525 10 00  ex 7112 92 00    A1010
1161    B2010  ex 2525 20 00  ex 7112 92 00   A1020
1162    B2010  ex 2525 30 00  ex 7112 92 00    B1010
1163    B2010  ex 2526 10 00  ex 7112 92 00   B1030

[1164 rows x 4 columns]
1164
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1160    B2010  ex 2525 10 00  ex 7112 92 00    A1010
1161    B2010  ex 2525 20 00  ex 7112 92 00   A1020
1162    B2010  ex 2525 30 00  ex 7112 92 00    B1010
1163    B2010  ex 2526 10 00  ex 7112 92 00   B1030
1164    B2010  ex 2526 20 00  ex 7112 92 00   B1031

[1165 rows x 4 columns]
1165

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1161    B2010  ex 2525 20 00  ex 7112 92 00   A1020
1162    B2010  ex 2525 30 00  ex 7112 92 00    B1010
1163    B2010  ex 2526 10 00  ex 7112 92 00   B1030
1164    B2010  ex 2526 20 00  ex 7112 92 00   B1031
1165    B2010  ex 2528 10 00  ex 7112 92 00   B1050

[1166 rows x 4 columns]
1166
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1162    B2010  ex 2525 30 00  ex 7112 92 00    B1010
1163    B2010  ex 2526 10 00  ex 7112 92 00   B1030
1164    B2010  ex 2526 20 00  ex 7112 92 00   B1031
1165    B2010  ex 2528 10 00  ex 7112 92 00   B1050
1166    B2010  ex 2528 90 00  ex 7112 92 00   B1070

[1167 rows x 4 columns]
1167
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1163    B2010  ex 2526 10 00  ex 7112 92 00   B1030
1164    B2010  ex 2526 20 00  ex 7112 92 00   B1031
1165    B2010  ex 2528 10 00  ex 7112 92 00   B1050
1166    B2010  ex 2528 90 00  ex 7112 92 00   B1070
1167    B2010  ex 2529 10 00  ex 7112 92 00   B1100

[1168 rows x 4 columns]
1168
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1164    B2010  ex 2526 20 00  ex 7112 92 00   B1031
1165    B2010  ex 2528 10 00  ex 7112 92 00   B1050
1166    B2010  ex 2528 90 00  ex 7112 92 00   B1070
1167    B2010  ex 2529 10 00  ex 7112 92 00   B1100
1168    B2010  ex 2529 21 00  ex 7112 92 00   B1120

[1169 rows x 4 columns]
1169
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1165    B2010  ex 2528 10 00  ex 7112 92 00   B1050
1166    B2010  ex 2528 90 00  ex 7112 92 00   B1070
1167    B2010  ex 2529 10 00  ex 7112 92 00   B1100
1168    B2010  ex 2529 21 00  ex 7112 92 00   B1120
1169    B2010  ex 2529 22 00  ex 7112 92 00   B1130

[1170 rows x 4 columns]
1170
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1166    B2010  ex 2528 90 00  ex 7112 92 00   B1070
1167    B2010  ex 2529 10 00  ex 7112 92 00   B1100
1168    B2010  ex 2529 21 00  ex 7112 92 00   B1120
1169    B2010  ex 2529 22 00  ex 7112 92 00   B1130
1170    B2010  ex 2529 30 00  ex 7112 92 00    B1140

[1171 rows x 4 columns]
1171
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1167    B2010  ex 2529 10 00  ex 7112 92 00   B1100
1168    B2010  ex 2529 21 00  ex 7112 92 00   B1120
1169    B2010  ex 2529 22 00  ex 7112 92 00   B1130
1170    B2010  ex 2529 30 00  ex 7112 92 00    B1140
1171    B2010  ex 2530 10 00  ex 7112 92 00   B1150

[1172 rows x 4 columns]
1172
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1168    B2010  ex 2529 21 00  ex 7112 92 00   B1120
1169    B2010  ex 2529 22 00  ex 7112 92 00   B1130
1170    B2010  ex 2529 30 00  ex 7112 92 00    B1140
1171    B2010  ex 2530 10 00  ex 7112 92 00   B1150
1172    B2010  ex 2530 20 00  ex 7112 92 00   B3020

[1173 rows x 4 columns]
1173
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1169    B2010  ex 2529 22 00  ex 7112 92 00   B1130
1170    B2010  ex 2529 30 00  ex 7112 92 00    B1140
1171    B2010  ex 2530 10 00  ex 7112 92 00   B1150
1172    B2010  ex 2530 20 00  ex 7112 92 00   B3020
1173    B2010  ex 2530 90 00  ex 7112 92 00   GB040

[1174 rows x 4 columns]
1174
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1170    B2010  ex 2529 30 00  ex 7112 92 00    B1140
1171    B2010  ex 2530 10 00  ex 7112 92 00   B1150
1172    B2010  ex 2530 20 00  ex 7112 92 00   B3020
1173    B2010  ex 2530 90 00  ex 7112 92 00   GB040
1174    B2010  ex 2620 11 00  ex 7112 92 00   GC010

[1175 rows x 4 columns]
1175
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1171    B2010  ex 2530 10 00  ex 7112 92 00   B1150
1172    B2010  ex 2530 20 00  ex 7112 92 00   B3020
1173    B2010  ex 2530 90 00  ex 7112 92 00   GB040
1174    B2010  ex 2620 11 00  ex 7112 92 00   GC010
1175    B2010  ex 2620 19 00  ex 7112 92 00   GC020

[1176 rows x 4 columns]
1176
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1172    B2010  ex 2530 20 00  ex 7112 92 00   B3020
1173    B2010  ex 2530 90 00  ex 7112 92 00   GB040
1174    B2010  ex 2620 11 00  ex 7112 92 00   GC010
1175    B2010  ex 2620 19 00  ex 7112 92 00   GC020
1176    B2010  ex 2620 21 00  ex 7112 92 00   GC050

[1177 rows x 4 columns]
1177
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1173    B2010  ex 2530 90 00  ex 7112 92 00   GB040
1174    B2010  ex 2620 11 00  ex 7112 92 00   GC010
1175    B2010  ex 2620 19 00  ex 7112 92 00   GC020
1176    B2010  ex 2620 21 00  ex 7112 92 00   GC050
1177    B2010  ex 2620 29 00  ex 7112 99 00    A1010

[1178 rows x 4 columns]
1178
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1174    B2010  ex 2620 11 00  ex 7112 92 00   GC010
1175    B2010  ex 2620 19 00  ex 7112 92 00   GC020
1176    B2010  ex 2620 21 00  ex 7112 92 00   GC050
1177    B2010  ex 2620 29 00  ex 7112 99 00    A1010
1178    B2010  ex 2620 30 00  ex 7112 99 00   A1020

[1179 rows x 4 columns]
1179
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1175    B2010  ex 2620 19 00  ex 7112 92 00   GC020
1176    B2010  ex 2620 21 00  ex 7112 92 00   GC050
1177    B2010  ex 2620 29 00  ex 7112 99 00    A1010
1178    B2010  ex 2620 30 00  ex 7112 99 00   A1020
1179    B2010  ex 2620 40 00  ex 7112 99 00    B1010

[1180 rows x 4 columns]
1180
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1176    B2010  ex 2620 21 00  ex 7112 92 00   GC050
1177    B2010  ex 2620 29 00  ex 7112 99 00    A1010
1178    B2010  ex 2620 30 00  ex 7112 99 00   A1020
1179    B2010  ex 2620 40 00  ex 7112 99 00    B1010
1180    B2010  ex 2620 60 00  ex 7112 99 00   B1030

[1181 rows x 4 columns]
1181
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1177    B2010  ex 2620 29 00  ex 7112 99 00    A1010
1178    B2010  ex 2620 30 00  ex 7112 99 00   A1020
1179    B2010  ex 2620 40 00  ex 7112 99 00    B1010
1180    B2010  ex 2620 60 00  ex 7112 99 00   B1030
1181    B2010  ex 2620 91 00  ex 7112 99 00   B1031

[1182 rows x 4 columns]
1182
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1178    B2010  ex 2620 30 00  ex 7112 99 00   A1020
1179    B2010  ex 2620 40 00  ex 7112 99 00    B1010
1180    B2010  ex 2620 60 00  ex 7112 99 00   B1030
1181    B2010  ex 2620 91 00  ex 7112 99 00   B1031
1182    B2010  ex 2620 99 10  ex 7112 99 00   B1050

[1183 rows x 4 columns]
1183
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1179    B2010  ex 2620 40 00  ex 7112 99 00    B1010
1180    B2010  ex 2620 60 00  ex 7112 99 00   B1030
1181    B2010  ex 2620 91 00  ex 7112 99 00   B1031
1182    B2010  ex 2620 99 10  ex 7112 99 00   B1050
1183    B2010  ex 2620 99 20  ex 7112 99 00   B1070

[1184 rows x 4 columns]
1184
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1180    B2010  ex 2620 60 00  ex 7112 99 00   B1030
1181    B2010  ex 2620 91 00  ex 7112 99 00   B1031
1182    B2010  ex 2620 99 10  ex 7112 99 00   B1050
1183    B2010  ex 2620 99 20  ex 7112 99 00   B1070
1184    B2010  ex 2620 99 40  ex 7112 99 00   B1100

[1185 rows x 4 columns]
1185
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1181    B2010  ex 2620 91 00  ex 7112 99 00   B1031
1182    B2010  ex 2620 99 10  ex 7112 99 00   B1050
1183    B2010  ex 2620 99 20  ex 7112 99 00   B1070
1184    B2010  ex 2620 99 40  ex 7112 99 00   B1100
1185    B2010  ex 2620 99 60  ex 7112 99 00   B1120

[1186 rows x 4 columns]
1186

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1182    B2010  ex 2620 99 10  ex 7112 99 00   B1050
1183    B2010  ex 2620 99 20  ex 7112 99 00   B1070
1184    B2010  ex 2620 99 40  ex 7112 99 00   B1100
1185    B2010  ex 2620 99 60  ex 7112 99 00   B1120
1186    B2010  ex 2620 99 95  ex 7112 99 00   B1130

[1187 rows x 4 columns]
1187
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1183    B2010  ex 2620 99 20  ex 7112 99 00   B1070
1184    B2010  ex 2620 99 40  ex 7112 99 00   B1100
1185    B2010  ex 2620 99 60  ex 7112 99 00   B1120
1186    B2010  ex 2620 99 95  ex 7112 99 00   B1130
1187    B2010  ex 3825 69 00  ex 7112 99 00   B1140

[1188 rows x 4 columns]
1188
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1184    B2010  ex 2620 99 40  ex 7112 99 00   B1100
1185    B2010  ex 2620 99 60  ex 7112 99 00   B1120
1186    B2010  ex 2620 99 95  ex 7112 99 00   B1130
1187    B2010  ex 3825 69 00  ex 7112 99 00   B1140
1188    B2010  ex 3825 90 90  ex 7112 99 00   B1150

[1189 rows x 4 columns]
1189
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1185    B2010  ex 2620 99 60  ex 7112 99 00   B1120
1186    B2010  ex 2620 99 95  ex 7112 99 00   B1130
1187    B2010  ex 3825 69 00  ex 7112 99 00   B1140
1188    B2010  ex 3825 90 90  ex 7112 99 00   B1150
1189    B2020  ex 7001 00 10  ex 7112 99 00   B1180

[1190 rows x 4 columns]
1190
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1186    B2010  ex 2620 99 95  ex 7112 99 00   B1130
1187    B2010  ex 3825 69 00  ex 7112 99 00   B1140
1188    B2010  ex 3825 90 90  ex 7112 99 00   B1150
1189    B2020  ex 7001 00 10  ex 7112 99 00   B1180
1190    B2030  ex 2530 90 00  ex 7112 99 00   B1190

[1191 rows x 4 columns]
1191
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1187    B2010  ex 3825 69 00  ex 7112 99 00   B1140
1188    B2010  ex 3825 90 90  ex 7112 99 00   B1150
1189    B2020  ex 7001 00 10  ex 7112 99 00   B1180
1190    B2030  ex 2530 90 00  ex 7112 99 00   B1190
1191    B2030  ex 6806 10 00  ex 7112 99 00   B3020

[1192 rows x 4 columns]
1192
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1188    B2010  ex 3825 90 90  ex 7112 99 00   B1150
1189    B2020  ex 7001 00 10  ex 7112 99 00   B1180
1190    B2030  ex 2530 90 00  ex 7112 99 00   B1190
1191    B2030  ex 6806 10 00  ex 7112 99 00   B3020
1192    B2030  ex 6806 90 00  ex 7112 99 00   GB040

[1193 rows x 4 columns]
1193
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1189    B2020  ex 7001 00 10  ex 7112 99 00   B1180
1190    B2030  ex 2530 90 00  ex 7112 99 00   B1190
1191    B2030  ex 6806 10 00  ex 7112 99 00   B3020
1192    B2030  ex 6806 90 00  ex 7112 99 00   GB040
1193    B2030  ex 8113 00 20  ex 7112 99 00   GC010

[1194 rows x 4 columns]
1194
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1190    B2030  ex 2530 90 00  ex 7112 99 00   B1190
1191    B2030  ex 6806 10 00  ex 7112 99 00   B3020
1192    B2030  ex 6806 90 00  ex 7112 99 00   GB040
1193    B2030  ex 8113 00 20  ex 7112 99 00   GC010
1194    B2030  ex 8113 00 40  ex 7112 99 00   GC020

[1195 rows x 4 columns]
1195
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1191    B2030  ex 6806 10 00  ex 7112 99 00   B3020
1192    B2030  ex 6806 90 00  ex 7112 99 00   GB040
1193    B2030  ex 8113 00 20  ex 7112 99 00   GC010
1194    B2030  ex 8113 00 40  ex 7112 99 00   GC020
1195    B2040  ex 2501 00 31  ex 7112 99 00   GC050

[1196 rows x 4 columns]
1196
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1192    B2030  ex 6806 90 00  ex 7112 99 00   GB040
1193    B2030  ex 8113 00 20  ex 7112 99 00   GC010
1194    B2030  ex 8113 00 40  ex 7112 99 00   GC020
1195    B2040  ex 2501 00 31  ex 7112 99 00   GC050
1196    B2040  ex 2501 00 51  ex 7115 10 00    GC050

[1197 rows x 4 columns]
1197
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1193    B2030  ex 8113 00 20  ex 7112 99 00   GC010
1194    B2030  ex 8113 00 40  ex 7112 99 00   GC020
1195    B2040  ex 2501 00 31  ex 7112 99 00   GC050
1196    B2040  ex 2501 00 51  ex 7115 10 00    GC050
1197    B2040  ex 2501 00 99  ex 7115 90 00    GC050

[1198 rows x 4 columns]
1198
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1194    B2030  ex 8113 00 40  ex 7112 99 00   GC020
1195    B2040  ex 2501 00 31  ex 7112 99 00   GC050
1196    B2040  ex 2501 00 51  ex 7115 10 00    GC050
1197    B2040  ex 2501 00 99  ex 7115 90 00    GC050
1198    B2040  ex 2503 00 10  ex 7204 10 00    A1190

[1199 rows x 4 columns]
1199
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1195    B2040  ex 2501 00 31  ex 7112 99 00   GC050
1196    B2040  ex 2501 00 51  ex 7115 10 00    GC050
1197    B2040  ex 2501 00 99  ex 7115 90 00    GC050
1198    B2040  ex 2503 00 10  ex 7204 10 00    A1190
1199    B2040  ex 2503 00 90  ex 7204 10 00   B1010

[1200 rows x 4 columns]
1200
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1196    B2040  ex 2501 00 51  ex 7115 10 00    GC050
1197    B2040  ex 2501 00 99  ex 7115 90 00    GC050
1198    B2040  ex 2503 00 10  ex 7204 10 00    A1190
1199    B2040  ex 2503 00 90  ex 7204 10 00   B1010
1200    B2040  ex 2521 00 00  ex 7204 10 00    B1040

[1201 rows x 4 columns]
1201
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1197    B2040  ex 2501 00 99  ex 7115 90 00    GC050
1198    B2040  ex 2503 00 10  ex 7204 10 00    A1190
1199    B2040  ex 2503 00 90  ex 7204 10 00   B1010
1200    B2040  ex 2521 00 00  ex 7204 10 00    B1040
1201    B2040  ex 2530 90 00  ex 7204 21 10    A1190

[1202 rows x 4 columns]
1202
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1198    B2040  ex 2503 00 10  ex 7204 10 00    A1190
1199    B2040  ex 2503 00 90  ex 7204 10 00   B1010
1200    B2040  ex 2521 00 00  ex 7204 10 00    B1040
1201    B2040  ex 2530 90 00  ex 7204 21 10    A1190
1202    B2040  ex 2620 30 00  ex 7204 21 10   A4130

[1203 rows x 4 columns]
1203
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1199    B2040  ex 2503 00 90  ex 7204 10 00   B1010
1200    B2040  ex 2521 00 00  ex 7204 10 00    B1040
1201    B2040  ex 2530 90 00  ex 7204 21 10    A1190
1202    B2040  ex 2620 30 00  ex 7204 21 10   A4130
1203    B2040  ex 2621 90 00  ex 7204 21 10   B1010

[1204 rows x 4 columns]
1204
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1200    B2040  ex 2521 00 00  ex 7204 10 00    B1040
1201    B2040  ex 2530 90 00  ex 7204 21 10    A1190
1202    B2040  ex 2620 30 00  ex 7204 21 10   A4130
1203    B2040  ex 2621 90 00  ex 7204 21 10   B1010
1204    B2040  ex 3104 20 10  ex 7204 21 10   B1040

[1205 rows x 4 columns]
1205
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1201    B2040  ex 2530 90 00  ex 7204 21 10    A1190
1202    B2040  ex 2620 30 00  ex 7204 21 10   A4130
1203    B2040  ex 2621 90 00  ex 7204 21 10   B1010
1204    B2040  ex 3104 20 10  ex 7204 21 10   B1040
1205    B2040  ex 3104 20 50  ex 7204 21 10   B1115

[1206 rows x 4 columns]
1206
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1202    B2040  ex 2620 30 00  ex 7204 21 10   A4130
1203    B2040  ex 2621 90 00  ex 7204 21 10   B1010
1204    B2040  ex 3104 20 10  ex 7204 21 10   B1040
1205    B2040  ex 3104 20 50  ex 7204 21 10   B1115
1206    B2040  ex 3104 20 90  ex 7204 21 10   B1250

[1207 rows x 4 columns]
1207
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1203    B2040  ex 2621 90 00  ex 7204 21 10   B1010
1204    B2040  ex 3104 20 10  ex 7204 21 10   B1040
1205    B2040  ex 3104 20 50  ex 7204 21 10   B1115
1206    B2040  ex 3104 20 90  ex 7204 21 10   B1250
1207    B2040  ex 3824 90 96  ex 7204 21 10   GC010

[1208 rows x 4 columns]
1208
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1204    B2040  ex 3104 20 10  ex 7204 21 10   B1040
1205    B2040  ex 3104 20 50  ex 7204 21 10   B1115
1206    B2040  ex 3104 20 90  ex 7204 21 10   B1250
1207    B2040  ex 3824 90 96  ex 7204 21 10   GC010
1208    B2040  ex 3825 10 00  ex 7204 21 10   GC020

[1209 rows x 4 columns]
1209
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1205    B2040  ex 3104 20 50  ex 7204 21 10   B1115
1206    B2040  ex 3104 20 90  ex 7204 21 10   B1250
1207    B2040  ex 3824 90 96  ex 7204 21 10   GC010
1208    B2040  ex 3825 10 00  ex 7204 21 10   GC020
1209    B2040  ex 3825 69 00  ex 7204 21 90    A1190

[1210 rows x 4 columns]
1210
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1206    B2040  ex 3104 20 90  ex 7204 21 10   B1250
1207    B2040  ex 3824 90 96  ex 7204 21 10   GC010
1208    B2040  ex 3825 10 00  ex 7204 21 10   GC020
1209    B2040  ex 3825 69 00  ex 7204 21 90    A1190
1210    B2040  ex 3825 90 90  ex 7204 21 90   A4130

[1211 rows x 4 columns]
1211
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1207    B2040  ex 3824 90 96  ex 7204 21 10   GC010
1208    B2040  ex 3825 10 00  ex 7204 21 10   GC020
1209    B2040  ex 3825 69 00  ex 7204 21 90    A1190
1210    B2040  ex 3825 90 90  ex 7204 21 90   A4130
1211    B2040  ex 6809 11 00  ex 7204 21 90   B1010

[1212 rows x 4 columns]
1212
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1208    B2040  ex 3825 10 00  ex 7204 21 10   GC020
1209    B2040  ex 3825 69 00  ex 7204 21 90    A1190
1210    B2040  ex 3825 90 90  ex 7204 21 90   A4130
1211    B2040  ex 6809 11 00  ex 7204 21 90   B1010
1212    B2040  ex 6809 19 00  ex 7204 21 90   B1040

[1213 rows x 4 columns]
1213
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1209    B2040  ex 3825 69 00  ex 7204 21 90    A1190
1210    B2040  ex 3825 90 90  ex 7204 21 90   A4130
1211    B2040  ex 6809 11 00  ex 7204 21 90   B1010
1212    B2040  ex 6809 19 00  ex 7204 21 90   B1040
1213    B2040  ex 7001 00 10  ex 7204 21 90   B1115

[1214 rows x 4 columns]
1214
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1210    B2040  ex 3825 90 90  ex 7204 21 90   A4130
1211    B2040  ex 6809 11 00  ex 7204 21 90   B1010
1212    B2040  ex 6809 19 00  ex 7204 21 90   B1040
1213    B2040  ex 7001 00 10  ex 7204 21 90   B1115
1214    B2060  ex 3802 90 00  ex 7204 21 90   B1250

[1215 rows x 4 columns]
1215
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1211    B2040  ex 6809 11 00  ex 7204 21 90   B1010
1212    B2040  ex 6809 19 00  ex 7204 21 90   B1040
1213    B2040  ex 7001 00 10  ex 7204 21 90   B1115
1214    B2060  ex 3802 90 00  ex 7204 21 90   B1250
1215    B2060  ex 3825 69 00  ex 7204 21 90   GC010

[1216 rows x 4 columns]
1216
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1212    B2040  ex 6809 19 00  ex 7204 21 90   B1040
1213    B2040  ex 7001 00 10  ex 7204 21 90   B1115
1214    B2060  ex 3802 90 00  ex 7204 21 90   B1250
1215    B2060  ex 3825 69 00  ex 7204 21 90   GC010
1216    B2060  ex 3825 90 90  ex 7204 21 90   GC020

[1217 rows x 4 columns]
1217
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1213    B2040  ex 7001 00 10  ex 7204 21 90   B1115
1214    B2060  ex 3802 90 00  ex 7204 21 90   B1250
1215    B2060  ex 3825 69 00  ex 7204 21 90   GC010
1216    B2060  ex 3825 90 90  ex 7204 21 90   GC020
1217    B2070  ex 3825 69 00  ex 7204 29 00    A1190

[1218 rows x 4 columns]
1218
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1214    B2060  ex 3802 90 00  ex 7204 21 90   B1250
1215    B2060  ex 3825 69 00  ex 7204 21 90   GC010
1216    B2060  ex 3825 90 90  ex 7204 21 90   GC020
1217    B2070  ex 3825 69 00  ex 7204 29 00    A1190
1218    B2070  ex 3825 90 90  ex 7204 29 00   A4130

[1219 rows x 4 columns]
1219
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1215    B2060  ex 3825 69 00  ex 7204 21 90   GC010
1216    B2060  ex 3825 90 90  ex 7204 21 90   GC020
1217    B2070  ex 3825 69 00  ex 7204 29 00    A1190
1218    B2070  ex 3825 90 90  ex 7204 29 00   A4130
1219    B2080  ex 3825 69 00  ex 7204 29 00   B1010

[1220 rows x 4 columns]
1220
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1216    B2060  ex 3825 90 90  ex 7204 21 90   GC020
1217    B2070  ex 3825 69 00  ex 7204 29 00    A1190
1218    B2070  ex 3825 90 90  ex 7204 29 00   A4130
1219    B2080  ex 3825 69 00  ex 7204 29 00   B1010
1220    B2090  ex 3825 69 00  ex 7204 29 00   B1040

[1221 rows x 4 columns]
1221
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1217    B2070  ex 3825 69 00  ex 7204 29 00    A1190
1218    B2070  ex 3825 90 90  ex 7204 29 00   A4130
1219    B2080  ex 3825 69 00  ex 7204 29 00   B1010
1220    B2090  ex 3825 69 00  ex 7204 29 00   B1040
1221    B2100  ex 2620 11 00  ex 7204 29 00   B1115

[1222 rows x 4 columns]
1222
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1218    B2070  ex 3825 90 90  ex 7204 29 00   A4130
1219    B2080  ex 3825 69 00  ex 7204 29 00   B1010
1220    B2090  ex 3825 69 00  ex 7204 29 00   B1040
1221    B2100  ex 2620 11 00  ex 7204 29 00   B1115
1222    B2100  ex 2620 19 00  ex 7204 29 00   B1250

[1223 rows x 4 columns]
1223
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1219    B2080  ex 3825 69 00  ex 7204 29 00   B1010
1220    B2090  ex 3825 69 00  ex 7204 29 00   B1040
1221    B2100  ex 2620 11 00  ex 7204 29 00   B1115
1222    B2100  ex 2620 19 00  ex 7204 29 00   B1250
1223    B2100  ex 2620 30 00  ex 7204 29 00   GC010

[1224 rows x 4 columns]
1224
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1220    B2090  ex 3825 69 00  ex 7204 29 00   B1040
1221    B2100  ex 2620 11 00  ex 7204 29 00   B1115
1222    B2100  ex 2620 19 00  ex 7204 29 00   B1250
1223    B2100  ex 2620 30 00  ex 7204 29 00   GC010
1224    B2100  ex 2620 40 00  ex 7204 29 00   GC020

[1225 rows x 4 columns]
1225
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1221    B2100  ex 2620 11 00  ex 7204 29 00   B1115
1222    B2100  ex 2620 19 00  ex 7204 29 00   B1250
1223    B2100  ex 2620 30 00  ex 7204 29 00   GC010
1224    B2100  ex 2620 40 00  ex 7204 29 00   GC020
1225    B2100  ex 2620 99 10  ex 7204 30 00    A1190

[1226 rows x 4 columns]
1226
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1222    B2100  ex 2620 19 00  ex 7204 29 00   B1250
1223    B2100  ex 2620 30 00  ex 7204 29 00   GC010
1224    B2100  ex 2620 40 00  ex 7204 29 00   GC020
1225    B2100  ex 2620 99 10  ex 7204 30 00    A1190
1226    B2100  ex 2620 99 20  ex 7204 30 00   A4130

[1227 rows x 4 columns]
1227
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1223    B2100  ex 2620 30 00  ex 7204 29 00   GC010
1224    B2100  ex 2620 40 00  ex 7204 29 00   GC020
1225    B2100  ex 2620 99 10  ex 7204 30 00    A1190
1226    B2100  ex 2620 99 20  ex 7204 30 00   A4130
1227    B2100  ex 2620 99 40  ex 7204 30 00   B1010

[1228 rows x 4 columns]
1228
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1224    B2100  ex 2620 40 00  ex 7204 29 00   GC020
1225    B2100  ex 2620 99 10  ex 7204 30 00    A1190
1226    B2100  ex 2620 99 20  ex 7204 30 00   A4130
1227    B2100  ex 2620 99 40  ex 7204 30 00   B1010
1228    B2100  ex 2620 99 60  ex 7204 30 00   B1250

[1229 rows x 4 columns]
1229
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1225    B2100  ex 2620 99 10  ex 7204 30 00    A1190
1226    B2100  ex 2620 99 20  ex 7204 30 00   A4130
1227    B2100  ex 2620 99 40  ex 7204 30 00   B1010
1228    B2100  ex 2620 99 60  ex 7204 30 00   B1250
1229    B2100  ex 2620 99 95  ex 7204 30 00   GC010

[1230 rows x 4 columns]
1230
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1226    B2100  ex 2620 99 20  ex 7204 30 00   A4130
1227    B2100  ex 2620 99 40  ex 7204 30 00   B1010
1228    B2100  ex 2620 99 60  ex 7204 30 00   B1250
1229    B2100  ex 2620 99 95  ex 7204 30 00   GC010
1230    B2100  ex 3825 69 00  ex 7204 30 00    GC020

[1231 rows x 4 columns]
1231
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1227    B2100  ex 2620 99 40  ex 7204 30 00   B1010
1228    B2100  ex 2620 99 60  ex 7204 30 00   B1250
1229    B2100  ex 2620 99 95  ex 7204 30 00   GC010
1230    B2100  ex 3825 69 00  ex 7204 30 00    GC020
1231    B2110  ex 2620 11 00  ex 7204 41 10    B1010

[1232 rows x 4 columns]
1232
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1228    B2100  ex 2620 99 60  ex 7204 30 00   B1250
1229    B2100  ex 2620 99 95  ex 7204 30 00   GC010
1230    B2100  ex 3825 69 00  ex 7204 30 00    GC020
1231    B2110  ex 2620 11 00  ex 7204 41 10    B1010
1232    B2110  ex 2620 19 00  ex 7204 41 91    A1190

[1233 rows x 4 columns]
1233
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1229    B2100  ex 2620 99 95  ex 7204 30 00   GC010
1230    B2100  ex 3825 69 00  ex 7204 30 00    GC020
1231    B2110  ex 2620 11 00  ex 7204 41 10    B1010
1232    B2110  ex 2620 19 00  ex 7204 41 91    A1190
1233    B2110  ex 2620 21 00  ex 7204 41 91   B1010

[1234 rows x 4 columns]
1234
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1230    B2100  ex 3825 69 00  ex 7204 30 00    GC020
1231    B2110  ex 2620 11 00  ex 7204 41 10    B1010
1232    B2110  ex 2620 19 00  ex 7204 41 91    A1190
1233    B2110  ex 2620 21 00  ex 7204 41 91   B1010
1234    B2110  ex 2620 29 00  ex 7204 41 99    A1190

[1235 rows x 4 columns]
1235
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1231    B2110  ex 2620 11 00  ex 7204 41 10    B1010
1232    B2110  ex 2620 19 00  ex 7204 41 91    A1190
1233    B2110  ex 2620 21 00  ex 7204 41 91   B1010
1234    B2110  ex 2620 29 00  ex 7204 41 99    A1190
1235    B2110  ex 2620 30 00  ex 7204 41 99   B1010

[1236 rows x 4 columns]
1236
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1232    B2110  ex 2620 19 00  ex 7204 41 91    A1190
1233    B2110  ex 2620 21 00  ex 7204 41 91   B1010
1234    B2110  ex 2620 29 00  ex 7204 41 99    A1190
1235    B2110  ex 2620 30 00  ex 7204 41 99   B1010
1236    B2110  ex 2620 40 00  ex 7204 49 10    A1190

[1237 rows x 4 columns]
1237
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1233    B2110  ex 2620 21 00  ex 7204 41 91   B1010
1234    B2110  ex 2620 29 00  ex 7204 41 99    A1190
1235    B2110  ex 2620 30 00  ex 7204 41 99   B1010
1236    B2110  ex 2620 40 00  ex 7204 49 10    A1190
1237    B2110  ex 2620 60 00  ex 7204 49 10   B1010

[1238 rows x 4 columns]
1238
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1234    B2110  ex 2620 29 00  ex 7204 41 99    A1190
1235    B2110  ex 2620 30 00  ex 7204 41 99   B1010
1236    B2110  ex 2620 40 00  ex 7204 49 10    A1190
1237    B2110  ex 2620 60 00  ex 7204 49 10   B1010
1238    B2110  ex 2620 91 00  ex 7204 49 10   B1115

[1239 rows x 4 columns]
1239
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1235    B2110  ex 2620 30 00  ex 7204 41 99   B1010
1236    B2110  ex 2620 40 00  ex 7204 49 10    A1190
1237    B2110  ex 2620 60 00  ex 7204 49 10   B1010
1238    B2110  ex 2620 91 00  ex 7204 49 10   B1115
1239    B2110  ex 2620 99 10  ex 7204 49 30    A1190

[1240 rows x 4 columns]
1240
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1236    B2110  ex 2620 40 00  ex 7204 49 10    A1190
1237    B2110  ex 2620 60 00  ex 7204 49 10   B1010
1238    B2110  ex 2620 91 00  ex 7204 49 10   B1115
1239    B2110  ex 2620 99 10  ex 7204 49 30    A1190
1240    B2110  ex 2620 99 20  ex 7204 49 30   A4130

[1241 rows x 4 columns]
1241
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1237    B2110  ex 2620 60 00  ex 7204 49 10   B1010
1238    B2110  ex 2620 91 00  ex 7204 49 10   B1115
1239    B2110  ex 2620 99 10  ex 7204 49 30    A1190
1240    B2110  ex 2620 99 20  ex 7204 49 30   A4130
1241    B2110  ex 2620 99 40  ex 7204 49 30   B1010

[1242 rows x 4 columns]
1242
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1238    B2110  ex 2620 91 00  ex 7204 49 10   B1115
1239    B2110  ex 2620 99 10  ex 7204 49 30    A1190
1240    B2110  ex 2620 99 20  ex 7204 49 30   A4130
1241    B2110  ex 2620 99 40  ex 7204 49 30   B1010
1242    B2110  ex 2620 99 60  ex 7204 49 30   B1115

[1243 rows x 4 columns]
1243
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1239    B2110  ex 2620 99 10  ex 7204 49 30    A1190
1240    B2110  ex 2620 99 20  ex 7204 49 30   A4130
1241    B2110  ex 2620 99 40  ex 7204 49 30   B1010
1242    B2110  ex 2620 99 60  ex 7204 49 30   B1115
1243    B2110  ex 2620 99 95  ex 7204 49 30   GC010

[1244 rows x 4 columns]
1244
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1240    B2110  ex 2620 99 20  ex 7204 49 30   A4130
1241    B2110  ex 2620 99 40  ex 7204 49 30   B1010
1242    B2110  ex 2620 99 60  ex 7204 49 30   B1115
1243    B2110  ex 2620 99 95  ex 7204 49 30   GC010
1244    B2110  ex 3825 69 00  ex 7204 49 30   GC020

[1245 rows x 4 columns]
1245
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1241    B2110  ex 2620 99 40  ex 7204 49 30   B1010
1242    B2110  ex 2620 99 60  ex 7204 49 30   B1115
1243    B2110  ex 2620 99 95  ex 7204 49 30   GC010
1244    B2110  ex 3825 69 00  ex 7204 49 30   GC020
1245    B2110  ex 3825 90 90  ex 7204 49 90    A1190

[1246 rows x 4 columns]
1246
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1242    B2110  ex 2620 99 60  ex 7204 49 30   B1115
1243    B2110  ex 2620 99 95  ex 7204 49 30   GC010
1244    B2110  ex 3825 69 00  ex 7204 49 30   GC020
1245    B2110  ex 3825 90 90  ex 7204 49 90    A1190
1246    B2120  ex 3825 69 00  ex 7204 49 90   A4130

[1247 rows x 4 columns]
1247
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1243    B2110  ex 2620 99 95  ex 7204 49 30   GC010
1244    B2110  ex 3825 69 00  ex 7204 49 30   GC020
1245    B2110  ex 3825 90 90  ex 7204 49 90    A1190
1246    B2120  ex 3825 69 00  ex 7204 49 90   A4130
1247    B2120  ex 3825 90 90  ex 7204 49 90   B1010

[1248 rows x 4 columns]
1248
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1244    B2110  ex 3825 69 00  ex 7204 49 30   GC020
1245    B2110  ex 3825 90 90  ex 7204 49 90    A1190
1246    B2120  ex 3825 69 00  ex 7204 49 90   A4130
1247    B2120  ex 3825 90 90  ex 7204 49 90   B1010
1248    B2130  ex 2517 20 00  ex 7204 49 90   B1030

[1249 rows x 4 columns]
1249
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1245    B2110  ex 3825 90 90  ex 7204 49 90    A1190
1246    B2120  ex 3825 69 00  ex 7204 49 90   A4130
1247    B2120  ex 3825 90 90  ex 7204 49 90   B1010
1248    B2130  ex 2517 20 00  ex 7204 49 90   B1030
1249    B2130  ex 2714 10 00  ex 7204 49 90   B1040

[1250 rows x 4 columns]
1250
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1246    B2120  ex 3825 69 00  ex 7204 49 90   A4130
1247    B2120  ex 3825 90 90  ex 7204 49 90   B1010
1248    B2130  ex 2517 20 00  ex 7204 49 90   B1030
1249    B2130  ex 2714 10 00  ex 7204 49 90   B1040
1250    B2130  ex 2714 90 00  ex 7204 49 90   B1115

[1251 rows x 4 columns]
1251
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1247    B2120  ex 3825 90 90  ex 7204 49 90   B1010
1248    B2130  ex 2517 20 00  ex 7204 49 90   B1030
1249    B2130  ex 2714 10 00  ex 7204 49 90   B1040
1250    B2130  ex 2714 90 00  ex 7204 49 90   B1115
1251    B2130  ex 2715 00 00  ex 7204 49 90   B1250

[1252 rows x 4 columns]
1252
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1248    B2130  ex 2517 20 00  ex 7204 49 90   B1030
1249    B2130  ex 2714 10 00  ex 7204 49 90   B1040
1250    B2130  ex 2714 90 00  ex 7204 49 90   B1115
1251    B2130  ex 2715 00 00  ex 7204 49 90   B1250
1252    B2130  ex 3825 10 00  ex 7204 49 90   GC010

[1253 rows x 4 columns]
1253
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1249    B2130  ex 2714 10 00  ex 7204 49 90   B1040
1250    B2130  ex 2714 90 00  ex 7204 49 90   B1115
1251    B2130  ex 2715 00 00  ex 7204 49 90   B1250
1252    B2130  ex 3825 10 00  ex 7204 49 90   GC010
1253    B2130  ex 3825 90 90  ex 7204 49 90   GC020

[1254 rows x 4 columns]
1254
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1250    B2130  ex 2714 90 00  ex 7204 49 90   B1115
1251    B2130  ex 2715 00 00  ex 7204 49 90   B1250
1252    B2130  ex 3825 10 00  ex 7204 49 90   GC010
1253    B2130  ex 3825 90 90  ex 7204 49 90   GC020
1254    B3010  ex 3825 10 00  ex 7204 50 00    A1190

[1255 rows x 4 columns]
1255
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1251    B2130  ex 2715 00 00  ex 7204 49 90   B1250
1252    B2130  ex 3825 10 00  ex 7204 49 90   GC010
1253    B2130  ex 3825 90 90  ex 7204 49 90   GC020
1254    B3010  ex 3825 10 00  ex 7204 50 00    A1190
1255    B3010  ex 3825 61 00  ex 7204 50 00   B1010

[1256 rows x 4 columns]
1256
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1252    B2130  ex 3825 10 00  ex 7204 49 90   GC010
1253    B2130  ex 3825 90 90  ex 7204 49 90   GC020
1254    B3010  ex 3825 10 00  ex 7204 50 00    A1190
1255    B3010  ex 3825 61 00  ex 7204 50 00   B1010
1256    B3010  ex 3825 90 90  ex 7217 90 20    A1190

[1257 rows x 4 columns]
1257
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1253    B2130  ex 3825 90 90  ex 7204 49 90   GC020
1254    B3010  ex 3825 10 00  ex 7204 50 00    A1190
1255    B3010  ex 3825 61 00  ex 7204 50 00   B1010
1256    B3010  ex 3825 90 90  ex 7217 90 20    A1190
1257    B3010  ex 3901 10 10  ex 7217 90 20   B1115

[1258 rows x 4 columns]
1258
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1254    B3010  ex 3825 10 00  ex 7204 50 00    A1190
1255    B3010  ex 3825 61 00  ex 7204 50 00   B1010
1256    B3010  ex 3825 90 90  ex 7217 90 20    A1190
1257    B3010  ex 3901 10 10  ex 7217 90 20   B1115
1258    B3010  ex 3901 10 90  ex 7217 90 50    A1190

[1259 rows x 4 columns]
1259
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1255    B3010  ex 3825 61 00  ex 7204 50 00   B1010
1256    B3010  ex 3825 90 90  ex 7217 90 20    A1190
1257    B3010  ex 3901 10 10  ex 7217 90 20   B1115
1258    B3010  ex 3901 10 90  ex 7217 90 50    A1190
1259    B3010  ex 3901 20 10  ex 7217 90 50    B1115

[1260 rows x 4 columns]
1260
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1256    B3010  ex 3825 90 90  ex 7217 90 20    A1190
1257    B3010  ex 3901 10 10  ex 7217 90 20   B1115
1258    B3010  ex 3901 10 90  ex 7217 90 50    A1190
1259    B3010  ex 3901 20 10  ex 7217 90 50    B1115
1260    B3010  ex 3901 20 90  ex 7217 90 90    A1190

[1261 rows x 4 columns]
1261
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1257    B3010  ex 3901 10 10  ex 7217 90 20   B1115
1258    B3010  ex 3901 10 90  ex 7217 90 50    A1190
1259    B3010  ex 3901 20 10  ex 7217 90 50    B1115
1260    B3010  ex 3901 20 90  ex 7217 90 90    A1190
1261    B3010  ex 3901 30 00  ex 7217 90 90   B1115

[1262 rows x 4 columns]
1262
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1258    B3010  ex 3901 10 90  ex 7217 90 50    A1190
1259    B3010  ex 3901 20 10  ex 7217 90 50    B1115
1260    B3010  ex 3901 20 90  ex 7217 90 90    A1190
1261    B3010  ex 3901 30 00  ex 7217 90 90   B1115
1262    B3010  ex 3901 90 30  ex 7223 00 11    A1190

[1263 rows x 4 columns]
1263
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1259    B3010  ex 3901 20 10  ex 7217 90 50    B1115
1260    B3010  ex 3901 20 90  ex 7217 90 90    A1190
1261    B3010  ex 3901 30 00  ex 7217 90 90   B1115
1262    B3010  ex 3901 90 30  ex 7223 00 11    A1190
1263    B3010  ex 3901 90 90  ex 7223 00 11   B1115

[1264 rows x 4 columns]
1264
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1260    B3010  ex 3901 20 90  ex 7217 90 90    A1190
1261    B3010  ex 3901 30 00  ex 7217 90 90   B1115
1262    B3010  ex 3901 90 30  ex 7223 00 11    A1190
1263    B3010  ex 3901 90 90  ex 7223 00 11   B1115
1264    B3010  ex 3902 10 00  ex 7223 00 19    A1190

[1265 rows x 4 columns]
1265
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1261    B3010  ex 3901 30 00  ex 7217 90 90   B1115
1262    B3010  ex 3901 90 30  ex 7223 00 11    A1190
1263    B3010  ex 3901 90 90  ex 7223 00 11   B1115
1264    B3010  ex 3902 10 00  ex 7223 00 19    A1190
1265    B3010  ex 3902 20 00  ex 7223 00 19   B1115

[1266 rows x 4 columns]
1266
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1262    B3010  ex 3901 90 30  ex 7223 00 11    A1190
1263    B3010  ex 3901 90 90  ex 7223 00 11   B1115
1264    B3010  ex 3902 10 00  ex 7223 00 19    A1190
1265    B3010  ex 3902 20 00  ex 7223 00 19   B1115
1266    B3010  ex 3902 30 00  ex 7223 00 91    A1190

[1267 rows x 4 columns]
1267
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1263    B3010  ex 3901 90 90  ex 7223 00 11   B1115
1264    B3010  ex 3902 10 00  ex 7223 00 19    A1190
1265    B3010  ex 3902 20 00  ex 7223 00 19   B1115
1266    B3010  ex 3902 30 00  ex 7223 00 91    A1190
1267    B3010  ex 3902 90 10  ex 7223 00 91   B1115

[1268 rows x 4 columns]
1268
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1264    B3010  ex 3902 10 00  ex 7223 00 19    A1190
1265    B3010  ex 3902 20 00  ex 7223 00 19   B1115
1266    B3010  ex 3902 30 00  ex 7223 00 91    A1190
1267    B3010  ex 3902 90 10  ex 7223 00 91   B1115
1268    B3010  ex 3902 90 20  ex 7223 00 99    A1190

[1269 rows x 4 columns]
1269
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1265    B3010  ex 3902 20 00  ex 7223 00 19   B1115
1266    B3010  ex 3902 30 00  ex 7223 00 91    A1190
1267    B3010  ex 3902 90 10  ex 7223 00 91   B1115
1268    B3010  ex 3902 90 20  ex 7223 00 99    A1190
1269    B3010  ex 3902 90 90  ex 7223 00 99   B1115

[1270 rows x 4 columns]
1270
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1266    B3010  ex 3902 30 00  ex 7223 00 91    A1190
1267    B3010  ex 3902 90 10  ex 7223 00 91   B1115
1268    B3010  ex 3902 90 20  ex 7223 00 99    A1190
1269    B3010  ex 3902 90 90  ex 7223 00 99   B1115
1270    B3010  ex 3903 11 00  ex 7229 20 00    A1190

[1271 rows x 4 columns]
1271
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1267    B3010  ex 3902 90 10  ex 7223 00 91   B1115
1268    B3010  ex 3902 90 20  ex 7223 00 99    A1190
1269    B3010  ex 3902 90 90  ex 7223 00 99   B1115
1270    B3010  ex 3903 11 00  ex 7229 20 00    A1190
1271    B3010  ex 3903 19 00  ex 7229 20 00   B1115

[1272 rows x 4 columns]
1272
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1268    B3010  ex 3902 90 20  ex 7223 00 99    A1190
1269    B3010  ex 3902 90 90  ex 7223 00 99   B1115
1270    B3010  ex 3903 11 00  ex 7229 20 00    A1190
1271    B3010  ex 3903 19 00  ex 7229 20 00   B1115
1272    B3010  ex 3903 20 00  ex 7229 90 20    A1190

[1273 rows x 4 columns]
1273
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1269    B3010  ex 3902 90 90  ex 7223 00 99   B1115
1270    B3010  ex 3903 11 00  ex 7229 20 00    A1190
1271    B3010  ex 3903 19 00  ex 7229 20 00   B1115
1272    B3010  ex 3903 20 00  ex 7229 90 20    A1190
1273    B3010  ex 3903 30 00  ex 7229 90 20   B1115

[1274 rows x 4 columns]
1274
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1270    B3010  ex 3903 11 00  ex 7229 20 00    A1190
1271    B3010  ex 3903 19 00  ex 7229 20 00   B1115
1272    B3010  ex 3903 20 00  ex 7229 90 20    A1190
1273    B3010  ex 3903 30 00  ex 7229 90 20   B1115
1274    B3010  ex 3903 90 10  ex 7229 90 50    A1190

[1275 rows x 4 columns]
1275
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1271    B3010  ex 3903 19 00  ex 7229 20 00   B1115
1272    B3010  ex 3903 20 00  ex 7229 90 20    A1190
1273    B3010  ex 3903 30 00  ex 7229 90 20   B1115
1274    B3010  ex 3903 90 10  ex 7229 90 50    A1190
1275    B3010  ex 3903 90 20  ex 7229 90 50   B1115

[1276 rows x 4 columns]
1276
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1272    B3010  ex 3903 20 00  ex 7229 90 20    A1190
1273    B3010  ex 3903 30 00  ex 7229 90 20   B1115
1274    B3010  ex 3903 90 10  ex 7229 90 50    A1190
1275    B3010  ex 3903 90 20  ex 7229 90 50   B1115
1276    B3010  ex 3903 90 90  ex 7229 90 90    A1190

[1277 rows x 4 columns]
1277
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1273    B3010  ex 3903 30 00  ex 7229 90 20   B1115
1274    B3010  ex 3903 90 10  ex 7229 90 50    A1190
1275    B3010  ex 3903 90 20  ex 7229 90 50   B1115
1276    B3010  ex 3903 90 90  ex 7229 90 90    A1190
1277    B3010  ex 3904 10 00  ex 7229 90 90   B1115

[1278 rows x 4 columns]
1278
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1274    B3010  ex 3903 90 10  ex 7229 90 50    A1190
1275    B3010  ex 3903 90 20  ex 7229 90 50   B1115
1276    B3010  ex 3903 90 90  ex 7229 90 90    A1190
1277    B3010  ex 3904 10 00  ex 7229 90 90   B1115
1278    B3010  ex 3904 21 00  ex 7312 10 20    A1190

[1279 rows x 4 columns]
1279
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1275    B3010  ex 3903 90 20  ex 7229 90 50   B1115
1276    B3010  ex 3903 90 90  ex 7229 90 90    A1190
1277    B3010  ex 3904 10 00  ex 7229 90 90   B1115
1278    B3010  ex 3904 21 00  ex 7312 10 20    A1190
1279    B3010  ex 3904 22 00  ex 7312 10 20   B1115

[1280 rows x 4 columns]
1280
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1276    B3010  ex 3903 90 90  ex 7229 90 90    A1190
1277    B3010  ex 3904 10 00  ex 7229 90 90   B1115
1278    B3010  ex 3904 21 00  ex 7312 10 20    A1190
1279    B3010  ex 3904 22 00  ex 7312 10 20   B1115
1280    B3010  ex 3904 30 00  ex 7312 10 49    A1190

[1281 rows x 4 columns]
1281
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1277    B3010  ex 3904 10 00  ex 7229 90 90   B1115
1278    B3010  ex 3904 21 00  ex 7312 10 20    A1190
1279    B3010  ex 3904 22 00  ex 7312 10 20   B1115
1280    B3010  ex 3904 30 00  ex 7312 10 49    A1190
1281    B3010  ex 3904 40 00  ex 7312 10 49   B1115

[1282 rows x 4 columns]
1282
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1278    B3010  ex 3904 21 00  ex 7312 10 20    A1190
1279    B3010  ex 3904 22 00  ex 7312 10 20   B1115
1280    B3010  ex 3904 30 00  ex 7312 10 49    A1190
1281    B3010  ex 3904 40 00  ex 7312 10 49   B1115
1282    B3010  ex 3904 50 10  ex 7312 10 69    A1190

[1283 rows x 4 columns]
1283
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1279    B3010  ex 3904 22 00  ex 7312 10 20   B1115
1280    B3010  ex 3904 30 00  ex 7312 10 49    A1190
1281    B3010  ex 3904 40 00  ex 7312 10 49   B1115
1282    B3010  ex 3904 50 10  ex 7312 10 69    A1190
1283    B3010  ex 3904 50 90  ex 7312 10 69   B1115

[1284 rows x 4 columns]
1284
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1280    B3010  ex 3904 30 00  ex 7312 10 49    A1190
1281    B3010  ex 3904 40 00  ex 7312 10 49   B1115
1282    B3010  ex 3904 50 10  ex 7312 10 69    A1190
1283    B3010  ex 3904 50 90  ex 7312 10 69   B1115
1284    B3010  ex 3904 61 00  ex 7312 10 98    A1190

[1285 rows x 4 columns]
1285
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1281    B3010  ex 3904 40 00  ex 7312 10 49   B1115
1282    B3010  ex 3904 50 10  ex 7312 10 69    A1190
1283    B3010  ex 3904 50 90  ex 7312 10 69   B1115
1284    B3010  ex 3904 61 00  ex 7312 10 98    A1190
1285    B3010  ex 3904 69 10  ex 7312 10 98   B1115

[1286 rows x 4 columns]
1286
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1282    B3010  ex 3904 50 10  ex 7312 10 69    A1190
1283    B3010  ex 3904 50 90  ex 7312 10 69   B1115
1284    B3010  ex 3904 61 00  ex 7312 10 98    A1190
1285    B3010  ex 3904 69 10  ex 7312 10 98   B1115
1286    B3010  ex 3904 69 20  ex 7312 90 00    A1190

[1287 rows x 4 columns]
1287
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1283    B3010  ex 3904 50 90  ex 7312 10 69   B1115
1284    B3010  ex 3904 61 00  ex 7312 10 98    A1190
1285    B3010  ex 3904 69 10  ex 7312 10 98   B1115
1286    B3010  ex 3904 69 20  ex 7312 90 00    A1190
1287    B3010  ex 3904 69 80  ex 7312 90 00   B1115

[1288 rows x 4 columns]
1288
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1284    B3010  ex 3904 61 00  ex 7312 10 98    A1190
1285    B3010  ex 3904 69 10  ex 7312 10 98   B1115
1286    B3010  ex 3904 69 20  ex 7312 90 00    A1190
1287    B3010  ex 3904 69 80  ex 7312 90 00   B1115
1288    B3010  ex 3904 90 00  ex 7323 91 00    A1190

[1289 rows x 4 columns]
1289
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1285    B3010  ex 3904 69 10  ex 7312 10 98   B1115
1286    B3010  ex 3904 69 20  ex 7312 90 00    A1190
1287    B3010  ex 3904 69 80  ex 7312 90 00   B1115
1288    B3010  ex 3904 90 00  ex 7323 91 00    A1190
1289    B3010  ex 3905 12 00  ex 7323 92 00    A1190

[1290 rows x 4 columns]
1290
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1286    B3010  ex 3904 69 20  ex 7312 90 00    A1190
1287    B3010  ex 3904 69 80  ex 7312 90 00   B1115
1288    B3010  ex 3904 90 00  ex 7323 91 00    A1190
1289    B3010  ex 3905 12 00  ex 7323 92 00    A1190
1290    B3010  ex 3907 20 99  ex 7323 93 00    A1190

[1291 rows x 4 columns]
1291
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1287    B3010  ex 3904 69 80  ex 7312 90 00   B1115
1288    B3010  ex 3904 90 00  ex 7323 91 00    A1190
1289    B3010  ex 3905 12 00  ex 7323 92 00    A1190
1290    B3010  ex 3907 20 99  ex 7323 93 00    A1190
1291    B3010  ex 3907 30 00  ex 7323 94 00    A1190

[1292 rows x 4 columns]
1292
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1288    B3010  ex 3904 90 00  ex 7323 91 00    A1190
1289    B3010  ex 3905 12 00  ex 7323 92 00    A1190
1290    B3010  ex 3907 20 99  ex 7323 93 00    A1190
1291    B3010  ex 3907 30 00  ex 7323 94 00    A1190
1292    B3010  ex 3907 40 00  ex 7323 99 00    A1190

[1293 rows x 4 columns]
1293
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1289    B3010  ex 3905 12 00  ex 7323 92 00    A1190
1290    B3010  ex 3907 20 99  ex 7323 93 00    A1190
1291    B3010  ex 3907 30 00  ex 7323 94 00    A1190
1292    B3010  ex 3907 40 00  ex 7323 99 00    A1190
1293    B3010  ex 3907 50 00  ex 7404 00 10    A1190

[1294 rows x 4 columns]
1294
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1290    B3010  ex 3907 20 99  ex 7323 93 00    A1190
1291    B3010  ex 3907 30 00  ex 7323 94 00    A1190
1292    B3010  ex 3907 40 00  ex 7323 99 00    A1190
1293    B3010  ex 3907 50 00  ex 7404 00 10    A1190
1294    B3010  ex 3907 60 20  ex 7404 00 10   B1010

[1295 rows x 4 columns]
1295
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1291    B3010  ex 3907 30 00  ex 7323 94 00    A1190
1292    B3010  ex 3907 40 00  ex 7323 99 00    A1190
1293    B3010  ex 3907 50 00  ex 7404 00 10    A1190
1294    B3010  ex 3907 60 20  ex 7404 00 10   B1010
1295    B3010  ex 3907 60 80  ex 7404 00 10   B1050

[1296 rows x 4 columns]
1296
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1292    B3010  ex 3907 40 00  ex 7323 99 00    A1190
1293    B3010  ex 3907 50 00  ex 7404 00 10    A1190
1294    B3010  ex 3907 60 20  ex 7404 00 10   B1010
1295    B3010  ex 3907 60 80  ex 7404 00 10   B1050
1296    B3010  ex 3907 70 00  ex 7404 00 10   B1070

[1297 rows x 4 columns]
1297
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1293    B3010  ex 3907 50 00  ex 7404 00 10    A1190
1294    B3010  ex 3907 60 20  ex 7404 00 10   B1010
1295    B3010  ex 3907 60 80  ex 7404 00 10   B1050
1296    B3010  ex 3907 70 00  ex 7404 00 10   B1070
1297    B3010  ex 3907 91 10  ex 7404 00 10   B1115

[1298 rows x 4 columns]
1298
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1294    B3010  ex 3907 60 20  ex 7404 00 10   B1010
1295    B3010  ex 3907 60 80  ex 7404 00 10   B1050
1296    B3010  ex 3907 70 00  ex 7404 00 10   B1070
1297    B3010  ex 3907 91 10  ex 7404 00 10   B1115
1298    B3010  ex 3907 91 90  ex 7404 00 10   B1120

[1299 rows x 4 columns]
1299
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1295    B3010  ex 3907 60 80  ex 7404 00 10   B1050
1296    B3010  ex 3907 70 00  ex 7404 00 10   B1070
1297    B3010  ex 3907 91 10  ex 7404 00 10   B1115
1298    B3010  ex 3907 91 90  ex 7404 00 10   B1120
1299    B3010  ex 3907 99 10  ex 7404 00 10   GC010

[1300 rows x 4 columns]
1300
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1296    B3010  ex 3907 70 00  ex 7404 00 10   B1070
1297    B3010  ex 3907 91 10  ex 7404 00 10   B1115
1298    B3010  ex 3907 91 90  ex 7404 00 10   B1120
1299    B3010  ex 3907 99 10  ex 7404 00 10   GC010
1300    B3010  ex 3907 99 90  ex 7404 00 10   GC020

[1301 rows x 4 columns]
1301
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1297    B3010  ex 3907 91 10  ex 7404 00 10   B1115
1298    B3010  ex 3907 91 90  ex 7404 00 10   B1120
1299    B3010  ex 3907 99 10  ex 7404 00 10   GC010
1300    B3010  ex 3907 99 90  ex 7404 00 10   GC020
1301    B3010  ex 3908 10 00  ex 7404 00 91    A1190

[1302 rows x 4 columns]
1302
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1298    B3010  ex 3907 91 90  ex 7404 00 10   B1120
1299    B3010  ex 3907 99 10  ex 7404 00 10   GC010
1300    B3010  ex 3907 99 90  ex 7404 00 10   GC020
1301    B3010  ex 3908 10 00  ex 7404 00 91    A1190
1302    B3010  ex 3908 90 00  ex 7404 00 91   B1010

[1303 rows x 4 columns]
1303
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1299    B3010  ex 3907 99 10  ex 7404 00 10   GC010
1300    B3010  ex 3907 99 90  ex 7404 00 10   GC020
1301    B3010  ex 3908 10 00  ex 7404 00 91    A1190
1302    B3010  ex 3908 90 00  ex 7404 00 91   B1010
1303    B3010  ex 3909 10 00  ex 7404 00 91   B1050

[1304 rows x 4 columns]
1304
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1300    B3010  ex 3907 99 90  ex 7404 00 10   GC020
1301    B3010  ex 3908 10 00  ex 7404 00 91    A1190
1302    B3010  ex 3908 90 00  ex 7404 00 91   B1010
1303    B3010  ex 3909 10 00  ex 7404 00 91   B1050
1304    B3010  ex 3909 20 00  ex 7404 00 91   B1070

[1305 rows x 4 columns]
1305
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1301    B3010  ex 3908 10 00  ex 7404 00 91    A1190
1302    B3010  ex 3908 90 00  ex 7404 00 91   B1010
1303    B3010  ex 3909 10 00  ex 7404 00 91   B1050
1304    B3010  ex 3909 20 00  ex 7404 00 91   B1070
1305    B3010  ex 3909 30 00  ex 7404 00 91   B1115

[1306 rows x 4 columns]
1306
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1302    B3010  ex 3908 90 00  ex 7404 00 91   B1010
1303    B3010  ex 3909 10 00  ex 7404 00 91   B1050
1304    B3010  ex 3909 20 00  ex 7404 00 91   B1070
1305    B3010  ex 3909 30 00  ex 7404 00 91   B1115
1306    B3010  ex 3909 40 00  ex 7404 00 91   B1120

[1307 rows x 4 columns]
1307
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1303    B3010  ex 3909 10 00  ex 7404 00 91   B1050
1304    B3010  ex 3909 20 00  ex 7404 00 91   B1070
1305    B3010  ex 3909 30 00  ex 7404 00 91   B1115
1306    B3010  ex 3909 40 00  ex 7404 00 91   B1120
1307    B3010  ex 3909 50 10  ex 7404 00 91   GC010

[1308 rows x 4 columns]
1308
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1304    B3010  ex 3909 20 00  ex 7404 00 91   B1070
1305    B3010  ex 3909 30 00  ex 7404 00 91   B1115
1306    B3010  ex 3909 40 00  ex 7404 00 91   B1120
1307    B3010  ex 3909 50 10  ex 7404 00 91   GC010
1308    B3010  ex 3909 50 90  ex 7404 00 91   GC020

[1309 rows x 4 columns]
1309
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1305    B3010  ex 3909 30 00  ex 7404 00 91   B1115
1306    B3010  ex 3909 40 00  ex 7404 00 91   B1120
1307    B3010  ex 3909 50 10  ex 7404 00 91   GC010
1308    B3010  ex 3909 50 90  ex 7404 00 91   GC020
1309    B3010  ex 3910 00 00  ex 7404 00 99    A1190

[1310 rows x 4 columns]
1310
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1306    B3010  ex 3909 40 00  ex 7404 00 91   B1120
1307    B3010  ex 3909 50 10  ex 7404 00 91   GC010
1308    B3010  ex 3909 50 90  ex 7404 00 91   GC020
1309    B3010  ex 3910 00 00  ex 7404 00 99    A1190
1310    B3010  ex 3911 10 00  ex 7404 00 99   B1010

[1311 rows x 4 columns]
1311
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1307    B3010  ex 3909 50 10  ex 7404 00 91   GC010
1308    B3010  ex 3909 50 90  ex 7404 00 91   GC020
1309    B3010  ex 3910 00 00  ex 7404 00 99    A1190
1310    B3010  ex 3911 10 00  ex 7404 00 99   B1010
1311    B3010  ex 3911 90 11  ex 7404 00 99   B1050

[1312 rows x 4 columns]
1312
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1308    B3010  ex 3909 50 90  ex 7404 00 91   GC020
1309    B3010  ex 3910 00 00  ex 7404 00 99    A1190
1310    B3010  ex 3911 10 00  ex 7404 00 99   B1010
1311    B3010  ex 3911 90 11  ex 7404 00 99   B1050
1312    B3010  ex 3911 90 13  ex 7404 00 99   B1070

[1313 rows x 4 columns]
1313
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1309    B3010  ex 3910 00 00  ex 7404 00 99    A1190
1310    B3010  ex 3911 10 00  ex 7404 00 99   B1010
1311    B3010  ex 3911 90 11  ex 7404 00 99   B1050
1312    B3010  ex 3911 90 13  ex 7404 00 99   B1070
1313    B3010  ex 3911 90 19  ex 7404 00 99   B1115

[1314 rows x 4 columns]
1314
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1310    B3010  ex 3911 10 00  ex 7404 00 99   B1010
1311    B3010  ex 3911 90 11  ex 7404 00 99   B1050
1312    B3010  ex 3911 90 13  ex 7404 00 99   B1070
1313    B3010  ex 3911 90 19  ex 7404 00 99   B1115
1314    B3010  ex 3911 90 92  ex 7404 00 99   B1120

[1315 rows x 4 columns]
1315
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1311    B3010  ex 3911 90 11  ex 7404 00 99   B1050
1312    B3010  ex 3911 90 13  ex 7404 00 99   B1070
1313    B3010  ex 3911 90 19  ex 7404 00 99   B1115
1314    B3010  ex 3911 90 92  ex 7404 00 99   B1120
1315    B3010  ex 3911 90 99  ex 7404 00 99   GC010

[1316 rows x 4 columns]
1316
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1312    B3010  ex 3911 90 13  ex 7404 00 99   B1070
1313    B3010  ex 3911 90 19  ex 7404 00 99   B1115
1314    B3010  ex 3911 90 92  ex 7404 00 99   B1120
1315    B3010  ex 3911 90 99  ex 7404 00 99   GC010
1316    B3010  ex 3912 11 00  ex 7404 00 99   GC020

[1317 rows x 4 columns]
1317
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1313    B3010  ex 3911 90 19  ex 7404 00 99   B1115
1314    B3010  ex 3911 90 92  ex 7404 00 99   B1120
1315    B3010  ex 3911 90 99  ex 7404 00 99   GC010
1316    B3010  ex 3912 11 00  ex 7404 00 99   GC020
1317    B3010  ex 3912 12 00  ex 7405 00 00    B1070

[1318 rows x 4 columns]
1318
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1314    B3010  ex 3911 90 92  ex 7404 00 99   B1120
1315    B3010  ex 3911 90 99  ex 7404 00 99   GC010
1316    B3010  ex 3912 11 00  ex 7404 00 99   GC020
1317    B3010  ex 3912 12 00  ex 7405 00 00    B1070
1318    B3010  ex 3912 20 11  ex 7406 10 00    B1070

[1319 rows x 4 columns]
1319
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1315    B3010  ex 3911 90 99  ex 7404 00 99   GC010
1316    B3010  ex 3912 11 00  ex 7404 00 99   GC020
1317    B3010  ex 3912 12 00  ex 7405 00 00    B1070
1318    B3010  ex 3912 20 11  ex 7406 10 00    B1070
1319    B3010  ex 3912 20 19  ex 7406 20 00    B1070

[1320 rows x 4 columns]
1320
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1316    B3010  ex 3912 11 00  ex 7404 00 99   GC020
1317    B3010  ex 3912 12 00  ex 7405 00 00    B1070
1318    B3010  ex 3912 20 11  ex 7406 10 00    B1070
1319    B3010  ex 3912 20 19  ex 7406 20 00    B1070
1320    B3010  ex 3912 20 90  ex 7408 11 00    A1190

[1321 rows x 4 columns]
1321

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1317    B3010  ex 3912 12 00  ex 7405 00 00    B1070
1318    B3010  ex 3912 20 11  ex 7406 10 00    B1070
1319    B3010  ex 3912 20 19  ex 7406 20 00    B1070
1320    B3010  ex 3912 20 90  ex 7408 11 00    A1190
1321    B3010  ex 3912 31 00  ex 7408 11 00   B1115

[1322 rows x 4 columns]
1322
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1318    B3010  ex 3912 20 11  ex 7406 10 00    B1070
1319    B3010  ex 3912 20 19  ex 7406 20 00    B1070
1320    B3010  ex 3912 20 90  ex 7408 11 00    A1190
1321    B3010  ex 3912 31 00  ex 7408 11 00   B1115
1322    B3010  ex 3912 39 20  ex 7408 19 10    A1190

[1323 rows x 4 columns]
1323
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1319    B3010  ex 3912 20 19  ex 7406 20 00    B1070
1320    B3010  ex 3912 20 90  ex 7408 11 00    A1190
1321    B3010  ex 3912 31 00  ex 7408 11 00   B1115
1322    B3010  ex 3912 39 20  ex 7408 19 10    A1190
1323    B3010  ex 3912 39 85  ex 7408 19 10   B1115

[1324 rows x 4 columns]
1324
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1320    B3010  ex 3912 20 90  ex 7408 11 00    A1190
1321    B3010  ex 3912 31 00  ex 7408 11 00   B1115
1322    B3010  ex 3912 39 20  ex 7408 19 10    A1190
1323    B3010  ex 3912 39 85  ex 7408 19 10   B1115
1324    B3010  ex 3912 90 10  ex 7408 19 90    A1190

[1325 rows x 4 columns]
1325
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1321    B3010  ex 3912 31 00  ex 7408 11 00   B1115
1322    B3010  ex 3912 39 20  ex 7408 19 10    A1190
1323    B3010  ex 3912 39 85  ex 7408 19 10   B1115
1324    B3010  ex 3912 90 10  ex 7408 19 90    A1190
1325    B3010  ex 3912 90 90  ex 7408 19 90   B1115

[1326 rows x 4 columns]
1326
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1322    B3010  ex 3912 39 20  ex 7408 19 10    A1190
1323    B3010  ex 3912 39 85  ex 7408 19 10   B1115
1324    B3010  ex 3912 90 10  ex 7408 19 90    A1190
1325    B3010  ex 3912 90 90  ex 7408 19 90   B1115
1326    B3010  ex 3913 10 00  ex 7408 21 00    A1190

[1327 rows x 4 columns]
1327
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1323    B3010  ex 3912 39 85  ex 7408 19 10   B1115
1324    B3010  ex 3912 90 10  ex 7408 19 90    A1190
1325    B3010  ex 3912 90 90  ex 7408 19 90   B1115
1326    B3010  ex 3913 10 00  ex 7408 21 00    A1190
1327    B3010  ex 3913 90 00  ex 7408 21 00   B1115

[1328 rows x 4 columns]
1328
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1324    B3010  ex 3912 90 10  ex 7408 19 90    A1190
1325    B3010  ex 3912 90 90  ex 7408 19 90   B1115
1326    B3010  ex 3913 10 00  ex 7408 21 00    A1190
1327    B3010  ex 3913 90 00  ex 7408 21 00   B1115
1328    B3010  ex 3914 00 00  ex 7408 22 00    A1190

[1329 rows x 4 columns]
1329
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1325    B3010  ex 3912 90 90  ex 7408 19 90   B1115
1326    B3010  ex 3913 10 00  ex 7408 21 00    A1190
1327    B3010  ex 3913 90 00  ex 7408 21 00   B1115
1328    B3010  ex 3914 00 00  ex 7408 22 00    A1190
1329    B3010  ex 3915 10 00  ex 7408 22 00   B1115

[1330 rows x 4 columns]
1330
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1326    B3010  ex 3913 10 00  ex 7408 21 00    A1190
1327    B3010  ex 3913 90 00  ex 7408 21 00   B1115
1328    B3010  ex 3914 00 00  ex 7408 22 00    A1190
1329    B3010  ex 3915 10 00  ex 7408 22 00   B1115
1330    B3010  ex 3915 20 00  ex 7408 29 00    A1190

[1331 rows x 4 columns]
1331
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1327    B3010  ex 3913 90 00  ex 7408 21 00   B1115
1328    B3010  ex 3914 00 00  ex 7408 22 00    A1190
1329    B3010  ex 3915 10 00  ex 7408 22 00   B1115
1330    B3010  ex 3915 20 00  ex 7408 29 00    A1190
1331    B3010  ex 3915 30 00  ex 7408 29 00   B1115

[1332 rows x 4 columns]
1332
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1328    B3010  ex 3914 00 00  ex 7408 22 00    A1190
1329    B3010  ex 3915 10 00  ex 7408 22 00   B1115
1330    B3010  ex 3915 20 00  ex 7408 29 00    A1190
1331    B3010  ex 3915 30 00  ex 7408 29 00   B1115
1332    B3010  ex 3915 90 11  ex 7413 00 00    B1115

[1333 rows x 4 columns]
1333
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1329    B3010  ex 3915 10 00  ex 7408 22 00   B1115
1330    B3010  ex 3915 20 00  ex 7408 29 00    A1190
1331    B3010  ex 3915 30 00  ex 7408 29 00   B1115
1332    B3010  ex 3915 90 11  ex 7413 00 00    B1115
1333    B3010  ex 3915 90 80  ex 7413 00 20    A1190

[1334 rows x 4 columns]
1334
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1330    B3010  ex 3915 20 00  ex 7408 29 00    A1190
1331    B3010  ex 3915 30 00  ex 7408 29 00   B1115
1332    B3010  ex 3915 90 11  ex 7413 00 00    B1115
1333    B3010  ex 3915 90 80  ex 7413 00 20    A1190
1334    B3020  ex 4707 10 00  ex 7413 00 80    A1190

[1335 rows x 4 columns]
1335
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1331    B3010  ex 3915 30 00  ex 7408 29 00   B1115
1332    B3010  ex 3915 90 11  ex 7413 00 00    B1115
1333    B3010  ex 3915 90 80  ex 7413 00 20    A1190
1334    B3020  ex 4707 10 00  ex 7413 00 80    A1190
1335    B3020  ex 4707 20 00  ex 7503 00 10    A1190

[1336 rows x 4 columns]
1336
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1332    B3010  ex 3915 90 11  ex 7413 00 00    B1115
1333    B3010  ex 3915 90 80  ex 7413 00 20    A1190
1334    B3020  ex 4707 10 00  ex 7413 00 80    A1190
1335    B3020  ex 4707 20 00  ex 7503 00 10    A1190
1336    B3020  ex 4707 30 10  ex 7503 00 10   B1010

[1337 rows x 4 columns]
1337
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1333    B3010  ex 3915 90 80  ex 7413 00 20    A1190
1334    B3020  ex 4707 10 00  ex 7413 00 80    A1190
1335    B3020  ex 4707 20 00  ex 7503 00 10    A1190
1336    B3020  ex 4707 30 10  ex 7503 00 10   B1010
1337    B3020  ex 4707 30 90  ex 7503 00 10   B1050

[1338 rows x 4 columns]
1338
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1334    B3020  ex 4707 10 00  ex 7413 00 80    A1190
1335    B3020  ex 4707 20 00  ex 7503 00 10    A1190
1336    B3020  ex 4707 30 10  ex 7503 00 10   B1010
1337    B3020  ex 4707 30 90  ex 7503 00 10   B1050
1338    B3020  ex 4707 90 10  ex 7503 00 10   B1115

[1339 rows x 4 columns]
1339
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1335    B3020  ex 4707 20 00  ex 7503 00 10    A1190
1336    B3020  ex 4707 30 10  ex 7503 00 10   B1010
1337    B3020  ex 4707 30 90  ex 7503 00 10   B1050
1338    B3020  ex 4707 90 10  ex 7503 00 10   B1115
1339    B3020  ex 4707 90 90  ex 7503 00 10   B1120

[1340 rows x 4 columns]
1340
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1336    B3020  ex 4707 30 10  ex 7503 00 10   B1010
1337    B3020  ex 4707 30 90  ex 7503 00 10   B1050
1338    B3020  ex 4707 90 10  ex 7503 00 10   B1115
1339    B3020  ex 4707 90 90  ex 7503 00 10   B1120
1340    B3020  ex 4823 90 85  ex 7503 00 10   GC010

[1341 rows x 4 columns]
1341
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1337    B3020  ex 4707 30 90  ex 7503 00 10   B1050
1338    B3020  ex 4707 90 10  ex 7503 00 10   B1115
1339    B3020  ex 4707 90 90  ex 7503 00 10   B1120
1340    B3020  ex 4823 90 85  ex 7503 00 10   GC010
1341    B3020  ex 7112 91 00  ex 7503 00 10   GC020

[1342 rows x 4 columns]
1342
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1338    B3020  ex 4707 90 10  ex 7503 00 10   B1115
1339    B3020  ex 4707 90 90  ex 7503 00 10   B1120
1340    B3020  ex 4823 90 85  ex 7503 00 10   GC010
1341    B3020  ex 7112 91 00  ex 7503 00 10   GC020
1342    B3020  ex 7112 92 00  ex 7503 00 90    B1010

[1343 rows x 4 columns]
1343
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1339    B3020  ex 4707 90 90  ex 7503 00 10   B1120
1340    B3020  ex 4823 90 85  ex 7503 00 10   GC010
1341    B3020  ex 7112 91 00  ex 7503 00 10   GC020
1342    B3020  ex 7112 92 00  ex 7503 00 90    B1010
1343    B3020  ex 7112 99 00  ex 7503 00 90   B1050

[1344 rows x 4 columns]
1344
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1340    B3020  ex 4823 90 85  ex 7503 00 10   GC010
1341    B3020  ex 7112 91 00  ex 7503 00 10   GC020
1342    B3020  ex 7112 92 00  ex 7503 00 90    B1010
1343    B3020  ex 7112 99 00  ex 7503 00 90   B1050
1344    B3030  ex 5003 00 00  ex 7503 00 90   B1115

[1345 rows x 4 columns]
1345
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1341    B3020  ex 7112 91 00  ex 7503 00 10   GC020
1342    B3020  ex 7112 92 00  ex 7503 00 90    B1010
1343    B3020  ex 7112 99 00  ex 7503 00 90   B1050
1344    B3030  ex 5003 00 00  ex 7503 00 90   B1115
1345    B3030  ex 5103 10 10  ex 7503 00 90   B1120

[1346 rows x 4 columns]
1346

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1342    B3020  ex 7112 92 00  ex 7503 00 90    B1010
1343    B3020  ex 7112 99 00  ex 7503 00 90   B1050
1344    B3030  ex 5003 00 00  ex 7503 00 90   B1115
1345    B3030  ex 5103 10 10  ex 7503 00 90   B1120
1346    B3030  ex 5103 10 90  ex 7503 00 90   GC010

[1347 rows x 4 columns]
1347
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1343    B3020  ex 7112 99 00  ex 7503 00 90   B1050
1344    B3030  ex 5003 00 00  ex 7503 00 90   B1115
1345    B3030  ex 5103 10 10  ex 7503 00 90   B1120
1346    B3030  ex 5103 10 90  ex 7503 00 90   GC010
1347    B3030  ex 5103 20 00  ex 7503 00 90    GC020

[1348 rows x 4 columns]
1348
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1344    B3030  ex 5003 00 00  ex 7503 00 90   B1115
1345    B3030  ex 5103 10 10  ex 7503 00 90   B1120
1346    B3030  ex 5103 10 90  ex 7503 00 90   GC010
1347    B3030  ex 5103 20 00  ex 7503 00 90    GC020
1348    B3030  ex 5103 30 00  ex 7505 21 00    A1190

[1349 rows x 4 columns]
1349
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1345    B3030  ex 5103 10 10  ex 7503 00 90   B1120
1346    B3030  ex 5103 10 90  ex 7503 00 90   GC010
1347    B3030  ex 5103 20 00  ex 7503 00 90    GC020
1348    B3030  ex 5103 30 00  ex 7505 21 00    A1190
1349    B3030  ex 5202 10 00  ex 7505 21 00   B1115

[1350 rows x 4 columns]
1350
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1346    B3030  ex 5103 10 90  ex 7503 00 90   GC010
1347    B3030  ex 5103 20 00  ex 7503 00 90    GC020
1348    B3030  ex 5103 30 00  ex 7505 21 00    A1190
1349    B3030  ex 5202 10 00  ex 7505 21 00   B1115
1350    B3030  ex 5202 91 00  ex 7505 22 00    A1190

[1351 rows x 4 columns]
1351
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1347    B3030  ex 5103 20 00  ex 7503 00 90    GC020
1348    B3030  ex 5103 30 00  ex 7505 21 00    A1190
1349    B3030  ex 5202 10 00  ex 7505 21 00   B1115
1350    B3030  ex 5202 91 00  ex 7505 22 00    A1190
1351    B3030  ex 5202 99 00  ex 7505 22 00   B1115

[1352 rows x 4 columns]
1352
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1348    B3030  ex 5103 30 00  ex 7505 21 00    A1190
1349    B3030  ex 5202 10 00  ex 7505 21 00   B1115
1350    B3030  ex 5202 91 00  ex 7505 22 00    A1190
1351    B3030  ex 5202 99 00  ex 7505 22 00   B1115
1352    B3030  ex 5301 30 00  ex 7508 90 00    A1190

[1353 rows x 4 columns]
1353
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1349    B3030  ex 5202 10 00  ex 7505 21 00   B1115
1350    B3030  ex 5202 91 00  ex 7505 22 00    A1190
1351    B3030  ex 5202 99 00  ex 7505 22 00   B1115
1352    B3030  ex 5301 30 00  ex 7508 90 00    A1190
1353    B3030  ex 5302 90 00  ex 7508 90 00   B1115

[1354 rows x 4 columns]
1354
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1350    B3030  ex 5202 91 00  ex 7505 22 00    A1190
1351    B3030  ex 5202 99 00  ex 7505 22 00   B1115
1352    B3030  ex 5301 30 00  ex 7508 90 00    A1190
1353    B3030  ex 5302 90 00  ex 7508 90 00   B1115
1354    B3030  ex 5303 90 00  ex 7602 00 11    A4130

[1355 rows x 4 columns]
1355
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1351    B3030  ex 5202 99 00  ex 7505 22 00   B1115
1352    B3030  ex 5301 30 00  ex 7508 90 00    A1190
1353    B3030  ex 5302 90 00  ex 7508 90 00   B1115
1354    B3030  ex 5303 90 00  ex 7602 00 11    A4130
1355    B3030  ex 5305 00 00  ex 7602 00 11   B1010

[1356 rows x 4 columns]
1356
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1352    B3030  ex 5301 30 00  ex 7508 90 00    A1190
1353    B3030  ex 5302 90 00  ex 7508 90 00   B1115
1354    B3030  ex 5303 90 00  ex 7602 00 11    A4130
1355    B3030  ex 5305 00 00  ex 7602 00 11   B1010
1356    B3030  ex 5505 10 10  ex 7602 00 11   B1050

[1357 rows x 4 columns]
1357
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1353    B3030  ex 5302 90 00  ex 7508 90 00   B1115
1354    B3030  ex 5303 90 00  ex 7602 00 11    A4130
1355    B3030  ex 5305 00 00  ex 7602 00 11   B1010
1356    B3030  ex 5505 10 10  ex 7602 00 11   B1050
1357    B3030  ex 5505 10 30  ex 7602 00 11   B1120

[1358 rows x 4 columns]
1358
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1354    B3030  ex 5303 90 00  ex 7602 00 11    A4130
1355    B3030  ex 5305 00 00  ex 7602 00 11   B1010
1356    B3030  ex 5505 10 10  ex 7602 00 11   B1050
1357    B3030  ex 5505 10 30  ex 7602 00 11   B1120
1358    B3030  ex 5505 10 50  ex 7602 00 11   GC010

[1359 rows x 4 columns]
1359
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1355    B3030  ex 5305 00 00  ex 7602 00 11   B1010
1356    B3030  ex 5505 10 10  ex 7602 00 11   B1050
1357    B3030  ex 5505 10 30  ex 7602 00 11   B1120
1358    B3030  ex 5505 10 50  ex 7602 00 11   GC010
1359    B3030  ex 5505 10 70  ex 7602 00 11   GC020

[1360 rows x 4 columns]
1360
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1356    B3030  ex 5505 10 10  ex 7602 00 11   B1050
1357    B3030  ex 5505 10 30  ex 7602 00 11   B1120
1358    B3030  ex 5505 10 50  ex 7602 00 11   GC010
1359    B3030  ex 5505 10 70  ex 7602 00 11   GC020
1360    B3030  ex 5505 10 90  ex 7602 00 19    A1190

[1361 rows x 4 columns]
1361
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1357    B3030  ex 5505 10 30  ex 7602 00 11   B1120
1358    B3030  ex 5505 10 50  ex 7602 00 11   GC010
1359    B3030  ex 5505 10 70  ex 7602 00 11   GC020
1360    B3030  ex 5505 10 90  ex 7602 00 19    A1190
1361    B3030  ex 5505 20 00  ex 7602 00 19   A4130

[1362 rows x 4 columns]
1362
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1358    B3030  ex 5505 10 50  ex 7602 00 11   GC010
1359    B3030  ex 5505 10 70  ex 7602 00 11   GC020
1360    B3030  ex 5505 10 90  ex 7602 00 19    A1190
1361    B3030  ex 5505 20 00  ex 7602 00 19   A4130
1362    B3030  ex 6309 00 00  ex 7602 00 19   B1010

[1363 rows x 4 columns]
1363
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1359    B3030  ex 5505 10 70  ex 7602 00 11   GC020
1360    B3030  ex 5505 10 90  ex 7602 00 19    A1190
1361    B3030  ex 5505 20 00  ex 7602 00 19   A4130
1362    B3030  ex 6309 00 00  ex 7602 00 19   B1010
1363    B3030  ex 6310 10 00  ex 7602 00 19   B1050

[1364 rows x 4 columns]
1364
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1360    B3030  ex 5505 10 90  ex 7602 00 19    A1190
1361    B3030  ex 5505 20 00  ex 7602 00 19   A4130
1362    B3030  ex 6309 00 00  ex 7602 00 19   B1010
1363    B3030  ex 6310 10 00  ex 7602 00 19   B1050
1364    B3030  ex 6310 90 00  ex 7602 00 19   B1115

[1365 rows x 4 columns]
1365
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1361    B3030  ex 5505 20 00  ex 7602 00 19   A4130
1362    B3030  ex 6309 00 00  ex 7602 00 19   B1010
1363    B3030  ex 6310 10 00  ex 7602 00 19   B1050
1364    B3030  ex 6310 90 00  ex 7602 00 19   B1115
1365    B3035  ex 5701 10 10  ex 7602 00 19   B1120

[1366 rows x 4 columns]
1366
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1362    B3030  ex 6309 00 00  ex 7602 00 19   B1010
1363    B3030  ex 6310 10 00  ex 7602 00 19   B1050
1364    B3030  ex 6310 90 00  ex 7602 00 19   B1115
1365    B3035  ex 5701 10 10  ex 7602 00 19   B1120
1366    B3035  ex 5701 10 90  ex 7602 00 19   B1250

[1367 rows x 4 columns]
1367
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1363    B3030  ex 6310 10 00  ex 7602 00 19   B1050
1364    B3030  ex 6310 90 00  ex 7602 00 19   B1115
1365    B3035  ex 5701 10 10  ex 7602 00 19   B1120
1366    B3035  ex 5701 10 90  ex 7602 00 19   B1250
1367    B3035  ex 5701 90 10  ex 7602 00 19   GC010

[1368 rows x 4 columns]
1368
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1364    B3030  ex 6310 90 00  ex 7602 00 19   B1115
1365    B3035  ex 5701 10 10  ex 7602 00 19   B1120
1366    B3035  ex 5701 10 90  ex 7602 00 19   B1250
1367    B3035  ex 5701 90 10  ex 7602 00 19   GC010
1368    B3035  ex 5701 90 90  ex 7602 00 19   GC020

[1369 rows x 4 columns]
1369
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1365    B3035  ex 5701 10 10  ex 7602 00 19   B1120
1366    B3035  ex 5701 10 90  ex 7602 00 19   B1250
1367    B3035  ex 5701 90 10  ex 7602 00 19   GC010
1368    B3035  ex 5701 90 90  ex 7602 00 19   GC020
1369    B3035  ex 5904 90 00  ex 7602 00 90    A1190

[1370 rows x 4 columns]
1370
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1366    B3035  ex 5701 10 90  ex 7602 00 19   B1250
1367    B3035  ex 5701 90 10  ex 7602 00 19   GC010
1368    B3035  ex 5701 90 90  ex 7602 00 19   GC020
1369    B3035  ex 5904 90 00  ex 7602 00 90    A1190
1370    B3035  ex 6309 00 00  ex 7602 00 90   A4130

[1371 rows x 4 columns]
1371
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1367    B3035  ex 5701 90 10  ex 7602 00 19   GC010
1368    B3035  ex 5701 90 90  ex 7602 00 19   GC020
1369    B3035  ex 5904 90 00  ex 7602 00 90    A1190
1370    B3035  ex 6309 00 00  ex 7602 00 90   A4130
1371    B3040        ex 3901  ex 7602 00 90   B1010

[1372 rows x 4 columns]
1372

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1368    B3035  ex 5701 90 90  ex 7602 00 19   GC020
1369    B3035  ex 5904 90 00  ex 7602 00 90    A1190
1370    B3035  ex 6309 00 00  ex 7602 00 90   A4130
1371    B3040        ex 3901  ex 7602 00 90   B1010
1372    B3040  ex 3902 30 00  ex 7602 00 90   B1050

[1373 rows x 4 columns]
1373
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1369    B3035  ex 5904 90 00  ex 7602 00 90    A1190
1370    B3035  ex 6309 00 00  ex 7602 00 90   A4130
1371    B3040        ex 3901  ex 7602 00 90   B1010
1372    B3040  ex 3902 30 00  ex 7602 00 90   B1050
1373    B3040  ex 3902 90 90  ex 7602 00 90   B1115

[1374 rows x 4 columns]
1374
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1370    B3035  ex 6309 00 00  ex 7602 00 90   A4130
1371    B3040        ex 3901  ex 7602 00 90   B1010
1372    B3040  ex 3902 30 00  ex 7602 00 90   B1050
1373    B3040  ex 3902 90 90  ex 7602 00 90   B1115
1374    B3040  ex 3903 30 00  ex 7602 00 90   B1120

[1375 rows x 4 columns]
1375
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1371    B3040        ex 3901  ex 7602 00 90   B1010
1372    B3040  ex 3902 30 00  ex 7602 00 90   B1050
1373    B3040  ex 3902 90 90  ex 7602 00 90   B1115
1374    B3040  ex 3903 30 00  ex 7602 00 90   B1120
1375    B3040  ex 3903 90 90  ex 7602 00 90   B1250

[1376 rows x 4 columns]
1376
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1372    B3040  ex 3902 30 00  ex 7602 00 90   B1050
1373    B3040  ex 3902 90 90  ex 7602 00 90   B1115
1374    B3040  ex 3903 30 00  ex 7602 00 90   B1120
1375    B3040  ex 3903 90 90  ex 7602 00 90   B1250
1376    B3040  ex 3904 69 20  ex 7602 00 90   GC010

[1377 rows x 4 columns]
1377
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1373    B3040  ex 3902 90 90  ex 7602 00 90   B1115
1374    B3040  ex 3903 30 00  ex 7602 00 90   B1120
1375    B3040  ex 3903 90 90  ex 7602 00 90   B1250
1376    B3040  ex 3904 69 20  ex 7602 00 90   GC010
1377    B3040  ex 3906 90 90  ex 7602 00 90    GC020

[1378 rows x 4 columns]
1378
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1374    B3040  ex 3903 30 00  ex 7602 00 90   B1120
1375    B3040  ex 3903 90 90  ex 7602 00 90   B1250
1376    B3040  ex 3904 69 20  ex 7602 00 90   GC010
1377    B3040  ex 3906 90 90  ex 7602 00 90    GC020
1378    B3040  ex 3910 00 00  ex 7614 10 00    A1190

[1379 rows x 4 columns]
1379
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1375    B3040  ex 3903 90 90  ex 7602 00 90   B1250
1376    B3040  ex 3904 69 20  ex 7602 00 90   GC010
1377    B3040  ex 3906 90 90  ex 7602 00 90    GC020
1378    B3040  ex 3910 00 00  ex 7614 10 00    A1190
1379    B3040  ex 3911 90 13  ex 7614 10 00   B1115

[1380 rows x 4 columns]
1380
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1376    B3040  ex 3904 69 20  ex 7602 00 90   GC010
1377    B3040  ex 3906 90 90  ex 7602 00 90    GC020
1378    B3040  ex 3910 00 00  ex 7614 10 00    A1190
1379    B3040  ex 3911 90 13  ex 7614 10 00   B1115
1380    B3040  ex 3915 10 00  ex 7614 90 00    A1190

[1381 rows x 4 columns]
1381
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1377    B3040  ex 3906 90 90  ex 7602 00 90    GC020
1378    B3040  ex 3910 00 00  ex 7614 10 00    A1190
1379    B3040  ex 3911 90 13  ex 7614 10 00   B1115
1380    B3040  ex 3915 10 00  ex 7614 90 00    A1190
1381    B3040  ex 3915 20 00  ex 7614 90 00   B1115

[1382 rows x 4 columns]
1382
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1378    B3040  ex 3910 00 00  ex 7614 10 00    A1190
1379    B3040  ex 3911 90 13  ex 7614 10 00   B1115
1380    B3040  ex 3915 10 00  ex 7614 90 00    A1190
1381    B3040  ex 3915 20 00  ex 7614 90 00   B1115
1382    B3040  ex 3915 90 80          ex 78    B1020

[1383 rows x 4 columns]
1383
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1379    B3040  ex 3911 90 13  ex 7614 10 00   B1115
1380    B3040  ex 3915 10 00  ex 7614 90 00    A1190
1381    B3040  ex 3915 20 00  ex 7614 90 00   B1115
1382    B3040  ex 3915 90 80          ex 78    B1020
1383    B3040  ex 4001 10 00  ex 7802 00 00    B1115

[1384 rows x 4 columns]
1384
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1380    B3040  ex 3915 10 00  ex 7614 90 00    A1190
1381    B3040  ex 3915 20 00  ex 7614 90 00   B1115
1382    B3040  ex 3915 90 80          ex 78    B1020
1383    B3040  ex 4001 10 00  ex 7802 00 00    B1115
1384    B3040  ex 4001 22 00  ex 7802 00 00    A1010

[1385 rows x 4 columns]
1385
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1381    B3040  ex 3915 20 00  ex 7614 90 00   B1115
1382    B3040  ex 3915 90 80          ex 78    B1020
1383    B3040  ex 4001 10 00  ex 7802 00 00    B1115
1384    B3040  ex 4001 22 00  ex 7802 00 00    A1010
1385    B3040  ex 4001 29 00  ex 7802 00 00    A1020

[1386 rows x 4 columns]
1386
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1382    B3040  ex 3915 90 80          ex 78    B1020
1383    B3040  ex 4001 10 00  ex 7802 00 00    B1115
1384    B3040  ex 4001 22 00  ex 7802 00 00    A1010
1385    B3040  ex 4001 29 00  ex 7802 00 00    A1020
1386    B3040  ex 4001 30 00  ex 7802 00 00   B1050

[1387 rows x 4 columns]
1387
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1383    B3040  ex 4001 10 00  ex 7802 00 00    B1115
1384    B3040  ex 4001 22 00  ex 7802 00 00    A1010
1385    B3040  ex 4001 29 00  ex 7802 00 00    A1020
1386    B3040  ex 4001 30 00  ex 7802 00 00   B1050
1387    B3040        ex 4002  ex 7802 00 00   B1115

[1388 rows x 4 columns]
1388
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1384    B3040  ex 4001 22 00  ex 7802 00 00    A1010
1385    B3040  ex 4001 29 00  ex 7802 00 00    A1020
1386    B3040  ex 4001 30 00  ex 7802 00 00   B1050
1387    B3040        ex 4002  ex 7802 00 00   B1115
1388    B3040        ex 4003  ex 7802 00 00   GC010

[1389 rows x 4 columns]
1389
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1385    B3040  ex 4001 29 00  ex 7802 00 00    A1020
1386    B3040  ex 4001 30 00  ex 7802 00 00   B1050
1387    B3040        ex 4002  ex 7802 00 00   B1115
1388    B3040        ex 4003  ex 7802 00 00   GC010
1389    B3040  ex 4004 00 00  ex 7802 00 00   GC020

[1390 rows x 4 columns]
1390
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1386    B3040  ex 4001 30 00  ex 7802 00 00   B1050
1387    B3040        ex 4002  ex 7802 00 00   B1115
1388    B3040        ex 4003  ex 7802 00 00   GC010
1389    B3040  ex 4004 00 00  ex 7802 00 00   GC020
1390    B3040  ex 4005 10 00  ex 7802 00 00   A1190

[1391 rows x 4 columns]
1391
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1387    B3040        ex 4002  ex 7802 00 00   B1115
1388    B3040        ex 4003  ex 7802 00 00   GC010
1389    B3040  ex 4004 00 00  ex 7802 00 00   GC020
1390    B3040  ex 4005 10 00  ex 7802 00 00   A1190
1391    B3040  ex 4005 99 00  ex 7806 00 30    A1190

[1392 rows x 4 columns]
1392
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1388    B3040        ex 4003  ex 7802 00 00   GC010
1389    B3040  ex 4004 00 00  ex 7802 00 00   GC020
1390    B3040  ex 4005 10 00  ex 7802 00 00   A1190
1391    B3040  ex 4005 99 00  ex 7806 00 30    A1190
1392    B3040  ex 4017 00 00  ex 7806 00 90    A1190

[1393 rows x 4 columns]
1393
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1389    B3040  ex 4004 00 00  ex 7802 00 00   GC020
1390    B3040  ex 4005 10 00  ex 7802 00 00   A1190
1391    B3040  ex 4005 99 00  ex 7806 00 30    A1190
1392    B3040  ex 4017 00 00  ex 7806 00 90    A1190
1393    B3040  ex 6309 00 00  ex 7902 00 00    A1190

[1394 rows x 4 columns]
1394
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1390    B3040  ex 4005 10 00  ex 7802 00 00   A1190
1391    B3040  ex 4005 99 00  ex 7806 00 30    A1190
1392    B3040  ex 4017 00 00  ex 7806 00 90    A1190
1393    B3040  ex 6309 00 00  ex 7902 00 00    A1190
1394    B3050  ex 4401 10 00  ex 7902 00 00   B1010

[1395 rows x 4 columns]
1395
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1391    B3040  ex 4005 99 00  ex 7806 00 30    A1190
1392    B3040  ex 4017 00 00  ex 7806 00 90    A1190
1393    B3040  ex 6309 00 00  ex 7902 00 00    A1190
1394    B3050  ex 4401 10 00  ex 7902 00 00   B1010
1395    B3050  ex 4401 21 00  ex 7902 00 00   B1050

[1396 rows x 4 columns]
1396
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1392    B3040  ex 4017 00 00  ex 7806 00 90    A1190
1393    B3040  ex 6309 00 00  ex 7902 00 00    A1190
1394    B3050  ex 4401 10 00  ex 7902 00 00   B1010
1395    B3050  ex 4401 21 00  ex 7902 00 00   B1050
1396    B3050  ex 4401 22 00  ex 7902 00 00   B1080

[1397 rows x 4 columns]
1397
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1393    B3040  ex 6309 00 00  ex 7902 00 00    A1190
1394    B3050  ex 4401 10 00  ex 7902 00 00   B1010
1395    B3050  ex 4401 21 00  ex 7902 00 00   B1050
1396    B3050  ex 4401 22 00  ex 7902 00 00   B1080
1397    B3050  ex 4401 31 00  ex 7902 00 00   B1115

[1398 rows x 4 columns]
1398
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1394    B3050  ex 4401 10 00  ex 7902 00 00   B1010
1395    B3050  ex 4401 21 00  ex 7902 00 00   B1050
1396    B3050  ex 4401 22 00  ex 7902 00 00   B1080
1397    B3050  ex 4401 31 00  ex 7902 00 00   B1115
1398    B3050  ex 4401 39 20  ex 7902 00 00   B1120

[1399 rows x 4 columns]
1399
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1395    B3050  ex 4401 21 00  ex 7902 00 00   B1050
1396    B3050  ex 4401 22 00  ex 7902 00 00   B1080
1397    B3050  ex 4401 31 00  ex 7902 00 00   B1115
1398    B3050  ex 4401 39 20  ex 7902 00 00   B1120
1399    B3050  ex 4401 39 30  ex 7902 00 00   GC010

[1400 rows x 4 columns]
1400
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1396    B3050  ex 4401 22 00  ex 7902 00 00   B1080
1397    B3050  ex 4401 31 00  ex 7902 00 00   B1115
1398    B3050  ex 4401 39 20  ex 7902 00 00   B1120
1399    B3050  ex 4401 39 30  ex 7902 00 00   GC010
1400    B3050  ex 4401 39 80  ex 7902 00 00   GC020

[1401 rows x 4 columns]
1401
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1397    B3050  ex 4401 31 00  ex 7902 00 00   B1115
1398    B3050  ex 4401 39 20  ex 7902 00 00   B1120
1399    B3050  ex 4401 39 30  ex 7902 00 00   GC010
1400    B3050  ex 4401 39 80  ex 7902 00 00   GC020
1401    B3050  ex 4501 90 00  ex 7903 10 00    B1080

[1402 rows x 4 columns]
1402
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1398    B3050  ex 4401 39 20  ex 7902 00 00   B1120
1399    B3050  ex 4401 39 30  ex 7902 00 00   GC010
1400    B3050  ex 4401 39 80  ex 7902 00 00   GC020
1401    B3050  ex 4501 90 00  ex 7903 10 00    B1080
1402    B3060  ex 0506 10 00  ex 7903 90 00    B1080

[1403 rows x 4 columns]
1403
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1399    B3050  ex 4401 39 30  ex 7902 00 00   GC010
1400    B3050  ex 4401 39 80  ex 7902 00 00   GC020
1401    B3050  ex 4501 90 00  ex 7903 10 00    B1080
1402    B3060  ex 0506 10 00  ex 7903 90 00    B1080
1403    B3060  ex 0506 90 00  ex 7904 00 00    A1190

[1404 rows x 4 columns]
1404
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1400    B3050  ex 4401 39 80  ex 7902 00 00   GC020
1401    B3050  ex 4501 90 00  ex 7903 10 00    B1080
1402    B3060  ex 0506 10 00  ex 7903 90 00    B1080
1403    B3060  ex 0506 90 00  ex 7904 00 00    A1190
1404    B3060  ex 0511 91 10  ex 7904 00 00   B1115

[1405 rows x 4 columns]
1405
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1401    B3050  ex 4501 90 00  ex 7903 10 00    B1080
1402    B3060  ex 0506 10 00  ex 7903 90 00    B1080
1403    B3060  ex 0506 90 00  ex 7904 00 00    A1190
1404    B3060  ex 0511 91 10  ex 7904 00 00   B1115
1405    B3060  ex 1213 00 00  ex 7907 00 90    A1190

[1406 rows x 4 columns]
1406
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1402    B3060  ex 0506 10 00  ex 7903 90 00    B1080
1403    B3060  ex 0506 90 00  ex 7904 00 00    A1190
1404    B3060  ex 0511 91 10  ex 7904 00 00   B1115
1405    B3060  ex 1213 00 00  ex 7907 00 90    A1190
1406    B3060  ex 1404 90 00  ex 8002 00 00    A1190

[1407 rows x 4 columns]
1407
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1403    B3060  ex 0506 90 00  ex 7904 00 00    A1190
1404    B3060  ex 0511 91 10  ex 7904 00 00   B1115
1405    B3060  ex 1213 00 00  ex 7907 00 90    A1190
1406    B3060  ex 1404 90 00  ex 8002 00 00    A1190
1407    B3060  ex 1522 00 10  ex 8002 00 00   A4130

[1408 rows x 4 columns]
1408
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1404    B3060  ex 0511 91 10  ex 7904 00 00   B1115
1405    B3060  ex 1213 00 00  ex 7907 00 90    A1190
1406    B3060  ex 1404 90 00  ex 8002 00 00    A1190
1407    B3060  ex 1522 00 10  ex 8002 00 00   A4130
1408    B3060  ex 1522 00 31  ex 8002 00 00   B1010

[1409 rows x 4 columns]
1409
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1405    B3060  ex 1213 00 00  ex 7907 00 90    A1190
1406    B3060  ex 1404 90 00  ex 8002 00 00    A1190
1407    B3060  ex 1522 00 10  ex 8002 00 00   A4130
1408    B3060  ex 1522 00 31  ex 8002 00 00   B1010
1409    B3060  ex 1522 00 39  ex 8002 00 00   B1050

[1410 rows x 4 columns]
1410
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1406    B3060  ex 1404 90 00  ex 8002 00 00    A1190
1407    B3060  ex 1522 00 10  ex 8002 00 00   A4130
1408    B3060  ex 1522 00 31  ex 8002 00 00   B1010
1409    B3060  ex 1522 00 39  ex 8002 00 00   B1050
1410    B3060  ex 1522 00 91  ex 8002 00 00   B1115

[1411 rows x 4 columns]
1411
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1407    B3060  ex 1522 00 10  ex 8002 00 00   A4130
1408    B3060  ex 1522 00 31  ex 8002 00 00   B1010
1409    B3060  ex 1522 00 39  ex 8002 00 00   B1050
1410    B3060  ex 1522 00 91  ex 8002 00 00   B1115
1411    B3060  ex 1522 00 99  ex 8002 00 00   B1120

[1412 rows x 4 columns]
1412
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1408    B3060  ex 1522 00 31  ex 8002 00 00   B1010
1409    B3060  ex 1522 00 39  ex 8002 00 00   B1050
1410    B3060  ex 1522 00 91  ex 8002 00 00   B1115
1411    B3060  ex 1522 00 99  ex 8002 00 00   B1120
1412    B3060  ex 1802 00 00  ex 8002 00 00   GC010

[1413 rows x 4 columns]
1413
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1409    B3060  ex 1522 00 39  ex 8002 00 00   B1050
1410    B3060  ex 1522 00 91  ex 8002 00 00   B1115
1411    B3060  ex 1522 00 99  ex 8002 00 00   B1120
1412    B3060  ex 1802 00 00  ex 8002 00 00   GC010
1413    B3060  ex 2301 10 00  ex 8002 00 00   GC020

[1414 rows x 4 columns]
1414

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1410    B3060  ex 1522 00 91  ex 8002 00 00   B1115
1411    B3060  ex 1522 00 99  ex 8002 00 00   B1120
1412    B3060  ex 1802 00 00  ex 8002 00 00   GC010
1413    B3060  ex 2301 10 00  ex 8002 00 00   GC020
1414    B3060  ex 2301 20 00  ex 8003 00 00    A1190

[1415 rows x 4 columns]
1415
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1411    B3060  ex 1522 00 99  ex 8002 00 00   B1120
1412    B3060  ex 1802 00 00  ex 8002 00 00   GC010
1413    B3060  ex 2301 10 00  ex 8002 00 00   GC020
1414    B3060  ex 2301 20 00  ex 8003 00 00    A1190
1415    B3060        ex 2302  ex 8003 00 00   B1115

[1416 rows x 4 columns]
1416
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1412    B3060  ex 1802 00 00  ex 8002 00 00   GC010
1413    B3060  ex 2301 10 00  ex 8002 00 00   GC020
1414    B3060  ex 2301 20 00  ex 8003 00 00    A1190
1415    B3060        ex 2302  ex 8003 00 00   B1115
1416    B3060        ex 2303  ex 8007 00 80    A1190

[1417 rows x 4 columns]
1417
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1413    B3060  ex 2301 10 00  ex 8002 00 00   GC020
1414    B3060  ex 2301 20 00  ex 8003 00 00    A1190
1415    B3060        ex 2302  ex 8003 00 00   B1115
1416    B3060        ex 2303  ex 8007 00 80    A1190
1417    B3060  ex 2304 00 00  ex 8007 00 80   B1115

[1418 rows x 4 columns]
1418
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1414    B3060  ex 2301 20 00  ex 8003 00 00    A1190
1415    B3060        ex 2302  ex 8003 00 00   B1115
1416    B3060        ex 2303  ex 8007 00 80    A1190
1417    B3060  ex 2304 00 00  ex 8007 00 80   B1115
1418    B3060  ex 2305 00 00  ex 8101 10 00    B1031

[1419 rows x 4 columns]
1419
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1415    B3060        ex 2302  ex 8003 00 00   B1115
1416    B3060        ex 2303  ex 8007 00 80    A1190
1417    B3060  ex 2304 00 00  ex 8007 00 80   B1115
1418    B3060  ex 2305 00 00  ex 8101 10 00    B1031
1419    B3060        ex 2306  ex 8101 96 00    A1190

[1420 rows x 4 columns]
1420
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1416    B3060        ex 2303  ex 8007 00 80    A1190
1417    B3060  ex 2304 00 00  ex 8007 00 80   B1115
1418    B3060  ex 2305 00 00  ex 8101 10 00    B1031
1419    B3060        ex 2306  ex 8101 96 00    A1190
1420    B3060  ex 2307 00 11  ex 8101 96 00   B1115

[1421 rows x 4 columns]
1421
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1417    B3060  ex 2304 00 00  ex 8007 00 80   B1115
1418    B3060  ex 2305 00 00  ex 8101 10 00    B1031
1419    B3060        ex 2306  ex 8101 96 00    A1190
1420    B3060  ex 2307 00 11  ex 8101 96 00   B1115
1421    B3060  ex 2307 00 19  ex 8101 97 00    A1190

[1422 rows x 4 columns]
1422
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1418    B3060  ex 2305 00 00  ex 8101 10 00    B1031
1419    B3060        ex 2306  ex 8101 96 00    A1190
1420    B3060  ex 2307 00 11  ex 8101 96 00   B1115
1421    B3060  ex 2307 00 19  ex 8101 97 00    A1190
1422    B3060  ex 2308 00 11  ex 8101 97 00   B1010

[1423 rows x 4 columns]
1423
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1419    B3060        ex 2306  ex 8101 96 00    A1190
1420    B3060  ex 2307 00 11  ex 8101 96 00   B1115
1421    B3060  ex 2307 00 19  ex 8101 97 00    A1190
1422    B3060  ex 2308 00 11  ex 8101 97 00   B1010
1423    B3060  ex 2308 00 19  ex 8101 97 00    B1030

[1424 rows x 4 columns]
1424
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1420    B3060  ex 2307 00 11  ex 8101 96 00   B1115
1421    B3060  ex 2307 00 19  ex 8101 97 00    A1190
1422    B3060  ex 2308 00 11  ex 8101 97 00   B1010
1423    B3060  ex 2308 00 19  ex 8101 97 00    B1030
1424    B3060  ex 2308 00 40  ex 8101 97 00   B1031

[1425 rows x 4 columns]
1425
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1421    B3060  ex 2307 00 19  ex 8101 97 00    A1190
1422    B3060  ex 2308 00 11  ex 8101 97 00   B1010
1423    B3060  ex 2308 00 19  ex 8101 97 00    B1030
1424    B3060  ex 2308 00 40  ex 8101 97 00   B1031
1425    B3060  ex 2308 00 90  ex 8101 97 00   B1050

[1426 rows x 4 columns]
1426
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1422    B3060  ex 2308 00 11  ex 8101 97 00   B1010
1423    B3060  ex 2308 00 19  ex 8101 97 00    B1030
1424    B3060  ex 2308 00 40  ex 8101 97 00   B1031
1425    B3060  ex 2308 00 90  ex 8101 97 00   B1050
1426    B3060  ex 2401 30 00  ex 8101 97 00   B1115

[1427 rows x 4 columns]
1427
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1423    B3060  ex 2308 00 19  ex 8101 97 00    B1030
1424    B3060  ex 2308 00 40  ex 8101 97 00   B1031
1425    B3060  ex 2308 00 90  ex 8101 97 00   B1050
1426    B3060  ex 2401 30 00  ex 8101 97 00   B1115
1427    B3060  ex 3825 61 00  ex 8101 97 00   B1120

[1428 rows x 4 columns]
1428
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1424    B3060  ex 2308 00 40  ex 8101 97 00   B1031
1425    B3060  ex 2308 00 90  ex 8101 97 00   B1050
1426    B3060  ex 2401 30 00  ex 8101 97 00   B1115
1427    B3060  ex 3825 61 00  ex 8101 97 00   B1120
1428    B3060  ex 3825 90 90  ex 8101 97 00   GC010

[1429 rows x 4 columns]
1429
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1425    B3060  ex 2308 00 90  ex 8101 97 00   B1050
1426    B3060  ex 2401 30 00  ex 8101 97 00   B1115
1427    B3060  ex 3825 61 00  ex 8101 97 00   B1120
1428    B3060  ex 3825 90 90  ex 8101 97 00   GC010
1429    B3065          ex 15  ex 8101 97 00   GC020

[1430 rows x 4 columns]
1430
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1426    B3060  ex 2401 30 00  ex 8101 97 00   B1115
1427    B3060  ex 3825 61 00  ex 8101 97 00   B1120
1428    B3060  ex 3825 90 90  ex 8101 97 00   GC010
1429    B3065          ex 15  ex 8101 97 00   GC020
1430    B3070  ex 0501 00 00  ex 8101 99 90    A1190

[1431 rows x 4 columns]
1431
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1427    B3060  ex 3825 61 00  ex 8101 97 00   B1120
1428    B3060  ex 3825 90 90  ex 8101 97 00   GC010
1429    B3065          ex 15  ex 8101 97 00   GC020
1430    B3070  ex 0501 00 00  ex 8101 99 90    A1190
1431    B3070  ex 1213 00 00  ex 8101 99 90   B1031

[1432 rows x 4 columns]
1432
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1428    B3060  ex 3825 90 90  ex 8101 97 00   GC010
1429    B3065          ex 15  ex 8101 97 00   GC020
1430    B3070  ex 0501 00 00  ex 8101 99 90    A1190
1431    B3070  ex 1213 00 00  ex 8101 99 90   B1031
1432    B3070  ex 2309 90 31  ex 8101 99 90   B1115

[1433 rows x 4 columns]
1433
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1429    B3065          ex 15  ex 8101 97 00   GC020
1430    B3070  ex 0501 00 00  ex 8101 99 90    A1190
1431    B3070  ex 1213 00 00  ex 8101 99 90   B1031
1432    B3070  ex 2309 90 31  ex 8101 99 90   B1115
1433    B3070  ex 2309 90 33  ex 8102 10 00    B1031

[1434 rows x 4 columns]
1434
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1430    B3070  ex 0501 00 00  ex 8101 99 90    A1190
1431    B3070  ex 1213 00 00  ex 8101 99 90   B1031
1432    B3070  ex 2309 90 31  ex 8101 99 90   B1115
1433    B3070  ex 2309 90 33  ex 8102 10 00    B1031
1434    B3070  ex 2309 90 35  ex 8102 96 00    A1190

[1435 rows x 4 columns]
1435
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1431    B3070  ex 1213 00 00  ex 8101 99 90   B1031
1432    B3070  ex 2309 90 31  ex 8101 99 90   B1115
1433    B3070  ex 2309 90 33  ex 8102 10 00    B1031
1434    B3070  ex 2309 90 35  ex 8102 96 00    A1190
1435    B3070  ex 2309 90 39  ex 8102 96 00    B1115

[1436 rows x 4 columns]
1436
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1432    B3070  ex 2309 90 31  ex 8101 99 90   B1115
1433    B3070  ex 2309 90 33  ex 8102 10 00    B1031
1434    B3070  ex 2309 90 35  ex 8102 96 00    A1190
1435    B3070  ex 2309 90 39  ex 8102 96 00    B1115
1436    B3070  ex 2309 90 41  ex 8102 97 00    A1190

[1437 rows x 4 columns]
1437
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1433    B3070  ex 2309 90 33  ex 8102 10 00    B1031
1434    B3070  ex 2309 90 35  ex 8102 96 00    A1190
1435    B3070  ex 2309 90 39  ex 8102 96 00    B1115
1436    B3070  ex 2309 90 41  ex 8102 97 00    A1190
1437    B3070  ex 2309 90 43  ex 8102 97 00   B1010

[1438 rows x 4 columns]
1438
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1434    B3070  ex 2309 90 35  ex 8102 96 00    A1190
1435    B3070  ex 2309 90 39  ex 8102 96 00    B1115
1436    B3070  ex 2309 90 41  ex 8102 97 00    A1190
1437    B3070  ex 2309 90 43  ex 8102 97 00   B1010
1438    B3070  ex 2309 90 49  ex 8102 97 00    B1030

[1439 rows x 4 columns]
1439
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1435    B3070  ex 2309 90 39  ex 8102 96 00    B1115
1436    B3070  ex 2309 90 41  ex 8102 97 00    A1190
1437    B3070  ex 2309 90 43  ex 8102 97 00   B1010
1438    B3070  ex 2309 90 49  ex 8102 97 00    B1030
1439    B3070  ex 2309 90 51  ex 8102 97 00   B1031

[1440 rows x 4 columns]
1440
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1436    B3070  ex 2309 90 41  ex 8102 97 00    A1190
1437    B3070  ex 2309 90 43  ex 8102 97 00   B1010
1438    B3070  ex 2309 90 49  ex 8102 97 00    B1030
1439    B3070  ex 2309 90 51  ex 8102 97 00   B1031
1440    B3070  ex 2309 90 53  ex 8102 97 00   B1050

[1441 rows x 4 columns]
1441
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1437    B3070  ex 2309 90 43  ex 8102 97 00   B1010
1438    B3070  ex 2309 90 49  ex 8102 97 00    B1030
1439    B3070  ex 2309 90 51  ex 8102 97 00   B1031
1440    B3070  ex 2309 90 53  ex 8102 97 00   B1050
1441    B3070  ex 2309 90 59  ex 8102 97 00   B1115

[1442 rows x 4 columns]
1442
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1438    B3070  ex 2309 90 49  ex 8102 97 00    B1030
1439    B3070  ex 2309 90 51  ex 8102 97 00   B1031
1440    B3070  ex 2309 90 53  ex 8102 97 00   B1050
1441    B3070  ex 2309 90 59  ex 8102 97 00   B1115
1442    B3070  ex 2309 90 70  ex 8102 97 00   B1120

[1443 rows x 4 columns]
1443
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1439    B3070  ex 2309 90 51  ex 8102 97 00   B1031
1440    B3070  ex 2309 90 53  ex 8102 97 00   B1050
1441    B3070  ex 2309 90 59  ex 8102 97 00   B1115
1442    B3070  ex 2309 90 70  ex 8102 97 00   B1120
1443    B3070  ex 2309 90 96  ex 8102 97 00   GC010

[1444 rows x 4 columns]
1444
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1440    B3070  ex 2309 90 53  ex 8102 97 00   B1050
1441    B3070  ex 2309 90 59  ex 8102 97 00   B1115
1442    B3070  ex 2309 90 70  ex 8102 97 00   B1120
1443    B3070  ex 2309 90 96  ex 8102 97 00   GC010
1444    B3080  ex 4004 00 00  ex 8102 97 00   GC020

[1445 rows x 4 columns]
1445
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1441    B3070  ex 2309 90 59  ex 8102 97 00   B1115
1442    B3070  ex 2309 90 70  ex 8102 97 00   B1120
1443    B3070  ex 2309 90 96  ex 8102 97 00   GC010
1444    B3080  ex 4004 00 00  ex 8102 97 00   GC020
1445    B3080  ex 4017 00 00  ex 8102 99 00    A1190

[1446 rows x 4 columns]
1446
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1442    B3070  ex 2309 90 70  ex 8102 97 00   B1120
1443    B3070  ex 2309 90 96  ex 8102 97 00   GC010
1444    B3080  ex 4004 00 00  ex 8102 97 00   GC020
1445    B3080  ex 4017 00 00  ex 8102 99 00    A1190
1446    B3090  ex 4115 20 00  ex 8102 99 00   B1031

[1447 rows x 4 columns]
1447
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1443    B3070  ex 2309 90 96  ex 8102 97 00   GC010
1444    B3080  ex 4004 00 00  ex 8102 97 00   GC020
1445    B3080  ex 4017 00 00  ex 8102 99 00    A1190
1446    B3090  ex 4115 20 00  ex 8102 99 00   B1031
1447    B3100  ex 2621 90 00  ex 8102 99 00   B1115

[1448 rows x 4 columns]
1448
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1444    B3080  ex 4004 00 00  ex 8102 97 00   GC020
1445    B3080  ex 4017 00 00  ex 8102 99 00    A1190
1446    B3090  ex 4115 20 00  ex 8102 99 00   B1031
1447    B3100  ex 2621 90 00  ex 8102 99 00   B1115
1448    B3100  ex 3825 20 00  ex 8103 20 00    B1031

[1449 rows x 4 columns]
1449
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1445    B3080  ex 4017 00 00  ex 8102 99 00    A1190
1446    B3090  ex 4115 20 00  ex 8102 99 00   B1031
1447    B3100  ex 2621 90 00  ex 8102 99 00   B1115
1448    B3100  ex 3825 20 00  ex 8103 20 00    B1031
1449    B3100  ex 3825 30 00  ex 8103 30 00    A1190

[1450 rows x 4 columns]
1450
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1446    B3090  ex 4115 20 00  ex 8102 99 00   B1031
1447    B3100  ex 2621 90 00  ex 8102 99 00   B1115
1448    B3100  ex 3825 20 00  ex 8103 20 00    B1031
1449    B3100  ex 3825 30 00  ex 8103 30 00    A1190
1450    B3100  ex 3825 61 00  ex 8103 30 00   B1010

[1451 rows x 4 columns]
1451
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1447    B3100  ex 2621 90 00  ex 8102 99 00   B1115
1448    B3100  ex 3825 20 00  ex 8103 20 00    B1031
1449    B3100  ex 3825 30 00  ex 8103 30 00    A1190
1450    B3100  ex 3825 61 00  ex 8103 30 00   B1010
1451    B3100  ex 3825 69 00  ex 8103 30 00   B1030

[1452 rows x 4 columns]
1452
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1448    B3100  ex 3825 20 00  ex 8103 20 00    B1031
1449    B3100  ex 3825 30 00  ex 8103 30 00    A1190
1450    B3100  ex 3825 61 00  ex 8103 30 00   B1010
1451    B3100  ex 3825 69 00  ex 8103 30 00   B1030
1452    B3100  ex 3825 90 90  ex 8103 30 00   B1031

[1453 rows x 4 columns]
1453
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1449    B3100  ex 3825 30 00  ex 8103 30 00    A1190
1450    B3100  ex 3825 61 00  ex 8103 30 00   B1010
1451    B3100  ex 3825 69 00  ex 8103 30 00   B1030
1452    B3100  ex 3825 90 90  ex 8103 30 00   B1031
1453    B3100  ex 4115 20 00  ex 8103 30 00   B1050

[1454 rows x 4 columns]
1454
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1450    B3100  ex 3825 61 00  ex 8103 30 00   B1010
1451    B3100  ex 3825 69 00  ex 8103 30 00   B1030
1452    B3100  ex 3825 90 90  ex 8103 30 00   B1031
1453    B3100  ex 4115 20 00  ex 8103 30 00   B1050
1454    B3110  ex 0502 10 00  ex 8103 30 00   B1120

[1455 rows x 4 columns]
1455
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1451    B3100  ex 3825 69 00  ex 8103 30 00   B1030
1452    B3100  ex 3825 90 90  ex 8103 30 00   B1031
1453    B3100  ex 4115 20 00  ex 8103 30 00   B1050
1454    B3110  ex 0502 10 00  ex 8103 30 00   B1120
1455    B3110  ex 0502 90 00  ex 8103 30 00   GC010

[1456 rows x 4 columns]
1456
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1452    B3100  ex 3825 90 90  ex 8103 30 00   B1031
1453    B3100  ex 4115 20 00  ex 8103 30 00   B1050
1454    B3110  ex 0502 10 00  ex 8103 30 00   B1120
1455    B3110  ex 0502 90 00  ex 8103 30 00   GC010
1456    B3110  ex 0511 99 10  ex 8103 30 00   GC020

[1457 rows x 4 columns]
1457
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1453    B3100  ex 4115 20 00  ex 8103 30 00   B1050
1454    B3110  ex 0502 10 00  ex 8103 30 00   B1120
1455    B3110  ex 0502 90 00  ex 8103 30 00   GC010
1456    B3110  ex 0511 99 10  ex 8103 30 00   GC020
1457    B3110  ex 0511 99 85  ex 8103 90 10    A1190

[1458 rows x 4 columns]
1458
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1454    B3110  ex 0502 10 00  ex 8103 30 00   B1120
1455    B3110  ex 0502 90 00  ex 8103 30 00   GC010
1456    B3110  ex 0511 99 10  ex 8103 30 00   GC020
1457    B3110  ex 0511 99 85  ex 8103 90 10    A1190
1458    B3110  ex 4302 20 00  ex 8103 90 10   B1115

[1459 rows x 4 columns]
1459
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1455    B3110  ex 0502 90 00  ex 8103 30 00   GC010
1456    B3110  ex 0511 99 10  ex 8103 30 00   GC020
1457    B3110  ex 0511 99 85  ex 8103 90 10    A1190
1458    B3110  ex 4302 20 00  ex 8103 90 10   B1115
1459    B3120  ex 3203 00 10  ex 8103 90 90    A1190

[1460 rows x 4 columns]
1460
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1456    B3110  ex 0511 99 10  ex 8103 30 00   GC020
1457    B3110  ex 0511 99 85  ex 8103 90 10    A1190
1458    B3110  ex 4302 20 00  ex 8103 90 10   B1115
1459    B3120  ex 3203 00 10  ex 8103 90 90    A1190
1460    B3120  ex 3203 00 90  ex 8103 90 90   B1031

[1461 rows x 4 columns]
1461
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1457    B3110  ex 0511 99 85  ex 8103 90 10    A1190
1458    B3110  ex 4302 20 00  ex 8103 90 10   B1115
1459    B3120  ex 3203 00 10  ex 8103 90 90    A1190
1460    B3120  ex 3203 00 90  ex 8103 90 90   B1031
1461    B3120        ex 3204  ex 8103 90 90   B1115

[1462 rows x 4 columns]
1462
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1458    B3110  ex 4302 20 00  ex 8103 90 10   B1115
1459    B3120  ex 3203 00 10  ex 8103 90 90    A1190
1460    B3120  ex 3203 00 90  ex 8103 90 90   B1031
1461    B3120        ex 3204  ex 8103 90 90   B1115
1462    B3120  ex 3205 00 00  ex 8104 20 00    AA190

[1463 rows x 4 columns]
1463
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1459    B3120  ex 3203 00 10  ex 8103 90 90    A1190
1460    B3120  ex 3203 00 90  ex 8103 90 90   B1031
1461    B3120        ex 3204  ex 8103 90 90   B1115
1462    B3120  ex 3205 00 00  ex 8104 20 00    AA190
1463    B3120  ex 3206 11 00  ex 8104 20 00   B1010

[1464 rows x 4 columns]
1464
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1460    B3120  ex 3203 00 90  ex 8103 90 90   B1031
1461    B3120        ex 3204  ex 8103 90 90   B1115
1462    B3120  ex 3205 00 00  ex 8104 20 00    AA190
1463    B3120  ex 3206 11 00  ex 8104 20 00   B1010
1464    B3120  ex 3206 19 00  ex 8104 20 00   B1050

[1465 rows x 4 columns]
1465
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1461    B3120        ex 3204  ex 8103 90 90   B1115
1462    B3120  ex 3205 00 00  ex 8104 20 00    AA190
1463    B3120  ex 3206 11 00  ex 8104 20 00   B1010
1464    B3120  ex 3206 19 00  ex 8104 20 00   B1050
1465    B3120  ex 3206 49 10  ex 8104 20 00    B1120

[1466 rows x 4 columns]
1466
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1462    B3120  ex 3205 00 00  ex 8104 20 00    AA190
1463    B3120  ex 3206 11 00  ex 8104 20 00   B1010
1464    B3120  ex 3206 19 00  ex 8104 20 00   B1050
1465    B3120  ex 3206 49 10  ex 8104 20 00    B1120
1466    B3120  ex 3206 49 70  ex 8104 20 00   GC010

[1467 rows x 4 columns]
1467
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1463    B3120  ex 3206 11 00  ex 8104 20 00   B1010
1464    B3120  ex 3206 19 00  ex 8104 20 00   B1050
1465    B3120  ex 3206 49 10  ex 8104 20 00    B1120
1466    B3120  ex 3206 49 70  ex 8104 20 00   GC010
1467    B3120  ex 3207 10 00  ex 8104 20 00   GC020

[1468 rows x 4 columns]
1468
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1464    B3120  ex 3206 19 00  ex 8104 20 00   B1050
1465    B3120  ex 3206 49 10  ex 8104 20 00    B1120
1466    B3120  ex 3206 49 70  ex 8104 20 00   GC010
1467    B3120  ex 3207 10 00  ex 8104 20 00   GC020
1468    B3120  ex 3825 61 00  ex 8105 30 00    B1010

[1469 rows x 4 columns]
1469
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1465    B3120  ex 3206 49 10  ex 8104 20 00    B1120
1466    B3120  ex 3206 49 70  ex 8104 20 00   GC010
1467    B3120  ex 3207 10 00  ex 8104 20 00   GC020
1468    B3120  ex 3825 61 00  ex 8105 30 00    B1010
1469    B3120  ex 3825 90 90  ex 8105 30 00   B1050

[1470 rows x 4 columns]
1470
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1466    B3120  ex 3206 49 70  ex 8104 20 00   GC010
1467    B3120  ex 3207 10 00  ex 8104 20 00   GC020
1468    B3120  ex 3825 61 00  ex 8105 30 00    B1010
1469    B3120  ex 3825 90 90  ex 8105 30 00   B1050
1470    B3130  ex 3825 41 00  ex 8105 30 00   B1120

[1471 rows x 4 columns]
1471
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1467    B3120  ex 3207 10 00  ex 8104 20 00   GC020
1468    B3120  ex 3825 61 00  ex 8105 30 00    B1010
1469    B3120  ex 3825 90 90  ex 8105 30 00   B1050
1470    B3130  ex 3825 41 00  ex 8105 30 00   B1120
1471    B3130  ex 3825 49 00  ex 8105 30 00   GC010

[1472 rows x 4 columns]
1472
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1468    B3120  ex 3825 61 00  ex 8105 30 00    B1010
1469    B3120  ex 3825 90 90  ex 8105 30 00   B1050
1470    B3130  ex 3825 41 00  ex 8105 30 00   B1120
1471    B3130  ex 3825 49 00  ex 8105 30 00   GC010
1472    B3130  ex 3825 69 00  ex 8105 30 00   GC020

[1473 rows x 4 columns]
1473
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1469    B3120  ex 3825 90 90  ex 8105 30 00   B1050
1470    B3130  ex 3825 41 00  ex 8105 30 00   B1120
1471    B3130  ex 3825 49 00  ex 8105 30 00   GC010
1472    B3130  ex 3825 69 00  ex 8105 30 00   GC020
1473    B3130  ex 3825 90 90  ex 8106 00 10    B1010

[1474 rows x 4 columns]
1474
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1470    B3130  ex 3825 41 00  ex 8105 30 00   B1120
1471    B3130  ex 3825 49 00  ex 8105 30 00   GC010
1472    B3130  ex 3825 69 00  ex 8105 30 00   GC020
1473    B3130  ex 3825 90 90  ex 8106 00 10    B1010
1474    B3130  ex 3907 10 00  ex 8106 00 10   B1050

[1475 rows x 4 columns]
1475
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1471    B3130  ex 3825 49 00  ex 8105 30 00   GC010
1472    B3130  ex 3825 69 00  ex 8105 30 00   GC020
1473    B3130  ex 3825 90 90  ex 8106 00 10    B1010
1474    B3130  ex 3907 10 00  ex 8106 00 10   B1050
1475    B3130  ex 3907 20 11  ex 8106 00 10   B1120

[1476 rows x 4 columns]
1476
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1472    B3130  ex 3825 69 00  ex 8105 30 00   GC020
1473    B3130  ex 3825 90 90  ex 8106 00 10    B1010
1474    B3130  ex 3907 10 00  ex 8106 00 10   B1050
1475    B3130  ex 3907 20 11  ex 8106 00 10   B1120
1476    B3130  ex 3907 20 20  ex 8106 00 10   GC010

[1477 rows x 4 columns]
1477
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1473    B3130  ex 3825 90 90  ex 8106 00 10    B1010
1474    B3130  ex 3907 10 00  ex 8106 00 10   B1050
1475    B3130  ex 3907 20 11  ex 8106 00 10   B1120
1476    B3130  ex 3907 20 20  ex 8106 00 10   GC010
1477    B3130  ex 3907 20 91  ex 8106 00 10   GC020

[1478 rows x 4 columns]
1478
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1474    B3130  ex 3907 10 00  ex 8106 00 10   B1050
1475    B3130  ex 3907 20 11  ex 8106 00 10   B1120
1476    B3130  ex 3907 20 20  ex 8106 00 10   GC010
1477    B3130  ex 3907 20 91  ex 8106 00 10   GC020
1478    B3130  ex 3907 20 99  ex 8107 20 00    B1020

[1479 rows x 4 columns]
1479
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1475    B3130  ex 3907 20 11  ex 8106 00 10   B1120
1476    B3130  ex 3907 20 20  ex 8106 00 10   GC010
1477    B3130  ex 3907 20 91  ex 8106 00 10   GC020
1478    B3130  ex 3907 20 99  ex 8107 20 00    B1020
1479    B3130  ex 3907 30 00  ex 8107 30 00    A1010

[1480 rows x 4 columns]
1480
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1476    B3130  ex 3907 20 20  ex 8106 00 10   GC010
1477    B3130  ex 3907 20 91  ex 8106 00 10   GC020
1478    B3130  ex 3907 20 99  ex 8107 20 00    B1020
1479    B3130  ex 3907 30 00  ex 8107 30 00    A1010
1480    B3130  ex 3915 90 80  ex 8107 30 00   A1020

[1481 rows x 4 columns]
1481
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1477    B3130  ex 3907 20 91  ex 8106 00 10   GC020
1478    B3130  ex 3907 20 99  ex 8107 20 00    B1020
1479    B3130  ex 3907 30 00  ex 8107 30 00    A1010
1480    B3130  ex 3915 90 80  ex 8107 30 00   A1020
1481    B3140  ex 4004 00 00  ex 8107 30 00    A1190

[1482 rows x 4 columns]
1482
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1478    B3130  ex 3907 20 99  ex 8107 20 00    B1020
1479    B3130  ex 3907 30 00  ex 8107 30 00    A1010
1480    B3130  ex 3915 90 80  ex 8107 30 00   A1020
1481    B3140  ex 4004 00 00  ex 8107 30 00    A1190
1482    B3140        ex 4011  ex 8107 30 00   B1020

[1483 rows x 4 columns]
1483
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1479    B3130  ex 3907 30 00  ex 8107 30 00    A1010
1480    B3130  ex 3915 90 80  ex 8107 30 00   A1020
1481    B3140  ex 4004 00 00  ex 8107 30 00    A1190
1482    B3140        ex 4011  ex 8107 30 00   B1020
1483    B3140  ex 4012 11 00  ex 8107 30 00   B1050

[1484 rows x 4 columns]
1484
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1480    B3130  ex 3915 90 80  ex 8107 30 00   A1020
1481    B3140  ex 4004 00 00  ex 8107 30 00    A1190
1482    B3140        ex 4011  ex 8107 30 00   B1020
1483    B3140  ex 4012 11 00  ex 8107 30 00   B1050
1484    B3140  ex 4012 12 00  ex 8107 90 00    A1190

[1485 rows x 4 columns]
1485
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1481    B3140  ex 4004 00 00  ex 8107 30 00    A1190
1482    B3140        ex 4011  ex 8107 30 00   B1020
1483    B3140  ex 4012 11 00  ex 8107 30 00   B1050
1484    B3140  ex 4012 12 00  ex 8107 90 00    A1190
1485    B3140  ex 4012 13 00  ex 8107 90 00   B1020

[1486 rows x 4 columns]
1486
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1482    B3140        ex 4011  ex 8107 30 00   B1020
1483    B3140  ex 4012 11 00  ex 8107 30 00   B1050
1484    B3140  ex 4012 12 00  ex 8107 90 00    A1190
1485    B3140  ex 4012 13 00  ex 8107 90 00   B1020
1486    B3140  ex 4012 19 00  ex 8108 20 00    B1031

[1487 rows x 4 columns]
1487

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1483    B3140  ex 4012 11 00  ex 8107 30 00   B1050
1484    B3140  ex 4012 12 00  ex 8107 90 00    A1190
1485    B3140  ex 4012 13 00  ex 8107 90 00   B1020
1486    B3140  ex 4012 19 00  ex 8108 20 00    B1031
1487    B3140  ex 4012 20 00  ex 8108 30 00    A1190

[1488 rows x 4 columns]
1488
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1484    B3140  ex 4012 12 00  ex 8107 90 00    A1190
1485    B3140  ex 4012 13 00  ex 8107 90 00   B1020
1486    B3140  ex 4012 19 00  ex 8108 20 00    B1031
1487    B3140  ex 4012 20 00  ex 8108 30 00    A1190
1488    B3140  ex 4017 00 00  ex 8108 30 00   B1010

[1489 rows x 4 columns]
1489
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1485    B3140  ex 4012 13 00  ex 8107 90 00   B1020
1486    B3140  ex 4012 19 00  ex 8108 20 00    B1031
1487    B3140  ex 4012 20 00  ex 8108 30 00    A1190
1488    B3140  ex 4017 00 00  ex 8108 30 00   B1010
1489    B4010  ex 3209 10 00  ex 8108 30 00    B1030

[1490 rows x 4 columns]
1490
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1486    B3140  ex 4012 19 00  ex 8108 20 00    B1031
1487    B3140  ex 4012 20 00  ex 8108 30 00    A1190
1488    B3140  ex 4017 00 00  ex 8108 30 00   B1010
1489    B4010  ex 3209 10 00  ex 8108 30 00    B1030
1490    B4010  ex 3209 90 00  ex 8108 30 00   B1031

[1491 rows x 4 columns]
1491
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1487    B3140  ex 4012 20 00  ex 8108 30 00    A1190
1488    B3140  ex 4017 00 00  ex 8108 30 00   B1010
1489    B4010  ex 3209 10 00  ex 8108 30 00    B1030
1490    B4010  ex 3209 90 00  ex 8108 30 00   B1031
1491    B4010  ex 3210 00 10  ex 8108 30 00   B1050

[1492 rows x 4 columns]
1492
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1488    B3140  ex 4017 00 00  ex 8108 30 00   B1010
1489    B4010  ex 3209 10 00  ex 8108 30 00    B1030
1490    B4010  ex 3209 90 00  ex 8108 30 00   B1031
1491    B4010  ex 3210 00 10  ex 8108 30 00   B1050
1492    B4010  ex 3210 00 90  ex 8108 30 00   B1115

[1493 rows x 4 columns]
1493
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1489    B4010  ex 3209 10 00  ex 8108 30 00    B1030
1490    B4010  ex 3209 90 00  ex 8108 30 00   B1031
1491    B4010  ex 3210 00 10  ex 8108 30 00   B1050
1492    B4010  ex 3210 00 90  ex 8108 30 00   B1115
1493    B4010  ex 3213 10 00  ex 8108 30 00   B1120

[1494 rows x 4 columns]
1494
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1490    B4010  ex 3209 90 00  ex 8108 30 00   B1031
1491    B4010  ex 3210 00 10  ex 8108 30 00   B1050
1492    B4010  ex 3210 00 90  ex 8108 30 00   B1115
1493    B4010  ex 3213 10 00  ex 8108 30 00   B1120
1494    B4010  ex 3213 90 00  ex 8108 30 00   GC010

[1495 rows x 4 columns]
1495
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1491    B4010  ex 3210 00 10  ex 8108 30 00   B1050
1492    B4010  ex 3210 00 90  ex 8108 30 00   B1115
1493    B4010  ex 3213 10 00  ex 8108 30 00   B1120
1494    B4010  ex 3213 90 00  ex 8108 30 00   GC010
1495    B4010  ex 3215 11 00  ex 8108 30 00    GC020

[1496 rows x 4 columns]
1496
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1492    B4010  ex 3210 00 90  ex 8108 30 00   B1115
1493    B4010  ex 3213 10 00  ex 8108 30 00   B1120
1494    B4010  ex 3213 90 00  ex 8108 30 00   GC010
1495    B4010  ex 3215 11 00  ex 8108 30 00    GC020
1496    B4010  ex 3215 19 00  ex 8108 90 30    A1190

[1497 rows x 4 columns]
1497
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1493    B4010  ex 3213 10 00  ex 8108 30 00   B1120
1494    B4010  ex 3213 90 00  ex 8108 30 00   GC010
1495    B4010  ex 3215 11 00  ex 8108 30 00    GC020
1496    B4010  ex 3215 19 00  ex 8108 90 30    A1190
1497    B4010  ex 3215 90 00  ex 8108 90 30   B1115

[1498 rows x 4 columns]
1498
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1494    B4010  ex 3213 90 00  ex 8108 30 00   GC010
1495    B4010  ex 3215 11 00  ex 8108 30 00    GC020
1496    B4010  ex 3215 19 00  ex 8108 90 30    A1190
1497    B4010  ex 3215 90 00  ex 8108 90 30   B1115
1498    B4010  ex 3825 61 00  ex 8108 90 90    A1190

[1499 rows x 4 columns]
1499
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1495    B4010  ex 3215 11 00  ex 8108 30 00    GC020
1496    B4010  ex 3215 19 00  ex 8108 90 30    A1190
1497    B4010  ex 3215 90 00  ex 8108 90 30   B1115
1498    B4010  ex 3825 61 00  ex 8108 90 90    A1190
1499    B4010  ex 3825 69 00  ex 8108 90 90   B1031

[1500 rows x 4 columns]
1500
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1496    B4010  ex 3215 19 00  ex 8108 90 30    A1190
1497    B4010  ex 3215 90 00  ex 8108 90 30   B1115
1498    B4010  ex 3825 61 00  ex 8108 90 90    A1190
1499    B4010  ex 3825 69 00  ex 8108 90 90   B1031
1500    B4010  ex 3825 90 90  ex 8108 90 90   B1115

[1501 rows x 4 columns]
1501
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1497    B4010  ex 3215 90 00  ex 8108 90 30   B1115
1498    B4010  ex 3825 61 00  ex 8108 90 90    A1190
1499    B4010  ex 3825 69 00  ex 8108 90 90   B1031
1500    B4010  ex 3825 90 90  ex 8108 90 90   B1115
1501    B4020        ex 3501  ex 8109 00 30    GC010

[1502 rows x 4 columns]
1502
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1498    B4010  ex 3825 61 00  ex 8108 90 90    A1190
1499    B4010  ex 3825 69 00  ex 8108 90 90   B1031
1500    B4010  ex 3825 90 90  ex 8108 90 90   B1115
1501    B4020        ex 3501  ex 8109 00 30    GC010
1502    B4020        ex 3503  ex 8109 00 30   GC020

[1503 rows x 4 columns]
1503
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1499    B4010  ex 3825 69 00  ex 8108 90 90   B1031
1500    B4010  ex 3825 90 90  ex 8108 90 90   B1115
1501    B4020        ex 3501  ex 8109 00 30    GC010
1502    B4020        ex 3503  ex 8109 00 30   GC020
1503    B4020        ex 3505  ex 8109 30 00    B1010

[1504 rows x 4 columns]
1504
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1500    B4010  ex 3825 90 90  ex 8108 90 90   B1115
1501    B4020        ex 3501  ex 8109 00 30    GC010
1502    B4020        ex 3503  ex 8109 00 30   GC020
1503    B4020        ex 3505  ex 8109 30 00    B1010
1504    B4020        ex 3506  ex 8109 30 00   B1030

[1505 rows x 4 columns]
1505
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1501    B4020        ex 3501  ex 8109 00 30    GC010
1502    B4020        ex 3503  ex 8109 00 30   GC020
1503    B4020        ex 3505  ex 8109 30 00    B1010
1504    B4020        ex 3506  ex 8109 30 00   B1030
1505    B4020  ex 3825 61 00  ex 8109 30 00   B1050

[1506 rows x 4 columns]
1506
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1502    B4020        ex 3503  ex 8109 00 30   GC020
1503    B4020        ex 3505  ex 8109 30 00    B1010
1504    B4020        ex 3506  ex 8109 30 00   B1030
1505    B4020  ex 3825 61 00  ex 8109 30 00   B1050
1506    B4020  ex 3825 69 00  ex 8109 30 00   B1120

[1507 rows x 4 columns]
1507
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1503    B4020        ex 3505  ex 8109 30 00    B1010
1504    B4020        ex 3506  ex 8109 30 00   B1030
1505    B4020  ex 3825 61 00  ex 8109 30 00   B1050
1506    B4020  ex 3825 69 00  ex 8109 30 00   B1120
1507    B4020  ex 3825 90 90  ex 8110 10 00    B1020

[1508 rows x 4 columns]
1508
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1504    B4020        ex 3506  ex 8109 30 00   B1030
1505    B4020  ex 3825 61 00  ex 8109 30 00   B1050
1506    B4020  ex 3825 69 00  ex 8109 30 00   B1120
1507    B4020  ex 3825 90 90  ex 8110 10 00    B1020
1508    B4020  ex 3915 10 00  ex 8110 20 00    A1010

[1509 rows x 4 columns]
1509
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1505    B4020  ex 3825 61 00  ex 8109 30 00   B1050
1506    B4020  ex 3825 69 00  ex 8109 30 00   B1120
1507    B4020  ex 3825 90 90  ex 8110 10 00    B1020
1508    B4020  ex 3915 10 00  ex 8110 20 00    A1010
1509    B4020  ex 3915 20 00  ex 8110 20 00   A1020

[1510 rows x 4 columns]
1510
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1506    B4020  ex 3825 69 00  ex 8109 30 00   B1120
1507    B4020  ex 3825 90 90  ex 8110 10 00    B1020
1508    B4020  ex 3915 10 00  ex 8110 20 00    A1010
1509    B4020  ex 3915 20 00  ex 8110 20 00   A1020
1510    B4020  ex 3915 30 00  ex 8110 20 00    B1020

[1511 rows x 4 columns]
1511
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1507    B4020  ex 3825 90 90  ex 8110 10 00    B1020
1508    B4020  ex 3915 10 00  ex 8110 20 00    A1010
1509    B4020  ex 3915 20 00  ex 8110 20 00   A1020
1510    B4020  ex 3915 30 00  ex 8110 20 00    B1020
1511    B4020  ex 3915 90 11  ex 8110 20 00   B1050

[1512 rows x 4 columns]
1512
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1508    B4020  ex 3915 10 00  ex 8110 20 00    A1010
1509    B4020  ex 3915 20 00  ex 8110 20 00   A1020
1510    B4020  ex 3915 30 00  ex 8110 20 00    B1020
1511    B4020  ex 3915 90 11  ex 8110 20 00   B1050
1512    B4020  ex 3915 90 80  ex 8110 20 00   GC010

[1513 rows x 4 columns]
1513
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1509    B4020  ex 3915 20 00  ex 8110 20 00   A1020
1510    B4020  ex 3915 30 00  ex 8110 20 00    B1020
1511    B4020  ex 3915 90 11  ex 8110 20 00   B1050
1512    B4020  ex 3915 90 80  ex 8110 20 00   GC010
1513    B4020  ex 4004 00 00  ex 8110 20 00   GC020

[1514 rows x 4 columns]
1514
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1510    B4020  ex 3915 30 00  ex 8110 20 00    B1020
1511    B4020  ex 3915 90 11  ex 8110 20 00   B1050
1512    B4020  ex 3915 90 80  ex 8110 20 00   GC010
1513    B4020  ex 4004 00 00  ex 8110 20 00   GC020
1514    B4020  ex 4017 00 00  ex 8110 90 00    B1020

[1515 rows x 4 columns]
1515
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1511    B4020  ex 3915 90 11  ex 8110 20 00   B1050
1512    B4020  ex 3915 90 80  ex 8110 20 00   GC010
1513    B4020  ex 4004 00 00  ex 8110 20 00   GC020
1514    B4020  ex 4017 00 00  ex 8110 90 00    B1020
1515    B4030  ex 3915 10 00  ex 8111 00 19    B1010

[1516 rows x 4 columns]
1516
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1512    B4020  ex 3915 90 80  ex 8110 20 00   GC010
1513    B4020  ex 4004 00 00  ex 8110 20 00   GC020
1514    B4020  ex 4017 00 00  ex 8110 90 00    B1020
1515    B4030  ex 3915 10 00  ex 8111 00 19    B1010
1516    B4030  ex 3915 20 00  ex 8111 00 19   B1050

[1517 rows x 4 columns]
1517
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1517    B4030  ex 3915 30 00  ex 8111 00 19   B1120
1518    B4030  ex 3915 90 11  ex 8111 00 19   GC010
1519    B4030  ex 3915 90 80  ex 8111 00 19   GC020
1520    B4030  ex 8548 10 10  ex 8112 12 00    B1020
1521    B4030  ex 8548 10 29  ex 8112 13 00    A1010

[1522 rows x 4 columns]
1522
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1518    B4030  ex 3915 90 11  ex 8111 00 19   GC010
1519    B4030  ex 3915 90 80  ex 8111 00 19   GC020
1520    B4030  ex 8548 10 10  ex 8112 12 00    B1020
1521    B4030  ex 8548 10 29  ex 8112 13 00    A1010
1522    B4030  ex 8548 10 99  ex 8112 13 00   A1020

[1523 rows x 4 columns]
1523
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1519    B4030  ex 3915 90 80  ex 8111 00 19   GC020
1520    B4030  ex 8548 10 10  ex 8112 12 00    B1020
1521    B4030  ex 8548 10 29  ex 8112 13 00    A1010
1522    B4030  ex 8548 10 99  ex 8112 13 00   A1020
1523    GB040  ex 2620 30 00  ex 8112 13 00    B1020

[1524 rows x 4 columns]
1524
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1520    B4030  ex 8548 10 10  ex 8112 12 00    B1020
1521    B4030  ex 8548 10 29  ex 8112 13 00    A1010
1522    B4030  ex 8548 10 99  ex 8112 13 00   A1020
1523    GB040  ex 2620 30 00  ex 8112 13 00    B1020
1524    GB040  ex 7112 91 00  ex 8112 13 00    B1050

[1525 rows x 4 columns]
1525
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1521    B4030  ex 8548 10 29  ex 8112 13 00    A1010
1522    B4030  ex 8548 10 99  ex 8112 13 00   A1020
1523    GB040  ex 2620 30 00  ex 8112 13 00    B1020
1524    GB040  ex 7112 91 00  ex 8112 13 00    B1050
1525    GB040  ex 7112 92 00  ex 8112 13 00   B1120

[1526 rows x 4 columns]
1526
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1522    B4030  ex 8548 10 99  ex 8112 13 00   A1020
1523    GB040  ex 2620 30 00  ex 8112 13 00    B1020
1524    GB040  ex 7112 91 00  ex 8112 13 00    B1050
1525    GB040  ex 7112 92 00  ex 8112 13 00   B1120
1526    GB040  ex 7112 99 00  ex 8112 13 00   GC010

[1527 rows x 4 columns]
1527
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1523    GB040  ex 2620 30 00  ex 8112 13 00    B1020
1524    GB040  ex 7112 91 00  ex 8112 13 00    B1050
1525    GB040  ex 7112 92 00  ex 8112 13 00   B1120
1526    GB040  ex 7112 99 00  ex 8112 13 00   GC010
1527    GC010  ex 7112 91 00  ex 8112 13 00   GC020

[1528 rows x 4 columns]
1528
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1524    GB040  ex 7112 91 00  ex 8112 13 00    B1050
1525    GB040  ex 7112 92 00  ex 8112 13 00   B1120
1526    GB040  ex 7112 99 00  ex 8112 13 00   GC010
1527    GC010  ex 7112 91 00  ex 8112 13 00   GC020
1528    GC010  ex 7112 92 00  ex 8112 19 00    B1020

[1529 rows x 4 columns]
1529
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1525    GB040  ex 7112 92 00  ex 8112 13 00   B1120
1526    GB040  ex 7112 99 00  ex 8112 13 00   GC010
1527    GC010  ex 7112 91 00  ex 8112 13 00   GC020
1528    GC010  ex 7112 92 00  ex 8112 19 00    B1020
1529    GC010  ex 7112 99 00  ex 8112 22 00    B1010

[1530 rows x 4 columns]
1530
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1526    GB040  ex 7112 99 00  ex 8112 13 00   GC010
1527    GC010  ex 7112 91 00  ex 8112 13 00   GC020
1528    GC010  ex 7112 92 00  ex 8112 19 00    B1020
1529    GC010  ex 7112 99 00  ex 8112 22 00    B1010
1530    GC010  ex 7204 21 10  ex 8112 22 00   B1030

[1531 rows x 4 columns]
1531
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1527    GC010  ex 7112 91 00  ex 8112 13 00   GC020
1528    GC010  ex 7112 92 00  ex 8112 19 00    B1020
1529    GC010  ex 7112 99 00  ex 8112 22 00    B1010
1530    GC010  ex 7204 21 10  ex 8112 22 00   B1030
1531    GC010  ex 7204 21 90  ex 8112 22 00   B1050

[1532 rows x 4 columns]
1532
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1528    GC010  ex 7112 92 00  ex 8112 19 00    B1020
1529    GC010  ex 7112 99 00  ex 8112 22 00    B1010
1530    GC010  ex 7204 21 10  ex 8112 22 00   B1030
1531    GC010  ex 7204 21 90  ex 8112 22 00   B1050
1532    GC010  ex 7204 29 00  ex 8112 22 00   B1120

[1533 rows x 4 columns]
1533
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1529    GC010  ex 7112 99 00  ex 8112 22 00    B1010
1530    GC010  ex 7204 21 10  ex 8112 22 00   B1030
1531    GC010  ex 7204 21 90  ex 8112 22 00   B1050
1532    GC010  ex 7204 29 00  ex 8112 22 00   B1120
1533    GC010  ex 7204 30 00  ex 8112 22 00   GC010

[1534 rows x 4 columns]
1534
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1530    GC010  ex 7204 21 10  ex 8112 22 00   B1030
1531    GC010  ex 7204 21 90  ex 8112 22 00   B1050
1532    GC010  ex 7204 29 00  ex 8112 22 00   B1120
1533    GC010  ex 7204 30 00  ex 8112 22 00   GC010
1534    GC010  ex 7204 49 30  ex 8112 22 00   GC020

[1535 rows x 4 columns]
1535
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1531    GC010  ex 7204 21 90  ex 8112 22 00   B1050
1532    GC010  ex 7204 29 00  ex 8112 22 00   B1120
1533    GC010  ex 7204 30 00  ex 8112 22 00   GC010
1534    GC010  ex 7204 49 30  ex 8112 22 00   GC020
1535    GC010  ex 7204 49 90  ex 8112 52 00    A1010

[1536 rows x 4 columns]
1536
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1532    GC010  ex 7204 29 00  ex 8112 22 00   B1120
1533    GC010  ex 7204 30 00  ex 8112 22 00   GC010
1534    GC010  ex 7204 49 30  ex 8112 22 00   GC020
1535    GC010  ex 7204 49 90  ex 8112 52 00    A1010
1536    GC010  ex 7404 00 10  ex 8112 52 00   A1030

[1537 rows x 4 columns]
1537
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1533    GC010  ex 7204 30 00  ex 8112 22 00   GC010
1534    GC010  ex 7204 49 30  ex 8112 22 00   GC020
1535    GC010  ex 7204 49 90  ex 8112 52 00    A1010
1536    GC010  ex 7404 00 10  ex 8112 52 00   A1030
1537    GC010  ex 7404 00 91  ex 8112 52 00   B1050

[1538 rows x 4 columns]
1538
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1534    GC010  ex 7204 49 30  ex 8112 22 00   GC020
1535    GC010  ex 7204 49 90  ex 8112 52 00    A1010
1536    GC010  ex 7404 00 10  ex 8112 52 00   A1030
1537    GC010  ex 7404 00 91  ex 8112 52 00   B1050
1538    GC010  ex 7404 00 99  ex 8112 52 00   B1120

[1539 rows x 4 columns]
1539
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1535    GC010  ex 7204 49 90  ex 8112 52 00    A1010
1536    GC010  ex 7404 00 10  ex 8112 52 00   A1030
1537    GC010  ex 7404 00 91  ex 8112 52 00   B1050
1538    GC010  ex 7404 00 99  ex 8112 52 00   B1120
1539    GC010  ex 7503 00 10  ex 8112 52 00   GC010

[1540 rows x 4 columns]
1540
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1536    GC010  ex 7404 00 10  ex 8112 52 00   A1030
1537    GC010  ex 7404 00 91  ex 8112 52 00   B1050
1538    GC010  ex 7404 00 99  ex 8112 52 00   B1120
1539    GC010  ex 7503 00 10  ex 8112 52 00   GC010
1540    GC010  ex 7503 00 90  ex 8112 52 00   GC020

[1541 rows x 4 columns]
1541
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1537    GC010  ex 7404 00 91  ex 8112 52 00   B1050
1538    GC010  ex 7404 00 99  ex 8112 52 00   B1120
1539    GC010  ex 7503 00 10  ex 8112 52 00   GC010
1540    GC010  ex 7503 00 90  ex 8112 52 00   GC020
1541    GC010  ex 7602 00 11  ex 8112 92 10    B1010

[1542 rows x 4 columns]
1542
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1538    GC010  ex 7404 00 99  ex 8112 52 00   B1120
1539    GC010  ex 7503 00 10  ex 8112 52 00   GC010
1540    GC010  ex 7503 00 90  ex 8112 52 00   GC020
1541    GC010  ex 7602 00 11  ex 8112 92 10    B1010
1542    GC010  ex 7602 00 19  ex 8112 92 10   B1030

[1543 rows x 4 columns]
1543
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1539    GC010  ex 7503 00 10  ex 8112 52 00   GC010
1540    GC010  ex 7503 00 90  ex 8112 52 00   GC020
1541    GC010  ex 7602 00 11  ex 8112 92 10    B1010
1542    GC010  ex 7602 00 19  ex 8112 92 10   B1030
1543    GC010  ex 7602 00 90  ex 8112 92 10   B1050

[1544 rows x 4 columns]
1544
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1540    GC010  ex 7503 00 90  ex 8112 52 00   GC020
1541    GC010  ex 7602 00 11  ex 8112 92 10    B1010
1542    GC010  ex 7602 00 19  ex 8112 92 10   B1030
1543    GC010  ex 7602 00 90  ex 8112 92 10   B1050
1544    GC010  ex 7802 00 00  ex 8112 92 10   B1120

[1545 rows x 4 columns]
1545

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1541    GC010  ex 7602 00 11  ex 8112 92 10    B1010
1542    GC010  ex 7602 00 19  ex 8112 92 10   B1030
1543    GC010  ex 7602 00 90  ex 8112 92 10   B1050
1544    GC010  ex 7802 00 00  ex 8112 92 10   B1120
1545    GC010  ex 7902 00 00  ex 8112 92 10   GC010

[1546 rows x 4 columns]
1546
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1542    GC010  ex 7602 00 19  ex 8112 92 10   B1030
1543    GC010  ex 7602 00 90  ex 8112 92 10   B1050
1544    GC010  ex 7802 00 00  ex 8112 92 10   B1120
1545    GC010  ex 7902 00 00  ex 8112 92 10   GC010
1546    GC010  ex 8002 00 00  ex 8112 92 10   GC020

[1547 rows x 4 columns]
1547
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1543    GC010  ex 7602 00 90  ex 8112 92 10   B1050
1544    GC010  ex 7802 00 00  ex 8112 92 10   B1120
1545    GC010  ex 7902 00 00  ex 8112 92 10   GC010
1546    GC010  ex 8002 00 00  ex 8112 92 10   GC020
1547    GC010  ex 8101 97 00  ex 8112 92 21    B1010

[1548 rows x 4 columns]
1548
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1544    GC010  ex 7802 00 00  ex 8112 92 10   B1120
1545    GC010  ex 7902 00 00  ex 8112 92 10   GC010
1546    GC010  ex 8002 00 00  ex 8112 92 10   GC020
1547    GC010  ex 8101 97 00  ex 8112 92 21    B1010
1548    GC010  ex 8102 97 00  ex 8112 92 21   B1030

[1549 rows x 4 columns]
1549
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1545    GC010  ex 7902 00 00  ex 8112 92 10   GC010
1546    GC010  ex 8002 00 00  ex 8112 92 10   GC020
1547    GC010  ex 8101 97 00  ex 8112 92 21    B1010
1548    GC010  ex 8102 97 00  ex 8112 92 21   B1030
1549    GC010  ex 8103 30 00  ex 8112 92 21    B1031

[1550 rows x 4 columns]
1550
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1546    GC010  ex 8002 00 00  ex 8112 92 10   GC020
1547    GC010  ex 8101 97 00  ex 8112 92 21    B1010
1548    GC010  ex 8102 97 00  ex 8112 92 21   B1030
1549    GC010  ex 8103 30 00  ex 8112 92 21    B1031
1550    GC010  ex 8104 20 00  ex 8112 92 21   B1050

[1551 rows x 4 columns]
1551
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1547    GC010  ex 8101 97 00  ex 8112 92 21    B1010
1548    GC010  ex 8102 97 00  ex 8112 92 21   B1030
1549    GC010  ex 8103 30 00  ex 8112 92 21    B1031
1550    GC010  ex 8104 20 00  ex 8112 92 21   B1050
1551    GC010  ex 8105 30 00  ex 8112 92 21   B1120

[1552 rows x 4 columns]
1552
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1548    GC010  ex 8102 97 00  ex 8112 92 21   B1030
1549    GC010  ex 8103 30 00  ex 8112 92 21    B1031
1550    GC010  ex 8104 20 00  ex 8112 92 21   B1050
1551    GC010  ex 8105 30 00  ex 8112 92 21   B1120
1552    GC010  ex 8106 00 10  ex 8112 92 21   GC010

[1553 rows x 4 columns]
1553
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1549    GC010  ex 8103 30 00  ex 8112 92 21    B1031
1550    GC010  ex 8104 20 00  ex 8112 92 21   B1050
1551    GC010  ex 8105 30 00  ex 8112 92 21   B1120
1552    GC010  ex 8106 00 10  ex 8112 92 21   GC010
1553    GC010  ex 8108 30 00  ex 8112 92 21   GC020

[1554 rows x 4 columns]
1554
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1550    GC010  ex 8104 20 00  ex 8112 92 21   B1050
1551    GC010  ex 8105 30 00  ex 8112 92 21   B1120
1552    GC010  ex 8106 00 10  ex 8112 92 21   GC010
1553    GC010  ex 8108 30 00  ex 8112 92 21   GC020
1554    GC010  ex 8109 00 30  ex 8112 92 31    B1031

[1555 rows x 4 columns]
1555
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1551    GC010  ex 8105 30 00  ex 8112 92 21   B1120
1552    GC010  ex 8106 00 10  ex 8112 92 21   GC010
1553    GC010  ex 8108 30 00  ex 8112 92 21   GC020
1554    GC010  ex 8109 00 30  ex 8112 92 31    B1031
1555    GC010  ex 8110 20 00  ex 8113 00 20    B2030

[1556 rows x 4 columns]
1556
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1552    GC010  ex 8106 00 10  ex 8112 92 21   GC010
1553    GC010  ex 8108 30 00  ex 8112 92 21   GC020
1554    GC010  ex 8109 00 30  ex 8112 92 31    B1031
1555    GC010  ex 8110 20 00  ex 8113 00 20    B2030
1556    GC010  ex 8111 00 19  ex 8113 00 40    B1050

[1557 rows x 4 columns]
1557
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1553    GC010  ex 8108 30 00  ex 8112 92 21   GC020
1554    GC010  ex 8109 00 30  ex 8112 92 31    B1031
1555    GC010  ex 8110 20 00  ex 8113 00 20    B2030
1556    GC010  ex 8111 00 19  ex 8113 00 40    B1050
1557    GC010  ex 8112 13 00  ex 8113 00 40   B1120

[1558 rows x 4 columns]
1558
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1554    GC010  ex 8109 00 30  ex 8112 92 31    B1031
1555    GC010  ex 8110 20 00  ex 8113 00 20    B2030
1556    GC010  ex 8111 00 19  ex 8113 00 40    B1050
1557    GC010  ex 8112 13 00  ex 8113 00 40   B1120
1558    GC010  ex 8112 22 00  ex 8113 00 40   B2030

[1559 rows x 4 columns]
1559
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1555    GC010  ex 8110 20 00  ex 8113 00 20    B2030
1556    GC010  ex 8111 00 19  ex 8113 00 40    B1050
1557    GC010  ex 8112 13 00  ex 8113 00 40   B1120
1558    GC010  ex 8112 22 00  ex 8113 00 40   B2030
1559    GC010  ex 8112 52 00  ex 8427 10 10    B1250

[1560 rows x 4 columns]
1560
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1556    GC010  ex 8111 00 19  ex 8113 00 40    B1050
1557    GC010  ex 8112 13 00  ex 8113 00 40   B1120
1558    GC010  ex 8112 22 00  ex 8113 00 40   B2030
1559    GC010  ex 8112 52 00  ex 8427 10 10    B1250
1560    GC010  ex 8112 92 10  ex 8427 10 90    B1250

[1561 rows x 4 columns]
1561
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1557    GC010  ex 8112 13 00  ex 8113 00 40   B1120
1558    GC010  ex 8112 22 00  ex 8113 00 40   B2030
1559    GC010  ex 8112 52 00  ex 8427 10 10    B1250
1560    GC010  ex 8112 92 10  ex 8427 10 90    B1250
1561    GC010  ex 8112 92 21  ex 8427 20 11    B1250

[1562 rows x 4 columns]
1562
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1558    GC010  ex 8112 22 00  ex 8113 00 40   B2030
1559    GC010  ex 8112 52 00  ex 8427 10 10    B1250
1560    GC010  ex 8112 92 10  ex 8427 10 90    B1250
1561    GC010  ex 8112 92 21  ex 8427 20 11    B1250
1562    GC020  ex 7112 91 00  ex 8427 20 19    B1250

[1563 rows x 4 columns]
1563
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1559    GC010  ex 8112 52 00  ex 8427 10 10    B1250
1560    GC010  ex 8112 92 10  ex 8427 10 90    B1250
1561    GC010  ex 8112 92 21  ex 8427 20 11    B1250
1562    GC020  ex 7112 91 00  ex 8427 20 19    B1250
1563    GC020  ex 7112 92 00  ex 8427 20 90    B1250

[1564 rows x 4 columns]
1564
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1560    GC010  ex 8112 92 10  ex 8427 10 90    B1250
1561    GC010  ex 8112 92 21  ex 8427 20 11    B1250
1562    GC020  ex 7112 91 00  ex 8427 20 19    B1250
1563    GC020  ex 7112 92 00  ex 8427 20 90    B1250
1564    GC020  ex 7112 99 00  ex 8427 90 00    B1250

[1565 rows x 4 columns]
1565
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1561    GC010  ex 8112 92 21  ex 8427 20 11    B1250
1562    GC020  ex 7112 91 00  ex 8427 20 19    B1250
1563    GC020  ex 7112 92 00  ex 8427 20 90    B1250
1564    GC020  ex 7112 99 00  ex 8427 90 00    B1250
1565    GC020  ex 7204 21 10  ex 8433 11 10    B1250

[1566 rows x 4 columns]
1566
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1562    GC020  ex 7112 91 00  ex 8427 20 19    B1250
1563    GC020  ex 7112 92 00  ex 8427 20 90    B1250
1564    GC020  ex 7112 99 00  ex 8427 90 00    B1250
1565    GC020  ex 7204 21 10  ex 8433 11 10    B1250
1566    GC020  ex 7204 21 90  ex 8433 11 51    B1250

[1567 rows x 4 columns]
1567
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1563    GC020  ex 7112 92 00  ex 8427 20 90    B1250
1564    GC020  ex 7112 99 00  ex 8427 90 00    B1250
1565    GC020  ex 7204 21 10  ex 8433 11 10    B1250
1566    GC020  ex 7204 21 90  ex 8433 11 51    B1250
1567    GC020  ex 7204 29 00  ex 8433 19 10    B1250

[1568 rows x 4 columns]
1568
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1564    GC020  ex 7112 99 00  ex 8427 90 00    B1250
1565    GC020  ex 7204 21 10  ex 8433 11 10    B1250
1566    GC020  ex 7204 21 90  ex 8433 11 51    B1250
1567    GC020  ex 7204 29 00  ex 8433 19 10    B1250
1568    GC020  ex 7204 30 00  ex 8433 19 51    B1250

[1569 rows x 4 columns]
1569
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1565    GC020  ex 7204 21 10  ex 8433 11 10    B1250
1566    GC020  ex 7204 21 90  ex 8433 11 51    B1250
1567    GC020  ex 7204 29 00  ex 8433 19 10    B1250
1568    GC020  ex 7204 30 00  ex 8433 19 51    B1250
1569    GC020  ex 7204 49 30  ex 8433 20 10    B1250

[1570 rows x 4 columns]
1570
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1566    GC020  ex 7204 21 90  ex 8433 11 51    B1250
1567    GC020  ex 7204 29 00  ex 8433 19 10    B1250
1568    GC020  ex 7204 30 00  ex 8433 19 51    B1250
1569    GC020  ex 7204 49 30  ex 8433 20 10    B1250
1570    GC020  ex 7204 49 90  ex 8433 30 00    B1250

[1571 rows x 4 columns]
1571
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1567    GC020  ex 7204 29 00  ex 8433 19 10    B1250
1568    GC020  ex 7204 30 00  ex 8433 19 51    B1250
1569    GC020  ex 7204 49 30  ex 8433 20 10    B1250
1570    GC020  ex 7204 49 90  ex 8433 30 00    B1250
1571    GC020  ex 7404 00 10  ex 8433 51 00    B1250

[1572 rows x 4 columns]
1572
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1568    GC020  ex 7204 30 00  ex 8433 19 51    B1250
1569    GC020  ex 7204 49 30  ex 8433 20 10    B1250
1570    GC020  ex 7204 49 90  ex 8433 30 00    B1250
1571    GC020  ex 7404 00 10  ex 8433 51 00    B1250
1572    GC020  ex 7404 00 91  ex 8433 53 10    B1250

[1573 rows x 4 columns]
1573
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1569    GC020  ex 7204 49 30  ex 8433 20 10    B1250
1570    GC020  ex 7204 49 90  ex 8433 30 00    B1250
1571    GC020  ex 7404 00 10  ex 8433 51 00    B1250
1572    GC020  ex 7404 00 91  ex 8433 53 10    B1250
1573    GC020  ex 7404 00 99  ex 8433 53 30    B1250

[1574 rows x 4 columns]
1574
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1570    GC020  ex 7204 49 90  ex 8433 30 00    B1250
1571    GC020  ex 7404 00 10  ex 8433 51 00    B1250
1572    GC020  ex 7404 00 91  ex 8433 53 10    B1250
1573    GC020  ex 7404 00 99  ex 8433 53 30    B1250
1574    GC020  ex 7503 00 10  ex 8433 53 90    B1250

[1575 rows x 4 columns]
1575
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1571    GC020  ex 7404 00 10  ex 8433 51 00    B1250
1572    GC020  ex 7404 00 91  ex 8433 53 10    B1250
1573    GC020  ex 7404 00 99  ex 8433 53 30    B1250
1574    GC020  ex 7503 00 10  ex 8433 53 90    B1250
1575    GC020  ex 7503 00 90  ex 8433 59 11    B1250

[1576 rows x 4 columns]
1576
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1572    GC020  ex 7404 00 91  ex 8433 53 10    B1250
1573    GC020  ex 7404 00 99  ex 8433 53 30    B1250
1574    GC020  ex 7503 00 10  ex 8433 53 90    B1250
1575    GC020  ex 7503 00 90  ex 8433 59 11    B1250
1576    GC020  ex 7602 00 11  ex 8433 59 19    B1250

[1577 rows x 4 columns]
1577
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1573    GC020  ex 7404 00 99  ex 8433 53 30    B1250
1574    GC020  ex 7503 00 10  ex 8433 53 90    B1250
1575    GC020  ex 7503 00 90  ex 8433 59 11    B1250
1576    GC020  ex 7602 00 11  ex 8433 59 19    B1250
1577    GC020  ex 7602 00 19  ex 8433 59 85    B1250

[1578 rows x 4 columns]
1578
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1574    GC020  ex 7503 00 10  ex 8433 53 90    B1250
1575    GC020  ex 7503 00 90  ex 8433 59 11    B1250
1576    GC020  ex 7602 00 11  ex 8433 59 19    B1250
1577    GC020  ex 7602 00 19  ex 8433 59 85    B1250
1578    GC020  ex 7602 00 90  ex 8436 80 10    B1250

[1579 rows x 4 columns]
1579
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1575    GC020  ex 7503 00 90  ex 8433 59 11    B1250
1576    GC020  ex 7602 00 11  ex 8433 59 19    B1250
1577    GC020  ex 7602 00 19  ex 8433 59 85    B1250
1578    GC020  ex 7602 00 90  ex 8436 80 10    B1250
1579    GC020  ex 7802 00 00  ex 8473 10 00    B1250

[1580 rows x 4 columns]
1580
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1576    GC020  ex 7602 00 11  ex 8433 59 19    B1250
1577    GC020  ex 7602 00 19  ex 8433 59 85    B1250
1578    GC020  ex 7602 00 90  ex 8436 80 10    B1250
1579    GC020  ex 7802 00 00  ex 8473 10 00    B1250
1580    GC020  ex 7902 00 00  ex 8479 10 00    B1250

[1581 rows x 4 columns]
1581
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1577    GC020  ex 7602 00 19  ex 8433 59 85    B1250
1578    GC020  ex 7602 00 90  ex 8436 80 10    B1250
1579    GC020  ex 7802 00 00  ex 8473 10 00    B1250
1580    GC020  ex 7902 00 00  ex 8479 10 00    B1250
1581    GC020  ex 8002 00 00  ex 8479 89 97    B1250

[1582 rows x 4 columns]
1582
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1578    GC020  ex 7602 00 90  ex 8436 80 10    B1250
1579    GC020  ex 7802 00 00  ex 8473 10 00    B1250
1580    GC020  ex 7902 00 00  ex 8479 10 00    B1250
1581    GC020  ex 8002 00 00  ex 8479 89 97    B1250
1582    GC020  ex 8101 97 00  ex 8497 89 97    B1250

[1583 rows x 4 columns]
1583
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1579    GC020  ex 7802 00 00  ex 8473 10 00    B1250
1580    GC020  ex 7902 00 00  ex 8479 10 00    B1250
1581    GC020  ex 8002 00 00  ex 8479 89 97    B1250
1582    GC020  ex 8101 97 00  ex 8497 89 97    B1250
1583    GC020  ex 8102 97 00  ex 8548 10 10    A1160

[1584 rows x 4 columns]
1584
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1580    GC020  ex 7902 00 00  ex 8479 10 00    B1250
1581    GC020  ex 8002 00 00  ex 8479 89 97    B1250
1582    GC020  ex 8101 97 00  ex 8497 89 97    B1250
1583    GC020  ex 8102 97 00  ex 8548 10 10    A1160
1584    GC020  ex 8103 30 00  ex 8548 10 10   A1170

[1585 rows x 4 columns]
1585
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1581    GC020  ex 8002 00 00  ex 8479 89 97    B1250
1582    GC020  ex 8101 97 00  ex 8497 89 97    B1250
1583    GC020  ex 8102 97 00  ex 8548 10 10    A1160
1584    GC020  ex 8103 30 00  ex 8548 10 10   A1170
1585    GC020  ex 8104 20 00  ex 8548 10 10   B1090

[1586 rows x 4 columns]
1586
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1582    GC020  ex 8101 97 00  ex 8497 89 97    B1250
1583    GC020  ex 8102 97 00  ex 8548 10 10    A1160
1584    GC020  ex 8103 30 00  ex 8548 10 10   A1170
1585    GC020  ex 8104 20 00  ex 8548 10 10   B1090
1586    GC020  ex 8105 30 00  ex 8548 10 10   B4030

[1587 rows x 4 columns]
1587
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1583    GC020  ex 8102 97 00  ex 8548 10 10    A1160
1584    GC020  ex 8103 30 00  ex 8548 10 10   A1170
1585    GC020  ex 8104 20 00  ex 8548 10 10   B1090
1586    GC020  ex 8105 30 00  ex 8548 10 10   B4030
1587    GC020  ex 8106 00 10  ex 8548 10 21    A1160

[1588 rows x 4 columns]
1588
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1584    GC020  ex 8103 30 00  ex 8548 10 10   A1170
1585    GC020  ex 8104 20 00  ex 8548 10 10   B1090
1586    GC020  ex 8105 30 00  ex 8548 10 10   B4030
1587    GC020  ex 8106 00 10  ex 8548 10 21    A1160
1588    GC020  ex 8108 30 00  ex 8548 10 21   A1170

[1589 rows x 4 columns]
1589
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1585    GC020  ex 8104 20 00  ex 8548 10 10   B1090
1586    GC020  ex 8105 30 00  ex 8548 10 10   B4030
1587    GC020  ex 8106 00 10  ex 8548 10 21    A1160
1588    GC020  ex 8108 30 00  ex 8548 10 21   A1170
1589    GC020  ex 8109 00 30  ex 8548 10 29    A1170

[1590 rows x 4 columns]
1590
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1586    GC020  ex 8105 30 00  ex 8548 10 10   B4030
1587    GC020  ex 8106 00 10  ex 8548 10 21    A1160
1588    GC020  ex 8108 30 00  ex 8548 10 21   A1170
1589    GC020  ex 8109 00 30  ex 8548 10 29    A1170
1590    GC020  ex 8110 20 00  ex 8548 10 29   B1090

[1591 rows x 4 columns]
1591
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1587    GC020  ex 8106 00 10  ex 8548 10 21    A1160
1588    GC020  ex 8108 30 00  ex 8548 10 21   A1170
1589    GC020  ex 8109 00 30  ex 8548 10 29    A1170
1590    GC020  ex 8110 20 00  ex 8548 10 29   B1090
1591    GC020  ex 8111 00 19  ex 8548 10 29   B4030

[1592 rows x 4 columns]
1592
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1588    GC020  ex 8108 30 00  ex 8548 10 21   A1170
1589    GC020  ex 8109 00 30  ex 8548 10 29    A1170
1590    GC020  ex 8110 20 00  ex 8548 10 29   B1090
1591    GC020  ex 8111 00 19  ex 8548 10 29   B4030
1592    GC020  ex 8112 13 00  ex 8548 10 91    A1160

[1593 rows x 4 columns]
1593
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1589    GC020  ex 8109 00 30  ex 8548 10 29    A1170
1590    GC020  ex 8110 20 00  ex 8548 10 29   B1090
1591    GC020  ex 8111 00 19  ex 8548 10 29   B4030
1592    GC020  ex 8112 13 00  ex 8548 10 91    A1160
1593    GC020  ex 8112 22 00  ex 8548 10 91   A1170

[1594 rows x 4 columns]
1594
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1590    GC020  ex 8110 20 00  ex 8548 10 29   B1090
1591    GC020  ex 8111 00 19  ex 8548 10 29   B4030
1592    GC020  ex 8112 13 00  ex 8548 10 91    A1160
1593    GC020  ex 8112 22 00  ex 8548 10 91   A1170
1594    GC020  ex 8112 52 00  ex 8548 10 99    A1170

[1595 rows x 4 columns]
1595
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1591    GC020  ex 8111 00 19  ex 8548 10 29   B4030
1592    GC020  ex 8112 13 00  ex 8548 10 91    A1160
1593    GC020  ex 8112 22 00  ex 8548 10 91   A1170
1594    GC020  ex 8112 52 00  ex 8548 10 99    A1170
1595    GC020  ex 8112 92 10  ex 8548 10 99   B1090

[1596 rows x 4 columns]
1596
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1592    GC020  ex 8112 13 00  ex 8548 10 91    A1160
1593    GC020  ex 8112 22 00  ex 8548 10 91   A1170
1594    GC020  ex 8112 52 00  ex 8548 10 99    A1170
1595    GC020  ex 8112 92 10  ex 8548 10 99   B1090
1596    GC020  ex 8112 92 21  ex 8548 10 99   B4030

[1597 rows x 4 columns]
1597
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1593    GC020  ex 8112 22 00  ex 8548 10 91   A1170
1594    GC020  ex 8112 52 00  ex 8548 10 99    A1170
1595    GC020  ex 8112 92 10  ex 8548 10 99   B1090
1596    GC020  ex 8112 92 21  ex 8548 10 99   B4030
1597    GC020  ex 8548 90 90  ex 8548 90 90    GC020

[1598 rows x 4 columns]
1598
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1594    GC020  ex 8112 52 00  ex 8548 10 99    A1170
1595    GC020  ex 8112 92 10  ex 8548 10 99   B1090
1596    GC020  ex 8112 92 21  ex 8548 10 99   B4030
1597    GC020  ex 8548 90 90  ex 8548 90 90    GC020
1598    GC030  ex 8908 00 00  ex 8701 10 00    B1250

[1599 rows x 4 columns]
1599
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1595    GC020  ex 8112 92 10  ex 8548 10 99   B1090
1596    GC020  ex 8112 92 21  ex 8548 10 99   B4030
1597    GC020  ex 8548 90 90  ex 8548 90 90    GC020
1598    GC030  ex 8908 00 00  ex 8701 10 00    B1250
1599    GC050  ex 3815 11 00  ex 8701 20 90    B1250

[1600 rows x 4 columns]
1600
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1596    GC020  ex 8112 92 21  ex 8548 10 99   B4030
1597    GC020  ex 8548 90 90  ex 8548 90 90    GC020
1598    GC030  ex 8908 00 00  ex 8701 10 00    B1250
1599    GC050  ex 3815 11 00  ex 8701 20 90    B1250
1600    GC050  ex 3815 12 00  ex 8701 30 00    B1250

[1601 rows x 4 columns]
1601
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1597    GC020  ex 8548 90 90  ex 8548 90 90    GC020
1598    GC030  ex 8908 00 00  ex 8701 10 00    B1250
1599    GC050  ex 3815 11 00  ex 8701 20 90    B1250
1600    GC050  ex 3815 12 00  ex 8701 30 00    B1250
1601    GC050  ex 3815 19 90  ex 8701 90 50    B1250

[1602 rows x 4 columns]
1602
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1598    GC030  ex 8908 00 00  ex 8701 10 00    B1250
1599    GC050  ex 3815 11 00  ex 8701 20 90    B1250
1600    GC050  ex 3815 12 00  ex 8701 30 00    B1250
1601    GC050  ex 3815 19 90  ex 8701 90 50    B1250
1602    GC050  ex 3815 90 90  ex 8701 90 90    B1250

[1603 rows x 4 columns]
1603
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1599    GC050  ex 3815 11 00  ex 8701 20 90    B1250
1600    GC050  ex 3815 12 00  ex 8701 30 00    B1250
1601    GC050  ex 3815 19 90  ex 8701 90 50    B1250
1602    GC050  ex 3815 90 90  ex 8701 90 90    B1250
1603    GC050  ex 3825 69 00  ex 8702 10 19    B1250

[1604 rows x 4 columns]
1604

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1600    GC050  ex 3815 12 00  ex 8701 30 00    B1250
1601    GC050  ex 3815 19 90  ex 8701 90 50    B1250
1602    GC050  ex 3815 90 90  ex 8701 90 90    B1250
1603    GC050  ex 3825 69 00  ex 8702 10 19    B1250
1604    GC050  ex 3825 90 90  ex 8702 10 99    B1250

[1605 rows x 4 columns]
1605
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1601    GC050  ex 3815 19 90  ex 8701 90 50    B1250
1602    GC050  ex 3815 90 90  ex 8701 90 90    B1250
1603    GC050  ex 3825 69 00  ex 8702 10 19    B1250
1604    GC050  ex 3825 90 90  ex 8702 10 99    B1250
1605    GC050  ex 7110 11 00  ex 8702 90 19    B1250

[1606 rows x 4 columns]
1606
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1602    GC050  ex 3815 90 90  ex 8701 90 90    B1250
1603    GC050  ex 3825 69 00  ex 8702 10 19    B1250
1604    GC050  ex 3825 90 90  ex 8702 10 99    B1250
1605    GC050  ex 7110 11 00  ex 8702 90 19    B1250
1606    GC050  ex 7110 19 10  ex 8702 90 39    B1250

[1607 rows x 4 columns]
1607
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1603    GC050  ex 3825 69 00  ex 8702 10 19    B1250
1604    GC050  ex 3825 90 90  ex 8702 10 99    B1250
1605    GC050  ex 7110 11 00  ex 8702 90 19    B1250
1606    GC050  ex 7110 19 10  ex 8702 90 39    B1250
1607    GC050  ex 7110 19 80  ex 8702 90 90    B1250

[1608 rows x 4 columns]
1608
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1604    GC050  ex 3825 90 90  ex 8702 10 99    B1250
1605    GC050  ex 7110 11 00  ex 8702 90 19    B1250
1606    GC050  ex 7110 19 10  ex 8702 90 39    B1250
1607    GC050  ex 7110 19 80  ex 8702 90 90    B1250
1608    GC050  ex 7112 92 00  ex 8703 10 11    B1250

[1609 rows x 4 columns]
1609
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1605    GC050  ex 7110 11 00  ex 8702 90 19    B1250
1606    GC050  ex 7110 19 10  ex 8702 90 39    B1250
1607    GC050  ex 7110 19 80  ex 8702 90 90    B1250
1608    GC050  ex 7112 92 00  ex 8703 10 11    B1250
1609    GC050  ex 7112 99 00  ex 8703 10 18    B1250

[1610 rows x 4 columns]
1610
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1606    GC050  ex 7110 19 10  ex 8702 90 39    B1250
1607    GC050  ex 7110 19 80  ex 8702 90 90    B1250
1608    GC050  ex 7112 92 00  ex 8703 10 11    B1250
1609    GC050  ex 7112 99 00  ex 8703 10 18    B1250
1610    GC050  ex 7115 10 00  ex 8703 21 90    B1250

[1611 rows x 4 columns]
1611
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1607    GC050  ex 7110 19 80  ex 8702 90 90    B1250
1608    GC050  ex 7112 92 00  ex 8703 10 11    B1250
1609    GC050  ex 7112 99 00  ex 8703 10 18    B1250
1610    GC050  ex 7115 10 00  ex 8703 21 90    B1250
1611    GC050  ex 7115 90 00  ex 8703 22 90    B1250

[1612 rows x 4 columns]
1612
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1608    GC050  ex 7112 92 00  ex 8703 10 11    B1250
1609    GC050  ex 7112 99 00  ex 8703 10 18    B1250
1610    GC050  ex 7115 10 00  ex 8703 21 90    B1250
1611    GC050  ex 7115 90 00  ex 8703 22 90    B1250
1612    GE020  ex 7001 00 10  ex 8703 23 90    B1250

[1613 rows x 4 columns]
1613
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1609    GC050  ex 7112 99 00  ex 8703 10 18    B1250
1610    GC050  ex 7115 10 00  ex 8703 21 90    B1250
1611    GC050  ex 7115 90 00  ex 8703 22 90    B1250
1612    GE020  ex 7001 00 10  ex 8703 23 90    B1250
1613    GE020  ex 7019 11 00  ex 8703 24 90    B1250

[1614 rows x 4 columns]
1614
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1610    GC050  ex 7115 10 00  ex 8703 21 90    B1250
1611    GC050  ex 7115 90 00  ex 8703 22 90    B1250
1612    GE020  ex 7001 00 10  ex 8703 23 90    B1250
1613    GE020  ex 7019 11 00  ex 8703 24 90    B1250
1614    GE020  ex 7019 19 10  ex 8703 31 90    B1250

[1615 rows x 4 columns]
1615
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1611    GC050  ex 7115 90 00  ex 8703 22 90    B1250
1612    GE020  ex 7001 00 10  ex 8703 23 90    B1250
1613    GE020  ex 7019 11 00  ex 8703 24 90    B1250
1614    GE020  ex 7019 19 10  ex 8703 31 90    B1250
1615    GE020  ex 7019 19 90  ex 8703 32 90    B1250

[1616 rows x 4 columns]
1616
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1612    GE020  ex 7001 00 10  ex 8703 23 90    B1250
1613    GE020  ex 7019 11 00  ex 8703 24 90    B1250
1614    GE020  ex 7019 19 10  ex 8703 31 90    B1250
1615    GE020  ex 7019 19 90  ex 8703 32 90    B1250
1616    GE020  ex 7019 90 00  ex 8703 33 90    B1250

[1617 rows x 4 columns]
1617
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1613    GE020  ex 7019 11 00  ex 8703 24 90    B1250
1614    GE020  ex 7019 19 10  ex 8703 31 90    B1250
1615    GE020  ex 7019 19 90  ex 8703 32 90    B1250
1616    GE020  ex 7019 90 00  ex 8703 33 90    B1250
1617    GF010  ex 2530 90 00  ex 8703 90 10    B1250

[1618 rows x 4 columns]
1618
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1614    GE020  ex 7019 19 10  ex 8703 31 90    B1250
1615    GE020  ex 7019 19 90  ex 8703 32 90    B1250
1616    GE020  ex 7019 90 00  ex 8703 33 90    B1250
1617    GF010  ex 2530 90 00  ex 8703 90 10    B1250
1618    GF010  ex 6804 22 30  ex 8703 90 90    B1250

[1619 rows x 4 columns]
1619
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1615    GE020  ex 7019 19 90  ex 8703 32 90    B1250
1616    GE020  ex 7019 90 00  ex 8703 33 90    B1250
1617    GF010  ex 2530 90 00  ex 8703 90 10    B1250
1618    GF010  ex 6804 22 30  ex 8703 90 90    B1250
1619    GF010          ex 69  ex 8704 10 10    B1250

[1620 rows x 4 columns]
1620
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1616    GE020  ex 7019 90 00  ex 8703 33 90    B1250
1617    GF010  ex 2530 90 00  ex 8703 90 10    B1250
1618    GF010  ex 6804 22 30  ex 8703 90 90    B1250
1619    GF010          ex 69  ex 8704 10 10    B1250
1620    GG030  ex 2621 90 00  ex 8704 10 90    B1250

[1621 rows x 4 columns]
1621
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1617    GF010  ex 2530 90 00  ex 8703 90 10    B1250
1618    GF010  ex 6804 22 30  ex 8703 90 90    B1250
1619    GF010          ex 69  ex 8704 10 10    B1250
1620    GG030  ex 2621 90 00  ex 8704 10 90    B1250
1621    GG040  ex 2621 90 00  ex 8704 21 39    B1250

[1622 rows x 4 columns]
1622
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1618    GF010  ex 6804 22 30  ex 8703 90 90    B1250
1619    GF010          ex 69  ex 8704 10 10    B1250
1620    GG030  ex 2621 90 00  ex 8704 10 90    B1250
1621    GG040  ex 2621 90 00  ex 8704 21 39    B1250
1622    GH013  ex 3904 10 00  ex 8704 21 99    B1250

[1623 rows x 4 columns]
1623
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1619    GF010          ex 69  ex 8704 10 10    B1250
1620    GG030  ex 2621 90 00  ex 8704 10 90    B1250
1621    GG040  ex 2621 90 00  ex 8704 21 39    B1250
1622    GH013  ex 3904 10 00  ex 8704 21 99    B1250
1623    GH013  ex 3904 21 00  ex 8704 22 99    B1250

[1624 rows x 4 columns]
1624
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1620    GG030  ex 2621 90 00  ex 8704 10 90    B1250
1621    GG040  ex 2621 90 00  ex 8704 21 39    B1250
1622    GH013  ex 3904 10 00  ex 8704 21 99    B1250
1623    GH013  ex 3904 21 00  ex 8704 22 99    B1250
1624    GH013  ex 3904 22 00  ex 8704 23 99    B1250

[1625 rows x 4 columns]
1625
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1621    GG040  ex 2621 90 00  ex 8704 21 39    B1250
1622    GH013  ex 3904 10 00  ex 8704 21 99    B1250
1623    GH013  ex 3904 21 00  ex 8704 22 99    B1250
1624    GH013  ex 3904 22 00  ex 8704 23 99    B1250
1625    GH013  ex 3904 30 00  ex 8704 31 39    B1250

[1626 rows x 4 columns]
1626
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1622    GH013  ex 3904 10 00  ex 8704 21 99    B1250
1623    GH013  ex 3904 21 00  ex 8704 22 99    B1250
1624    GH013  ex 3904 22 00  ex 8704 23 99    B1250
1625    GH013  ex 3904 30 00  ex 8704 31 39    B1250
1626    GH013  ex 3904 40 00  ex 8704 31 99    B1250

[1627 rows x 4 columns]
1627
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1623    GH013  ex 3904 21 00  ex 8704 22 99    B1250
1624    GH013  ex 3904 22 00  ex 8704 23 99    B1250
1625    GH013  ex 3904 30 00  ex 8704 31 39    B1250
1626    GH013  ex 3904 40 00  ex 8704 31 99    B1250
1627    GH013  ex 3915 30 00  ex 8704 32 99    B1250

[1628 rows x 4 columns]
1628
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1624    GH013  ex 3904 22 00  ex 8704 23 99    B1250
1625    GH013  ex 3904 30 00  ex 8704 31 39    B1250
1626    GH013  ex 3904 40 00  ex 8704 31 99    B1250
1627    GH013  ex 3915 30 00  ex 8704 32 99    B1250
1628    GN010  ex 0502 10 00  ex 8704 90 00    B1250

[1629 rows x 4 columns]
1629
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1625    GH013  ex 3904 30 00  ex 8704 31 39    B1250
1626    GH013  ex 3904 40 00  ex 8704 31 99    B1250
1627    GH013  ex 3915 30 00  ex 8704 32 99    B1250
1628    GN010  ex 0502 10 00  ex 8704 90 00    B1250
1629    GN010  ex 0502 90 00        ex 8705    B1250

[1630 rows x 4 columns]
1630
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1626    GH013  ex 3904 40 00  ex 8704 31 99    B1250
1627    GH013  ex 3915 30 00  ex 8704 32 99    B1250
1628    GN010  ex 0502 10 00  ex 8704 90 00    B1250
1629    GN010  ex 0502 90 00        ex 8705    B1250
1630    GN020  ex 0511 99 85  ex 8709 11 10    B1250

[1631 rows x 4 columns]
1631
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1627    GH013  ex 3915 30 00  ex 8704 32 99    B1250
1628    GN010  ex 0502 10 00  ex 8704 90 00    B1250
1629    GN010  ex 0502 90 00        ex 8705    B1250
1630    GN020  ex 0511 99 85  ex 8709 11 10    B1250
1631    GN030  ex 0505 10 10  ex 8709 11 90    B1250

[1632 rows x 4 columns]
1632

     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1628    GN010  ex 0502 10 00  ex 8704 90 00    B1250
1629    GN010  ex 0502 90 00        ex 8705    B1250
1630    GN020  ex 0511 99 85  ex 8709 11 10    B1250
1631    GN030  ex 0505 10 10  ex 8709 11 90    B1250
1632    GN030  ex 0505 10 90  ex 8709 19 10    B1250

[1633 rows x 4 columns]
1633
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1629    GN010  ex 0502 90 00        ex 8705    B1250
1630    GN020  ex 0511 99 85  ex 8709 11 10    B1250
1631    GN030  ex 0505 10 10  ex 8709 11 90    B1250
1632    GN030  ex 0505 10 90  ex 8709 19 10    B1250
1633    GN030  ex 0505 90 00  ex 8709 19 90    B1250

[1634 rows x 4 columns]
1634
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1630    GN020  ex 0511 99 85  ex 8709 11 10    B1250
1631    GN030  ex 0505 10 10  ex 8709 11 90    B1250
1632    GN030  ex 0505 10 90  ex 8709 19 10    B1250
1633    GN030  ex 0505 90 00  ex 8709 19 90    B1250
1634    RB020  ex 3825 90 90  ex 8710 00 00    B1250

[1635 rows x 4 columns]
1635
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1631    GN030  ex 0505 10 10  ex 8709 11 90    B1250
1632    GN030  ex 0505 10 90  ex 8709 19 10    B1250
1633    GN030  ex 0505 90 00  ex 8709 19 90    B1250
1634    RB020  ex 3825 90 90  ex 8710 00 00    B1250
1635    RB020  ex 6806 10 00        ex 8711    B1250

[1636 rows x 4 columns]
1636
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1632    GN030  ex 0505 10 90  ex 8709 19 10    B1250
1633    GN030  ex 0505 90 00  ex 8709 19 90    B1250
1634    RB020  ex 3825 90 90  ex 8710 00 00    B1250
1635    RB020  ex 6806 10 00        ex 8711    B1250
1636    RB020  ex 6806 90 00  ex 8713 90 00    B1250

[1637 rows x 4 columns]
1637
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1633    GN030  ex 0505 90 00  ex 8709 19 90    B1250
1634    RB020  ex 3825 90 90  ex 8710 00 00    B1250
1635    RB020  ex 6806 10 00        ex 8711    B1250
1636    RB020  ex 6806 90 00  ex 8713 90 00    B1250
1637      Y46  ex 3825 10 00  ex 8908 00 00    GC030

[1638 rows x 4 columns]
1638
     Column_1       Column_2       Column_3 Column_4
0         NaN            NaN            NaN      NaN
1       A1010  ex 2620 60 00  ex 0501 00 00    B3070
2       A1010  ex 2843 90 10  ex 0502 10 00    A3110
3       A1010  ex 2853 00 90  ex 0502 10 00   B3110
4       A1010  ex 3825 69 00  ex 0502 10 00   GN010
...       ...            ...            ...      ...
1634    RB020  ex 3825 90 90  ex 8710 00 00    B1250
1635    RB020  ex 6806 10 00        ex 8711    B1250
1636    RB020  ex 6806 90 00  ex 8713 90 00    B1250
1637      Y46  ex 3825 10 00  ex 8908 00 00    GC030
1638      Y47  ex 2621 10 00  ex 9705 00 00    B1250

[1639 rows x 4 columns]

In [56]:
first_category=""
for line in st.split('\n'):
    if e_new_ven.match(line):
        if a_new_ven.match(line):
            first_category=line
        if b_new_ven.match(line):
            main_category=line
        if new_ven.match(line):
            x=re.split('(\d+)', line)
            code=x[1]
            activity=x[2]
            Dic={'Code':code,'Activiry':activity,'first_category':first_category,'main_category':main_category}
            gc = gc.append(Dic, ignore_index=True)
            print(activity)
#         if b_new_ven.match(line):
#             print(line)

 Unspecified personal care
 Unspecified sleep
 Sleep
 Sick in bed
 Unspecified eating
 Meals, snacks and drinks
 Unspecified other personal care
 Wash and dress
 Other specified personal care
 Unspecified employment
 Working time in main job
 Coffee and other breaks in main job
 Working time in second job
 Coffee and other breaks in second job
 Unspecified activities related to employment
 Lunch break
 Other specified activities related to employment
 Unspecified study
 Unspecified activities related to school or university
 Classes and lectures
 Homework
 Other specified activities related to school or university
 Other activities carried out in relation to
 Free-time study
 Unspecified household and family care
 Unspecified food management
 Food preparation
 Baking
 Dishwashing
 Preserving
 Other specified food management
 Unspecified household upkeep
 Cleaning dwelling
 Cleaning yard
 Heating and water
 Various arrangements Note:  No corresponding category in ICATUS
 Other specified household upkeep
 Unspecified making and care for textiles
 Laundry
 Ironing
 Handicraft and producing textiles
 Other specified making and care for textiles
 Unspecified gardening and pet care
 Gardening
 Tending domestic animals
 Caring for pets
 Walking the dog
 Other specified gardening and pet care
 Unspecified construction and repairs
 House construction and renovation
 Repairs of dwelling
 Making, repairing and maintaining equipment
 Vehicle maintenance
 Other specified construction and repairs
 Unspecified shopping and services
 Shopping
 Commercial and administrative services
 Personal services
 Other specified shopping and services
 Household management
 Unspecified childcare
 Physical care and supervision
 Teaching the child
 Reading, playing and talking with child
 Accompanying child
 Other specified childcare
 Help to an adult family member
 Unspecified volunteer work and meetings
 Unspecified organizational work
 Work for an organization
 Volunteer work through an organization
 Other specified organizational work
 Unspecified informal help
 Food management as help
 Household upkeep as help
 Gardening and pet care as help
 Construction and repairs as help
 Shopping and services as help
 Help in employment and farming
 Childcare as help
 Help to an adult of another household
 Other specified informal help
 Unspecified participatory activities
 Meetings
 Religious activities
 Other specified participatory activities
 Unspecified social life and entertainment
 Unspecified social life
 Socialising with family
 Visiting and receiving visitors
 Feasts
 Telephone conversation
 Other specified social life
 Unspecified entertainment and culture
 Cinema
 Theatre and concerts
 Art exhibitions and museums
 Library
 Sports events
 Other specified entertainment and culture
 Resting: Time out
 Unspecified sports and outdoor activities
 Unspecified physical exercise
 Walking and hiking
 Jogging and running
 Biking, skiing and skating
 Ball games
 Gymnastics
 Fitness
 Water sports
 Other specified physical exercise
 Indoor and outdoor sports participation and related courses n.e.c.
 Unspecified productive exercise
 Hunting and fishing
 Picking berries, mushrooms and herbs
 Other specified productive exercise Note:  No corresponding category in ICATUS
 Sports related activities
 Unspecified hobbies and games
 Unspecified arts
 Visual arts
 Performing arts
 Literary arts
 Other specified arts
 Unspecified hobbies
 Collecting
 Computing – programming
 Information by computing
 Communication by computing
 Other computing
 Correspondence
 Other specified hobbies
 Unspecified games
 Solo games and play
 Parlour games and play
 Computer games
 Gambling
 Other specified games
 Unspecified mass media
 Unspecified reading
 Reading periodicals
 Reading books
 Other specified reading
 Watching TV
 Watching video
 Unspecified listening to radio and music
 Listening to radio
 Listening to recordings
 Unspecified purpose
 Travel related to personal care
 Travel as part of/during main job
 Travel as part of/during second job
 Travel to/from work
 Travel to/from school or univers ity
 Travel related to free time study
 Travel related to indoor and outdoor sports participation and rel ated courses
 Travel related to household care
 Travel related to shopping and services
 Transporting a child
 Transporting an adult family member
 Travel related to organisational work
 Travel related to informal help
 Travel related to participatory activities
 Travel related to social life
 Travel related to entertainment and culture
 Travel related to sports and outdoor activities
 Travel related to hobbies
 Travel related to use of mass media
 Travel related to changing locality Note:  Included in all travel related to categories
 Driving for pleasure
 Filling in the time-use diary
 Unspecified time use

In [195]:
gc.to_excel(r"C:/Users/User/OneDrive/Desktop/Data_acq/PDF/Converted/CN 2016 - LIST OF WASTE_30_07_22_Kazi.xlsx")

In [65]:
first_category=""
for line in st.split('\n'):
    if e_new_ven.match(line):
        if c_new_ven.match(line):
            x=re.split('(\d+)', line)
            code=x[1]
            activity=x[2]
            Dic={'Code':code,'Activiry':activity,'first_category':first_category,'main_category':main_category}
            gc = gc.append(Dic, ignore_index=True)
        if d_new_ven.match(line):
            x=re.split('(\d+)', line)
            code=x[1]
            activity=x[2]
            Dic={'Code':code,'Activiry':activity,'first_category':first_category,'main_category':main_category}
            gc = gc.append(Dic, ignore_index=True)
        if f_new_ven.match(line):
            x=re.split('(\d+)', line)
            code=x[1]
            activity=x[2]
            Dic={'Code':code,'Activiry':activity,'first_category':first_category,'main_category':main_category}
            gc = gc.append(Dic, ignore_index=True)
        if new_ven.match(line):
            try:
                x=re.split('(\d+)', line)
                code=x[3]
                activity=x[4]
                Dic={'Code':code,'Activiry':activity,'first_category':first_category,'main_category':main_category}
                gc = gc.append(Dic, ignore_index=True)
            except:
                pass

In [66]:
gc.to_excel(r"C:/Users/User/OneDrive/Desktop/Data_acq/PDF/Converted/2005.xlsx")

In [31]:
for line in st.split('\n'):
    if new_ven.match(line):
        x=re.split('(\d+)', line)
        code=x[1]
        activity=x[2]
        try: 
            b_code=x[3]
            print(b_code)
        except:
            pass

15111
15132
15121
15131
15132
01111
01114
01112
01114
01122
01121
09111
09120
09112
0913
06111
03112
06111
03111
06111
06112
06112
02114
069
06114
061143
03113
06114
02111
02112
06116
06116
06116
04111
061131
061132
061133
061139
06121
06122
15141
06121
06115
07111
07112
071122
07113
079
07121
08131
08132
08121
08111
08111
08111
08113
08112
0811
08116
0811
089
082
15151
08300
10112
10112
1011
10114
11112
11113
1111
142
11131
10121
15161
13111
13111
13112
13114
13113
13113
13116
13117
02113
02114
139
12111
12113
12112
129
1212
1212
14141
10113
10113
129
12131
12132
12133
12135
129
14112
14111
14119
14121
14122
14131
14132
152
013
013
013
093
122
062
062
072
072
084
084
084
102
112
132
122
10
13123