In [1]:
import PyPDF2
a=PyPDF2.PdfFileReader('C:/Users/User/OneDrive/Desktop/Data_acq/PDF/Downloaded/nace_70-nace_rev_1.pdf')

In [4]:
st=""
for i in range(5,13):
    st+=a.getPage(i).extract_text()

In [5]:
print(st)

N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 6 Conversion Keys : NACE 70 to NACE Rev. 1

000.00
 99.00
01
 01.11
 01.12
 01.13
 01.21
 01.22
 01.23
 01.24
 01.25  p
 01.30
 01.41
 01.42
 01.50
02
 02.01
 02.02
 24.14  p
03
 05.01
 05.02
111.10
 10.10  p
111.20
 10.10  p
112.10
 10.20  p
112.20
 10.20  p
112.30
 10.20  p
120.10
 23.10  p
120.20
 23.10  p
120.30
 23.10  p
131.00
 11.10  p
 11.20  p
132.00
 11.10  p
 11.20  p
133.00
 11.10  p
 11.20  p
134.00
 11.20  p
 74.20  p
140.11
 23.20  p
140.12
 23.20  p 140.20
 23.20  p
151.00
 12.00
152.00
 23.30
161.10
 40.10  p
161.20
 40.10  p
161.30
 40.10  p
161.40
 40.10  p
161.50
 40.10  p
161.60
 40.10  p
161.70
 40.10  p
162.10
 40.20  p
162.20
 40.20  p
163.00
 40.30  p
169.00
 -
170.00
 41.00
211.10
 13.10  p
211.20
 13.10  p
212.10
 13.20  p
212.20
 13.20  p
221.10
 27.10  p
221.20
 27.10  p
 27.35  p
222.00
 27.22
223.10
 27.31
223.20   27.32
223.30
 27.33
223.41
 27.34
223.42
 28.73  p
 28.74  p
224.10
 27.41  p
 27.42  p
 27.43  p
 27.44  p
 27.45  p
224.20
 27.41  p
 27.42  p
 27.43  p
 27.44  p
 27.45  p
224.30
 27.41  p
 27.42  p
 27.43  p
 27.44  p
 27.45  p
224.40
 27.35  p
231.10
 14.13
231.20
 14.11
231.30
 14.12  p
231.40
 14.21
231.50
 14.12  p
 14.30  p
231.60
 14.12  p
231.70
 14.22
232.10
 14.30  p
232.20
 14.30  p
233.10
 14.40  p
233.21
 14.40  p
233.22
 14.40  p 239.10
 14.30  p
239.20
 14.50  p
239.30
 14.12  p
 14.50  p
239.41
 14.50  p
239.42
 14.50  p
239.43
 14.50  p
239.44
 14.50  p
239.45
 14.30  p
239.46
 14.30  p
239.47
 14. 50 p
239.50
 10.30
 26.82  p
241.00
 26.40  p
242.10
 26.51
242.20
 26.52
242.30
 26.53
243.10
 26.65  p
243.20
 26.61  p
 26.65  p
243.30
 26.62
 26.66
243.40
 26.61  p
243.50
 26.61  p
243.60
 26.63
 26.64
244.00
 26.82  p 245.10
 26.70  p
245.20
 26.70  p
245.30
 26.70  p
 26.81  p
245.40
 26.70  p
245.50
 26.82  p
246.10
 26.81  p
246.20
 26.81  p
246.30
 26.81  p
247.10
 26.11
247.20
 26.13  p
247.30
 26.13  p
247.40
 26.15  p
247.50
 26.14
247.60
 26.12
247.70
 26.15  p
 33.20  p
248.10
 26.26
248.20
 26.21  p
248.30
 26.30
248.40
 26.40  p
248.50
 26.22
248.60
 26.21  p
 31.50  p
248.70
 26.21  p
 31.50  p
248.80   26.23
248.90
 26.24
 26.25
251.00
 -
252.00
 24.14  p
 24.16
 24.17
 24.41  p
253.00
 24.12
 24.13
 24.14  p
 24.15  p
 24.41  p
 24.66  p
255.00
 24.30
256.10
 24.11
256.20
 24.62  p
256.30
 24.51  p
 24.66  p
256.40
 24.63
256.50
 24.61
 36.63  p
256.60
 24.51  p
 24.66  p
256.70
 24.20  p
 24.51  p
 24.66  p
256.80
 24.15  p
 24.20  p
257.00
 24.41  p
 24.42
258.10
 24.51  p
258.20
 24.51  p
 24.52
259.10
 24.64
259.20
 24.51  p
 24.66  p N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 Conversion Keys : NACE 70 to NACE Rev. 1   7

259.31
 36.63  p
259.32
 24.62  p
 24.66  p
259.33
 21.23  p
259.40
 24.51  p
 24.65
 24.66  p
 36.63  p
260.00
 17.15  p
 24.70
311.10
 27.21
 27.51
 27.52
311.20
 27.53
 27.54
312.11
 28.40  p
312.12
 28.40  p
312.20
 28.40  p
313.11
 28.52  p
 28.74  p
313.12
 28.7 4 p
313.20
 28.74  p
313.30
 28.40  p
313.40
 28.74  p
313.50
 28.51
313.60
 28.52  p
314.10
 28.11  p
314.20
 28.12
314.30
 28.11  p
 29.52  p
314.40
 27.35  p 315.10
 28.22  p
 28.30  p
315.20
 28.21  p
 34.20  p
316.11
 28.62  p
316.12
 28.62  p
316.20
 28.61
316.30
 28.63
316.41
 28.21  p
 28.71
316.42
 28.72
316.50
 28.22  p
 29.72
316.60
 28.75  p
 36.11  p
 36.12  p
 36.14  p
316.70
 28.75  p
316.80
 28.75  p
 29.60  p
316.91
 22.24  p
316.92
 28.73  p
 28.75  p
 29.54  p
319.10
 28.52  p
319.20
 29.31  p
 29.32  p
321.10
 29.32  p
321.20
 29.31  p
322.11
 29.40  p
322.12
 29.40  p
322.20   28.62  p
 29.40  p
 29.56  p
323.11
 29.24  p
 29.54  p
 29.56  p
323.12
 29.54  p
323.20
 29.54  p
324.11
 29.53
324.12
 29.24  p
324.20
 29.24  p
324.30
 29.24  p
 29.56  p
325.10
 29.52  p
325.20
 29.51
325.3 0
 29.40  p
 29.56  p
 29.56  p
325.40
 29.52  p
325.50
 29.22
326.10
 29.14  p
326.20
 29.14  p
327.10
 29.40  p
327.20
 29.55
 29.56  p
327.30
 29.54  p
 29.56  p
327.40
 29.54  p
328.10
 29.11  p
328.20
 29.11  p
328.30
 29.12  p  29.24  p
328.40
 29.23  p
 29.56  p
328 .50
 29.12  p
 29.23  p
328.60
 29.21  p
328.70
 29.40  p
328.80
 29.13
328.90
 28.30  p
 29.24  p
 29.56  p
 29.60  p
330.00
 30.01  p
 30.02
 72.50  p
 72.50  p
341.00
 31.30
342.00
 31.10  p
 31.20  p
 31.62  p
 32.10  p
343.10
 29.21  p
 29.40  p
 31.61
 31.62  p
343.20
 31.40
344.00
 32.10  p
 32.20
 33.10  p
 33.20  p
345.10
 32.30
345.20
 22.14
 22.31
 22.32
 22.33
 72.20  p
 92.11  p
 92.32  p
346.00
 29.71
347.10
 31.50  p
347.20   31.50  p
348.00
 00.00
 31.10  p
 31.20  p
 31.62  p
351.00
 34.10
352.00
 34.20  p
353.00
 34.30
361.10
 35.11  p
361.20
 35.11  p
361.30
 35.12
361.40
 35.11  p
361.50
 35.11  p
362.10
 35.20  p
362.20
 35.20  p
362.30
 35.20  p
363.10
 35.41  p
 35.42  p
363.20
 35.41  p
 35.42  p
364.10
 35.30  p
364.20
 35.30  p
364.30
 29.60  p
 35.11  p
 35.30  p
365.10
 36.63  p
365.20
 35.43
 35.50
371.10
 33.20  p
371.20
 33.20  p 371.30
 33.20  p
371.40
 33.20  p
371.50
 33.20  p
371.60
 33.20  p
371.70
 33.20  p
372.10
 33.10  p
372.20
 33.10  p
372.30
 33.10  p
372.40
 33.10  p
373.10
 33.40  p
373.20
 33.40  p
373.30
 30.01  p
 33.40  p
374.00
 33.50
411.10
 15.41  p
411.20
 15.41  p
 15.42  p
411.30
 15.41  p
411.40
 15.42  p
 15.62  p
411.50
 15.43
412.11
 15.11  p
412.12
 15.11  p
412.21
 15.11  p
412.22
 15.13  p
412.30
 15.12  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 8 Conversion Keys : NACE 70 to NACE Rev. 1

 15.13  p
412.40
 15.11  p
 15.41  p
412.50
 15.11  p
413.11
 15.51  p
413.12
 15.51  p
413.13
 15.51  p
413.14
 15.51  p
413.21
 15.51  p
413.22
 15.51  p
414.10
 15.31  p
 15.33  p
414.20
 15.20  p
 15.33  p
414.30
 15.33  p
414.40
 15.32
414.50
 15.33  p
414.61
 15.33  p
414.62
 15.31  p
 15.33  p
414.63
 15.33  p
414.64
 15.31  p
 15.33  p
414.65
 15.33  p
415.10
 15.20  p
415.20
 15.20  p
416.11
 15.61  p
416.12
 15.61  p 416.20
 15.61  p
417.00
 15.85
418.10
 15.62  p
418.20
 15.62  p
418.30
 15.62  p
418.40
 15.62  p
419.10
 15.81  p
419.20
 15.81  p
419.30
 15.82  p
419.40
 15.82  p
419.50
 15.82  p
420.10
 15.83  p
420.20
 15.83  p
420.31
 15.83  p
420.32
 15.83  p
420.40
 15.84  p
421.10
 15.84  p
421.20
 15.62  p
 15.84  p
421.30
 15.52
422.00
 15.20  p
 15.71
 15.72
423.10
 15.86  p
423.20
 15.86  p
423.30
 15.87  p 423.40
 40.30  p
423.50
 15.88
423.60
 15.89  p
423.70
 15.87  p
 15.89  p
423.80
 15.31  p
 15.61  p
 15.89  p
424.10
 15.92
424.20
 15.91  p
424.30
 15.91  p
425.10
 15.93  p
425.20
 15.93  p
425.30
 15.95
426.00
 15.94
427.10
 15.96
427.20
 15.97
428.10
 15.98  p
428.20
 15.98  p
429.00
 16.00
431.10
 15.11  p
431.21
 17.12  p
431.22
 17.13  p
431.31
 17.13  p
431.32
 17.12  p
431.33
 17.12  p 431.41
 17.13  p
431.42
 17.13  p
431.51
 17.23  p
431.52
 17.22  p
431.61
 17.23  p
431.62
 17.40  p
431.63
 17.22  p
432.31
 17.11  p
432.32
 17.11  p
432.41
 17.11  p
432.42
 17.16  p
432.50
 17.21  p
 17.54  p
432.61
 17.11  p
432.62
 17.21  p
433.20
 17.15  p
433.31
 17.15  p
433.32
 17.15  p
433.41
 17.15  p
433.42
 17.16  p
433.50
 17.24
434.10
 17.14  p
434.31
 17.14  p
434.32
 17.14  p
434.40   17.14  p
434.50
 17.25  p
434.60
 17.25  p
435.30
 17.17  p
435.50
 17.25  p
435.60
 17.25  p
436.10
 17.71
436.21
 17.60
436.22
 18.24  p
436.23
 17.40  p
 17.72
 18.21  p
 18.22  p
 18.23  p
 18.24  p
437.10
 17.30  p
437.20
 17.30  p
437.30
 17.30  p
437.40
 17.30  p
438.11
 17.51  p
438.12
 17.51  p
438.20
 36.63  p
438.30
 17.54  p
439.11
 17.54  p
439.12
 17.54  p
439.20
 17.53
439.30
 17.54  p
439.40
 17.54  p 439.50
 17.54  p
439.61
 17.52  p
439.62
 17.52  p
439.71
 17.52  p
439.72
 17.17  p
439.73
 17.52  p
439.74
 17.54  p
439.75
 17.25  p
 17.54  p
441.10
 19.10  p
441.20
 19. 10 p
441.30
 19.10  p
442.10
 18.24  p
 19.20  p
442.20
 18.24  p
 36.40  p
442.30
 19.20  p
451.10
 19.30  p
451.20
 19.30  p
451.30
 19.30  p
451.40
 19.30  p
452.00
 19.30  p
 33.10  p
453.10
 18.2*
453.20
 18.22  p
453.30
 18.22  p
453.41  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 Conversion Keys : NACE 70 to NACE Rev. 1   9

 18.21  p
453.42
 18.22  p
 25.24  p
453.43
 18.10
453.44
 18.22  p
453.51
 18.23  p
453.52
 18.23  p
453.53
 18.23  p
453.61
 18.24  p
453.62
 18.24  p
453.70
 18.24  p
 36.63  p
453.80
 18.2*
454.11
 18.22  p
454.12
 18.22  p
454.13
 18.23  p
454.20
 18.24  p
455.10
 17.40  p
455.20
 17.40  p
455. 30
 17.40  p
455.40
 17.40  p
456.10
 18.30  p
456.20
 01.25  p
456.31
 18.30  p
456.32
 18.30  p
456.33
 18.30  p 461.10
 20.10  p
461.20
 20.10  p
461.30
 20.10  p
462.11
 20.20  p
462.12
 20.20  p
462.21
 20.20  p
462.22
 20.20  p
462.30
 20.20  p
462.40
 20.10  p
463. 10
 20.30  p
463.20
 20.30  p
463.30
 20.10  p
 20.30  p
464.10
 20.40  p
464.20
 20.40  p
465.10
 20.30  p
 20.51  p
 36.63  p
465.20
 20.10  p
465.30
 20.10  p
465.40
 19.30  p
466.10
 20.52  p
466.20
 20.52  p
466.30
 36.62
467.10
 36.13
 36.14  p
467.20   36.12  p
467. 30
 36.11  p
467.40
 36.11  p
467.50
 36.12  p
 36.14  p
467.60
 20.51  p
467.70
 36.11  p
 36.14  p
467.80
 36.15
467.90
 36.14  p
471.10
 21.11
471.20
 21.12  p
471.31
 21.12  p
471.32
 21.12  p
471.33
 21.12  p
471.34
 21.12  p
472.11
 21.24  p
472.12
 21.24  p
472.20
 21.22  p
472.30
 21.23  p
472.41
 21.21  p
472.42
 21.21  p
472.43
 21.21  p
472.44
 21.21  p
 21.22  p
 21.25
472.50
 21.12  p 472.60
 21.12  p
472.70
 21.12  p
472.80
 21.25
473.10
 22.21
 22.22  p
473.21
 22.22  p
473.22
 22.22  p
473.23
 22.22  p
473.30
 22.23
473 .40
 22.24  p
 22.25
474.10
 22.11  p
474.20
 22.15  p
474.30
 22.11  p
474.40
 22.12
 22.13
474.50
 22.15  p
481.10
 25.11
481.21
 25.13  p
481.22
 25.13  p
481.23
 25.13  p
481.24
 19.30  p
481.25
 25.13  p
481.26
 25.13  p
481.27
 36.40  p
 36.50  p
481.28   37.20  p
482.00
 25.12
 50.20  p
483.00
 19.30  p
 25.21
 25.22
 25.23
 25.24  p
 33.10  p
 36.11  p
 36.14  p
 36.63  p
491.10
 36.22  p
491.20
 36.22  p
491.30
 36.61
491.40
 36.22  p
491.50
 36.22  p
491.60
 36.21
492.10
 36.30  p
492.20
 36.30  p
493.10
 92.11  p
493.20
 74. 81 p
494.10
 36.50  p
494.20
 36.40  p
495.10
 36.63  p
495.20
 36.63  p
495.30
 36.63  p
500.10
 45.21  p
500.20
 45.11  p
501.10
 45.21  p
501.20
 45.22  p 501.30
 45.25  p
501.40
 45.22  p
501.50
 45.25  p
501.60
 45.25  p
501.70
 45.11  p
 45.22  p
 45.25  p
502.10
 45.21  p
502.20
 45.11  p
502.30
 45.21  p
 45.25  p
502.40
 45.24  p
502.50
 45.23  p
502.60
 45.11  p
 45.24  p
 45.25  p
502.70
 45.11  p
 45.12
 45.21  p
 45.23  p
 45.25  p
 45.50
503.10
 45.34
503.20
 45.33  p
503.30
 45.33  p
503.40
 45.32
503.50
 45.31  p
503.60
 45.31  p
504.10
 45.45  p
504.20
 45.41
504.30
 45.42  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 10 Conversion Keys : NACE 70 to NACE Rev. 1

 45.43  p
504.40
 45.43  p
 45.44
504.50
 45.43  p
504.60
 45.25  p
 45.45  p
611.10
 51.21  p
 51.55  p
611.20
 51.21  p
611.30
 51.55  p
611.40
 51.22
611.50
 51.23
611.60
 51.21  p
 51.56  p
611.70
 51.24  p
611.80
 51.24  p
611.90
 51.25
612.10
 51.51  p
612.20
 51.51  p
612.30
 51.51  p
612.40
 51.52  p
612.50
 51.52  p
612.60
 51.52  p
612.70
 51.55  p
613.10
 51.53  p
613.20
 51.53  p
613.30
 51.53  p
 51.54  p 613.40
 51.53  p
614.10
 51.61
614.20
 51.62
614.30
 51.63
614.4 0
 51.64
614.50
 51.65
614.60
 51.66
614.70
 50.10  p
 50.30  p
 50.40  p
615.10
 51.47  p
615.20
 51.43  p
 51.44  p
 51.54  p
615.30
 51.43  p
 51.47  p
615.40
 51.44  p
615.50
 51.44  p
 51.53  p
615.60
 51.47  p
616.10
 51.41  p
616.20
 51.42  p
616.30
 51.42  p
616.4 0
 51.41  p
616.50
 51.41  p
 51.42  p
616.60
 51.42  p
616.70
 51.42  p
616.80   51.47  p
616.90
 51.41  p
 51.47  p
617.10
 51.39  p
617.20
 51.31
617.30
 51.32
617.40
 51.33
617.50
 51.34
617.60
 51.35
617.70
 51.36
617.80
 51.37
617.90
 51.38
 51.39  p
618.10
 51.46  p
618.20
 51.46  p
618.30
 51.45
618.40
 51.44  p
619.10
 51.47  p
 51.56  p
619.20
 51.47  p
619.30
 51.47  p
619.40
 51.47  p
619.50
 51.47  p
619.60
 51.70  p
619.70
 51.70  p

621.00
 37.10
 51.57  p 622.00
 37.20  p
 51.57  p
631.00
 51.11
632.00
 51.12
633.00
 51.13
634.00
 50.10  p
 50.30  p
 50.40  p
 51.14
635.00
 51.15
636.00
 51.16
637.00
 51.17
638.00
 51.18
639.00
 51.19
641.10
 52.11
641.20
 52.21
 52.62  p
 52.63  p
641.30
 52.27  p
 52.62  p
 52.63  p
641.40
 52.22  p
 52.62  p
641.50
 52.23
 52.62  p
 52.63  p
641.60
 52.22  p
 52.62  p
641.70
 52.24  p
 52.62  p
641.80
 52.24  p
 52.62  p
641.90
 52.24  p
 52.62  p 642.10
 52.25
642.20
 52.26
642.30
 52.27  p
 52.63  p
643.00
 52.31
644.10
 52.32
644.20
 52.33
644.30
 52.46  p
 52.48  p
645.10
 52.41  p
 52.43  p
 52.62  p
645.20
 52.42  p
 52.62  p
645.30
 52.42  p
 52.62  p
645.40
 52.42  p
 52.62  p
645.50
 52.42  p
 52.62  p
645.60
 52.41  p
 52.62  p
645.70
 52.42  p
 52.62  p
645.80
 52.41  p
 52.62  p
645.90
 52.42  p
646.10
 52.43  p
 52.62  p
646.20
 52.43  p
 52.62  p
647.10
 52.41  p
 52.44  p
 52.48  p
 52.62  p 647.20
 52.41  p
 52.62  p
648.10
 52.44  p
 52.46  p
 52.62  p
648.20
 52.44  p
 52.62  p
648.30
 52.44  p
648.40
 52.45  p
648.50
 52.44  p
648.60
 52.46  p
648.70
 52.44  p
 52.62  p
648.80
 52.45  p
648.90
 52.44  p
 52.62  p
649.10
 52.48  p
 52.62  p
649.20
 52.46  p
649.30
 52.45  p
649.40
 52.45  p
 52.62  p
649.50
 52.48  p
 52.62  p
649.60
 52.48  p
 52.50  p
651.10
 50.10  p
 50.30  p
651.20
 50.40  p
 52.48  p
652.00
 50.50
653.10
 52.47  p
 52.50  p N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 Conversion Keys : NACE 70 to NACE Rev. 1   11

 52.62  p
653.20
 52.47  p
653.30
 52.48  p
653.40
 52.48  p
654.10
 52.48  p
654.20
 52.48  p
 52.62  p
654.30
 52.48  p
 52.62  p
654.40
 52.48  p
 52.62  p
654.50
 52.48  p
654.60
 52.48  p
 52.62  p
654.70
 52.48  p
 52.62  p
654.80
 52.48  p
 52.62  p
654.90
 52.48  p
655.10
 52.50  p
 52.62  p
655.20
 52.48  p
 52.62  p
656.00
 52.12
 52.61
661.00
 55.30  p
 55.52
662.00
 55.40  p
663.00
 55.40  p
664.00
 55.51
665.10
 55.11
665.20   55.12
665.30
 55.23  p
666.00
 55.23  p
 55.30  p
667.10
 55.21
667.20
 55.22
667.30
 55.23  p
667.40
 85.14  p
667.50
 55.23  p
667.60
 55.23  p
671.00
 50.20  p
 50.40  p
 52.74  p
672.00
 52.71
673.00
 52.72
674.00
 52.73
675.00
 52.74  p
710.00
 60.10
721.10
 60.21  p
721.20
 60.21  p
722.00
 60.22
 60.23
723.10
 60.24  p
723.20
 60.24  p
724.00
 60.30
725.00
 60.21  p
 60.24  p
 64.12
730.00   61.20
741.00
 61.1 0 p
742.00
 61.10  p
750.00
 62.10
 62.20
 62.30
761.00
 63.11  p
 63.21
762.00
 63.11  p
 63.22  p
763.00
 63.11  p
 63.22  p
764.00
 63.11  p
 63.23
771.00
 63.30  p
772.00
 63.40
773.00
 63.12
790.00
 64.11
 64.20
811.00
 65.11
812.00
 65.12
813.10
 65.21
 65.2 2
813.20
 65.23
821.00
 66.01  p
 66.03  p
822.00
 66.01  p
 66.02
823.00
 66.03  p
831.00
 67.11
 67.12
 67.13
832.00
 67.20  833.00
 70.11
 70.12
834.00
 70.31
 70.32
835.00
 74.11
836.00
 74.12
837.00
 74.20  p
 74.30
838.00
 74.40
839.10
 74.13
 74.14
839.20
 72.10
 72.20  p
 72.30
 72.40
 72.60
 74.83  p
839.30
 74.50
 74.60
 74.82
 74.83  p
 74.84
 92.40
841.00
 71.31
842.00
 71.32
843.00
 71.33
844.00
 71.10
845.00
 71.21
 71.22
 71.23
846.10
 71.40  p
846.20
 71.40  p
847.00
 71.34
850.00
 70.20
911.00
 75.11   75.12
 75.13
 75.14
 75.21
912.00
 75.23
913.00
 75.24
914.00
 75.25
915.00
 75.22
919.00
 75.30
921.00
 74.70  p
 90.00
922.00
 93.03
923.00
 74.70  p
931.00
 80.30
932.00
 80.10  p
 80.21
933.00
 80.22
 80.42  p
934.00
 80.10  p
 85.32  p
935.00
 80.42  p
936. 00
 80.41
940.00
 73.10
 73.20
951.00
 85.11
952.00
 85.14  p
953.00
 85.12
954.00
 85.13
955.00
 85.14  p
956.00
 85.20  961.00
 85.32  p
962.00
 85.31
963.00
 91.11  p
 91.12
964.00
 91.11  p
965.00
 91.20
966.00
 91.31
967.00
 63.30  p
 91.33  p
968.00
 91.32
 91.33  p
971.00
 92.11  p
972.00
 92.12
973.00
 92.13
974.00
 92.20
975.00
 92.31  p
 92.32  p
976.00
 92.31  p
977.00
 92.51
 92.52
 92.53
978.00
 92.61
 92.62
979.00
 92.33
 92.34
 92.71
 92.72
981.00
 93.01
982.00
 93.02
 93.04
983.00
 74.81  p
984.00  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1  N70 - Rev. 1
 12 Conversion Keys : NACE 70 to NACE Rev. 1

 93.03
 93.05
990.00
 95.00

In [60]:
import pandas as pd
Dic = {}
# from selenium import webdriver
gc= pd.DataFrame(data=Dic,index=[0],columns=['No1','Code'])

In [24]:
import re
a_new_ven=re.compile(r'\d{3}[.]\d{2}')
z_new_ven=re.compile(r'\d{3}[.] \d{2}')
c_new_ven=re.compile(r'\s\d{2}')
d_new_ven=re.compile(r'[0-9][a-z] ')
b_new_ven=re.compile(r'1 Hazardous')
e_new_ven=re.compile(r'0 Non-hazardous')

In [188]:
pattern=re.compile(r'[A-Za-z][A-Za-z]\w*')
pattern1=re.compile(r'[A-Z][0-9]\w*')
pattern2=re.compile(r'\d{3}-\d{3}')
pattern3=re.compile(r'\d{3}')

In [61]:
for line in st.split('\n'):
    if a_new_ven.match(line) or z_new_ven.match(line):
        x=line.split(" ")[0]
        
        try:
            if len(line.split(" ")[3])> 3:
                y=len(line.split(" ")[3])
                Dic={'No1':x,'Code':code}
                gc = gc.append(Dic, ignore_index=True)
                
        except:
            pass
            
    if c_new_ven.match(line):
        y=(line.split(" ")[1])
        Dic={'No1':x,'Code':y}
        gc = gc.append(Dic, ignore_index=True)
        try:
            if len(line.split(" ")[4])== 6:
                x=(line.split(" ")[4])
                
        except:
            pass
    print(gc)

   No1 Code
0  NaN  NaN
   No1 Code
0  NaN  NaN
   No1 Code
0  NaN  NaN
   No1 Code
0  NaN  NaN
      No1   Code
0     NaN    NaN
1  000.00  99.00
      No1   Code
0     NaN    NaN
1  000.00  99.00
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
4  000.00  01.13
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
4  000.00  01.13
5  000.00  01.21
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
4  000.00  01.13
5  000.00  01.21
6  000.00  01.22
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
4  000.00  01.13
5  000.00  01.21
6  000.00  01.22
7  000.00  01.23
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
4  000.00  01.13
5  000.00  01.21
6  000.00  01.22
7  000.00  01.23
8  000.00  01.24
      No1   Code
0     NaN    NaN
1  000.00  99.00
2  000.00  01.11
3  000.00  01.12
4  000.00  01.13
5  000.00  01.21
6  000.00  01.22
7  000.00  01.23
8  000.00  01.24
9  000.00  01.25
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10

30  132.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10

       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00

       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
56  221.20  27.10
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
56  221.20  27.10
57  221.20  27.35
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
56  221.20  27.10
57  221.20  27.35
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
56  221.20  27.10
57  221.20  27.35
58  222.00  27.22
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
56  221.20  27.10
57  221.20  27.35
58  222.00  27.22
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
5   000.00  01.21
6   000.00  01.22
7   000.00  01.23
8   000.00  01.24
9   000.00  01.25
10  000.00  01.30
11  000.00  01.41
12  000.00  01.42
13  000.00  01.50
14  000.00  02.01
15  000.00  02.02
16  000.00  24.14
17  000.00  05.01
18  000.00  05.02
19  111.10  10.10
20  111.20  10.10
21  112.10  10.20
22  112.20  10.20
23  112.30  10.20
24  120.10  23.10
25  120.20  23.10
26  120.30  23.10
27  131.00  11.10
28  131.00  11.20
29  132.00  11.10
30  132.00  11.20
31  133.00  11.10
32  133.00  11.20
33  134.00  11.20
34  134.00  74.20
35  140.11  23.20
36  140.12  23.20
37  140.20  23.20
38  151.00  12.00
39  152.00  23.30
40  161.10  40.10
41  161.20  40.10
42  161.30  40.10
43  161.40  40.10
44  161.50  40.10
45  161.60  40.10
46  161.70  40.10
47  162.10  40.20
48  162.20  40.20
49  163.00  40.30
50  170.00  41.00
51  211.10  13.10
52  211.20  13.10
53  212.10  13.20
54  212.20  13.20
55  221.10  27.10
56  221.20  27.10
57  221.20  27.35
58  222.00  27.22
59  223.10  27.31
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
56  221.20   27.10
57  221.20   27.35
58  222.00   27.22
59  223.10   27.31
60  223.20  000.00

[61 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
56  221.20   27.10
57  221.20   27.35
58  222.00   27.22
59  223.10   27.31
60  223.20  000.00

[61 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
57  221.20   27.35
58  222.00   27.22
59  223.10   27.31
60  223.20  000.00
61  223.30   27.33

[62 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
57  221.20   27.35
58  222.00   27.22
59  223.10   27.31
60  223.20  000.00
61  223.30   27.33

[62 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
58  222.00   27.22
59  223.10   27.31
60  223.20  000.00
61  223.30   27.33
62  223.41   27.34

[63 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
58  222.00   27.22
59  223.10   27.31
60  223.20  000.00
61  223.30   27.33
62  223.41   27.34

[63 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
59  223.10   27.31
60  223.20  000.00
61  223.30   27.33
62  223.41   27.34
63  223.42   28.73

[64 rows x 2 columns]

       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
60  223.20  000.00
61  223.30   27.33
62  223.41   27.34
63  223.42   28.73
64  223.42   28.74

[65 rows x 2 columns]
       No1    Code
0      NaN     NaN
1   000.00   99.00
2   000.00   01.11
3   000.00   01.12
4   000.00   01.13
..     ...     ...
60  223.20  000.00
61  223.30   27.33
62  223.41   27.34
63  223.42   28.73
64  223.42   28.74

[65 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
61  223.30  27.33
62  223.41  27.34
63  223.42  28.73
64  223.42  28.74
65  224.10  27.41

[66 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
62  223.41  27.34
63  223.42  28.73
64  223.42  28.74
65  224.10  27.41
66  224.10  27.42

[67 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
63  223.42  28.73
64  223.42  28.74
65  224.10  27.41
66  224.10  27.42
67  224.10  27.43

[68 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
64  223.42  28.74
65  224.10  27.41
66  224.10  27.42
67  224.10  27.43
68  224.10  27.44

[69 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
65  224.10  27.41
66  224.10  27.42
67  224.10  27.43
68  224.10  27.44
69  224.10  27.45

[70 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
65  224.10  27.41
66  224.10  27.42
67  224.10  27.43
68  224.10  27.44
69  224.10  27.45

[70 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
66  224.10  27.42
67  224.10  27.43
68  224.10  27.44
69  224.10  27.45
70  224.20  27.41

[71 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
67  224.10  27.43
68  224.10  27.44
69  224.10  27.45
70  224.20  27.41
71  224.20  27.42

[72 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
68  224.10  27.44
69  224.10  27.45
70  224.20  27.41
71  224.20  27.42
72  224.20  27.43

[73 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
69  224.10  27.45
70  224.20  27.41
71  224.20  27.42
72  224.20  27.43
73  224.20  27.44

[74 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
70  224.20  27.41
71  224.20  27.42
72  224.20  27.43
73  224.20  27.44
74  224.20  27.45

[75 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
70  224.20  27.41
71  224.20  27.42
72  224.20  27.43
73  224.20  27.44
74  224.20  27.45

[75 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
71  224.20  27.42
72  224.20  27.43
73  224.20  27.44
74  224.20  27.45
75  224.30  27.41

[76 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
72  224.20  27.43
73  224.20  27.44
74  224.20  27.45
75  224.30  27.41
76  224.30  27.42

[77 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
73  224.20  27.44
74  224.20  27.45
75  224.30  27.41
76  224.30  27.42
77  224.30  27.43

[78 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
74  224.20  27.45
75  224.30  27.41
76  224.30  27.42
77  224.30  27.43
78  224.30  27.44

[79 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
75  224.30  27.41
76  224.30  27.42
77  224.30  27.43
78  224.30  27.44
79  224.30  27.45

[80 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
75  224.30  27.41
76  224.30  27.42
77  224.30  27.43
78  224.30  27.44
79  224.30  27.45

[80 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
76  224.30  27.42
77  224.30  27.43
78  224.30  27.44
79  224.30  27.45
80  224.40  27.35

[81 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
76  224.30  27.42
77  224.30  27.43
78  224.30  27.44
79  224.30  27.45
80  224.40  27.35

[81 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
77  224.30  27.43
78  224.30  27.44
79  224.30  27.45
80  224.40  27.35
81  231.10  14.13

[82 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
77  224.30  27.43
78  224.30  27.44
79  224.30  27.45
80  224.40  27.35
81  231.10  14.13

[82 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
78  224.30  27.44
79  224.30  27.45
80  224.40  27.35
81  231.10  14.13
82  231.20  14.11

[83 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
78  224.30  27.44
79  224.30  27.45
80  224.40  27.35
81  231.10  14.13
82  231.20  14.11

[83 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
79  224.30  27.45
80  224.40  27.35
81  231.10  14.13
82  231.20  14.11
83  231.30  14.12

[84 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
79  224.30  27.45
80  224.40  27.35
81  231.10  14.13
82  231.20  14.11
83  231.30  14.12

[84 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
80  224.40  27.35
81  231.10  14.13
82  231.20  14.11
83  231.30  14.12
84  231.40  14.21

[85 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
80  224.40  27.35
81  231.10  14.13
82  231.20  14.11
83  231.30  14.12
84  231.40  14.21

[85 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
81  231.10  14.13
82  231.20  14.11
83  231.30  14.12
84  231.40  14.21
85  231.50  14.12

[86 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
82  231.20  14.11
83  231.30  14.12
84  231.40  14.21
85  231.50  14.12
86  231.50  14.30

[87 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
82  231.20  14.11
83  231.30  14.12
84  231.40  14.21
85  231.50  14.12
86  231.50  14.30

[87 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
83  231.30  14.12
84  231.40  14.21
85  231.50  14.12
86  231.50  14.30
87  231.60  14.12

[88 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
83  231.30  14.12
84  231.40  14.21
85  231.50  14.12
86  231.50  14.30
87  231.60  14.12

[88 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
84  231.40  14.21
85  231.50  14.12
86  231.50  14.30
87  231.60  14.12
88  231.70  14.22

[89 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
84  231.40  14.21
85  231.50  14.12
86  231.50  14.30
87  231.60  14.12
88  231.70  14.22

[89 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
85  231.50  14.12
86  231.50  14.30
87  231.60  14.12
88  231.70  14.22
89  232.10  14.30

[90 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
85  231.50  14.12
86  231.50  14.30
87  231.60  14.12
88  231.70  14.22
89  232.10  14.30

[90 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
86  231.50  14.30
87  231.60  14.12
88  231.70  14.22
89  232.10  14.30
90  232.20  14.30

[91 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
86  231.50  14.30
87  231.60  14.12
88  231.70  14.22
89  232.10  14.30
90  232.20  14.30

[91 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
87  231.60  14.12
88  231.70  14.22
89  232.10  14.30
90  232.20  14.30
91  233.10  14.40

[92 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
87  231.60  14.12
88  231.70  14.22
89  232.10  14.30
90  232.20  14.30
91  233.10  14.40

[92 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
88  231.70  14.22
89  232.10  14.30
90  232.20  14.30
91  233.10  14.40
92  233.21  14.40

[93 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
88  231.70  14.22
89  232.10  14.30
90  232.20  14.30
91  233.10  14.40
92  233.21  14.40

[93 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
89  232.10  14.30
90  232.20  14.30
91  233.10  14.40
92  233.21  14.40
93  233.22  14.40

[94 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
90  232.20  14.30
91  233.10  14.40
92  233.21  14.40
93  233.22  14.40
94  239.10  14.30

[95 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
90  232.20  14.30
91  233.10  14.40
92  233.21  14.40
93  233.22  14.40
94  239.10  14.30

[95 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
91  233.10  14.40
92  233.21  14.40
93  233.22  14.40
94  239.10  14.30
95  239.20  14.50

[96 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
91  233.10  14.40
92  233.21  14.40
93  233.22  14.40
94  239.10  14.30
95  239.20  14.50

[96 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
92  233.21  14.40
93  233.22  14.40
94  239.10  14.30
95  239.20  14.50
96  239.30  14.12

[97 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
93  233.22  14.40
94  239.10  14.30
95  239.20  14.50
96  239.30  14.12
97  239.30  14.50

[98 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
93  233.22  14.40
94  239.10  14.30
95  239.20  14.50
96  239.30  14.12
97  239.30  14.50

[98 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
94  239.10  14.30
95  239.20  14.50
96  239.30  14.12
97  239.30  14.50
98  239.41  14.50

[99 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
94  239.10  14.30
95  239.20  14.50
96  239.30  14.12
97  239.30  14.50
98  239.41  14.50

[99 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
95  239.20  14.50
96  239.30  14.12
97  239.30  14.50
98  239.41  14.50
99  239.42  14.50

[100 rows x 2 columns]
       No1   Code
0      NaN    NaN
1   000.00  99.00
2   000.00  01.11
3   000.00  01.12
4   000.00  01.13
..     ...    ...
95  239.20  14.50
96  239.30  14.12
97  239.30  14.50
98  239.41  14.50
99  239.42  14.50

[100 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
96   239.30  14.12
97   239.30  14.50
98   239.41  14.50
99   239.42  14.50
100  239.43  14.50

[101 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
96   239.30  14.12
97   239.30  14.50
98   239.41  14.50
99   239.42  14.50
100  239.43  14.50

[101 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
97   239.30  14.50
98   239.41  14.50
99   239.42  14.50
100  239.43  14.50
101  239.44  14.50

[102 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
97   239.30  14.50
98   239.41  14.50
99   239.42  14.50
100  239.43  14.50
101  239.44  14.50

[102 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
98   239.41  14.50
99   239.42  14.50
100  239.43  14.50
101  239.44  14.50
102  239.45  14.30

[103 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
98   239.41  14.50
99   239.42  14.50
100  239.43  14.50
101  239.44  14.50
102  239.45  14.30

[103 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
99   239.42  14.50
100  239.43  14.50
101  239.44  14.50
102  239.45  14.30
103  239.46  14.30

[104 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
99   239.42  14.50
100  239.43  14.50
101  239.44  14.50
102  239.45  14.30
103  239.46  14.30

[104 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
100  239.43  14.50
101  239.44  14.50
102  239.45  14.30
103  239.46  14.30
104  239.47    14.

[105 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
100  239.43  14.50
101  239.44  14.50
102  239.45  14.30
103  239.46  14.30
104  239.47    14.

[105 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
101  239.44  14.50
102  239.45  14.30
103  239.46  14.30
104  239.47    14.
105  239.50  10.30

[106 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
102  239.45  14.30
103  239.46  14.30
104  239.47    14.
105  239.50  10.30
106  239.50  26.82

[107 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
102  239.45  14.30
103  239.46  14.30
104  239.47    14.
105  239.50  10.30
106  239.50  26.82

[107 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
103  239.46  14.30
104  239.47    14.
105  239.50  10.30
106  239.50  26.82
107  241.00  26.40

[108 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
103  239.46  14.30
104  239.47    14.
105  239.50  10.30
106  239.50  26.82
107  241.00  26.40

[108 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
104  239.47    14.
105  239.50  10.30
106  239.50  26.82
107  241.00  26.40
108  242.10  26.51

[109 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
104  239.47    14.
105  239.50  10.30
106  239.50  26.82
107  241.00  26.40
108  242.10  26.51

[109 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
105  239.50  10.30
106  239.50  26.82
107  241.00  26.40
108  242.10  26.51
109  242.20  26.52

[110 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
105  239.50  10.30
106  239.50  26.82
107  241.00  26.40
108  242.10  26.51
109  242.20  26.52

[110 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
106  239.50  26.82
107  241.00  26.40
108  242.10  26.51
109  242.20  26.52
110  242.30  26.53

[111 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
106  239.50  26.82
107  241.00  26.40
108  242.10  26.51
109  242.20  26.52
110  242.30  26.53

[111 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
107  241.00  26.40
108  242.10  26.51
109  242.20  26.52
110  242.30  26.53
111  243.10  26.65

[112 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
107  241.00  26.40
108  242.10  26.51
109  242.20  26.52
110  242.30  26.53
111  243.10  26.65

[112 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
108  242.10  26.51
109  242.20  26.52
110  242.30  26.53
111  243.10  26.65
112  243.20  26.61

[113 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
109  242.20  26.52
110  242.30  26.53
111  243.10  26.65
112  243.20  26.61
113  243.20  26.65

[114 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
109  242.20  26.52
110  242.30  26.53
111  243.10  26.65
112  243.20  26.61
113  243.20  26.65

[114 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
110  242.30  26.53
111  243.10  26.65
112  243.20  26.61
113  243.20  26.65
114  243.30  26.62

[115 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
111  243.10  26.65
112  243.20  26.61
113  243.20  26.65
114  243.30  26.62
115  243.30  26.66

[116 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
111  243.10  26.65
112  243.20  26.61
113  243.20  26.65
114  243.30  26.62
115  243.30  26.66

[116 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
112  243.20  26.61
113  243.20  26.65
114  243.30  26.62
115  243.30  26.66
116  243.40  26.61

[117 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
112  243.20  26.61
113  243.20  26.65
114  243.30  26.62
115  243.30  26.66
116  243.40  26.61

[117 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
113  243.20  26.65
114  243.30  26.62
115  243.30  26.66
116  243.40  26.61
117  243.50  26.61

[118 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
113  243.20  26.65
114  243.30  26.62
115  243.30  26.66
116  243.40  26.61
117  243.50  26.61

[118 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
114  243.30  26.62
115  243.30  26.66
116  243.40  26.61
117  243.50  26.61
118  243.60  26.63

[119 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
115  243.30  26.66
116  243.40  26.61
117  243.50  26.61
118  243.60  26.63
119  243.60  26.64

[120 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
115  243.30  26.66
116  243.40  26.61
117  243.50  26.61
118  243.60  26.63
119  243.60  26.64

[120 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
116  243.40  26.61
117  243.50  26.61
118  243.60  26.63
119  243.60  26.64
120  244.00  26.82

[121 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
117  243.50  26.61
118  243.60  26.63
119  243.60  26.64
120  244.00  26.82
121  245.10  26.70

[122 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
117  243.50  26.61
118  243.60  26.63
119  243.60  26.64
120  244.00  26.82
121  245.10  26.70

[122 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
118  243.60  26.63
119  243.60  26.64
120  244.00  26.82
121  245.10  26.70
122  245.20  26.70

[123 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
118  243.60  26.63
119  243.60  26.64
120  244.00  26.82
121  245.10  26.70
122  245.20  26.70

[123 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
119  243.60  26.64
120  244.00  26.82
121  245.10  26.70
122  245.20  26.70
123  245.30  26.70

[124 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
120  244.00  26.82
121  245.10  26.70
122  245.20  26.70
123  245.30  26.70
124  245.30  26.81

[125 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
120  244.00  26.82
121  245.10  26.70
122  245.20  26.70
123  245.30  26.70
124  245.30  26.81

[125 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
121  245.10  26.70
122  245.20  26.70
123  245.30  26.70
124  245.30  26.81
125  245.40  26.70

[126 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
121  245.10  26.70
122  245.20  26.70
123  245.30  26.70
124  245.30  26.81
125  245.40  26.70

[126 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
122  245.20  26.70
123  245.30  26.70
124  245.30  26.81
125  245.40  26.70
126  245.50  26.82

[127 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
122  245.20  26.70
123  245.30  26.70
124  245.30  26.81
125  245.40  26.70
126  245.50  26.82

[127 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
123  245.30  26.70
124  245.30  26.81
125  245.40  26.70
126  245.50  26.82
127  246.10  26.81

[128 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
123  245.30  26.70
124  245.30  26.81
125  245.40  26.70
126  245.50  26.82
127  246.10  26.81

[128 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
124  245.30  26.81
125  245.40  26.70
126  245.50  26.82
127  246.10  26.81
128  246.20  26.81

[129 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
124  245.30  26.81
125  245.40  26.70
126  245.50  26.82
127  246.10  26.81
128  246.20  26.81

[129 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
125  245.40  26.70
126  245.50  26.82
127  246.10  26.81
128  246.20  26.81
129  246.30  26.81

[130 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
125  245.40  26.70
126  245.50  26.82
127  246.10  26.81
128  246.20  26.81
129  246.30  26.81

[130 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
126  245.50  26.82
127  246.10  26.81
128  246.20  26.81
129  246.30  26.81
130  247.10  26.11

[131 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
126  245.50  26.82
127  246.10  26.81
128  246.20  26.81
129  246.30  26.81
130  247.10  26.11

[131 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
127  246.10  26.81
128  246.20  26.81
129  246.30  26.81
130  247.10  26.11
131  247.20  26.13

[132 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
127  246.10  26.81
128  246.20  26.81
129  246.30  26.81
130  247.10  26.11
131  247.20  26.13

[132 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
128  246.20  26.81
129  246.30  26.81
130  247.10  26.11
131  247.20  26.13
132  247.30  26.13

[133 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
128  246.20  26.81
129  246.30  26.81
130  247.10  26.11
131  247.20  26.13
132  247.30  26.13

[133 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
129  246.30  26.81
130  247.10  26.11
131  247.20  26.13
132  247.30  26.13
133  247.40  26.15

[134 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
129  246.30  26.81
130  247.10  26.11
131  247.20  26.13
132  247.30  26.13
133  247.40  26.15

[134 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
130  247.10  26.11
131  247.20  26.13
132  247.30  26.13
133  247.40  26.15
134  247.50  26.14

[135 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
130  247.10  26.11
131  247.20  26.13
132  247.30  26.13
133  247.40  26.15
134  247.50  26.14

[135 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
131  247.20  26.13
132  247.30  26.13
133  247.40  26.15
134  247.50  26.14
135  247.60  26.12

[136 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
131  247.20  26.13
132  247.30  26.13
133  247.40  26.15
134  247.50  26.14
135  247.60  26.12

[136 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
132  247.30  26.13
133  247.40  26.15
134  247.50  26.14
135  247.60  26.12
136  247.70  26.15

[137 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
133  247.40  26.15
134  247.50  26.14
135  247.60  26.12
136  247.70  26.15
137  247.70  33.20

[138 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
133  247.40  26.15
134  247.50  26.14
135  247.60  26.12
136  247.70  26.15
137  247.70  33.20

[138 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
134  247.50  26.14
135  247.60  26.12
136  247.70  26.15
137  247.70  33.20
138  248.10  26.26

[139 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
134  247.50  26.14
135  247.60  26.12
136  247.70  26.15
137  247.70  33.20
138  248.10  26.26

[139 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
135  247.60  26.12
136  247.70  26.15
137  247.70  33.20
138  248.10  26.26
139  248.20  26.21

[140 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
135  247.60  26.12
136  247.70  26.15
137  247.70  33.20
138  248.10  26.26
139  248.20  26.21

[140 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
136  247.70  26.15
137  247.70  33.20
138  248.10  26.26
139  248.20  26.21
140  248.30  26.30

[141 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
136  247.70  26.15
137  247.70  33.20
138  248.10  26.26
139  248.20  26.21
140  248.30  26.30

[141 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
137  247.70  33.20
138  248.10  26.26
139  248.20  26.21
140  248.30  26.30
141  248.40  26.40

[142 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
137  247.70  33.20
138  248.10  26.26
139  248.20  26.21
140  248.30  26.30
141  248.40  26.40

[142 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
138  248.10  26.26
139  248.20  26.21
140  248.30  26.30
141  248.40  26.40
142  248.50  26.22

[143 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
138  248.10  26.26
139  248.20  26.21
140  248.30  26.30
141  248.40  26.40
142  248.50  26.22

[143 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
139  248.20  26.21
140  248.30  26.30
141  248.40  26.40
142  248.50  26.22
143  248.60  26.21

[144 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
140  248.30  26.30
141  248.40  26.40
142  248.50  26.22
143  248.60  26.21
144  248.60  31.50

[145 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
140  248.30  26.30
141  248.40  26.40
142  248.50  26.22
143  248.60  26.21
144  248.60  31.50

[145 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
141  248.40  26.40
142  248.50  26.22
143  248.60  26.21
144  248.60  31.50
145  248.70  26.21

[146 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
142  248.50  26.22
143  248.60  26.21
144  248.60  31.50
145  248.70  26.21
146  248.70  31.50

[147 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
143  248.60   26.21
144  248.60   31.50
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00

[148 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
143  248.60   26.21
144  248.60   31.50
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00

[148 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
144  248.60   31.50
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00
148  248.90   26.24

[149 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00
148  248.90   26.24
149  248.90   26.25

[150 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00
148  248.90   26.24
149  248.90   26.25

[150 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00
148  248.90   26.24
149  248.90   26.25

[150 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
145  248.70   26.21
146  248.70   31.50
147  248.80  000.00
148  248.90   26.24
149  248.90   26.25

[150 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
146  248.70   31.50
147  248.80  000.00
148  248.90   26.24
149  248.90   26.25
150  252.00   24.14

[151 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
147  248.80  000.00
148  248.90   26.24
149  248.90   26.25
150  252.00   24.14
151  252.00   24.16

[152 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
148  248.90  26.24
149  248.90  26.25
150  252.00  24.14
151  252.00  24.16
152  252.00  24.17

[153 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
149  248.90  26.25
150  252.00  24.14
151  252.00  24.16
152  252.00  24.17
153  252.00  24.41

[154 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
149  248.90  26.25
150  252.00  24.14
151  252.00  24.16
152  252.00  24.17
153  252.00  24.41

[154 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
150  252.00  24.14
151  252.00  24.16
152  252.00  24.17
153  252.00  24.41
154  253.00  24.12

[155 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
151  252.00  24.16
152  252.00  24.17
153  252.00  24.41
154  253.00  24.12
155  253.00  24.13

[156 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
152  252.00  24.17
153  252.00  24.41
154  253.00  24.12
155  253.00  24.13
156  253.00  24.14

[157 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
153  252.00  24.41
154  253.00  24.12
155  253.00  24.13
156  253.00  24.14
157  253.00  24.15

[158 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
154  253.00  24.12
155  253.00  24.13
156  253.00  24.14
157  253.00  24.15
158  253.00  24.41

[159 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
155  253.00  24.13
156  253.00  24.14
157  253.00  24.15
158  253.00  24.41
159  253.00  24.66

[160 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
155  253.00  24.13
156  253.00  24.14
157  253.00  24.15
158  253.00  24.41
159  253.00  24.66

[160 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
156  253.00  24.14
157  253.00  24.15
158  253.00  24.41
159  253.00  24.66
160  255.00  24.30

[161 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
156  253.00  24.14
157  253.00  24.15
158  253.00  24.41
159  253.00  24.66
160  255.00  24.30

[161 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
157  253.00  24.15
158  253.00  24.41
159  253.00  24.66
160  255.00  24.30
161  256.10  24.11

[162 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
157  253.00  24.15
158  253.00  24.41
159  253.00  24.66
160  255.00  24.30
161  256.10  24.11

[162 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
158  253.00  24.41
159  253.00  24.66
160  255.00  24.30
161  256.10  24.11
162  256.20  24.62

[163 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
158  253.00  24.41
159  253.00  24.66
160  255.00  24.30
161  256.10  24.11
162  256.20  24.62

[163 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
159  253.00  24.66
160  255.00  24.30
161  256.10  24.11
162  256.20  24.62
163  256.30  24.51

[164 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
160  255.00  24.30
161  256.10  24.11
162  256.20  24.62
163  256.30  24.51
164  256.30  24.66

[165 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
160  255.00  24.30
161  256.10  24.11
162  256.20  24.62
163  256.30  24.51
164  256.30  24.66

[165 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
161  256.10  24.11
162  256.20  24.62
163  256.30  24.51
164  256.30  24.66
165  256.40  24.63

[166 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
161  256.10  24.11
162  256.20  24.62
163  256.30  24.51
164  256.30  24.66
165  256.40  24.63

[166 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
162  256.20  24.62
163  256.30  24.51
164  256.30  24.66
165  256.40  24.63
166  256.50  24.61

[167 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
163  256.30  24.51
164  256.30  24.66
165  256.40  24.63
166  256.50  24.61
167  256.50  36.63

[168 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
163  256.30  24.51
164  256.30  24.66
165  256.40  24.63
166  256.50  24.61
167  256.50  36.63

[168 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
164  256.30  24.66
165  256.40  24.63
166  256.50  24.61
167  256.50  36.63
168  256.60  24.51

[169 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
165  256.40  24.63
166  256.50  24.61
167  256.50  36.63
168  256.60  24.51
169  256.60  24.66

[170 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
165  256.40  24.63
166  256.50  24.61
167  256.50  36.63
168  256.60  24.51
169  256.60  24.66

[170 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
166  256.50  24.61
167  256.50  36.63
168  256.60  24.51
169  256.60  24.66
170  256.70  24.20

[171 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
167  256.50  36.63
168  256.60  24.51
169  256.60  24.66
170  256.70  24.20
171  256.70  24.51

[172 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
168  256.60  24.51
169  256.60  24.66
170  256.70  24.20
171  256.70  24.51
172  256.70  24.66

[173 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
168  256.60  24.51
169  256.60  24.66
170  256.70  24.20
171  256.70  24.51
172  256.70  24.66

[173 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
169  256.60  24.66
170  256.70  24.20
171  256.70  24.51
172  256.70  24.66
173  256.80  24.15

[174 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
170  256.70  24.20
171  256.70  24.51
172  256.70  24.66
173  256.80  24.15
174  256.80  24.20

[175 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
170  256.70  24.20
171  256.70  24.51
172  256.70  24.66
173  256.80  24.15
174  256.80  24.20

[175 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
171  256.70  24.51
172  256.70  24.66
173  256.80  24.15
174  256.80  24.20
175  257.00  24.41

[176 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
172  256.70  24.66
173  256.80  24.15
174  256.80  24.20
175  257.00  24.41
176  257.00  24.42

[177 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
172  256.70  24.66
173  256.80  24.15
174  256.80  24.20
175  257.00  24.41
176  257.00  24.42

[177 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
173  256.80  24.15
174  256.80  24.20
175  257.00  24.41
176  257.00  24.42
177  258.10  24.51

[178 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
173  256.80  24.15
174  256.80  24.20
175  257.00  24.41
176  257.00  24.42
177  258.10  24.51

[178 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
174  256.80  24.20
175  257.00  24.41
176  257.00  24.42
177  258.10  24.51
178  258.20  24.51

[179 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
175  257.00  24.41
176  257.00  24.42
177  258.10  24.51
178  258.20  24.51
179  258.20  24.52

[180 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
175  257.00  24.41
176  257.00  24.42
177  258.10  24.51
178  258.20  24.51
179  258.20  24.52

[180 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
176  257.00  24.42
177  258.10  24.51
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64

[181 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
176  257.00  24.42
177  258.10  24.51
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64

[181 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
177  258.10  24.51
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51

[182 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66

[183 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66

[183 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66

[183 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
178  258.20  24.51
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66

[183 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66
183  259.31  36.63

[184 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
179  258.20  24.52
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66
183  259.31  36.63

[184 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
180  259.10  24.64
181  259.20  24.51
182  259.20  24.66
183  259.31  36.63
184  259.32  24.62

[185 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
181  259.20  24.51
182  259.20  24.66
183  259.31  36.63
184  259.32  24.62
185  259.32  24.66

[186 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
181  259.20  24.51
182  259.20  24.66
183  259.31  36.63
184  259.32  24.62
185  259.32  24.66

[186 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
182  259.20  24.66
183  259.31  36.63
184  259.32  24.62
185  259.32  24.66
186  259.33  21.23

[187 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
182  259.20  24.66
183  259.31  36.63
184  259.32  24.62
185  259.32  24.66
186  259.33  21.23

[187 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
183  259.31  36.63
184  259.32  24.62
185  259.32  24.66
186  259.33  21.23
187  259.40  24.51

[188 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
184  259.32  24.62
185  259.32  24.66
186  259.33  21.23
187  259.40  24.51
188  259.40  24.65

[189 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
185  259.32  24.66
186  259.33  21.23
187  259.40  24.51
188  259.40  24.65
189  259.40  24.66

[190 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
186  259.33  21.23
187  259.40  24.51
188  259.40  24.65
189  259.40  24.66
190  259.40  36.63

[191 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
186  259.33  21.23
187  259.40  24.51
188  259.40  24.65
189  259.40  24.66
190  259.40  36.63

[191 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
187  259.40  24.51
188  259.40  24.65
189  259.40  24.66
190  259.40  36.63
191  260.00  17.15

[192 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
188  259.40  24.65
189  259.40  24.66
190  259.40  36.63
191  260.00  17.15
192  260.00  24.70

[193 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
188  259.40  24.65
189  259.40  24.66
190  259.40  36.63
191  260.00  17.15
192  260.00  24.70

[193 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
189  259.40  24.66
190  259.40  36.63
191  260.00  17.15
192  260.00  24.70
193  311.10  27.21

[194 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
190  259.40  36.63
191  260.00  17.15
192  260.00  24.70
193  311.10  27.21
194  311.10  27.51

[195 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
191  260.00  17.15
192  260.00  24.70
193  311.10  27.21
194  311.10  27.51
195  311.10  27.52

[196 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
191  260.00  17.15
192  260.00  24.70
193  311.10  27.21
194  311.10  27.51
195  311.10  27.52

[196 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
192  260.00  24.70
193  311.10  27.21
194  311.10  27.51
195  311.10  27.52
196  311.20  27.53

[197 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
193  311.10  27.21
194  311.10  27.51
195  311.10  27.52
196  311.20  27.53
197  311.20  27.54

[198 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
193  311.10  27.21
194  311.10  27.51
195  311.10  27.52
196  311.20  27.53
197  311.20  27.54

[198 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
194  311.10  27.51
195  311.10  27.52
196  311.20  27.53
197  311.20  27.54
198  312.11  28.40

[199 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
194  311.10  27.51
195  311.10  27.52
196  311.20  27.53
197  311.20  27.54
198  312.11  28.40

[199 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
195  311.10  27.52
196  311.20  27.53
197  311.20  27.54
198  312.11  28.40
199  312.12  28.40

[200 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
195  311.10  27.52
196  311.20  27.53
197  311.20  27.54
198  312.11  28.40
199  312.12  28.40

[200 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
196  311.20  27.53
197  311.20  27.54
198  312.11  28.40
199  312.12  28.40
200  312.20  28.40

[201 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
196  311.20  27.53
197  311.20  27.54
198  312.11  28.40
199  312.12  28.40
200  312.20  28.40

[201 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
197  311.20  27.54
198  312.11  28.40
199  312.12  28.40
200  312.20  28.40
201  313.11  28.52

[202 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
198  312.11  28.40
199  312.12  28.40
200  312.20  28.40
201  313.11  28.52
202  313.11  28.74

[203 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
198  312.11  28.40
199  312.12  28.40
200  312.20  28.40
201  313.11  28.52
202  313.11  28.74

[203 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
199  312.12  28.40
200  312.20  28.40
201  313.11  28.52
202  313.11  28.74
203  313.12   28.7

[204 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
199  312.12  28.40
200  312.20  28.40
201  313.11  28.52
202  313.11  28.74
203  313.12   28.7

[204 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
200  312.20  28.40
201  313.11  28.52
202  313.11  28.74
203  313.12   28.7
204  313.20  28.74

[205 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
200  312.20  28.40
201  313.11  28.52
202  313.11  28.74
203  313.12   28.7
204  313.20  28.74

[205 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
201  313.11  28.52
202  313.11  28.74
203  313.12   28.7
204  313.20  28.74
205  313.30  28.40

[206 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
201  313.11  28.52
202  313.11  28.74
203  313.12   28.7
204  313.20  28.74
205  313.30  28.40

[206 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
202  313.11  28.74
203  313.12   28.7
204  313.20  28.74
205  313.30  28.40
206  313.40  28.74

[207 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
202  313.11  28.74
203  313.12   28.7
204  313.20  28.74
205  313.30  28.40
206  313.40  28.74

[207 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
203  313.12   28.7
204  313.20  28.74
205  313.30  28.40
206  313.40  28.74
207  313.50  28.51

[208 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
203  313.12   28.7
204  313.20  28.74
205  313.30  28.40
206  313.40  28.74
207  313.50  28.51

[208 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
204  313.20  28.74
205  313.30  28.40
206  313.40  28.74
207  313.50  28.51
208  313.60  28.52

[209 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
204  313.20  28.74
205  313.30  28.40
206  313.40  28.74
207  313.50  28.51
208  313.60  28.52

[209 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
205  313.30  28.40
206  313.40  28.74
207  313.50  28.51
208  313.60  28.52
209  314.10  28.11

[210 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
205  313.30  28.40
206  313.40  28.74
207  313.50  28.51
208  313.60  28.52
209  314.10  28.11

[210 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
206  313.40  28.74
207  313.50  28.51
208  313.60  28.52
209  314.10  28.11
210  314.20  28.12

[211 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
206  313.40  28.74
207  313.50  28.51
208  313.60  28.52
209  314.10  28.11
210  314.20  28.12

[211 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
207  313.50  28.51
208  313.60  28.52
209  314.10  28.11
210  314.20  28.12
211  314.30  28.11

[212 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
208  313.60  28.52
209  314.10  28.11
210  314.20  28.12
211  314.30  28.11
212  314.30  29.52

[213 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
208  313.60  28.52
209  314.10  28.11
210  314.20  28.12
211  314.30  28.11
212  314.30  29.52

[213 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
209  314.10  28.11
210  314.20  28.12
211  314.30  28.11
212  314.30  29.52
213  314.40  27.35

[214 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
210  314.20  28.12
211  314.30  28.11
212  314.30  29.52
213  314.40  27.35
214  315.10  28.22

[215 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
211  314.30  28.11
212  314.30  29.52
213  314.40  27.35
214  315.10  28.22
215  315.10  28.30

[216 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
211  314.30  28.11
212  314.30  29.52
213  314.40  27.35
214  315.10  28.22
215  315.10  28.30

[216 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
212  314.30  29.52
213  314.40  27.35
214  315.10  28.22
215  315.10  28.30
216  315.20  28.21

[217 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
213  314.40  27.35
214  315.10  28.22
215  315.10  28.30
216  315.20  28.21
217  315.20  34.20

[218 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
213  314.40  27.35
214  315.10  28.22
215  315.10  28.30
216  315.20  28.21
217  315.20  34.20

[218 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
214  315.10  28.22
215  315.10  28.30
216  315.20  28.21
217  315.20  34.20
218  316.11  28.62

[219 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
214  315.10  28.22
215  315.10  28.30
216  315.20  28.21
217  315.20  34.20
218  316.11  28.62

[219 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
215  315.10  28.30
216  315.20  28.21
217  315.20  34.20
218  316.11  28.62
219  316.12  28.62

[220 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
215  315.10  28.30
216  315.20  28.21
217  315.20  34.20
218  316.11  28.62
219  316.12  28.62

[220 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
216  315.20  28.21
217  315.20  34.20
218  316.11  28.62
219  316.12  28.62
220  316.20  28.61

[221 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
216  315.20  28.21
217  315.20  34.20
218  316.11  28.62
219  316.12  28.62
220  316.20  28.61

[221 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
217  315.20  34.20
218  316.11  28.62
219  316.12  28.62
220  316.20  28.61
221  316.30  28.63

[222 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
217  315.20  34.20
218  316.11  28.62
219  316.12  28.62
220  316.20  28.61
221  316.30  28.63

[222 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
218  316.11  28.62
219  316.12  28.62
220  316.20  28.61
221  316.30  28.63
222  316.41  28.21

[223 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
219  316.12  28.62
220  316.20  28.61
221  316.30  28.63
222  316.41  28.21
223  316.41  28.71

[224 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
219  316.12  28.62
220  316.20  28.61
221  316.30  28.63
222  316.41  28.21
223  316.41  28.71

[224 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
220  316.20  28.61
221  316.30  28.63
222  316.41  28.21
223  316.41  28.71
224  316.42  28.72

[225 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
220  316.20  28.61
221  316.30  28.63
222  316.41  28.21
223  316.41  28.71
224  316.42  28.72

[225 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
221  316.30  28.63
222  316.41  28.21
223  316.41  28.71
224  316.42  28.72
225  316.50  28.22

[226 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
222  316.41  28.21
223  316.41  28.71
224  316.42  28.72
225  316.50  28.22
226  316.50  29.72

[227 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
222  316.41  28.21
223  316.41  28.71
224  316.42  28.72
225  316.50  28.22
226  316.50  29.72

[227 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
223  316.41  28.71
224  316.42  28.72
225  316.50  28.22
226  316.50  29.72
227  316.60  28.75

[228 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
224  316.42  28.72
225  316.50  28.22
226  316.50  29.72
227  316.60  28.75
228  316.60  36.11

[229 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
225  316.50  28.22
226  316.50  29.72
227  316.60  28.75
228  316.60  36.11
229  316.60  36.12

[230 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
226  316.50  29.72
227  316.60  28.75
228  316.60  36.11
229  316.60  36.12
230  316.60  36.14

[231 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
226  316.50  29.72
227  316.60  28.75
228  316.60  36.11
229  316.60  36.12
230  316.60  36.14

[231 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
227  316.60  28.75
228  316.60  36.11
229  316.60  36.12
230  316.60  36.14
231  316.70  28.75

[232 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
227  316.60  28.75
228  316.60  36.11
229  316.60  36.12
230  316.60  36.14
231  316.70  28.75

[232 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
228  316.60  36.11
229  316.60  36.12
230  316.60  36.14
231  316.70  28.75
232  316.80  28.75

[233 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
229  316.60  36.12
230  316.60  36.14
231  316.70  28.75
232  316.80  28.75
233  316.80  29.60

[234 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
229  316.60  36.12
230  316.60  36.14
231  316.70  28.75
232  316.80  28.75
233  316.80  29.60

[234 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
230  316.60  36.14
231  316.70  28.75
232  316.80  28.75
233  316.80  29.60
234  316.91  22.24

[235 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
230  316.60  36.14
231  316.70  28.75
232  316.80  28.75
233  316.80  29.60
234  316.91  22.24

[235 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
231  316.70  28.75
232  316.80  28.75
233  316.80  29.60
234  316.91  22.24
235  316.92  28.73

[236 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
232  316.80  28.75
233  316.80  29.60
234  316.91  22.24
235  316.92  28.73
236  316.92  28.75

[237 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
233  316.80  29.60
234  316.91  22.24
235  316.92  28.73
236  316.92  28.75
237  316.92  29.54

[238 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
233  316.80  29.60
234  316.91  22.24
235  316.92  28.73
236  316.92  28.75
237  316.92  29.54

[238 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
234  316.91  22.24
235  316.92  28.73
236  316.92  28.75
237  316.92  29.54
238  319.10  28.52

[239 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
234  316.91  22.24
235  316.92  28.73
236  316.92  28.75
237  316.92  29.54
238  319.10  28.52

[239 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
235  316.92  28.73
236  316.92  28.75
237  316.92  29.54
238  319.10  28.52
239  319.20  29.31

[240 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
236  316.92  28.75
237  316.92  29.54
238  319.10  28.52
239  319.20  29.31
240  319.20  29.32

[241 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
236  316.92  28.75
237  316.92  29.54
238  319.10  28.52
239  319.20  29.31
240  319.20  29.32

[241 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
237  316.92  29.54
238  319.10  28.52
239  319.20  29.31
240  319.20  29.32
241  321.10  29.32

[242 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
237  316.92  29.54
238  319.10  28.52
239  319.20  29.31
240  319.20  29.32
241  321.10  29.32

[242 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
238  319.10  28.52
239  319.20  29.31
240  319.20  29.32
241  321.10  29.32
242  321.20  29.31

[243 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
238  319.10  28.52
239  319.20  29.31
240  319.20  29.32
241  321.10  29.32
242  321.20  29.31

[243 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
239  319.20  29.31
240  319.20  29.32
241  321.10  29.32
242  321.20  29.31
243  322.11  29.40

[244 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
239  319.20  29.31
240  319.20  29.32
241  321.10  29.32
242  321.20  29.31
243  322.11  29.40

[244 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
240  319.20  29.32
241  321.10  29.32
242  321.20  29.31
243  322.11  29.40
244  322.12  29.40

[245 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
241  321.10   29.32
242  321.20   29.31
243  322.11   29.40
244  322.12   29.40
245  322.20  000.00

[246 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
242  321.20   29.31
243  322.11   29.40
244  322.12   29.40
245  322.20  000.00
246  322.20   29.40

[247 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
243  322.11   29.40
244  322.12   29.40
245  322.20  000.00
246  322.20   29.40
247  322.20   29.56

[248 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
243  322.11   29.40
244  322.12   29.40
245  322.20  000.00
246  322.20   29.40
247  322.20   29.56

[248 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
244  322.12   29.40
245  322.20  000.00
246  322.20   29.40
247  322.20   29.56
248  323.11   29.24

[249 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
245  322.20  000.00
246  322.20   29.40
247  322.20   29.56
248  323.11   29.24
249  323.11   29.54

[250 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
246  322.20  29.40
247  322.20  29.56
248  323.11  29.24
249  323.11  29.54
250  323.11  29.56

[251 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
246  322.20  29.40
247  322.20  29.56
248  323.11  29.24
249  323.11  29.54
250  323.11  29.56

[251 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
247  322.20  29.56
248  323.11  29.24
249  323.11  29.54
250  323.11  29.56
251  323.12  29.54

[252 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
247  322.20  29.56
248  323.11  29.24
249  323.11  29.54
250  323.11  29.56
251  323.12  29.54

[252 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
248  323.11  29.24
249  323.11  29.54
250  323.11  29.56
251  323.12  29.54
252  323.20  29.54

[253 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
248  323.11  29.24
249  323.11  29.54
250  323.11  29.56
251  323.12  29.54
252  323.20  29.54

[253 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
249  323.11  29.54
250  323.11  29.56
251  323.12  29.54
252  323.20  29.54
253  324.11  29.53

[254 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
249  323.11  29.54
250  323.11  29.56
251  323.12  29.54
252  323.20  29.54
253  324.11  29.53

[254 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
250  323.11  29.56
251  323.12  29.54
252  323.20  29.54
253  324.11  29.53
254  324.12  29.24

[255 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
250  323.11  29.56
251  323.12  29.54
252  323.20  29.54
253  324.11  29.53
254  324.12  29.24

[255 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
251  323.12  29.54
252  323.20  29.54
253  324.11  29.53
254  324.12  29.24
255  324.20  29.24

[256 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
251  323.12  29.54
252  323.20  29.54
253  324.11  29.53
254  324.12  29.24
255  324.20  29.24

[256 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
252  323.20  29.54
253  324.11  29.53
254  324.12  29.24
255  324.20  29.24
256  324.30  29.24

[257 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
253  324.11  29.53
254  324.12  29.24
255  324.20  29.24
256  324.30  29.24
257  324.30  29.56

[258 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
253  324.11  29.53
254  324.12  29.24
255  324.20  29.24
256  324.30  29.24
257  324.30  29.56

[258 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
254  324.12  29.24
255  324.20  29.24
256  324.30  29.24
257  324.30  29.56
258  325.10  29.52

[259 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
254  324.12  29.24
255  324.20  29.24
256  324.30  29.24
257  324.30  29.56
258  325.10  29.52

[259 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
255  324.20  29.24
256  324.30  29.24
257  324.30  29.56
258  325.10  29.52
259  325.20  29.51

[260 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
255  324.20  29.24
256  324.30  29.24
257  324.30  29.56
258  325.10  29.52
259  325.20  29.51

[260 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
256  324.30  29.24
257  324.30  29.56
258  325.10  29.52
259  325.20  29.51
260  325.20  29.40

[261 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
257  324.30  29.56
258  325.10  29.52
259  325.20  29.51
260  325.20  29.40
261  325.20  29.56

[262 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
258  325.10  29.52
259  325.20  29.51
260  325.20  29.40
261  325.20  29.56
262  325.20  29.56

[263 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
258  325.10  29.52
259  325.20  29.51
260  325.20  29.40
261  325.20  29.56
262  325.20  29.56

[263 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
259  325.20  29.51
260  325.20  29.40
261  325.20  29.56
262  325.20  29.56
263  325.40  29.52

[264 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
259  325.20  29.51
260  325.20  29.40
261  325.20  29.56
262  325.20  29.56
263  325.40  29.52

[264 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
260  325.20  29.40
261  325.20  29.56
262  325.20  29.56
263  325.40  29.52
264  325.50  29.22

[265 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
260  325.20  29.40
261  325.20  29.56
262  325.20  29.56
263  325.40  29.52
264  325.50  29.22

[265 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
261  325.20  29.56
262  325.20  29.56
263  325.40  29.52
264  325.50  29.22
265  326.10  29.14

[266 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
261  325.20  29.56
262  325.20  29.56
263  325.40  29.52
264  325.50  29.22
265  326.10  29.14

[266 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
262  325.20  29.56
263  325.40  29.52
264  325.50  29.22
265  326.10  29.14
266  326.20  29.14

[267 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
262  325.20  29.56
263  325.40  29.52
264  325.50  29.22
265  326.10  29.14
266  326.20  29.14

[267 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
263  325.40  29.52
264  325.50  29.22
265  326.10  29.14
266  326.20  29.14
267  327.10  29.40

[268 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
263  325.40  29.52
264  325.50  29.22
265  326.10  29.14
266  326.20  29.14
267  327.10  29.40

[268 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
264  325.50  29.22
265  326.10  29.14
266  326.20  29.14
267  327.10  29.40
268  327.20  29.55

[269 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
265  326.10  29.14
266  326.20  29.14
267  327.10  29.40
268  327.20  29.55
269  327.20  29.56

[270 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
265  326.10  29.14
266  326.20  29.14
267  327.10  29.40
268  327.20  29.55
269  327.20  29.56

[270 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
266  326.20  29.14
267  327.10  29.40
268  327.20  29.55
269  327.20  29.56
270  327.30  29.54

[271 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
267  327.10  29.40
268  327.20  29.55
269  327.20  29.56
270  327.30  29.54
271  327.30  29.56

[272 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
267  327.10  29.40
268  327.20  29.55
269  327.20  29.56
270  327.30  29.54
271  327.30  29.56

[272 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
268  327.20  29.55
269  327.20  29.56
270  327.30  29.54
271  327.30  29.56
272  327.40  29.54

[273 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
268  327.20  29.55
269  327.20  29.56
270  327.30  29.54
271  327.30  29.56
272  327.40  29.54

[273 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
269  327.20  29.56
270  327.30  29.54
271  327.30  29.56
272  327.40  29.54
273  328.10  29.11

[274 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
269  327.20  29.56
270  327.30  29.54
271  327.30  29.56
272  327.40  29.54
273  328.10  29.11

[274 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
270  327.30  29.54
271  327.30  29.56
272  327.40  29.54
273  328.10  29.11
274  328.20  29.11

[275 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
270  327.30  29.54
271  327.30  29.56
272  327.40  29.54
273  328.10  29.11
274  328.20  29.11

[275 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
271  327.30  29.56
272  327.40  29.54
273  328.10  29.11
274  328.20  29.11
275  328.30  29.12

[276 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
271  327.30  29.56
272  327.40  29.54
273  328.10  29.11
274  328.20  29.11
275  328.30  29.12

[276 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
272  327.40  29.54
273  328.10  29.11
274  328.20  29.11
275  328.30  29.12
276  328.40  29.23

[277 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
273  328.10  29.11
274  328.20  29.11
275  328.30  29.12
276  328.40  29.23
277  328.40  29.56

[278 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
273  328.10  29.11
274  328.20  29.11
275  328.30  29.12
276  328.40  29.23
277  328.40  29.56

[278 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
274  328.20  29.11
275  328.30  29.12
276  328.40  29.23
277  328.40  29.56
278  328.40  29.12

[279 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
275  328.30  29.12
276  328.40  29.23
277  328.40  29.56
278  328.40  29.12
279  328.40  29.23

[280 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
275  328.30  29.12
276  328.40  29.23
277  328.40  29.56
278  328.40  29.12
279  328.40  29.23

[280 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
276  328.40  29.23
277  328.40  29.56
278  328.40  29.12
279  328.40  29.23
280  328.60  29.21

[281 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
276  328.40  29.23
277  328.40  29.56
278  328.40  29.12
279  328.40  29.23
280  328.60  29.21

[281 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
277  328.40  29.56
278  328.40  29.12
279  328.40  29.23
280  328.60  29.21
281  328.70  29.40

[282 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
277  328.40  29.56
278  328.40  29.12
279  328.40  29.23
280  328.60  29.21
281  328.70  29.40

[282 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
278  328.40  29.12
279  328.40  29.23
280  328.60  29.21
281  328.70  29.40
282  328.80  29.13

[283 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
278  328.40  29.12
279  328.40  29.23
280  328.60  29.21
281  328.70  29.40
282  328.80  29.13

[283 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
279  328.40  29.23
280  328.60  29.21
281  328.70  29.40
282  328.80  29.13
283  328.90  28.30

[284 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
280  328.60  29.21
281  328.70  29.40
282  328.80  29.13
283  328.90  28.30
284  328.90  29.24

[285 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
281  328.70  29.40
282  328.80  29.13
283  328.90  28.30
284  328.90  29.24
285  328.90  29.56

[286 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
282  328.80  29.13
283  328.90  28.30
284  328.90  29.24
285  328.90  29.56
286  328.90  29.60

[287 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
282  328.80  29.13
283  328.90  28.30
284  328.90  29.24
285  328.90  29.56
286  328.90  29.60

[287 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
283  328.90  28.30
284  328.90  29.24
285  328.90  29.56
286  328.90  29.60
287  330.00  30.01

[288 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
284  328.90  29.24
285  328.90  29.56
286  328.90  29.60
287  330.00  30.01
288  330.00  30.02

[289 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
285  328.90  29.56
286  328.90  29.60
287  330.00  30.01
288  330.00  30.02
289  330.00  72.50

[290 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
286  328.90  29.60
287  330.00  30.01
288  330.00  30.02
289  330.00  72.50
290  330.00  72.50

[291 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
286  328.90  29.60
287  330.00  30.01
288  330.00  30.02
289  330.00  72.50
290  330.00  72.50

[291 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
287  330.00  30.01
288  330.00  30.02
289  330.00  72.50
290  330.00  72.50
291  341.00  31.30

[292 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
287  330.00  30.01
288  330.00  30.02
289  330.00  72.50
290  330.00  72.50
291  341.00  31.30

[292 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
288  330.00  30.02
289  330.00  72.50
290  330.00  72.50
291  341.00  31.30
292  342.00  31.10

[293 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
289  330.00  72.50
290  330.00  72.50
291  341.00  31.30
292  342.00  31.10
293  342.00  31.20

[294 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
290  330.00  72.50
291  341.00  31.30
292  342.00  31.10
293  342.00  31.20
294  342.00  31.62

[295 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
291  341.00  31.30
292  342.00  31.10
293  342.00  31.20
294  342.00  31.62
295  342.00  32.10

[296 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
291  341.00  31.30
292  342.00  31.10
293  342.00  31.20
294  342.00  31.62
295  342.00  32.10

[296 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
292  342.00  31.10
293  342.00  31.20
294  342.00  31.62
295  342.00  32.10
296  343.10  29.21

[297 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
293  342.00  31.20
294  342.00  31.62
295  342.00  32.10
296  343.10  29.21
297  343.10  29.40

[298 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
294  342.00  31.62
295  342.00  32.10
296  343.10  29.21
297  343.10  29.40
298  343.10  31.61

[299 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
295  342.00  32.10
296  343.10  29.21
297  343.10  29.40
298  343.10  31.61
299  343.10  31.62

[300 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
295  342.00  32.10
296  343.10  29.21
297  343.10  29.40
298  343.10  31.61
299  343.10  31.62

[300 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
296  343.10  29.21
297  343.10  29.40
298  343.10  31.61
299  343.10  31.62
300  343.20  31.40

[301 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
296  343.10  29.21
297  343.10  29.40
298  343.10  31.61
299  343.10  31.62
300  343.20  31.40

[301 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
297  343.10  29.40
298  343.10  31.61
299  343.10  31.62
300  343.20  31.40
301  344.00  32.10

[302 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
298  343.10  31.61
299  343.10  31.62
300  343.20  31.40
301  344.00  32.10
302  344.00  32.20

[303 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
299  343.10  31.62
300  343.20  31.40
301  344.00  32.10
302  344.00  32.20
303  344.00  33.10

[304 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
300  343.20  31.40
301  344.00  32.10
302  344.00  32.20
303  344.00  33.10
304  344.00  33.20

[305 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
300  343.20  31.40
301  344.00  32.10
302  344.00  32.20
303  344.00  33.10
304  344.00  33.20

[305 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
301  344.00  32.10
302  344.00  32.20
303  344.00  33.10
304  344.00  33.20
305  345.10  32.30

[306 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
301  344.00  32.10
302  344.00  32.20
303  344.00  33.10
304  344.00  33.20
305  345.10  32.30

[306 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
302  344.00  32.20
303  344.00  33.10
304  344.00  33.20
305  345.10  32.30
306  345.20  22.14

[307 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
303  344.00  33.10
304  344.00  33.20
305  345.10  32.30
306  345.20  22.14
307  345.20  22.31

[308 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
304  344.00  33.20
305  345.10  32.30
306  345.20  22.14
307  345.20  22.31
308  345.20  22.32

[309 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
305  345.10  32.30
306  345.20  22.14
307  345.20  22.31
308  345.20  22.32
309  345.20  22.33

[310 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
306  345.20  22.14
307  345.20  22.31
308  345.20  22.32
309  345.20  22.33
310  345.20  72.20

[311 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
307  345.20  22.31
308  345.20  22.32
309  345.20  22.33
310  345.20  72.20
311  345.20  92.11

[312 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
308  345.20  22.32
309  345.20  22.33
310  345.20  72.20
311  345.20  92.11
312  345.20  92.32

[313 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
308  345.20  22.32
309  345.20  22.33
310  345.20  72.20
311  345.20  92.11
312  345.20  92.32

[313 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
309  345.20  22.33
310  345.20  72.20
311  345.20  92.11
312  345.20  92.32
313  346.00  29.71

[314 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
309  345.20  22.33
310  345.20  72.20
311  345.20  92.11
312  345.20  92.32
313  346.00  29.71

[314 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
310  345.20  72.20
311  345.20  92.11
312  345.20  92.32
313  346.00  29.71
314  347.10  31.50

[315 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
311  345.20   92.11
312  345.20   92.32
313  346.00   29.71
314  347.10   31.50
315  347.20  000.00

[316 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
311  345.20   92.11
312  345.20   92.32
313  346.00   29.71
314  347.10   31.50
315  347.20  000.00

[316 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
312  345.20   92.32
313  346.00   29.71
314  347.10   31.50
315  347.20  000.00
316  348.00   00.00

[317 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
313  346.00   29.71
314  347.10   31.50
315  347.20  000.00
316  348.00   00.00
317  348.00   31.10

[318 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
314  347.10   31.50
315  347.20  000.00
316  348.00   00.00
317  348.00   31.10
318  348.00   31.20

[319 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
315  347.20  000.00
316  348.00   00.00
317  348.00   31.10
318  348.00   31.20
319  348.00   31.62

[320 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
315  347.20  000.00
316  348.00   00.00
317  348.00   31.10
318  348.00   31.20
319  348.00   31.62

[320 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
316  348.00  00.00
317  348.00  31.10
318  348.00  31.20
319  348.00  31.62
320  351.00  34.10

[321 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
316  348.00  00.00
317  348.00  31.10
318  348.00  31.20
319  348.00  31.62
320  351.00  34.10

[321 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
317  348.00  31.10
318  348.00  31.20
319  348.00  31.62
320  351.00  34.10
321  352.00  34.20

[322 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
317  348.00  31.10
318  348.00  31.20
319  348.00  31.62
320  351.00  34.10
321  352.00  34.20

[322 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
318  348.00  31.20
319  348.00  31.62
320  351.00  34.10
321  352.00  34.20
322  353.00  34.30

[323 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
318  348.00  31.20
319  348.00  31.62
320  351.00  34.10
321  352.00  34.20
322  353.00  34.30

[323 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
319  348.00  31.62
320  351.00  34.10
321  352.00  34.20
322  353.00  34.30
323  361.10  35.11

[324 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
319  348.00  31.62
320  351.00  34.10
321  352.00  34.20
322  353.00  34.30
323  361.10  35.11

[324 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
320  351.00  34.10
321  352.00  34.20
322  353.00  34.30
323  361.10  35.11
324  361.20  35.11

[325 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
320  351.00  34.10
321  352.00  34.20
322  353.00  34.30
323  361.10  35.11
324  361.20  35.11

[325 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
321  352.00  34.20
322  353.00  34.30
323  361.10  35.11
324  361.20  35.11
325  361.30  35.12

[326 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
321  352.00  34.20
322  353.00  34.30
323  361.10  35.11
324  361.20  35.11
325  361.30  35.12

[326 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
322  353.00  34.30
323  361.10  35.11
324  361.20  35.11
325  361.30  35.12
326  361.40  35.11

[327 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
322  353.00  34.30
323  361.10  35.11
324  361.20  35.11
325  361.30  35.12
326  361.40  35.11

[327 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
323  361.10  35.11
324  361.20  35.11
325  361.30  35.12
326  361.40  35.11
327  361.50  35.11

[328 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
323  361.10  35.11
324  361.20  35.11
325  361.30  35.12
326  361.40  35.11
327  361.50  35.11

[328 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
324  361.20  35.11
325  361.30  35.12
326  361.40  35.11
327  361.50  35.11
328  362.10  35.20

[329 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
324  361.20  35.11
325  361.30  35.12
326  361.40  35.11
327  361.50  35.11
328  362.10  35.20

[329 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
325  361.30  35.12
326  361.40  35.11
327  361.50  35.11
328  362.10  35.20
329  362.20  35.20

[330 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
325  361.30  35.12
326  361.40  35.11
327  361.50  35.11
328  362.10  35.20
329  362.20  35.20

[330 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
326  361.40  35.11
327  361.50  35.11
328  362.10  35.20
329  362.20  35.20
330  362.30  35.20

[331 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
326  361.40  35.11
327  361.50  35.11
328  362.10  35.20
329  362.20  35.20
330  362.30  35.20

[331 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
327  361.50  35.11
328  362.10  35.20
329  362.20  35.20
330  362.30  35.20
331  363.10  35.41

[332 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
328  362.10  35.20
329  362.20  35.20
330  362.30  35.20
331  363.10  35.41
332  363.10  35.42

[333 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
328  362.10  35.20
329  362.20  35.20
330  362.30  35.20
331  363.10  35.41
332  363.10  35.42

[333 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
329  362.20  35.20
330  362.30  35.20
331  363.10  35.41
332  363.10  35.42
333  363.20  35.41

[334 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
330  362.30  35.20
331  363.10  35.41
332  363.10  35.42
333  363.20  35.41
334  363.20  35.42

[335 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
330  362.30  35.20
331  363.10  35.41
332  363.10  35.42
333  363.20  35.41
334  363.20  35.42

[335 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
331  363.10  35.41
332  363.10  35.42
333  363.20  35.41
334  363.20  35.42
335  364.10  35.30

[336 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
331  363.10  35.41
332  363.10  35.42
333  363.20  35.41
334  363.20  35.42
335  364.10  35.30

[336 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
332  363.10  35.42
333  363.20  35.41
334  363.20  35.42
335  364.10  35.30
336  364.20  35.30

[337 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
332  363.10  35.42
333  363.20  35.41
334  363.20  35.42
335  364.10  35.30
336  364.20  35.30

[337 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
333  363.20  35.41
334  363.20  35.42
335  364.10  35.30
336  364.20  35.30
337  364.30  29.60

[338 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
334  363.20  35.42
335  364.10  35.30
336  364.20  35.30
337  364.30  29.60
338  364.30  35.11

[339 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
335  364.10  35.30
336  364.20  35.30
337  364.30  29.60
338  364.30  35.11
339  364.30  35.30

[340 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
335  364.10  35.30
336  364.20  35.30
337  364.30  29.60
338  364.30  35.11
339  364.30  35.30

[340 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
336  364.20  35.30
337  364.30  29.60
338  364.30  35.11
339  364.30  35.30
340  365.10  36.63

[341 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
336  364.20  35.30
337  364.30  29.60
338  364.30  35.11
339  364.30  35.30
340  365.10  36.63

[341 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
337  364.30  29.60
338  364.30  35.11
339  364.30  35.30
340  365.10  36.63
341  365.20  35.43

[342 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
338  364.30  35.11
339  364.30  35.30
340  365.10  36.63
341  365.20  35.43
342  365.20  35.50

[343 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
338  364.30  35.11
339  364.30  35.30
340  365.10  36.63
341  365.20  35.43
342  365.20  35.50

[343 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
339  364.30  35.30
340  365.10  36.63
341  365.20  35.43
342  365.20  35.50
343  371.10  33.20

[344 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
339  364.30  35.30
340  365.10  36.63
341  365.20  35.43
342  365.20  35.50
343  371.10  33.20

[344 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
340  365.10  36.63
341  365.20  35.43
342  365.20  35.50
343  371.10  33.20
344  371.20  33.20

[345 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
341  365.20  35.43
342  365.20  35.50
343  371.10  33.20
344  371.20  33.20
345  371.30  33.20

[346 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
341  365.20  35.43
342  365.20  35.50
343  371.10  33.20
344  371.20  33.20
345  371.30  33.20

[346 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
342  365.20  35.50
343  371.10  33.20
344  371.20  33.20
345  371.30  33.20
346  371.40  33.20

[347 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
342  365.20  35.50
343  371.10  33.20
344  371.20  33.20
345  371.30  33.20
346  371.40  33.20

[347 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
343  371.10  33.20
344  371.20  33.20
345  371.30  33.20
346  371.40  33.20
347  371.50  33.20

[348 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
343  371.10  33.20
344  371.20  33.20
345  371.30  33.20
346  371.40  33.20
347  371.50  33.20

[348 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
344  371.20  33.20
345  371.30  33.20
346  371.40  33.20
347  371.50  33.20
348  371.60  33.20

[349 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
344  371.20  33.20
345  371.30  33.20
346  371.40  33.20
347  371.50  33.20
348  371.60  33.20

[349 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
345  371.30  33.20
346  371.40  33.20
347  371.50  33.20
348  371.60  33.20
349  371.70  33.20

[350 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
345  371.30  33.20
346  371.40  33.20
347  371.50  33.20
348  371.60  33.20
349  371.70  33.20

[350 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
346  371.40  33.20
347  371.50  33.20
348  371.60  33.20
349  371.70  33.20
350  372.10  33.10

[351 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
346  371.40  33.20
347  371.50  33.20
348  371.60  33.20
349  371.70  33.20
350  372.10  33.10

[351 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
347  371.50  33.20
348  371.60  33.20
349  371.70  33.20
350  372.10  33.10
351  372.20  33.10

[352 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
347  371.50  33.20
348  371.60  33.20
349  371.70  33.20
350  372.10  33.10
351  372.20  33.10

[352 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
348  371.60  33.20
349  371.70  33.20
350  372.10  33.10
351  372.20  33.10
352  372.30  33.10

[353 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
348  371.60  33.20
349  371.70  33.20
350  372.10  33.10
351  372.20  33.10
352  372.30  33.10

[353 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
349  371.70  33.20
350  372.10  33.10
351  372.20  33.10
352  372.30  33.10
353  372.40  33.10

[354 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
349  371.70  33.20
350  372.10  33.10
351  372.20  33.10
352  372.30  33.10
353  372.40  33.10

[354 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
350  372.10  33.10
351  372.20  33.10
352  372.30  33.10
353  372.40  33.10
354  373.10  33.40

[355 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
350  372.10  33.10
351  372.20  33.10
352  372.30  33.10
353  372.40  33.10
354  373.10  33.40

[355 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
351  372.20  33.10
352  372.30  33.10
353  372.40  33.10
354  373.10  33.40
355  373.20  33.40

[356 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
351  372.20  33.10
352  372.30  33.10
353  372.40  33.10
354  373.10  33.40
355  373.20  33.40

[356 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
352  372.30  33.10
353  372.40  33.10
354  373.10  33.40
355  373.20  33.40
356  373.30  30.01

[357 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
353  372.40  33.10
354  373.10  33.40
355  373.20  33.40
356  373.30  30.01
357  373.30  33.40

[358 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
353  372.40  33.10
354  373.10  33.40
355  373.20  33.40
356  373.30  30.01
357  373.30  33.40

[358 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
354  373.10  33.40
355  373.20  33.40
356  373.30  30.01
357  373.30  33.40
358  374.00  33.50

[359 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
354  373.10  33.40
355  373.20  33.40
356  373.30  30.01
357  373.30  33.40
358  374.00  33.50

[359 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
355  373.20  33.40
356  373.30  30.01
357  373.30  33.40
358  374.00  33.50
359  411.10  15.41

[360 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
355  373.20  33.40
356  373.30  30.01
357  373.30  33.40
358  374.00  33.50
359  411.10  15.41

[360 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
356  373.30  30.01
357  373.30  33.40
358  374.00  33.50
359  411.10  15.41
360  411.20  15.41

[361 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
357  373.30  33.40
358  374.00  33.50
359  411.10  15.41
360  411.20  15.41
361  411.20  15.42

[362 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
357  373.30  33.40
358  374.00  33.50
359  411.10  15.41
360  411.20  15.41
361  411.20  15.42

[362 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
358  374.00  33.50
359  411.10  15.41
360  411.20  15.41
361  411.20  15.42
362  411.30  15.41

[363 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
358  374.00  33.50
359  411.10  15.41
360  411.20  15.41
361  411.20  15.42
362  411.30  15.41

[363 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
359  411.10  15.41
360  411.20  15.41
361  411.20  15.42
362  411.30  15.41
363  411.40  15.42

[364 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
360  411.20  15.41
361  411.20  15.42
362  411.30  15.41
363  411.40  15.42
364  411.40  15.62

[365 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
360  411.20  15.41
361  411.20  15.42
362  411.30  15.41
363  411.40  15.42
364  411.40  15.62

[365 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
361  411.20  15.42
362  411.30  15.41
363  411.40  15.42
364  411.40  15.62
365  411.50  15.43

[366 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
361  411.20  15.42
362  411.30  15.41
363  411.40  15.42
364  411.40  15.62
365  411.50  15.43

[366 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
362  411.30  15.41
363  411.40  15.42
364  411.40  15.62
365  411.50  15.43
366  412.11  15.11

[367 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
362  411.30  15.41
363  411.40  15.42
364  411.40  15.62
365  411.50  15.43
366  412.11  15.11

[367 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
363  411.40  15.42
364  411.40  15.62
365  411.50  15.43
366  412.11  15.11
367  412.12  15.11

[368 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
363  411.40  15.42
364  411.40  15.62
365  411.50  15.43
366  412.11  15.11
367  412.12  15.11

[368 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
364  411.40  15.62
365  411.50  15.43
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11

[369 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
364  411.40  15.62
365  411.50  15.43
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11

[369 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
365  411.50  15.43
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13

[370 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
365  411.50  15.43
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13

[370 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13
370  412.30  15.12

[371 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13
370  412.30  15.12

[371 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
366  412.11  15.11
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13
370  412.30  15.12

[371 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13
370  412.30  15.12
371  412.30  15.13

[372 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
367  412.12  15.11
368  412.21  15.11
369  412.22  15.13
370  412.30  15.12
371  412.30  15.13

[372 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
368  412.21  15.11
369  412.22  15.13
370  412.30  15.12
371  412.30  15.13
372  412.40  15.11

[373 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
369  412.22  15.13
370  412.30  15.12
371  412.30  15.13
372  412.40  15.11
373  412.40  15.41

[374 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
369  412.22  15.13
370  412.30  15.12
371  412.30  15.13
372  412.40  15.11
373  412.40  15.41

[374 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
370  412.30  15.12
371  412.30  15.13
372  412.40  15.11
373  412.40  15.41
374  412.50  15.11

[375 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
370  412.30  15.12
371  412.30  15.13
372  412.40  15.11
373  412.40  15.41
374  412.50  15.11

[375 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
371  412.30  15.13
372  412.40  15.11
373  412.40  15.41
374  412.50  15.11
375  413.11  15.51

[376 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
371  412.30  15.13
372  412.40  15.11
373  412.40  15.41
374  412.50  15.11
375  413.11  15.51

[376 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
372  412.40  15.11
373  412.40  15.41
374  412.50  15.11
375  413.11  15.51
376  413.12  15.51

[377 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
372  412.40  15.11
373  412.40  15.41
374  412.50  15.11
375  413.11  15.51
376  413.12  15.51

[377 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
373  412.40  15.41
374  412.50  15.11
375  413.11  15.51
376  413.12  15.51
377  413.13  15.51

[378 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
373  412.40  15.41
374  412.50  15.11
375  413.11  15.51
376  413.12  15.51
377  413.13  15.51

[378 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
374  412.50  15.11
375  413.11  15.51
376  413.12  15.51
377  413.13  15.51
378  413.14  15.51

[379 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
374  412.50  15.11
375  413.11  15.51
376  413.12  15.51
377  413.13  15.51
378  413.14  15.51

[379 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
375  413.11  15.51
376  413.12  15.51
377  413.13  15.51
378  413.14  15.51
379  413.21  15.51

[380 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
375  413.11  15.51
376  413.12  15.51
377  413.13  15.51
378  413.14  15.51
379  413.21  15.51

[380 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
376  413.12  15.51
377  413.13  15.51
378  413.14  15.51
379  413.21  15.51
380  413.22  15.51

[381 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
376  413.12  15.51
377  413.13  15.51
378  413.14  15.51
379  413.21  15.51
380  413.22  15.51

[381 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
377  413.13  15.51
378  413.14  15.51
379  413.21  15.51
380  413.22  15.51
381  414.10  15.31

[382 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
378  413.14  15.51
379  413.21  15.51
380  413.22  15.51
381  414.10  15.31
382  414.10  15.33

[383 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
378  413.14  15.51
379  413.21  15.51
380  413.22  15.51
381  414.10  15.31
382  414.10  15.33

[383 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
379  413.21  15.51
380  413.22  15.51
381  414.10  15.31
382  414.10  15.33
383  414.20  15.20

[384 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
380  413.22  15.51
381  414.10  15.31
382  414.10  15.33
383  414.20  15.20
384  414.20  15.33

[385 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
380  413.22  15.51
381  414.10  15.31
382  414.10  15.33
383  414.20  15.20
384  414.20  15.33

[385 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
381  414.10  15.31
382  414.10  15.33
383  414.20  15.20
384  414.20  15.33
385  414.30  15.33

[386 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
381  414.10  15.31
382  414.10  15.33
383  414.20  15.20
384  414.20  15.33
385  414.30  15.33

[386 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
382  414.10  15.33
383  414.20  15.20
384  414.20  15.33
385  414.30  15.33
386  414.40  15.32

[387 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
382  414.10  15.33
383  414.20  15.20
384  414.20  15.33
385  414.30  15.33
386  414.40  15.32

[387 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
383  414.20  15.20
384  414.20  15.33
385  414.30  15.33
386  414.40  15.32
387  414.50  15.33

[388 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
383  414.20  15.20
384  414.20  15.33
385  414.30  15.33
386  414.40  15.32
387  414.50  15.33

[388 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
384  414.20  15.33
385  414.30  15.33
386  414.40  15.32
387  414.50  15.33
388  414.61  15.33

[389 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
384  414.20  15.33
385  414.30  15.33
386  414.40  15.32
387  414.50  15.33
388  414.61  15.33

[389 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
385  414.30  15.33
386  414.40  15.32
387  414.50  15.33
388  414.61  15.33
389  414.62  15.31

[390 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
386  414.40  15.32
387  414.50  15.33
388  414.61  15.33
389  414.62  15.31
390  414.62  15.33

[391 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
386  414.40  15.32
387  414.50  15.33
388  414.61  15.33
389  414.62  15.31
390  414.62  15.33

[391 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
387  414.50  15.33
388  414.61  15.33
389  414.62  15.31
390  414.62  15.33
391  414.63  15.33

[392 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
387  414.50  15.33
388  414.61  15.33
389  414.62  15.31
390  414.62  15.33
391  414.63  15.33

[392 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
388  414.61  15.33
389  414.62  15.31
390  414.62  15.33
391  414.63  15.33
392  414.64  15.31

[393 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
389  414.62  15.31
390  414.62  15.33
391  414.63  15.33
392  414.64  15.31
393  414.64  15.33

[394 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
389  414.62  15.31
390  414.62  15.33
391  414.63  15.33
392  414.64  15.31
393  414.64  15.33

[394 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
390  414.62  15.33
391  414.63  15.33
392  414.64  15.31
393  414.64  15.33
394  414.65  15.33

[395 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
390  414.62  15.33
391  414.63  15.33
392  414.64  15.31
393  414.64  15.33
394  414.65  15.33

[395 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
391  414.63  15.33
392  414.64  15.31
393  414.64  15.33
394  414.65  15.33
395  415.10  15.20

[396 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
391  414.63  15.33
392  414.64  15.31
393  414.64  15.33
394  414.65  15.33
395  415.10  15.20

[396 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
392  414.64  15.31
393  414.64  15.33
394  414.65  15.33
395  415.10  15.20
396  415.20  15.20

[397 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
392  414.64  15.31
393  414.64  15.33
394  414.65  15.33
395  415.10  15.20
396  415.20  15.20

[397 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
393  414.64  15.33
394  414.65  15.33
395  415.10  15.20
396  415.20  15.20
397  416.11  15.61

[398 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
393  414.64  15.33
394  414.65  15.33
395  415.10  15.20
396  415.20  15.20
397  416.11  15.61

[398 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
394  414.65  15.33
395  415.10  15.20
396  415.20  15.20
397  416.11  15.61
398  416.12  15.61

[399 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
395  415.10  15.20
396  415.20  15.20
397  416.11  15.61
398  416.12  15.61
399  416.20  15.61

[400 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
395  415.10  15.20
396  415.20  15.20
397  416.11  15.61
398  416.12  15.61
399  416.20  15.61

[400 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
396  415.20  15.20
397  416.11  15.61
398  416.12  15.61
399  416.20  15.61
400  417.00  15.85

[401 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
396  415.20  15.20
397  416.11  15.61
398  416.12  15.61
399  416.20  15.61
400  417.00  15.85

[401 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
397  416.11  15.61
398  416.12  15.61
399  416.20  15.61
400  417.00  15.85
401  418.10  15.62

[402 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
397  416.11  15.61
398  416.12  15.61
399  416.20  15.61
400  417.00  15.85
401  418.10  15.62

[402 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
398  416.12  15.61
399  416.20  15.61
400  417.00  15.85
401  418.10  15.62
402  418.20  15.62

[403 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
398  416.12  15.61
399  416.20  15.61
400  417.00  15.85
401  418.10  15.62
402  418.20  15.62

[403 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
399  416.20  15.61
400  417.00  15.85
401  418.10  15.62
402  418.20  15.62
403  418.30  15.62

[404 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
399  416.20  15.61
400  417.00  15.85
401  418.10  15.62
402  418.20  15.62
403  418.30  15.62

[404 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
400  417.00  15.85
401  418.10  15.62
402  418.20  15.62
403  418.30  15.62
404  418.40  15.62

[405 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
400  417.00  15.85
401  418.10  15.62
402  418.20  15.62
403  418.30  15.62
404  418.40  15.62

[405 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
401  418.10  15.62
402  418.20  15.62
403  418.30  15.62
404  418.40  15.62
405  419.10  15.81

[406 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
401  418.10  15.62
402  418.20  15.62
403  418.30  15.62
404  418.40  15.62
405  419.10  15.81

[406 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
402  418.20  15.62
403  418.30  15.62
404  418.40  15.62
405  419.10  15.81
406  419.20  15.81

[407 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
402  418.20  15.62
403  418.30  15.62
404  418.40  15.62
405  419.10  15.81
406  419.20  15.81

[407 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
403  418.30  15.62
404  418.40  15.62
405  419.10  15.81
406  419.20  15.81
407  419.30  15.82

[408 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
403  418.30  15.62
404  418.40  15.62
405  419.10  15.81
406  419.20  15.81
407  419.30  15.82

[408 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
404  418.40  15.62
405  419.10  15.81
406  419.20  15.81
407  419.30  15.82
408  419.40  15.82

[409 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
404  418.40  15.62
405  419.10  15.81
406  419.20  15.81
407  419.30  15.82
408  419.40  15.82

[409 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
405  419.10  15.81
406  419.20  15.81
407  419.30  15.82
408  419.40  15.82
409  419.50  15.82

[410 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
405  419.10  15.81
406  419.20  15.81
407  419.30  15.82
408  419.40  15.82
409  419.50  15.82

[410 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
406  419.20  15.81
407  419.30  15.82
408  419.40  15.82
409  419.50  15.82
410  420.10  15.83

[411 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
406  419.20  15.81
407  419.30  15.82
408  419.40  15.82
409  419.50  15.82
410  420.10  15.83

[411 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
407  419.30  15.82
408  419.40  15.82
409  419.50  15.82
410  420.10  15.83
411  420.20  15.83

[412 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
407  419.30  15.82
408  419.40  15.82
409  419.50  15.82
410  420.10  15.83
411  420.20  15.83

[412 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
408  419.40  15.82
409  419.50  15.82
410  420.10  15.83
411  420.20  15.83
412  420.31  15.83

[413 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
408  419.40  15.82
409  419.50  15.82
410  420.10  15.83
411  420.20  15.83
412  420.31  15.83

[413 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
409  419.50  15.82
410  420.10  15.83
411  420.20  15.83
412  420.31  15.83
413  420.32  15.83

[414 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
409  419.50  15.82
410  420.10  15.83
411  420.20  15.83
412  420.31  15.83
413  420.32  15.83

[414 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
410  420.10  15.83
411  420.20  15.83
412  420.31  15.83
413  420.32  15.83
414  420.40  15.84

[415 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
410  420.10  15.83
411  420.20  15.83
412  420.31  15.83
413  420.32  15.83
414  420.40  15.84

[415 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
411  420.20  15.83
412  420.31  15.83
413  420.32  15.83
414  420.40  15.84
415  421.10  15.84

[416 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
411  420.20  15.83
412  420.31  15.83
413  420.32  15.83
414  420.40  15.84
415  421.10  15.84

[416 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
412  420.31  15.83
413  420.32  15.83
414  420.40  15.84
415  421.10  15.84
416  421.20  15.62

[417 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
413  420.32  15.83
414  420.40  15.84
415  421.10  15.84
416  421.20  15.62
417  421.20  15.84

[418 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
413  420.32  15.83
414  420.40  15.84
415  421.10  15.84
416  421.20  15.62
417  421.20  15.84

[418 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
414  420.40  15.84
415  421.10  15.84
416  421.20  15.62
417  421.20  15.84
418  421.30  15.52

[419 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
414  420.40  15.84
415  421.10  15.84
416  421.20  15.62
417  421.20  15.84
418  421.30  15.52

[419 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
415  421.10  15.84
416  421.20  15.62
417  421.20  15.84
418  421.30  15.52
419  422.00  15.20

[420 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
416  421.20  15.62
417  421.20  15.84
418  421.30  15.52
419  422.00  15.20
420  422.00  15.71

[421 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
417  421.20  15.84
418  421.30  15.52
419  422.00  15.20
420  422.00  15.71
421  422.00  15.72

[422 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
417  421.20  15.84
418  421.30  15.52
419  422.00  15.20
420  422.00  15.71
421  422.00  15.72

[422 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
418  421.30  15.52
419  422.00  15.20
420  422.00  15.71
421  422.00  15.72
422  423.10  15.86

[423 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
418  421.30  15.52
419  422.00  15.20
420  422.00  15.71
421  422.00  15.72
422  423.10  15.86

[423 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
419  422.00  15.20
420  422.00  15.71
421  422.00  15.72
422  423.10  15.86
423  423.20  15.86

[424 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
419  422.00  15.20
420  422.00  15.71
421  422.00  15.72
422  423.10  15.86
423  423.20  15.86

[424 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
420  422.00  15.71
421  422.00  15.72
422  423.10  15.86
423  423.20  15.86
424  423.30  15.87

[425 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
421  422.00  15.72
422  423.10  15.86
423  423.20  15.86
424  423.30  15.87
425  423.40  40.30

[426 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
421  422.00  15.72
422  423.10  15.86
423  423.20  15.86
424  423.30  15.87
425  423.40  40.30

[426 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
422  423.10  15.86
423  423.20  15.86
424  423.30  15.87
425  423.40  40.30
426  423.50  15.88

[427 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
422  423.10  15.86
423  423.20  15.86
424  423.30  15.87
425  423.40  40.30
426  423.50  15.88

[427 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
423  423.20  15.86
424  423.30  15.87
425  423.40  40.30
426  423.50  15.88
427  423.60  15.89

[428 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
423  423.20  15.86
424  423.30  15.87
425  423.40  40.30
426  423.50  15.88
427  423.60  15.89

[428 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
424  423.30  15.87
425  423.40  40.30
426  423.50  15.88
427  423.60  15.89
428  423.70  15.87

[429 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
425  423.40  40.30
426  423.50  15.88
427  423.60  15.89
428  423.70  15.87
429  423.70  15.89

[430 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
425  423.40  40.30
426  423.50  15.88
427  423.60  15.89
428  423.70  15.87
429  423.70  15.89

[430 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
426  423.50  15.88
427  423.60  15.89
428  423.70  15.87
429  423.70  15.89
430  423.80  15.31

[431 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
427  423.60  15.89
428  423.70  15.87
429  423.70  15.89
430  423.80  15.31
431  423.80  15.61

[432 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
428  423.70  15.87
429  423.70  15.89
430  423.80  15.31
431  423.80  15.61
432  423.80  15.89

[433 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
428  423.70  15.87
429  423.70  15.89
430  423.80  15.31
431  423.80  15.61
432  423.80  15.89

[433 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
429  423.70  15.89
430  423.80  15.31
431  423.80  15.61
432  423.80  15.89
433  424.10  15.92

[434 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
429  423.70  15.89
430  423.80  15.31
431  423.80  15.61
432  423.80  15.89
433  424.10  15.92

[434 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
430  423.80  15.31
431  423.80  15.61
432  423.80  15.89
433  424.10  15.92
434  424.20  15.91

[435 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
430  423.80  15.31
431  423.80  15.61
432  423.80  15.89
433  424.10  15.92
434  424.20  15.91

[435 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
431  423.80  15.61
432  423.80  15.89
433  424.10  15.92
434  424.20  15.91
435  424.30  15.91

[436 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
431  423.80  15.61
432  423.80  15.89
433  424.10  15.92
434  424.20  15.91
435  424.30  15.91

[436 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
432  423.80  15.89
433  424.10  15.92
434  424.20  15.91
435  424.30  15.91
436  425.10  15.93

[437 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
432  423.80  15.89
433  424.10  15.92
434  424.20  15.91
435  424.30  15.91
436  425.10  15.93

[437 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
433  424.10  15.92
434  424.20  15.91
435  424.30  15.91
436  425.10  15.93
437  425.20  15.93

[438 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
433  424.10  15.92
434  424.20  15.91
435  424.30  15.91
436  425.10  15.93
437  425.20  15.93

[438 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
434  424.20  15.91
435  424.30  15.91
436  425.10  15.93
437  425.20  15.93
438  425.30  15.95

[439 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
434  424.20  15.91
435  424.30  15.91
436  425.10  15.93
437  425.20  15.93
438  425.30  15.95

[439 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
435  424.30  15.91
436  425.10  15.93
437  425.20  15.93
438  425.30  15.95
439  426.00  15.94

[440 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
435  424.30  15.91
436  425.10  15.93
437  425.20  15.93
438  425.30  15.95
439  426.00  15.94

[440 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
436  425.10  15.93
437  425.20  15.93
438  425.30  15.95
439  426.00  15.94
440  427.10  15.96

[441 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
436  425.10  15.93
437  425.20  15.93
438  425.30  15.95
439  426.00  15.94
440  427.10  15.96

[441 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
437  425.20  15.93
438  425.30  15.95
439  426.00  15.94
440  427.10  15.96
441  427.20  15.97

[442 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
437  425.20  15.93
438  425.30  15.95
439  426.00  15.94
440  427.10  15.96
441  427.20  15.97

[442 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
438  425.30  15.95
439  426.00  15.94
440  427.10  15.96
441  427.20  15.97
442  428.10  15.98

[443 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
438  425.30  15.95
439  426.00  15.94
440  427.10  15.96
441  427.20  15.97
442  428.10  15.98

[443 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
439  426.00  15.94
440  427.10  15.96
441  427.20  15.97
442  428.10  15.98
443  428.20  15.98

[444 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
439  426.00  15.94
440  427.10  15.96
441  427.20  15.97
442  428.10  15.98
443  428.20  15.98

[444 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
440  427.10  15.96
441  427.20  15.97
442  428.10  15.98
443  428.20  15.98
444  429.00  16.00

[445 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
440  427.10  15.96
441  427.20  15.97
442  428.10  15.98
443  428.20  15.98
444  429.00  16.00

[445 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
441  427.20  15.97
442  428.10  15.98
443  428.20  15.98
444  429.00  16.00
445  431.10  15.11

[446 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
441  427.20  15.97
442  428.10  15.98
443  428.20  15.98
444  429.00  16.00
445  431.10  15.11

[446 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
442  428.10  15.98
443  428.20  15.98
444  429.00  16.00
445  431.10  15.11
446  431.21  17.12

[447 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
442  428.10  15.98
443  428.20  15.98
444  429.00  16.00
445  431.10  15.11
446  431.21  17.12

[447 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
443  428.20  15.98
444  429.00  16.00
445  431.10  15.11
446  431.21  17.12
447  431.22  17.13

[448 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
443  428.20  15.98
444  429.00  16.00
445  431.10  15.11
446  431.21  17.12
447  431.22  17.13

[448 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
444  429.00  16.00
445  431.10  15.11
446  431.21  17.12
447  431.22  17.13
448  431.31  17.13

[449 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
444  429.00  16.00
445  431.10  15.11
446  431.21  17.12
447  431.22  17.13
448  431.31  17.13

[449 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
445  431.10  15.11
446  431.21  17.12
447  431.22  17.13
448  431.31  17.13
449  431.32  17.12

[450 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
445  431.10  15.11
446  431.21  17.12
447  431.22  17.13
448  431.31  17.13
449  431.32  17.12

[450 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
446  431.21  17.12
447  431.22  17.13
448  431.31  17.13
449  431.32  17.12
450  431.33  17.12

[451 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
447  431.22  17.13
448  431.31  17.13
449  431.32  17.12
450  431.33  17.12
451  431.41  17.13

[452 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
447  431.22  17.13
448  431.31  17.13
449  431.32  17.12
450  431.33  17.12
451  431.41  17.13

[452 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
448  431.31  17.13
449  431.32  17.12
450  431.33  17.12
451  431.41  17.13
452  431.42  17.13

[453 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
448  431.31  17.13
449  431.32  17.12
450  431.33  17.12
451  431.41  17.13
452  431.42  17.13

[453 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
449  431.32  17.12
450  431.33  17.12
451  431.41  17.13
452  431.42  17.13
453  431.51  17.23

[454 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
449  431.32  17.12
450  431.33  17.12
451  431.41  17.13
452  431.42  17.13
453  431.51  17.23

[454 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
450  431.33  17.12
451  431.41  17.13
452  431.42  17.13
453  431.51  17.23
454  431.52  17.22

[455 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
450  431.33  17.12
451  431.41  17.13
452  431.42  17.13
453  431.51  17.23
454  431.52  17.22

[455 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
451  431.41  17.13
452  431.42  17.13
453  431.51  17.23
454  431.52  17.22
455  431.61  17.23

[456 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
451  431.41  17.13
452  431.42  17.13
453  431.51  17.23
454  431.52  17.22
455  431.61  17.23

[456 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
452  431.42  17.13
453  431.51  17.23
454  431.52  17.22
455  431.61  17.23
456  431.62  17.40

[457 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
452  431.42  17.13
453  431.51  17.23
454  431.52  17.22
455  431.61  17.23
456  431.62  17.40

[457 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
453  431.51  17.23
454  431.52  17.22
455  431.61  17.23
456  431.62  17.40
457  431.63  17.22

[458 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
453  431.51  17.23
454  431.52  17.22
455  431.61  17.23
456  431.62  17.40
457  431.63  17.22

[458 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
454  431.52  17.22
455  431.61  17.23
456  431.62  17.40
457  431.63  17.22
458  432.31  17.11

[459 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
454  431.52  17.22
455  431.61  17.23
456  431.62  17.40
457  431.63  17.22
458  432.31  17.11

[459 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
455  431.61  17.23
456  431.62  17.40
457  431.63  17.22
458  432.31  17.11
459  432.32  17.11

[460 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
455  431.61  17.23
456  431.62  17.40
457  431.63  17.22
458  432.31  17.11
459  432.32  17.11

[460 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
456  431.62  17.40
457  431.63  17.22
458  432.31  17.11
459  432.32  17.11
460  432.41  17.11

[461 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
456  431.62  17.40
457  431.63  17.22
458  432.31  17.11
459  432.32  17.11
460  432.41  17.11

[461 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
457  431.63  17.22
458  432.31  17.11
459  432.32  17.11
460  432.41  17.11
461  432.42  17.16

[462 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
457  431.63  17.22
458  432.31  17.11
459  432.32  17.11
460  432.41  17.11
461  432.42  17.16

[462 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
458  432.31  17.11
459  432.32  17.11
460  432.41  17.11
461  432.42  17.16
462  432.50  17.21

[463 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
459  432.32  17.11
460  432.41  17.11
461  432.42  17.16
462  432.50  17.21
463  432.50  17.54

[464 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
459  432.32  17.11
460  432.41  17.11
461  432.42  17.16
462  432.50  17.21
463  432.50  17.54

[464 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
460  432.41  17.11
461  432.42  17.16
462  432.50  17.21
463  432.50  17.54
464  432.61  17.11

[465 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
460  432.41  17.11
461  432.42  17.16
462  432.50  17.21
463  432.50  17.54
464  432.61  17.11

[465 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
461  432.42  17.16
462  432.50  17.21
463  432.50  17.54
464  432.61  17.11
465  432.62  17.21

[466 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
461  432.42  17.16
462  432.50  17.21
463  432.50  17.54
464  432.61  17.11
465  432.62  17.21

[466 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
462  432.50  17.21
463  432.50  17.54
464  432.61  17.11
465  432.62  17.21
466  433.20  17.15

[467 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
462  432.50  17.21
463  432.50  17.54
464  432.61  17.11
465  432.62  17.21
466  433.20  17.15

[467 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
463  432.50  17.54
464  432.61  17.11
465  432.62  17.21
466  433.20  17.15
467  433.31  17.15

[468 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
463  432.50  17.54
464  432.61  17.11
465  432.62  17.21
466  433.20  17.15
467  433.31  17.15

[468 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
464  432.61  17.11
465  432.62  17.21
466  433.20  17.15
467  433.31  17.15
468  433.32  17.15

[469 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
464  432.61  17.11
465  432.62  17.21
466  433.20  17.15
467  433.31  17.15
468  433.32  17.15

[469 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
465  432.62  17.21
466  433.20  17.15
467  433.31  17.15
468  433.32  17.15
469  433.41  17.15

[470 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
465  432.62  17.21
466  433.20  17.15
467  433.31  17.15
468  433.32  17.15
469  433.41  17.15

[470 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
466  433.20  17.15
467  433.31  17.15
468  433.32  17.15
469  433.41  17.15
470  433.42  17.16

[471 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
466  433.20  17.15
467  433.31  17.15
468  433.32  17.15
469  433.41  17.15
470  433.42  17.16

[471 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
467  433.31  17.15
468  433.32  17.15
469  433.41  17.15
470  433.42  17.16
471  433.50  17.24

[472 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
467  433.31  17.15
468  433.32  17.15
469  433.41  17.15
470  433.42  17.16
471  433.50  17.24

[472 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
468  433.32  17.15
469  433.41  17.15
470  433.42  17.16
471  433.50  17.24
472  434.10  17.14

[473 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
468  433.32  17.15
469  433.41  17.15
470  433.42  17.16
471  433.50  17.24
472  434.10  17.14

[473 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
469  433.41  17.15
470  433.42  17.16
471  433.50  17.24
472  434.10  17.14
473  434.31  17.14

[474 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
469  433.41  17.15
470  433.42  17.16
471  433.50  17.24
472  434.10  17.14
473  434.31  17.14

[474 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
470  433.42  17.16
471  433.50  17.24
472  434.10  17.14
473  434.31  17.14
474  434.32  17.14

[475 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
471  433.50   17.24
472  434.10   17.14
473  434.31   17.14
474  434.32   17.14
475  434.40  000.00

[476 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
471  433.50   17.24
472  434.10   17.14
473  434.31   17.14
474  434.32   17.14
475  434.40  000.00

[476 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
472  434.10   17.14
473  434.31   17.14
474  434.32   17.14
475  434.40  000.00
476  434.50   17.25

[477 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
472  434.10   17.14
473  434.31   17.14
474  434.32   17.14
475  434.40  000.00
476  434.50   17.25

[477 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
473  434.31   17.14
474  434.32   17.14
475  434.40  000.00
476  434.50   17.25
477  434.60   17.25

[478 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
473  434.31   17.14
474  434.32   17.14
475  434.40  000.00
476  434.50   17.25
477  434.60   17.25

[478 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
474  434.32   17.14
475  434.40  000.00
476  434.50   17.25
477  434.60   17.25
478  435.30   17.17

[479 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
474  434.32   17.14
475  434.40  000.00
476  434.50   17.25
477  434.60   17.25
478  435.30   17.17

[479 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
475  434.40  000.00
476  434.50   17.25
477  434.60   17.25
478  435.30   17.17
479  435.50   17.25

[480 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
475  434.40  000.00
476  434.50   17.25
477  434.60   17.25
478  435.30   17.17
479  435.50   17.25

[480 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
476  434.50  17.25
477  434.60  17.25
478  435.30  17.17
479  435.50  17.25
480  435.60  17.25

[481 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
476  434.50  17.25
477  434.60  17.25
478  435.30  17.17
479  435.50  17.25
480  435.60  17.25

[481 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
477  434.60  17.25
478  435.30  17.17
479  435.50  17.25
480  435.60  17.25
481  436.10  17.71

[482 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
477  434.60  17.25
478  435.30  17.17
479  435.50  17.25
480  435.60  17.25
481  436.10  17.71

[482 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
478  435.30  17.17
479  435.50  17.25
480  435.60  17.25
481  436.10  17.71
482  436.21  17.60

[483 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
478  435.30  17.17
479  435.50  17.25
480  435.60  17.25
481  436.10  17.71
482  436.21  17.60

[483 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
479  435.50  17.25
480  435.60  17.25
481  436.10  17.71
482  436.21  17.60
483  436.22  18.24

[484 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
479  435.50  17.25
480  435.60  17.25
481  436.10  17.71
482  436.21  17.60
483  436.22  18.24

[484 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
480  435.60  17.25
481  436.10  17.71
482  436.21  17.60
483  436.22  18.24
484  436.23  17.40

[485 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
481  436.10  17.71
482  436.21  17.60
483  436.22  18.24
484  436.23  17.40
485  436.23  17.72

[486 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
482  436.21  17.60
483  436.22  18.24
484  436.23  17.40
485  436.23  17.72
486  436.23  18.21

[487 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
483  436.22  18.24
484  436.23  17.40
485  436.23  17.72
486  436.23  18.21
487  436.23  18.22

[488 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
484  436.23  17.40
485  436.23  17.72
486  436.23  18.21
487  436.23  18.22
488  436.23  18.23

[489 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
485  436.23  17.72
486  436.23  18.21
487  436.23  18.22
488  436.23  18.23
489  436.23  18.24

[490 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
485  436.23  17.72
486  436.23  18.21
487  436.23  18.22
488  436.23  18.23
489  436.23  18.24

[490 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
486  436.23  18.21
487  436.23  18.22
488  436.23  18.23
489  436.23  18.24
490  437.10  17.30

[491 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
486  436.23  18.21
487  436.23  18.22
488  436.23  18.23
489  436.23  18.24
490  437.10  17.30

[491 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
487  436.23  18.22
488  436.23  18.23
489  436.23  18.24
490  437.10  17.30
491  437.20  17.30

[492 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
487  436.23  18.22
488  436.23  18.23
489  436.23  18.24
490  437.10  17.30
491  437.20  17.30

[492 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
488  436.23  18.23
489  436.23  18.24
490  437.10  17.30
491  437.20  17.30
492  437.30  17.30

[493 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
488  436.23  18.23
489  436.23  18.24
490  437.10  17.30
491  437.20  17.30
492  437.30  17.30

[493 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
489  436.23  18.24
490  437.10  17.30
491  437.20  17.30
492  437.30  17.30
493  437.40  17.30

[494 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
489  436.23  18.24
490  437.10  17.30
491  437.20  17.30
492  437.30  17.30
493  437.40  17.30

[494 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
490  437.10  17.30
491  437.20  17.30
492  437.30  17.30
493  437.40  17.30
494  438.11  17.51

[495 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
490  437.10  17.30
491  437.20  17.30
492  437.30  17.30
493  437.40  17.30
494  438.11  17.51

[495 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
491  437.20  17.30
492  437.30  17.30
493  437.40  17.30
494  438.11  17.51
495  438.12  17.51

[496 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
491  437.20  17.30
492  437.30  17.30
493  437.40  17.30
494  438.11  17.51
495  438.12  17.51

[496 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
492  437.30  17.30
493  437.40  17.30
494  438.11  17.51
495  438.12  17.51
496  438.20  36.63

[497 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
492  437.30  17.30
493  437.40  17.30
494  438.11  17.51
495  438.12  17.51
496  438.20  36.63

[497 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
493  437.40  17.30
494  438.11  17.51
495  438.12  17.51
496  438.20  36.63
497  438.30  17.54

[498 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
493  437.40  17.30
494  438.11  17.51
495  438.12  17.51
496  438.20  36.63
497  438.30  17.54

[498 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
494  438.11  17.51
495  438.12  17.51
496  438.20  36.63
497  438.30  17.54
498  439.11  17.54

[499 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
494  438.11  17.51
495  438.12  17.51
496  438.20  36.63
497  438.30  17.54
498  439.11  17.54

[499 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
495  438.12  17.51
496  438.20  36.63
497  438.30  17.54
498  439.11  17.54
499  439.12  17.54

[500 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
495  438.12  17.51
496  438.20  36.63
497  438.30  17.54
498  439.11  17.54
499  439.12  17.54

[500 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
496  438.20  36.63
497  438.30  17.54
498  439.11  17.54
499  439.12  17.54
500  439.20  17.53

[501 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
496  438.20  36.63
497  438.30  17.54
498  439.11  17.54
499  439.12  17.54
500  439.20  17.53

[501 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
497  438.30  17.54
498  439.11  17.54
499  439.12  17.54
500  439.20  17.53
501  439.30  17.54

[502 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
497  438.30  17.54
498  439.11  17.54
499  439.12  17.54
500  439.20  17.53
501  439.30  17.54

[502 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
498  439.11  17.54
499  439.12  17.54
500  439.20  17.53
501  439.30  17.54
502  439.40  17.54

[503 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
499  439.12  17.54
500  439.20  17.53
501  439.30  17.54
502  439.40  17.54
503  439.50  17.54

[504 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
499  439.12  17.54
500  439.20  17.53
501  439.30  17.54
502  439.40  17.54
503  439.50  17.54

[504 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
500  439.20  17.53
501  439.30  17.54
502  439.40  17.54
503  439.50  17.54
504  439.61  17.52

[505 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
500  439.20  17.53
501  439.30  17.54
502  439.40  17.54
503  439.50  17.54
504  439.61  17.52

[505 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
501  439.30  17.54
502  439.40  17.54
503  439.50  17.54
504  439.61  17.52
505  439.62  17.52

[506 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
501  439.30  17.54
502  439.40  17.54
503  439.50  17.54
504  439.61  17.52
505  439.62  17.52

[506 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
502  439.40  17.54
503  439.50  17.54
504  439.61  17.52
505  439.62  17.52
506  439.71  17.52

[507 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
502  439.40  17.54
503  439.50  17.54
504  439.61  17.52
505  439.62  17.52
506  439.71  17.52

[507 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
503  439.50  17.54
504  439.61  17.52
505  439.62  17.52
506  439.71  17.52
507  439.72  17.17

[508 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
503  439.50  17.54
504  439.61  17.52
505  439.62  17.52
506  439.71  17.52
507  439.72  17.17

[508 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
504  439.61  17.52
505  439.62  17.52
506  439.71  17.52
507  439.72  17.17
508  439.73  17.52

[509 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
504  439.61  17.52
505  439.62  17.52
506  439.71  17.52
507  439.72  17.17
508  439.73  17.52

[509 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
505  439.62  17.52
506  439.71  17.52
507  439.72  17.17
508  439.73  17.52
509  439.74  17.54

[510 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
505  439.62  17.52
506  439.71  17.52
507  439.72  17.17
508  439.73  17.52
509  439.74  17.54

[510 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
506  439.71  17.52
507  439.72  17.17
508  439.73  17.52
509  439.74  17.54
510  439.75  17.25

[511 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
507  439.72  17.17
508  439.73  17.52
509  439.74  17.54
510  439.75  17.25
511  439.75  17.54

[512 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
507  439.72  17.17
508  439.73  17.52
509  439.74  17.54
510  439.75  17.25
511  439.75  17.54

[512 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
508  439.73  17.52
509  439.74  17.54
510  439.75  17.25
511  439.75  17.54
512  441.10  19.10

[513 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
508  439.73  17.52
509  439.74  17.54
510  439.75  17.25
511  439.75  17.54
512  441.10  19.10

[513 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
509  439.74  17.54
510  439.75  17.25
511  439.75  17.54
512  441.10  19.10
513  441.20    19.

[514 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
509  439.74  17.54
510  439.75  17.25
511  439.75  17.54
512  441.10  19.10
513  441.20    19.

[514 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
510  439.75  17.25
511  439.75  17.54
512  441.10  19.10
513  441.20    19.
514  441.30  19.10

[515 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
510  439.75  17.25
511  439.75  17.54
512  441.10  19.10
513  441.20    19.
514  441.30  19.10

[515 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
511  439.75  17.54
512  441.10  19.10
513  441.20    19.
514  441.30  19.10
515  442.10  18.24

[516 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
512  441.10  19.10
513  441.20    19.
514  441.30  19.10
515  442.10  18.24
516  442.10  19.20

[517 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
512  441.10  19.10
513  441.20    19.
514  441.30  19.10
515  442.10  18.24
516  442.10  19.20

[517 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
513  441.20    19.
514  441.30  19.10
515  442.10  18.24
516  442.10  19.20
517  442.20  18.24

[518 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
514  441.30  19.10
515  442.10  18.24
516  442.10  19.20
517  442.20  18.24
518  442.20  36.40

[519 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
514  441.30  19.10
515  442.10  18.24
516  442.10  19.20
517  442.20  18.24
518  442.20  36.40

[519 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
515  442.10  18.24
516  442.10  19.20
517  442.20  18.24
518  442.20  36.40
519  442.30  19.20

[520 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
515  442.10  18.24
516  442.10  19.20
517  442.20  18.24
518  442.20  36.40
519  442.30  19.20

[520 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
516  442.10  19.20
517  442.20  18.24
518  442.20  36.40
519  442.30  19.20
520  451.10  19.30

[521 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
516  442.10  19.20
517  442.20  18.24
518  442.20  36.40
519  442.30  19.20
520  451.10  19.30

[521 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
517  442.20  18.24
518  442.20  36.40
519  442.30  19.20
520  451.10  19.30
521  451.20  19.30

[522 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
517  442.20  18.24
518  442.20  36.40
519  442.30  19.20
520  451.10  19.30
521  451.20  19.30

[522 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
518  442.20  36.40
519  442.30  19.20
520  451.10  19.30
521  451.20  19.30
522  451.30  19.30

[523 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
518  442.20  36.40
519  442.30  19.20
520  451.10  19.30
521  451.20  19.30
522  451.30  19.30

[523 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
519  442.30  19.20
520  451.10  19.30
521  451.20  19.30
522  451.30  19.30
523  451.40  19.30

[524 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
519  442.30  19.20
520  451.10  19.30
521  451.20  19.30
522  451.30  19.30
523  451.40  19.30

[524 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
520  451.10  19.30
521  451.20  19.30
522  451.30  19.30
523  451.40  19.30
524  452.00  19.30

[525 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
521  451.20  19.30
522  451.30  19.30
523  451.40  19.30
524  452.00  19.30
525  452.00  33.10

[526 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
521  451.20  19.30
522  451.30  19.30
523  451.40  19.30
524  452.00  19.30
525  452.00  33.10

[526 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
522  451.30  19.30
523  451.40  19.30
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*

[527 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
522  451.30  19.30
523  451.40  19.30
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*

[527 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
523  451.40  19.30
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22

[528 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
523  451.40  19.30
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22

[528 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22

[529 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22

[529 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22

[529 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
524  452.00  19.30
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22

[529 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22
529  453.41  18.21

[530 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
525  452.00  33.10
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22
529  453.41  18.21

[530 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
526  453.10  18.2*
527  453.20  18.22
528  453.30  18.22
529  453.41  18.21
530  453.42  18.22

[531 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
527  453.20  18.22
528  453.30  18.22
529  453.41  18.21
530  453.42  18.22
531  453.42  25.24

[532 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
527  453.20  18.22
528  453.30  18.22
529  453.41  18.21
530  453.42  18.22
531  453.42  25.24

[532 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
528  453.30  18.22
529  453.41  18.21
530  453.42  18.22
531  453.42  25.24
532  453.43  18.10

[533 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
528  453.30  18.22
529  453.41  18.21
530  453.42  18.22
531  453.42  25.24
532  453.43  18.10

[533 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
529  453.41  18.21
530  453.42  18.22
531  453.42  25.24
532  453.43  18.10
533  453.44  18.22

[534 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
529  453.41  18.21
530  453.42  18.22
531  453.42  25.24
532  453.43  18.10
533  453.44  18.22

[534 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
530  453.42  18.22
531  453.42  25.24
532  453.43  18.10
533  453.44  18.22
534  453.51  18.23

[535 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
530  453.42  18.22
531  453.42  25.24
532  453.43  18.10
533  453.44  18.22
534  453.51  18.23

[535 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
531  453.42  25.24
532  453.43  18.10
533  453.44  18.22
534  453.51  18.23
535  453.52  18.23

[536 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
531  453.42  25.24
532  453.43  18.10
533  453.44  18.22
534  453.51  18.23
535  453.52  18.23

[536 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
532  453.43  18.10
533  453.44  18.22
534  453.51  18.23
535  453.52  18.23
536  453.53  18.23

[537 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
532  453.43  18.10
533  453.44  18.22
534  453.51  18.23
535  453.52  18.23
536  453.53  18.23

[537 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
533  453.44  18.22
534  453.51  18.23
535  453.52  18.23
536  453.53  18.23
537  453.61  18.24

[538 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
533  453.44  18.22
534  453.51  18.23
535  453.52  18.23
536  453.53  18.23
537  453.61  18.24

[538 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
534  453.51  18.23
535  453.52  18.23
536  453.53  18.23
537  453.61  18.24
538  453.62  18.24

[539 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
534  453.51  18.23
535  453.52  18.23
536  453.53  18.23
537  453.61  18.24
538  453.62  18.24

[539 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
535  453.52  18.23
536  453.53  18.23
537  453.61  18.24
538  453.62  18.24
539  453.70  18.24

[540 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
536  453.53  18.23
537  453.61  18.24
538  453.62  18.24
539  453.70  18.24
540  453.70  36.63

[541 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
536  453.53  18.23
537  453.61  18.24
538  453.62  18.24
539  453.70  18.24
540  453.70  36.63

[541 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
537  453.61  18.24
538  453.62  18.24
539  453.70  18.24
540  453.70  36.63
541  453.80  18.2*

[542 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
537  453.61  18.24
538  453.62  18.24
539  453.70  18.24
540  453.70  36.63
541  453.80  18.2*

[542 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
538  453.62  18.24
539  453.70  18.24
540  453.70  36.63
541  453.80  18.2*
542  454.11  18.22

[543 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
538  453.62  18.24
539  453.70  18.24
540  453.70  36.63
541  453.80  18.2*
542  454.11  18.22

[543 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
539  453.70  18.24
540  453.70  36.63
541  453.80  18.2*
542  454.11  18.22
543  454.12  18.22

[544 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
539  453.70  18.24
540  453.70  36.63
541  453.80  18.2*
542  454.11  18.22
543  454.12  18.22

[544 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
540  453.70  36.63
541  453.80  18.2*
542  454.11  18.22
543  454.12  18.22
544  454.13  18.23

[545 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
540  453.70  36.63
541  453.80  18.2*
542  454.11  18.22
543  454.12  18.22
544  454.13  18.23

[545 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
541  453.80  18.2*
542  454.11  18.22
543  454.12  18.22
544  454.13  18.23
545  454.20  18.24

[546 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
541  453.80  18.2*
542  454.11  18.22
543  454.12  18.22
544  454.13  18.23
545  454.20  18.24

[546 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
542  454.11  18.22
543  454.12  18.22
544  454.13  18.23
545  454.20  18.24
546  455.10  17.40

[547 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
542  454.11  18.22
543  454.12  18.22
544  454.13  18.23
545  454.20  18.24
546  455.10  17.40

[547 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
543  454.12  18.22
544  454.13  18.23
545  454.20  18.24
546  455.10  17.40
547  455.20  17.40

[548 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
543  454.12  18.22
544  454.13  18.23
545  454.20  18.24
546  455.10  17.40
547  455.20  17.40

[548 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
544  454.13  18.23
545  454.20  18.24
546  455.10  17.40
547  455.20  17.40
548    455.  17.40

[549 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
544  454.13  18.23
545  454.20  18.24
546  455.10  17.40
547  455.20  17.40
548    455.  17.40

[549 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
545  454.20  18.24
546  455.10  17.40
547  455.20  17.40
548    455.  17.40
549  455.40  17.40

[550 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
545  454.20  18.24
546  455.10  17.40
547  455.20  17.40
548    455.  17.40
549  455.40  17.40

[550 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
546  455.10  17.40
547  455.20  17.40
548    455.  17.40
549  455.40  17.40
550  456.10  18.30

[551 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
546  455.10  17.40
547  455.20  17.40
548    455.  17.40
549  455.40  17.40
550  456.10  18.30

[551 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
547  455.20  17.40
548    455.  17.40
549  455.40  17.40
550  456.10  18.30
551  456.20  01.25

[552 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
547  455.20  17.40
548    455.  17.40
549  455.40  17.40
550  456.10  18.30
551  456.20  01.25

[552 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
548    455.  17.40
549  455.40  17.40
550  456.10  18.30
551  456.20  01.25
552  456.31  18.30

[553 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
548    455.  17.40
549  455.40  17.40
550  456.10  18.30
551  456.20  01.25
552  456.31  18.30

[553 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
549  455.40  17.40
550  456.10  18.30
551  456.20  01.25
552  456.31  18.30
553  456.32  18.30

[554 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
549  455.40  17.40
550  456.10  18.30
551  456.20  01.25
552  456.31  18.30
553  456.32  18.30

[554 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
550  456.10  18.30
551  456.20  01.25
552  456.31  18.30
553  456.32  18.30
554  456.33  18.30

[555 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
551  456.20  01.25
552  456.31  18.30
553  456.32  18.30
554  456.33  18.30
555  461.10  20.10

[556 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
551  456.20  01.25
552  456.31  18.30
553  456.32  18.30
554  456.33  18.30
555  461.10  20.10

[556 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
552  456.31  18.30
553  456.32  18.30
554  456.33  18.30
555  461.10  20.10
556  461.20  20.10

[557 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
552  456.31  18.30
553  456.32  18.30
554  456.33  18.30
555  461.10  20.10
556  461.20  20.10

[557 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
553  456.32  18.30
554  456.33  18.30
555  461.10  20.10
556  461.20  20.10
557  461.30  20.10

[558 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
553  456.32  18.30
554  456.33  18.30
555  461.10  20.10
556  461.20  20.10
557  461.30  20.10

[558 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
554  456.33  18.30
555  461.10  20.10
556  461.20  20.10
557  461.30  20.10
558  462.11  20.20

[559 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
554  456.33  18.30
555  461.10  20.10
556  461.20  20.10
557  461.30  20.10
558  462.11  20.20

[559 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
555  461.10  20.10
556  461.20  20.10
557  461.30  20.10
558  462.11  20.20
559  462.12  20.20

[560 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
555  461.10  20.10
556  461.20  20.10
557  461.30  20.10
558  462.11  20.20
559  462.12  20.20

[560 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
556  461.20  20.10
557  461.30  20.10
558  462.11  20.20
559  462.12  20.20
560  462.21  20.20

[561 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
556  461.20  20.10
557  461.30  20.10
558  462.11  20.20
559  462.12  20.20
560  462.21  20.20

[561 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
557  461.30  20.10
558  462.11  20.20
559  462.12  20.20
560  462.21  20.20
561  462.22  20.20

[562 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
557  461.30  20.10
558  462.11  20.20
559  462.12  20.20
560  462.21  20.20
561  462.22  20.20

[562 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
558  462.11  20.20
559  462.12  20.20
560  462.21  20.20
561  462.22  20.20
562  462.30  20.20

[563 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
558  462.11  20.20
559  462.12  20.20
560  462.21  20.20
561  462.22  20.20
562  462.30  20.20

[563 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
559  462.12  20.20
560  462.21  20.20
561  462.22  20.20
562  462.30  20.20
563  462.40  20.10

[564 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
559  462.12  20.20
560  462.21  20.20
561  462.22  20.20
562  462.30  20.20
563  462.40  20.10

[564 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
560  462.21  20.20
561  462.22  20.20
562  462.30  20.20
563  462.40  20.10
564    463.  20.30

[565 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
560  462.21  20.20
561  462.22  20.20
562  462.30  20.20
563  462.40  20.10
564    463.  20.30

[565 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
561  462.22  20.20
562  462.30  20.20
563  462.40  20.10
564    463.  20.30
565  463.20  20.30

[566 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
561  462.22  20.20
562  462.30  20.20
563  462.40  20.10
564    463.  20.30
565  463.20  20.30

[566 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
562  462.30  20.20
563  462.40  20.10
564    463.  20.30
565  463.20  20.30
566  463.30  20.10

[567 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
563  462.40  20.10
564    463.  20.30
565  463.20  20.30
566  463.30  20.10
567  463.30  20.30

[568 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
563  462.40  20.10
564    463.  20.30
565  463.20  20.30
566  463.30  20.10
567  463.30  20.30

[568 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
564    463.  20.30
565  463.20  20.30
566  463.30  20.10
567  463.30  20.30
568  464.10  20.40

[569 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
564    463.  20.30
565  463.20  20.30
566  463.30  20.10
567  463.30  20.30
568  464.10  20.40

[569 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
565  463.20  20.30
566  463.30  20.10
567  463.30  20.30
568  464.10  20.40
569  464.20  20.40

[570 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
565  463.20  20.30
566  463.30  20.10
567  463.30  20.30
568  464.10  20.40
569  464.20  20.40

[570 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
566  463.30  20.10
567  463.30  20.30
568  464.10  20.40
569  464.20  20.40
570  465.10  20.30

[571 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
567  463.30  20.30
568  464.10  20.40
569  464.20  20.40
570  465.10  20.30
571  465.10  20.51

[572 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
568  464.10  20.40
569  464.20  20.40
570  465.10  20.30
571  465.10  20.51
572  465.10  36.63

[573 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
568  464.10  20.40
569  464.20  20.40
570  465.10  20.30
571  465.10  20.51
572  465.10  36.63

[573 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
569  464.20  20.40
570  465.10  20.30
571  465.10  20.51
572  465.10  36.63
573  465.20  20.10

[574 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
569  464.20  20.40
570  465.10  20.30
571  465.10  20.51
572  465.10  36.63
573  465.20  20.10

[574 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
570  465.10  20.30
571  465.10  20.51
572  465.10  36.63
573  465.20  20.10
574  465.30  20.10

[575 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
570  465.10  20.30
571  465.10  20.51
572  465.10  36.63
573  465.20  20.10
574  465.30  20.10

[575 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
571  465.10  20.51
572  465.10  36.63
573  465.20  20.10
574  465.30  20.10
575  465.40  19.30

[576 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
571  465.10  20.51
572  465.10  36.63
573  465.20  20.10
574  465.30  20.10
575  465.40  19.30

[576 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
572  465.10  36.63
573  465.20  20.10
574  465.30  20.10
575  465.40  19.30
576  466.10  20.52

[577 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
572  465.10  36.63
573  465.20  20.10
574  465.30  20.10
575  465.40  19.30
576  466.10  20.52

[577 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
573  465.20  20.10
574  465.30  20.10
575  465.40  19.30
576  466.10  20.52
577  466.20  20.52

[578 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
573  465.20  20.10
574  465.30  20.10
575  465.40  19.30
576  466.10  20.52
577  466.20  20.52

[578 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
574  465.30  20.10
575  465.40  19.30
576  466.10  20.52
577  466.20  20.52
578  466.30  36.62

[579 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
574  465.30  20.10
575  465.40  19.30
576  466.10  20.52
577  466.20  20.52
578  466.30  36.62

[579 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
575  465.40  19.30
576  466.10  20.52
577  466.20  20.52
578  466.30  36.62
579  467.10  36.13

[580 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
576  466.10  20.52
577  466.20  20.52
578  466.30  36.62
579  467.10  36.13
580  467.10  36.14

[581 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
577  466.20   20.52
578  466.30   36.62
579  467.10   36.13
580  467.10   36.14
581  467.20  000.00

[582 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
577  466.20   20.52
578  466.30   36.62
579  467.10   36.13
580  467.10   36.14
581  467.20  000.00

[582 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
578  466.30   36.62
579  467.10   36.13
580  467.10   36.14
581  467.20  000.00
582    467.   36.11

[583 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
578  466.30   36.62
579  467.10   36.13
580  467.10   36.14
581  467.20  000.00
582    467.   36.11

[583 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
579  467.10   36.13
580  467.10   36.14
581  467.20  000.00
582    467.   36.11
583  467.40   36.11

[584 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
579  467.10   36.13
580  467.10   36.14
581  467.20  000.00
582    467.   36.11
583  467.40   36.11

[584 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
580  467.10   36.14
581  467.20  000.00
582    467.   36.11
583  467.40   36.11
584  467.50   36.12

[585 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
581  467.20  000.00
582    467.   36.11
583  467.40   36.11
584  467.50   36.12
585  467.50   36.14

[586 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
581  467.20  000.00
582    467.   36.11
583  467.40   36.11
584  467.50   36.12
585  467.50   36.14

[586 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
582    467.  36.11
583  467.40  36.11
584  467.50  36.12
585  467.50  36.14
586  467.60  20.51

[587 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
582    467.  36.11
583  467.40  36.11
584  467.50  36.12
585  467.50  36.14
586  467.60  20.51

[587 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
583  467.40  36.11
584  467.50  36.12
585  467.50  36.14
586  467.60  20.51
587  467.70  36.11

[588 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
584  467.50  36.12
585  467.50  36.14
586  467.60  20.51
587  467.70  36.11
588  467.70  36.14

[589 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
584  467.50  36.12
585  467.50  36.14
586  467.60  20.51
587  467.70  36.11
588  467.70  36.14

[589 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
585  467.50  36.14
586  467.60  20.51
587  467.70  36.11
588  467.70  36.14
589  467.80  36.15

[590 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
585  467.50  36.14
586  467.60  20.51
587  467.70  36.11
588  467.70  36.14
589  467.80  36.15

[590 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
586  467.60  20.51
587  467.70  36.11
588  467.70  36.14
589  467.80  36.15
590  467.90  36.14

[591 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
586  467.60  20.51
587  467.70  36.11
588  467.70  36.14
589  467.80  36.15
590  467.90  36.14

[591 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
587  467.70  36.11
588  467.70  36.14
589  467.80  36.15
590  467.90  36.14
591  471.10  21.11

[592 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
587  467.70  36.11
588  467.70  36.14
589  467.80  36.15
590  467.90  36.14
591  471.10  21.11

[592 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
588  467.70  36.14
589  467.80  36.15
590  467.90  36.14
591  471.10  21.11
592  471.20  21.12

[593 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
588  467.70  36.14
589  467.80  36.15
590  467.90  36.14
591  471.10  21.11
592  471.20  21.12

[593 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
589  467.80  36.15
590  467.90  36.14
591  471.10  21.11
592  471.20  21.12
593  471.31  21.12

[594 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
589  467.80  36.15
590  467.90  36.14
591  471.10  21.11
592  471.20  21.12
593  471.31  21.12

[594 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
590  467.90  36.14
591  471.10  21.11
592  471.20  21.12
593  471.31  21.12
594  471.32  21.12

[595 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
590  467.90  36.14
591  471.10  21.11
592  471.20  21.12
593  471.31  21.12
594  471.32  21.12

[595 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
591  471.10  21.11
592  471.20  21.12
593  471.31  21.12
594  471.32  21.12
595  471.33  21.12

[596 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
591  471.10  21.11
592  471.20  21.12
593  471.31  21.12
594  471.32  21.12
595  471.33  21.12

[596 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
592  471.20  21.12
593  471.31  21.12
594  471.32  21.12
595  471.33  21.12
596  471.34  21.12

[597 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
592  471.20  21.12
593  471.31  21.12
594  471.32  21.12
595  471.33  21.12
596  471.34  21.12

[597 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
593  471.31  21.12
594  471.32  21.12
595  471.33  21.12
596  471.34  21.12
597  472.11  21.24

[598 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
593  471.31  21.12
594  471.32  21.12
595  471.33  21.12
596  471.34  21.12
597  472.11  21.24

[598 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
594  471.32  21.12
595  471.33  21.12
596  471.34  21.12
597  472.11  21.24
598  472.12  21.24

[599 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
594  471.32  21.12
595  471.33  21.12
596  471.34  21.12
597  472.11  21.24
598  472.12  21.24

[599 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
595  471.33  21.12
596  471.34  21.12
597  472.11  21.24
598  472.12  21.24
599  472.20  21.22

[600 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
595  471.33  21.12
596  471.34  21.12
597  472.11  21.24
598  472.12  21.24
599  472.20  21.22

[600 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
596  471.34  21.12
597  472.11  21.24
598  472.12  21.24
599  472.20  21.22
600  472.30  21.23

[601 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
596  471.34  21.12
597  472.11  21.24
598  472.12  21.24
599  472.20  21.22
600  472.30  21.23

[601 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
597  472.11  21.24
598  472.12  21.24
599  472.20  21.22
600  472.30  21.23
601  472.41  21.21

[602 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
597  472.11  21.24
598  472.12  21.24
599  472.20  21.22
600  472.30  21.23
601  472.41  21.21

[602 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
598  472.12  21.24
599  472.20  21.22
600  472.30  21.23
601  472.41  21.21
602  472.42  21.21

[603 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
598  472.12  21.24
599  472.20  21.22
600  472.30  21.23
601  472.41  21.21
602  472.42  21.21

[603 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
599  472.20  21.22
600  472.30  21.23
601  472.41  21.21
602  472.42  21.21
603  472.43  21.21

[604 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
599  472.20  21.22
600  472.30  21.23
601  472.41  21.21
602  472.42  21.21
603  472.43  21.21

[604 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
600  472.30  21.23
601  472.41  21.21
602  472.42  21.21
603  472.43  21.21
604  472.44  21.21

[605 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
601  472.41  21.21
602  472.42  21.21
603  472.43  21.21
604  472.44  21.21
605  472.44  21.22

[606 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
602  472.42  21.21
603  472.43  21.21
604  472.44  21.21
605  472.44  21.22
606  472.44  21.25

[607 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
602  472.42  21.21
603  472.43  21.21
604  472.44  21.21
605  472.44  21.22
606  472.44  21.25

[607 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
603  472.43  21.21
604  472.44  21.21
605  472.44  21.22
606  472.44  21.25
607  472.50  21.12

[608 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
604  472.44  21.21
605  472.44  21.22
606  472.44  21.25
607  472.50  21.12
608  472.60  21.12

[609 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
604  472.44  21.21
605  472.44  21.22
606  472.44  21.25
607  472.50  21.12
608  472.60  21.12

[609 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
605  472.44  21.22
606  472.44  21.25
607  472.50  21.12
608  472.60  21.12
609  472.70  21.12

[610 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
605  472.44  21.22
606  472.44  21.25
607  472.50  21.12
608  472.60  21.12
609  472.70  21.12

[610 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
606  472.44  21.25
607  472.50  21.12
608  472.60  21.12
609  472.70  21.12
610  472.80  21.25

[611 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
606  472.44  21.25
607  472.50  21.12
608  472.60  21.12
609  472.70  21.12
610  472.80  21.25

[611 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
607  472.50  21.12
608  472.60  21.12
609  472.70  21.12
610  472.80  21.25
611  473.10  22.21

[612 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
608  472.60  21.12
609  472.70  21.12
610  472.80  21.25
611  473.10  22.21
612  473.10  22.22

[613 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
608  472.60  21.12
609  472.70  21.12
610  472.80  21.25
611  473.10  22.21
612  473.10  22.22

[613 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
609  472.70  21.12
610  472.80  21.25
611  473.10  22.21
612  473.10  22.22
613  473.21  22.22

[614 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
609  472.70  21.12
610  472.80  21.25
611  473.10  22.21
612  473.10  22.22
613  473.21  22.22

[614 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
610  472.80  21.25
611  473.10  22.21
612  473.10  22.22
613  473.21  22.22
614  473.22  22.22

[615 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
610  472.80  21.25
611  473.10  22.21
612  473.10  22.22
613  473.21  22.22
614  473.22  22.22

[615 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
611  473.10  22.21
612  473.10  22.22
613  473.21  22.22
614  473.22  22.22
615  473.23  22.22

[616 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
611  473.10  22.21
612  473.10  22.22
613  473.21  22.22
614  473.22  22.22
615  473.23  22.22

[616 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
612  473.10  22.22
613  473.21  22.22
614  473.22  22.22
615  473.23  22.22
616  473.30  22.23

[617 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
612  473.10  22.22
613  473.21  22.22
614  473.22  22.22
615  473.23  22.22
616  473.30  22.23

[617 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
613  473.21  22.22
614  473.22  22.22
615  473.23  22.22
616  473.30  22.23
617  473.30  22.24

[618 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
614  473.22  22.22
615  473.23  22.22
616  473.30  22.23
617  473.30  22.24
618  473.30  22.25

[619 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
614  473.22  22.22
615  473.23  22.22
616  473.30  22.23
617  473.30  22.24
618  473.30  22.25

[619 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
615  473.23  22.22
616  473.30  22.23
617  473.30  22.24
618  473.30  22.25
619  474.10  22.11

[620 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
615  473.23  22.22
616  473.30  22.23
617  473.30  22.24
618  473.30  22.25
619  474.10  22.11

[620 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
616  473.30  22.23
617  473.30  22.24
618  473.30  22.25
619  474.10  22.11
620  474.20  22.15

[621 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
616  473.30  22.23
617  473.30  22.24
618  473.30  22.25
619  474.10  22.11
620  474.20  22.15

[621 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
617  473.30  22.24
618  473.30  22.25
619  474.10  22.11
620  474.20  22.15
621  474.30  22.11

[622 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
617  473.30  22.24
618  473.30  22.25
619  474.10  22.11
620  474.20  22.15
621  474.30  22.11

[622 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
618  473.30  22.25
619  474.10  22.11
620  474.20  22.15
621  474.30  22.11
622  474.40  22.12

[623 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
619  474.10  22.11
620  474.20  22.15
621  474.30  22.11
622  474.40  22.12
623  474.40  22.13

[624 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
619  474.10  22.11
620  474.20  22.15
621  474.30  22.11
622  474.40  22.12
623  474.40  22.13

[624 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
620  474.20  22.15
621  474.30  22.11
622  474.40  22.12
623  474.40  22.13
624  474.50  22.15

[625 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
620  474.20  22.15
621  474.30  22.11
622  474.40  22.12
623  474.40  22.13
624  474.50  22.15

[625 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
621  474.30  22.11
622  474.40  22.12
623  474.40  22.13
624  474.50  22.15
625  481.10  25.11

[626 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
621  474.30  22.11
622  474.40  22.12
623  474.40  22.13
624  474.50  22.15
625  481.10  25.11

[626 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
622  474.40  22.12
623  474.40  22.13
624  474.50  22.15
625  481.10  25.11
626  481.21  25.13

[627 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
622  474.40  22.12
623  474.40  22.13
624  474.50  22.15
625  481.10  25.11
626  481.21  25.13

[627 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
623  474.40  22.13
624  474.50  22.15
625  481.10  25.11
626  481.21  25.13
627  481.22  25.13

[628 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
623  474.40  22.13
624  474.50  22.15
625  481.10  25.11
626  481.21  25.13
627  481.22  25.13

[628 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
624  474.50  22.15
625  481.10  25.11
626  481.21  25.13
627  481.22  25.13
628  481.23  25.13

[629 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
624  474.50  22.15
625  481.10  25.11
626  481.21  25.13
627  481.22  25.13
628  481.23  25.13

[629 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
625  481.10  25.11
626  481.21  25.13
627  481.22  25.13
628  481.23  25.13
629  481.24  19.30

[630 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
625  481.10  25.11
626  481.21  25.13
627  481.22  25.13
628  481.23  25.13
629  481.24  19.30

[630 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
626  481.21  25.13
627  481.22  25.13
628  481.23  25.13
629  481.24  19.30
630  481.25  25.13

[631 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
626  481.21  25.13
627  481.22  25.13
628  481.23  25.13
629  481.24  19.30
630  481.25  25.13

[631 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
627  481.22  25.13
628  481.23  25.13
629  481.24  19.30
630  481.25  25.13
631  481.26  25.13

[632 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
627  481.22  25.13
628  481.23  25.13
629  481.24  19.30
630  481.25  25.13
631  481.26  25.13

[632 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
628  481.23  25.13
629  481.24  19.30
630  481.25  25.13
631  481.26  25.13
632  481.27  36.40

[633 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
629  481.24  19.30
630  481.25  25.13
631  481.26  25.13
632  481.27  36.40
633  481.27  36.50

[634 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
630  481.25   25.13
631  481.26   25.13
632  481.27   36.40
633  481.27   36.50
634  481.28  000.00

[635 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
630  481.25   25.13
631  481.26   25.13
632  481.27   36.40
633  481.27   36.50
634  481.28  000.00

[635 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
631  481.26   25.13
632  481.27   36.40
633  481.27   36.50
634  481.28  000.00
635  482.00   25.12

[636 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
632  481.27   36.40
633  481.27   36.50
634  481.28  000.00
635  482.00   25.12
636  482.00   50.20

[637 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
632  481.27   36.40
633  481.27   36.50
634  481.28  000.00
635  482.00   25.12
636  482.00   50.20

[637 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
633  481.27   36.50
634  481.28  000.00
635  482.00   25.12
636  482.00   50.20
637  483.00   19.30

[638 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
634  481.28  000.00
635  482.00   25.12
636  482.00   50.20
637  483.00   19.30
638  483.00   25.21

[639 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
635  482.00  25.12
636  482.00  50.20
637  483.00  19.30
638  483.00  25.21
639  483.00  25.22

[640 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
636  482.00  50.20
637  483.00  19.30
638  483.00  25.21
639  483.00  25.22
640  483.00  25.23

[641 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
637  483.00  19.30
638  483.00  25.21
639  483.00  25.22
640  483.00  25.23
641  483.00  25.24

[642 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
638  483.00  25.21
639  483.00  25.22
640  483.00  25.23
641  483.00  25.24
642  483.00  33.10

[643 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
639  483.00  25.22
640  483.00  25.23
641  483.00  25.24
642  483.00  33.10
643  483.00  36.11

[644 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
640  483.00  25.23
641  483.00  25.24
642  483.00  33.10
643  483.00  36.11
644  483.00  36.14

[645 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
641  483.00  25.24
642  483.00  33.10
643  483.00  36.11
644  483.00  36.14
645  483.00  36.63

[646 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
641  483.00  25.24
642  483.00  33.10
643  483.00  36.11
644  483.00  36.14
645  483.00  36.63

[646 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
642  483.00  33.10
643  483.00  36.11
644  483.00  36.14
645  483.00  36.63
646  491.10  36.22

[647 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
642  483.00  33.10
643  483.00  36.11
644  483.00  36.14
645  483.00  36.63
646  491.10  36.22

[647 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
643  483.00  36.11
644  483.00  36.14
645  483.00  36.63
646  491.10  36.22
647  491.20  36.22

[648 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
643  483.00  36.11
644  483.00  36.14
645  483.00  36.63
646  491.10  36.22
647  491.20  36.22

[648 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
644  483.00  36.14
645  483.00  36.63
646  491.10  36.22
647  491.20  36.22
648  491.30  36.61

[649 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
644  483.00  36.14
645  483.00  36.63
646  491.10  36.22
647  491.20  36.22
648  491.30  36.61

[649 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
645  483.00  36.63
646  491.10  36.22
647  491.20  36.22
648  491.30  36.61
649  491.40  36.22

[650 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
645  483.00  36.63
646  491.10  36.22
647  491.20  36.22
648  491.30  36.61
649  491.40  36.22

[650 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
646  491.10  36.22
647  491.20  36.22
648  491.30  36.61
649  491.40  36.22
650  491.50  36.22

[651 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
646  491.10  36.22
647  491.20  36.22
648  491.30  36.61
649  491.40  36.22
650  491.50  36.22

[651 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
647  491.20  36.22
648  491.30  36.61
649  491.40  36.22
650  491.50  36.22
651  491.60  36.21

[652 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
647  491.20  36.22
648  491.30  36.61
649  491.40  36.22
650  491.50  36.22
651  491.60  36.21

[652 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
648  491.30  36.61
649  491.40  36.22
650  491.50  36.22
651  491.60  36.21
652  492.10  36.30

[653 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
648  491.30  36.61
649  491.40  36.22
650  491.50  36.22
651  491.60  36.21
652  492.10  36.30

[653 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
649  491.40  36.22
650  491.50  36.22
651  491.60  36.21
652  492.10  36.30
653  492.20  36.30

[654 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
649  491.40  36.22
650  491.50  36.22
651  491.60  36.21
652  492.10  36.30
653  492.20  36.30

[654 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
650  491.50  36.22
651  491.60  36.21
652  492.10  36.30
653  492.20  36.30
654  493.10  92.11

[655 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
650  491.50  36.22
651  491.60  36.21
652  492.10  36.30
653  492.20  36.30
654  493.10  92.11

[655 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
651  491.60  36.21
652  492.10  36.30
653  492.20  36.30
654  493.10  92.11
655  493.20    74.

[656 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
651  491.60  36.21
652  492.10  36.30
653  492.20  36.30
654  493.10  92.11
655  493.20    74.

[656 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
652  492.10  36.30
653  492.20  36.30
654  493.10  92.11
655  493.20    74.
656  494.10  36.50

[657 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
652  492.10  36.30
653  492.20  36.30
654  493.10  92.11
655  493.20    74.
656  494.10  36.50

[657 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
653  492.20  36.30
654  493.10  92.11
655  493.20    74.
656  494.10  36.50
657  494.20  36.40

[658 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
653  492.20  36.30
654  493.10  92.11
655  493.20    74.
656  494.10  36.50
657  494.20  36.40

[658 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
654  493.10  92.11
655  493.20    74.
656  494.10  36.50
657  494.20  36.40
658  495.10  36.63

[659 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
654  493.10  92.11
655  493.20    74.
656  494.10  36.50
657  494.20  36.40
658  495.10  36.63

[659 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
655  493.20    74.
656  494.10  36.50
657  494.20  36.40
658  495.10  36.63
659  495.20  36.63

[660 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
655  493.20    74.
656  494.10  36.50
657  494.20  36.40
658  495.10  36.63
659  495.20  36.63

[660 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
656  494.10  36.50
657  494.20  36.40
658  495.10  36.63
659  495.20  36.63
660  495.30  36.63

[661 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
656  494.10  36.50
657  494.20  36.40
658  495.10  36.63
659  495.20  36.63
660  495.30  36.63

[661 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
657  494.20  36.40
658  495.10  36.63
659  495.20  36.63
660  495.30  36.63
661  500.10  45.21

[662 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
657  494.20  36.40
658  495.10  36.63
659  495.20  36.63
660  495.30  36.63
661  500.10  45.21

[662 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
658  495.10  36.63
659  495.20  36.63
660  495.30  36.63
661  500.10  45.21
662  500.20  45.11

[663 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
658  495.10  36.63
659  495.20  36.63
660  495.30  36.63
661  500.10  45.21
662  500.20  45.11

[663 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
659  495.20  36.63
660  495.30  36.63
661  500.10  45.21
662  500.20  45.11
663  501.10  45.21

[664 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
659  495.20  36.63
660  495.30  36.63
661  500.10  45.21
662  500.20  45.11
663  501.10  45.21

[664 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
660  495.30  36.63
661  500.10  45.21
662  500.20  45.11
663  501.10  45.21
664  501.20  45.22

[665 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
661  500.10  45.21
662  500.20  45.11
663  501.10  45.21
664  501.20  45.22
665  501.30  45.25

[666 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
661  500.10  45.21
662  500.20  45.11
663  501.10  45.21
664  501.20  45.22
665  501.30  45.25

[666 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
662  500.20  45.11
663  501.10  45.21
664  501.20  45.22
665  501.30  45.25
666  501.40  45.22

[667 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
662  500.20  45.11
663  501.10  45.21
664  501.20  45.22
665  501.30  45.25
666  501.40  45.22

[667 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
663  501.10  45.21
664  501.20  45.22
665  501.30  45.25
666  501.40  45.22
667  501.50  45.25

[668 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
663  501.10  45.21
664  501.20  45.22
665  501.30  45.25
666  501.40  45.22
667  501.50  45.25

[668 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
664  501.20  45.22
665  501.30  45.25
666  501.40  45.22
667  501.50  45.25
668  501.60  45.25

[669 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
664  501.20  45.22
665  501.30  45.25
666  501.40  45.22
667  501.50  45.25
668  501.60  45.25

[669 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
665  501.30  45.25
666  501.40  45.22
667  501.50  45.25
668  501.60  45.25
669  501.70  45.11

[670 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
666  501.40  45.22
667  501.50  45.25
668  501.60  45.25
669  501.70  45.11
670  501.70  45.22

[671 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
667  501.50  45.25
668  501.60  45.25
669  501.70  45.11
670  501.70  45.22
671  501.70  45.25

[672 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
667  501.50  45.25
668  501.60  45.25
669  501.70  45.11
670  501.70  45.22
671  501.70  45.25

[672 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
668  501.60  45.25
669  501.70  45.11
670  501.70  45.22
671  501.70  45.25
672  502.10  45.21

[673 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
668  501.60  45.25
669  501.70  45.11
670  501.70  45.22
671  501.70  45.25
672  502.10  45.21

[673 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
669  501.70  45.11
670  501.70  45.22
671  501.70  45.25
672  502.10  45.21
673  502.20  45.11

[674 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
669  501.70  45.11
670  501.70  45.22
671  501.70  45.25
672  502.10  45.21
673  502.20  45.11

[674 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
670  501.70  45.22
671  501.70  45.25
672  502.10  45.21
673  502.20  45.11
674  502.30  45.21

[675 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
671  501.70  45.25
672  502.10  45.21
673  502.20  45.11
674  502.30  45.21
675  502.30  45.25

[676 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
671  501.70  45.25
672  502.10  45.21
673  502.20  45.11
674  502.30  45.21
675  502.30  45.25

[676 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
672  502.10  45.21
673  502.20  45.11
674  502.30  45.21
675  502.30  45.25
676  502.40  45.24

[677 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
672  502.10  45.21
673  502.20  45.11
674  502.30  45.21
675  502.30  45.25
676  502.40  45.24

[677 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
673  502.20  45.11
674  502.30  45.21
675  502.30  45.25
676  502.40  45.24
677  502.50  45.23

[678 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
673  502.20  45.11
674  502.30  45.21
675  502.30  45.25
676  502.40  45.24
677  502.50  45.23

[678 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
674  502.30  45.21
675  502.30  45.25
676  502.40  45.24
677  502.50  45.23
678  502.60  45.11

[679 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
675  502.30  45.25
676  502.40  45.24
677  502.50  45.23
678  502.60  45.11
679  502.60  45.24

[680 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
676  502.40  45.24
677  502.50  45.23
678  502.60  45.11
679  502.60  45.24
680  502.60  45.25

[681 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
676  502.40  45.24
677  502.50  45.23
678  502.60  45.11
679  502.60  45.24
680  502.60  45.25

[681 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
677  502.50  45.23
678  502.60  45.11
679  502.60  45.24
680  502.60  45.25
681  502.70  45.11

[682 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
678  502.60  45.11
679  502.60  45.24
680  502.60  45.25
681  502.70  45.11
682  502.70  45.12

[683 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
679  502.60  45.24
680  502.60  45.25
681  502.70  45.11
682  502.70  45.12
683  502.70  45.21

[684 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
680  502.60  45.25
681  502.70  45.11
682  502.70  45.12
683  502.70  45.21
684  502.70  45.23

[685 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
681  502.70  45.11
682  502.70  45.12
683  502.70  45.21
684  502.70  45.23
685  502.70  45.25

[686 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
682  502.70  45.12
683  502.70  45.21
684  502.70  45.23
685  502.70  45.25
686  502.70  45.50

[687 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
682  502.70  45.12
683  502.70  45.21
684  502.70  45.23
685  502.70  45.25
686  502.70  45.50

[687 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
683  502.70  45.21
684  502.70  45.23
685  502.70  45.25
686  502.70  45.50
687  503.10  45.34

[688 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
683  502.70  45.21
684  502.70  45.23
685  502.70  45.25
686  502.70  45.50
687  503.10  45.34

[688 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
684  502.70  45.23
685  502.70  45.25
686  502.70  45.50
687  503.10  45.34
688  503.20  45.33

[689 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
684  502.70  45.23
685  502.70  45.25
686  502.70  45.50
687  503.10  45.34
688  503.20  45.33

[689 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
685  502.70  45.25
686  502.70  45.50
687  503.10  45.34
688  503.20  45.33
689  503.30  45.33

[690 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
685  502.70  45.25
686  502.70  45.50
687  503.10  45.34
688  503.20  45.33
689  503.30  45.33

[690 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
686  502.70  45.50
687  503.10  45.34
688  503.20  45.33
689  503.30  45.33
690  503.40  45.32

[691 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
686  502.70  45.50
687  503.10  45.34
688  503.20  45.33
689  503.30  45.33
690  503.40  45.32

[691 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
687  503.10  45.34
688  503.20  45.33
689  503.30  45.33
690  503.40  45.32
691  503.50  45.31

[692 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
687  503.10  45.34
688  503.20  45.33
689  503.30  45.33
690  503.40  45.32
691  503.50  45.31

[692 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
688  503.20  45.33
689  503.30  45.33
690  503.40  45.32
691  503.50  45.31
692  503.60  45.31

[693 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
688  503.20  45.33
689  503.30  45.33
690  503.40  45.32
691  503.50  45.31
692  503.60  45.31

[693 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
689  503.30  45.33
690  503.40  45.32
691  503.50  45.31
692  503.60  45.31
693  504.10  45.45

[694 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
689  503.30  45.33
690  503.40  45.32
691  503.50  45.31
692  503.60  45.31
693  504.10  45.45

[694 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
690  503.40  45.32
691  503.50  45.31
692  503.60  45.31
693  504.10  45.45
694  504.20  45.41

[695 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
690  503.40  45.32
691  503.50  45.31
692  503.60  45.31
693  504.10  45.45
694  504.20  45.41

[695 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
691  503.50  45.31
692  503.60  45.31
693  504.10  45.45
694  504.20  45.41
695  504.30  45.42

[696 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
692  503.60  45.31
693  504.10  45.45
694  504.20  45.41
695  504.30  45.42
696  504.30     10

[697 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
692  503.60  45.31
693  504.10  45.45
694  504.20  45.41
695  504.30  45.42
696  504.30     10

[697 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
693  504.10  45.45
694  504.20  45.41
695  504.30  45.42
696  504.30     10
697  504.30  45.43

[698 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
693  504.10  45.45
694  504.20  45.41
695  504.30  45.42
696  504.30     10
697  504.30  45.43

[698 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
694  504.20  45.41
695  504.30  45.42
696  504.30     10
697  504.30  45.43
698  504.40  45.43

[699 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
695  504.30  45.42
696  504.30     10
697  504.30  45.43
698  504.40  45.43
699  504.40  45.44

[700 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
695  504.30  45.42
696  504.30     10
697  504.30  45.43
698  504.40  45.43
699  504.40  45.44

[700 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
696  504.30     10
697  504.30  45.43
698  504.40  45.43
699  504.40  45.44
700  504.50  45.43

[701 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
696  504.30     10
697  504.30  45.43
698  504.40  45.43
699  504.40  45.44
700  504.50  45.43

[701 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
697  504.30  45.43
698  504.40  45.43
699  504.40  45.44
700  504.50  45.43
701  504.60  45.25

[702 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
698  504.40  45.43
699  504.40  45.44
700  504.50  45.43
701  504.60  45.25
702  504.60  45.45

[703 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
698  504.40  45.43
699  504.40  45.44
700  504.50  45.43
701  504.60  45.25
702  504.60  45.45

[703 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
699  504.40  45.44
700  504.50  45.43
701  504.60  45.25
702  504.60  45.45
703  611.10  51.21

[704 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
700  504.50  45.43
701  504.60  45.25
702  504.60  45.45
703  611.10  51.21
704  611.10  51.55

[705 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
700  504.50  45.43
701  504.60  45.25
702  504.60  45.45
703  611.10  51.21
704  611.10  51.55

[705 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
701  504.60  45.25
702  504.60  45.45
703  611.10  51.21
704  611.10  51.55
705  611.20  51.21

[706 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
701  504.60  45.25
702  504.60  45.45
703  611.10  51.21
704  611.10  51.55
705  611.20  51.21

[706 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
702  504.60  45.45
703  611.10  51.21
704  611.10  51.55
705  611.20  51.21
706  611.30  51.55

[707 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
702  504.60  45.45
703  611.10  51.21
704  611.10  51.55
705  611.20  51.21
706  611.30  51.55

[707 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
703  611.10  51.21
704  611.10  51.55
705  611.20  51.21
706  611.30  51.55
707  611.40  51.22

[708 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
703  611.10  51.21
704  611.10  51.55
705  611.20  51.21
706  611.30  51.55
707  611.40  51.22

[708 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
704  611.10  51.55
705  611.20  51.21
706  611.30  51.55
707  611.40  51.22
708  611.50  51.23

[709 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
704  611.10  51.55
705  611.20  51.21
706  611.30  51.55
707  611.40  51.22
708  611.50  51.23

[709 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
705  611.20  51.21
706  611.30  51.55
707  611.40  51.22
708  611.50  51.23
709  611.60  51.21

[710 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
706  611.30  51.55
707  611.40  51.22
708  611.50  51.23
709  611.60  51.21
710  611.60  51.56

[711 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
706  611.30  51.55
707  611.40  51.22
708  611.50  51.23
709  611.60  51.21
710  611.60  51.56

[711 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
707  611.40  51.22
708  611.50  51.23
709  611.60  51.21
710  611.60  51.56
711  611.70  51.24

[712 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
707  611.40  51.22
708  611.50  51.23
709  611.60  51.21
710  611.60  51.56
711  611.70  51.24

[712 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
708  611.50  51.23
709  611.60  51.21
710  611.60  51.56
711  611.70  51.24
712  611.80  51.24

[713 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
708  611.50  51.23
709  611.60  51.21
710  611.60  51.56
711  611.70  51.24
712  611.80  51.24

[713 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
709  611.60  51.21
710  611.60  51.56
711  611.70  51.24
712  611.80  51.24
713  611.90  51.25

[714 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
709  611.60  51.21
710  611.60  51.56
711  611.70  51.24
712  611.80  51.24
713  611.90  51.25

[714 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
710  611.60  51.56
711  611.70  51.24
712  611.80  51.24
713  611.90  51.25
714  612.10  51.51

[715 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
710  611.60  51.56
711  611.70  51.24
712  611.80  51.24
713  611.90  51.25
714  612.10  51.51

[715 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
711  611.70  51.24
712  611.80  51.24
713  611.90  51.25
714  612.10  51.51
715  612.20  51.51

[716 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
711  611.70  51.24
712  611.80  51.24
713  611.90  51.25
714  612.10  51.51
715  612.20  51.51

[716 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
712  611.80  51.24
713  611.90  51.25
714  612.10  51.51
715  612.20  51.51
716  612.30  51.51

[717 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
712  611.80  51.24
713  611.90  51.25
714  612.10  51.51
715  612.20  51.51
716  612.30  51.51

[717 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
713  611.90  51.25
714  612.10  51.51
715  612.20  51.51
716  612.30  51.51
717  612.40  51.52

[718 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
713  611.90  51.25
714  612.10  51.51
715  612.20  51.51
716  612.30  51.51
717  612.40  51.52

[718 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
714  612.10  51.51
715  612.20  51.51
716  612.30  51.51
717  612.40  51.52
718  612.50  51.52

[719 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
714  612.10  51.51
715  612.20  51.51
716  612.30  51.51
717  612.40  51.52
718  612.50  51.52

[719 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
715  612.20  51.51
716  612.30  51.51
717  612.40  51.52
718  612.50  51.52
719  612.60  51.52

[720 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
715  612.20  51.51
716  612.30  51.51
717  612.40  51.52
718  612.50  51.52
719  612.60  51.52

[720 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
716  612.30  51.51
717  612.40  51.52
718  612.50  51.52
719  612.60  51.52
720  612.70  51.55

[721 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
716  612.30  51.51
717  612.40  51.52
718  612.50  51.52
719  612.60  51.52
720  612.70  51.55

[721 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
717  612.40  51.52
718  612.50  51.52
719  612.60  51.52
720  612.70  51.55
721  613.10  51.53

[722 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
717  612.40  51.52
718  612.50  51.52
719  612.60  51.52
720  612.70  51.55
721  613.10  51.53

[722 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
718  612.50  51.52
719  612.60  51.52
720  612.70  51.55
721  613.10  51.53
722  613.20  51.53

[723 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
718  612.50  51.52
719  612.60  51.52
720  612.70  51.55
721  613.10  51.53
722  613.20  51.53

[723 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
719  612.60  51.52
720  612.70  51.55
721  613.10  51.53
722  613.20  51.53
723  613.30  51.53

[724 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
720  612.70  51.55
721  613.10  51.53
722  613.20  51.53
723  613.30  51.53
724  613.30  51.54

[725 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
721  613.10  51.53
722  613.20  51.53
723  613.30  51.53
724  613.30  51.54
725  613.40  51.53

[726 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
721  613.10  51.53
722  613.20  51.53
723  613.30  51.53
724  613.30  51.54
725  613.40  51.53

[726 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
722  613.20  51.53
723  613.30  51.53
724  613.30  51.54
725  613.40  51.53
726  614.10  51.61

[727 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
722  613.20  51.53
723  613.30  51.53
724  613.30  51.54
725  613.40  51.53
726  614.10  51.61

[727 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
723  613.30  51.53
724  613.30  51.54
725  613.40  51.53
726  614.10  51.61
727  614.20  51.62

[728 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
723  613.30  51.53
724  613.30  51.54
725  613.40  51.53
726  614.10  51.61
727  614.20  51.62

[728 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
724  613.30  51.54
725  613.40  51.53
726  614.10  51.61
727  614.20  51.62
728  614.30  51.63

[729 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
724  613.30  51.54
725  613.40  51.53
726  614.10  51.61
727  614.20  51.62
728  614.30  51.63

[729 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
725  613.40  51.53
726  614.10  51.61
727  614.20  51.62
728  614.30  51.63
729  614.30  51.64

[730 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
725  613.40  51.53
726  614.10  51.61
727  614.20  51.62
728  614.30  51.63
729  614.30  51.64

[730 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
726  614.10  51.61
727  614.20  51.62
728  614.30  51.63
729  614.30  51.64
730  614.50  51.65

[731 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
726  614.10  51.61
727  614.20  51.62
728  614.30  51.63
729  614.30  51.64
730  614.50  51.65

[731 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
727  614.20  51.62
728  614.30  51.63
729  614.30  51.64
730  614.50  51.65
731  614.60  51.66

[732 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
727  614.20  51.62
728  614.30  51.63
729  614.30  51.64
730  614.50  51.65
731  614.60  51.66

[732 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
728  614.30  51.63
729  614.30  51.64
730  614.50  51.65
731  614.60  51.66
732  614.70  50.10

[733 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
729  614.30  51.64
730  614.50  51.65
731  614.60  51.66
732  614.70  50.10
733  614.70  50.30

[734 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
730  614.50  51.65
731  614.60  51.66
732  614.70  50.10
733  614.70  50.30
734  614.70  50.40

[735 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
730  614.50  51.65
731  614.60  51.66
732  614.70  50.10
733  614.70  50.30
734  614.70  50.40

[735 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
731  614.60  51.66
732  614.70  50.10
733  614.70  50.30
734  614.70  50.40
735  615.10  51.47

[736 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
731  614.60  51.66
732  614.70  50.10
733  614.70  50.30
734  614.70  50.40
735  615.10  51.47

[736 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
732  614.70  50.10
733  614.70  50.30
734  614.70  50.40
735  615.10  51.47
736  615.20  51.43

[737 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
733  614.70  50.30
734  614.70  50.40
735  615.10  51.47
736  615.20  51.43
737  615.20  51.44

[738 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
734  614.70  50.40
735  615.10  51.47
736  615.20  51.43
737  615.20  51.44
738  615.20  51.54

[739 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
734  614.70  50.40
735  615.10  51.47
736  615.20  51.43
737  615.20  51.44
738  615.20  51.54

[739 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
735  615.10  51.47
736  615.20  51.43
737  615.20  51.44
738  615.20  51.54
739  615.30  51.43

[740 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
736  615.20  51.43
737  615.20  51.44
738  615.20  51.54
739  615.30  51.43
740  615.30  51.47

[741 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
736  615.20  51.43
737  615.20  51.44
738  615.20  51.54
739  615.30  51.43
740  615.30  51.47

[741 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
737  615.20  51.44
738  615.20  51.54
739  615.30  51.43
740  615.30  51.47
741  615.40  51.44

[742 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
737  615.20  51.44
738  615.20  51.54
739  615.30  51.43
740  615.30  51.47
741  615.40  51.44

[742 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
738  615.20  51.54
739  615.30  51.43
740  615.30  51.47
741  615.40  51.44
742  615.50  51.44

[743 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
739  615.30  51.43
740  615.30  51.47
741  615.40  51.44
742  615.50  51.44
743  615.50  51.53

[744 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
739  615.30  51.43
740  615.30  51.47
741  615.40  51.44
742  615.50  51.44
743  615.50  51.53

[744 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
740  615.30  51.47
741  615.40  51.44
742  615.50  51.44
743  615.50  51.53
744  615.60  51.47

[745 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
740  615.30  51.47
741  615.40  51.44
742  615.50  51.44
743  615.50  51.53
744  615.60  51.47

[745 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
741  615.40  51.44
742  615.50  51.44
743  615.50  51.53
744  615.60  51.47
745  616.10  51.41

[746 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
741  615.40  51.44
742  615.50  51.44
743  615.50  51.53
744  615.60  51.47
745  616.10  51.41

[746 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
742  615.50  51.44
743  615.50  51.53
744  615.60  51.47
745  616.10  51.41
746  616.20  51.42

[747 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
742  615.50  51.44
743  615.50  51.53
744  615.60  51.47
745  616.10  51.41
746  616.20  51.42

[747 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
743  615.50  51.53
744  615.60  51.47
745  616.10  51.41
746  616.20  51.42
747  616.30  51.42

[748 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
743  615.50  51.53
744  615.60  51.47
745  616.10  51.41
746  616.20  51.42
747  616.30  51.42

[748 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
744  615.60  51.47
745  616.10  51.41
746  616.20  51.42
747  616.30  51.42
748  616.30  51.41

[749 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
744  615.60  51.47
745  616.10  51.41
746  616.20  51.42
747  616.30  51.42
748  616.30  51.41

[749 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
745  616.10  51.41
746  616.20  51.42
747  616.30  51.42
748  616.30  51.41
749  616.50  51.41

[750 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
746  616.20  51.42
747  616.30  51.42
748  616.30  51.41
749  616.50  51.41
750  616.50  51.42

[751 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
746  616.20  51.42
747  616.30  51.42
748  616.30  51.41
749  616.50  51.41
750  616.50  51.42

[751 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
747  616.30  51.42
748  616.30  51.41
749  616.50  51.41
750  616.50  51.42
751  616.60  51.42

[752 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
747  616.30  51.42
748  616.30  51.41
749  616.50  51.41
750  616.50  51.42
751  616.60  51.42

[752 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
748  616.30  51.41
749  616.50  51.41
750  616.50  51.42
751  616.60  51.42
752  616.70  51.42

[753 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
749  616.50   51.41
750  616.50   51.42
751  616.60   51.42
752  616.70   51.42
753  616.80  000.00

[754 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
749  616.50   51.41
750  616.50   51.42
751  616.60   51.42
752  616.70   51.42
753  616.80  000.00

[754 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
750  616.50   51.42
751  616.60   51.42
752  616.70   51.42
753  616.80  000.00
754  616.90   51.41

[755 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
751  616.60   51.42
752  616.70   51.42
753  616.80  000.00
754  616.90   51.41
755  616.90   51.47

[756 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
751  616.60   51.42
752  616.70   51.42
753  616.80  000.00
754  616.90   51.41
755  616.90   51.47

[756 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
752  616.70   51.42
753  616.80  000.00
754  616.90   51.41
755  616.90   51.47
756  617.10   51.39

[757 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
752  616.70   51.42
753  616.80  000.00
754  616.90   51.41
755  616.90   51.47
756  617.10   51.39

[757 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
753  616.80  000.00
754  616.90   51.41
755  616.90   51.47
756  617.10   51.39
757  617.20   51.31

[758 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
753  616.80  000.00
754  616.90   51.41
755  616.90   51.47
756  617.10   51.39
757  617.20   51.31

[758 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
754  616.90  51.41
755  616.90  51.47
756  617.10  51.39
757  617.20  51.31
758  617.30  51.32

[759 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
754  616.90  51.41
755  616.90  51.47
756  617.10  51.39
757  617.20  51.31
758  617.30  51.32

[759 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
755  616.90  51.47
756  617.10  51.39
757  617.20  51.31
758  617.30  51.32
759  617.40  51.33

[760 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
755  616.90  51.47
756  617.10  51.39
757  617.20  51.31
758  617.30  51.32
759  617.40  51.33

[760 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
756  617.10  51.39
757  617.20  51.31
758  617.30  51.32
759  617.40  51.33
760  617.50  51.34

[761 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
756  617.10  51.39
757  617.20  51.31
758  617.30  51.32
759  617.40  51.33
760  617.50  51.34

[761 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
757  617.20  51.31
758  617.30  51.32
759  617.40  51.33
760  617.50  51.34
761  617.60  51.35

[762 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
757  617.20  51.31
758  617.30  51.32
759  617.40  51.33
760  617.50  51.34
761  617.60  51.35

[762 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
758  617.30  51.32
759  617.40  51.33
760  617.50  51.34
761  617.60  51.35
762  617.70  51.36

[763 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
758  617.30  51.32
759  617.40  51.33
760  617.50  51.34
761  617.60  51.35
762  617.70  51.36

[763 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
759  617.40  51.33
760  617.50  51.34
761  617.60  51.35
762  617.70  51.36
763  617.80  51.37

[764 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
759  617.40  51.33
760  617.50  51.34
761  617.60  51.35
762  617.70  51.36
763  617.80  51.37

[764 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
760  617.50  51.34
761  617.60  51.35
762  617.70  51.36
763  617.80  51.37
764  617.90  51.38

[765 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
761  617.60  51.35
762  617.70  51.36
763  617.80  51.37
764  617.90  51.38
765  617.90  51.39

[766 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
761  617.60  51.35
762  617.70  51.36
763  617.80  51.37
764  617.90  51.38
765  617.90  51.39

[766 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
762  617.70  51.36
763  617.80  51.37
764  617.90  51.38
765  617.90  51.39
766  618.10  51.46

[767 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
762  617.70  51.36
763  617.80  51.37
764  617.90  51.38
765  617.90  51.39
766  618.10  51.46

[767 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
763  617.80  51.37
764  617.90  51.38
765  617.90  51.39
766  618.10  51.46
767  618.20  51.46

[768 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
763  617.80  51.37
764  617.90  51.38
765  617.90  51.39
766  618.10  51.46
767  618.20  51.46

[768 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
764  617.90  51.38
765  617.90  51.39
766  618.10  51.46
767  618.20  51.46
768  618.30  51.45

[769 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
764  617.90  51.38
765  617.90  51.39
766  618.10  51.46
767  618.20  51.46
768  618.30  51.45

[769 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
765  617.90  51.39
766  618.10  51.46
767  618.20  51.46
768  618.30  51.45
769  618.40  51.44

[770 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
765  617.90  51.39
766  618.10  51.46
767  618.20  51.46
768  618.30  51.45
769  618.40  51.44

[770 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
766  618.10  51.46
767  618.20  51.46
768  618.30  51.45
769  618.40  51.44
770  619.10  51.47

[771 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
767  618.20  51.46
768  618.30  51.45
769  618.40  51.44
770  619.10  51.47
771  619.10  51.56

[772 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
767  618.20  51.46
768  618.30  51.45
769  618.40  51.44
770  619.10  51.47
771  619.10  51.56

[772 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
768  618.30  51.45
769  618.40  51.44
770  619.10  51.47
771  619.10  51.56
772  619.20  51.47

[773 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
768  618.30  51.45
769  618.40  51.44
770  619.10  51.47
771  619.10  51.56
772  619.20  51.47

[773 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
769  618.40  51.44
770  619.10  51.47
771  619.10  51.56
772  619.20  51.47
773  619.30  51.47

[774 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
769  618.40  51.44
770  619.10  51.47
771  619.10  51.56
772  619.20  51.47
773  619.30  51.47

[774 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
770  619.10  51.47
771  619.10  51.56
772  619.20  51.47
773  619.30  51.47
774  619.40  51.47

[775 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
770  619.10  51.47
771  619.10  51.56
772  619.20  51.47
773  619.30  51.47
774  619.40  51.47

[775 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
771  619.10  51.56
772  619.20  51.47
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47

[776 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
771  619.10  51.56
772  619.20  51.47
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47

[776 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
772  619.20  51.47
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47
776  619.60  51.70

[777 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
772  619.20  51.47
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47
776  619.60  51.70

[777 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47
776  619.60  51.70
777  619.70  51.70

[778 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47
776  619.60  51.70
777  619.70  51.70

[778 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
773  619.30  51.47
774  619.40  51.47
775  619.50  51.47
776  619.60  51.70
777  619.70  51.70

[778 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
774  619.40  51.47
775  619.50  51.47
776  619.60  51.70
777  619.70  51.70
778  621.00  37.10

[779 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
775  619.50  51.47
776  619.60  51.70
777  619.70  51.70
778  621.00  37.10
779  621.00  51.57

[780 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
776  619.60  51.70
777  619.70  51.70
778  621.00  37.10
779  621.00  51.57
780  622.00  37.20

[781 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
777  619.70  51.70
778  621.00  37.10
779  621.00  51.57
780  622.00  37.20
781  622.00  51.57

[782 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
777  619.70  51.70
778  621.00  37.10
779  621.00  51.57
780  622.00  37.20
781  622.00  51.57

[782 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
778  621.00  37.10
779  621.00  51.57
780  622.00  37.20
781  622.00  51.57
782  631.00  51.11

[783 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
778  621.00  37.10
779  621.00  51.57
780  622.00  37.20
781  622.00  51.57
782  631.00  51.11

[783 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
779  621.00  51.57
780  622.00  37.20
781  622.00  51.57
782  631.00  51.11
783  632.00  51.12

[784 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
779  621.00  51.57
780  622.00  37.20
781  622.00  51.57
782  631.00  51.11
783  632.00  51.12

[784 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
780  622.00  37.20
781  622.00  51.57
782  631.00  51.11
783  632.00  51.12
784  633.00  51.13

[785 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
780  622.00  37.20
781  622.00  51.57
782  631.00  51.11
783  632.00  51.12
784  633.00  51.13

[785 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
781  622.00  51.57
782  631.00  51.11
783  632.00  51.12
784  633.00  51.13
785  634.00  50.10

[786 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
782  631.00  51.11
783  632.00  51.12
784  633.00  51.13
785  634.00  50.10
786  634.00  50.30

[787 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
783  632.00  51.12
784  633.00  51.13
785  634.00  50.10
786  634.00  50.30
787  634.00  50.40

[788 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
784  633.00  51.13
785  634.00  50.10
786  634.00  50.30
787  634.00  50.40
788  634.00  51.14

[789 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
784  633.00  51.13
785  634.00  50.10
786  634.00  50.30
787  634.00  50.40
788  634.00  51.14

[789 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
785  634.00  50.10
786  634.00  50.30
787  634.00  50.40
788  634.00  51.14
789  635.00  51.15

[790 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
785  634.00  50.10
786  634.00  50.30
787  634.00  50.40
788  634.00  51.14
789  635.00  51.15

[790 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
786  634.00  50.30
787  634.00  50.40
788  634.00  51.14
789  635.00  51.15
790  636.00  51.16

[791 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
786  634.00  50.30
787  634.00  50.40
788  634.00  51.14
789  635.00  51.15
790  636.00  51.16

[791 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
787  634.00  50.40
788  634.00  51.14
789  635.00  51.15
790  636.00  51.16
791  637.00  51.17

[792 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
787  634.00  50.40
788  634.00  51.14
789  635.00  51.15
790  636.00  51.16
791  637.00  51.17

[792 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
788  634.00  51.14
789  635.00  51.15
790  636.00  51.16
791  637.00  51.17
792  638.00  51.18

[793 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
788  634.00  51.14
789  635.00  51.15
790  636.00  51.16
791  637.00  51.17
792  638.00  51.18

[793 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
789  635.00  51.15
790  636.00  51.16
791  637.00  51.17
792  638.00  51.18
793  639.00  51.19

[794 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
789  635.00  51.15
790  636.00  51.16
791  637.00  51.17
792  638.00  51.18
793  639.00  51.19

[794 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
790  636.00  51.16
791  637.00  51.17
792  638.00  51.18
793  639.00  51.19
794  641.10  52.11

[795 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
790  636.00  51.16
791  637.00  51.17
792  638.00  51.18
793  639.00  51.19
794  641.10  52.11

[795 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
791  637.00  51.17
792  638.00  51.18
793  639.00  51.19
794  641.10  52.11
795  641.20  52.21

[796 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
792  638.00  51.18
793  639.00  51.19
794  641.10  52.11
795  641.20  52.21
796  641.20  52.62

[797 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
793  639.00  51.19
794  641.10  52.11
795  641.20  52.21
796  641.20  52.62
797  641.20  52.63

[798 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
793  639.00  51.19
794  641.10  52.11
795  641.20  52.21
796  641.20  52.62
797  641.20  52.63

[798 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
794  641.10  52.11
795  641.20  52.21
796  641.20  52.62
797  641.20  52.63
798  641.30  52.27

[799 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
795  641.20  52.21
796  641.20  52.62
797  641.20  52.63
798  641.30  52.27
799  641.30  52.62

[800 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
796  641.20  52.62
797  641.20  52.63
798  641.30  52.27
799  641.30  52.62
800  641.30  52.63

[801 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
796  641.20  52.62
797  641.20  52.63
798  641.30  52.27
799  641.30  52.62
800  641.30  52.63

[801 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
797  641.20  52.63
798  641.30  52.27
799  641.30  52.62
800  641.30  52.63
801  641.40  52.22

[802 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
798  641.30  52.27
799  641.30  52.62
800  641.30  52.63
801  641.40  52.22
802  641.40  52.62

[803 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
798  641.30  52.27
799  641.30  52.62
800  641.30  52.63
801  641.40  52.22
802  641.40  52.62

[803 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
799  641.30  52.62
800  641.30  52.63
801  641.40  52.22
802  641.40  52.62
803  641.50  52.23

[804 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
800  641.30  52.63
801  641.40  52.22
802  641.40  52.62
803  641.50  52.23
804  641.50  52.62

[805 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
801  641.40  52.22
802  641.40  52.62
803  641.50  52.23
804  641.50  52.62
805  641.50  52.63

[806 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
801  641.40  52.22
802  641.40  52.62
803  641.50  52.23
804  641.50  52.62
805  641.50  52.63

[806 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
802  641.40  52.62
803  641.50  52.23
804  641.50  52.62
805  641.50  52.63
806  641.60  52.22

[807 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
803  641.50  52.23
804  641.50  52.62
805  641.50  52.63
806  641.60  52.22
807  641.60  52.62

[808 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
803  641.50  52.23
804  641.50  52.62
805  641.50  52.63
806  641.60  52.22
807  641.60  52.62

[808 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
804  641.50  52.62
805  641.50  52.63
806  641.60  52.22
807  641.60  52.62
808  641.70  52.24

[809 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
805  641.50  52.63
806  641.60  52.22
807  641.60  52.62
808  641.70  52.24
809  641.70  52.62

[810 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
805  641.50  52.63
806  641.60  52.22
807  641.60  52.62
808  641.70  52.24
809  641.70  52.62

[810 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
806  641.60  52.22
807  641.60  52.62
808  641.70  52.24
809  641.70  52.62
810  641.80  52.24

[811 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
807  641.60  52.62
808  641.70  52.24
809  641.70  52.62
810  641.80  52.24
811  641.80  52.62

[812 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
807  641.60  52.62
808  641.70  52.24
809  641.70  52.62
810  641.80  52.24
811  641.80  52.62

[812 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
808  641.70  52.24
809  641.70  52.62
810  641.80  52.24
811  641.80  52.62
812  641.90  52.24

[813 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
809  641.70  52.62
810  641.80  52.24
811  641.80  52.62
812  641.90  52.24
813  641.90  52.62

[814 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
810  641.80  52.24
811  641.80  52.62
812  641.90  52.24
813  641.90  52.62
814  642.10  52.25

[815 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
810  641.80  52.24
811  641.80  52.62
812  641.90  52.24
813  641.90  52.62
814  642.10  52.25

[815 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
811  641.80  52.62
812  641.90  52.24
813  641.90  52.62
814  642.10  52.25
815  642.20  52.26

[816 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
811  641.80  52.62
812  641.90  52.24
813  641.90  52.62
814  642.10  52.25
815  642.20  52.26

[816 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
812  641.90  52.24
813  641.90  52.62
814  642.10  52.25
815  642.20  52.26
816  642.30  52.27

[817 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
813  641.90  52.62
814  642.10  52.25
815  642.20  52.26
816  642.30  52.27
817  642.30  52.63

[818 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
813  641.90  52.62
814  642.10  52.25
815  642.20  52.26
816  642.30  52.27
817  642.30  52.63

[818 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
814  642.10  52.25
815  642.20  52.26
816  642.30  52.27
817  642.30  52.63
818  643.00  52.31

[819 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
814  642.10  52.25
815  642.20  52.26
816  642.30  52.27
817  642.30  52.63
818  643.00  52.31

[819 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
815  642.20  52.26
816  642.30  52.27
817  642.30  52.63
818  643.00  52.31
819  644.10  52.32

[820 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
815  642.20  52.26
816  642.30  52.27
817  642.30  52.63
818  643.00  52.31
819  644.10  52.32

[820 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
816  642.30  52.27
817  642.30  52.63
818  643.00  52.31
819  644.10  52.32
820  644.20  52.33

[821 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
816  642.30  52.27
817  642.30  52.63
818  643.00  52.31
819  644.10  52.32
820  644.20  52.33

[821 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
817  642.30  52.63
818  643.00  52.31
819  644.10  52.32
820  644.20  52.33
821  644.30  52.46

[822 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
818  643.00  52.31
819  644.10  52.32
820  644.20  52.33
821  644.30  52.46
822  644.30  52.48

[823 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
818  643.00  52.31
819  644.10  52.32
820  644.20  52.33
821  644.30  52.46
822  644.30  52.48

[823 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
819  644.10  52.32
820  644.20  52.33
821  644.30  52.46
822  644.30  52.48
823  645.10  52.41

[824 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
820  644.20  52.33
821  644.30  52.46
822  644.30  52.48
823  645.10  52.41
824  645.10  52.43

[825 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
821  644.30  52.46
822  644.30  52.48
823  645.10  52.41
824  645.10  52.43
825  645.10  52.62

[826 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
821  644.30  52.46
822  644.30  52.48
823  645.10  52.41
824  645.10  52.43
825  645.10  52.62

[826 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
822  644.30  52.48
823  645.10  52.41
824  645.10  52.43
825  645.10  52.62
826  645.20  52.42

[827 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
823  645.10  52.41
824  645.10  52.43
825  645.10  52.62
826  645.20  52.42
827  645.20  52.62

[828 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
823  645.10  52.41
824  645.10  52.43
825  645.10  52.62
826  645.20  52.42
827  645.20  52.62

[828 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
824  645.10  52.43
825  645.10  52.62
826  645.20  52.42
827  645.20  52.62
828  645.30  52.42

[829 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
825  645.10  52.62
826  645.20  52.42
827  645.20  52.62
828  645.30  52.42
829  645.30  52.62

[830 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
825  645.10  52.62
826  645.20  52.42
827  645.20  52.62
828  645.30  52.42
829  645.30  52.62

[830 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
826  645.20  52.42
827  645.20  52.62
828  645.30  52.42
829  645.30  52.62
830  645.40  52.42

[831 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
827  645.20  52.62
828  645.30  52.42
829  645.30  52.62
830  645.40  52.42
831  645.40  52.62

[832 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
827  645.20  52.62
828  645.30  52.42
829  645.30  52.62
830  645.40  52.42
831  645.40  52.62

[832 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
828  645.30  52.42
829  645.30  52.62
830  645.40  52.42
831  645.40  52.62
832  645.50  52.42

[833 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
829  645.30  52.62
830  645.40  52.42
831  645.40  52.62
832  645.50  52.42
833  645.50  52.62

[834 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
829  645.30  52.62
830  645.40  52.42
831  645.40  52.62
832  645.50  52.42
833  645.50  52.62

[834 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
830  645.40  52.42
831  645.40  52.62
832  645.50  52.42
833  645.50  52.62
834  645.60  52.41

[835 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
831  645.40  52.62
832  645.50  52.42
833  645.50  52.62
834  645.60  52.41
835  645.60  52.62

[836 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
831  645.40  52.62
832  645.50  52.42
833  645.50  52.62
834  645.60  52.41
835  645.60  52.62

[836 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
832  645.50  52.42
833  645.50  52.62
834  645.60  52.41
835  645.60  52.62
836  645.70  52.42

[837 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
833  645.50  52.62
834  645.60  52.41
835  645.60  52.62
836  645.70  52.42
837  645.70  52.62

[838 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
833  645.50  52.62
834  645.60  52.41
835  645.60  52.62
836  645.70  52.42
837  645.70  52.62

[838 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
834  645.60  52.41
835  645.60  52.62
836  645.70  52.42
837  645.70  52.62
838  645.80  52.41

[839 rows x 2 columns]

        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
835  645.60  52.62
836  645.70  52.42
837  645.70  52.62
838  645.80  52.41
839  645.80  52.62

[840 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
835  645.60  52.62
836  645.70  52.42
837  645.70  52.62
838  645.80  52.41
839  645.80  52.62

[840 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
836  645.70  52.42
837  645.70  52.62
838  645.80  52.41
839  645.80  52.62
840  645.90  52.42

[841 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
836  645.70  52.42
837  645.70  52.62
838  645.80  52.41
839  645.80  52.62
840  645.90  52.42

[841 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
837  645.70  52.62
838  645.80  52.41
839  645.80  52.62
840  645.90  52.42
841  646.10  52.43

[842 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
838  645.80  52.41
839  645.80  52.62
840  645.90  52.42
841  646.10  52.43
842  646.10  52.62

[843 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
838  645.80  52.41
839  645.80  52.62
840  645.90  52.42
841  646.10  52.43
842  646.10  52.62

[843 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
839  645.80  52.62
840  645.90  52.42
841  646.10  52.43
842  646.10  52.62
843  646.20  52.43

[844 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
840  645.90  52.42
841  646.10  52.43
842  646.10  52.62
843  646.20  52.43
844  646.20  52.62

[845 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
840  645.90  52.42
841  646.10  52.43
842  646.10  52.62
843  646.20  52.43
844  646.20  52.62

[845 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
841  646.10  52.43
842  646.10  52.62
843  646.20  52.43
844  646.20  52.62
845  647.10  52.41

[846 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
842  646.10  52.62
843  646.20  52.43
844  646.20  52.62
845  647.10  52.41
846  647.10  52.44

[847 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
843  646.20  52.43
844  646.20  52.62
845  647.10  52.41
846  647.10  52.44
847  647.10  52.48

[848 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
844  646.20  52.62
845  647.10  52.41
846  647.10  52.44
847  647.10  52.48
848  647.10  52.62

[849 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
845  647.10  52.41
846  647.10  52.44
847  647.10  52.48
848  647.10  52.62
849  647.20  52.41

[850 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
846  647.10  52.44
847  647.10  52.48
848  647.10  52.62
849  647.20  52.41
850  647.20  52.62

[851 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
846  647.10  52.44
847  647.10  52.48
848  647.10  52.62
849  647.20  52.41
850  647.20  52.62

[851 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
847  647.10  52.48
848  647.10  52.62
849  647.20  52.41
850  647.20  52.62
851  648.10  52.44

[852 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
848  647.10  52.62
849  647.20  52.41
850  647.20  52.62
851  648.10  52.44
852  648.10  52.46

[853 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
849  647.20  52.41
850  647.20  52.62
851  648.10  52.44
852  648.10  52.46
853  648.10  52.62

[854 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
849  647.20  52.41
850  647.20  52.62
851  648.10  52.44
852  648.10  52.46
853  648.10  52.62

[854 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
850  647.20  52.62
851  648.10  52.44
852  648.10  52.46
853  648.10  52.62
854  648.20  52.44

[855 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
851  648.10  52.44
852  648.10  52.46
853  648.10  52.62
854  648.20  52.44
855  648.20  52.62

[856 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
851  648.10  52.44
852  648.10  52.46
853  648.10  52.62
854  648.20  52.44
855  648.20  52.62

[856 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
852  648.10  52.46
853  648.10  52.62
854  648.20  52.44
855  648.20  52.62
856  648.30  52.44

[857 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
852  648.10  52.46
853  648.10  52.62
854  648.20  52.44
855  648.20  52.62
856  648.30  52.44

[857 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
853  648.10  52.62
854  648.20  52.44
855  648.20  52.62
856  648.30  52.44
857  648.40  52.45

[858 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
853  648.10  52.62
854  648.20  52.44
855  648.20  52.62
856  648.30  52.44
857  648.40  52.45

[858 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
854  648.20  52.44
855  648.20  52.62
856  648.30  52.44
857  648.40  52.45
858  648.50  52.44

[859 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
854  648.20  52.44
855  648.20  52.62
856  648.30  52.44
857  648.40  52.45
858  648.50  52.44

[859 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
855  648.20  52.62
856  648.30  52.44
857  648.40  52.45
858  648.50  52.44
859  648.60  52.46

[860 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
855  648.20  52.62
856  648.30  52.44
857  648.40  52.45
858  648.50  52.44
859  648.60  52.46

[860 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
856  648.30  52.44
857  648.40  52.45
858  648.50  52.44
859  648.60  52.46
860  648.70  52.44

[861 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
857  648.40  52.45
858  648.50  52.44
859  648.60  52.46
860  648.70  52.44
861  648.70  52.62

[862 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
857  648.40  52.45
858  648.50  52.44
859  648.60  52.46
860  648.70  52.44
861  648.70  52.62

[862 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
858  648.50  52.44
859  648.60  52.46
860  648.70  52.44
861  648.70  52.62
862  648.80  52.45

[863 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
858  648.50  52.44
859  648.60  52.46
860  648.70  52.44
861  648.70  52.62
862  648.80  52.45

[863 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
859  648.60  52.46
860  648.70  52.44
861  648.70  52.62
862  648.80  52.45
863  648.90  52.44

[864 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
860  648.70  52.44
861  648.70  52.62
862  648.80  52.45
863  648.90  52.44
864  648.90  52.62

[865 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
860  648.70  52.44
861  648.70  52.62
862  648.80  52.45
863  648.90  52.44
864  648.90  52.62

[865 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
861  648.70  52.62
862  648.80  52.45
863  648.90  52.44
864  648.90  52.62
865  649.10  52.48

[866 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
862  648.80  52.45
863  648.90  52.44
864  648.90  52.62
865  649.10  52.48
866  649.10  52.62

[867 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
862  648.80  52.45
863  648.90  52.44
864  648.90  52.62
865  649.10  52.48
866  649.10  52.62

[867 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
863  648.90  52.44
864  648.90  52.62
865  649.10  52.48
866  649.10  52.62
867  649.20  52.46

[868 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
863  648.90  52.44
864  648.90  52.62
865  649.10  52.48
866  649.10  52.62
867  649.20  52.46

[868 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
864  648.90  52.62
865  649.10  52.48
866  649.10  52.62
867  649.20  52.46
868  649.30  52.45

[869 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
864  648.90  52.62
865  649.10  52.48
866  649.10  52.62
867  649.20  52.46
868  649.30  52.45

[869 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
865  649.10  52.48
866  649.10  52.62
867  649.20  52.46
868  649.30  52.45
869  649.40  52.45

[870 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
866  649.10  52.62
867  649.20  52.46
868  649.30  52.45
869  649.40  52.45
870  649.40  52.62

[871 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
866  649.10  52.62
867  649.20  52.46
868  649.30  52.45
869  649.40  52.45
870  649.40  52.62

[871 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
867  649.20  52.46
868  649.30  52.45
869  649.40  52.45
870  649.40  52.62
871  649.50  52.48

[872 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
868  649.30  52.45
869  649.40  52.45
870  649.40  52.62
871  649.50  52.48
872  649.50  52.62

[873 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
868  649.30  52.45
869  649.40  52.45
870  649.40  52.62
871  649.50  52.48
872  649.50  52.62

[873 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
869  649.40  52.45
870  649.40  52.62
871  649.50  52.48
872  649.50  52.62
873  649.60  52.48

[874 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
870  649.40  52.62
871  649.50  52.48
872  649.50  52.62
873  649.60  52.48
874  649.60  52.50

[875 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
870  649.40  52.62
871  649.50  52.48
872  649.50  52.62
873  649.60  52.48
874  649.60  52.50

[875 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
871  649.50  52.48
872  649.50  52.62
873  649.60  52.48
874  649.60  52.50
875  651.10  50.10

[876 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
872  649.50  52.62
873  649.60  52.48
874  649.60  52.50
875  651.10  50.10
876  651.10  50.30

[877 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
872  649.50  52.62
873  649.60  52.48
874  649.60  52.50
875  651.10  50.10
876  651.10  50.30

[877 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
873  649.60  52.48
874  649.60  52.50
875  651.10  50.10
876  651.10  50.30
877  651.20  50.40

[878 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
874  649.60  52.50
875  651.10  50.10
876  651.10  50.30
877  651.20  50.40
878  651.20  52.48

[879 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
874  649.60  52.50
875  651.10  50.10
876  651.10  50.30
877  651.20  50.40
878  651.20  52.48

[879 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
875  651.10  50.10
876  651.10  50.30
877  651.20  50.40
878  651.20  52.48
879  652.00  50.50

[880 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
875  651.10  50.10
876  651.10  50.30
877  651.20  50.40
878  651.20  52.48
879  652.00  50.50

[880 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
876  651.10  50.30
877  651.20  50.40
878  651.20  52.48
879  652.00  50.50
880  653.10  52.47

[881 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
877  651.20  50.40
878  651.20  52.48
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50

[882 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
877  651.20  50.40
878  651.20  52.48
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50

[882 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
877  651.20  50.40
878  651.20  52.48
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50

[882 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
878  651.20  52.48
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50
882  653.10  52.62

[883 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
878  651.20  52.48
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50
882  653.10  52.62

[883 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50
882  653.10  52.62
883  653.20  52.47

[884 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
879  652.00  50.50
880  653.10  52.47
881  653.10  52.50
882  653.10  52.62
883  653.20  52.47

[884 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
880  653.10  52.47
881  653.10  52.50
882  653.10  52.62
883  653.20  52.47
884  653.30  52.48

[885 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
880  653.10  52.47
881  653.10  52.50
882  653.10  52.62
883  653.20  52.47
884  653.30  52.48

[885 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
881  653.10  52.50
882  653.10  52.62
883  653.20  52.47
884  653.30  52.48
885  653.40  52.48

[886 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
881  653.10  52.50
882  653.10  52.62
883  653.20  52.47
884  653.30  52.48
885  653.40  52.48

[886 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
882  653.10  52.62
883  653.20  52.47
884  653.30  52.48
885  653.40  52.48
886  654.10  52.48

[887 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
882  653.10  52.62
883  653.20  52.47
884  653.30  52.48
885  653.40  52.48
886  654.10  52.48

[887 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
883  653.20  52.47
884  653.30  52.48
885  653.40  52.48
886  654.10  52.48
887  654.20  52.48

[888 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
884  653.30  52.48
885  653.40  52.48
886  654.10  52.48
887  654.20  52.48
888  654.20  52.62

[889 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
884  653.30  52.48
885  653.40  52.48
886  654.10  52.48
887  654.20  52.48
888  654.20  52.62

[889 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
885  653.40  52.48
886  654.10  52.48
887  654.20  52.48
888  654.20  52.62
889  654.30  52.48

[890 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
886  654.10  52.48
887  654.20  52.48
888  654.20  52.62
889  654.30  52.48
890  654.30  52.62

[891 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
886  654.10  52.48
887  654.20  52.48
888  654.20  52.62
889  654.30  52.48
890  654.30  52.62

[891 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
887  654.20  52.48
888  654.20  52.62
889  654.30  52.48
890  654.30  52.62
891  654.40  52.48

[892 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
888  654.20  52.62
889  654.30  52.48
890  654.30  52.62
891  654.40  52.48
892  654.40  52.62

[893 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
888  654.20  52.62
889  654.30  52.48
890  654.30  52.62
891  654.40  52.48
892  654.40  52.62

[893 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
889  654.30  52.48
890  654.30  52.62
891  654.40  52.48
892  654.40  52.62
893  654.50  52.48

[894 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
889  654.30  52.48
890  654.30  52.62
891  654.40  52.48
892  654.40  52.62
893  654.50  52.48

[894 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
890  654.30  52.62
891  654.40  52.48
892  654.40  52.62
893  654.50  52.48
894  654.60  52.48

[895 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
891  654.40  52.48
892  654.40  52.62
893  654.50  52.48
894  654.60  52.48
895  654.60  52.62

[896 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
891  654.40  52.48
892  654.40  52.62
893  654.50  52.48
894  654.60  52.48
895  654.60  52.62

[896 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
892  654.40  52.62
893  654.50  52.48
894  654.60  52.48
895  654.60  52.62
896  654.70  52.48

[897 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
893  654.50  52.48
894  654.60  52.48
895  654.60  52.62
896  654.70  52.48
897  654.70  52.62

[898 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
893  654.50  52.48
894  654.60  52.48
895  654.60  52.62
896  654.70  52.48
897  654.70  52.62

[898 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
894  654.60  52.48
895  654.60  52.62
896  654.70  52.48
897  654.70  52.62
898  654.80  52.48

[899 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
895  654.60  52.62
896  654.70  52.48
897  654.70  52.62
898  654.80  52.48
899  654.80  52.62

[900 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
895  654.60  52.62
896  654.70  52.48
897  654.70  52.62
898  654.80  52.48
899  654.80  52.62

[900 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
896  654.70  52.48
897  654.70  52.62
898  654.80  52.48
899  654.80  52.62
900  654.90  52.48

[901 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
896  654.70  52.48
897  654.70  52.62
898  654.80  52.48
899  654.80  52.62
900  654.90  52.48

[901 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
897  654.70  52.62
898  654.80  52.48
899  654.80  52.62
900  654.90  52.48
901  655.10  52.50

[902 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
898  654.80  52.48
899  654.80  52.62
900  654.90  52.48
901  655.10  52.50
902  655.10  52.62

[903 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
898  654.80  52.48
899  654.80  52.62
900  654.90  52.48
901  655.10  52.50
902  655.10  52.62

[903 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
899  654.80  52.62
900  654.90  52.48
901  655.10  52.50
902  655.10  52.62
903  655.20  52.48

[904 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
900  654.90  52.48
901  655.10  52.50
902  655.10  52.62
903  655.20  52.48
904  655.20  52.62

[905 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
900  654.90  52.48
901  655.10  52.50
902  655.10  52.62
903  655.20  52.48
904  655.20  52.62

[905 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
901  655.10  52.50
902  655.10  52.62
903  655.20  52.48
904  655.20  52.62
905  656.00  52.12

[906 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
902  655.10  52.62
903  655.20  52.48
904  655.20  52.62
905  656.00  52.12
906  656.00  52.61

[907 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
902  655.10  52.62
903  655.20  52.48
904  655.20  52.62
905  656.00  52.12
906  656.00  52.61

[907 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
903  655.20  52.48
904  655.20  52.62
905  656.00  52.12
906  656.00  52.61
907  661.00  55.30

[908 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
904  655.20  52.62
905  656.00  52.12
906  656.00  52.61
907  661.00  55.30
908  661.00  55.52

[909 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
904  655.20  52.62
905  656.00  52.12
906  656.00  52.61
907  661.00  55.30
908  661.00  55.52

[909 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
905  656.00  52.12
906  656.00  52.61
907  661.00  55.30
908  661.00  55.52
909  662.00  55.40

[910 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
905  656.00  52.12
906  656.00  52.61
907  661.00  55.30
908  661.00  55.52
909  662.00  55.40

[910 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
906  656.00  52.61
907  661.00  55.30
908  661.00  55.52
909  662.00  55.40
910  663.00  55.40

[911 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
906  656.00  52.61
907  661.00  55.30
908  661.00  55.52
909  662.00  55.40
910  663.00  55.40

[911 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
907  661.00  55.30
908  661.00  55.52
909  662.00  55.40
910  663.00  55.40
911  664.00  55.51

[912 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
907  661.00  55.30
908  661.00  55.52
909  662.00  55.40
910  663.00  55.40
911  664.00  55.51

[912 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
908  661.00  55.52
909  662.00  55.40
910  663.00  55.40
911  664.00  55.51
912  665.10  55.11

[913 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
909  662.00   55.40
910  663.00   55.40
911  664.00   55.51
912  665.10   55.11
913  665.20  000.00

[914 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
909  662.00   55.40
910  663.00   55.40
911  664.00   55.51
912  665.10   55.11
913  665.20  000.00

[914 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
910  663.00   55.40
911  664.00   55.51
912  665.10   55.11
913  665.20  000.00
914  665.30   55.23

[915 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
910  663.00   55.40
911  664.00   55.51
912  665.10   55.11
913  665.20  000.00
914  665.30   55.23

[915 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
911  664.00   55.51
912  665.10   55.11
913  665.20  000.00
914  665.30   55.23
915  666.00   55.23

[916 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
912  665.10   55.11
913  665.20  000.00
914  665.30   55.23
915  666.00   55.23
916  666.00   55.30

[917 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
912  665.10   55.11
913  665.20  000.00
914  665.30   55.23
915  666.00   55.23
916  666.00   55.30

[917 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
913  665.20  000.00
914  665.30   55.23
915  666.00   55.23
916  666.00   55.30
917  667.10   55.21

[918 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
913  665.20  000.00
914  665.30   55.23
915  666.00   55.23
916  666.00   55.30
917  667.10   55.21

[918 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
914  665.30  55.23
915  666.00  55.23
916  666.00  55.30
917  667.10  55.21
918  667.20  55.22

[919 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
914  665.30  55.23
915  666.00  55.23
916  666.00  55.30
917  667.10  55.21
918  667.20  55.22

[919 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
915  666.00  55.23
916  666.00  55.30
917  667.10  55.21
918  667.20  55.22
919  667.30  55.23

[920 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
915  666.00  55.23
916  666.00  55.30
917  667.10  55.21
918  667.20  55.22
919  667.30  55.23

[920 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
916  666.00  55.30
917  667.10  55.21
918  667.20  55.22
919  667.30  55.23
920  667.40  85.14

[921 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
916  666.00  55.30
917  667.10  55.21
918  667.20  55.22
919  667.30  55.23
920  667.40  85.14

[921 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
917  667.10  55.21
918  667.20  55.22
919  667.30  55.23
920  667.40  85.14
921  667.50  55.23

[922 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
917  667.10  55.21
918  667.20  55.22
919  667.30  55.23
920  667.40  85.14
921  667.50  55.23

[922 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
918  667.20  55.22
919  667.30  55.23
920  667.40  85.14
921  667.50  55.23
922  667.60  55.23

[923 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
918  667.20  55.22
919  667.30  55.23
920  667.40  85.14
921  667.50  55.23
922  667.60  55.23

[923 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
919  667.30  55.23
920  667.40  85.14
921  667.50  55.23
922  667.60  55.23
923  671.00  50.20

[924 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
920  667.40  85.14
921  667.50  55.23
922  667.60  55.23
923  671.00  50.20
924  671.00  50.40

[925 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
921  667.50  55.23
922  667.60  55.23
923  671.00  50.20
924  671.00  50.40
925  671.00  52.74

[926 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
921  667.50  55.23
922  667.60  55.23
923  671.00  50.20
924  671.00  50.40
925  671.00  52.74

[926 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
922  667.60  55.23
923  671.00  50.20
924  671.00  50.40
925  671.00  52.74
926  672.00  52.71

[927 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
922  667.60  55.23
923  671.00  50.20
924  671.00  50.40
925  671.00  52.74
926  672.00  52.71

[927 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
923  671.00  50.20
924  671.00  50.40
925  671.00  52.74
926  672.00  52.71
927  673.00  52.72

[928 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
923  671.00  50.20
924  671.00  50.40
925  671.00  52.74
926  672.00  52.71
927  673.00  52.72

[928 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
924  671.00  50.40
925  671.00  52.74
926  672.00  52.71
927  673.00  52.72
928  674.00  52.73

[929 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
924  671.00  50.40
925  671.00  52.74
926  672.00  52.71
927  673.00  52.72
928  674.00  52.73

[929 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
925  671.00  52.74
926  672.00  52.71
927  673.00  52.72
928  674.00  52.73
929  675.00  52.74

[930 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
925  671.00  52.74
926  672.00  52.71
927  673.00  52.72
928  674.00  52.73
929  675.00  52.74

[930 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
926  672.00  52.71
927  673.00  52.72
928  674.00  52.73
929  675.00  52.74
930  710.00  60.10

[931 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
926  672.00  52.71
927  673.00  52.72
928  674.00  52.73
929  675.00  52.74
930  710.00  60.10

[931 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
927  673.00  52.72
928  674.00  52.73
929  675.00  52.74
930  710.00  60.10
931  721.10  60.21

[932 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
927  673.00  52.72
928  674.00  52.73
929  675.00  52.74
930  710.00  60.10
931  721.10  60.21

[932 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
928  674.00  52.73
929  675.00  52.74
930  710.00  60.10
931  721.10  60.21
932  721.20  60.21

[933 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
928  674.00  52.73
929  675.00  52.74
930  710.00  60.10
931  721.10  60.21
932  721.20  60.21

[933 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
929  675.00  52.74
930  710.00  60.10
931  721.10  60.21
932  721.20  60.21
933  722.00  60.22

[934 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
930  710.00  60.10
931  721.10  60.21
932  721.20  60.21
933  722.00  60.22
934  722.00  60.23

[935 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
930  710.00  60.10
931  721.10  60.21
932  721.20  60.21
933  722.00  60.22
934  722.00  60.23

[935 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
931  721.10  60.21
932  721.20  60.21
933  722.00  60.22
934  722.00  60.23
935  723.10  60.24

[936 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
931  721.10  60.21
932  721.20  60.21
933  722.00  60.22
934  722.00  60.23
935  723.10  60.24

[936 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
932  721.20  60.21
933  722.00  60.22
934  722.00  60.23
935  723.10  60.24
936  723.20  60.24

[937 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
932  721.20  60.21
933  722.00  60.22
934  722.00  60.23
935  723.10  60.24
936  723.20  60.24

[937 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
933  722.00  60.22
934  722.00  60.23
935  723.10  60.24
936  723.20  60.24
937  724.00  60.30

[938 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
933  722.00  60.22
934  722.00  60.23
935  723.10  60.24
936  723.20  60.24
937  724.00  60.30

[938 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
934  722.00  60.23
935  723.10  60.24
936  723.20  60.24
937  724.00  60.30
938  725.00  60.21

[939 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
935  723.10  60.24
936  723.20  60.24
937  724.00  60.30
938  725.00  60.21
939  725.00  60.24

[940 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
936  723.20  60.24
937  724.00  60.30
938  725.00  60.21
939  725.00  60.24
940  725.00  64.12

[941 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
937  724.00   60.30
938  725.00   60.21
939  725.00   60.24
940  725.00   64.12
941  730.00  000.00

[942 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
937  724.00   60.30
938  725.00   60.21
939  725.00   60.24
940  725.00   64.12
941  730.00  000.00

[942 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
938  725.00   60.21
939  725.00   60.24
940  725.00   64.12
941  730.00  000.00
942  741.00    61.1

[943 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
938  725.00   60.21
939  725.00   60.24
940  725.00   64.12
941  730.00  000.00
942  741.00    61.1

[943 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
939  725.00   60.24
940  725.00   64.12
941  730.00  000.00
942  741.00    61.1
943  742.00   61.10

[944 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
939  725.00   60.24
940  725.00   64.12
941  730.00  000.00
942  741.00    61.1
943  742.00   61.10

[944 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
940  725.00   64.12
941  730.00  000.00
942  741.00    61.1
943  742.00   61.10
944  750.00   62.10

[945 rows x 2 columns]
        No1    Code
0       NaN     NaN
1    000.00   99.00
2    000.00   01.11
3    000.00   01.12
4    000.00   01.13
..      ...     ...
941  730.00  000.00
942  741.00    61.1
943  742.00   61.10
944  750.00   62.10
945  750.00   62.20

[946 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
942  741.00   61.1
943  742.00  61.10
944  750.00  62.10
945  750.00  62.20
946  750.00  62.30

[947 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
942  741.00   61.1
943  742.00  61.10
944  750.00  62.10
945  750.00  62.20
946  750.00  62.30

[947 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
943  742.00  61.10
944  750.00  62.10
945  750.00  62.20
946  750.00  62.30
947  761.00  63.11

[948 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
944  750.00  62.10
945  750.00  62.20
946  750.00  62.30
947  761.00  63.11
948  761.00  63.21

[949 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
944  750.00  62.10
945  750.00  62.20
946  750.00  62.30
947  761.00  63.11
948  761.00  63.21

[949 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
945  750.00  62.20
946  750.00  62.30
947  761.00  63.11
948  761.00  63.21
949  762.00  63.11

[950 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
946  750.00  62.30
947  761.00  63.11
948  761.00  63.21
949  762.00  63.11
950  762.00  63.22

[951 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
946  750.00  62.30
947  761.00  63.11
948  761.00  63.21
949  762.00  63.11
950  762.00  63.22

[951 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
947  761.00  63.11
948  761.00  63.21
949  762.00  63.11
950  762.00  63.22
951  763.00  63.11

[952 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
948  761.00  63.21
949  762.00  63.11
950  762.00  63.22
951  763.00  63.11
952  763.00  63.22

[953 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
948  761.00  63.21
949  762.00  63.11
950  762.00  63.22
951  763.00  63.11
952  763.00  63.22

[953 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
949  762.00  63.11
950  762.00  63.22
951  763.00  63.11
952  763.00  63.22
953  764.00  63.11

[954 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
950  762.00  63.22
951  763.00  63.11
952  763.00  63.22
953  764.00  63.11
954  764.00  63.23

[955 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
950  762.00  63.22
951  763.00  63.11
952  763.00  63.22
953  764.00  63.11
954  764.00  63.23

[955 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
951  763.00  63.11
952  763.00  63.22
953  764.00  63.11
954  764.00  63.23
955  771.00  63.30

[956 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
951  763.00  63.11
952  763.00  63.22
953  764.00  63.11
954  764.00  63.23
955  771.00  63.30

[956 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
952  763.00  63.22
953  764.00  63.11
954  764.00  63.23
955  771.00  63.30
956  772.00  63.40

[957 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
952  763.00  63.22
953  764.00  63.11
954  764.00  63.23
955  771.00  63.30
956  772.00  63.40

[957 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
953  764.00  63.11
954  764.00  63.23
955  771.00  63.30
956  772.00  63.40
957  773.00  63.12

[958 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
953  764.00  63.11
954  764.00  63.23
955  771.00  63.30
956  772.00  63.40
957  773.00  63.12

[958 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
954  764.00  63.23
955  771.00  63.30
956  772.00  63.40
957  773.00  63.12
958  790.00  64.11

[959 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
955  771.00  63.30
956  772.00  63.40
957  773.00  63.12
958  790.00  64.11
959  790.00  64.20

[960 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
955  771.00  63.30
956  772.00  63.40
957  773.00  63.12
958  790.00  64.11
959  790.00  64.20

[960 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
956  772.00  63.40
957  773.00  63.12
958  790.00  64.11
959  790.00  64.20
960  811.00  65.11

[961 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
956  772.00  63.40
957  773.00  63.12
958  790.00  64.11
959  790.00  64.20
960  811.00  65.11

[961 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
957  773.00  63.12
958  790.00  64.11
959  790.00  64.20
960  811.00  65.11
961  812.00  65.12

[962 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
957  773.00  63.12
958  790.00  64.11
959  790.00  64.20
960  811.00  65.11
961  812.00  65.12

[962 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
958  790.00  64.11
959  790.00  64.20
960  811.00  65.11
961  812.00  65.12
962  813.10  65.21

[963 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
959  790.00  64.20
960  811.00  65.11
961  812.00  65.12
962  813.10  65.21
963  813.10   65.2

[964 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
959  790.00  64.20
960  811.00  65.11
961  812.00  65.12
962  813.10  65.21
963  813.10   65.2

[964 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
960  811.00  65.11
961  812.00  65.12
962  813.10  65.21
963  813.10   65.2
964  813.20  65.23

[965 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
960  811.00  65.11
961  812.00  65.12
962  813.10  65.21
963  813.10   65.2
964  813.20  65.23

[965 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
961  812.00  65.12
962  813.10  65.21
963  813.10   65.2
964  813.20  65.23
965  821.00  66.01

[966 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
962  813.10  65.21
963  813.10   65.2
964  813.20  65.23
965  821.00  66.01
966  821.00  66.03

[967 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
962  813.10  65.21
963  813.10   65.2
964  813.20  65.23
965  821.00  66.01
966  821.00  66.03

[967 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
963  813.10   65.2
964  813.20  65.23
965  821.00  66.01
966  821.00  66.03
967  822.00  66.01

[968 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
964  813.20  65.23
965  821.00  66.01
966  821.00  66.03
967  822.00  66.01
968  822.00  66.02

[969 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
964  813.20  65.23
965  821.00  66.01
966  821.00  66.03
967  822.00  66.01
968  822.00  66.02

[969 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
965  821.00  66.01
966  821.00  66.03
967  822.00  66.01
968  822.00  66.02
969  823.00  66.03

[970 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
965  821.00  66.01
966  821.00  66.03
967  822.00  66.01
968  822.00  66.02
969  823.00  66.03

[970 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
966  821.00  66.03
967  822.00  66.01
968  822.00  66.02
969  823.00  66.03
970  831.00  67.11

[971 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
967  822.00  66.01
968  822.00  66.02
969  823.00  66.03
970  831.00  67.11
971  831.00  67.12

[972 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
968  822.00  66.02
969  823.00  66.03
970  831.00  67.11
971  831.00  67.12
972  831.00  67.13

[973 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
968  822.00  66.02
969  823.00  66.03
970  831.00  67.11
971  831.00  67.12
972  831.00  67.13

[973 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
969  823.00  66.03
970  831.00  67.11
971  831.00  67.12
972  831.00  67.13
973  832.00  67.20

[974 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
970  831.00  67.11
971  831.00  67.12
972  831.00  67.13
973  832.00  67.20
974  832.00  70.11

[975 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
971  831.00  67.12
972  831.00  67.13
973  832.00  67.20
974  832.00  70.11
975  832.00  70.12

[976 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
971  831.00  67.12
972  831.00  67.13
973  832.00  67.20
974  832.00  70.11
975  832.00  70.12

[976 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
972  831.00  67.13
973  832.00  67.20
974  832.00  70.11
975  832.00  70.12
976  834.00  70.31

[977 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
973  832.00  67.20
974  832.00  70.11
975  832.00  70.12
976  834.00  70.31
977  834.00  70.32

[978 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
973  832.00  67.20
974  832.00  70.11
975  832.00  70.12
976  834.00  70.31
977  834.00  70.32

[978 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
974  832.00  70.11
975  832.00  70.12
976  834.00  70.31
977  834.00  70.32
978  835.00  74.11

[979 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
974  832.00  70.11
975  832.00  70.12
976  834.00  70.31
977  834.00  70.32
978  835.00  74.11

[979 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
975  832.00  70.12
976  834.00  70.31
977  834.00  70.32
978  835.00  74.11
979  836.00  74.12

[980 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
975  832.00  70.12
976  834.00  70.31
977  834.00  70.32
978  835.00  74.11
979  836.00  74.12

[980 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
976  834.00  70.31
977  834.00  70.32
978  835.00  74.11
979  836.00  74.12
980  837.00  74.20

[981 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
977  834.00  70.32
978  835.00  74.11
979  836.00  74.12
980  837.00  74.20
981  837.00  74.30

[982 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
977  834.00  70.32
978  835.00  74.11
979  836.00  74.12
980  837.00  74.20
981  837.00  74.30

[982 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
978  835.00  74.11
979  836.00  74.12
980  837.00  74.20
981  837.00  74.30
982  838.00  74.40

[983 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
978  835.00  74.11
979  836.00  74.12
980  837.00  74.20
981  837.00  74.30
982  838.00  74.40

[983 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
979  836.00  74.12
980  837.00  74.20
981  837.00  74.30
982  838.00  74.40
983  839.10  74.13

[984 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
980  837.00  74.20
981  837.00  74.30
982  838.00  74.40
983  839.10  74.13
984  839.10  74.14

[985 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
980  837.00  74.20
981  837.00  74.30
982  838.00  74.40
983  839.10  74.13
984  839.10  74.14

[985 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
981  837.00  74.30
982  838.00  74.40
983  839.10  74.13
984  839.10  74.14
985  839.20  72.10

[986 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
982  838.00  74.40
983  839.10  74.13
984  839.10  74.14
985  839.20  72.10
986  839.20  72.20

[987 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
983  839.10  74.13
984  839.10  74.14
985  839.20  72.10
986  839.20  72.20
987  839.20  72.30

[988 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
984  839.10  74.14
985  839.20  72.10
986  839.20  72.20
987  839.20  72.30
988  839.20  72.40

[989 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
985  839.20  72.10
986  839.20  72.20
987  839.20  72.30
988  839.20  72.40
989  839.20  72.60

[990 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
986  839.20  72.20
987  839.20  72.30
988  839.20  72.40
989  839.20  72.60
990  839.20  74.83

[991 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
986  839.20  72.20
987  839.20  72.30
988  839.20  72.40
989  839.20  72.60
990  839.20  74.83

[991 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
987  839.20  72.30
988  839.20  72.40
989  839.20  72.60
990  839.20  74.83
991  839.30  74.50

[992 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
988  839.20  72.40
989  839.20  72.60
990  839.20  74.83
991  839.30  74.50
992  839.30  74.60

[993 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
989  839.20  72.60
990  839.20  74.83
991  839.30  74.50
992  839.30  74.60
993  839.30  74.82

[994 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
990  839.20  74.83
991  839.30  74.50
992  839.30  74.60
993  839.30  74.82
994  839.30  74.83

[995 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
991  839.30  74.50
992  839.30  74.60
993  839.30  74.82
994  839.30  74.83
995  839.30  74.84

[996 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
992  839.30  74.60
993  839.30  74.82
994  839.30  74.83
995  839.30  74.84
996  839.30  92.40

[997 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
992  839.30  74.60
993  839.30  74.82
994  839.30  74.83
995  839.30  74.84
996  839.30  92.40

[997 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
993  839.30  74.82
994  839.30  74.83
995  839.30  74.84
996  839.30  92.40
997  841.00  71.31

[998 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
993  839.30  74.82
994  839.30  74.83
995  839.30  74.84
996  839.30  92.40
997  841.00  71.31

[998 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
994  839.30  74.83
995  839.30  74.84
996  839.30  92.40
997  841.00  71.31
998  842.00  71.32

[999 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
994  839.30  74.83
995  839.30  74.84
996  839.30  92.40
997  841.00  71.31
998  842.00  71.32

[999 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
995  839.30  74.84
996  839.30  92.40
997  841.00  71.31
998  842.00  71.32
999  843.00  71.33

[1000 rows x 2 columns]
        No1   Code
0       NaN    NaN
1    000.00  99.00
2    000.00  01.11
3    000.00  01.12
4    000.00  01.13
..      ...    ...
995  839.30  74.84
996  839.30  92.40
997  841.00  71.31
998  842.00  71.32
999  843.00  71.33

[1000 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
996   839.30  92.40
997   841.00  71.31
998   842.00  71.32
999   843.00  71.33
1000  844.00  71.10

[1001 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
996   839.30  92.40
997   841.00  71.31
998   842.00  71.32
999   843.00  71.33
1000  844.00  71.10

[1001 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
997   841.00  71.31
998   842.00  71.32
999   843.00  71.33
1000  844.00  71.10
1001  845.00  71.21

[1002 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
998   842.00  71.32
999   843.00  71.33
1000  844.00  71.10
1001  845.00  71.21
1002  845.00  71.22

[1003 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
999   843.00  71.33
1000  844.00  71.10
1001  845.00  71.21
1002  845.00  71.22
1003  845.00  71.23

[1004 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
999   843.00  71.33
1000  844.00  71.10
1001  845.00  71.21
1002  845.00  71.22
1003  845.00  71.23

[1004 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1000  844.00  71.10
1001  845.00  71.21
1002  845.00  71.22
1003  845.00  71.23
1004  846.10  71.40

[1005 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1000  844.00  71.10
1001  845.00  71.21
1002  845.00  71.22
1003  845.00  71.23
1004  846.10  71.40

[1005 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1001  845.00  71.21
1002  845.00  71.22
1003  845.00  71.23
1004  846.10  71.40
1005  846.20  71.40

[1006 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1001  845.00  71.21
1002  845.00  71.22
1003  845.00  71.23
1004  846.10  71.40
1005  846.20  71.40

[1006 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1002  845.00  71.22
1003  845.00  71.23
1004  846.10  71.40
1005  846.20  71.40
1006  847.00  71.34

[1007 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1002  845.00  71.22
1003  845.00  71.23
1004  846.10  71.40
1005  846.20  71.40
1006  847.00  71.34

[1007 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1003  845.00  71.23
1004  846.10  71.40
1005  846.20  71.40
1006  847.00  71.34
1007  850.00  70.20

[1008 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1003  845.00  71.23
1004  846.10  71.40
1005  846.20  71.40
1006  847.00  71.34
1007  850.00  70.20

[1008 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1004  846.10  71.40
1005  846.20  71.40
1006  847.00  71.34
1007  850.00  70.20
1008  911.00  75.11

[1009 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1005  846.20  71.40
1006  847.00  71.34
1007  850.00  70.20
1008  911.00  75.11
1009  911.00  75.13

[1010 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1006  847.00  71.34
1007  850.00  70.20
1008  911.00  75.11
1009  911.00  75.13
1010  911.00  75.14

[1011 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1007  850.00  70.20
1008  911.00  75.11
1009  911.00  75.13
1010  911.00  75.14
1011  911.00  75.21

[1012 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1007  850.00  70.20
1008  911.00  75.11
1009  911.00  75.13
1010  911.00  75.14
1011  911.00  75.21

[1012 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1008  911.00  75.11
1009  911.00  75.13
1010  911.00  75.14
1011  911.00  75.21
1012  912.00  75.23

[1013 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1008  911.00  75.11
1009  911.00  75.13
1010  911.00  75.14
1011  911.00  75.21
1012  912.00  75.23

[1013 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1009  911.00  75.13
1010  911.00  75.14
1011  911.00  75.21
1012  912.00  75.23
1013  913.00  75.24

[1014 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1009  911.00  75.13
1010  911.00  75.14
1011  911.00  75.21
1012  912.00  75.23
1013  913.00  75.24

[1014 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1010  911.00  75.14
1011  911.00  75.21
1012  912.00  75.23
1013  913.00  75.24
1014  914.00  75.25

[1015 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1010  911.00  75.14
1011  911.00  75.21
1012  912.00  75.23
1013  913.00  75.24
1014  914.00  75.25

[1015 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1011  911.00  75.21
1012  912.00  75.23
1013  913.00  75.24
1014  914.00  75.25
1015  915.00  75.22

[1016 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1011  911.00  75.21
1012  912.00  75.23
1013  913.00  75.24
1014  914.00  75.25
1015  915.00  75.22

[1016 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1012  912.00  75.23
1013  913.00  75.24
1014  914.00  75.25
1015  915.00  75.22
1016  919.00  75.30

[1017 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1012  912.00  75.23
1013  913.00  75.24
1014  914.00  75.25
1015  915.00  75.22
1016  919.00  75.30

[1017 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1013  913.00  75.24
1014  914.00  75.25
1015  915.00  75.22
1016  919.00  75.30
1017  921.00  74.70

[1018 rows x 2 columns]

         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1014  914.00  75.25
1015  915.00  75.22
1016  919.00  75.30
1017  921.00  74.70
1018  921.00  90.00

[1019 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1014  914.00  75.25
1015  915.00  75.22
1016  919.00  75.30
1017  921.00  74.70
1018  921.00  90.00

[1019 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1015  915.00  75.22
1016  919.00  75.30
1017  921.00  74.70
1018  921.00  90.00
1019  922.00  93.03

[1020 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1015  915.00  75.22
1016  919.00  75.30
1017  921.00  74.70
1018  921.00  90.00
1019  922.00  93.03

[1020 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1016  919.00  75.30
1017  921.00  74.70
1018  921.00  90.00
1019  922.00  93.03
1020  923.00  74.70

[1021 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1016  919.00  75.30
1017  921.00  74.70
1018  921.00  90.00
1019  922.00  93.03
1020  923.00  74.70

[1021 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1017  921.00  74.70
1018  921.00  90.00
1019  922.00  93.03
1020  923.00  74.70
1021  931.00  80.30

[1022 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1017  921.00  74.70
1018  921.00  90.00
1019  922.00  93.03
1020  923.00  74.70
1021  931.00  80.30

[1022 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1018  921.00  90.00
1019  922.00  93.03
1020  923.00  74.70
1021  931.00  80.30
1022  932.00  80.10

[1023 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1019  922.00  93.03
1020  923.00  74.70
1021  931.00  80.30
1022  932.00  80.10
1023  932.00  80.21

[1024 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1019  922.00  93.03
1020  923.00  74.70
1021  931.00  80.30
1022  932.00  80.10
1023  932.00  80.21

[1024 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1020  923.00  74.70
1021  931.00  80.30
1022  932.00  80.10
1023  932.00  80.21
1024  933.00  80.22

[1025 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1021  931.00  80.30
1022  932.00  80.10
1023  932.00  80.21
1024  933.00  80.22
1025  933.00  80.42

[1026 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1021  931.00  80.30
1022  932.00  80.10
1023  932.00  80.21
1024  933.00  80.22
1025  933.00  80.42

[1026 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1022  932.00  80.10
1023  932.00  80.21
1024  933.00  80.22
1025  933.00  80.42
1026  934.00  80.10

[1027 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1023  932.00  80.21
1024  933.00  80.22
1025  933.00  80.42
1026  934.00  80.10
1027  934.00  85.32

[1028 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1023  932.00  80.21
1024  933.00  80.22
1025  933.00  80.42
1026  934.00  80.10
1027  934.00  85.32

[1028 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1024  933.00  80.22
1025  933.00  80.42
1026  934.00  80.10
1027  934.00  85.32
1028  935.00  80.42

[1029 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1024  933.00  80.22
1025  933.00  80.42
1026  934.00  80.10
1027  934.00  85.32
1028  935.00  80.42

[1029 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1025  933.00  80.42
1026  934.00  80.10
1027  934.00  85.32
1028  935.00  80.42
1029    936.  80.41

[1030 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1025  933.00  80.42
1026  934.00  80.10
1027  934.00  85.32
1028  935.00  80.42
1029    936.  80.41

[1030 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1026  934.00  80.10
1027  934.00  85.32
1028  935.00  80.42
1029    936.  80.41
1030  940.00  73.10

[1031 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1027  934.00  85.32
1028  935.00  80.42
1029    936.  80.41
1030  940.00  73.10
1031  940.00  73.20

[1032 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1027  934.00  85.32
1028  935.00  80.42
1029    936.  80.41
1030  940.00  73.10
1031  940.00  73.20

[1032 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1028  935.00  80.42
1029    936.  80.41
1030  940.00  73.10
1031  940.00  73.20
1032  951.00  85.11

[1033 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1028  935.00  80.42
1029    936.  80.41
1030  940.00  73.10
1031  940.00  73.20
1032  951.00  85.11

[1033 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1029    936.  80.41
1030  940.00  73.10
1031  940.00  73.20
1032  951.00  85.11
1033  952.00  85.14

[1034 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1029    936.  80.41
1030  940.00  73.10
1031  940.00  73.20
1032  951.00  85.11
1033  952.00  85.14

[1034 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1030  940.00  73.10
1031  940.00  73.20
1032  951.00  85.11
1033  952.00  85.14
1034  953.00  85.12

[1035 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1030  940.00  73.10
1031  940.00  73.20
1032  951.00  85.11
1033  952.00  85.14
1034  953.00  85.12

[1035 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1031  940.00  73.20
1032  951.00  85.11
1033  952.00  85.14
1034  953.00  85.12
1035  954.00  85.13

[1036 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1031  940.00  73.20
1032  951.00  85.11
1033  952.00  85.14
1034  953.00  85.12
1035  954.00  85.13

[1036 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1032  951.00  85.11
1033  952.00  85.14
1034  953.00  85.12
1035  954.00  85.13
1036  955.00  85.14

[1037 rows x 2 columns]

         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1032  951.00  85.11
1033  952.00  85.14
1034  953.00  85.12
1035  954.00  85.13
1036  955.00  85.14

[1037 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1033  952.00  85.14
1034  953.00  85.12
1035  954.00  85.13
1036  955.00  85.14
1037  956.00  85.20

[1038 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1034  953.00  85.12
1035  954.00  85.13
1036  955.00  85.14
1037  956.00  85.20
1038  956.00  85.32

[1039 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1034  953.00  85.12
1035  954.00  85.13
1036  955.00  85.14
1037  956.00  85.20
1038  956.00  85.32

[1039 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1035  954.00  85.13
1036  955.00  85.14
1037  956.00  85.20
1038  956.00  85.32
1039  962.00  85.31

[1040 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1035  954.00  85.13
1036  955.00  85.14
1037  956.00  85.20
1038  956.00  85.32
1039  962.00  85.31

[1040 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1036  955.00  85.14
1037  956.00  85.20
1038  956.00  85.32
1039  962.00  85.31
1040  963.00  91.11

[1041 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1037  956.00  85.20
1038  956.00  85.32
1039  962.00  85.31
1040  963.00  91.11
1041  963.00  91.12

[1042 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1037  956.00  85.20
1038  956.00  85.32
1039  962.00  85.31
1040  963.00  91.11
1041  963.00  91.12

[1042 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1038  956.00  85.32
1039  962.00  85.31
1040  963.00  91.11
1041  963.00  91.12
1042  964.00  91.11

[1043 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1038  956.00  85.32
1039  962.00  85.31
1040  963.00  91.11
1041  963.00  91.12
1042  964.00  91.11

[1043 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1039  962.00  85.31
1040  963.00  91.11
1041  963.00  91.12
1042  964.00  91.11
1043  965.00  91.20

[1044 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1039  962.00  85.31
1040  963.00  91.11
1041  963.00  91.12
1042  964.00  91.11
1043  965.00  91.20

[1044 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1040  963.00  91.11
1041  963.00  91.12
1042  964.00  91.11
1043  965.00  91.20
1044  966.00  91.31

[1045 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1040  963.00  91.11
1041  963.00  91.12
1042  964.00  91.11
1043  965.00  91.20
1044  966.00  91.31

[1045 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1041  963.00  91.12
1042  964.00  91.11
1043  965.00  91.20
1044  966.00  91.31
1045  967.00  63.30

[1046 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1042  964.00  91.11
1043  965.00  91.20
1044  966.00  91.31
1045  967.00  63.30
1046  967.00  91.33

[1047 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1042  964.00  91.11
1043  965.00  91.20
1044  966.00  91.31
1045  967.00  63.30
1046  967.00  91.33

[1047 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1043  965.00  91.20
1044  966.00  91.31
1045  967.00  63.30
1046  967.00  91.33
1047  968.00  91.32

[1048 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1044  966.00  91.31
1045  967.00  63.30
1046  967.00  91.33
1047  968.00  91.32
1048  968.00  91.33

[1049 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1044  966.00  91.31
1045  967.00  63.30
1046  967.00  91.33
1047  968.00  91.32
1048  968.00  91.33

[1049 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1045  967.00  63.30
1046  967.00  91.33
1047  968.00  91.32
1048  968.00  91.33
1049  971.00  92.11

[1050 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1045  967.00  63.30
1046  967.00  91.33
1047  968.00  91.32
1048  968.00  91.33
1049  971.00  92.11

[1050 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1046  967.00  91.33
1047  968.00  91.32
1048  968.00  91.33
1049  971.00  92.11
1050  972.00  92.12

[1051 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1046  967.00  91.33
1047  968.00  91.32
1048  968.00  91.33
1049  971.00  92.11
1050  972.00  92.12

[1051 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1047  968.00  91.32
1048  968.00  91.33
1049  971.00  92.11
1050  972.00  92.12
1051  973.00  92.13

[1052 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1047  968.00  91.32
1048  968.00  91.33
1049  971.00  92.11
1050  972.00  92.12
1051  973.00  92.13

[1052 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1048  968.00  91.33
1049  971.00  92.11
1050  972.00  92.12
1051  973.00  92.13
1052  974.00  92.20

[1053 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1048  968.00  91.33
1049  971.00  92.11
1050  972.00  92.12
1051  973.00  92.13
1052  974.00  92.20

[1053 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1049  971.00  92.11
1050  972.00  92.12
1051  973.00  92.13
1052  974.00  92.20
1053  975.00  92.31

[1054 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1050  972.00  92.12
1051  973.00  92.13
1052  974.00  92.20
1053  975.00  92.31
1054  975.00  92.32

[1055 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1050  972.00  92.12
1051  973.00  92.13
1052  974.00  92.20
1053  975.00  92.31
1054  975.00  92.32

[1055 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1051  973.00  92.13
1052  974.00  92.20
1053  975.00  92.31
1054  975.00  92.32
1055  976.00  92.31

[1056 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1051  973.00  92.13
1052  974.00  92.20
1053  975.00  92.31
1054  975.00  92.32
1055  976.00  92.31

[1056 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1052  974.00  92.20
1053  975.00  92.31
1054  975.00  92.32
1055  976.00  92.31
1056  977.00  92.51

[1057 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1053  975.00  92.31
1054  975.00  92.32
1055  976.00  92.31
1056  977.00  92.51
1057  977.00  92.52

[1058 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1054  975.00  92.32
1055  976.00  92.31
1056  977.00  92.51
1057  977.00  92.52
1058  977.00  92.53

[1059 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1054  975.00  92.32
1055  976.00  92.31
1056  977.00  92.51
1057  977.00  92.52
1058  977.00  92.53

[1059 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1055  976.00  92.31
1056  977.00  92.51
1057  977.00  92.52
1058  977.00  92.53
1059  978.00  92.61

[1060 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1056  977.00  92.51
1057  977.00  92.52
1058  977.00  92.53
1059  978.00  92.61
1060  978.00  92.62

[1061 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1056  977.00  92.51
1057  977.00  92.52
1058  977.00  92.53
1059  978.00  92.61
1060  978.00  92.62

[1061 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1057  977.00  92.52
1058  977.00  92.53
1059  978.00  92.61
1060  978.00  92.62
1061  979.00  92.33

[1062 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1058  977.00  92.53
1059  978.00  92.61
1060  978.00  92.62
1061  979.00  92.33
1062  979.00  92.34

[1063 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1059  978.00  92.61
1060  978.00  92.62
1061  979.00  92.33
1062  979.00  92.34
1063  979.00  92.71

[1064 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1060  978.00  92.62
1061  979.00  92.33
1062  979.00  92.34
1063  979.00  92.71
1064  979.00  92.72

[1065 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1060  978.00  92.62
1061  979.00  92.33
1062  979.00  92.34
1063  979.00  92.71
1064  979.00  92.72

[1065 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1061  979.00  92.33
1062  979.00  92.34
1063  979.00  92.71
1064  979.00  92.72
1065  981.00  93.01

[1066 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1061  979.00  92.33
1062  979.00  92.34
1063  979.00  92.71
1064  979.00  92.72
1065  981.00  93.01

[1066 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1062  979.00  92.34
1063  979.00  92.71
1064  979.00  92.72
1065  981.00  93.01
1066  982.00  93.02

[1067 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1063  979.00  92.71
1064  979.00  92.72
1065  981.00  93.01
1066  982.00  93.02
1067  982.00  93.04

[1068 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1063  979.00  92.71
1064  979.00  92.72
1065  981.00  93.01
1066  982.00  93.02
1067  982.00  93.04

[1068 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1064  979.00  92.72
1065  981.00  93.01
1066  982.00  93.02
1067  982.00  93.04
1068  983.00  74.81

[1069 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1064  979.00  92.72
1065  981.00  93.01
1066  982.00  93.02
1067  982.00  93.04
1068  983.00  74.81

[1069 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1065  981.00  93.01
1066  982.00  93.02
1067  982.00  93.04
1068  983.00  74.81
1069  984.00     12

[1070 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1065  981.00  93.01
1066  982.00  93.02
1067  982.00  93.04
1068  983.00  74.81
1069  984.00     12

[1070 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1066  982.00  93.02
1067  982.00  93.04
1068  983.00  74.81
1069  984.00     12
1070  984.00  93.03

[1071 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1067  982.00  93.04
1068  983.00  74.81
1069  984.00     12
1070  984.00  93.03
1071  984.00  93.05

[1072 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1067  982.00  93.04
1068  983.00  74.81
1069  984.00     12
1070  984.00  93.03
1071  984.00  93.05

[1072 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1068  983.00  74.81
1069  984.00     12
1070  984.00  93.03
1071  984.00  93.05
1072  990.00  95.00

[1073 rows x 2 columns]
         No1   Code
0        NaN    NaN
1     000.00  99.00
2     000.00  01.11
3     000.00  01.12
4     000.00  01.13
...      ...    ...
1068  983.00  74.81
1069  984.00     12
1070  984.00  93.03
1071  984.00  93.05
1072  990.00  95.00

[1073 rows x 2 columns]

In [15]:
typee=""
for line in st.split('\n'):
    if b_new_ven.match(line):
        typee=line
    
    if e_new_ven.match(line):
        typee=line
#         print(typee)
    if c_new_ven.match(line):
        category=line
        
    if a_new_ven.match(line):
        code=line.split("  ")[0]
#         print(code)
        des=line.split("  ")[1]
#         print(des)
        Dic={'No':code,'Description':des,"type":typee,'category':category}
        gc = gc.append(Dic, ignore_index=True)
        print(gc)

NameError: name 'category' is not defined

In [192]:
print(gc)

            No                                        Description  \
0          NaN                                                NaN
1    07 01 03*  organic halogenated solvents, washing liquids ...
2    07 02 03*  organic halogenated solvents, washing liquids ...
3    07 03 03*  organic halogenated solvents, washing liquids ...
4    07 04 03*  organic halogenated solvents, washing liquids ...
..         ...                                                ...
843   19 03 05  stabilised wastes other than those mentioned i...
844   19 03 07  solidified wastes other than those mentioned i...
845  19 03 04*      wastes marked as hazardous, partly stabilised
846  19 03 06*             wastes marked as hazardous, solidified
847   19 04 01                                 vitrified wasteEN

                  type                                           category
0                  NaN                                                NaN
1        1 Hazardous                   01.11 Halogenated spent solvents
2        1 Hazardous                   01.11 Halogenated spent solvents
3        1 Hazardous                   01.11 Halogenated spent solvents
4        1 Hazardous                   01.11 Halogenated spent solvents
..                 ...                                                ...
843  0 Non-hazardous    13.1 Solidified or stabilised wasteEN  L 253/4...
844  0 Non-hazardous    13.1 Solidified or stabilised wasteEN  L 253/4...
845      1 Hazardous    13.1 Solidified or stabilised wasteEN  L 253/4...
846      1 Hazardous    13.1 Solidified or stabilised wasteEN  L 253/4...
847  0 Non-hazardous                             13.21 Vitrified wastes

[848 rows x 4 columns]

In [116]:
import pandas as pd
Dic = {}
# from selenium import webdriver
gc= pd.DataFrame(data=Dic,index=[0],columns=['No','Disease or external cause','ICD-10 code','ICD-9 code','ICD-8 code'])

In [117]:
for line in st.split('\n'):
    if a_new_ven.match(line):
        no=line.split(" ")[0]
#         print(line.split(" "))
        cod=pattern.findall(line)
        codd = ' '.join(cod)
        code10=pattern1.findall(line)
        code10=' '.join(code10)
#         print(code10)
        whit=line.replace(" ", "")
        code9=pattern2.findall(whit) or pattern3.findall(whit)
        try:
            code8=code9[1]
        except:
            code8="NA"
        Dic={'No':no,'Disease or external cause':codd,'ICD-10 code':code10,'ICD-9 code':code9[0],'ICD-8 code':code8}
        gc = gc.append(Dic, ignore_index=True)
        print(gc)

    No          Disease or external cause ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN         NaN        NaN        NaN
1   01  Infectious and parasitic diseases     A00 B99    001-139    000-136
    No          Disease or external cause  ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN          NaN        NaN        NaN
1   01  Infectious and parasitic diseases      A00 B99    001-139    000-136
2   02                       Tuberculosis  A15 A19 B90    010-018    010-019
    No          Disease or external cause  ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN          NaN        NaN        NaN
1   01  Infectious and parasitic diseases      A00 B99    001-139    000-136
2   02                       Tuberculosis  A15 A19 B90    010-018    010-019
3   03            Meningococcal infection          A39        390        360
    No          Disease or external cause  ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN          NaN        NaN        NaN
1   01  Infectious and parasitic diseases      A00 B99    001-139    000-136
2   02                       Tuberculosis  A15 A19 B90    010-018    010-019
3   03            Meningococcal infection          A39        390        360
4   04                   AIDS HIV disease      B20 B24    042-044         NA
    No          Disease or external cause  ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN          NaN        NaN        NaN
1   01  Infectious and parasitic diseases      A00 B99    001-139    000-136
2   02                       Tuberculosis  A15 A19 B90    010-018    010-019
3   03            Meningococcal infection          A39        390        360
4   04                   AIDS HIV disease      B20 B24    042-044         NA
5   05                    Viral hepatitis      B15 B19        190        700
    No          Disease or external cause  ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN          NaN        NaN        NaN
1   01  Infectious and parasitic diseases      A00 B99    001-139    000-136
2   02                       Tuberculosis  A15 A19 B90    010-018    010-019
3   03            Meningococcal infection          A39        390        360
4   04                   AIDS HIV disease      B20 B24    042-044         NA
5   05                    Viral hepatitis      B15 B19        190        700
6   06                          Neoplasms      C00 D48    140-239    140-239
    No          Disease or external cause  ICD-10 code ICD-9 code ICD-8 code
0  NaN                                NaN          NaN        NaN        NaN
1   01  Infectious and parasitic diseases      A00 B99    001-139    000-136
2   02                       Tuberculosis  A15 A19 B90    010-018    010-019
3   03            Meningococcal infection          A39        390        360
4   04                   AIDS HIV disease      B20 B24    042-044         NA
5   05                    Viral hepatitis      B15 B19        190        700
6   06                          Neoplasms      C00 D48    140-239    140-239
7   07                Malignant neoplasms      C00 C97    140-208    140-209
    No                          Disease or external cause  ICD-10 code  \
0  NaN                                                NaN          NaN
1   01                  Infectious and parasitic diseases      A00 B99
2   02                                       Tuberculosis  A15 A19 B90
3   03                            Meningococcal infection          A39
4   04                                   AIDS HIV disease      B20 B24
5   05                                    Viral hepatitis      B15 B19
6   06                                          Neoplasms      C00 D48
7   07                                Malignant neoplasms      C00 C97
8   08  of which Malignant neopl asm of lip oral cavit...      C00 C14

  ICD-9 code ICD-8 code
0        NaN        NaN
1    001-139    000-136
2    010-018    010-019
3        390        360
4    042-044         NA
5        190        700
6    140-239    140-239
7    140-208    140-209
8    140-149    140-149
    No                          Disease or external cause  ICD-10 code  \
0  NaN                                                NaN          NaN
1   01                  Infectious and parasitic diseases      A00 B99
2   02                                       Tuberculosis  A15 A19 B90
3   03                            Meningococcal infection          A39
4   04                                   AIDS HIV disease      B20 B24
5   05                                    Viral hepatitis      B15 B19
6   06                                          Neoplasms      C00 D48
7   07                                Malignant neoplasms      C00 C97
8   08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9   09          of which Malignant neoplasm of oesophagus          C15

  ICD-9 code ICD-8 code
0        NaN        NaN
1    001-139    000-136
2    010-018    010-019
3        390        360
4    042-044         NA
5        190        700
6    140-239    140-239
7    140-208    140-209
8    140-149    140-149
9        151        501
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14

31    320-389    320-389
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53
19   19  of which Malignant neoplasm of other parts of ...          C54
20   20               of which Malignant neoplasm of ovary          C56
21   21            of which Malignant neoplasm of prostate          C61
22   22              of which Malignant neoplasm of kidney          C64
23   23             of which Malignant neoplasm of bladder          C67
24   24  of which Malignant neoplasm of lymph haematopo...      C81 C96
25   25  Diseases of the blood forming organs immunol d...      D50 D89
26   26       Endocrine nutritional and metabolic diseases      E00 E90
27   27                                  Diabetes mellitus      E10 E14
28   28                   Mental and behavioural disorders      F00 F99
29   29        Alcohol abuse including alcoholic psychosis          F10
30   30                        Drug dependence toxicomania      F11 F16
31   31  Diseases of the nervous system and the sense o...      G00 H95
32   32                              Meningitis other than      G00 G03

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53
19   19  of which Malignant neoplasm of other parts of ...          C54
20   20               of which Malignant neoplasm of ovary          C56
21   21            of which Malignant neoplasm of prostate          C61
22   22              of which Malignant neoplasm of kidney          C64
23   23             of which Malignant neoplasm of bladder          C67
24   24  of which Malignant neoplasm of lymph haematopo...      C81 C96
25   25  Diseases of the blood forming organs immunol d...      D50 D89
26   26       Endocrine nutritional and metabolic diseases      E00 E90
27   27                                  Diabetes mellitus      E10 E14
28   28                   Mental and behavioural disorders      F00 F99
29   29        Alcohol abuse including alcoholic psychosis          F10
30   30                        Drug dependence toxicomania      F11 F16
31   31  Diseases of the nervous system and the sense o...      G00 H95
32   32                              Meningitis other than      G00 G03
33   33                 Diseases of the circulatory system      I00 I99

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53
19   19  of which Malignant neoplasm of other parts of ...          C54
20   20               of which Malignant neoplasm of ovary          C56
21   21            of which Malignant neoplasm of prostate          C61
22   22              of which Malignant neoplasm of kidney          C64
23   23             of which Malignant neoplasm of bladder          C67
24   24  of which Malignant neoplasm of lymph haematopo...      C81 C96
25   25  Diseases of the blood forming organs immunol d...      D50 D89
26   26       Endocrine nutritional and metabolic diseases      E00 E90
27   27                                  Diabetes mellitus      E10 E14
28   28                   Mental and behavioural disorders      F00 F99
29   29        Alcohol abuse including alcoholic psychosis          F10
30   30                        Drug dependence toxicomania      F11 F16
31   31  Diseases of the nervous system and the sense o...      G00 H95
32   32                              Meningitis other than      G00 G03
33   33                 Diseases of the circulatory system      I00 I99
34   34                           Ischaemic heart diseases      I20 I25

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
34    410-414    410-414
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53
19   19  of which Malignant neoplasm of other parts of ...          C54
20   20               of which Malignant neoplasm of ovary          C56
21   21            of which Malignant neoplasm of prostate          C61
22   22              of which Malignant neoplasm of kidney          C64
23   23             of which Malignant neoplasm of bladder          C67
24   24  of which Malignant neoplasm of lymph haematopo...      C81 C96
25   25  Diseases of the blood forming organs immunol d...      D50 D89
26   26       Endocrine nutritional and metabolic diseases      E00 E90
27   27                                  Diabetes mellitus      E10 E14
28   28                   Mental and behavioural disorders      F00 F99
29   29        Alcohol abuse including alcoholic psychosis          F10
30   30                        Drug dependence toxicomania      F11 F16
31   31  Diseases of the nervous system and the sense o...      G00 H95
32   32                              Meningitis other than      G00 G03
33   33                 Diseases of the circulatory system      I00 I99
34   34                           Ischaemic heart diseases      I20 I25
35   35                               Other heart diseases      I30 I33

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
34    410-414    410-414
35    420-423    420-423
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53
19   19  of which Malignant neoplasm of other parts of ...          C54
20   20               of which Malignant neoplasm of ovary          C56
21   21            of which Malignant neoplasm of prostate          C61
22   22              of which Malignant neoplasm of kidney          C64
23   23             of which Malignant neoplasm of bladder          C67
24   24  of which Malignant neoplasm of lymph haematopo...      C81 C96
25   25  Diseases of the blood forming organs immunol d...      D50 D89
26   26       Endocrine nutritional and metabolic diseases      E00 E90
27   27                                  Diabetes mellitus      E10 E14
28   28                   Mental and behavioural disorders      F00 F99
29   29        Alcohol abuse including alcoholic psychosis          F10
30   30                        Drug dependence toxicomania      F11 F16
31   31  Diseases of the nervous system and the sense o...      G00 H95
32   32                              Meningitis other than      G00 G03
33   33                 Diseases of the circulatory system      I00 I99
34   34                           Ischaemic heart diseases      I20 I25
35   35                               Other heart diseases      I30 I33
36   36                           Cerebrovascular diseases      I60 I69

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
34    410-414    410-414
35    420-423    420-423
36    430-438    430-438
     No                          Disease or external cause  ICD-10 code  \
0   NaN                                                NaN          NaN
1    01                  Infectious and parasitic diseases      A00 B99
2    02                                       Tuberculosis  A15 A19 B90
3    03                            Meningococcal infection          A39
4    04                                   AIDS HIV disease      B20 B24
5    05                                    Viral hepatitis      B15 B19
6    06                                          Neoplasms      C00 D48
7    07                                Malignant neoplasms      C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...      C00 C14
9    09          of which Malignant neoplasm of oesophagus          C15
10   10             of which Malignant neoplasm of stomach          C16
11   11               of which Malignant neoplasm of colon          C18
12   12    of which Malignant neoplasm of re ctum and anus  C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...          C22
14   14            of which Malignant neoplasm of pancreas          C25
15   15          of which Malignant neoplasm of larynx and      C32 C34
16   16                of which Malignant melanoma of skin          C43
17   17              of which Malignant neoplasm of breast          C50
18   18        of which Malignant neoplasm of cervix uteri          C53
19   19  of which Malignant neoplasm of other parts of ...          C54
20   20               of which Malignant neoplasm of ovary          C56
21   21            of which Malignant neoplasm of prostate          C61
22   22              of which Malignant neoplasm of kidney          C64
23   23             of which Malignant neoplasm of bladder          C67
24   24  of which Malignant neoplasm of lymph haematopo...      C81 C96
25   25  Diseases of the blood forming organs immunol d...      D50 D89
26   26       Endocrine nutritional and metabolic diseases      E00 E90
27   27                                  Diabetes mellitus      E10 E14
28   28                   Mental and behavioural disorders      F00 F99
29   29        Alcohol abuse including alcoholic psychosis          F10
30   30                        Drug dependence toxicomania      F11 F16
31   31  Diseases of the nervous system and the sense o...      G00 H95
32   32                              Meningitis other than      G00 G03

     No                          Disease or external cause      ICD-10 code  \
0   NaN                                                NaN              NaN
1    01                  Infectious and parasitic diseases          A00 B99
2    02                                       Tuberculosis      A15 A19 B90
3    03                            Meningococcal infection              A39
4    04                                   AIDS HIV disease          B20 B24
5    05                                    Viral hepatitis          B15 B19
6    06                                          Neoplasms          C00 D48
7    07                                Malignant neoplasms          C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...          C00 C14
9    09          of which Malignant neoplasm of oesophagus              C15
10   10             of which Malignant neoplasm of stomach              C16
11   11               of which Malignant neoplasm of colon              C18
12   12    of which Malignant neoplasm of re ctum and anus      C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...              C22
14   14            of which Malignant neoplasm of pancreas              C25
15   15          of which Malignant neoplasm of larynx and          C32 C34
16   16                of which Malignant melanoma of skin              C43
17   17              of which Malignant neoplasm of breast              C50
18   18        of which Malignant neoplasm of cervix uteri              C53
19   19  of which Malignant neoplasm of other parts of ...              C54
20   20               of which Malignant neoplasm of ovary              C56
21   21            of which Malignant neoplasm of prostate              C61
22   22              of which Malignant neoplasm of kidney              C64
23   23             of which Malignant neoplasm of bladder              C67
24   24  of which Malignant neoplasm of lymph haematopo...          C81 C96
25   25  Diseases of the blood forming organs immunol d...          D50 D89
26   26       Endocrine nutritional and metabolic diseases          E00 E90
27   27                                  Diabetes mellitus          E10 E14
28   28                   Mental and behavioural disorders          F00 F99
29   29        Alcohol abuse including alcoholic psychosis              F10
30   30                        Drug dependence toxicomania          F11 F16
31   31  Diseases of the nervous system and the sense o...          G00 H95
32   32                              Meningitis other than          G00 G03
33   33                 Diseases of the circulatory system          I00 I99
34   34                           Ischaemic heart diseases          I20 I25
35   35                               Other heart diseases          I30 I33
36   36                           Cerebrovascular diseases          I60 I69
37   37                 Diseases of the respiratory system          J00 J99
38   38                                          Influenza          J10 J11
39   39                                          Pneumonia          J12 J18
40   40                 Chronic lower respiratory diseases          J40 J47
41   41                                    of which asthma          J45 J46
42   42                   Diseases of the digestive system          K00 K93
43   43              Ulcer of stomach duodenum and jejunum          K25 K28
44   44                              Chronic liver disease      K70 K73 K74
45   45       Diseases of the skin and subcutaneous tissue          L00 L99
46   46  Diseases of the musculoskeletal system connect...          M00 M99
47   47            Rheumatoid arthritis and osteoarthrosis  M05 M06 M15 M19
48   48                  Diseases the genitourinary system          N00 N99
49   49                      Diseases of kidney and ureter          N00 N29
50   50  Complications of pregnancy childbirth and puer...          O00 O99
51   51  Certain conditions originating in the perinata...          P00 P96

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
34    410-414    410-414
35    420-423    420-423
36    430-438    430-438
37    460-519    460-519
38    470-474         NA
39    480-486    480-486
40    490-494    491-493
41        464        934
42    520-579    520-577
43    531-534    531-534
44        745        571
45    680-709    680-709
46    710-739    710-738
47    714-715    712-713
48    580-629    580-629
49    580-594    580-594
50    630-676    630-678
51    760-779    760-779
     No                          Disease or external cause      ICD-10 code  \
0   NaN                                                NaN              NaN
1    01                  Infectious and parasitic diseases          A00 B99
2    02                                       Tuberculosis      A15 A19 B90
3    03                            Meningococcal infection              A39
4    04                                   AIDS HIV disease          B20 B24
5    05                                    Viral hepatitis          B15 B19
6    06                                          Neoplasms          C00 D48
7    07                                Malignant neoplasms          C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...          C00 C14
9    09          of which Malignant neoplasm of oesophagus              C15
10   10             of which Malignant neoplasm of stomach              C16
11   11               of which Malignant neoplasm of colon              C18
12   12    of which Malignant neoplasm of re ctum and anus      C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...              C22
14   14            of which Malignant neoplasm of pancreas              C25
15   15          of which Malignant neoplasm of larynx and          C32 C34
16   16                of which Malignant melanoma of skin              C43
17   17              of which Malignant neoplasm of breast              C50
18   18        of which Malignant neoplasm of cervix uteri              C53
19   19  of which Malignant neoplasm of other parts of ...              C54
20   20               of which Malignant neoplasm of ovary              C56
21   21            of which Malignant neoplasm of prostate              C61
22   22              of which Malignant neoplasm of kidney              C64
23   23             of which Malignant neoplasm of bladder              C67
24   24  of which Malignant neoplasm of lymph haematopo...          C81 C96
25   25  Diseases of the blood forming organs immunol d...          D50 D89
26   26       Endocrine nutritional and metabolic diseases          E00 E90
27   27                                  Diabetes mellitus          E10 E14
28   28                   Mental and behavioural disorders          F00 F99
29   29        Alcohol abuse including alcoholic psychosis              F10
30   30                        Drug dependence toxicomania          F11 F16
31   31  Diseases of the nervous system and the sense o...          G00 H95
32   32                              Meningitis other than          G00 G03
33   33                 Diseases of the circulatory system          I00 I99
34   34                           Ischaemic heart diseases          I20 I25
35   35                               Other heart diseases          I30 I33
36   36                           Cerebrovascular diseases          I60 I69
37   37                 Diseases of the respiratory system          J00 J99
38   38                                          Influenza          J10 J11
39   39                                          Pneumonia          J12 J18
40   40                 Chronic lower respiratory diseases          J40 J47
41   41                                    of which asthma          J45 J46
42   42                   Diseases of the digestive system          K00 K93
43   43              Ulcer of stomach duodenum and jejunum          K25 K28
44   44                              Chronic liver disease      K70 K73 K74
45   45       Diseases of the skin and subcutaneous tissue          L00 L99
46   46  Diseases of the musculoskeletal system connect...          M00 M99
47   47            Rheumatoid arthritis and osteoarthrosis  M05 M06 M15 M19
48   48                  Diseases the genitourinary system          N00 N99
49   49                      Diseases of kidney and ureter          N00 N29
50   50  Complications of pregnancy childbirth and puer...          O00 O99
51   51  Certain conditions originating in the perinata...          P00 P96
52   52  Congenital malformations and chromosomal abnor...          Q00 Q99

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
34    410-414    410-414
35    420-423    420-423
36    430-438    430-438
37    460-519    460-519
38    470-474         NA
39    480-486    480-486
40    490-494    491-493
41        464        934
42    520-579    520-577
43    531-534    531-534
44        745        571
45    680-709    680-709
46    710-739    710-738
47    714-715    712-713
48    580-629    580-629
49    580-594    580-594
50    630-676    630-678
51    760-779    760-779
52    740-759    740-759
     No                          Disease or external cause      ICD-10 code  \
0   NaN                                                NaN              NaN
1    01                  Infectious and parasitic diseases          A00 B99
2    02                                       Tuberculosis      A15 A19 B90
3    03                            Meningococcal infection              A39
4    04                                   AIDS HIV disease          B20 B24
5    05                                    Viral hepatitis          B15 B19
6    06                                          Neoplasms          C00 D48
7    07                                Malignant neoplasms          C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...          C00 C14
9    09          of which Malignant neoplasm of oesophagus              C15
10   10             of which Malignant neoplasm of stomach              C16
11   11               of which Malignant neoplasm of colon              C18
12   12    of which Malignant neoplasm of re ctum and anus      C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...              C22
14   14            of which Malignant neoplasm of pancreas              C25
15   15          of which Malignant neoplasm of larynx and          C32 C34
16   16                of which Malignant melanoma of skin              C43
17   17              of which Malignant neoplasm of breast              C50
18   18        of which Malignant neoplasm of cervix uteri              C53
19   19  of which Malignant neoplasm of other parts of ...              C54
20   20               of which Malignant neoplasm of ovary              C56
21   21            of which Malignant neoplasm of prostate              C61
22   22              of which Malignant neoplasm of kidney              C64
23   23             of which Malignant neoplasm of bladder              C67
24   24  of which Malignant neoplasm of lymph haematopo...          C81 C96
25   25  Diseases of the blood forming organs immunol d...          D50 D89
26   26       Endocrine nutritional and metabolic diseases          E00 E90
27   27                                  Diabetes mellitus          E10 E14
28   28                   Mental and behavioural disorders          F00 F99
29   29        Alcohol abuse including alcoholic psychosis              F10
30   30                        Drug dependence toxicomania          F11 F16
31   31  Diseases of the nervous system and the sense o...          G00 H95
32   32                              Meningitis other than          G00 G03
33   33                 Diseases of the circulatory system          I00 I99
34   34                           Ischaemic heart diseases          I20 I25
35   35                               Other heart diseases          I30 I33
36   36                           Cerebrovascular diseases          I60 I69
37   37                 Diseases of the respiratory system          J00 J99
38   38                                          Influenza          J10 J11
39   39                                          Pneumonia          J12 J18
40   40                 Chronic lower respiratory diseases          J40 J47
41   41                                    of which asthma          J45 J46
42   42                   Diseases of the digestive system          K00 K93
43   43              Ulcer of stomach duodenum and jejunum          K25 K28
44   44                              Chronic liver disease      K70 K73 K74
45   45       Diseases of the skin and subcutaneous tissue          L00 L99
46   46  Diseases of the musculoskeletal system connect...          M00 M99
47   47            Rheumatoid arthritis and osteoarthrosis  M05 M06 M15 M19
48   48                  Diseases the genitourinary system          N00 N99
49   49                      Diseases of kidney and ureter          N00 N29
50   50  Complications of pregnancy childbirth and puer...          O00 O99
51   51  Certain conditions originating in the perinata...          P00 P96
52   52  Congenital malformations and chromosomal abnor...          Q00 Q99
53   53     Congenital malformations of the nervous system          Q00 Q07

   ICD-9 code ICD-8 code
0         NaN        NaN
1     001-139    000-136
2     010-018    010-019
3         390        360
4     042-044         NA
5         190        700
6     140-239    140-239
7     140-208    140-209
8     140-149    140-149
9         151        501
10        161        511
11        181        531
12        211        541
13        221        551
14        251        571
15    161-162    161-162
16        431        721
17    174-175         NA
18        531        801
19        551        182
20        561        018
21        611        851
22        641        018
23        671        881
24    200-208    200-209
25    279-289    280-289
26    240-278    240-279
27        142        502
28    290-319    290-315
29        102        303
30    304-305    304-305
31    320-389    320-389
32    320-322         NA
33    390-459    390-444
34    410-414    410-414
35    420-423    420-423
36    430-438    430-438
37    460-519    460-519
38    470-474         NA
39    480-486    480-486
40    490-494    491-493
41        464        934
42    520-579    520-577
43    531-534    531-534
44        745        571
45    680-709    680-709
46    710-739    710-738
47    714-715    712-713
48    580-629    580-629
49    580-594    580-594
50    630-676    630-678
51    760-779    760-779
52    740-759    740-759
53    740-742    740-743
     No                          Disease or external cause      ICD-10 code  \
0   NaN                                                NaN              NaN
1    01                  Infectious and parasitic diseases          A00 B99
2    02                                       Tuberculosis      A15 A19 B90
3    03                            Meningococcal infection              A39
4    04                                   AIDS HIV disease          B20 B24
5    05                                    Viral hepatitis          B15 B19
6    06                                          Neoplasms          C00 D48
7    07                                Malignant neoplasms          C00 C97
8    08  of which Malignant neopl asm of lip oral cavit...          C00 C14
9    09          of which Malignant neoplasm of oesophagus              C15
10   10             of which Malignant neoplasm of stomach              C16
11   11               of which Malignant neoplasm of colon              C18
12   12    of which Malignant neoplasm of re ctum and anus      C19 C20 C21
13   13  of which Malignant neoplasm liver and the intr...              C22
14   14            of which Malignant neoplasm of pancreas              C25
15   15          of which Malignant neoplasm of larynx and          C32 C34
16   16                of which Malignant melanoma of skin              C43
17   17              of which Malignant neoplasm of breast              C50
18   18        of which Malignant neoplasm of cervix uteri              C53
19   19  of which Malignant neoplasm of other parts of ...              C54
20   20               of which Malignant neoplasm of ovary              C56
21   21            of which Malignant neoplasm of prostate              C61
22   22              of which Malignant neoplasm of kidney              C64
23   23             of which Malignant neoplasm of bladder              C67
24   24  of which Malignant neoplasm of lymph haematopo...          C81 C96
25   25  Diseases of the blood forming organs immunol d...          D50 D89
26   26       Endocrine nutritional and metabolic diseases          E00 E90
27   27                                  Diabetes mellitus          E10 E14
28   28                   Mental and behavioural disorders          F00 F99
29   29        Alcohol abuse including alcoholic psychosis              F10
30   30                        Drug dependence toxicomania          F11 F16
31   31  Diseases of the nervous system and the sense o...          G00 H95
32   32                              Meningitis other than          G00 G03
33   33                 Diseases of the circulatory system          I00 I99
34   34                           Ischaemic heart diseases          I20 I25
35   35                               Other heart diseases          I30 I33
36   36                           Cerebrovascular diseases          I60 I69
37   37                 Diseases of the respiratory system          J00 J99
38   38                                          Influenza          J10 J11
39   39                                          Pneumonia          J12 J18
40   40                 Chronic lower respiratory diseases          J40 J47
41   41                                    of which asthma          J45 J46
42   42                   Diseases of the digestive system          K00 K93
43   43              Ulcer of stomach duodenum and jejunum          K25 K28
44   44                              Chronic liver disease      K70 K73 K74
45   45       Diseases of the skin and subcutaneous tissue          L00 L99

In [15]:
for line in st:
    print(line)

C
A
U
S
E
S

O
F

D
E
A
T
H
,

"
E
U
R
O
P
E
A
N

S
H
O
R
T
L
I
S
T
"




F
i
n
a
l

l
i
s
t



A
u
g
u
s
t

1
9
9
8







N
r

D
i
s
e
a
s
e

o
r

e
x
t
e
r
n
a
l

c
a
u
s
e





I
C
D

-
1
0

c
o
d
e


I
C
D

-
9

c
o
d
e


I
C
D

-
8

c
o
d
e





A
l
l

c
a
u
s
e
s

o
f

d
e
a
t
h


A
0
0

-
Y
8
9


0
0
1

-
E
9
9
9


0
0
0

-
E
9
9
9







0
1

I
n
f
e
c
t
i
o
u
s

a
n
d

p
a
r
a
s
i
t
i
c

d
i
s
e
a
s
e
s


A
0
0

-
B
9
9


0
0
1

-
1
3
9


0
0
0

-
1
3
6




0
2

T
u
b
e
r
c
u
l
o
s
i
s


A
1
5
-
A
1
9
,
B
9
0


0
1
0

-
0
1
8
,
1
3
7


0
1
0

-
0
1
9




0
3

M
e
n
i
n
g
o
c
o
c
c
a
l

i
n
f
e
c
t
i
o
n


A
3
9


0
3
6


0
3
6




0
4

A
I
D
S

(
H
I
V

-
d
i
s
e
a
s
e
)


B
2
0

-
B
2
4


0
4
2

-
0
4
4



-



0
5

V
i
r
a
l

h
e
p
a
t
i
t
i
s


B
1
5

-
B
1
9


0
7
0


0
7
0




0
6

N
e
o
p
l
a
s
m
s


C
0
0

-
D
4
8


1
4
0

-
2
3
9


1
4
0

-
2
3
9




0
7

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m
s


C
0
0

-
C
9
7


1
4
0

-
2
0
8


1
4
0

-
2
0
9




0
8

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l

a
s
m

o
f

l
i
p
,

o
r
a
l

c
a
v
i
t
y
,

p
h
a
r
y
n
x


C
0
0

-
C
1
4


1
4
0

-
1
4
9


1
4
0

-
1
4
9




0
9

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

o
e
s
o
p
h
a
g
u
s


C
1
5


1
5
0


1
5
0




1
0

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

s
t
o
m
a
c
h


C
1
6


1
5
1


1
5
1




1
1

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

c
o
l
o
n


C
1
8


1
5
3


1
5
3




1
2

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

r
e

c
t
u
m

a
n
d

a
n
u
s


C
1
9

-
C
2
0

-
C
2
1


1
5
4


1
5
4




1
3

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

l
i
v
e
r

a
n
d

t
h
e

i
n
t
r
a
h
e
p
a
t
i
c


C
2
2


1
5
5


1
5
5
,

1
9
7
.
8





b
i
l
e

d
u
c
t
s




1
4

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

p
a
n
c
r
e
a
s


C
2
5


1
5
7


1
5
7




1
5

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

l
a
r
y
n
x

a
n
d


C
3
2

-
C
3
4


1
6
1

-
1
6
2


1
6
1

-
1
6
2





t
r
a
c
h
e
a
/

b
r
o
n
c
h
u
s
/
l
u
n
g




1
6

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

m
e
l
a
n
o
m
a

o
f

s
k
i
n


C
4
3


1
7
2


1
7
2




1
7

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

b
r
e
a
s
t


C
5
0


1
7
4

-
1
7
5


1
7
4




1
8

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

c
e
r
v
i
x

u
t
e
r
i


C
5
3


1
8
0


1
8
0




1
9

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

o
t
h
e
r

p
a
r
t
s

o
f

u
t
e
r
u
s


C
5
4

-
5
5

1
7
9
,
1
8
2


1
8
2




2
0

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

o
v
a
r
y


C
5
6



1
8
3
.
0



1
8
3
.
0




2
1

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

p
r
o
s
t
a
t
e


C
6
1


1
8
5


1
8
5




2
2

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

k
i
d
n
e
y


C
6
4



1
8
9
.
0



1
8
9
.
0




2
3

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m

o
f

b
l
a
d
d
e
r


C
6
7


1
8
8


1
8
8




2
4

o
f

w
h
i
c
h

M
a
l
i
g
n
a
n
t

n
e
o
p
l
a
s
m


o
f

l
y
m
p
h
.
/
h
a
e
m
a
t
o
p
o
i
e
t
i
c


C
8
1

-
C
9
6


2
0
0

-
2
0
8


2
0
0

-
2
0
9





t
i
s
s
u
e







2
5

D
i
s
e
a
s
e
s

o
f

t
h
e

b
l
o
o
d
(

-
f
o
r
m
i
n
g

o
r
g
a
n
s
)
,

i
m
m
u
n
o
l
.
d
i
s
o
r
d
e
r
s


D
5
0

-
D
8
9


2
7
9

-
2
8
9


2
8
0

-
2
8
9




2
6

E
n
d
o
c
r
i
n
e
,

n
u
t
r
i
t
i
o
n
a
l

a
n
d

m
e
t
a
b
o
l
i
c

d
i
s
e
a
s
e
s


E
0
0

-
E
9
0


2
4
0

-
2
7
8


2
4
0

-
2
7
9




2
7

D
i
a
b
e
t
e
s

m
e
l
l
i
t
u
s


E
1
0

-
E
1
4


2
5
0


2
5
0




2
8

M
e
n
t
a
l

a
n
d

b
e
h
a
v
i
o
u
r
a
l

d
i
s
o
r
d
e
r
s


F
0
0

-
F
9
9


2
9
0

-
3
1
9


2
9
0

-
3
1
5




2
9

A
l
c
o
h
o
l

a
b
u
s
e

(
i
n
c
l
u
d
i
n
g

a
l
c
o
h
o
l
i
c

p
s
y
c
h
o
s
i
s
)


F
1
0


2
9
1
,
3
0
3


2
9
1
,
3
0
3




3
0

D
r
u
g

d
e
p
e
n
d
e
n
c
e
,

t
o
x
i
c
o
m
a
n
i
a


F
1
1

-
F
1
6
,


3
0
4

-
3
0
5


3
0
4

-
3
0
5






F
1
8

-
F
1
9




3
1

D
i
s
e
a
s
e
s

o
f

t
h
e

n
e
r
v
o
u
s

s
y
s
t
e
m

a
n
d

t
h
e

s
e
n
s
e

o
r
g
a
n
s


G
0
0

-
H
9
5


3
2
0

-
3
8
9


3
2
0

-
3
8
9




3
2

M
e
n
i
n
g
i
t
i
s

(
o
t
h
e
r

t
h
a
n

0
3
)


G
0
0

-
G
0
3


3
2
0

-
3
2
2


3
2
0




3
3

D
i
s
e
a
s
e
s

o
f

t
h
e

c
i
r
c
u
l
a
t
o
r
y

s
y
s
t
e
m


I
0
0

-
I
9
9


3
9
0

-
4
5
9


3
9
0

-
4
4
4
.
1








4
4
4
.
3

-
4
5
8








7
8
2
.
4




3
4

I
s
c
h
a
e
m
i
c

h
e
a
r
t

d
i
s
e
a
s
e
s


I
2
0

-
I
2
5


4
1
0

-
4
1
4


4
1
0

-
4
1
4




3
5

O
t
h
e
r

h
e
a
r
t

d
i
s
e
a
s
e
s






I
3
0

-
I
3
3
,


4
2
0

-
4
2
3
,


4
2
0
-
4
2
3
,






I
3
9

-
I
5
2


4
2
5

-
4
2
9


4
2
5

-
4
2
9




3
6

C
e
r
e
b
r
o
v
a
s
c
u
l
a
r

d
i
s
e
a
s
e
s


I
6
0

-
I
6
9


4
3
0

-
4
3
8


4
3
0

-
4
3
8






3
7

D
i
s
e
a
s
e
s

o
f

t
h
e

r
e
s
p
i
r
a
t
o
r
y

s
y
s
t
e
m


J
0
0

-
J
9
9


4
6
0

-
5
1
9


4
6
0

-
5
1
9




3
8

I
n
f
l
u
e
n
z
a


J
1
0

-
J
1
1


4
8
7


4
7
0

-
4
7
4




3
9

P
n
e
u
m
o
n
i
a


J
1
2

-
J
1
8


4
8
0

-
4
8
6


4
8
0

-
4
8
6




4
0

C
h
r
o
n
i
c

l
o
w
e
r

r
e
s
p
i
r
a
t
o
r
y

d
i
s
e
a
s
e
s


J
4
0

-
J
4
7



4
9
0

-
4
9
4
,
4
9
6


4
9
1

-
4
9
3
,
5
1
8




4
1

o
f

w
h
i
c
h

a
s
t
h
m
a


J
4
5

-
J
4
6


4
9
3


4
9
3




4
2

D
i
s
e
a
s
e
s

o
f

t
h
e

d
i
g
e
s
t
i
v
e

s
y
s
t
e
m


K
0
0

-
K
9
3


5
2
0

-
5
7
9


5
2
0

-
5
7
7
,

4
4
4
.
2




4
3

U
l
c
e
r

o
f

s
t
o
m
a
c
h
,

d
u
o
d
e
n
u
m

a
n
d

j
e
j
u
n
u
m


K
2
5

-
K
2
8


5
3
1

-
5
3
4


5
3
1

-
5
3
4




4
4

C
h
r
o
n
i
c

l
i
v
e
r

d
i
s
e
a
s
e


K
7
0
,

K
7
3

-
K
7
4


5
7
1
.
0

-
5
7
1
.
9


5
7
1
.
0

-
5
7
1
.
9










4
5

D
i
s
e
a
s
e
s

o
f

t
h
e

s
k
i
n

a
n
d

s
u
b
c
u
t
a
n
e
o
u
s

t
i
s
s
u
e


L
0
0

-
L
9
9


6
8
0

-
7
0
9


6
8
0

-
7
0
9




4
6

D
i
s
e
a
s
e
s

o
f

t
h
e

m
u
s
c
u
l
o
s
k
e
l
e
t
a
l

s
y
s
t
e
m
/
c
o
n
n
e
c
t
i
v
e

t
i
s
s
u
e


M
0
0

-
M
9
9


7
1
0

-
7
3
9


7
1
0

-
7
3
8




4
7

R
h
e
u
m
a
t
o
i
d

a
r
t
h
r
i
t
i
s

a
n
d

o
s
t
e
o
a
r
t
h
r
o
s
i
s


M
0
5

-
M
0
6
,

M
1
5

-
M
1
9


7
1
4

-
7
1
5


7
1
2

-
7
1
3




4
8

D
i
s
e
a
s
e
s

o

f

t
h
e

g
e
n
i
t
o
u
r
i
n
a
r
y

s
y
s
t
e
m


N
0
0

-
N
9
9


5
8
0

-
6
2
9


5
8
0

-
6
2
9
,

7
9
2




4
9

D
i
s
e
a
s
e
s

o
f

k
i
d
n
e
y

a
n
d

u
r
e
t
e
r


N
0
0

-
N
2
9


5
8
0

-
5
9
4


5
8
0

-
5
9
4







5
0

C
o
m
p
l
i
c
a
t
i
o
n
s

o
f

p
r
e
g
n
a
n
c
y
,

c
h
i
l
d
b
i
r
t
h

a
n
d

p
u
e
r
p
e
r
i
u
m


O
0
0

-
O
9
9


6
3
0

-
6
7
6


6
3
0

-
6
7
8




5
1

C
e
r
t
a
i
n

c
o
n
d
i
t
i
o
n
s

o
r
i
g
i
n
a
t
i
n
g

i
n

t
h
e

p
e
r
i
n
a
t
a
l

p
e
r
i
o
d


P
0
0
-
P
9
6


7
6
0

-
7
7
9


7
6
0

-
7
7
9




5
2

C
o
n
g
e
n
i
t
a
l

m
a
l
f
o
r
m
a
t
i
o
n
s

a
n
d

c
h
r
o
m
o
s
o
m
a
l

a
b
n
o
r
m
a
l
i
t
i
e
s


Q
0
0

-
Q
9
9


7
4
0

-
7
5
9


7
4
0

-
7
5
9




5
3

C
o
n
g
e
n
i
t
a
l

m
a
l
f
o
r
m
a
t
i
o
n
s

o
f

t
h
e

n
e
r
v
o
u
s

s
y
s
t
e
m


Q
0
0

-
Q
0
7


7
4
0

-
7
4
2


7
4
0

-
7
4
3




5
4

C
o
n
g
e
n
i
t
a
l

m
a
l
f
o
r
m
a
t
i
o
n
s

o
f

t
h
e

c
i
r
c
u
l
a
t
o
r
y

s
y
s
t
e
m


Q
2
0

-
Q
2
8


7
4
5

-
7
4
7


7
4
6

-
7
4
7




5
5

S
y
m
p
t
o
m
s
,

s
i
g
n
s
,

a
b
n
o
r
m
a
l

f
i
n
d
i
n
g
s
,

i
l
l

-
d
e
f
i
n
e
d

c
a
u
s
e
s


R
0
0

-
R
9
9


7
8
0

-
7
9
9


7
8
0

-
7
8
2
.
3








7
8
2
.
5

-
7
9
1








7
9
3

-
7
9
6




5
6

S
u
d
d
e
n

i
n
f
a
n
t

d
e
a
t
h

s
y
n
d
r
o
m
e


R
9
5


7
9
8
.
0





-



5
7

U
n
k
n
o
w
n

a
n
d

u
n
s
p
e
c
i
f
i
e
d

c
a
u
s
e
s


R
9
6

-
R
9
9


7
9
8
.
1

-
9
,
7
9
9


7
9
5

-
7
9
6




5
8

E
x
t
e
r
n
a
l

c
a
u
s
e
s

o
f

i
n
j
u
r
y

a
n
d

p
o
i
s

o
n
i
n
g


V
0
1

-
Y
8
9


E
8
0
0

-
E
9
9
9


E
8
0
0

-
E
9
9
9




5
9

A
c
c
i
d
e
n
t
s


V
0
1

-
X
5
9


E
8
0
0

-
E
9
2
9


E
8
0
0

-
E
9
2
9
,








E
9
4
0

-
E
9
4
2




6
0

o
f

w
h
i
c
h

T
r
a
n
s
p
o
r
t

a
c
c
i
d
e
n
t
s


V
0
1

-
V
9
9


E
8
0
0

-
E
8
4
8


E
8
0
0

-
E
8
4
5




6
1

o
f

w
h
i
c
h

A
c
c
i
d
e
n
t
a
l

f
a
l
l
s


W
0
0

-
W
1
9


E
8
8
0

-
E
8
8
8


E
8
8
0

-
E
8
8
7




6
2

o
f

w
h
i
c
h

A
c
c
i
d
e
n
t
a
l

p
o
i
s
o
n
i
n
g


X
4
0

-
X
4
9


E
8
5
0

-
E
8
6

9

E
8
5
0

-
E
8
7
7




6
3

S
u
i
c
i
d
e

a
n
d

i
n
t
e
n
t
i
o
n
a
l

s

e
l
f

-
h
a
r
m


X
6
0

-
X
8
4


E
9
5
0

-
E
9
5
9


E
9
5
0

-
E
9
5
9




6
4

H
o
m
i
c
i
d
e
,

a
s
s
a
u
l
t


X
8
5

-
Y
0
9


E
9
6
0

-
E
9
6
9


E
9
6
0

-
E
9
6
9




6
5

E
v
e
n
t
s

o
f

u
n
d
e
t
e
r
m
i
n
e
d

i
n
t
e
n
t


Y
1
0

-
Y
3
4


E
9
8
0

-
E
9
8
9


E
9
8
0

-
E
9
8
9

In [62]:
gc.to_excel("NACE 1970 - NACE REV. 1_18_08_22_kazi.xlsx")

In [196]:
no=line.split(",")
print(no)

['19 04 01  vitrified wasteEN  28.9.2010 Official Journal of the European Union L 253/41']

In [201]:
sha="shamim','hasan"
no=sha.split("','")

In [202]:
print(no)

['shamim', 'hasan']

In [206]:
import pandas as pd
df=pd.read_excel("info_box_collection2.xlsx")

In [207]:
info_box=df.info_box

In [208]:
len(info_box)

9035

In [219]:
x=info_box[1]
x

"['Formerly : 10X Technologies, Inc.', 'Type : Public company', 'Traded as : Nasdaq: TXG (Class A)\\nRussell 1000 component', 'Founded : 2012; 10 years ago', 'Founders : Serge Saxonov\\nBen Hindson\\nKevin Ness', 'Headquarters : Pleasanton, California, U.S.', 'Key people : Serge Saxonov (CEO)\\nBen Hindson (President and Chief Scientific Officer)', 'Revenue : US$490.5 million (2021) [1]', 'Operating income : US$52.3 million (2021)[1]', 'Net income : US$58.2 million (2021)[1]', 'Total assets : US$1.02 billion (2021)[1]', 'Total equity : US$817.5 million (2021)[1]', 'Number of employees : 417 (2021)[1]', 'Website : 10xgenomics.com']"

In [218]:
len(x)

635